[2022-06-07 18:32] labarba commented on #161
@whedon generate pdf

[2022-06-07 18:33] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-06-07 18:43] saverioperugini commented on #162
I wrote the following message on April 6 to clarify what changes needed to be made and I never received a reply:

***@***.*** Within the "Documentation" criteria, a centralised Statement of Need in the documentation might be beneficial. The need for the course, in terms of the target audience and the identified gap, is made clear throughout the actual materials.

@saverioperugini:
Are you suggesti

[2022-06-08 18:26] ttimbers commented on #171
A gentle ping to @joelostblom and @kbodwin to answer whether or not they could serve as reviewers for this?

[2022-06-09 15:40] kyleniemeyer commented on #90
Hi all, sorry for the (continued) delays here. @leouieda has agreed to serve as a second reviewer, and will take a look next week—but I do think this submission is in good shape.

[2022-06-09 15:40] whedon commented on #90
OK, @leouieda is now a reviewer

[2022-06-09 15:42] whedon commented on #90
OK, @howardjp is no longer a reviewer

[2022-06-09 19:57] Atcold commented on #161
Hi @labarba, where do I see the previous version and/or a diff?

[2022-06-09 22:42] joelostblom commented on #171
Thanks for the ping and sorry for my delayed reply! After reading through the manuscript, I must unfortunately decline to review as I don't think I have enough expertise on this specific topic to provide valuable feedback and advice on the submission.

[2022-06-10 08:05] labarba commented on #161
Hi @Atcold — we don't have the ability to compile a diff. The changes are of course tracked by commits on the target repository: https://github.com/lindseysbrown/Auto-eD/commits/master

@lindseysbrown — could you summarize the changes, to facilitate the review?

[2022-06-10 15:54] whedon commented on #169
OK, @bwatson is now a reviewer

[2022-06-10 16:56] lindseysbrown commented on #161
Hi @Atcold, the main clarifying change in the paper is shown in this commit to outline the three different levels.  I think this should address your main concern about the lack of clarity in how someone should interact with the tool/learning module/software here:
https://github.com/lindseysbrown/Auto-eD/commit/2d32cb2120ee9d471d25c3966a77d5ea501fedd8

Other changes in response to reviewer comments

[2022-06-10 17:37] ttimbers commented on #171
Thanks @joelostblom for the reply and completely understandable.

[2022-06-10 17:38] ttimbers commented on #171
Thanks @kvarada for agreeing (over Slack) to serve as a reviewer for this manuscript 🎉

[2022-06-10 17:39] ttimbers commented on #171
@whedon add @kvarada as reviewer

[2022-06-10 17:39] whedon commented on #171
OK, @kvarada is now a reviewer

[2022-06-10 17:41] ttimbers commented on #171
@kbodwin - I am going to assume you don't have the time to review this and search for another reviewer, please correct me in case I am wrongly assuming this.

[2022-06-10 17:49] ttimbers commented on #171
@arokem - hi! 👋 you are listed on the JOSE reviewer volunteer list, and that you have domain expertise in machine learning. Thus, I wonder if you would consider contributing a review on this manuscript submitted to JOSE. We are in need of some help with this submission:

Title: What and How of Machine Learning Transparency:
Building Bespoke Explainability Tools with Interoperable
Algorithmic Compo

[2022-06-10 18:18] kbodwin commented on #171
Sorry to miss this!

I don't think the material is quite in my wheelhouse, but if you don't find someone by the end of June, I'll be done with a mountain of deadlines and willing to give it a go.

[2022-06-10 22:27] jrising commented on #90
@kyleniemeyer Thanks for moving this forward!

[2022-06-11 22:10] arokem commented on #171
Hi @ttimbers : I am currently bogged down with other reviews and leaving for a conference at the end of the week. If you don't have the needed reviewers at the end of the month, I'd be happy to jump on it then. Or, if that's an acceptable delay, you can assign me, with the understanding that I will not get to it before the end of June.

[2022-06-12 22:19] abhijna commented on #167
@whedon generate pdf from branch AWS_Jose_Paper

[2022-06-12 22:19] whedon commented on #167
[code]

[2022-06-12 22:20] whedon commented on #167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: :point_left:

[2022-06-12 22:32] abhijna commented on #167
Hi @manics,

I've fixed the broken links/render and incorporated all your suggestions. I have also added an optional Step 5b to the [IAM set up Wiki ](https://github.com/nih-cfde/training-and-engagement/wiki/IAM-account-for-AWS)on how to [add a permissions boundary](https://github.com/nih-cfde/training-and-engagement/wiki/IAM-account-for-AWS#optional-step-5b-adding-a-permissions-boundary).

I am u

[2022-06-13 03:49] Swanson-Hysell commented on #129
I have checked all the boxes. Cheers.

[2022-06-13 12:21] willingc commented on #167
@editorialbot generate pdf

[2022-06-13 12:23] willingc commented on #167
@editorialbot recommend-accept

[2022-06-13 12:24] arfon commented on #167
@willingc – I think it's still @whedon in here... (@editorialbot is only active on JOSS thus far).

[2022-06-13 12:25] willingc commented on #167
@whedon generate pdf

[2022-06-13 12:25] whedon commented on #167
PDF failed to compile for issue #167 with the following error:
[code]

[2022-06-13 12:28] whedon commented on #167
No archive DOI set. Exiting...

[2022-06-13 12:31] willingc commented on #167
@whedon commands

[2022-06-13 12:31] whedon commented on #167
Here are some things you can ask me to do:

[code]

[2022-06-13 12:32] willingc commented on #167
@whedon check references

[2022-06-13 12:33] whedon commented on #167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: :point_left:

[2022-06-13 12:36] willingc commented on #167
@arfon How do you set the archive DOI?

[2022-06-13 12:38] arfon commented on #167
@whedon set `xxxx` as archive

[2022-06-13 12:38] whedon commented on #167
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-06-13 12:39] willingc commented on #167
@whedon set 10.21105.jose.00167 as archive

[2022-06-13 12:39] whedon commented on #167
10.21105.jose.00167 doesn't look like an archive DOI.

[2022-06-13 12:42] willingc commented on #167
@arfon :cry:

[2022-06-13 12:43] willingc commented on #167
I was referencing what was in the header of the paper.

[2022-06-13 12:44] arfon commented on #167
Ah OK. The authors need to make an archive of their work with Zenodo, figshare or somewhere else. See the docs about this here: https://openjournals.readthedocs.io/en/jose/editing.html#after-acceptance

[2022-06-13 12:48] willingc commented on #167
Hi @abhijna, The next step would be to make an archive of your work. Thanks!

[2022-06-13 16:05] ttimbers commented on #171
Thank-you @kbodwin and @arokem. @kbodwin - no worries, if you feel this is outside of your wheelhouse, then we will find someone else. @arokem - thanks for offering if we cannot find anyone else before the end of the month. I will let you know in the event that happens.

[2022-06-13 16:09] ttimbers commented on #171
@mnarayan - hi! 👋 you are listed on the JOSE reviewer volunteer list, and that you have domain expertise in machine learning. Thus, I wonder if you would consider contributing a review on this manuscript submitted to JOSE. We are in need of some help with this submission:

Title: What and How of Machine Learning Transparency:
Building Bespoke Explainability Tools with Interoperable
Algorithmic Com

[2022-06-13 17:32] mnarayan commented on #171
I'm not available for the next 2 weeks. If the issue is still open after
that, I can review.

On Mon, Jun 13, 2022 at 9:09 AM Tiffany A. Timbers ***@***.***>
wrote:

[2022-06-14 08:25] Alberto-GS commented on #170
Hi, is there anything I can do?

[2022-06-14 13:50] arfon commented on #170
@labarba – this assignment is failing as it doesn't look like @lorenanicole's profile was correctly set up on the JOSE site. @lorenanicole – can you make sure you've logged in with your ORCID here: https://jose.theoj.org and I can fix this.

[2022-06-14 16:54] behollister commented on #169
Hi @juanklopper. If you want to add me as a reviewer, I am happy to help out.

[2022-06-14 18:23] labarba commented on #162
@whedon check references

[2022-06-14 18:23] whedon commented on #162
[code]

[2022-06-14 18:38] labarba commented on #162
@MattForshaw – are you satisfied with the revision?

 @saverioperugini – please add DOIs for the references that have them.

[2022-06-14 18:50] saverioperugini commented on #162
Hi,

In my latest commit (4 minutes ago), I

• Added the Statement of Need to README.md;
• added DOIs to PAPER/paper.bib;
• and updated affiliations in PAPER/paper.md

Note:  I added DOIs in paper.bib for the cited papers that have DOIs; not all of them do.

Thank you and best regards,

Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Pa

[2022-06-14 19:00] labarba commented on #170
Oops. Since we don't have new editors very often, I guess I forget some steps! Apologies.

[2022-06-14 20:48] JasonJWilliamsNY commented on #92
Update: Reaching out to reviewers as per our discussion @lecondon

[2022-06-16 20:20] saverioperugini commented on #162
Hi,

Were the changes in my latest commit OK?

Thanks,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential

[2022-06-17 10:19] labarba commented on #162
@MattForshaw — You have a couple of unchecked items in your review checklist. The author has made some mods in response to review comments. Could you pop in to have a final look, and let us know your recommendation? 🙏

[2022-06-17 10:21] moorepants commented on #168
@rland93 Can you provide an update on your status in addressing the feedback?

[2022-06-20 16:31] ttimbers commented on #171
@arokem - I am going to have to take you up on your kind offer to act as a reviewer for this paper. It seems to be a tricky time of year to find folks to review, so we are very happy to work with you on a review timeline that fits with your availability. I will open the review now with the understanding that you cannot start this until after June. Many thanks!

[2022-06-20 16:32] ttimbers commented on #171
@whedon add @arokem as reviewer

[2022-06-20 16:33] ttimbers commented on #171
@mnarayan - thank-you for the offer, however we had another reviewer provide the same offer a bit earlier than you. We will of course keep you in mind for the next machine learning paper we need reviewed at JOSE!

[2022-06-20 16:33] ttimbers commented on #171
@whedon start review

[2022-06-20 16:33] whedon opened #175 "[REVIEW]: What and How of Machine Learning Transparency: Building Bespoke Explainability Tools with Interoperable Algorithmic Components"
**Submitting author:** @So-Cool (<a href="http://orcid.org/0000-0002-9869-5896">Kacper Sokol</a>)
**Repository:** <a href="https://github.com/fat-forensics/Surrogates-Tutorial" target ="_blank">https://github.com/fat-forensics/Surrogates-Tutorial</a>
**Version:** 2020-ecml-pkdd
**Editor:** @ttimbers
**Reviewer:** @kvarada, @arokem
**Archive:** Pending

**:warning: JOSS reduced service mode :warnin

[2022-06-20 16:33] whedon commented on #171
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/175.

[2022-06-20 16:33] #171 closed

[2022-06-20 16:33] whedon commented on #175
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kvarada, @arokem it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2022-06-20 16:33] whedon commented on #175
[code]

[2022-06-20 16:33] whedon commented on #175
[code]

[2022-06-20 16:33] whedon commented on #175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: :point_left:

[2022-06-21 13:36] whedon opened #176 "[PRE REVIEW]: Elaastic: A web application for the orchestration of formative assessment sequences"
**Submitting author:** @FranckSilvestre (<a href="http://orcid.org/0000-0002-1134-8200">Franck Silvestre</a>)
**Repository:** https://github.com/elaastic/elaastic-questions-server
**Branch with paper.md** (empty if default branch):
**Version:** v5.1.1
**Editor:** @JasonJWilliamsNY
**Reviewers:** Seija1203
**Managing EiC:** Jordan Gorzalski

## Status

[![status](https://jose.theoj.org/papers/2d7e3

[2022-06-21 13:36] whedon commented on #176
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-06-21 13:37] whedon commented on #176
[code]

[2022-06-21 13:39] whedon commented on #176
PDF failed to compile for issue #176 with the following error:
[code]

[2022-06-21 13:40] whedon opened #177 "[PRE REVIEW]: The Data Behind Dark Matter: Exploring Galactic Rotation"
**Submitting author:** @villaa (<a href="http://orcid.org/0000-0002-3893-7259">Anthony Villano</a>)
**Repository:** <a href="https://github.com/villano-lab/galactic-spin-W1" target ="_blank">https://github.com/villano-lab/galactic-spin-W1</a>
**Version:** v3.0.0
**Editor:** @moorepants
**Reviewers:** @Carreau, @noelstoj
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :war

[2022-06-21 13:40] whedon commented on #177
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-06-21 13:40] whedon commented on #177
Wordcount for `paper.md` is 1184

[2022-06-21 13:41] whedon commented on #177
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00177/jose.00177/10.21105.jose.00177.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00177/jose.00177/10.21105.jose.00177.pdf) :page_facing_up: :point_left:

[2022-06-21 13:43] whedon commented on #177
[code]

[2022-06-21 13:43] whedon commented on #176
[code]

[2022-06-21 16:28] ShanEllis commented on #156
Sorry y'all! Recently had a baby and am just _super_ behind on things. Just wanted to reply here to say that I'm looking into what's going on re: PDF generation (after which I can update the version).

Will update/tag others as there's progress!

[2022-06-21 16:38] ShanEllis commented on #156
@valdanchev I'm not 100% sure, but I believe the PDF won't compile due to YAML formatting issues at the top of paper.md. Specifically, for each bullet point entry, it looks to me like a space is missing before each dash (` -`).

Sharing a link to a random accepted paper whose YAML formatting looks right to me in case helpful: https://raw.githubusercontent.com/americocunhajr/EPIDEMIC/master/paper/p

[2022-06-21 16:50] valdanchev commented on #156
@whedon generate pdf

[2022-06-21 18:28] ShanEllis commented on #156
I see that it's still not generating....but also not throwing an error. Pinging people who know the system better than I to see what's going on/how to fix.

[2022-06-21 18:29] ShanEllis commented on #156
@whedon generate pdf

[2022-06-22 09:06] valdanchev commented on #156
@whedon generate pdf

[2022-06-22 09:44] valdanchev commented on #156
@whedon generate pdf

[2022-06-22 19:45] JasonJWilliamsNY commented on #92
Update: Continuing to reach out to reviewers as per our discussion @lecondon

[2022-06-22 21:58] djlampert commented on #92
I can try to review this, along with my student @bjrubinstein. I have a background in hydrologic models.

[2022-06-22 23:13] saverioperugini commented on #162
Hi,

Is there any thing remaining that you need me to do on my end?

Thanks so much,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this elec

[2022-06-22 23:29] ShanEllis commented on #156
@whedon generate pdf

[2022-06-23 09:20] labarba commented on #156
@openjournals/dev – S.O.S. We're stumped with a paper compilation error here. Can you help?

[2022-06-23 09:30] valdanchev commented on #156
@whedon generate pdf

[2022-06-23 12:00] arfon commented on #156
This is probably because you have three `paper.md` files in your repo, and @whedon will just pick the first by default:

[code]

The third one (at `tmp/156/paper/paper.md`) seems to compile fine. I would suggest either removing or renaming the first two (to not be called `paper.md`).

[2022-06-23 12:20] valdanchev commented on #156
Thanks a million, @arfon. That was the problem indeed; removed the unnecessary files and the file compiles now.

[2022-06-23 12:34] valdanchev commented on #156
@whedon generate pdf

[2022-06-23 12:34] whedon commented on #156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: :point_left:

[2022-06-23 13:23] lechten commented on #156
Given the new PDF, I just closed my final issue at the source repository. I vote to accept this paper.

[2022-06-24 17:50] juditbergfalk commented on #177
@whedon commands

[2022-06-24 17:50] whedon commented on #177
Here are some things you can ask me to do:

[code]

[2022-06-26 21:11] juditbergfalk commented on #177
Hello @jgorzalski !
I would like to add **Ian Hawke** to @villaa 's list of reviewers. Reviewer has astrophysics knowledge.
Thank you

[2022-07-01 22:00] Atcold commented on #161
Awesome. All good for me now!

[2022-07-04 10:16] labarba commented on #161
We have two happy reviewers and we're ready to move to the last stage and publish your work, @Atcold. 👏

[2022-07-04 10:16] labarba commented on #161
@whedon recommend-accept

[2022-07-04 10:18] labarba commented on #161
Oops. I still get the order of things mixed up. A few steps needed:

1. Please give the article proof one last read-through to find any remaining typos, and approve the proof for publication.
2. Make a tagged release on the target repository, and report the version number here.
3. Make an archive of the repository on Zenodo or an equivalent service, and report the archive DOI here.

[2022-07-04 16:33] whedon commented on #175
:wave: @arokem, please update us on how your review is going (this is an automated reminder).

[2022-07-04 16:33] whedon commented on #175
:wave: @kvarada, please update us on how your review is going (this is an automated reminder).

[2022-07-05 16:37] lindseysbrown commented on #161
@whedon generate pdf

[2022-07-05 16:37] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-07-05 18:14] arokem commented on #175
Just getting to it now, so you might expect my review in a couple of weeks.

[2022-07-05 19:09] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-07-05 19:38] lindseysbrown commented on #161
@whedon generate pdf

[2022-07-05 19:39] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-07-05 19:44] lindseysbrown commented on #161
@labarba My coauthors and I have reviewed the proof and made a couple minor edits to correct typos.

I have created a tagged release: v1.0.2 (https://github.com/lindseysbrown/Auto-eD/tree/v1.0.2)

And archived that release on Zenodo: 10.5281/zenodo.6800009

Please let me know if you need any further information.

[2022-07-05 19:47] labarba commented on #161
@whedon set v1.0.2 as version

[2022-07-05 19:47] labarba commented on #161
@whedon set 10.5281/zenodo.6800009 as archive

[2022-07-05 20:09] labarba commented on #161
@lindseysbrown — We request that authors edit the metadata of the Zenodo deposit so title and author list match the JOSE paper. It's just cleaner that way as readers see these as part of the "same scholarly object." Could you do that? (Note that you may not want Zenodo to do automatic updates of versions with each release. Note also that Zenodo pulls every committer into the author list.)

[2022-07-05 20:28] lindseysbrown commented on #161
@labarba I've edited the title and author list on Zenodo.

[2022-07-05 20:36] labarba commented on #161
@whedon recommend-accept

[2022-07-05 20:36] whedon commented on #161
[code]

[2022-07-05 20:36] whedon commented on #161
[code]

[2022-07-05 20:36] whedon commented on #161
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/99

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/99, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-07-05 20:40] labarba commented on #161
Hmm. It doesn't look like JMLR mints Does. Do you want to instead link to the URL?
`url     = {http://jmlr.org/papers/v18/17-468.html}`

[2022-07-05 20:51] lindseysbrown commented on #161
https://dl.acm.org/doi/abs/10.5555/3122009.3242010

This doi seems to link to the source?  I can do whatever you prefer.

[2022-07-05 20:56] labarba commented on #161
Interesting. The DOI itself does not resolve at http://doi.org/10.5555/3122009.3242010

[2022-07-05 21:00] saverioperugini commented on #162
Hi,

Any updates on this?

Thank you and best regards,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential

[2022-07-05 21:06] lindseysbrown commented on #161
Ok.  Should I create a new release with the doi changed to url???

[2022-07-05 21:07] labarba commented on #161
No need. The release and archive are really targeting the package. The paper will be deposited by JOSE with its own DOI and will be archived too.

[2022-07-05 21:08] labarba commented on #162
Thank you, @georgiastuart !

@MattForshaw – you have two unchecked items in your review checklist. Are you happy to check those off?

[2022-07-05 21:08] lindseysbrown commented on #161
Ok, then I've committed the new bib file.

[2022-07-05 21:09] labarba commented on #161
@whedon generate pdf

[2022-07-05 21:09] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-07-05 21:13] labarba commented on #161
@whedon accept deposit=true

[2022-07-05 21:13] whedon commented on #161
[code]

[2022-07-05 21:14] labarba commented on #161
Congratulations, @lindseysbrown, your JOSE paper is published!

Huge thanks to our Reviewers: @rasbt, @Atcold — we couldn't do this without you 🙏

[2022-07-05 21:14] #161 closed

[2022-07-05 21:14] whedon commented on #161
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00161/status.svg)](https://doi.org/10.21105/jose.00161)

**We need your help!**

Journal of Open Source Educat

[2022-07-05 21:17] rasbt commented on #161
Wow, awesome, congrats @lindseysbrown, @rachelmoonstar, and David Sondak! 🎉🎊🍾

[2022-07-06 23:00] So-Cool commented on #175
@whedon generate pdf

[2022-07-06 23:00] whedon commented on #175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: :point_left:

[2022-07-06 23:03] So-Cool commented on #175
@arokem, the new version of the paper addresses both of your comments. [CONTRIBUTING.md](https://github.com/fat-forensics/Surrogates-Tutorial/blob/master/CONTRIBUTING.md) was added to the repository, and the *Statement of Need* section of the paper was expanded to include the missing information.

[2022-07-07 19:33] whedon commented on #156
OK. v2.0.0 is the version.

[2022-07-09 14:09] jgorzalski commented on #167
Hi @abhijna 👋 Just checking in to see if @willingc's comment made sense or if you need more support? Thank you!

[2022-07-09 14:14] whedon opened #178 "[PRE REVIEW]: From Maps to Models - Tutorials for structural geological modeling using GemPy and GemGIS"
**Submitting author:** @AlexanderJuestel (<a href="http://orcid.org/0000-0003-0980-7479">Alexander Jüstel</a>)
**Repository:** <a href="https://github.com/cgre-aachen/gemgis_data" target ="_blank">https://github.com/cgre-aachen/gemgis_data</a>
**Version:** v.1.0.0
**Editor:** @acocac
**Reviewers:** @BenjMy, @jwagemann
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warni

[2022-07-09 14:14] whedon commented on #178
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-07-09 14:15] whedon commented on #178
Wordcount for `paper.md` is 2280

[2022-07-09 14:15] whedon commented on #178
[code]

[2022-07-09 14:15] whedon commented on #178
[code]

[2022-07-09 14:15] whedon commented on #178
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00178/jose.00178/10.21105.jose.00178.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00178/jose.00178/10.21105.jose.00178.pdf) :page_facing_up: :point_left:

[2022-07-10 18:16] abhijna commented on #167
Hi @jgorzalski and @willingc, thanks for the information. I'm working on getting a tagged release and uploading the zip on zenodo. Hoping to have this done shortly!

[2022-07-10 19:33] abhijna commented on #167
@whedon generate pdf from branch AWS_Jose_Paper

[2022-07-10 19:33] whedon commented on #167
[code]

[2022-07-10 19:33] whedon commented on #167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: :point_left:

[2022-07-10 21:10] abhijna commented on #167
Hi @willingc, here is the:
- GitHub release tag for the branch containing the aws manuscript: https://github.com/nih-cfde/training-and-engagement/releases/tag/2022.07-aws-jose
- Zenodo archive here: https://zenodo.org/record/6816045#.Yss_yuzMIUv

Please let me know if you need anything else!

[2022-07-11 20:46] JasonJWilliamsNY commented on #92
Thanks @djlampert @bjrubinstein I will move this to the next stage

[2022-07-11 20:48] JasonJWilliamsNY commented on #92
@whedon add @djlampert as reviewer

[2022-07-11 20:48] whedon commented on #92
OK, @djlampert is now a reviewer

[2022-07-11 20:49] JasonJWilliamsNY commented on #92
@whedon @bjrubinstein as reviewer

[2022-07-11 20:49] whedon commented on #92
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-07-11 20:50] JasonJWilliamsNY commented on #92
@whedon add @bjrubinstein as reviewer

[2022-07-11 20:50] whedon commented on #92
OK, @bjrubinstein is now a reviewer

[2022-07-11 20:50] JasonJWilliamsNY commented on #92
@whedon start review

[2022-07-11 20:50] whedon opened #179 "[REVIEW]: ParFlow Sand Tank: A tool for groundwater exploration"
**Submitting author:** @lecondon (<a href="http://orcid.org/0000-0003-3639-8076">Laura Condon</a>)
**Repository:** <a href="https://github.com/hydroframe/SandTank" target ="_blank">https://github.com/hydroframe/SandTank</a>
**Version:** 1.1.7
**Editor:** @JasonJWilliamsNY
**Reviewer:** @djlampert, @bjrubinstein
**Archive:** <a href="https://doi.org/10.5281/zenodo.7384472" target="_blank">10.5281/z

[2022-07-11 20:50] whedon commented on #179
Failed to discover a `Statement of need` section in paper

[2022-07-11 20:50] whedon commented on #179
[code]

[2022-07-11 20:50] whedon commented on #179
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: :point_left:

[2022-07-11 20:52] JasonJWilliamsNY commented on #179
@djlampert, @bjrubinstein thanks very much for agreeing to review. I'll also send a follow up email with some reminders/suggestions.

[2022-07-12 09:21] juanklopper commented on #169
@whedon add @behollister as reviewer

[2022-07-12 09:21] whedon commented on #169
OK, @behollister is now a reviewer

[2022-07-12 09:22] juanklopper commented on #169
Thank you @bwatson and @behollister for reviewing.

[2022-07-12 09:23] juanklopper commented on #169
@whedon start review

[2022-07-12 09:23] whedon opened #180 "[REVIEW]: SNIK Graph—Visualizing Knowledge about Management of Hospital Information Systems"
**Submitting author:** @KonradHoeffner (<a href="http://orcid.org/0000-0001-7358-3217">Konrad Höffner</a>)
**Repository:** <a href="https://github.com/snikproject/snik-graph" target ="_blank">https://github.com/snikproject/snik-graph</a>
**Version:** 3.0.0
**Editor:** @juanklopper
**Reviewer:** @bwatson, @behollister
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-07-12 09:23] whedon commented on #169
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/180.

[2022-07-12 09:23] #169 closed

[2022-07-12 09:23] whedon commented on #180
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bwatson, @behollister it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2022-07-12 09:23] whedon commented on #180
Wordcount for `paper.md` is 838

[2022-07-12 09:23] whedon commented on #180
[code]

[2022-07-12 09:23] whedon commented on #180
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00180/jose.00180/10.21105.jose.00180.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00180/jose.00180/10.21105.jose.00180.pdf) :page_facing_up: :point_left:

[2022-07-12 09:25] whedon commented on #180
[code]

[2022-07-12 10:06] moorepants commented on #168
@rland93 Just checking in again here. Can you provide an update on your status in addressing the feedback?

[2022-07-12 15:19] Atcold commented on #161
🥳🥳🥳

[2022-07-14 17:46] whedon commented on #177
Here's the current list of reviewers: https://bit.ly/jose-reviewers

[2022-07-16 15:24] jgorzalski commented on #178
Hi @AlexanderJuestel 👋 If you could please take a look at the list of reviewers and see if you have any suggestions that would be great! Thank you!

[2022-07-17 06:36] AlexanderJuestel commented on #178
Dear @jgorzalski,

I would start with **sharondenisse** as her preferred programming language is Python and her Topic Areas include Geology
Secondly, I would go with **jwagemann** as her preferred programming language is also Python and her Topic Areas include Geospatial Data Analysis.

Cheers
Alex

[2022-07-19 11:17] saverioperugini commented on #162
Hi,

Any new updates this?

Thank you so much,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential and int

[2022-07-19 11:55] labarba commented on #180
Hi @bwatson, @behollister 👋 — Thank you for agreeing to review for JOSE! I am the editor-in-chief, and @juanklopper is the handling editor for this submission.

This issue thread is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2022-07-20 15:03] ShanEllis commented on #156
@whedon recommend-accept

[2022-07-20 15:03] whedon commented on #156
No archive DOI set. Exiting...

[2022-07-21 15:46] labarba commented on #168
@moorepants — I received an email from David A. Copp saying Mike Sutherland (@rland93) has been incommunicado for several months, and if he can be swapped as corresponding author to finish up this submission.

[2022-07-21 15:59] labarba commented on #156
@valdanchev — As this review is finalized, please make an archive of the target repository on Zenodo, and report the archive DOI here. We request that authors edit the metadata of the Zenodo deposit so title and author list match the JOSE paper.

[2022-07-21 18:43] moorepants commented on #168
David Copp is currently listed as a co-author on the paper. Although, I do not see any contributions from him in the pendsim repository: https://github.com/rland93/pendsim/graphs/contributors. We would need his github handle to swap him out, of course.

[2022-07-24 11:26] AlexanderJuestel commented on #178
@jgorzalski, I suggested some reviewers, maybe we can continue the procedure once you have time :)

Cheers Alex

[2022-07-24 18:20] valdanchev commented on #156
@labarba and @ShanEllis — I've archived the resource repository on Zenodo. The archived version is v2.1.1.

Here are:
URL: https://zenodo.org/record/6895578#.Yt1gSy8w3Ls
DOI: 10.5281/zenodo.6895578
DOI badge [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6895578.svg)](https://doi.org/10.5281/zenodo.6895578)

I edited the metadata of the Zenodo repository to match the JOSE paper (I revised/sho

[2022-07-24 22:50] ShanEllis commented on #156
@whedon set 10.5281/zenodo.6895578 as archive

[2022-07-24 22:50] whedon commented on #156
OK. <a href="https://doi.org/10.5281/zenodo.6895578" target="_blank">10.5281/zenodo.6895578</a> is the archive.

[2022-07-24 22:50] ShanEllis commented on #156
@whedon recommend-accept

[2022-07-24 22:50] whedon commented on #156
[code]

[2022-07-24 23:28] bjrubinstein opened #181 "Authorship: Has the submitting author (@lecondon) made substantial contributions to the software? Does the full list of paper authors seem appropriate and complete?"

[2022-07-24 23:28] whedon commented on #181
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-07-24 23:28] #181 closed

[2022-07-25 20:50] whedon commented on #179
:wave: @djlampert, please update us on how your review is going (this is an automated reminder).

[2022-07-25 20:50] whedon commented on #179
:wave: @bjrubinstein, please update us on how your review is going (this is an automated reminder).

[2022-07-25 21:48] djlampert commented on #179
We're making progress, thanks!

[2022-07-26 09:23] whedon commented on #180
:wave: @bwatson, please update us on how your review is going (this is an automated reminder).

[2022-07-26 09:23] whedon commented on #180
:wave: @behollister, please update us on how your review is going (this is an automated reminder).

[2022-07-26 23:49] bjrubinstein commented on #179
@JasonJWilliamsNY The software version and author list (additional contributor and some changed affiliations) was accurate at the time it was submitted but have changed since the paper was in the review queue for so long. Should these be updated to reflect the current state of the project?

[2022-07-28 05:28] EASEL-UCI commented on #168
Hello, this is David Copp. I appreciate the feedback and will happily finish up this submission.

[2022-07-28 09:04] moorepants commented on #168
Hi David. The review is present here and as issues on your repository. Any outstanding items on the checklists above and all PRs/issues on your repository need to be addressed as well as providing a response to the reviewers' comments.

[2022-07-29 17:55] villaa commented on #177
@jgorzalski My team has made some upgrades so we would like to change the review version here to [v3.0.0](https://github.com/villano-lab/galactic-spin-W1/releases/tag/v3.0.0), thanks.

[2022-07-31 17:54] kvarada commented on #175
@ttimbers I can't tick the check-boxes above probably because I accepted the invitation only yesterday. I'm not sure what's the best solution here. I guess I can just copy paste the items above and tick them off. Does that work for you?

[2022-08-01 04:10] kvarada commented on #175
@So-Cool Thank you for putting together this excellent resource on this important topic. I enjoyed going through this material.

Here are some of my initial comments:
- The content is well motivated, well structured and easy to follow. It includes many relatable and effective examples. I like that the material has a good balance of theory and application.
- I like that you put emphasize on the fac

[2022-08-02 13:42] ashleefv commented on #172
Checking in with reviewers @djlampert and @BYL4746, the authors updated version was posted in May. Can we get the review comments back to them in August?

[2022-08-02 20:49] djlampert commented on #172
Hi Ashlee. I believe we can commence the review and get it finished this month. Thank you for the reminder.
Dave

[2022-08-04 05:29] bjrubinstein commented on #179
@lecondon @reedmaxwell @JasonJWilliamsNY @djlampert

I've completed my review, and have only a few minor recommendations. The linked issues have more details.

Add @callachennault to the authors list and update affiliations for the current authors. https://github.com/hydroframe/SandTank/issues/61

Update the manuscript version to match the current Github release version (1.1.1) https://github.com/

[2022-08-04 07:31] AlexanderJuestel commented on #178
@jgorzalski just wanted to check in when we can proceed with the Pre-Review?

Cheers Alex

[2022-08-04 21:44] whedon opened #182 "[PRE REVIEW]: flashr: An R package that creates flashcards"
**Submitting author:** @JeffreyRStevens (<a href="http://orcid.org/0000-0003-2375-1360">Jeffrey R Stevens</a>)
**Repository:** <a href="https://github.com/JeffreyRStevens/flashr" target ="_blank">https://github.com/JeffreyRStevens/flashr</a>
**Version:** v0.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warning:**

Due to th

[2022-08-04 21:45] whedon commented on #182
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-08-04 21:45] whedon commented on #182
[code]

[2022-08-04 21:45] whedon commented on #182
PDF failed to compile for issue #182 with the following error:
[code]

[2022-08-04 21:48] whedon opened #183 "[PRE REVIEW]: Simply Logical – Intelligent Reasoning by Example (Fully Interactive Online Edition)"
**Submitting author:** @So-Cool (<a href="http://orcid.org/0000-0002-9869-5896">Kacper Sokol</a>)
**Repository:** <a href="https://github.com/simply-logical/simply-logical" target ="_blank">https://github.com/simply-logical/simply-logical</a>
**Version:** v2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Jordan Gorzalski

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-08-04 21:48] whedon commented on #183
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-08-04 21:48] whedon commented on #183
Wordcount for `paper.md` is 1771

[2022-08-04 21:48] whedon commented on #183
[code]

[2022-08-04 21:48] whedon commented on #183
[code]

[2022-08-04 21:48] whedon commented on #183
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00183/jose.00183/10.21105.jose.00183.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00183/jose.00183/10.21105.jose.00183.pdf) :page_facing_up: :point_left:

[2022-08-04 22:00] JeffreyRStevens commented on #182
@whedon commands

[2022-08-04 22:00] whedon commented on #182
Here are some things you can ask me to do:

[code]

[2022-08-04 22:01] JeffreyRStevens commented on #182
@whedon generate pdf from branch paper

[2022-08-04 22:01] whedon commented on #182
[code]

[2022-08-04 22:02] whedon commented on #182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00182/jose.00182/10.21105.jose.00182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00182/jose.00182/10.21105.jose.00182.pdf) :page_facing_up: :point_left:

[2022-08-04 22:02] JeffreyRStevens commented on #182
Potential reviewers from the list include Kelly Bodwin, Nic Weber, and Luke Johnston.

[2022-08-04 22:13] labarba commented on #170
@whedon invite @lorenanicole as editor

[2022-08-04 22:27] labarba commented on #176
@whedon invite @JasonJWilliamsNY as editor

[2022-08-04 22:27] whedon commented on #176
@JasonJWilliamsNY has been invited to edit this submission.

[2022-08-04 22:37] labarba commented on #177
@whedon invite @moorepants

[2022-08-04 22:37] whedon commented on #177
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-08-04 22:37] labarba commented on #177
@whedon invite @moorepants as editor

[2022-08-04 22:37] whedon commented on #177
@moorepants has been invited to edit this submission.

[2022-08-04 22:42] labarba commented on #178
@whedon invite @ShanEllis as editor

[2022-08-04 22:42] whedon commented on #178
@ShanEllis has been invited to edit this submission.

[2022-08-04 22:57] labarba commented on #131
I will now be withdrawing this submission, after email notification to the submitting author.

The editorial team met to discuss it and unfortunately we weren't able to see a way forward with this publication. It does not appear to be the right fit for JOSE. The main concern is the size of the content, which is too much to request a review for from volunteers. We tried to improvise a solution by b

[2022-08-04 22:58] labarba commented on #131
@whedon withdraw

[2022-08-04 22:58] whedon commented on #131
Paper withdrawn.

[2022-08-04 22:58] #131 closed

[2022-08-05 04:27] So-Cool commented on #175
@whedon generate pdf

[2022-08-05 04:27] whedon commented on #175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: :point_left:

[2022-08-05 04:30] So-Cool commented on #175
Thanks so much for your comments, @kvarada.

- The paper is here: [`paper/paper.md`](https://github.com/fat-forensics/Surrogates-Tutorial/blob/master/paper/paper.md).
- Good catch regarding the licences. I have now fixed it and placed two badges in the README file and all of the Jupyter Notebooks.
- I have also supplemented the README file with additional details.
- The materials are focused on a

[2022-08-05 13:55] ShanEllis commented on #178
Hi! Thanks for thinking of me, but I'm currently on parental leave and won't be able to get this done.

[2022-08-05 14:12] labarba commented on #178
Oops. Looks like I missed this fact, or confused it somehow with Tiffany, who is also on parental leave!

[2022-08-05 15:01] arfon commented on #170
@labarba – we're still in the same situation here. @lorenanicole - have you logged in to the JOSE site? If so, could you tell me what your ORCID is so I can fix your account?

[2022-08-06 01:34] villaa commented on #177
@labarba I don't know if you're able, but please update the review version here to [v3.0.0](https://github.com/villano-lab/galactic-spin-W1/releases/tag/v3.0.0), thanks.

[2022-08-06 10:43] moorepants commented on #177
@labarba I'm on vacation for the next three weeks. I could pick this up in late August or early September.

[2022-08-06 12:32] labarba commented on #177
@whedon set v3.0.0 as version

[2022-08-06 12:32] whedon commented on #177
OK. v3.0.0 is the version.

[2022-08-06 12:34] labarba commented on #177
👋  @moorepants – Thank you! We are currently short of editors (two out on parental leave), so we'll wait for you here.

[2022-08-10 13:44] labarba commented on #156
@whedon generate pdf

[2022-08-10 13:58] valdanchev commented on #156
@whedon generate pdf

[2022-08-10 13:59] whedon commented on #156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: :point_left:

[2022-08-10 15:44] AlexanderJuestel commented on #178
All good, just wanted to check in :)

[2022-08-11 22:26] labarba commented on #182
@whedon query scope

[2022-08-11 22:26] whedon commented on #182
Submission flagged for editorial review.

[2022-08-11 22:36] labarba commented on #183
hi  @So-Cool — If I understand correctly, this submission contains a complete textbook, which in its printed form was 240 pp. JOSE is not equipped to review full-length books. We have discussed this scenario before, and even tried to accommodate such an extensive work by breaking it into smaller parts, to be reviewed separately, but even that was unwieldy. It is simply an unreasonable request for

[2022-08-11 22:48] labarba commented on #162
hi @MattForshaw 👋
It looks like we are needing just two more items checked off your review list here? Could you take a new look? Thanks!

[2022-08-11 22:54] labarba commented on #167
I see that this submission has been flagged for publication. However, the reviewers did not complete their review checklist. Can I have confirmation from @giuliaguidi, @manics that they are ready to check off all items in their list?

[2022-08-11 22:56] labarba commented on #129
@whedon recommend-accept

[2022-08-11 22:56] whedon commented on #129
No archive DOI set. Exiting...

[2022-08-11 22:57] labarba commented on #129
Oops. The final steps before recommending publication are:
- issue a tagged release on the target repository and tell us the version number here
- make an archive on Zenodo and report the DOI here

[2022-08-11 23:23] So-Cool commented on #183
That's perfectly understandable. It may be worth clarifying this in the [submission guidelines](https://openjournals.readthedocs.io/en/jose/); if it's already there, I must have missed it – sorry about that.

[2022-08-12 01:28] giuliaguidi commented on #167
Yes

Giulia

On Thu, Aug 11, 2022 at 3:54 PM Lorena A. Barba ***@***.***>
wrote:

[2022-08-12 10:51] manics commented on #167
The version mentioned in this issue `1.0.0` doesn't match the repository versions at https://github.com/nih-cfde/training-and-engagement/releases
but presumably that's easy to fix. Everything else is fine!

[2022-08-12 11:36] labarba commented on #123
Hi all,
I have communicated with `@stefania11` via email regarding this review, and she has stated that, after her first review of this work some months ago, she has no more bandwidth for it now. I also note that she entered review comments by editing the checklist post at the top of this issue thread, noting the following under **Installation**:

I also notice that @csev entered the following com

[2022-08-12 11:46] labarba commented on #123
@whedon reject

[2022-08-12 11:46] whedon commented on #123
Paper rejected.

[2022-08-12 11:46] #123 closed

[2022-08-12 11:50] labarba commented on #167
Thank you, @manics. We will update the version once all is ready for publication.

For a complete record, could I ask both reviewers to check off the remaining items in their review checklist?

[2022-08-12 11:53] labarba commented on #167
@abhijna  – Can you confirm that you would like the _version_ to be marked as [2022.07-aws-jose](https://github.com/nih-cfde/training-and-engagement/releases/tag/2022.07-aws-jose)?

[2022-08-12 11:55] labarba commented on #167
@whedon set 10.5281/zenodo.6816045 as archive

[2022-08-12 11:55] whedon commented on #167
OK. <a href="https://doi.org/10.5281/zenodo.6816045" target="_blank">10.5281/zenodo.6816045</a> is the archive.

[2022-08-12 12:08] manics commented on #167
I ticked all my items

[2022-08-12 12:09] whedon commented on #183
Paper withdrawn.

[2022-08-12 13:46] Alcampopiano commented on #123
Hello @labarba 👋,

[2022-08-12 14:07] Alcampopiano commented on #123
Hi @labarba 👋,

Thank you for jumping in here. I would please like to request a bit of grace.

I have been following this submission very closely. Over covid things really slowed down on JOSE (and everywhere) and I was patiently waiting for the reviewers to complete their initial review. They were pinged multiple times without response (totally understandable) and so I was happy to wait for the in

[2022-08-12 15:07] abhijna commented on #167
Yes, I can confirm this is correct!

[2022-08-12 15:12] giuliaguidi commented on #167
Hi, I’m traveling today I’ll make sure to check off the list by Monday.

Giulia

On Fri, 12 Aug 2022 at 08:07, Abhijna Parigi ***@***.***>
wrote:

--
Giulia Guidi | she/her
http://gguidi.com/

[2022-08-12 15:35] labarba commented on #167
@whedon set 2022.07-aws-jose as version

[2022-08-12 15:35] whedon commented on #167
OK. 2022.07-aws-jose is the version.

[2022-08-12 15:36] labarba commented on #167
@whedon remind me in 2 days

[2022-08-12 15:36] whedon commented on #167
Reminder set for me in 2 days

[2022-08-12 15:36] labarba commented on #167
@whedon remind @labarba in 2 days

[2022-08-12 15:36] whedon commented on #167
Reminder set for @labarba in 2 days

[2022-08-14 16:36] JasonJWilliamsNY commented on #179
@bjrubinstein @djlampert thanks for your work and let me check with the author - I agree on those update to version

[2022-08-14 16:39] JasonJWilliamsNY commented on #176
@whedon assign @JasonJWilliamsNY as editor

[2022-08-14 16:39] whedon commented on #176
OK, the editor is @JasonJWilliamsNY

[2022-08-15 02:01] So-Cool commented on #175
To clarify the learning outcomes, these are now listed in the *Statement of Need* section.

@whedon generate pdf

[2022-08-15 02:10] So-Cool commented on #175
@whedon generate pdf

[2022-08-15 02:10] whedon commented on #175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: :point_left:

[2022-08-15 05:22] arokem commented on #175
I have now finally had a chance to read the paper thoroughly and to go through all of the materials. I have checked off all of the boxes in my check-list and I am happy to support publication of this paper.

[2022-08-16 20:46] lecondon commented on #179
@bjrubinstein @djlampert thank you for your reviews!

I have completed two comments and have questions on two:
Completed comments:
1. We have added Calla to the author list and closed that issue
2. I fixed the DOI and closed that issue as well

Questions:
1. We are fine with updating the version number but I don't see where to go to do this. I left a response noting this in the issue on the repo.

[2022-08-17 19:40] bjrubinstein commented on #179
@lecondon Thanks for addressing those issues. Regarding the questions:

1. @JasonJWilliamsNY can you please help us with this? It seems like updating the version in the submission is something that needs to be done from your side. The issue is that the version listed here in the first post is 1.0.6 but the current version in their repo is 1.1.1. Everything in their repo is correct, it is only the

[2022-08-18 08:41] JasonJWilliamsNY commented on #179
@bjrubinstein let me take a look

[2022-08-22 07:16] moorepants commented on #168
Hi @EASEL-UCI, do you plan to complete this paper? We have not heard from you for about a month.

[2022-08-22 17:25] valdanchev commented on #156
@labarba & @ShanEllis — I think all should work now. There was a problem similar to the one Arfon identified before — a redundant paper.md file was generated after an update just before archiving the repository on Zenodo, — which is now corrected. The pdf can be generated again and hopefully, the other commands would work too.

[2022-08-22 18:10] abhijna commented on #167
Hi @labarba and @giuliaguidi just checking in on the status of this publication. Do you need anything from me?

[2022-08-22 22:14] labarba commented on #167
@giuliaguidi — it looks like you had a few remaining items to tick off from your reviewer checklist. Can you have a look?

@willingc — this submission you are handling as editor is nearly done. Can you pop in here and review that everything is in order to recommend accept?

[2022-08-23 01:15] ShanEllis commented on #156
@whedon recommend-accept

[2022-08-23 01:15] whedon commented on #156
[code]

[2022-08-23 01:16] whedon commented on #156
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/101

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/101, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-08-23 05:51] MattForshaw commented on #162
Good morning everyone.

Please forgive the hold-up on my part; i wasn't receiving alerts from this thread.

Thanks very much to the authors for the further work; these are excellent and fully address my queries.

Best wishes,
Matt

[2022-08-23 13:34] Alcampopiano commented on #123
@labarba Friendly ping about the message above.

[2022-08-23 14:09] csev commented on #123
@Alcampopiano - I am happy to pick this back up - especially if the install process works.   I really don't like to say "yes" to software submissions that breaks immediately :) But if we can work through this and I can verify it installs from the repo and readme - I can be thumbs up.  Having a server to test is nice but not sufficient for me if the install from documentation / README seems to be b

[2022-08-23 15:40] Alcampopiano commented on #123
@csev I really appreciate your message and agree completely. I'm confident that installation can be a smooth process.

In part, this is because OpenQuestion is built on top of [Anvil's open-source runtime engine](https://anvil.works/open-source) which powers thousands of real-world applications (open source and commercial). If we experience any issues, I'm certain that we can resolve them since we

[2022-08-23 16:16] labarba commented on #123
@Alcampopiano – Since I rejected this submission on the basis of the broken installation, you would have to make a new submission once you iron things out. As I noted [above](https://github.com/openjournals/jose-reviews/issues/123#issuecomment-12130194410, I communicated with reviewer `@stefania11` via email, and after the unhappy installation attempt, this reviewer is no longer willing / availabl

[2022-08-23 17:31] Alcampopiano commented on #123
@labarba Thanks for responding. I strongly believe that the review that prompted the rejection was rather **unfair (and unclear)**.  I want to kindly bring this to your attention as I think it deserves addressed.

- In your opinion, do you think installation is too difficult (given [this short video](https://www.loom.com/share/ccea5aff0c97413a9beedd58ed7424a8) or [the steps listed below](https://g

[2022-08-24 23:07] JasonJWilliamsNY commented on #179
@whedon set v1.1.1 as version

[2022-08-24 23:07] whedon commented on #179
OK. v1.1.1 is the version.

[2022-08-24 23:09] JasonJWilliamsNY commented on #179
@whedon generate pdf

[2022-08-24 23:09] whedon commented on #179
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: :point_left:

[2022-08-24 23:11] JasonJWilliamsNY commented on #179
@lecondon any outstanding changes? @djlampert I know you and @bjrubinstein co-reviewed and so probably went over details together but can you confirm things on your checklist in this issue so we can go to the next stages? Thanks

[2022-08-25 20:56] lecondon commented on #179
@djlampert I just added a note to the readme for the node js version. I think this was the only thing left outstanding unless @bjrubinstein  has anything to add.  Thanks

[2022-08-25 22:03] labarba commented on #162
hi @saverioperugini 👋
We're in good shape here! Can you now make a tagged release in the repo and report the version number here?

Then, make a deposit on Zenodo and report the archive DOI here. Cheers!

[2022-08-25 22:04] labarba commented on #162
@csev – As the handling editor, could you give the paper one final read-through, and request any fixes, and if ready run the command `@whedon recommend-accept` — thank you! 🙏

[2022-08-25 22:17] labarba commented on #129
@amoodie 👋  — the final steps are waiting for you here, take a look!

[2022-08-25 22:22] labarba commented on #175
@kvarada – you have one unchecked item in [your list](https://github.com/openjournals/jose-reviews/issues/175#issuecomment-1200674854)... did you have a concern here, or you missed it?

Are you satisfied with the author's responses to your comments, at this point? Many thanks!

[2022-08-25 22:38] kvarada commented on #175
@labarba Sorry. I just checked it. Yes O'm satisfied with the author's responses to my comments. Thanks for creating this excellent resource!

[2022-08-26 06:59] EASEL-UCI commented on #168
Yes, definitely. I apologize for the delay. I will need to fork the original repository and make changes there. Will it be an issue to change this submission's repository to the new forked repository?

[2022-08-26 08:31] moorepants commented on #168
I suspect we will be able to fix that. @labarba can you comment?

[2022-08-26 09:44] giuliaguidi commented on #167
Done

[2022-08-26 11:07] labarba commented on #167
@whedon recommend-accept

[2022-08-26 11:07] whedon commented on #167
[code]

[2022-08-26 11:08] whedon commented on #167
PDF failed to compile for issue #167 with the following error:
[code]

[2022-08-26 11:11] labarba commented on #167
@whedon recommend-accept from branch AWS_Jose_Paper

[2022-08-26 11:11] whedon commented on #167
[code]

[2022-08-26 11:11] whedon commented on #167
[code]

[2022-08-26 11:11] whedon commented on #167
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/102

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/102, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-08-26 11:37] labarba commented on #167
@whedon accept deposit=true from branch AWS_Jose_Paper

[2022-08-26 11:37] whedon commented on #167
[code]

[2022-08-26 11:38] whedon commented on #167
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/103
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00167](https://doi.org/10.21105/jose.00167)
2. If everything looks

[2022-08-26 11:39] labarba commented on #167
Congratulations, @abhijna, your JOSE paper is now published! 🚀

Huge thanks to our Editor: @willingc, and Reviewers: @giuliaguidi, @manics — your contributions make this adventure in publishing possible, and we are all grateful for it 🙏

[2022-08-26 11:39] #167 closed

[2022-08-26 11:39] whedon commented on #167
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00167/status.svg)](https://doi.org/10.21105/jose.00167)

**We need your help!**

Journal of Open Source Educat

[2022-08-26 15:09] abhijna commented on #167
Awesome, thank you so much @labarba, @willingc, @giuliaguidi, and @manics!

[2022-08-26 17:49] csev commented on #162
This looks good to me.   I checked it out and made the manual.

[2022-08-26 17:49] csev commented on #162
@whedon recommend-accept

[2022-08-26 17:49] whedon commented on #162
No archive DOI set. Exiting...

[2022-08-26 17:51] csev commented on #162
So @labarba - I think I did the thing - but it did not do its thing :)

[2022-08-26 18:01] labarba commented on #162
ah, yes... We need to ask the authors to make a tagged release on their repo, and report the version here (then run `@whedon set v.0.0.0 as version`), and to make a Zenodo deposit and report the archive DOI here (then run `@whedon set <doi> as archive`).

[2022-08-26 19:23] saverioperugini commented on #162
Hi,

I will create the tagged release in BitBucket and post the version # here.

Also, since Zenodo cannot link directly to BitBucket the way it can link directly to GitHub, do you recommend I simply download a zip of the repository from BitBucket and upload that archive to Zenodo?

Thanks so much,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
30

[2022-08-26 20:08] labarba commented on #168
I don't remember dealing with a change in target repo. @openjournals/dev – can you confirm whether we can edit the submission repository?

[2022-08-26 20:24] arfon commented on #168
You can yes but I'll need to edit it in the database too. What's the new repo?

[2022-08-27 20:12] JeffreyRStevens commented on #182
Is @allisonhorst available to edit my package? If not, I can look for other possible editors.

[2022-08-27 21:21] labarba commented on #182
hi @JeffreyRStevens – I have made a scope query on this submission, which looks like a small package (<500 lines of R). We have an internal voting process for scope queries, so stay tuned.

[2022-08-29 05:10] EASEL-UCI commented on #168
Excellent. Thank you. Please use https://github.com/EASEL-UCI/pendsim

[2022-08-29 08:39] arfon commented on #168
Updated.

[2022-08-31 11:40] saverioperugini commented on #162
@whedon generate pdf

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential and intended only for the use of the indi

[2022-08-31 11:40] whedon commented on #162
PDF failed to compile for issue #162 with the following error:
[code]

[2022-08-31 14:18] saverioperugini commented on #162
Hi,

I had to remove the affiliations for two authors because (as far as I
know) they are no longer in academia, and I don't have new contact info
for them.

However, without affiliation information the paper will not compile.

Can you recommend a workaround?

thanks so much,

Saverio

On 8/31/22 7:41 AM, whedon wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University

[2022-09-01 11:15] labarba commented on #162
hi @saverioperugini — presumably, there were affiliated when the work reported in the paper was done, so it is correct to list their (past) affiliation there. You can add perhaps a footnote to say that they graduated, retired, or otherwise moved on.

[2022-09-01 11:56] saverioperugini commented on #162
Hi,

Thanks.  Will do.

Saverio

On 9/1/22 7:16 AM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

New book: Programming Languages: Concepts and Implementation
<https://www.jblea

[2022-09-01 11:56] saverioperugini commented on #162
@whedon generate pdf

On 8/31/22 7:40 AM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

New book: Programming Languages: Concepts and Implementation
<https://www.jblearning.com

[2022-09-01 11:56] whedon commented on #162
PDF failed to compile for issue #162 with the following error:
[code]

[2022-09-01 16:37] saverioperugini commented on #162
@whedon generate pdf

On 9/1/22 7:56 AM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

New book: Programming Languages: Concepts and Implementation
<https://www.jblearning.com/

[2022-09-01 16:37] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-09-01 16:55] saverioperugini commented on #162
Hi,

I just created the tagged release.

Commit98d3297
<https://bitbucket.org/saverioperugini/operating-systems-lab-manual/commits/98d32977c754d29bd2dd6201c5c8fbc746a942f6>is
tagged as JOSE_v.0.0.0

Thanks,

Saverio

On 8/26/22 2:01 PM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (93

[2022-09-02 14:33] ashleefv commented on #172
Checking back in on this. Can you update on the review status @djlampert  and @BYL4746 ?

[2022-09-02 19:43] amoodie commented on #129
Hi @labarba, I've tagged a release v1.1.10a and archived it to Zenodo with doi 10.5281/zenodo.7044896. Thanks!

[2022-09-06 11:29] moorepants commented on #177
@whedon assign @moorepants as editor

[2022-09-06 11:29] whedon commented on #177
OK, the editor is @moorepants

[2022-09-06 11:38] moorepants commented on #177
@IanHawke, @ali-ramadhan, @ntmoore, and @Carreau would any of you like to review this JOSE submission about an education module for simulating galaxies?

[2022-09-07 06:43] Carreau commented on #177
Sure, I can do that.

[2022-09-07 07:51] moorepants commented on #177
@Carreau Great! Thanks for volunteering. I hope to get 1 more reviewer before we officially start, but feel free to have a look at the paper before then.

[2022-09-07 09:20] moorepants commented on #177
@whedon add @Carreau as reviewer

[2022-09-08 12:14] whedon commented on #175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00175/jose.00175/10.21105.jose.00175.pdf) :page_facing_up: :point_left:

[2022-09-08 12:20] So-Cool commented on #175
The paper has been updated to include up-to-date references and acknowledgements.

@labarba, what are the next steps?

[2022-09-09 20:58] djlampert commented on #179
It looks like the article does not have a statement of need. This appears to be the only thing missing.

[2022-09-11 16:30] JeffreyRStevens commented on #182
@labarba, looking forward to hearing back on this.

[2022-09-12 17:36] labarba commented on #162
JOSE requests a permanent archive of the entire content associated with the submission, in this case, the laboratory manual and all the modules, i.e., the entire repo.

[2022-09-12 17:41] labarba commented on #162
Can you confirm that you want us to set JOSE_v.0.0.0 here as version for the reviewed material? (It is strange to see three zeros; we expect semantic versioning.)

[2022-09-12 17:48] labarba commented on #129
@whedon set v1.1.10a as version

[2022-09-12 17:48] whedon commented on #129
OK. v1.1.10a is the version.

[2022-09-12 17:50] labarba commented on #129
@amoodie We like to ask authors to edit the metadata of the Zenodo deposit so the title and author list match the JOSS paper. Can you do that?

[2022-09-12 19:10] amoodie commented on #129
@labarba done!

[2022-09-13 14:21] moorepants commented on #177
Ok, I've found a second reviewer. Joel Noel-Storr (@noelstoj) has agreed to review.

[2022-09-13 14:21] moorepants commented on #177
@whedon add @noelstoj as reviewer

[2022-09-13 14:21] whedon commented on #177
OK, @noelstoj is now a reviewer

[2022-09-13 14:41] moorepants commented on #177
@whedon start review

[2022-09-13 14:41] whedon opened #184 "[REVIEW]: The Data Behind Dark Matter: Exploring Galactic Rotation"
**Submitting author:** @villaa (<a href="http://orcid.org/0000-0002-3893-7259">Anthony Villano</a>)
**Repository:** https://github.com/villano-lab/galactic-spin-W1
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.4
**Editor:** @moorepants
**Reviewers:** @Carreau, @besk467
**Archive:** 10.5281/zenodo.7951874

## Status

[![status](https://jose.theoj.org/papers/9fc3443a7c138ea1a

[2022-09-13 14:41] whedon commented on #177
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/184.

[2022-09-13 14:41] #177 closed

[2022-09-13 14:41] whedon commented on #184
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Carreau, @noelstoj it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2022-09-13 14:41] whedon commented on #184
[code]

[2022-09-13 14:41] whedon commented on #184
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00184/jose.00184/10.21105.jose.00184.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00184/jose.00184/10.21105.jose.00184.pdf) :page_facing_up: :point_left:

[2022-09-13 14:43] whedon commented on #184
[code]

[2022-09-13 14:44] moorepants commented on #184
@Carreau and @noelstoj we will conduct the review in this issue. Please read through the above information and let me know if you have any questions about process. Is it possible for you to review the paper and repository within 4 weeks time?

[2022-09-13 14:45] moorepants commented on #184
The missing DOI leads to a login page:
![image](https://user-images.githubusercontent.com/276007/189932232-4e6700eb-8c87-4311-ac0c-05d3e35ba62d.png)
Is there a way to link to a public version of the paper?

[2022-09-13 16:56] nuclearGoblin commented on #184
That DOI links to a book that does not appear to have a public copy, but it does have [a page on the AIP website](https://uscibooks.aip.org/books/introduction-to-error-analysis-2nd-ed/), would that be an appropriate link?

[2022-09-13 17:00] moorepants commented on #184
I would just cite the book as a traditional citation sans the DOI, as the DOI doesn't seem to lead to the book.

[2022-09-13 17:07] moorepants commented on #184
@whedon set v3.0.0 as version

[2022-09-13 17:07] whedon commented on #184
OK. v3.0.0 is the version.

[2022-09-13 18:24] lecondon commented on #179
@JasonJWilliamsNY Okay I just added the statement of need. Hopefully this is consistent with what you are looking for. Let me know if you need anything else.

[2022-09-13 22:56] djlampert commented on #179
@JasonJWilliamsNY if you can update the article proof, we can clear this item from the list.

[2022-09-14 09:14] Carreau commented on #184
Linking to [comments in pre-review](https://github.com/openjournals/jose-reviews/issues/177#issuecomment-1239057732):

I finished going through the notebooks and material, and it is a really great content, that show some limitation of Jupyter like having to guide users to "Run all", and sometime the lack of obvious indication that computation is happening, but that is something the jupyter team sh

[2022-09-14 09:32] Alberto-GS commented on #170
@lorenanicole

[2022-09-14 09:55] jwagemann commented on #172
Hi @ashleefv , is there an update on the review process? Can I support in any way? Thanks!

[2022-09-14 10:45] djlampert commented on #172
Hi, we have nearly completed the review. I believe I can do final checks
today. Sorry for the delay.

Dave

On Wed, Sep 14, 2022, 04:55 Julia Wagemann ***@***.***> wrote:

[2022-09-14 22:07] djlampert commented on #172
I realize we are supposed to make comments in the repository, but since it is not in GitHub and I cannot seem to sign up for an account without an EUMETSET email address, I will have to make the comment here. The learning objectives stated in the manuscript sound more like activities than outcomes. I suggest the following revision (please feel free to revise further, but ensure that the focus of t

[2022-09-14 22:57] djlampert commented on #172
I don't see a DOI for the first reference (ESA Copernicus 2019 report).

[2022-09-14 22:59] djlampert commented on #179
@whedon generate pdf

[2022-09-14 22:59] whedon commented on #179
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00179/jose.00179/10.21105.jose.00179.pdf) :page_facing_up: :point_left:

[2022-09-14 23:01] djlampert commented on #179
Ok, it looks like I was able to update the article pdf, and I can see the Statement of Need. I think we have completed reviewing the checklist. I am not sure what else we need to do here. Thanks.

[2022-09-16 09:49] Carreau commented on #184
https://github.com/villano-lab/galactic-spin-W1/pull/32

I actually forgot the press the "Send PR" button...

[2022-09-16 20:35] EASEL-UCI commented on #168
@whedon generate pdf

[2022-09-16 20:35] whedon commented on #168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: :point_left:

[2022-09-16 20:46] whedon commented on #168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: :point_left:

[2022-09-16 20:54] JasonJWilliamsNY commented on #179
@whedon generate pdf

[2022-09-16 21:15] EASEL-UCI commented on #168
The following changes were made:
- Added a section on "Contributing and reporting issues" to README.md
- Added References section to paper.md
- Added discussion of how the package and notebooks can be used in teaching
- Added an example course assignment notebook on designing a PID controller

@cooperrc: Thank you for your feedback and the excellent proposed changes. I believe we have addressed yo

[2022-09-19 13:41] moorepants commented on #168
@EASEL-UCI, thanks for the update.

@cooperrc and @repagh, can you now review the updates and see if it satisfies your concerns? If so or if not, you can comment here with approval for publishing or requests for more adjustments. Please finalize the checklists above if those are now complete.

[2022-09-19 17:17] lecondon commented on #179
@JasonJWilliamsNY just confirming. I think we are done and finalized now right?

[2022-09-19 17:47] JasonJWilliamsNY commented on #179
Yes @lecondon reviewing and almost ready to go to the next stage.

[2022-09-20 13:52] JasonJWilliamsNY commented on #179
@whedon check references

[2022-09-20 13:52] whedon commented on #179
[code]

[2022-09-20 13:52] JasonJWilliamsNY commented on #179
@whedon check repository

[2022-09-20 13:52] whedon commented on #179
Wordcount for `paper.md` is 886

[2022-09-20 13:52] whedon commented on #179
[code]

[2022-09-20 13:55] JasonJWilliamsNY commented on #179
@lecondon  have reviewed the proof and things look good. The next step is for you to create an archive on either https://zenodo.org/ or https://figshare.com/ and obtain a DOI (which you'll need to give to us). I can then move to the final acceptance and publication steps.

Tip: Here is a nice guide on doing the above with Zenodo: https://docs.github.com/en/repositories/archiving-a-github-repositor

[2022-09-25 13:40] JeffreyRStevens commented on #182
@labarba, when can I expect to hear back on the vote?

[2022-09-27 16:48] cooperrc commented on #168
My comments and suggestions were addressed and satisfies any concerns I had.

Thank you for your contribution @EASEL-UCI !

[2022-09-27 19:46] JasonJWilliamsNY commented on #179
@lecondon just a reminder ping

[2022-09-29 22:35] labarba commented on #172
I see that the [target repository](https://gitlab.eumetsat.int/eumetlab/atmosphere/atmosphere/-/issues) is on GitLab. Is it not possible for anyone with a Gitlab account to open an issue? We do want to see open issue trackers, so please let us know, @jwagemann.

[2022-09-29 22:48] labarba commented on #172
I can see that the section on Learning Objectives is written to address rather the aims of the LTPy notebooks/course. This needs a bit of re-work, as @djlampert noted above. Writing learning objectives/outcomes is surprisingly hard! For example, learning designers will tell you to avoid the verbs "understand" or "know." They are unhelpful because it's like saying "after learning, you will know." K

[2022-10-03 02:54] lecondon commented on #179
Okay it looks like this was actually already enabled through zenodo and the doi is: 10.5281/zenodo.5138519. Let me know if you need anything else.

![image](https://user-images.githubusercontent.com/12488567/193493448-8601ecff-e057-4874-a0cb-9f7cfba9e504.png)

[2022-10-03 17:33] saverioperugini commented on #162
Hi,

We can make the version what ever you prefer.  (Aside from correcting
minor typos and updating the affiliations) The only two substantial
changes made during the review process were:

- Adding the Statement of Need from paper.md to README.md
- Adding the missing DOIs in references.bib

These modifications were both made on the same commit (1eae3b2), so
would JOSE_v.1.1.0 be more appropriate?

[2022-10-06 00:34] JasonJWilliamsNY commented on #179
@lecondon - Could you edit the metadata on the Zenodo deposit so the title and author list matches the JOSE paper?
On the record page and click the orange Edit button in the top-right corner. You will be taken to a form similar to the upload form, where you will be able to edit almost all of the record's metadata. Once you are done modifying it, click "Save" and then "Publish". (See https://help.z

[2022-10-09 13:32] So-Cool commented on #175
Hi @ttimbers, is there anything I can do to expedite the review/publication process?

[2022-10-09 18:43] labarba commented on #129
@whedon set 10.5281/zenodo.7044895 as archive

[2022-10-09 18:43] whedon commented on #129
OK. <a href="https://doi.org/10.5281/zenodo.7044895" target="_blank">10.5281/zenodo.7044895</a> is the archive.

[2022-10-09 18:53] labarba commented on #129
@whedon recommend-accept

[2022-10-09 18:53] whedon commented on #129
[code]

[2022-10-09 18:54] whedon commented on #129
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/104

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/104, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-10-09 18:54] whedon commented on #129
[code]

[2022-10-09 19:03] labarba commented on #129
@whedon accept deposit=true

[2022-10-09 19:03] whedon commented on #129
[code]

[2022-10-09 19:04] whedon commented on #129
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/105
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00129](https://doi.org/10.21105/jose.00129)
2. If everything looks

[2022-10-09 19:07] labarba commented on #129
Congratulations, @amoodie, your JOSE paper is published! 🚀
(Thank your for your abundant patience, as we have been operating at a snail pace in the editorial process. As this is an all-volunteer journal, we operate on a best-effort basis.)

Huge thank you to our reviewers: @Swanson-Hysell, @hernanrr — we couldn't do this without you 🙏

[2022-10-09 19:07] #129 closed

[2022-10-09 19:07] whedon commented on #129
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00129/status.svg)](https://doi.org/10.21105/jose.00129)

**We need your help!**

Journal of Open Source Educat

[2022-10-10 09:11] AlexanderJuestel commented on #178
Hey @labarba,

just wanting to inquire if you have a rough schedule on how we proceed with the submission.

No hurry from my side though.

Cheers
Alex

[2022-10-10 10:35] moorepants commented on #168
@EASEL-UCI I see some math rendering errors here:
![image](https://user-images.githubusercontent.com/276007/194847314-63ffcdf8-7397-4b05-bcdf-e2c42bb45af2.png)
https://rland93.github.io/pendsim/customctl.html#Model-Predictive-Control-(MPC)

Maybe a pass through to check for these things is worthwhile.

[2022-10-10 10:36] moorepants commented on #168
@whedon set v1.1.0 as version

[2022-10-10 10:36] whedon commented on #168
OK. v1.1.0 is the version.

[2022-10-10 10:37] moorepants commented on #168
@whedon check references

[2022-10-10 10:37] whedon commented on #168
[code]

[2022-10-10 10:38] whedon commented on #168
[code]

[2022-10-10 10:38] whedon commented on #168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: :point_left:

[2022-10-10 10:41] moorepants commented on #168
There isn't an issues tab on the new repository so I'll leave some things here. The old repository is still referenced in many places, for example:
![image](https://user-images.githubusercontent.com/276007/194848254-308fc7cf-0f63-44b2-b859-6a86c0438186.png)
Do you plan to update these?

[2022-10-10 10:43] moorepants commented on #168
You are using a theme that has a dark mode. Many of the figures are unreadable, e.g.:
![image](https://user-images.githubusercontent.com/276007/194848584-f765223e-2426-4ce7-9637-5af18911769f.png)
Maybe disable the dark mode as a quick fix?

[2022-10-10 10:44] moorepants commented on #168
Tutorial figure on line 7 has misplaced axes labels:
![image](https://user-images.githubusercontent.com/276007/194848793-99ed3ab0-406b-47fd-8150-d2bc57471720.png)

[2022-10-10 10:44] moorepants commented on #168
The tutorial video on the last line does not fit on narrow screens:
![image](https://user-images.githubusercontent.com/276007/194848903-e51ad4cb-fc9c-460f-8446-a04292455590.png)

[2022-10-10 10:46] moorepants commented on #168
The `sys.append('../')` lines should not be needed in your examples:
[code]
If users install your package, they shouldn't have to do that.

[2022-10-10 10:46] moorepants commented on #168
On the animation page there is some unusual directory changing:
[code]
This does not seem like good practice.

[2022-10-10 10:48] moorepants commented on #168
On the linearization page there are some formatting errors, e.g.:
![image](https://user-images.githubusercontent.com/276007/194849494-5c0ad716-1489-4e9b-8900-efd283090cc4.png)

[2022-10-10 10:49] moorepants commented on #168
All of the cells are executed on the PID page:

https://rland93.github.io/pendsim/PID.html

[2022-10-10 10:58] moorepants commented on #168
@EASEL-UCI Can you address the various formatting and presentation issues I've mentioned here? This would bring the contents to publishable quality with JOSE. Once that is done, you can cut a new release.

@repagh and @cooperrc, I assume that the "community guidelines" checkbox was not checked by mistake. Can you check that box if you are satisfied with the statement in the README?

[2022-10-10 13:06] JasonJWilliamsNY commented on #179
@lecondon pinging with a reminder

[2022-10-11 07:09] saverioperugini commented on #162
***@***.*** set v.0.0.0 as version|

On 9/1/22 8:06 AM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

New book: Programming Languages: Concepts and Implementation
<https://www.

[2022-10-11 07:13] saverioperugini commented on #162
@whedon generate pdf

On 9/1/22 7:57 AM, whedon wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

New book: Programming Languages: Concepts and Implementation
<https://www.jblearning.com/catalog/pr

[2022-10-11 07:14] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-11 07:37] djlampert commented on #108
I can try to review it, but it might be a few weeks.

Dave

On Wed, Apr 13, 2022 at 1:05 PM Ashlee Ford Versypt <
***@***.***> wrote:

[2022-10-11 07:49] saverioperugini commented on #162
On Apr 6, 2022, 11:40 AM -0400, Matthew Forshaw ***@***.***>, wrote:
	I would like to thank the authors for preparing their submission to JOSE. In my opinion, it is a submission of significant merit, and I have just two points I would like to pick up on in relation to the criteria outlined above.
Within the "Documentation" criteria, a centralised Statement of Need in the documentation might be ben

[2022-10-11 08:23] lecondon commented on #92
HI Jason,

Thank you for your email. Yes to be honest we had pretty much given up on this. If it can proceed that’s great though. I will be on maternity leave after June 30th but I think my co-authors could probably handle the revisions.

Thanks,

Luara

From: Jason Williams ***@***.***>
Date: Thursday, June 2, 2022 at 8:43 AM
To: openjournals/jose-reviews ***@***.***>
Cc: Condon, Laura - (lecondo

[2022-10-11 08:27] saverioperugini commented on #162
Hi,

Any updates on this submission?

Thank you.
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential and i

[2022-10-11 08:59] ashleefv commented on #172
Reviewers please disregard the automated email until after the author checks in with the updates they discussed.

On Apr 29, 2022 5:50 PM, whedon ***@***.***> wrote:

👋 @BYL4746<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FBYL4746&data=05%7C01%7Cashleefv%40buffalo.edu%7C27fbff1a416c45be779d08da2a2a46f8%7C96464a8af8ed40b199e25f6b50a20250%7C0%7C0%7C63786865830921097

[2022-10-11 09:30] saverioperugini commented on #162
***@***.*** generate pdf|

On 8/26/22 3:23 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
***@***.***
WWW:http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential

[2022-10-11 16:17] labarba commented on #162
I believe we are waiting on your version number and Zenodo archive DOI.

[2022-10-11 17:40] amoodie commented on #129
Hi @labarba,

Great, and thank you for seeing this paper through to the end!

Unfortunately, [it looks like the pdf may not have deposited correctly](https://jose.theoj.org/papers/10.21105/jose.00129).

Please let me know if I should ping someone else to get that sorted. Thanks!

[2022-10-11 22:50] labarba commented on #129
@openjournals/dev — could you take a look at this recently published JOSE paper?

I did get an email from GitHub that said:

[2022-10-12 00:04] saverioperugini commented on #162
Hi,
What would you like the version number to be?
I can make the version what ever you prefer. (Aside from correcting minor typos and updating the affiliations) The only two substantial changes made during the review process were:
- Adding the Statement of Need from paper.md <http://paper.md/> to README.md <http://readme.md/>
- Adding the missing DOIs in references.bib
These modifications were bot

[2022-10-12 00:22] labarba commented on #162
The decision on version number belongs to the authors.

[2022-10-12 00:23] labarba commented on #162
We can recommend [semantic versioning](https://semver.org).

[2022-10-12 08:30] arfon commented on #129
@amoodie – it's not your fault. It's a failure on the `openjournals/jose-papers` repo. @labarba – I've noticed a few issues with GitHub Pages this last week – I just triggered a rebuild of the repo to see if that fixes it.

[2022-10-12 13:12] amoodie commented on #129
[That appears to have fixed it!](https://jose.theoj.org/papers/10.21105/jose.00129). Thank you!

[2022-10-12 13:38] PedroVelez commented on #170
Hi @labarba and  @lorenanicole is there any way to continue with the process. Thanks a lot!

[2022-10-14 21:04] saverioperugini commented on #162
@whedon generate pdf

On 9/1/22 8:06 AM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concepts

[2022-10-14 21:04] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-14 21:14] saverioperugini commented on #162
@whedon generate pdf

On 10/14/22 5:04 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concept

[2022-10-14 21:14] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-14 22:29] saverioperugini commented on #162
@whedon generate pdf

On 10/14/22 5:14 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concept

[2022-10-14 22:30] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-14 22:41] saverioperugini commented on #162
Hi,

I just created the tagged release.

Commit e6d2ed2 is tagged as JOSE_v1.0.0

Thanks,
Saverio

On 9/1/22 12:54 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://acad

[2022-10-14 22:42] saverioperugini commented on #162
@whedon set v1.0.0 as version

On 9/1/22 12:55 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages:

[2022-10-14 22:42] whedon commented on #162
I'm sorry @saverioperugini, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-10-14 23:09] saverioperugini commented on #162
Hi,

The version number is v1.0.0 and the Zenodo archive DOI is
10.5281/zenodo.7200056

Thank you.
Saverio

On 10/11/22 12:17 PM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<h

[2022-10-15 12:34] labarba commented on #162
You've named the tag [JOSE_v1.0.0](https://bitbucket.org/saverioperugini/operating-systems-lab-manual/src/JOSE_v1.0.0/), so that's what we need to use in the paper metadata.

[2022-10-15 12:34] labarba commented on #162
@whedon set JOSE_v1.0.0 as version

[2022-10-15 12:34] whedon commented on #162
OK. JOSE_v1.0.0 is the version.

[2022-10-15 12:36] labarba commented on #162
@whedon set 10.5281/zenodo.7200056 as archive

[2022-10-15 12:36] whedon commented on #162
OK. <a href="https://doi.org/10.5281/zenodo.7200056" target="_blank">10.5281/zenodo.7200056</a> is the archive.

[2022-10-15 12:53] labarba commented on #162
A couple of edits on the paper:

- Introduction, third paragraph after the bulleted list: "a contemporary operating course" should be "operating systems course"
- bottom of page 2: strange character between I and III in the source
- you can remove the section "Creative Commons License" because this will be added automatically in the article layout and landing page

Apart from this, I'm confused wh

[2022-10-17 15:19] saverioperugini commented on #162
Hi,

On 10/15/22 8:54 AM, Lorena A. Barba wrote:

Corrected in latest commit.

That is the unicode character for en dash (&#150;).  In shows up fine in
the markdown viewer.  Not sure why it does not render properly in the
generated PDF.  That same character is used in the zip codes of the
authors and it similarly does not render in the PDF in the author list.

Done in latest commit.

The GitHub co

[2022-10-17 16:36] labarba commented on #162
Regarding en-dashes: since the paper goes through pandoc and latex, perhaps just use `--`?

[2022-10-17 17:12] labarba commented on #162
the community repo.

Maybe add that in the paragraph in question.

[2022-10-17 17:43] saverioperugini commented on #162
@whedon generate pdf

On 10/14/22 6:29 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concept

[2022-10-17 17:44] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-17 17:55] saverioperugini commented on #162
@whedon generate pdf

On 10/17/22 1:51 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concept

[2022-10-17 17:56] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-17 18:44] saverioperugini commented on #162
@whedon generate pdf

On 10/17/22 1:55 PM, Saverio Perugini wrote:

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Programming Languages: Concept

[2022-10-17 18:45] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-10-17 18:51] saverioperugini commented on #162
On 10/17/22 12:36 PM, Lorena A. Barba wrote:

Thanks. I did that and the en dashes rendered properly throughout the
paper (author zip codes, ranges, etc.).

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

[2022-10-17 18:52] saverioperugini commented on #162
On 10/17/22 1:12 PM, Lorena A. Barba wrote:

Hi,

I added a footnote to clarify.  Thanks.

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/
<http://academic.udayton.edu/SaverioPerugini/>

New book: Program

[2022-10-19 17:14] villaa commented on #184
@moorepants is there any update from the second reviewer

[2022-10-19 17:23] moorepants commented on #184
No, I've emailed him a couple of times since he agreed to review and have not gotten a response. I need to find another reviewer.

[2022-10-19 19:45] ttimbers commented on #175
@So-Cool - we have two things left for you to do (or perhaps you have done them and you just need to tell me about them):

1. Make a tagged release on the target repository, and report the version number here.
2. Make an archive of the repository on Zenodo or an equivalent service, and report the archive DOI here.

[2022-10-20 11:00] So-Cool commented on #175
Hi @ttimbers, here are the details you requested:

1. GitHub release tag is `2022-jose`;
2. Zenodo DOI is `10.5281/zenodo.7229153`.

[2022-10-20 21:01] ttimbers commented on #175
Thanks @So-Cool. I think the version needs to be done using semantic versioning however...  So something like v1.x.x - do you think you can update the version to something like that?

[2022-10-21 10:02] So-Cool commented on #175
No worries, @ttimbers. I've updated the releases to use semantic versioning. The latest release is tagged with `1.0`.

[2022-10-21 16:09] labarba commented on #182
Hello @JeffreyRStevens – as I've already communicated by email, the board discussed this submission and decided that the contribution is insufficient for a journal paper. We look for substantial scholarly contribution, like any journal, and admitting that such a deliberation is subjective, we make our best effort to assess scope queries as a group.

(Leaving this note here for the record.)

[2022-10-21 16:09] labarba commented on #182
@whedon reject

[2022-10-21 16:09] whedon commented on #182
Paper rejected.

[2022-10-21 16:09] #182 closed

[2022-10-21 21:17] ttimbers commented on #175
@whedon set v1.0 as version

[2022-10-21 21:17] whedon commented on #175
OK. v1.0 is the version.

[2022-10-21 21:18] ttimbers commented on #175
@whedon set 10.5281/zenodo.7229153 as archive

[2022-10-21 21:18] whedon commented on #175
OK. <a href="https://doi.org/10.5281/zenodo.7229153" target="_blank">10.5281/zenodo.7229153</a> is the archive.

[2022-10-21 21:18] ttimbers commented on #175
@whedon recommend-accept

[2022-10-21 21:18] whedon commented on #175
[code]

[2022-10-21 21:19] whedon commented on #175
[code]

[2022-10-21 21:19] whedon commented on #175
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/106

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/106, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-10-21 21:25] ttimbers commented on #175
@openjournals/jose-eics - I think this paper should now be ready for full acceptance. Please let me know if I missed a step with whedon.

[2022-10-22 19:21] labarba commented on #162
@csev — Could you give this submission a final look, and approve for publishing? (you can then run the command `@whedon recommend-accept`)

[2022-10-23 12:38] labarba commented on #180
I have sent an email to each reviewer (cc'ing the handling editor @juanklopper) reminding them of this pending review and asking if they will still be able to contribute, given the long delay. If they do not reply in a week or so, we may need to find alternative reviewers. Thank you for your patience.

[2022-10-23 12:46] labarba commented on #156
hi @valdanchev  — it looks like this one slipped through the cracks, sorry (I have total email overload). On a quick browse, I noticed that the repo has as latest tag [v2.1.1](https://github.com/valdanchev/reproducible-data-science-python/releases/tag/v2.1.1), while the version here is noted as v2.0.0. Meanwhile, you have a lot of newer commits. (Unfortunately, you do not have meaningful commit me

[2022-10-23 14:43] labarba commented on #173
hi, @jaime-pru 👋
The reviewers have now provided their input and suggestions to improve the submission. Please work on your revisions and come back here to let us know when you want reviewers and editor to take a new look. Godspeed!

[2022-10-23 16:04] labarba commented on #170
hi @Alberto-GS  and @PedroVelez 👋
Thank you for your patience. I did not receive a reply from the editor we initially assigned to this submission, despite several emails and DMs. (People have generally been much harder to reach in the past 2.5 years, and one can never know what is affecting them.) The good news is that JOSE had a campaign to recruit new editors, and we have 7 editors joining the b

[2022-10-23 21:41] labarba commented on #170
Another possibility is to add the videos in an iframe within the markdown, rather than a code cell. Like this example:
https://so-cool.github.io/you-only-write-thrice/

[2022-10-24 07:18] KonradHoeffner commented on #180
Thank you for contacting them!

[2022-10-24 10:34] valdanchev commented on #156
@labarba - many thanks, this is very helpful! I have now made a new tagged release corresponding to the JOSE publication (with added informative commit messages) and updated the Zenodo archive, details are below. Let me know if any additional changes are needed. Thank you again.

Latest repo version: [v2.1.2](https://github.com/valdanchev/reproducible-data-science-python/releases/tag/v2.1.2)
Zenod

[2022-10-24 10:34] valdanchev commented on #156
@whedon generate pdf

[2022-10-24 10:35] whedon commented on #156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00156/jose.00156/10.21105.jose.00156.pdf) :page_facing_up: :point_left:

[2022-10-24 10:39] labarba commented on #156
@whedon set v2.1.2 as version

[2022-10-24 10:39] whedon commented on #156
OK. v2.1.2 is the version.

[2022-10-24 18:30] labarba commented on #180
@whedon remind @behollister in 3 weeks

[2022-10-24 18:30] whedon commented on #180
Reminder set for @behollister in 3 weeks

[2022-10-24 20:05] labarba commented on #156
hi @valdanchev — One last thing: We request that authors edit the metadata of the Zenodo deposit so title and author list match the JOSE paper. It's just cleaner that way as readers see these as part of the "same scholarly object." Could you do that?

[2022-10-24 20:35] valdanchev commented on #156
hi @labarba — thank you, more than happy to do that, just updated the metadata of the deposit.

[2022-10-24 21:20] whedon commented on #156
[code]

[2022-10-24 21:20] whedon commented on #156
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/107
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00156](https://doi.org/10.21105/jose.00156)
2. If everything looks

[2022-10-24 21:26] labarba commented on #156
Congratulations, @valdanchev, your JOSE paper is accepted! 🚀

Huge thanks to our editor: @ShanEllis and the reviewers: @TomDonoghue, @lechten — your contribution makes this adventure possible 🙏

[2022-10-24 21:30] #156 closed

[2022-10-24 21:30] whedon commented on #156
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00156/status.svg)](https://doi.org/10.21105/jose.00156)

**We need your help!**

Journal of Open Source Educat

[2022-10-24 21:52] labarba commented on #178
Hi @AlexanderJuestel — I cannot give you a schedule right now. The good news is that JOSE had a campaign to recruit new editors, and we have 7 editors joining the board as we speak! (They are being onboarded this week, and their profiles has already been posted to our website.) Thank you for your patience.

[2022-10-24 22:31] valdanchev commented on #156
Great!! Thank you so much @labarba, @ShanEllis, @TomDonoghue, and @lechten for all of your work — the review process has really improved the learning resource!

[2022-10-26 15:15] JasonJWilliamsNY commented on #179
Email ping to @lecondon sent

[2022-10-26 17:10] villaa commented on #184
I don't know anyone else on the reviewer list; but I might know some others who have the skills to do it.

I'm not sure if @matthewfeickert would be able to review, but they are very well qualified in all things code and strong overlap with my type of science.

I'll look for others in my field who might be good; shall I send you their emails separately?

[2022-10-26 18:36] jaime-pru commented on #173
Ok. I am going to work in the comments. Thank you very much!

[2022-10-26 19:27] matthewfeickert commented on #184
Hi @villaa! :wave: Thanks for thinking of me. I'm unfortunately a bit over committed with work until early December, so I think for the timeline you need I won't be of much help &mdash; sorry!

I just wanted to say though that I think that your workshop looks excellent and I think it is fantastic that you're submitting to JOSE! Congratulations in advance on the great work! :rocket:

[2022-10-26 19:37] villaa commented on #184
Thanks @matthewfeickert 👍 -- totally understand about being over-committed!

[2022-10-28 12:42] jwagemann commented on #172
Hi - thanks @djlampert and @labarba for your comments. I'll revise the learning objectives next week. Concerning adding some comments to the repository directly. I'll give this as a feedback to the system administrators, but I hope it does not hinder us from publication.

@djlampert have you had additional comments to those you shared above?

[2022-10-28 21:00] djlampert commented on #172
Hi @jwagemann. I have no other comments. We have reviewed the software, and
it seems to work fine.

Dave

On Fri, Oct 28, 2022 at 7:42 AM Julia Wagemann ***@***.***>
wrote:

[2022-10-30 23:23] behollister commented on #180
Sorry for the delay. Was busy meeting manuscript deadlines. Should be able to finish my review by the middle of this week.

Still need to complete Functionality/Documentation checklist points.

[2022-10-31 00:20] behollister commented on #180
Possible issue with instructions for using Node. See https://github.com/snikproject/graph/issues/393#issue-1429074319

[2022-11-01 11:10] KonradHoeffner commented on #180
@behollister: Thanks for the correction! Fixed the documentation.

[2022-11-01 18:37] behollister commented on #180
Issue with developer docs. See https://github.com/snikproject/graph/issues/395#issue-1431896646

[2022-11-01 18:41] behollister commented on #180
finished review. only would make suggestions about usability, such as scaled labels for nodes hard to see at various zoom levels, and overlapping popup text for menu items.

otherwise, all claims have been met by project for jose.

[2022-11-01 18:42] behollister commented on #180
one more note. was not able to reach service locally on windows after having completed all installation steps in docs. worked fine on linux however.

[2022-11-02 08:50] KonradHoeffner commented on #180
The issue has been fixed, thanks for notifying us!

[2022-11-02 08:58] KonradHoeffner commented on #180
We usually develop under Linux but would like to enable development under Windows as well.
Can you share what happened exactly so we can extend our [Windows workaround](https://github.com/snikproject/graph/issues/379) section in the docs?

[2022-11-08 19:31] nuclearGoblin commented on #184
(I hope it's okay for me to give some suggestions as well, I can also send a list of a few reviewers if you like.) From the JOSS reviewers list, would @\dpshelio be able to review? It looks like he is familiar with physics programming, python, and astrophysics.

[2022-11-09 09:51] KonradHoeffner commented on #180
@bwatson: As behollister has completed the review, it would be really nice if you could find the time to review the paper soon.

[2022-11-09 11:18] labarba commented on #180
@KonradHoeffner — thanks for your patience! We have heard from Bruce via email and he is aware and will be working on it these days.

[2022-11-11 13:27] jwagemann commented on #172
@whedon generate pdf

[2022-11-11 13:28] whedon commented on #172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: :point_left:

[2022-11-11 13:34] jwagemann commented on #172
@wedon generate pdf

[2022-11-11 13:48] jwagemann commented on #172
@whedon generate pdf

[2022-11-11 13:50] whedon commented on #172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: :point_left:

[2022-11-11 14:08] jwagemann commented on #172
@whedon generate pdf

[2022-11-11 14:11] whedon commented on #172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: :point_left:

[2022-11-11 14:30] jwagemann commented on #172
Hi @djlampert and @labarba , I re-worked on the learning objectives as suggested and added some references to the paper. Would be great if you could review it another time.
Thanks,
Julia

[2022-11-11 15:34] djlampert commented on #172
Hi Julia--looks much better to me now. I am fine with the manuscript in this form.

[2022-11-11 15:40] jwagemann commented on #172
Great. Thanks @djlampert for taking the time to reviewing it.

@ashleefv what are now the next steps?

[2022-11-14 18:24] labarba commented on #170
Thank you, Karen! I will assign you as editor. Since this will be your first assignment as editor, count on my as your buddy and ask me anything!

[2022-11-14 18:24] labarba commented on #170
@whedon assign @kls2177 as editor

[2022-11-14 18:24] whedon commented on #170
OK, the editor is @kls2177

[2022-11-15 09:21] PedroVelez commented on #170
Dear @labarba and  @kls2177 , thanks a lot for the comments.
We will fix the videos and reply to the comments regarding  the text as soon as possible.
best
pedro

[2022-11-16 16:39] acocac commented on #178
@labarba, happy to take this one on.

[2022-11-20 13:26] labarba commented on #178
Thank you, @acocac ! I will assign you now.

[2022-11-20 13:26] labarba commented on #178
@whedon assign @acocac as editor

[2022-11-20 13:26] whedon commented on #178
OK, the editor is @acocac

[2022-11-21 08:32] KonradHoeffner commented on #180
@labarba, @bwatson is there an estimated timeframe when the review will begin?

[2022-11-21 18:13] bwatson commented on #180
I’m still on this, but only from later this week

On 21 Nov 2022, at 10:32, Konrad Höffner ***@***.******@***.***>> wrote:

@labarba<https://github.com/labarba>, @bwatson<https://github.com/bwatson> is there an estimated timeframe when the review will begin?

—
Reply to this email directly, view it on GitHub<https://github.com/openjournals/jose-reviews/issues/180#issuecomment-1321688599>, or unsub

[2022-11-21 23:47] acocac commented on #178
@whedon generate pdf

[2022-11-21 23:48] whedon commented on #178
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00178/jose.00178/10.21105.jose.00178.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00178/jose.00178/10.21105.jose.00178.pdf) :page_facing_up: :point_left:

[2022-11-22 01:31] acocac commented on #178
Hi @jwagemann — you volunteered to review for JOSE (The Journal of Open Source Education). Could you take a look at this submission and let us know if you might be able to volunteer a review for us? Thanks! 🙏
Title: "From Maps to Models - Tutorials for structural geological modeling using GemPy and GemGIS"
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00178/j

[2022-11-22 01:32] acocac commented on #178
Hi @sharondenisse — you volunteered to review for JOSE (The Journal of Open Source Education). Could you take a look at this submission and let us know if you might be able to volunteer a review for us? Thanks! 🙏
Title: "From Maps to Models - Tutorials for structural geological modeling using GemPy and GemGIS"
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.001

[2022-11-25 17:21] acocac commented on #178
@AlexanderJuestel, thanks for the submission. It looks in line with the scope of JOSE. Note I've already asked to suggested reviewers their availability. I'll try to reach them via e-mail too.

[2022-11-28 11:14] jwagemann commented on #178
Hi @acocac ,
happy to function as reviewer for this submission. Will try to review it in the course of the next two weeks.
Julia

[2022-11-28 13:47] acocac commented on #178
Hello @jwagemann, thanks for confirming your availability! I'm waiting the response of the second suggested reviewer. Hope to confirm here when we start the Review Process soon!

[2022-11-28 15:59] acocac commented on #178
@whedon commands

[2022-11-28 15:59] whedon commented on #178
Here are some things you can ask me to do:

[code]

[2022-11-28 16:00] acocac commented on #178
@whedon assign @jwagemann as reviewer

[2022-11-28 16:00] whedon commented on #178
OK, @jwagemann is now a reviewer

[2022-11-29 15:19] acocac commented on #178
Hi @BenjMy — you volunteered to review for JOSE (The Journal of Open Source Education). Could you take a look at this submission and let us know if you might be able to volunteer a review for us (with a flexible deadline of mid-Jan 2023)?
Thanks! 🙏
Title: "From Maps to Models - Tutorials for structural geological modeling using GemPy and GemGIS" [View article proof on GitHub](https://github.com/op

[2022-11-29 15:38] BenjMy commented on #178
Hi @acocac ,
Happy to review this submission.

[2022-11-29 15:51] acocac commented on #178
@whedon assign @BenjMy as reviewer

[2022-11-29 15:51] whedon commented on #178
OK, @BenjMy is now a reviewer

[2022-11-29 15:56] acocac commented on #178
@whedon add @jwagemann as reviewer

[2022-11-29 15:56] whedon commented on #178
OK, @jwagemann is now a reviewer

[2022-11-29 16:01] labarba commented on #178
Thank you, all — your contributions are greatly appreciated, and make this adventure in scholarly publication possible! 🙏

[2022-11-29 16:04] jwagemann commented on #172
Hi @ashleefv @labarba, kind reminder. The reviewers are done with the review. What are the next steps now?