[2021-12-23 14:17] cicirello commented on #140
@whedon generate pdf

[2021-12-23 14:48] sebastianrosenzweig commented on #148
Would it be possible to proceed without creating a new Zenodo version?
I would like to avoid rolling out a new version that has no noticible change in the actual code or paper. This also did not seem to be necessary in the previously mentioned publication [3326#issuecomment-883273118l](https://github.com/openjournals/joss-reviews/issues/3326#issuecomment-883273118l). In our case, the notebooks nee

[2021-12-23 15:46] moorepants commented on #148
My understanding is that we want the Zenodo archive to match the paper version we publish.  In this instance, this is a very minor difference in the Zenodo archive and the repository commit that produces the paper (slight difference in the meta data file), but it is very simple to tag a new release and push a new archive. That ensures the published paper exactly matches the archive.

If your noteb

[2021-12-23 16:08] sebastianrosenzweig commented on #148
Ok, so the new version is v1.1.1 which has the following DOI on Zenodo: 10.5281/zenodo.5802031

[2021-12-23 17:02] moorepants commented on #148
@whedon set version as 1.1.1

[2021-12-23 17:02] whedon commented on #148
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-23 17:03] moorepants commented on #148
@whedon set 10.5281/zenodo.5802031 as archive

[2021-12-23 17:03] whedon commented on #148
OK. <a href="https://doi.org/10.5281/zenodo.5802031" target="_blank">10.5281/zenodo.5802031</a> is the archive.

[2021-12-23 17:09] moorepants commented on #148
@whedon recommend-accept

[2021-12-23 17:09] whedon commented on #148
[code]

[2021-12-23 17:09] whedon commented on #148
[code]

[2021-12-23 17:09] whedon commented on #148
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/69

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/69, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-23 22:14] labarba commented on #148
hi @sebastianrosenzweig 👋  — Could you edit the metadata of the [Zenodo archive](https://zenodo.org/record/5802031), so the title and author list match the JOSE paper? Zenodo pulls these automatically from the repo and includes every committer by default.

[2021-12-23 22:15] labarba commented on #148
I also notice that you upped the version to `v1.1.1`. Should we change the paper's linked version to that?

[2021-12-23 22:18] labarba commented on #140
Thank you for the detailed feedback, @turketwh — most appreciated! 🙏

[2021-12-23 22:19] labarba commented on #140
@adeepak7 — You agreed to review a submission for The Journal of Open Source Education some time ago. We now have a returned full review, and would like to move this forward. Are you able to provide your review in a short span of time?

[2021-12-23 22:44] labarba commented on #148
Quoting @moorepants:

This can be done because JOSE will create a DOI based on the review-thread number, so we already know what the DOI of the published paper will be: `10.21105/jose.00138`

[2021-12-24 05:32] moorepants commented on #148
Nice, good to know.

[2021-12-24 12:28] labarba commented on #131
Hi @cgentemann — thanks for your question. Because this is a large submission, we decided to chunk it in three and get reviewers for each chunk. This has made it more difficult to secure the necessary reviewers. Our process is that we find and assign the reviewers here, in this PRE-REVIEW issue. Then I will run the command `@whedon start review` which will open a new REVIEW issue, which will have

[2021-12-27 15:46] allisonhorst commented on #130
@whedon set v2021.12 as version

[2021-12-27 15:46] whedon commented on #130
OK. v2021.12 is the version.

[2021-12-27 15:47] allisonhorst commented on #130
@whedon set 10.5281/zenodo.5773212 as archive

[2021-12-27 15:47] whedon commented on #130
OK. <a href="https://doi.org/10.5281/zenodo.5773212" target="_blank">10.5281/zenodo.5773212</a> is the archive.

[2021-12-27 15:48] allisonhorst commented on #130
@whedon recommend-accept

[2021-12-27 15:48] whedon commented on #130
[code]

[2021-12-27 15:48] whedon commented on #130
PDF failed to compile for issue #130 with the following error:
[code]

[2021-12-27 21:42] labarba commented on #130
@whedon recommend-accept from branch JOSE-conda-paper

[2021-12-27 21:42] whedon commented on #130
[code]

[2021-12-27 21:42] whedon commented on #130
[code]

[2021-12-27 21:42] whedon commented on #130
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/70

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/70, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-27 22:16] labarba commented on #130
@whedon accept deposit=true from branch JOSE-conda-paper

[2021-12-27 22:16] whedon commented on #130
[code]

[2021-12-27 22:17] whedon commented on #130
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/71
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00130](https://doi.org/10.21105/jose.00130)
2. If everything looks

[2021-12-27 22:18] labarba commented on #130
Congratulations, @marisalim, your JOSE paper is accepted! 🚀

Huge thanks to our Editor: @allisonhorst, and the Reviewers: @colbrydi, @shanamatthews — we couldn't do this without you 🙏

[2021-12-27 22:18] #130 closed

[2021-12-27 22:18] whedon commented on #130
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00130/status.svg)](https://doi.org/10.21105/jose.00130)

**We need your help!**

Journal of Open Source Educat

[2021-12-27 22:57] marisalim commented on #130
Thank you @allisonhorst, @shanamatthews, @colbrydi, and @labarba! 👏

[2021-12-28 12:12] labarba commented on #100
Hi @ConorIA — I read your nice paper. Thank you!  The final steps pre-publication are:

- make a tagged release of the repository, and report the version number here
- make an archive deposit of the repository on Zenodo or similar service, and reports the archive DOI here

[2021-12-28 12:13] labarba commented on #104
@whedon assign @rasbt as reviewer

[2021-12-28 12:13] whedon commented on #104
OK, @rasbt is now a reviewer

[2021-12-28 12:19] labarba commented on #104
@Atcold 👋 — You had [agreed to review](https://github.com/openjournals/jose-reviews/issues/104#issuecomment-870009251) this submission for us a few months ago. I had a very hard time identifying a second reviewer, and so a lot of time has passed. I want to double-check after all this time that you are still willing and able to review.
Title: **Auto-eD: A visual learning tool for automatic differen

[2021-12-28 13:28] ConorIA commented on #100
Hello @labarba, thanks very much!

Tagged as 21.12 https://gitlab.com/claut/man_ccia/-/tags/21.12
Zenodo deposit at https://doi.org/10.5281/zenodo.5807576

[2021-12-29 17:07] magsol commented on #144
Hi @tracykteal! Haven't heard from you in several weeks now. Are you able to complete your review soon, or should we look for another reviewer? Please advise as soon as you can.

[2021-12-29 23:35] labarba commented on #100
@whedon set 21.12 as version

[2021-12-29 23:35] whedon commented on #100
OK. 21.12 is the version.

[2021-12-29 23:38] labarba commented on #100
@whedon set 10.5281/zenodo.5807576 as archive

[2021-12-29 23:38] whedon commented on #100
OK. <a href="https://doi.org/10.5281/zenodo.5807576" target="_blank">10.5281/zenodo.5807576</a> is the archive.

[2021-12-29 23:38] labarba commented on #100
@whedon recommend-accept

[2021-12-29 23:38] whedon commented on #100
[code]

[2021-12-29 23:39] whedon commented on #100
[code]

[2021-12-29 23:39] whedon commented on #100
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/72

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/72, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-29 23:40] labarba commented on #100
@ConorIA – Please give your proof one final check before we publish it and give me the go ahead here!

[2021-12-30 00:08] ConorIA commented on #100
Thanks @labarba. I hadn't noticed that we had consistently used "Masters" as an adjective, rather than "master's". There were also another couple of stray capitals. I have made these minor changes to paper.md. Is it necessary to create a new tag and Zenodo deposit?

[2021-12-30 11:49] labarba commented on #100
No need for a new deposit for minor copy editing fixes on the pape. JOSE makes a permanent archive of the paper anyway.

[2021-12-30 11:50] labarba commented on #100
@whedon accept deposit=true

[2021-12-30 11:50] whedon commented on #100
[code]

[2021-12-30 11:50] whedon commented on #100
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/73
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00100](https://doi.org/10.21105/jose.00100)
2. If everything looks

[2021-12-30 11:55] labarba commented on #100
Congratulations, @ConorIA, your JOSE pape is accepted! 🚀

Huge thanks to our Reviewers: @jwagemann, @JeremyFyke — we appreciate your contribution to this adventure in indie scholarly publication!

[2021-12-30 11:57] #100 closed

[2021-12-30 11:57] whedon commented on #100
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00100/status.svg)](https://doi.org/10.21105/jose.00100)

**We need your help!**

Journal of Open Source Educat

[2021-12-30 12:05] labarba commented on #140
I have now sent the first reviewer an email asking for an update.

[2021-12-30 12:09] labarba commented on #131
hi @ConorIA 👋  — You just had a paper accepted in JOSE. Congrats! Would you be willing to contribute back with a review! We have a big submission that we are chunking in three parts for the review, and so need six reviewers. Have a look:
Title: "Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"
Pre-review: https://github.com/open

[2021-12-30 13:36] ConorIA commented on #131
Hi @labarba, first, thanks! I would of course be happy to contribute a review. Looking at the breakdown, I think I'd be best suited to review part 1, but I am happy to review one of the other sections if you have enough reviewers for part 1.

[2021-12-30 13:50] ConorIA commented on #100
Fantastic! Thank you very much for the reviews @jwagemann and @JeremyFyke. The published product is significantly improved thanks to your insightful comments and suggestions. A huge thanks also goes to to you, @labarba, for steering this ship.

[2021-12-30 16:52] tracykteal commented on #144
Thanks! I've gone through my review, and I'm very sorry for the delay. I also recommend this paper for publication without revision. This is an excellent lesson that creates a clear 2 day curriculum that is easy to use for instructors and learners, reducing the overhead of getting started.

This is a lesson based on Software Carpentry and developed by the UM Carpentries instance, so it makes sense

[2021-12-31 21:12] zenalapp commented on #144
Thanks, @tracykteal! We have merged your PR and updated the language about our connection to Carpentries lessons.

@magsol is there anything else we need to do?

[2021-12-31 22:36] labarba commented on #131
Thank you, @ConorIA—and indeed we need reviewers for Part 1. I will assign you now, and we will start the review as soon as we secure sufficient reviewers. Feel free to start exploring the materials in the interim. We shall persevere!

[2021-12-31 22:36] labarba commented on #131
@whedon add @ConorIA as reviewer

[2021-12-31 22:37] whedon commented on #131
OK, @ConorIA is now a reviewer

[2022-01-01 01:20] magsol commented on #144
@whedon generate pdf

[2022-01-01 01:20] whedon commented on #144
PDF failed to compile for issue #144 with the following error:
[code]

[2022-01-01 01:24] magsol commented on #144
@whedon generate pdf

[2022-01-01 01:25] whedon commented on #144
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00144/jose.00144/10.21105.jose.00144.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00144/jose.00144/10.21105.jose.00144.pdf) :page_facing_up: :point_left:

[2022-01-01 01:27] magsol commented on #144
@whedon check references

[2022-01-01 01:27] whedon commented on #144
[code]

[2022-01-01 01:29] magsol commented on #144
@zenalapp This looks great! At this point I'd ask for you to create a *tagged release* (only if you don't already have one, or have made updates since your last one) and *archive*, and post both the release **version number** and the **archive DOI** here, and I can take it from there.

[2022-01-01 02:36] kelly-sovacool commented on #144
@magsol I just released version `1.0.0` with DOI `10.5281/zenodo.5812479`.

[2022-01-01 20:26] magsol commented on #144
@whedon set 10.5281/zenodo.5812479 as archive

[2022-01-01 20:26] whedon commented on #144
OK. <a href="https://doi.org/10.5281/zenodo.5812479" target="_blank">10.5281/zenodo.5812479</a> is the archive.

[2022-01-01 20:26] magsol commented on #144
@whedon set v1.0.0 as version

[2022-01-01 20:26] whedon commented on #144
OK. v1.0.0 is the version.

[2022-01-01 20:26] magsol commented on #144
@whedon recommend-accept

[2022-01-01 20:26] whedon commented on #144
[code]

[2022-01-01 20:26] whedon commented on #144
[code]

[2022-01-01 20:27] whedon commented on #144
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/74

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/74, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-01 22:13] labarba commented on #144
@pschloss – Could you try to fix the horizontal badness on URLs that appear in the References? Maybe using a `\url` inside the `howpublished` field of the `.bib` entry?

<img width="932" alt="Screen Shot 2022-01-01 at 7 10 33 PM" src="https://user-images.githubusercontent.com/4800109/147861164-46c44281-6ff9-4b0d-8d66-3ffb34ad2ecb.png">

[2022-01-03 13:41] zenalapp commented on #144
Just merged the PR from @kelly-sovacool to fix this.

[2022-01-03 15:22] jgorzalski commented on #151
Hi @mattforshaw 👋 Would you consider volunteering to review for JOSE (The Journal of Open Source Education, sibling journal to JOSS). We are looking for reviewers with your skillset to check out this submission: **"An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course"** [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob

[2022-01-03 19:51] MattForshaw commented on #151
Hi @jgorzalski; I would be happy to help but I'm fully committed until early January so there would likely be a delay of around a month before I could perform my review. Please feel very welcome to assign this to me if it would be acceptable. Best wishes, Matt

[2022-01-04 11:16] moorepants commented on #148
Yes, I'm not sure how to do this though.

[2022-01-04 11:17] moorepants commented on #148
@whedon set version as v1.1.1

[2022-01-04 11:17] whedon commented on #148
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-04 11:18] moorepants commented on #148
@whedon set v1.1.1 as version

[2022-01-04 11:18] whedon commented on #148
OK. v1.1.1 is the version.

[2022-01-04 11:18] moorepants commented on #148
I see I was doing that incorrectly above.

[2022-01-04 11:19] moorepants commented on #148
@whedon recommend-accept

[2022-01-04 11:19] whedon commented on #148
[code]

[2022-01-04 11:19] whedon commented on #148
[code]

[2022-01-04 11:19] whedon commented on #148
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/75

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/75, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-04 11:22] moorepants commented on #148
@sebastianrosenzweig, you still need to address this comment:

[2022-01-04 14:30] sebastianrosenzweig commented on #148
Dear @moorepants,
First of all Happy New Year and sorry, for the delay in the process.
We had to update the notebooks again to fix some links, update the year and references. Also we published a new version 1.1.2 .
Could you please use v1.1.2 for the article? The Zenodo DOI is: 10.5281/zenodo.5817272
We also changed the Zenodo authors to match the JOSE authors.
Thanks!

[2022-01-04 14:52] moorepants commented on #148
@whedon set v1.1.2 as version

[2022-01-04 14:52] whedon commented on #148
OK. v1.1.2 is the version.

[2022-01-04 14:52] moorepants commented on #148
@whedon set 10.5281/zenodo.5817272 as archive

[2022-01-04 14:53] whedon commented on #148
OK. <a href="https://doi.org/10.5281/zenodo.5817272" target="_blank">10.5281/zenodo.5817272</a> is the archive.

[2022-01-04 14:56] moorepants commented on #148
@whedon recommend-accept

[2022-01-04 14:56] whedon commented on #148
[code]

[2022-01-04 14:56] whedon commented on #148
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/76

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/76, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-04 14:59] moorepants commented on #148
@openjournals/jose-eics, this should now be ready for full acceptance. The PR `#76` looks correct to me.

[2022-01-05 15:54] ethanwhite commented on #139
I have now completed the revision. Thanks again to @catherinehulshof & @smwindecker for both their detailed fixes and their broader long-term suggestions! All of the issues listed in my comment above have been addressed and closed and a new release made: https://github.com/datacarpentry/semester-biology/releases/tag/v4.2.0. This release is available on Zenodo at https://doi.org/10.5281/zenodo.5821

[2022-01-07 12:00] andrewmaclachlan commented on #141
Hi there, just a small update from me. I've gone through and addressed the majority of points raised by the reviewers with just a few left to do - i'm hoping to finish it off next week and then i'll give a full response.

[2022-01-08 03:35] firasm commented on #117
This is fantastic @zdelrosario - well done. It's been a long time but I think you've addressed all my comments, so I'm happy!

The content is much more discoverable now. I except it will also make it easy for others to use your work as well. I'm not sure what your overall goal is with the project, but if you like, you can convert the repo to a ["template" repo](https://docs.github.com/en/repositor

[2022-01-08 13:34] JasonJWilliamsNY commented on #103
Talking with additional potentials reviewers so just posting an update

[2022-01-08 16:46] labarba commented on #144
@whedon generate pdf

[2022-01-08 16:46] whedon commented on #144
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00144/jose.00144/10.21105.jose.00144.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00144/jose.00144/10.21105.jose.00144.pdf) :page_facing_up: :point_left:

[2022-01-08 16:53] labarba commented on #144
@whedon accept deposit=true

[2022-01-08 16:53] whedon commented on #144
[code]

[2022-01-08 16:54] whedon commented on #144
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/77
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00144](https://doi.org/10.21105/jose.00144)
2. If everything looks

[2022-01-08 16:55] labarba commented on #144
Congratulations, @zenalapp and co-authors, your article is published in JOSE! 🚀

Huge thanks to our Editor: @magsol and the Reviewers: @kdillmcfarland, @tracykteal — we appreciate your contribution to this adventure in publishing 🙏

[2022-01-08 16:55] #144 closed

[2022-01-08 16:55] whedon commented on #144
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00144/status.svg)](https://doi.org/10.21105/jose.00144)

**We need your help!**

Journal of Open Source Educat

[2022-01-10 15:55] TomDonoghue commented on #152
Hey @ShanEllis - I can get started on this review this week - just wanted to check if we are able to open the review issue yet, or if we perhaps need to wait for another reviewer?

[2022-01-10 19:14] pschloss commented on #117
I'm happy with the changes that were made. Well done!

[2022-01-10 20:12] labarba commented on #148
@sebastianrosenzweig — Would you mind updating the metadata of the Zenodo deposit so the title of the archive matches the title of the paper?

[2022-01-10 21:02] anaiy2004 commented on #124
@jgorzalski I apologize for the late response; for some reason, I did not get a notifaction. I will make sure to reply on this thread when we are ready for another review. We are currently working on the tutorials so we can have a more full submission.

[2022-01-11 07:26] sebastianrosenzweig commented on #148
@labarba Done, we changed the title.

[2022-01-12 14:25] ShanEllis commented on #139
Thank you so much @ethanwhite! (Sorry for delay on my end.)

At this point, I'd like to give @catherinehulshof and @smwindecker a chance to look over the authors' responses and changes made to see if they're satisfied at this point and if they recommend publication?

Also, I'll begin now, and will continue once we have responses from both reviewers, to do final checks and make any further small su

[2022-01-12 14:27] ShanEllis commented on #152
@mnarayan  I totally understand! Thanks for the reply!

[2022-01-12 14:34] ShanEllis commented on #152
Hi @lechten - I'm reaching out to see if you're interested in reviewing a manuscript for JOSE titled "An open learning resource on Reproducible Data Science with Open-Source Python Tools and Real-World Data", as I think it would be a good fit for your interests/expertise and passion for OER.

And, if you have any questions about the open-review process with JOSE/making your decision, please feel f

[2022-01-12 14:37] ShanEllis commented on #152
@TomDonoghue Ideally, I would have two reviewers at this point and would start the official review issue at that point...but the holidays/catching up got the best of me. So, I'll work to get a second reviewer now.  And, there is a manual way to add a reviewer after the fact. So, I'll start the review now, and add our second reviewer when we have them so that you can get started!

@whedon start rev

[2022-01-12 14:37] ShanEllis commented on #152
@whedon start review

[2022-01-12 14:38] whedon opened #156 "[REVIEW]: An open learning resource on Reproducible Data Science with Open-Source Python Tools and Real-World Data"
**Submitting author:** @valdanchev (<a href="http://orcid.org/0000-0002-7563-0168">Valentin Danchev</a>)
**Repository:** <a href="https://github.com/valdanchev/reproducible-data-science-python" target ="_blank">https://github.com/valdanchev/reproducible-data-science-python</a>
**Version:** v2.1.2
**Editor:** @ShanEllis
**Reviewer:** @TomDonoghue, @lechten
**Archive:** <a href="https://doi.org/10.5

[2022-01-12 14:38] whedon commented on #152
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/156.

[2022-01-12 14:38] #152 closed

[2022-01-12 14:38] whedon commented on #156
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomDonoghue it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2022-01-12 14:38] whedon commented on #156
Wordcount for `paper.md` is 1603

[2022-01-12 14:38] whedon commented on #156
[code]

[2022-01-12 14:39] whedon commented on #156
[code]

[2022-01-12 17:23] ShanEllis commented on #139
@whedon generate pdf

[2022-01-12 17:23] ShanEllis commented on #139
@whedon check references

[2022-01-12 17:23] whedon commented on #139
[code]

[2022-01-12 17:23] whedon commented on #139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: :point_left:

[2022-01-12 18:16] ShanEllis commented on #152
Thank you for the fast reply, @lechten! I think a month (or so) is more than fair.

Will give @valdanchev a bit to chime in to see if that works for them as well.

If it works for everyone, I'll add you as a reviewer at that point, but I won't check in with you until mid-late February, of course.

[2022-01-12 20:46] shawnrhoads commented on #146
Hi all,

Thank you again for this helpful feedback! We have updated the paper and repository to reflect the following changes. For ease of review, we have separated our updates with two pull requests: [#184](https://github.com/shawnrhoads/gu-psyc-347/pull/184) updates the repository contents and [#186](https://github.com/shawnrhoads/gu-psyc-347/pull/186) updates the paper contents. Reviewers can v

[2022-01-12 20:48] shawnrhoads commented on #146
@whedon generate pdf

[2022-01-12 20:49] whedon commented on #146
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: :point_left:

[2022-01-12 23:33] ShanEllis commented on #152
@whedon assign @lechten as reviewer

[2022-01-12 23:33] whedon commented on #152
OK, @lechten is now a reviewer

[2022-01-13 16:41] andrewmaclachlan commented on #141
Hi there, please see the response to @TomasBeuzen's review below. @darribas gave a few similar comments, but i'll address those in full over the next few days as well.

### Jose paper
- [ ] The only thing missing is a reference to what the author's expertise is in the area, which is one of the review checklist items (Does the paper tell the "story" of how the authors came to develop it, or what th

[2022-01-13 20:50] abhijna commented on #132
Hello @willingc and @giuliaguidi, are there any updates on the review status of this paper? Please let me know if you need anything.

[2022-01-14 04:31] giuliaguidi commented on #132
I'll complete it by the end of the next week.

Best,
Giulia

On Thu, Jan 13, 2022 at 12:50 PM Abhijna Parigi ***@***.***>
wrote:

[2022-01-14 18:40] emckiernan commented on #146
@shawnrhoads: Great, thanks so much!

@djmannion, @arokem: Could you please look over the revisions, and let us know if you have any questions/comments/concerns, or whether you approve the revised paper? Thanks in advance!

[2022-01-14 20:57] labarba commented on #132
Hi everybody — the handling editor, @willingc, will need to add one more reviewer here before running `@whedon start review`, which will open a new issue thread that will show a review checklist for each reviewer (and close this thread).

@giuliaguidi : You can start reviewing the materials, but the conversation about revisions, etc., will happen in the Review thread.

[2022-01-16 03:34] djmannion commented on #146
I'm happy to approve the revised paper. Thanks to the authors for creating this resource and writing it up!

A few other general comments below.

The documentation on how to build the course site is clear and I was able to build it successfully (though it is missing the Contributing document, which seems to require the build to go via github).

I noticed that there are quite a few locations where

[2022-01-16 15:59] magsol commented on #121
Hi all! Touching base again.

@KiCh84 has your work situation improved at all? Any sort of timeline to completing the review? Or do we need to look for other reviewers?

@krother It looks like you're -almost- finished with the review; just a couple more items to check off. Are these items you can finish, or do you need feedback from the authors?

@TomDonoghue @voytek Any feedback for the reviewers

[2022-01-17 10:45] andrewmaclachlan commented on #141
@darribas see below the responses to the points in your review.

Thanks again to both reviewers for their useful insight. Let me know if any further clarification is needed. The edits have been made to the live version of the book - https://andrewmaclachlan.github.io/CASA0005repo/

### General checks
- [ ]  Version: Does the release version given match the repository release (2.0)?
- I did create

[2022-01-17 10:54] moorepants commented on #148
@openjournals/jose-eics, is the change satisfactory to finalize this publication?

[2022-01-17 14:52] BrunaPavlack commented on #149
Hello! sorry for the delay in getting back. We are finalizing implementations of feedback received by reviewers. We have already updated some suggestions in the tutorial. We've added more installation instructions and also added in readme more information about contributions. We need to finish the question of updating the tests and also the version to put in ZENODO. About the format of the tutoria

[2022-01-18 15:59] whedon commented on #123
:wave: @stefania11, please update us on how your review is going (this is an automated reminder).

[2022-01-19 18:41] KiCh84 commented on #121
Hi ! Could you give me till end of Feb ? That would be awesome , if that's
possible!

On Sun, Jan 16, 2022, 17:00 Shannon ***@***.***> wrote:

[2022-01-20 19:18] giuliaguidi commented on #132
@labarba sounds good, I mostly completed my review—I'll wait for @willingc to start the review thread to copy/paste it over there.

[2022-01-23 03:44] zdelrosario commented on #117
@firasm Thanks! I'll give the template repository option some thought: Helping others use the action infrastructure definitely sounds useful, but doesn't that also prevent forking? I would also like to allow folks to easily contribute to improving the materials, so it seems like a tradeoff to me.

@pschloss Thanks!

@ttimbers Please let me know if there is anything else I need to do to finish up t

[2022-01-23 06:21] firasm commented on #117
Template repos can still be forked - they are mostly independent.

[2022-01-24 03:29] arokem commented on #146
I have checked all the boxes in my list, and I'm happy to approve the revised paper.

[2022-01-24 15:19] moorepants commented on #148
@openjournals/jose-eics Hi, just checking on this again. It may only need the final approval. Hopefully all concerns are addressed.

[2022-01-24 16:06] labarba commented on #148
@whedon accept deposit=true

[2022-01-24 16:06] whedon commented on #148
[code]

[2022-01-24 16:07] whedon commented on #148
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/78
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00148](https://doi.org/10.21105/jose.00148)
2. If everything looks

[2022-01-24 16:10] labarba commented on #148
Congratulations, @sebastianrosenzweig, your JOSE paper is published! 🚀

Huge thanks to our Editor: @moorepants, and Reviewers: @boisgera , @alfredocarella — your contributions make this adventure in indie publishing a reality and we are grateful 🙏

[2022-01-24 16:10] #148 closed

[2022-01-24 16:10] whedon commented on #148
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00148/status.svg)](https://doi.org/10.21105/jose.00148)

**We need your help!**

Journal of Open Source Educat

[2022-01-24 16:21] zdelrosario commented on #117
@firasm good to know! No reason not to make it a template repo then. I'll make sure to [add some documentation](https://github.com/zdelrosario/data-science-curriculum/issues/37) on this use-case.

[2022-01-24 19:21] sebastianrosenzweig commented on #148
Thank you @moorepants @alfredocarella @boisgera @labarba for this excellent review process and for your initiative.
We are grateful and happy at the same time! :-)

[2022-01-24 19:34] emckiernan commented on #146
Super, thanks @djmannion and @arokem for your reviews! We're very grateful.

@shawnrhoads: Looks like we're almost there! There's just a few minor comments above from @djmannion that I'd suggest looking over. As mentioned, it's not necessary to address all of these, but I think some would definitely be worth thinking about/doing. Just let me know when you've got the final version, and then I think

[2022-01-24 19:59] moorepants commented on #148
Congrats @sebastianrosenzweig! And thanks to the reviewers @boisgera and @alfredocarella. It was a pleasure working with you all on this.

[2022-01-24 21:47] shawnrhoads commented on #146
Sounds great, thank you all so much for these reviews!

I just merged a few updates with [#187](https://github.com/shawnrhoads/gu-psyc-347/pull/187) addressing the following minor suggestions made by @djmannion:

- Thanks for catching these! We now fixed these (see [here](https://shawnrhoads.github.io/gu-psyc-347/module-01-01_Intro-to-Python.html#modules)).

- Thanks for catching this, too. This w

[2022-01-25 00:25] TomDonoghue commented on #156
I've worked through most of my review, including exploring through the content, and checking I can run some examples through Binder etc.

I have some practical suggestions, that I have described in detail on the resource repository, including:
- [a suggestion to organize and more explicitly order the content](https://github.com/valdanchev/reproducible-data-science-python/issues/6)
- [some minor fo

[2022-01-25 04:30] willingc commented on #132
@whedon list reviewers

[2022-01-25 04:30] whedon commented on #132
Here's the current list of reviewers: https://bit.ly/jose-reviewers

[2022-01-25 04:35] willingc commented on #132
@betatim @choldgraf @sgibson91 Do any of you have time to do a review of this paper? Requires some knowledge of AWS. I would really appreciate it. Thanks.

@abhijna I'm back now so this should get back on track. Sorry for the delay.

[2022-01-25 09:51] sgibson91 commented on #132
I wonder if @damianavila has the time and expertise for this? (I haven't used AWS... yet)

[2022-01-26 14:38] whedon commented on #156
:wave: @TomDonoghue, please update us on how your review is going (this is an automated reminder).

[2022-01-26 16:10] emckiernan commented on #146
@shawnrhoads: Super, thanks, we are good for final acceptance! Congrats!

This is the first time I get to this stage as a JOSE editor, so please bear with me :) In the guidelines it says, "When a submission is accepted, we ask that the authors create an archive (on Zenodo, figshare, or other) and post the archive DOI in the REVIEW issue". Could you please do this and post the DOI here? I can then

[2022-01-26 16:19] labarba commented on #146
First make a tagged release in the repository, and post the version number here.

Erin, you will then run `@whedon set v1.2.3 as version` here (with the correct version number).

[2022-01-26 16:35] shawnrhoads commented on #146
Incredible! Thanks so much!

The latest tagged release is now `v1.1.0`

[2022-01-26 16:57] shawnrhoads commented on #146
On Zenedo, there is an option that says the following:

Should I provide a DOI from JOSE or have one assigned by Zenodo?

[2022-01-26 17:22] labarba commented on #146
Have Zenodo assign a DOI. This is for the archive of your materials. The JOSE DOI is for the citable paper only.

[2022-01-26 17:35] shawnrhoads commented on #146
Sounds good! Here it is: https://doi.org/10.5281/zenodo.5907205

[2022-01-26 21:18] emckiernan commented on #146
@whedon set v1.1.0 as version

[2022-01-26 21:18] whedon commented on #146
OK. v1.1.0 is the version.

[2022-01-26 21:20] emckiernan commented on #146
@whedon set https://doi.org/10.5281/zenodo.5907205 as archive

[2022-01-26 21:21] whedon commented on #146
OK. <a href="https://doi.org/10.5281/zenodo.5907205" target="_blank">10.5281/zenodo.5907205</a> is the archive.

[2022-01-26 21:21] emckiernan commented on #146
@whedon generate pdf

[2022-01-26 21:21] whedon commented on #146
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: :point_left:

[2022-01-26 21:23] emckiernan commented on #146
@whedon check references

[2022-01-26 21:23] whedon commented on #146
[code]

[2022-01-26 21:26] emckiernan commented on #146
@labarba Hi Lorena, thanks for the assist :) I think everything is good to go here! I've set the version and archive DOI, checked the proofs and refs, etc. Is there anything else for me to do?

[2022-01-26 21:31] labarba commented on #146
👋 If everything is ready to go, you as handling editor run `@whedon recommend-accept` — and I think that would automatically do the check on references and generate the pdf ... try it! 😁

[2022-01-26 21:33] emckiernan commented on #146
@whedon recommend-accept

[2022-01-26 21:33] whedon commented on #146
[code]

[2022-01-26 21:33] whedon commented on #146
[code]

[2022-01-26 21:33] whedon commented on #146
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/79

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/79, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-26 21:35] emckiernan commented on #146
@whedon accept deposit=true

[2022-01-26 21:35] whedon commented on #146
I'm sorry @emckiernan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2022-01-26 21:35] emckiernan commented on #146
Haha, oops! Guess that last one is yours, @labarba!

[2022-01-26 22:06] labarba commented on #146
@whedon accept deposit=true

[2022-01-26 22:06] whedon commented on #146
[code]

[2022-01-26 22:07] whedon commented on #146
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/80
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00146](https://doi.org/10.21105/jose.00146)
2. If everything looks

[2022-01-26 22:13] shawnrhoads commented on #146
Amazing! Thank you again to @arokem and @djmannion for your thoughtful reviews, and to @emckiernan and @labarba for supporting this incredible initiative!

I signed up to be a potential reviewer a few months back and will hope to contribute sometime in the future! 😄

[2022-01-26 22:13] labarba commented on #146
Congratulations, @shawnrhoads, your JOSE paper is published! 🚀

Huge thanks to our Editor: @emckiernan, and the Reviewers: @arokem, @djmannion — your contributions make this adventure in scholarly publication possible, and we are grateful for it 🙏

[2022-01-26 22:13] #146 closed

[2022-01-26 22:13] whedon commented on #146
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00146/status.svg)](https://doi.org/10.21105/jose.00146)

**We need your help!**

Journal of Open Source Educat

[2022-01-27 16:59] valdanchev commented on #156
Thank you so much for these very helpful comments @TomDonoghue. Will go through all of your notes and issues and will write back when I have a revised version that addresses them.

[2022-01-31 14:48] BrunaPavlack commented on #149
Hi! We put the code in the Zenodo. Can be found via the link https://doi.org/10.5281/zenodo.5930686

[2022-02-01 08:52] TomasBeuzen commented on #141
Thanks for addressing all my comments @andrewmaclachlan and congrats again on putting together a great course!

@ttimbers - I'm happy that my review has been addressed 👍 🚀

[2022-02-03 15:34] TosinMA commented on #149
Hello @dalonsoa !
About the tests:

The authors create two ways to verify the usability of the code. The first was the publication of the full code in the Code Ocean platform, which allows anyone to run all the routines e clearly see the response log and figures. It can be accessed by the url
https://codeocean.com/capsule/8871213/tree .
Moreover, there is an error script to check each function typ

[2022-02-03 15:59] TosinMA commented on #149
Hello @dalonsoa !
there was a mistake about the Code Ocean URL. The correct one is
https://codeocean.com/capsule/7566849/tree/v1 .

Sorry about this.

[2022-02-04 19:59] ShanEllis commented on #139
@catherinehulshof and @smwindecker wanted to check in to see if you'd have time to look over the updated manuscript + materials in the next week or so?

[2022-02-07 14:14] saverioperugini commented on #151
Hi,

Are there any updates on this submission?

thanks,

[2022-02-09 16:46] whedon opened #157 "[PRE REVIEW]: Hyper2D: a finite-volume solver for hyperbolic PDEs and hypersonic flows"
**Submitting author:** @sbocce (<a href="http://orcid.org/0000-0003-2276-9606">Stefano Boccelli</a>)
**Repository:** <a href="https://github.com/sbocce/hyper2D" target ="_blank">https://github.com/sbocce/hyper2D</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @ketch, @mandli
**Managing EiC:** Jordan Gorzalski

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-02-09 16:46] whedon commented on #157
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-09 16:46] whedon commented on #157
Wordcount for `paper.md` is 879

[2022-02-09 16:46] whedon commented on #157
[code]

[2022-02-09 16:46] whedon commented on #157
[code]

[2022-02-09 16:46] whedon opened #158 "[PRE REVIEW]: pendsim: Developing, Simulating, and Visualizing Feedback Controlled Inverted Pendulum Dynamics"
**Submitting author:** @rland93 (<a href="http://orcid.org/0000-0001-5394-2737">Mike Sutherland</a>)
**Repository:** <a href="https://github.com/rland93/pendsim" target ="_blank">https://github.com/rland93/pendsim</a>
**Version:** v1.0.0
**Editor:** @moorepants
**Reviewers:** @cooperrc, @repagh
**Managing EiC:** Jordan Gorzalski

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2022-02-09 16:46] whedon commented on #158
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-09 16:47] whedon commented on #157
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00157/jose.00157/10.21105.jose.00157.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00157/jose.00157/10.21105.jose.00157.pdf) :page_facing_up: :point_left:

[2022-02-09 16:47] whedon commented on #158
Wordcount for `paper.md` is 1049

[2022-02-09 16:47] whedon commented on #158
[code]

[2022-02-09 16:47] whedon commented on #158
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00158/jose.00158/10.21105.jose.00158.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00158/jose.00158/10.21105.jose.00158.pdf) :page_facing_up: :point_left:

[2022-02-09 16:57] labarba commented on #157
@sbocce Hi! 👋
Thanks for your submission to JOSE. We'll be looking for a handling editor who will search for appropriate reviewers. But in the meantime, I want to say that you need to work a bit on the paper to flesh out the educational use of the software. Can you say more about how it is used in the classroom? We're looking for sufficient presentation so that another instructor may be able to re

[2022-02-09 17:17] sbocce commented on #157
@labarba Hello, thank you for your message.
Sure, I will modify the paper following your suggestions and push the changes on the repository.
Just one thing: I see that the whedon code counting functionality has missed most of the code (all Fortran files). We previously had this problem and solved it switching from cloc to tokei.

[2022-02-09 17:17] labarba commented on #158
@moorepants — hi Jason! 👋  It looks like this submission is in your wheelhouse, doesn't it? Could you handle it?

[2022-02-10 07:07] moorepants commented on #158
Yes, I'll take this one.

[2022-02-10 07:07] moorepants commented on #158
@whedon assign @moorepants as editor

[2022-02-10 07:07] whedon commented on #158
OK, the editor is @moorepants

[2022-02-10 07:09] moorepants commented on #158
@rland93 can you address "Failed to discover a Statement of need section in paper"?

[2022-02-10 07:09] moorepants commented on #158
Also, can you suggest some reviewers that do not have conflicts of interest:

"@rland93 if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/jose-reviewers) have already agreed to review for JOSE and may be suitable for this submission (please start at the bottom of the l

[2022-02-10 19:54] sbocce commented on #157
@whedon generate pdf

[2022-02-10 19:55] whedon commented on #157
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00157/jose.00157/10.21105.jose.00157.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00157/jose.00157/10.21105.jose.00157.pdf) :page_facing_up: :point_left:

[2022-02-10 20:00] sbocce commented on #157
@labarba Hello, I have modified the paper introducing some examples to show how the software served as an educational tool, in the past. I'm glad to introduce further examples and/or clarifications if needed.

[2022-02-10 21:18] JasonJWilliamsNY commented on #103
More invitations out - this is Niche but I won't give up!

[2022-02-11 20:55] kyleniemeyer commented on #143
Hi  @ashleefv, sorry for the delay here—checking back on this now. I see that @sconde left some issues related to the review, have you been able to address those yet?

@ThomasA have you had a chance to work on your review?

[2022-02-14 15:15] whedon commented on #103
Here's the current list of reviewers: https://bit.ly/jose-reviewers

[2022-02-14 15:16] whedon opened #159 "[REVIEW]: WI Fast Stats: a collection of web apps for the visualization and analysis of WI Fast Plants data"
**Submitting author:** @crsl4 (<a href="http://orcid.org/0000-0002-9789-8915">Claudia Solis-Lemus</a>)
**Repository:** <a href="https://github.com/crsl4/fast-stats" target ="_blank">https://github.com/crsl4/fast-stats</a>
**Version:** v2.1
**Editor:** @JasonJWilliamsNY
**Reviewer:** @pierrerogy, @magitz
**Archive:** <a href="https://doi.org/10.5281/zenodo.6473988" target="_blank">10.5281/zenodo.64

[2022-02-14 15:16] whedon commented on #103
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/159.

[2022-02-14 15:16] #103 closed

[2022-02-14 15:16] whedon commented on #159
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pierrerogy, @magitz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2022-02-14 15:16] whedon commented on #159
Wordcount for `paper.md` is 1131

[2022-02-14 15:16] whedon commented on #159
[code]

[2022-02-14 15:16] whedon commented on #159
[code]

[2022-02-14 15:17] whedon commented on #159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: :point_left:

[2022-02-14 15:19] JasonJWilliamsNY commented on #159
@pierrerogy, @magitz - Thanks so much for helping to review this work. Above, you will each find a checklist of items you should attend to in your review. The review process is meant to be a discussion with the author. You can create issues in the repository and provide additional feedback as the author responds to your comments.

This process has unfortunately taken longer than we would have hopp

[2022-02-14 15:20] whedon commented on #159
Reminder set for @pierrerogy, @magitz in two weeks

[2022-02-15 08:54] krother commented on #121
@magsol on my side, the two issues https://github.com/DataScienceInPractice/Site/issues/5 and https://github.com/DataScienceInPractice/Site/issues/6 are still open.

[2022-02-15 15:46] kyleniemeyer commented on #90
Hi @atrisovic, sorry for the major delay here. I have checked in with the reviewers, and so far @jwagemann has confirmed being able to complete a second review in a few weeks.

[2022-02-16 16:40] magsol commented on #121
Thanks for the update, @krother .

@TomDonoghue @voytek Would you have a chance soon to look into those two remaining issues? If we can knock those out, then by that point hopefully we'll have heard back from @KiCh84 .

[2022-02-17 03:37] jrising commented on #90
@kyleniemeyer Thanks for the update.

[2022-02-19 09:36] krother commented on #121
@magsol both issues I mentioned above have been resolved. From my side, everything is clear now :sun_with_face:

[2022-02-19 16:39] magsol commented on #121
Excellent, thank you so much @krother!

At this point, I think we're just waiting on @KiCh84's completed review.

[2022-02-19 18:48] labarba commented on #140
@whedon remove @adeepak7 as reviewer

[2022-02-19 18:48] whedon commented on #140
OK, @adeepak7 is no longer a reviewer

[2022-02-19 18:49] labarba commented on #140
hi folks, I received email from `@adeepak7` saying personal difficulties made it impossible to complete the review. We are now minus a reviewer. Thanks for your patience.

[2022-02-19 19:28] cicirello commented on #140
@labarba thanks for the update

[2022-02-19 22:37] ashleefv commented on #143
Other deadlines have delayed me in addressing the reviewer's comments, but I have received them.

Ashlee N. Ford Versypt, Ph.D. (she, her, hers)
Associate Professor
Department of Chemical and Biological Engineering
University at Buffalo, The State University of New York
507 Furnas Hall, Buffalo, NY 14260
***@***.***
http://www.cbe.buffalo.edu/fordversypt
________________________________
From: Kyle

[2022-02-21 06:41] TomDonoghue commented on #121
@whedon generate pdf

[2022-02-21 06:42] whedon commented on #121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: :point_left:

[2022-02-21 06:55] TomDonoghue commented on #121
Hey all! I have come back around to this and done a round of edits on the project. As well as responding to current reviewer comments, I fixed up a couple things on the site (including fixing up the project section), and also make some minor updates to the paper (re-generated version available above).

Thank you to @krother for reviewing this work, and for suggesting some helpful comments! I belie

[2022-02-21 20:31] magsol commented on #121
@KiCh84 I hate to bug you on this, but: it looks like the remaining items on your reviewer checklist are pretty straightforward and wouldn't take long for you to verify. Would you mind taking a look sometime this week to see if everything checks out? Thank you so much!!

[2022-02-22 13:19] BrunaPavlack commented on #149
Hello! Any feedback on the fixes we've made?

[2022-02-23 16:45] lindseysbrown commented on #104
@labarba I just wanted to check on this submission since I hadn't seen any updates in a while.

[2022-02-23 16:47] rasbt commented on #104
@labarba I would still be happy to help out. (I think I was waiting for the reviewer "Issue" template.)

[2022-02-24 18:45] pierrerogy opened #160 "References: Do all archival references that should have a DOI list one (e.g., papers, datasets, software)?"

[2022-02-24 18:46] whedon commented on #160
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-24 18:46] #160 closed

[2022-02-24 19:39] pierrerogy commented on #159
Hi @JasonJWilliamsNY , submitted my review as an issue in the app repo. Hopefully I got the process right!

[2022-02-24 20:44] magsol commented on #149
Hi @3mmaRand @dalonsoa:

Would you be able to provide any feedback on the fixes the authors have made? Are the fixes sufficient for publication, or are there more changes needed first?

[2022-02-24 21:38] JasonJWilliamsNY commented on #159
Thanks @pierrerogy I see your issue/comments in the project repository (https://github.com/crsl4/fast-stats/issues/52) they look detailed and helpful. Also thanks for the Checklist. @crsl4 will also find them useful I think. @magitz hope you will have a chance to looks soon.

[2022-02-24 22:40] labarba commented on #104
In all my editing experience, it has _never_ been so hard to secure reviewers! Even though we are a grass-roots journal with no parasitic publisher raking in the big bucks, and folks are generally more willing to review, it is a struggle. I will give it another push!

Thank you @rasbt for your willingness to help. Yes, you are right that we need to start the review (in a new issue) with the checkl

[2022-02-24 22:42] labarba commented on #104
@Atcold 👋 — You had [agreed to review](https://github.com/openjournals/jose-reviews/issues/104#issuecomment-870009251) this submission for us a few months ago. We've struggled to secure reviewers! Are you still willing and able to review?
Title: **Auto-eD: A visual learning tool for automatic differentiation**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.001

[2022-02-25 08:27] valdanchev commented on #156
Thanks so much, @lechten for your very helpful comments and suggestions for improvements. The pointer to nbqa is extremely useful. My teaching-heavy term will be over in a few weeks, and I am looking forward to then revising the resource based on your and @TomDonoghue comments.

[2022-02-25 15:35] labarba commented on #104
@whedon add @Atcold as reviewer

[2022-02-25 15:35] whedon commented on #104
OK, @Atcold is now a reviewer

[2022-02-25 15:36] labarba commented on #104
@whedon start review

[2022-02-25 15:36] whedon opened #161 "[REVIEW]: Auto-eD: A visual learning tool for automatic differentiation"
**Submitting author:** @lindseysbrown (<a href="http://orcid.org/0000-0002-9387-1387">Lindsey Brown</a>)
**Repository:** <a href="https://github.com/lindseysbrown/Auto-eD" target ="_blank">https://github.com/lindseysbrown/Auto-eD</a>
**Version:** v1.0.2
**Editor:** @labarba
**Reviewer:** @rasbt, @Atcold
**Archive:** <a href="https://doi.org/10.5281/zenodo.6800009" target="_blank">10.5281/zenodo.68

[2022-02-25 15:36] whedon commented on #104
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/161.

[2022-02-25 15:36] #104 closed

[2022-02-25 15:36] whedon commented on #161
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rasbt, @Atcold it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2022-02-25 15:36] whedon commented on #161
Wordcount for `paper.md` is 1305

[2022-02-25 15:36] whedon commented on #161
[code]

[2022-02-25 15:37] whedon commented on #161
[code]

[2022-02-25 15:37] whedon commented on #161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00161/jose.00161/10.21105.jose.00161.pdf) :page_facing_up: :point_left:

[2022-02-25 15:38] labarba commented on #104
@rasbt, @Atcold — the review issue is now opened! Head over to:
https://github.com/openjournals/jose-reviews/issues/161

[2022-02-25 15:39] labarba commented on #161
@rasbt, @Atcold — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed! 🚀

[2022-02-25 15:50] jgorzalski commented on #151
@MattForshaw 👋  are you still interested in reviewing this submission?

[2022-02-25 15:51] jgorzalski commented on #151
Hi @georgiastuart 👋 Would you consider volunteering to review for JOSE (The Journal of Open Source Education, sibling journal to JOSS). We are looking for reviewers with your skillset to check out this submission: "An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course" [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/j

[2022-02-25 15:53] MattForshaw commented on #151
Hi @jgorzalski, yes I'll be very happy to help.

[2022-02-25 15:54] csev commented on #151
Hey @jgorzalski and @labarba I will take a look at this as well.

[2022-02-25 15:55] labarba commented on #129
hi @amoodie 👋  How are things going? Let us know if you are working on the installation issues noted above.

[2022-02-25 15:55] jgorzalski commented on #151
@whedon add @MattForshaw as reviewer

[2022-02-25 15:56] whedon commented on #151
You need to assign an editor first.

[2022-02-25 15:57] georgiastuart commented on #151
Happy to review!

[2022-02-25 15:59] csev commented on #151
Hey @jgorzalski - I have looked through the PDF and like it a lot.  But I want to do some basic testing - it seems as though I cannot highlight and/or launch the links from the generated PDF.

[2022-02-25 16:02] labarba commented on #151
@csev Thanks for the help! Since we have two willing reviewers, I'll assign you as editor here (Jordan and I will help!) and we can start the review, and you can post your assessment of the submission there.

Note that you have to download the PDF to click on any embedded links. The GitHub preview doesn't allow it.

[2022-02-25 16:02] labarba commented on #151
@whedon assign @csev as editor

[2022-02-25 16:02] whedon commented on #151
OK, the editor is @csev

[2022-02-25 16:02] labarba commented on #151
@whedon assing @MattForshaw as reviewer

[2022-02-25 16:03] whedon commented on #151
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-25 16:03] labarba commented on #151
@whedon assign @MattForshaw as reviewer

[2022-02-25 16:03] whedon commented on #151
OK, @MattForshaw is now a reviewer

[2022-02-25 16:03] labarba commented on #151
@whedon add @georgiastuart as reviewer

[2022-02-25 16:03] whedon commented on #151
OK, @georgiastuart is now a reviewer

[2022-02-25 16:03] labarba commented on #151
@whedon start review

[2022-02-25 16:03] whedon opened #162 "[REVIEW]: An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course"
**Submitting author:** @saverioperugini (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://bitbucket.org/saverioperugini/operating-systems-lab-manual/" target ="_blank">https://bitbucket.org/saverioperugini/operating-systems-lab-manual/</a>
**Version:** JOSE_v1.0.0
**Editor:** @csev
**Reviewer:** @MattForshaw, @georgiastuart
**Archive:** <a href=

[2022-02-25 16:03] whedon commented on #151
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/162.

[2022-02-25 16:03] #151 closed

[2022-02-25 16:03] whedon commented on #162
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MattForshaw, @georgiastuart it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2022-02-25 16:04] whedon commented on #162
Wordcount for `paper.md` is 1842

[2022-02-25 16:04] whedon commented on #162
[code]

[2022-02-25 16:04] whedon commented on #162
[code]

[2022-02-25 16:04] whedon commented on #162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00162/jose.00162/10.21105.jose.00162.pdf) :page_facing_up: :point_left:

[2022-02-25 16:05] labarba commented on #151
@csev and @MattForshaw, @georgiastuart — we started the review in a new issue: head over to https://github.com/openjournals/jose-reviews/issues/162

[2022-02-25 16:05] labarba commented on #162
@MattForshaw, @georgiastuart — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed! 🚀

[2022-02-25 16:07] labarba commented on #162
@csev I don't know anything about operating systems, so I'm grateful for your guidance of this review process 🙏

[2022-02-25 16:10] labarba commented on #157
@whedon assign @labarba as editor

[2022-02-25 16:10] whedon commented on #157
OK, the editor is @labarba

[2022-02-25 16:13] labarba commented on #157
@mandli Hi! 👋
Would you consider volunteering to review for JOSE (The Journal of Open Source Education, sibling journal to JOSS). We are looking for reviewers with your skillset to check out this submission: "An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course" [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00

[2022-02-25 16:14] labarba commented on #157
@ketch Hi! 👋
Would you consider volunteering to review for JOSE (The Journal of Open Source Education, sibling journal to JOSS). We are looking for reviewers with your skillset to check out this submission: "An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course" [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.001

[2022-02-25 17:19] sbocce commented on #157
Hello @labarba I think you may have copied the wrong title by mistake. The title of the submission should be: "Hyper2D: a finite-volume solver for hyperbolic PDEs and hypersonic flows". The link is correct though. Thank you!

[2022-02-25 17:23] csev commented on #162
While I am not a reviewer per se - I did read the paper, checked it our from butbucket and ran LaTeX and it worked and then I looked at the resulting PDF - and that was fine.  One recommendation - Add the instructions on how to checkout and build to the README.md file in the repo.  It was kind of weird going back and forth between the paper and the repo. :)

[2022-02-25 17:32] labarba commented on #157
Yikes! That's what happens when you copy-paste from saved text. Sorry! Will edit.

[2022-02-25 17:42] saverioperugini commented on #162
Done.  Thanks!

Best regards,

Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential and intended only for the use of th

[2022-02-26 08:17] ketch commented on #157
Hi @labarba !  Yes, I'd be happy to review this.

[2022-02-26 13:35] labarba commented on #157
@whedon assign @ketch as reviewer

[2022-02-26 13:35] whedon commented on #157
OK, @ketch is now a reviewer

[2022-02-26 13:36] labarba commented on #157
Thanks, @ketch — that's great! Once I secure the second reviewer, we will start the review in a new issue thread. In the meantime, feel free to start exploring the submission and open any issues in the target repository.

[2022-02-26 17:14] thartbm commented on #118
@whedon set NMA-CN-2021 as version

[2022-02-26 17:20] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-02-26 17:20] whedon commented on #118
[code]

[2022-02-26 17:21] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-02-26 20:03] mandli commented on #157
Sorry for the slow reply, SIAM PP is going on and have been distracted.  I would be happy to serve as a reviewer.

[2022-02-26 20:12] labarba commented on #157
@mandli, thanks, that's great!

[2022-02-26 20:12] labarba commented on #157
@whedon add @mandli as reviewer

[2022-02-26 20:12] whedon commented on #157
OK, @mandli is now a reviewer

[2022-02-26 20:12] labarba commented on #157
@whedon start review

[2022-02-26 20:12] whedon opened #163 "[REVIEW]: Hyper2D: a finite-volume solver for hyperbolic PDEs and hypersonic flows"
**Submitting author:** @sbocce (<a href="http://orcid.org/0000-0003-2276-9606">Stefano Boccelli</a>)
**Repository:** <a href="https://github.com/sbocce/hyper2D" target ="_blank">https://github.com/sbocce/hyper2D</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @mandli
**Archive:** Pending

**:warning: JOSE reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2022-02-26 20:12] whedon commented on #157
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/163.

[2022-02-26 20:12] #157 closed

[2022-02-26 20:12] whedon commented on #163
Wordcount for `paper.md` is 1257

[2022-02-26 20:12] whedon commented on #163
[code]

[2022-02-26 20:14] labarba commented on #163
@ketch, @mandli — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed! 🚀

[2022-02-27 16:32] amoodie commented on #129
Hi all, yes, I'm working on this today. I'm trying to get the installation issues resolved and taking the opportunity to migrate the CI to github actions too. I'll respond to the reviews here, and the relevant issues, when I'm ready. Thanks reviewers for your time thus far!

[2022-02-28 14:12] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-02-28 14:12] whedon commented on #118
[code]

[2022-02-28 14:14] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-02-28 15:16] whedon commented on #159
:wave: @pierrerogy, please update us on how your review is going (this is an automated reminder).

[2022-02-28 15:16] whedon commented on #159
:wave: @magitz, please update us on how your review is going (this is an automated reminder).

[2022-02-28 17:26] JasonJWilliamsNY commented on #159
@crsl4 I'd continue to work on the issues as they come. Will follow up with @magitz if we don't hear back in the next few days.

[2022-02-28 20:18] Atcold opened #164 "Version: Does the release version given match the GitHub release (v1.0.0)?"

[2022-02-28 20:18] whedon commented on #164
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-28 20:18] #164 closed

[2022-02-28 20:20] Atcold commented on #164
There is no version on the GitHub project.
I have no idea how I should communicate this.

[2022-02-28 22:30] ttimbers commented on #117
Thanks @zdelrosario for the revisions in response to @pschloss and @firasm 's very helpful and critical feedback. I will regenerate the PDF and then accept the manuscript (which I just read over again, and enjoyed reading very much!).

@whedon generate pdf

[2022-02-28 22:32] ttimbers commented on #117
@whedon generate pdf

[2022-02-28 22:32] whedon commented on #117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: :point_left:

[2022-02-28 22:33] ttimbers commented on #117
@whedon accept deposit=true

[2022-02-28 22:33] whedon commented on #117
I'm sorry @ttimbers, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2022-02-28 22:34] ttimbers commented on #117
@whedon recommend-accept

[2022-02-28 22:34] whedon commented on #117
No archive DOI set. Exiting...

[2022-02-28 22:38] ttimbers commented on #117
@zdelrosario - I see we have not yet archived this. What we need for you to do next step is to archive this on Zenodo, issue a tagged release on the repository and generate a DOI. Please me know if I can assist you in any way on this. Once you have that, I will recommend accept again.

[2022-02-28 22:51] zdelrosario commented on #117
@ttimbers sure thing! I've already created a [release](https://github.com/zdelrosario/data-science-curriculum/releases/tag/v0.2) on GitHub, and just uploaded an archived copy of this to [Zenodo](https://zenodo.org/record/6314141#.Yh1Rud9OkWo). This has minted the doi: 10.5281/zenodo.6314141

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6314141.svg)](https://doi.org/10.5281/zenodo.6314141)

[2022-03-01 01:13] crsl4 commented on #159
Thanks for confirming! We will get started on the changes then. Thanks Jason!

[2022-03-01 05:56] dalonsoa commented on #149
Hi all. Apologies for the slow reponse.

I've re-reviwed the repositorya and changes. It looks really good - definetly very dydactic; I've learnt a lot about epidemiology reading thorught the documentation! I've ticked most of the boxes above. From the end-user perspective, this is ready to go.

Now, I still think that, from a developers and sustainability perspective, this needs a bit more work:

[2022-03-01 16:55] whedon commented on #118
[code]

[2022-03-01 17:59] thartbm commented on #118
Just a heads up: all requested changes have been made (as far as I know), so the manuscript is going through a last round of internal feedback, and then I hope to resubmit next week. Took longer than even I expected: sorry about that!

[2022-03-01 18:08] emckiernan commented on #118
@whedon set NMA-CN-2021 as version

[2022-03-01 18:08] whedon commented on #118
OK. NMA-CN-2021 is the version.

[2022-03-01 18:12] emckiernan commented on #118
Hi @thartbm, thanks for the update! I've set the new version as you requested. Standing by. Just let me know when you've resubmitted and the manuscript is ready to go back to the reviewers for approval, and then I'll ping them.

[2022-03-02 20:17] BrunaPavlack commented on #149
Thank you so much for the feedback @dalonsoa ! We are adding suggestions. We have already created a document **contributing** and are improving it. About the API, if you can give us more suggestions on how we can do it. Thank you very much in advance!

[2022-03-02 21:12] Atcold commented on #161
# Drafting here my review

It's *really hard* to understand what the repo / project offers.
There seem to be two components: a Python library and a web app.
The web app is hard to use without a tutorial of sorts. The documentation seems more like a lecture, and only later there is a demo of how to use the web app.

The `README.md` or the PDF paper (or both) should clearly state how the project is

[2022-03-02 21:40] rasbt opened #165 "Version: Does the release version given match the GitHub release (v1.0.0)?"

[2022-03-02 21:40] whedon commented on #165
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-03-02 21:40] #165 closed

[2022-03-02 21:42] rasbt commented on #161
@labarba General question about opening issues during the review. Should we be using the "convert to Issue" function here and tagging the author in that issue?
![Screen Shot 2022-03-02 at 3 41 08 PM](https://user-images.githubusercontent.com/5618407/156454318-67c8f6c6-7e5d-4d9a-a8a0-9a1bd20a73dd.png)

Or should we be creating the issues in the project's GitHub repo? Just wondering what the best pr

[2022-03-02 21:51] rasbt commented on #161
@Atcold I have a similar experience.

Looking at the GitHub repository, I think most of the files (except ./docs) are the ones that are uploaded to Heroku for creating the website? Ideally, it should be more clear what we are looking at in this repo. This could be addressed by clarifying the code structure in the Readme file.

@Atcold One of us should probably create an issue for that. Since you c

[2022-03-03 10:17] dalonsoa commented on #149
I'm used to Python, where documenting the API is pretty easy in several ways. It seems that for Octave, this is less straigth forward. Have a look at this comment in StackOverflow (and links therein) for a suggestion on how to do it:

https://stackoverflow.com/a/42030298/3778792

Please, give it a try and check how complex this approach is to use. It might take a while to sort that put, so I'm hap

[2022-03-04 04:55] rland93 commented on #158
@moorepants

Ah! Sorry about the long no-response -- this went to a different email that I don't check regularly.

Thanks for the review!

I have included a Statement of Need section. Maybe there is a particular flag or way of formatting that I need to include. I will look at it.

I don't have too many contacts or ideas for reviewers, but I will ask around.

Best,
Mike

[2022-03-04 05:04] rland93 commented on #158
Alright, https://github.com/rland93/pendsim/commit/ba34d4d70c7411803938da8c4c002519dbfa9e44 should have fixed that issue.

[2022-03-04 05:39] moorepants commented on #158
@rland93 Did you look at the list of reviewers? None of those are possibly suitable?

[2022-03-04 06:49] rland93 commented on #158
I think it would be suitable for these JOSE reviewers, also:

- Cameron Devine
- Sébastien Boisgérault
- Erich Wehrle
- Kyle Niemeyer

I thought you meant external reviewers. Sorry, I am not familiar with this process!

[2022-03-04 06:49] rland93 commented on #158
re: https://github.com/rland93/pendsim/commit/ba34d4d70c7411803938da8c4c002519dbfa9e44

@whedon generate pdf

[2022-03-04 15:14] JasonJWilliamsNY commented on #159
Email reminder sent to @magitz ; no pressure, just making sure everyone is on the same page!

[2022-03-04 19:18] Atcold commented on #161
Yean, I can open the issue, @rasbt.
And I agree with your sentiment of not knowing what we're asked to review.

[2022-03-04 20:08] labarba commented on #161
Hi folks! If you open any issues, be sure that you do so in the target repository, and mention this issue so we get a cross-link between the two. Thanks!

[2022-03-04 20:11] labarba commented on #161
The author submitted this under the "software" article type, not the "learning module," so I suppose the author intends this application to be used as software to support teaching and learning in machine learning courses. If the author does not make clear how they intend their contribution to be re-used, that is useful input for improvement.

[2022-03-04 20:19] lindseysbrown commented on #161
@labarba Thanks for the clarification.  Our submission spanned both so we weren't sure how to submit.

The main contribution is the web app to visualize automatic differentiation that could be used to support any class in which that is taught.  We have additionally provided a learning module that is complemented by the use of the web app as an example of how the app could be incorporated.  For adv

[2022-03-06 11:07] 3mmaRand commented on #149
Aplogies from me too! Once term starts, I'm pushed for time.
I have now viewed the changes and agree that the repo and paper are ready for the end user. Nice work, well done @BrunaPavlack!

[2022-03-07 19:31] Atcold commented on #165
LOL, I did click on convert this check-point to an issue as well 😅

[2022-03-07 19:59] magitz commented on #159
I've created https://github.com/crsl4/fast-stats/issues/53
Ignore the question on authorship...I didn't see the pdf was available above until just now (it's not in the ms folder for some reason) and the table on the paper.md file is a bit of a pain to read and I didn't see that Yizhou is indeed included when scrolling through it.

One other thing that catches my attention now is I am not sure how

[2022-03-09 01:33] ttimbers commented on #117
@whedon set 10.5281/zenodo.6314141 as archive

[2022-03-09 01:34] whedon commented on #117
OK. <a href="https://doi.org/10.5281/zenodo.6314141" target="_blank">10.5281/zenodo.6314141</a> is the archive.

[2022-03-09 01:34] ttimbers commented on #117
@whedon recommend-accept

[2022-03-09 01:34] whedon commented on #117
[code]

[2022-03-09 01:35] whedon commented on #117
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/81

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/81, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-03-09 01:35] whedon commented on #117
[code]

[2022-03-09 02:49] zdelrosario commented on #117
@whedon check references

Hmm, I checked that last invalid DOI, and it appears to be valid in the raw [bibtex file](https://github.com/zdelrosario/data-science-curriculum/commit/cd2869fa04c401425455abc01db496fd1852402b), reproduced below.

[code]

Looks like that double dash `--` might be getting converted to a single dash?

Also couldn't find a DOI for Tukey's EDA, but that's a rather old referen

[2022-03-09 02:49] whedon commented on #117
[code]

[2022-03-11 15:36] whedon commented on #161
:wave: @Atcold, please update us on how your review is going (this is an automated reminder).

[2022-03-11 15:36] whedon commented on #161
:wave: @rasbt, please update us on how your review is going (this is an automated reminder).

[2022-03-11 16:12] georgiastuart commented on #162
Going well! I hope to have my review up next week.

[2022-03-11 17:59] thartbm commented on #118
Sorry to have to say this again, but there are additional delays. All the materials are ready, but there were errors in the registration of projects on OSF (could be my fault), and OSF support has not responded yet.

[2022-03-12 07:32] ttimbers commented on #117
@zdelrosario - apologies for the delay! Was consulting with more experienced folks on what to do here. `10.18260/1-2--22585` looks like a valid DOI and so we can ignore the check saying that it is missing (the checks are not perfect). And yes, as Tukey's book is from quite a while ago, it has no DOI. So again, we can ignore the missing check on that.

[2022-03-12 07:36] ttimbers commented on #117
@openjournals/jose-eics I think this paper should now be ready for full acceptance. Please let me know if I missed a step with whedon.

[2022-03-12 20:12] whedon commented on #163
:wave: @ketch, please update us on how your review is going (this is an automated reminder).

[2022-03-12 20:12] whedon commented on #163
:wave: @mandli, please update us on how your review is going (this is an automated reminder).

[2022-03-13 20:46] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-13 20:46] whedon commented on #118
[code]

[2022-03-13 20:47] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-13 21:04] thartbm commented on #118
@emckiernan The OSF problems solved. I'm not sure how this works, but I'd say this can be considered "resubmitted". Let me know if I need to do something specific. Thanks!

[2022-03-13 21:55] labarba commented on #117
@whedon accept deposit=true

[2022-03-13 21:55] whedon commented on #117
[code]

[2022-03-13 21:55] whedon commented on #117
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/82
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00117](https://doi.org/10.21105/jose.00117)
2. If everything looks

[2022-03-13 21:57] labarba commented on #117
Congratulations, @zdelrosario, your JOSE paper is published! 🚀

Huge thanks to our Editor: @ttimbers, and the Reviewers: @firasm, @pschloss — we couldn't do this without you 🙏

[2022-03-13 21:57] #117 closed

[2022-03-13 21:57] whedon commented on #117
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00117/status.svg)](https://doi.org/10.21105/jose.00117)

**We need your help!**

Journal of Open Source Educat

[2022-03-14 14:58] JasonJWilliamsNY commented on #159
@magitz @crsl4 @pierrerogy - Thanks all for your contributions work. I'll keep my eye as we progress towards a revised version. Please keep me in the loop as I can assist. I'll set a reminder to check back in.

[2022-03-14 14:59] JasonJWilliamsNY commented on #159
@whedon remind @jasonjwilliamsny in two weeks

[2022-03-14 22:22] labarba commented on #118
We just remove the `paused` label. I've done that now.

[2022-03-15 12:01] crsl4 commented on #159
Thanks @JasonJWilliamsNY ! Yizhou and I are working on the revisions and we hope to complete them this week.
Thanks!

[2022-03-15 16:15] emckiernan commented on #118
Great, thanks for the assist, @labarba!

Hi @TomDonoghue, @PaulScotti: Could you please look over the revisions, and let us know if you have any questions/comments/concerns, or whether you approve the revised paper? Thanks in advance!

[2022-03-15 18:24] zdelrosario commented on #117
Thanks @labarba , @ttimbers , @firasm , @pschloss , and everyone at the JOSE team! This whole review process has *significantly* improved the teaching materials, and was overall a very positive experience!

[2022-03-15 19:24] PaulScotti commented on #118
I approve the revised paper, great job to all the authors.

[2022-03-16 14:31] TomDonoghue commented on #118
I've re-read the updated version of the paper, and had a quick look through the updates and materials, etc.

Overall, I think everything looks good to me!

I think a possible thing would be to still think about adding some notes to the repository on how to pursue self-study, how to report bugs, etc (see `Repo Notes` from my review from above), and now it might be useful to link the OSF links, etc.

[2022-03-16 15:51] thartbm commented on #118
@whedon set https://doi.org/10.17605/OSF.IO/CFN4U as archive

[2022-03-16 16:01] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-16 16:15] thartbm commented on #118
OK, I added a note about where to file bugs (issues are open to anyone on the content repo), and hopefully placed table 1 a bit better (the caption is now on a different page). I've told tech about the incorrect link on the org page. Not sure I can do much about guiding self-study more on the wiki at this point.

[2022-03-16 16:31] whedon commented on #118
[code]

[2022-03-16 16:33] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-16 16:45] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-16 17:03] whedon commented on #118
[code]

[2022-03-16 17:05] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-16 17:07] thartbm commented on #118
@emckiernan Yes, please!

I think the last version of the pdf also looks better wrt to placement of table 1. Let me know what the next step is.

[2022-03-16 17:08] emckiernan commented on #118
@whedon set https://doi.org/10.17605/OSF.IO/CFN4U as archive

[2022-03-16 17:12] thartbm commented on #118
@TomDonoghue, @PaulScotti Thanks for all the suggestions, it took some time, but IMO the paper got better because of your feedback.

[2022-03-16 17:16] emckiernan commented on #118
Yes, thanks so much, @TomDonoghue and @PaulScotti!

@thartbm, I'll take one last look over everything this afternoon, and then we should be able to get this formally accepted. Congrats!

[2022-03-16 22:41] emckiernan commented on #118
Hi @thartbm, just a small correction/clarification. The link at the top of your GitHub repo resolves properly now, but it's different from the one listed in the paper Summary. The repo points to https://academy.neuromatch.io/, which does resolve, but the paper points to https://neuromatch.io/academy, which does not. Can you just confirm the link in the text should be the first one, and if so, coul

[2022-03-16 23:05] thartbm commented on #118
Good point. I guess they changed all the domains at some point. I can update the paper, but I'll also ask if we can stick to one plan for all this.

[2022-03-17 00:11] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-17 00:11] whedon commented on #118
[code]

[2022-03-17 00:12] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-17 00:14] thartbm commented on #118
@emckiernan Thanks! It works now.

[2022-03-17 14:52] BrunaPavlack commented on #149
@dalonsoa and @3mmaRand thank you so much for all the contributions! We added a document about the contribution and as the code is used we improve. It was also added to the tutorials about test routines. Regarding the code documentation, we made a file called CODE DOCUMENTATION.md where we explained the functions used in the compartmental models and the inputs and outputs of the codes of the modul

[2022-03-17 16:10] emckiernan commented on #118
@whedon set https://doi.org/10.17605/OSF.IO/CFN4U as archive

[2022-03-17 16:11] emckiernan commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-17 16:11] whedon commented on #118
[code]

[2022-03-17 16:14] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-17 16:18] emckiernan commented on #118
Hi @labarba, sorry to bug you! But we have a potential issue on the proofs for this paper. We've set the archive as  https://doi.org/10.17605/OSF.IO/CFN4U, but when we generate the pdf, the link under Software (pg. 3) doesn't work. (Review and Repository links work fine.) Am I missing anything?

[2022-03-17 18:36] labarba commented on #118
@openjournals/dev 👋 Can you help us? The editor properly set the archive DOI, and the link at the top of this Review issue works, but for some reason the hyperlink in the PDF of the proof is not active (it seems not to have a target URL). Since this is done automatically on the paper compilation step, I'm not sure how we can troubleshoot this?

[2022-03-20 13:28] crsl4 commented on #159
@JasonJWilliamsNY , Yizhou and I have finished working on the reviewers' recommendations. All of our changes are in the [review branch](https://github.com/crsl4/fast-stats/tree/review) which we will merge to master after approval by the reviewers and editorial team. You can find all the responses to reviewers (same that were commented in the [JOSS review 1 issue](https://github.com/crsl4/fast-stat

[2022-03-20 23:35] ttimbers commented on #141
Thanks so much @andrewmaclachlan for your revisions and @TomasBeuzen for confirming that your reviews have been addressed! As a next step I will rebuild the PDF and check it over, and then reply with further next steps.

[2022-03-20 23:35] ttimbers commented on #141
@whedon generate pdf

[2022-03-20 23:36] ttimbers commented on #141
@whedon generate pdf

[2022-03-20 23:41] whedon commented on #141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: :point_left:

[2022-03-20 23:42] whedon commented on #141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: :point_left:

[2022-03-21 04:54] ttimbers commented on #141
@whedon recommend-accept

[2022-03-21 04:54] whedon commented on #141
No archive DOI set. Exiting...

[2022-03-21 04:54] ttimbers commented on #141
@andrewmaclachlan - I see we have not yet archived this. What we need for you to do next step is to archive this on Zenodo, issue a tagged release on the repository and generate a DOI. Please me know if I can assist you in any way on this. Once you have that, I will recommend accept again.

[2022-03-21 19:29] lindseysbrown commented on #161
@Atcold I think you said you were planning on opening an issue, but I didn't see it in the target repo.  I have now added text to both the README and paper (second paragraph in Content) detailing the three different levels of interaction with the software we've provided.

@rasbt @labarba For your reference that this change has been made.  (Still not completely clear on if this was more appropriate

[2022-03-21 22:31] rasbt commented on #161
Thanks for making those updates @lindseysbrown !!

Regarding the scope of the review. I am still unsure what to do here and would appreciate your feedback and clarification @labarba . I recently read through the learning modules and had some thoughts, but I am not sure if this is appropriate/within the scope of this review. When I am looking through the reviewer checklist at the top of this thread

[2022-03-22 11:39] andrewmaclachlan commented on #141
Thanks @ttimbers I have done that (i think!):  DOI: 10.5281/zenodo.6375745

[![DOI](https://zenodo.org/badge/292334942.svg)](https://zenodo.org/badge/latestdoi/292334942)

[2022-03-22 17:23] amoodie commented on #129
# summary

Thank you to the reviewers and editor for taking the time to check out and provide feedback on our SedEdu educational software platform. The reviewers raised a handful of issues and suggestions in their review checklists and specific issues in the repository. We have directly responded to the direct comments, and responded to comments in the checklist where appropriate.

@labarba  pleas

[2022-03-22 19:29] ttimbers commented on #141
@whedon recommend-accept

[2022-03-22 19:29] whedon commented on #141
No archive DOI set. Exiting...

[2022-03-22 19:29] ttimbers commented on #141
@whedon set 10.5281/zenodo.6375745 as archive

[2022-03-22 19:29] whedon commented on #141
OK. <a href="https://doi.org/10.5281/zenodo.6375745" target="_blank">10.5281/zenodo.6375745</a> is the archive.

[2022-03-22 19:29] whedon commented on #141
[code]

[2022-03-22 19:43] hernanrr commented on #129
On my end, issues have been addressed satisfactorily. Thank you @amoodie for taking the time to address them.

[2022-03-22 21:18] labarba commented on #129
@Swanson-Hysell — Let us know your assessment about how the authors have addressed your input and critique. The other reviewer, @hernanrr, is satisfied, and we await for your recommendation to proceed to acceptance of this submission. Thanks!

[2022-03-22 21:23] Swanson-Hysell commented on #129
Hi @labarba, where can we find the updated manuscript? It makes sense for me to have a look at the text that they describe having revised.

[2022-03-22 21:30] labarba commented on #161
👋 hi! When we started JOSE, we planned to have [two submission types](https://openjournals.readthedocs.io/en/jose/submitting.html): software papers, and papers about learning modules (teaching content of some size bigger than a lecture and smaller than a course). When submitting, authors choose one article type, and according to that, our editorial system posts the correct review checklist. On a c

[2022-03-22 21:31] labarba commented on #129
@whedon generate pdf

[2022-03-22 21:31] whedon commented on #129
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: :point_left:

[2022-03-22 21:40] amoodie commented on #129
@Swanson-Hysell fwiw, the changes were pretty minor. I should have included a link to the diff, sorry about that.
https://github.com/sededu/sededu/commit/09bb90b57784da2b8d26a0abc9cd996dde17bf74

[2022-03-22 22:37] ttimbers commented on #141
@openjournals/jose-eics - I ran `@whedon recommend-accept` but it seems stuck. It did not generate the PDF nor check the DOI's. Could you please provide some guidance as to how I should proceed here? Many thanks!

[2022-03-22 23:48] labarba commented on #141
It seems neither of the reviewers has used the "official" checklist at the top of this review issue. This seems a bit messy. What happened?

[2022-03-22 23:49] labarba commented on #141
@whedon re-invite @TomasBeuzen

[2022-03-22 23:49] whedon commented on #141
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-03-22 23:49] labarba commented on #141
@whedon re-invite @TomasBeuzen as reviewer

[2022-03-22 23:49] whedon commented on #141
OK, the reviewer has been re-invited.

@tomasbeuzen please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2022-03-22 23:50] labarba commented on #141
@whedon re-invite @darribas as reviewer

[2022-03-22 23:50] whedon commented on #141
The reviewer already has a pending invite.

@darribas please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2022-03-23 00:43] TomasBeuzen commented on #141
I was unable to edit the original checklist so just copy-pasted it into a new comment. I accepted the new invite and was able to edit the original checklist now. Should be good to go from my end @ttimbers 😄

[2022-03-23 03:37] Swanson-Hysell commented on #129
One of the main response to my input as that the paper is on the SedEdu platform rather than the underlying modules. Overall, this distinction to be content agnostic leaves little to comment on as the focus is then on a GUI dialog that opens up interactive GUIs where the user can vary parameters.

A positive comment that I made that was not addressed is:

Could bear mentioning this documentation?

[2022-03-23 11:33] labarba commented on #141
I see that @ttimbers added a checklist for the second reviewer in a separate [comment](https://github.com/openjournals/jose-reviews/issues/141#issuecomment-937324211). Is @darribas able to check off items there?

Normally the checklist is added automatically by whedon at the top of the thread when starting the review. I checked the Pre-Review issue to figure out why that didn't happen here. Bear i

[2022-03-23 11:40] labarba commented on #141
Ah! @ttimbers, I see you manually edited the reviews in the [top comment](https://github.com/openjournals/jose-reviews/issues/85#issue-660300287) of the Pre-Review. I think the `@whedon add` command is what we needed here.

[2022-03-23 13:43] amoodie commented on #129
Thank you for that positive comment. I apologize for not addressing it directly; it slipped past me. I did consider adding it in the last revision, but was not sure how to add it since it is not a peer reviewed reference. Anyway, I agree that it is useful, so I added it as a reference. A sentence in the Summary section now reads:

Your point on installation is taken. I have revised this text to cl

[2022-03-23 13:43] amoodie commented on #129
@whedon generate pdf

[2022-03-23 13:43] whedon commented on #129
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: :point_left:

[2022-03-23 15:46] Swanson-Hysell commented on #129
Good to see these points addressed. @labarba, fine by me to move forward.

[2022-03-23 16:01] ttimbers commented on #141
Thanks so much for clearing all this up @labarba, and thanks for your patience @andrewmaclachlan ! I am new here in this role 😅

[2022-03-24 17:00] emckiernan commented on #118
Hi @openjournals/dev, just wondering if you had an update on this? I'd like to recommend the paper for acceptance, but was hesitant to do so if there's still a bug to be worked out on the archive DOI. Thanks in advance for any help!

[2022-03-24 21:16] arfon commented on #118
Apologies for the slow reply here. The archive DOI links only become active in the final proofs which are produced with the `recommend-accept` command.

[2022-03-24 21:56] emckiernan commented on #118
@arfon: Ah, good to know, thank you! I'll go ahead and run that!

[2022-03-24 21:57] emckiernan commented on #118
@whedon recommend-accept

[2022-03-24 21:57] whedon commented on #118
[code]

[2022-03-24 21:59] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2022-03-24 22:00] emckiernan commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-24 22:00] whedon commented on #118
[code]

[2022-03-24 22:00] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2022-03-24 22:52] emckiernan commented on #118
Hi @thartbm, your paper is no longer compiling. Did you change anything in the repo in the last week? Links, etc.? If not, I will see if we can troubleshoot from our end...

[2022-03-24 22:54] labarba commented on #118
Try compiling the paper here as a sanity check: https://whedon.theoj.org

[2022-03-24 22:59] emckiernan commented on #118
Thanks, @labarba. I tried this and it failed with the following error: "Can't find any papers to compile. Make sure there's a file named paper.md in your repository."

@thartbm, it looks like there's no longer a file in your repo called paper.md.

[2022-03-24 23:03] TomDonoghue commented on #121
Just wanted to check back in here, since I think we're hopefully quite close, and it would be really nice to finish this.

@KiCh84 - do you know if / when you'll be able to finish the review here?
@magsol - in the mean time, is there anything else we can do to help get this finished up?

[2022-03-24 23:33] emckiernan commented on #118
I think this is a pathway issue. If we look here https://github.com/NeuromatchAcademy/course-content there's no paper.md, but here https://github.com/NeuromatchAcademy/course-content/tree/jose_paper there is. We had this same problem before, see the comment quoted above from @labarba.

[2022-03-24 23:40] thartbm commented on #118
Would it help to put paper.md in the main branch? I can ask tech to move stuff around. The thing is that they don't want to "mess up" the main branch, but they now also want to close the `jose_paper` branch, because it is all getting rather big. Either way works for me... Would we remove the paper.md file at some point anyway? Or could we remove everything in the `jose_paper` branch except paper.m

[2022-03-25 01:16] labarba commented on #118
@whedon recommend-accept from branch jose_paper

[2022-03-25 01:16] whedon commented on #118
[code]

[2022-03-25 01:18] whedon commented on #118
[code]

[2022-03-25 01:18] whedon commented on #118
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/83

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/83, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-03-25 01:20] emckiernan commented on #118
@labarba: Hmm, but then why didn't the command 'generate pdf from branch jose_paper' work? Doesn't it do the same thing?

Well, at least it works now, that's the important thing! Thank you!

[2022-03-25 11:24] labarba commented on #118
I have no idea!

In any case, we will get the upgraded editorial bot soon, and one thing it does have is better handling of branches.

[2022-03-25 11:26] labarba commented on #118
@thartbm
Pleas fix the DOI here: https://github.com/NeuromatchAcademy/course-content/blob/7d033193b94b9290f3e5cf09d61255e3d2f72279/bibliography.bib#L149

[2022-03-25 11:36] thartbm commented on #118
Done.

[2022-03-25 12:20] darribas commented on #141
Hello! @ttimbers / @andrewmaclachlan sorry I've been out of the loop, is there any task on me to re-review? Happy to do it.

[2022-03-25 13:08] labarba commented on #118
Great! Please give the proof one last check, and once you approve the proof, we can proceed to publication.

[2022-03-25 13:22] labarba commented on #141
@darribas Can you check off items in this [checklist](https://github.com/openjournals/jose-reviews/issues/141#issuecomment-937324211)?

[2022-03-25 14:27] thartbm commented on #118
The link to the DOI that I just corrected looks odd - although it works - maybe the proof didn't get updated? Other than that, it all looks great to me.

[2022-03-25 14:35] labarba commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-25 14:36] whedon commented on #118
[code]

[2022-03-25 14:37] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-25 15:37] thartbm commented on #118
Good call: done (in slightly different words).

[2022-03-25 15:47] thartbm commented on #118
The archive link is back to "PENDING"...

[2022-03-25 16:22] labarba commented on #118
@whedon generate pdf from branch jose_paper

[2022-03-25 16:23] whedon commented on #118
[code]

[2022-03-25 16:24] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2022-03-25 16:28] labarba commented on #118
@whedon accept deposit=true from branch jose_paper

[2022-03-25 16:59] thartbm commented on #118
The archive link is not correct, it's as if it's still pending.

[2022-03-25 17:37] labarba commented on #118
@arfon - you said [above](https://github.com/openjournals/jose-reviews/issues/118#issuecomment-1078343779):

We've run the `recommend-accept` command, and the archive link is not produced. There have been a few mysterious things happening on this thread, as we approach to publishing this paper. Is `@whedon` alright?

[2022-03-26 12:18] JasonJWilliamsNY commented on #159
Ok, I'll look through and get us to the next step.

[2022-03-26 18:20] whedon opened #166 "[PRE REVIEW]: Spatial data analysis with R: wrangling, visualization and econometric models"
**Submitting author:** @jaime-pru (<a href="http://orcid.org/0000-0001-5866-1280">Jaime Alberto Prudencio Vázquez</a>)
**Repository:** <a href="https://github.com/jaime-pru/Analisis-de-datos-espaciales" target ="_blank">https://github.com/jaime-pru/Analisis-de-datos-espaciales</a>
**Version:** 1.0
**Editor:** @allisonhorst
**Reviewers:** @hernandezcortes, @nmorandeira
**Managing EiC:** Lorena Barb

[2022-03-26 18:20] whedon commented on #166
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-03-26 18:21] whedon commented on #166
Wordcount for `paper.md` is 974

[2022-03-26 18:21] whedon commented on #166
[code]

[2022-03-26 18:21] whedon commented on #166
[code]

[2022-03-26 18:21] whedon commented on #166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00166/jose.00166/10.21105.jose.00166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00166/jose.00166/10.21105.jose.00166.pdf) :page_facing_up: :point_left:

[2022-03-26 18:22] labarba commented on #166
@whedon assign @allisonhorst as editor

[2022-03-26 18:22] whedon commented on #166
OK, the editor is @allisonhorst

[2022-03-27 01:19] labarba commented on #118
We're having issues again with a lazy editorial bot.

@openjournals/dev Any clue what could be happening here? We've had several instances of the bot not completing the compilation or getting stuck somewhere…

[2022-03-28 14:39] abhijna commented on #132
Hello @willingc, just checking in on the review status of this paper. Are there any updates?

[2022-03-28 16:15] choldgraf commented on #132
Hey all - just realized I didn't reply to this. I don't believe I am the right person to review a paper like this, and sadly am swamped for time right now anyway. Have you considered posting in the JupyterHub Team Compass? I believe that @manics might have some experience with AWS.

[2022-03-28 16:38] manics commented on #132
I might be able to help... Can someone give me a TLDR of what to do/where to start before I commit? 😀

[2022-03-30 12:21] moorepants commented on #158
@boisgera can review the article but not until May 1. We can select him as a tentative reviewer, but I will continue to look for others and if we get two that can start earlier I will go with them. Thank you @boisgera!

[2022-03-30 14:13] labarba commented on #129
Thanks, @Swanson-Hysell — would you mind checking off your pending items on the checklist, for tidy closing of this review?

[2022-03-30 14:26] labarba commented on #140
@whedon recommend-accept

[2022-03-30 14:26] whedon commented on #140
No archive DOI set. Exiting...

[2022-03-30 14:28] labarba commented on #140
Oops. I forgot the final steps. @cicirello – could you:

- make a tagged release on the repo, and post the version number here?
- make an archive of the submission on Zenodo (or an equivalent service) and post the archive DOI here?

[2022-03-30 14:38] labarba commented on #163
hiya, @ketch, @mandli – Would you pop in this review thread and see if you can push it forward a bit? We'd like to get this done within the next month, if you could. Thank you! 🙏

[2022-03-30 14:45] labarba commented on #132
hi @manics — thank you! Have a look at the documentation here: https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html

If you agree to review, we'll start a new issue, which will have a review checklist at the top for each of the reviewers. You can tick off items there, and open issues on the target repository for things you would like to see improved, and we have a conversation in t

[2022-03-30 14:45] cicirello commented on #140
@labarba Great. I'll create the release and archive with Zenodo tomorrow morning. I'll comment again after I do.

[2022-03-31 05:15] moorepants commented on #158
@cooperrc Thanks for your willingness to review. The number of hours should be similar to other journal reviews, it's up to you how much time you spend. A couple of hours is probably the minimum overall. Once we secure at least two reviewers we will set a due date. 2 weeks is really good, a month is probably more realistic.

Have a look at our reviewer guidelines while I continue looking for anoth

[2022-03-31 05:17] moorepants commented on #158
@whedon add @cooperrc as reviewer

[2022-03-31 05:17] whedon commented on #158
OK, @cooperrc is now a reviewer

[2022-03-31 10:51] moorepants commented on #158
Rene van Paasen @repagh has agreed to be a second reviewer. Thanks Rene!

@boisgera I'm going to proceed with Ryan Cooper and Rene as the two reviewers. Thanks for volunteering, but we can reach out to you for a future review.

For Rene and Ryan, please have a look over the https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html to familiarize yourself with the process. I will now ope

[2022-03-31 10:52] moorepants commented on #158
@whedon add @repagh as reviewer

[2022-03-31 10:52] whedon commented on #158
OK, @repagh is now a reviewer

[2022-03-31 10:53] moorepants commented on #158
@rland93 there does not seem to be a tag or release in your github repository corresponding to Version 1.0. Can you please tag the version we will be reviewing?

[2022-03-31 10:55] moorepants commented on #158
@whedon generate pdf

[2022-03-31 10:55] moorepants commented on #158
@whedon check references

[2022-03-31 10:55] moorepants commented on #158
@whedon check repository

[2022-03-31 10:56] whedon commented on #158
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00158/jose.00158/10.21105.jose.00158.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00158/jose.00158/10.21105.jose.00158.pdf) :page_facing_up: :point_left:

[2022-03-31 10:56] whedon commented on #158
[code]

[2022-03-31 10:56] whedon commented on #158
[code]

[2022-03-31 12:01] smwindecker commented on #139
Hi all, I am so sorry I did not see the earlier ping's. I looked over the changes after the release on Jan 6, and they look great. Thank you for your work and best of luck.

[2022-03-31 14:19] cicirello commented on #140
@labarba the version number is v3.1.1 and the Zenodo DOI is https://doi.org/10.5281/zenodo.6402123

[2022-03-31 15:48] labarba commented on #137
@whedon invite @lorenanicole as editor

[2022-03-31 16:47] labarba commented on #139
Great. @ShanEllis : Your reviewers are happy now. Go ahead and run `@whedon generate pdf` and give it one last editorial pass, with any final copy editing suggestions to the author. Once it looks good, ask the authors to issue a tagged release, then archive their repo in Zenodo or similar, and run the commands to set the version and archive DOI here. Then run `@whedon recommend-accept`. Let me kno

[2022-03-31 19:52] JasonJWilliamsNY commented on #159
@crsl4 can you go ahead and merge the review branch? @magitz @pierrerogy are there any items on your checklist that need updating? I think we are just about ready for the EiC to have a look and move to the next stage.

[2022-03-31 20:31] labarba commented on #140
@whedon set v3.1.1 as version

[2022-03-31 20:31] whedon commented on #140
OK. v3.1.1 is the version.

[2022-03-31 20:33] labarba commented on #140
@whedon set 10.5281/zenodo.6402123 as archive

[2022-03-31 20:33] whedon commented on #140
OK. <a href="https://doi.org/10.5281/zenodo.6402123" target="_blank">10.5281/zenodo.6402123</a> is the archive.

[2022-03-31 20:33] labarba commented on #140
@whedon recommend-accept

[2022-03-31 20:33] whedon commented on #140
[code]

[2022-03-31 20:33] whedon commented on #140
[code]

[2022-03-31 20:53] crsl4 commented on #159
Thanks @JasonJWilliamsNY ! I will merge now.

[2022-03-31 21:00] labarba commented on #140
@cicirello – Please give us your approval of the proof, and we will proceed to publication

[2022-03-31 21:08] manics commented on #132
@labarba Thanks, I've read the link and I'm happy to review the submission.

[2022-03-31 21:10] labarba commented on #132
@whedon add @manics as reviewer

[2022-03-31 21:10] whedon commented on #132
OK, @manics is now a reviewer

[2022-03-31 21:11] labarba commented on #132
@whedon start review

[2022-03-31 21:11] whedon opened #167 "[REVIEW]: A virtual training module for introducing the use of Amazon Web Services"
**Submitting author:** @abhijna (<a href="http://orcid.org/0000-0002-5861-3737">Abhijna Parigi</a>)
**Repository:** <a href="https://github.com/nih-cfde/training-and-engagement" target ="_blank">https://github.com/nih-cfde/training-and-engagement</a>
**Version:** 2022.07-aws-jose
**Editor:** @willingc
**Reviewer:** @giuliaguidi, @manics
**Archive:** <a href="https://doi.org/10.5281/zenodo.6816045"

[2022-03-31 21:11] whedon commented on #132
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/167.

[2022-03-31 21:11] #132 closed

[2022-03-31 21:11] whedon commented on #167
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giuliaguidi, @manics it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2022-03-31 21:11] whedon commented on #167
[code]

[2022-03-31 21:13] cicirello commented on #140
@labarba the proof looks good.

[2022-03-31 21:15] labarba commented on #167
@giuliaguidi, @manics — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

Your Editor, @willingc, will take over the shepherding from here.

[2022-03-31 21:16] labarba commented on #167
@whedon generate pdf from branch AWS_Jose_Paper

[2022-03-31 21:16] whedon commented on #167
[code]

[2022-03-31 21:17] whedon commented on #167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00167/jose.00167/10.21105.jose.00167.pdf) :page_facing_up: :point_left:

[2022-03-31 21:18] labarba commented on #140
@whedon accept deposit=true

[2022-03-31 21:18] whedon commented on #140
[code]

[2022-03-31 21:20] labarba commented on #140
Congratulations, @cicirello, your JOSE article is published! 🚀

Huge thanks to the reviewer: @turketwh — we really appreciate your contribution to this adventure in publishing 🙏

[2022-03-31 21:20] #140 closed

[2022-03-31 21:20] whedon commented on #140
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00140/status.svg)](https://doi.org/10.21105/jose.00140)

**We need your help!**

Journal of Open Source Educat

[2022-03-31 21:20] rland93 commented on #158
Thank you Dr. Van Paasen and Dr. Cooper for the review, it is very much appreciated.

Yes! I created [v1.0.0](https://github.com/rland93/pendsim/releases/tag/v1.0.0) this version as a release.

Thanks,
Mike

[2022-03-31 22:02] labarba commented on #108
@jwagemann — @Bryan Weber has started a new job in Coiled and has decided to step down from the JOSE board, as he does not think that he will be able to carve out time to volunteer with us. We will be re-assigning this submission to a new editor soon. Thank you for your patience! 🙏

[2022-03-31 22:03] labarba commented on #92
@lecondon  — @Bryan Weber has started a new job in Coiled and has decided to step down from the JOSE board, as he does not think that he will be able to carve out time to volunteer with us. We will be re-assigning this submission to a new editor soon. Thank you for your patience! 🙏

[2022-03-31 22:06] whedon commented on #118
[code]

[2022-03-31 22:07] whedon commented on #118
[code]

[2022-03-31 22:08] whedon commented on #118
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/86

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/86, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-03-31 22:13] labarba commented on #118
@whedon accept deposit=true from branch jose_paper

[2022-03-31 22:13] whedon commented on #118
[code]

[2022-03-31 22:14] whedon commented on #118
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/87
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00118](https://doi.org/10.21105/jose.00118)
2. If everything looks

[2022-03-31 22:16] labarba commented on #118
Congratulations, @thartbm, your JOSE paper is published! 🚀

Huge thanks to our Editor: @emckiernan and the Reviewers: @TomDonoghue, @PaulScotti — your contribution makes this adventure in publishing possible 🙏

[2022-03-31 22:16] #118 closed

[2022-03-31 22:16] whedon commented on #118
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00118/status.svg)](https://doi.org/10.21105/jose.00118)

**We need your help!**

Journal of Open Source Educat

[2022-03-31 23:11] thartbm commented on #118
Thanks everyone, I'm very grateful for all your work!

[2022-04-01 04:55] moorepants commented on #158
@whedon set v1.0.0 as version

[2022-04-01 04:55] whedon commented on #158
OK. v1.0.0 is the version.

[2022-04-01 04:57] moorepants commented on #158
@whedon start review

[2022-04-01 04:57] whedon opened #168 "[REVIEW]: pendsim: Developing, Simulating, and Visualizing Feedback Controlled Inverted Pendulum Dynamics"
**Submitting author:** @rland93 (<a href="http://orcid.org/0000-0001-5394-2737">Mike Sutherland</a>)
**Repository:** <a href="https://github.com/EASEL-UCI/pendsim" target ="_blank">https://github.com/EASEL-UCI/pendsim</a>
**Version:** v1.2
**Editor:** @moorepants
**Reviewer:** @cooperrc, @repagh
**Archive:** <a href="https://doi.org/10.5281/zenodo.7603937" target="_blank">10.5281/zenodo.7603937</a

[2022-04-01 04:57] whedon commented on #158
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/168.

[2022-04-01 04:57] #158 closed

[2022-04-01 04:57] whedon commented on #168
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cooperrc, @repagh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2022-04-01 04:57] whedon commented on #168
Wordcount for `paper.md` is 1049

[2022-04-01 04:57] whedon commented on #168
[code]

[2022-04-01 04:57] whedon commented on #168
[code]

[2022-04-01 04:58] whedon commented on #168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00168/jose.00168/10.21105.jose.00168.pdf) :page_facing_up: :point_left:

[2022-04-01 05:05] moorepants commented on #168
@cooperrc, @repagh, and @rland93 welcome to the review issue. For the reviewers please read through the above information. I was wrong in the other thread on the timeline, it seems that **6 weeks** is the recommended due date. Note that JOSE reviews are a bit different than most academic journal reviews in that they are open here on Github and there can be a conversation among the reviewers, edito

[2022-04-01 05:06] moorepants commented on #168
@whedon remind @reviewer in 4 weeks

[2022-04-01 05:06] whedon commented on #168
Reminder set for @reviewer in 4 weeks

[2022-04-01 05:07] moorepants commented on #168
Also I believe this submission is the second type we accept "open-source software, created as educational technology or infrastructure" (see https://openjournals.readthedocs.io/en/jose/submitting.html). @rland93, is that correct?

[2022-04-04 13:47] whedon opened #169 "[PRE REVIEW]: SNIK Graph—Visualizing Knowledge about Management of Hospital Information Systems"
**Submitting author:** @KonradHoeffner (<a href="http://orcid.org/0000-0001-7358-3217">Konrad Höffner</a>)
**Repository:** <a href="https://github.com/snikproject/snik-graph" target ="_blank">https://github.com/snikproject/snik-graph</a>
**Version:** 3.0.0
**Editor:** @juanklopper
**Reviewers:** @bwatson, @behollister
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warni

[2022-04-04 13:48] whedon commented on #169
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-04-04 13:48] whedon commented on #169
[code]

[2022-04-04 13:48] whedon commented on #169
[code]

[2022-04-04 13:49] whedon opened #170 "[PRE REVIEW]: The Argo Online School: An e-learning tool to get started with Argo"
**Submitting author:** @Alberto-GS (<a href="http://orcid.org/0000-0001-5781-9330">Alberto González</a>)
**Repository:** <a href="https://github.com/euroargodev/argoonlineschool" target ="_blank">https://github.com/euroargodev/argoonlineschool</a>
**Version:** 1.0
**Editor:** @kls2177
**Reviewers:** @bzemskova
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warning:**

D

[2022-04-04 13:49] whedon commented on #170
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-04-04 13:49] whedon commented on #170
[code]

[2022-04-04 13:49] whedon commented on #170
[code]

[2022-04-04 13:49] whedon commented on #170
Failed to discover a valid open source license.

[2022-04-04 13:49] whedon commented on #170
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00170/jose.00170/10.21105.jose.00170.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00170/jose.00170/10.21105.jose.00170.pdf) :page_facing_up: :point_left:

[2022-04-04 16:37] ttimbers commented on #141
@darribas - a gentle ping to follow-up on checking off the items in this checklist: https://github.com/openjournals/jose-reviews/issues/141#issuecomment-937324211

[2022-04-04 18:01] JasonJWilliamsNY commented on #159
@magitz can you complete your checklist/confirm that you are happy with the revisions? I'll also follow up by email if we don't get a comment soon.

[2022-04-05 08:03] Alberto-GS commented on #170
@whedon given the background, I'd like to propose Ali Ramadhan, Daniel Buscombe, David Pérez-Suárez or Julia Wagemann for reviewing.

Sorry in advance if a make any mistake (JOSE first-timer).

[2022-04-05 08:03] whedon commented on #170
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-04-05 08:03] Alberto-GS commented on #170
@whedon commands

[2022-04-05 08:03] whedon commented on #170
Here are some things you can ask me to do:

[code]

[2022-04-05 08:04] Alberto-GS commented on #170
@whedon list reviewers

[2022-04-05 08:04] whedon commented on #170
Here's the current list of reviewers: https://bit.ly/jose-reviewers

[2022-04-05 08:07] Alberto-GS commented on #170
jwagemann
dpshelio
marda-science
ali-ramadhan

[2022-04-05 15:12] dalonsoa commented on #149
HI @BrunaPavlack , I'm really sorry. I seem to have missed the notification for your previos message.

I am happy to accept the repo as it is now. Well done!

[2022-04-05 17:57] magsol commented on #121
Hi @TomDonoghue , thanks for checking in on things.

@KiCh84: we're waiting for you at this point! If you can't finish in the next week ish, please let me know, as we'd really like to get this over the finish line ASAP.

[2022-04-05 17:58] magsol commented on #149
Fantastic, thank you so much @dalonsoa and @3mmaRand!

[2022-04-05 17:59] magsol commented on #149
@whedon generate pdf

[2022-04-05 17:59] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-05 18:06] whedon commented on #149
[code]

[2022-04-05 18:11] magsol commented on #149
@BrunaPavlack This looks great!!! Last bit to get this pushed out:

Could you create a tagged release and archive, and report the version number and archive DOI? I'll take it from there!

[2022-04-05 20:05] BrunaPavlack commented on #149
Hi! Thank you so much for all your contribution @magsol ! The tag was already created with the version. I updated by putting the DOI. Please confirm that this is correct!

[2022-04-05 20:17] magsol commented on #149
@whedon set 10.5281/zenodo.5930686 as archive

[2022-04-05 20:17] whedon commented on #149
OK. <a href="https://doi.org/10.5281/zenodo.5930686" target="_blank">10.5281/zenodo.5930686</a> is the archive.

[2022-04-05 20:17] magsol commented on #149
@whedon set v1.0.0 as version

[2022-04-05 20:17] whedon commented on #149
OK. v1.0.0 is the version.

[2022-04-05 20:17] magsol commented on #149
@whedon recommend-accept

[2022-04-05 20:17] whedon commented on #149
[code]

[2022-04-05 20:18] whedon commented on #149
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/88

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/88, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-04-05 20:18] whedon commented on #149
[code]

[2022-04-05 22:02] labarba commented on #149
I see the recommendation to accept from  @3mmaRand, in a [comment above](https://github.com/openjournals/jose-reviews/issues/149#issuecomment-1059941543), but some items of the [checklist](https://github.com/openjournals/jose-reviews/issues/149#issue-1051276200) remain unticked. Did you forget to finish ticking those, @3mmaRand, and could you do so now, just to leave the review thread more tidy?

[2022-04-06 07:13] 3mmaRand commented on #149
My apologies, I missed that

[2022-04-06 14:16] labarba commented on #137
@whedon assign @lorenanicole as editor

[2022-04-06 14:16] whedon commented on #137
OK, the editor is @lorenanicole

[2022-04-06 14:18] labarba commented on #170
@whedon invite @lorenanicole as editor

[2022-04-06 14:25] labarba commented on #92
@JasonJWilliamsNY – We need a new editor to take over this submission: can you help?

[2022-04-06 14:27] labarba commented on #108
@ashleefv – We need a new editor to take over this submission: can you help?

[2022-04-06 14:35] labarba commented on #161
Hi @rasbt, @Atcold 👋  – how is it going with your reviews? I see you've checked off a bunch of items on your checklists. Are we waiting for the authors to make some revisions? Give us a quick update when you can!

[2022-04-06 14:42] labarba commented on #162
hi @MattForshaw, @georgiastuart – How is it going with your reviews? Could you give us a quick update? Let us know if you have any questions! 🙏

[2022-04-06 14:48] labarba commented on #169
@whedon invite @juanklopper as editor

[2022-04-06 14:48] whedon commented on #169
@juanklopper has been invited to edit this submission.

[2022-04-06 16:25] ashleefv commented on #108
Yes, you can assign me as editor.

[2022-04-06 16:27] ashleefv commented on #108
@whedon invite @ashleefv as editor

[2022-04-06 16:28] whedon commented on #108
I'm sorry @ashleefv, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2022-04-06 16:49] kyleniemeyer commented on #143
Hi @ashleefv, have you been able to make progress on the submission?

[2022-04-06 16:49] kyleniemeyer commented on #90
@whedon generate pdf

[2022-04-06 16:49] whedon commented on #90
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: :point_left:

[2022-04-06 17:04] labarba commented on #108
he he, you can assign yourself but not _invite_ yourself. Go figure.

I think you can even run `@whedon assign me as editor` (not sure of this one!)

[2022-04-06 17:11] labarba commented on #108
Yep, that was added: https://github.com/openjournals/whedon-api/issues/97
Try it!

[2022-04-06 17:12] juanklopper commented on #169
@whedon assign me as editor

[2022-04-06 17:12] whedon commented on #169
OK, the editor is @juanklopper

[2022-04-06 17:28] ashleefv commented on #108
@whedon assign me as editor

[2022-04-07 18:17] ShanEllis commented on #139
@whedon generate pdf

[2022-04-07 18:18] whedon commented on #139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: :point_left:

[2022-04-07 18:39] ShanEllis commented on #139
Thanks all for your patience here!

 I have gone through and done a final read-through and checked all URLs in the paper - text all looks good to me and all links are working! So, I'll work from the zenodo DOI provided by the authors previously (as no further changes required at this point).

[2022-04-07 18:40] ShanEllis commented on #139
@whedon set 10.5281/zenodo.5821925 as archive

[2022-04-07 18:40] whedon commented on #139
OK. <a href="https://doi.org/10.5281/zenodo.5821925" target="_blank">10.5281/zenodo.5821925</a> is the archive.

[2022-04-07 18:42] whedon commented on #139
OK. v4.2.0 is the version.

[2022-04-07 18:42] ShanEllis commented on #139
@whedon recommend-accept

[2022-04-07 18:42] whedon commented on #139
[code]

[2022-04-07 18:42] whedon commented on #139
[code]

[2022-04-07 18:42] whedon commented on #139
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/89

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/89, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-04-08 12:16] darribas commented on #141
Hello, sorry for the slow movement on this front. I've checked all my original comments and @andrewmaclachlan answers and I'm happy with what it looks like now. I've ticked the missing boxes on the [original comment](https://github.com/openjournals/jose-reviews/issues/141#issuecomment-972204803) but not sure if I need to do anything else, let me know and I'll go ahead. Congratulations @andrewmacla

[2022-04-08 14:48] BrunaPavlack commented on #149
@labarba Is everything ok to accept the paper?

[2022-04-08 23:40] labarba commented on #141
@ttimbers @darribas — I cleaned up this review issue a little bit. There seemed to be some confusion as to where the reviewer should tick off items in their review checklist. When things start smoothly from the Pre-review issue, each reviewer gets a checklist in the top-most comment of the Review thread. If one reviewer is added later, we add the checklist manually by editing that top comment. Her

[2022-04-08 23:42] labarba commented on #141
@whedon recommend-accept

[2022-04-08 23:42] whedon commented on #141
[code]

[2022-04-08 23:43] whedon commented on #141
[code]

[2022-04-08 23:44] whedon commented on #141
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/90

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/90, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-04-08 23:49] ttimbers commented on #141
Thank-you for your help straightening this out @labarba and apologies to the author and reviewers for the mistakes I made earlier on in setting up the review that slowed things down. As @labarba said, this was my first review.

[2022-04-09 00:08] labarba commented on #141
I notice that the tag in the release is `jose`: https://github.com/andrewmaclachlan/CASA0005repo/tags
…whereas the version here was set as `2.0`. These two should match. Which one do you prefer, @andrewmaclachlan?

[2022-04-09 11:27] ashleefv commented on #143
Part of my delay was also hoping I'd get comments back from more than 1 reviewer. So far only one has shared the feedback on this review forum. The other said in Nov. that they were working on it, but I haven't seen the critique.

On Apr 6, 2022 12:49 PM, Kyle Niemeyer ***@***.***> wrote:

Hi @ashleefv<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fashleefv&data=04%

[2022-04-09 11:37] ThomasA commented on #143
I am terribly sorry I have not been very responsive. I have been quite overwhelmed at work due to my team being severely decimated.
I should be able to finish this review over Easter.

[2022-04-10 18:52] thartbm commented on #118
Sorry to open this back up again. Many people were hoping to add this paper to their resume, but it's not showing up on everyone's Google Scholar or other profiles. It does for some, but for example not for me. Any idea what the issue is and if it can be solved?

[2022-04-10 19:33] labarba commented on #118
you can just add the pub manually to your Google Scholar profile

[2022-04-10 19:41] labarba commented on #118
also, Google Scholar takes some time for crawling new pubs, you should wait at least two weeks from ref deposit

[2022-04-11 01:05] JasonJWilliamsNY commented on #92
@whedon assign @JasonJWilliamsNY as editor

[2022-04-11 01:05] whedon commented on #92
OK, the editor is @JasonJWilliamsNY

[2022-04-11 08:41] andrewmaclachlan commented on #141
I changed the tagged release to 3.0 as in the text it now says: This is the third iteration of the practical book - https://andrewmaclachlan.github.io/CASA0005repo/external-usage.html

[2022-04-11 17:35] JasonJWilliamsNY commented on #159
Email sent to @magitz

[2022-04-12 10:05] andrewmaclachlan commented on #141
My fault - should be 3.0 now, sorry!

[2022-04-12 17:00] labarba commented on #141
@whedon set 3.0 as version

[2022-04-12 17:00] whedon commented on #141
OK. 3.0 is the version.

[2022-04-12 17:47] jwagemann commented on #90
Hi @kyleniemeyer ,
I finally had a chance to review the reviewed tutorial and I congratulate @jrising , @atrisovic and the other authors for producing this great resource. It is now well-structured and guides learners nicely through the content.

I recommend to accept. One small proposal of change: Under ERA5, instead of linking to UCAR’s ERA5 description, link to the description on the Climate Da

[2022-04-12 19:40] magitz commented on #159
Sorry for the delay. Looks good to me. Not entirely sure what I need to do other than post this comment.
If you need me to check boxes or commit something, let me know.

[2022-04-13 09:12] andrewmaclachlan commented on #141
all done, thanks!

[2022-04-13 11:23] labarba commented on #141
@whedon accept deposit=true

[2022-04-13 11:23] whedon commented on #141
[code]

[2022-04-13 11:24] whedon commented on #141
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/91
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00141](https://doi.org/10.21105/jose.00141)
2. If everything looks

[2022-04-13 11:27] labarba commented on #141
Congratulations, @andrewmaclachlan, your JOSE paper is published! 🚀
Huge thanks to our Editor: @ttimbers, and the Reviewers: @TomasBeuzen @darribas — this adventure in publishing is possible because of you 🙏

[2022-04-13 11:27] #141 closed

[2022-04-13 11:27] whedon commented on #141
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00141/status.svg)](https://doi.org/10.21105/jose.00141)

**We need your help!**

Journal of Open Source Educat

[2022-04-13 13:30] whedon opened #171 "[PRE REVIEW]: What and How of Machine Learning Transparency: Building Bespoke Explainability Tools with Interoperable Algorithmic Components"
**Submitting author:** @So-Cool (<a href="http://orcid.org/0000-0002-9869-5896">Kacper Sokol</a>)
**Repository:** <a href="https://github.com/fat-forensics/Surrogates-Tutorial" target ="_blank">https://github.com/fat-forensics/Surrogates-Tutorial</a>
**Version:** 2020-ecml-pkdd
**Editor:** @ttimbers
**Reviewers:** @kvarada, @arokem
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced servi

[2022-04-13 13:30] whedon commented on #171
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-04-13 13:31] whedon commented on #171
Wordcount for `paper.md` is 1147

[2022-04-13 13:31] whedon commented on #171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: :point_left:

[2022-04-13 14:17] whedon commented on #171
@ttimbers has been invited to edit this submission.

[2022-04-13 14:20] labarba commented on #170
@whedon invite @lorenanicole as editor

[2022-04-13 14:21] jgorzalski commented on #170
@whedon invite @lorenanicole as editor

[2022-04-13 14:41] labarba commented on #149
Thanks for the ping @BrunaPavlack! GitHub notifications overload on my side. I'll get on with it then!

[2022-04-13 17:52] ttimbers commented on #171
Happy to act as editor here @labarba !

[2022-04-13 17:55] labarba commented on #171
Great! Here's a neat trick: you can run `@whedon assign me as editor`

[2022-04-13 18:05] ashleefv commented on #108
Hi @djlampert The Journal of Open Source Education is seeking reviewers on a manuscript and associated Python project titled "LTPy - Learning tool for Python on Atmospheric Composition". Would you please consider contributing a review for this submission? I know your research does not include atmospheric data, but the Python data-driven workflows and accessing large databases of earth science rela

[2022-04-13 18:19] ttimbers commented on #171
@whedon assign me as editor

[2022-04-13 18:19] whedon commented on #171
OK, the editor is @ttimbers

[2022-04-13 18:45] ashleefv commented on #108
Hi @ali-ramadhan you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "LTPy - Learning tool for Python on Atmospheric Composition". Please let me know if you're available and willing. Thanks!

[2022-04-13 18:58] djlampert commented on #108
Hi, I can help with the review, along with Boyang Lu @BYL4746[](https://github.com/BYL4746 )

[2022-04-13 21:29] labarba commented on #139
@ethanwhite 👋  — We ask that authors change the metadata of the Zenodo deposit so the title matches the JOSE paper. Could you do that at https://doi.org/10.5281/zenodo.5821925 ?

[2022-04-14 16:32] ashleefv commented on #108
@whedon add @djlampert at reviewer

[2022-04-14 16:32] whedon commented on #108
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-04-14 16:32] ashleefv commented on #108
@whedon add @djlampert as reviewer

[2022-04-14 16:32] whedon commented on #108
OK, @djlampert is now a reviewer

[2022-04-14 16:32] ashleefv commented on #108
@whedon add @BYL4746 as reviewer

[2022-04-14 16:32] whedon commented on #108
OK, @BYL4746 is now a reviewer

[2022-04-14 21:11] whedon commented on #167
:wave: @manics, please update us on how your review is going (this is an automated reminder).

[2022-04-14 21:11] whedon commented on #167
:wave: @giuliaguidi, please update us on how your review is going (this is an automated reminder).

[2022-04-15 04:57] whedon commented on #168
:wave: @cooperrc, please update us on how your review is going (this is an automated reminder).

[2022-04-15 04:57] whedon commented on #168
:wave: @repagh, please update us on how your review is going (this is an automated reminder).

[2022-04-15 19:38] ethanwhite commented on #139
Thanks @labarba. I've made the change and it is live https://zenodo.org/record/5821925

[2022-04-15 20:27] labarba commented on #139
@whedon accept deposit=true

[2022-04-15 20:27] whedon commented on #139
[code]

[2022-04-15 20:28] whedon commented on #139
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/92
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00139](https://doi.org/10.21105/jose.00139)
2. If everything looks

[2022-04-15 20:29] labarba commented on #139
Congratulations, @ethanwhite, your JOSE paper is published! 🚀

Huge thanks to our Editor: @ShanEllis, and the Reviewers: @smwindecker, @catherinehulshof — we couldn't do this without you 🙏

[2022-04-15 20:29] #139 closed

[2022-04-15 20:29] whedon commented on #139
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00139/status.svg)](https://doi.org/10.21105/jose.00139)

**We need your help!**

Journal of Open Source Educat

[2022-04-15 20:30] ethanwhite commented on #139
Thanks @labarba, @ShanEllis, @smwindecker, and @catherinehulshof! It's been a real pleasure working with all of you on this!

[2022-04-15 20:48] labarba commented on #149
Hi @BrunaPavlack 👋  — I see that the release tag is `v.1.0.0-beta`, whereas here we have marked it as `v.1.0.0`. These two should match. Which one is it? (The release is also from January. Was there no change since?)

[2022-04-15 20:50] labarba commented on #149
[Note to self] Archive checked. Title and author list matching.

[2022-04-15 21:21] labarba commented on #149
On the paper, did you really mean to use the word "retrieved" on this line? It doesn't make complete sense to me.
https://github.com/americocunhajr/EPIDEMIC/blob/45168e8a8249a0a04f4a818c9b9cbcdd69ecc4dc/paper/paper.md?plain=1#L134

Also, the whole parenthetical here:
[(eg infected vs time / infected by 1M inhab vs time, when normalizing the curves approach the same level, without local ](https://g

[2022-04-15 21:38] BYL4746 commented on #108
Hi Ashlee,

Neither of us has experience in reviewing paper like this. So I guess what I should do is to give suggestions and to submit issues that I encounter while I'm going through the Jupyter notebooks? And then reply in this thread.

If yes, I'd like to point out that in "11_ac_data_access_overview.ipynb", following code raises an error indicating that the data set has been moved to somewhere

[2022-04-15 21:50] ashleefv commented on #108
@whedon start review

On Apr 15, 2022 5:39 PM, BYL4746 ***@***.***> wrote:

Hi Ashlee,

Neither of us has experience in reviewing paper like this. So I guess what I should do is to give suggestions and to submit issues that I encounter while I'm going through the Jupyter notebooks? And then reply in this thread.

If yes, I'd like to point out that in "11_ac_data_access_overview.ipynb", following c

[2022-04-15 21:50] whedon opened #172 "[REVIEW]: LTPy - Learning tool for Python on Atmospheric Composition"
**Submitting author:** @jwagemann (<a href="http://orcid.org/0000-0002-3075-2559">Julia Wagemann</a>)
**Repository:** <a href="https://gitlab.eumetsat.int/eumetlab/atmosphere/atmosphere" target ="_blank">https://gitlab.eumetsat.int/eumetlab/atmosphere/atmosphere</a>
**Version:** v1.0
**Editor:** @ashleefv
**Reviewer:** @djlampert, @BYL4746
**Archive:** <a href="https://doi.org/10.5281/zenodo.74630

[2022-04-15 21:50] whedon commented on #108
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/172.

[2022-04-15 21:50] #108 closed

[2022-04-15 21:50] whedon commented on #172
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djlampert, @BYL4746 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2022-04-15 21:52] whedon commented on #172
Wordcount for `paper.md` is 1457

[2022-04-15 21:52] whedon commented on #172
[code]

[2022-04-15 21:52] whedon commented on #172
[code]

[2022-04-15 21:52] whedon commented on #172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: :point_left:

[2022-04-15 22:41] BrunaPavlack commented on #149
Hi!!! I created a new tag with the updated version.

[2022-04-15 23:05] BrunaPavlack commented on #149
Thank you very much for the corrections! I've fixed it in the paper!

[2022-04-16 09:49] jwagemann commented on #172
Hi @djlampert and @BYL4746 , thank you for agreeing to review this submission. Since we already submitted it over a year ago, we advanced the training tool quite a bit since then. Hence, I would need to bring the submission to the current status. Would this be possible for me to do in the course of April and I'll ping you again once ready for you to review? I think a revision on my side would make

[2022-04-17 13:10] ketch commented on #163
I have to say respectfully that I don't understand how this package is intended to be an educational resource.  How does one use it to learn?

It consists of examples of implementations of various algorithms for various problems.  But those problems and algorithms are not documented within the package.  In fact, there aren't even citations to other resources where the user could find out what equa

[2022-04-17 13:22] labarba commented on #163
From the submission cover message, I understand that this package was originally submitted to JOSS. I suspect that the editors there assessed that its research application is limited and suggested that probably JOSE was a better venue. The author's cover message says about the package that

If reuse of the package in teaching contexts needs additional documentation, that is something the authors s

[2022-04-17 13:49] ketch commented on #163
Well, after reading the JOSE guidelines and looking at the checklist here, I'm completely confused.  As far as I can tell, there are no "lessons" or pedagogical explanations of any kind in this package, but the reviewer checklist also doesn't mention anything of that kind.  What I can say is that I teach a course where this package would be relevant, but I don't see how it would be helpful to a st

[2022-04-17 15:04] labarba commented on #163
JOSE admits two types of submissions: learning modules, and software submissions. Depending on the article type chosen by the author on submission, the Review issue will display one of two checklists. In this case, the checklist is for a software submission.

Our documentation does mention the [Specific requirements for software submissions](https://openjournals.readthedocs.io/en/jose/review_crite

[2022-04-17 15:07] labarba commented on #163
Where did you see that? Certainly that would be the wrong reason to transfer a submission from JOSS to JOSE. The right reason is that the software is not for research but for pedagogical uses.

[2022-04-17 16:02] ketch commented on #163
https://github.com/sbocce/hyper2D

[2022-04-17 16:34] djlampert commented on #172
Julia, that sounds good. Please make the updates, and when they are complete, ping us again in this thread to re-initiate the review.

Dave

[2022-04-17 20:43] mandli commented on #163
I am in general agreement with @ketch.  At the very least the educational aspect/use of the software is lacking.

[2022-04-17 20:56] labarba commented on #163
@ketch I see. I will add a link here to the issues you opened in the target repo, to get the breadcrumbs back.

https://github.com/sbocce/hyper2D/issues/1

https://github.com/sbocce/hyper2D/issues/2

https://github.com/sbocce/hyper2D/issues/3

[2022-04-17 21:13] labarba commented on #163
@sbocce — I'm seeing from the reviewers' comments (and exploring your repo) that this submission needs quite some work before it can be considered for publication. For the software to be reusable in teaching and learning contexts, it is essential that you provide documentation beyond raw-text README files in each folder. As it is, you seem to be expecting of users to "dig through" the repository t

[2022-04-17 22:34] sbocce commented on #163
Hello @labarba, hello @ketch & @mandli, thank you for the review & observations.

Just to clarify: once I submitted to JOSS some months ago, the reviewers pointed to me that rather than being a "full software package aimed at production use" aka JOSS target (and thus being shipped with automated google tests and all fancy things), it is instead a software more aimed towards educational use. So, th

[2022-04-19 01:46] labarba commented on #163
I'm adding the link here to the conversation over at JOSS, for future reference:

https://github.com/openjournals/joss-reviews/issues/4049#issuecomment-1013249736

[2022-04-19 01:49] labarba commented on #163
☝️ note that nowhere did the JOSS editors imply that lack of testing was OK with us

[2022-04-19 07:07] sbocce commented on #163
Hi @labarba thanks for your help.

Quick question about the type of tests admitted by JOSE:

I do have the "manual steps described" for running the code. Do you think that adding a folder with the expected results in form of dat files and/or VTK and/or images will do?

[2022-04-19 10:42] manics commented on #167
I've read the paper, I'm going through the code/course

[2022-04-19 14:00] rasbt commented on #161
Hey @labarba , I have yet another question about the review process 😅. When I reviewed papers for JOSS and JOSE in the past, as far as I remember, there have always been unit tests (and even a CI) as it is best practice for open source.

In the reviewer guidelines it says

So, it does sound like unit tests (or a CI setup) are not required. Technically, one could walk through the examples in ([Deve

[2022-04-19 15:26] labarba commented on #163
@whedon remove @ketch as reviewer

[2022-04-19 15:26] whedon commented on #163
OK, @ketch is no longer a reviewer

[2022-04-19 16:10] labarba commented on #163
@sbocce — My assessment is that your software submission is not ready for publication, for a number of reasons. If the reviewer(s) when looking through the submission realize that it would take an inordinate amount of work on their part to shepherd the necessary revisions to bring it up to publishable standards, it is not surprising that they would renege on their commitment to review. I believe t

[2022-04-19 17:47] JasonJWilliamsNY commented on #159
@whedon generate pdf

[2022-04-19 17:47] JasonJWilliamsNY commented on #159
@crsl4 I have reviewed the proof and things look good. The next step is for you to create an archive on either https://zenodo.org/ or https://figshare.com/ and obtain a DOI (which you'll need to give to us). I can then move to the final acceptance and publication steps.

Tip: Here is a nice guide on doing the above with Zenodo: https://guides.github.com/activities/citable-code/#:~:text=Making%20Yo

[2022-04-19 17:48] whedon commented on #159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: :point_left:

[2022-04-19 19:08] labarba commented on #161
Our submission guidelines are not exhaustive, because they cannot be, and we do rely on community standards. We should make reference to those community standards when our review guidelines are insufficient.

In regards to testing, the key is that to be eligible for publication, the software needs to adhere to minimum standards that enable reusability: the code should be immediately useful to othe

[2022-04-19 19:31] sbocce commented on #163
@labarba hi, thanks for your detailed reply.

Right, I see your point. Indeed, it seems pointless to keep working on the present submission, given the situation. If you could please just go ahead and withdraw my application, it would be amazing.

Once again thank you to both yourself and @ketch and @mandli for taking the time to check out my submission.

[2022-04-19 19:36] labarba commented on #163
@whedon withdraw

[2022-04-19 19:36] whedon commented on #163
Paper withdrawn.

[2022-04-19 19:36] #163 closed

[2022-04-19 20:13] kyleniemeyer commented on #90
@whedon generate pdf

[2022-04-19 20:14] whedon commented on #90
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: :point_left:

[2022-04-19 21:30] allisonhorst commented on #166
@whedon assign @hernandezcortes as reviewer

[2022-04-19 21:30] whedon commented on #166
OK, @hernandezcortes is now a reviewer

[2022-04-19 21:31] allisonhorst commented on #166
@whedon add @nmorandeira  as reviewer

[2022-04-19 21:31] whedon commented on #166
OK, @nmorandeira  is now a reviewer

[2022-04-19 21:31] allisonhorst commented on #166
@whedon start review

[2022-04-19 21:31] whedon opened #173 "[REVIEW]: Spatial data analysis with R: wrangling, visualization and econometric models"
**Submitting author:** @jaime-pru (<a href="http://orcid.org/0000-0001-5866-1280">Jaime Alberto Prudencio Vázquez</a>)
**Repository:** https://github.com/jaime-pru/Analisis-de-datos-espaciales
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @allisonhorst
**Reviewers:** @hernandezcortes, @nmorandeira
**Archive:** 10.5281/zenodo.7967543

## Status

[![status](https:/

[2022-04-19 21:31] whedon commented on #166
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/173.

[2022-04-19 21:31] #166 closed

[2022-04-19 21:31] whedon commented on #173
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hernandezcortes, @nmorandeira  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2022-04-19 21:32] whedon commented on #173
Wordcount for `paper.md` is 974

[2022-04-19 21:32] whedon commented on #173
[code]

[2022-04-19 21:32] whedon commented on #173
[code]

[2022-04-19 21:32] whedon commented on #173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00173/jose.00173/10.21105.jose.00173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00173/jose.00173/10.21105.jose.00173.pdf) :page_facing_up: :point_left:

[2022-04-19 21:34] allisonhorst commented on #173
@nmorandeira and @hernandezcortes, thank you so much for agreeing to review this submission! Your reviewer checklists are created above. Please let me know if you have any questions, I'm happy to help (or find someone who can!).

[2022-04-19 23:48] rasbt commented on #161
It's sometimes tricky to strike the balance between being a critical reviewer and trying to improve the submission, but not coming across as asking for unreasonable things.

Thanks for the response on that. I do think that in this case unit tests not only help me as a reviewer, but it could also help users who want to run it locally and use their package verify that everything works as intended in

[2022-04-20 21:23] crsl4 commented on #159
Thanks @JasonJWilliamsNY , I added the zenodo DOI in the readme file: https://github.com/crsl4/fast-stats
Is this what you need?

[2022-04-20 23:47] crsl4 commented on #159
BTW I also confirm that we did not find any errors on the proofs.

[2022-04-21 09:52] manics commented on #167
See
- [ ] https://github.com/nih-cfde/training-and-engagement/issues/531
for my feedback on the source repository

@abhijna In the `Learning Objectives` section of the current PDF https://raw.githubusercontent.com/openjournals/jose-papers/jose.00167/jose.00167/10.21105.jose.00167.pdf

![image](https://user-images.githubusercontent.com/1644105/164428933-112dc351-b6cc-461a-99be-67f3d59cfa51.png)

-

[2022-04-21 13:52] JasonJWilliamsNY commented on #159
@crsl4 I think so; @labarba can you help us get to the next stage....

[2022-04-21 22:37] labarba commented on #159
@JasonJWilliamsNY – be sure to run the command `@whedon recommend-accept` if this is ready for the final checks and publication

[2022-04-21 22:38] JasonJWilliamsNY commented on #159
@whedon recommend accept

[2022-04-21 22:38] whedon commented on #159
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-04-21 22:39] JasonJWilliamsNY commented on #159
@whedon recommend-accept

[2022-04-21 22:39] whedon commented on #159
No archive DOI set. Exiting...

[2022-04-21 22:40] labarba commented on #159
@crsl4 – I see that the tagged version in your repo is `[v2.1](https://github.com/crsl4/fast-stats/releases/tag/v2.1)` but here we see `v2.0`. Which one corresponds to the final revisions made for this JOSE paper?

[2022-04-21 22:50] labarba commented on #159
@JasonJWilliamsNY – you run `@whedon set <doi> as archive` to get that into the metadata of the paper, before recommending acceptance

[2022-04-21 23:07] crsl4 commented on #159
@labarba the final version for this paper is the v2.1 (the one assigned to the DOI). Let me know if this is ok!

[2022-04-21 23:09] labarba commented on #159
@whedon set v2.1 as version

[2022-04-21 23:09] whedon commented on #159
OK. v2.1 is the version.

[2022-04-22 08:40] So-Cool commented on #171
@whedon check references

[2022-04-22 08:40] whedon commented on #171
[code]

[2022-04-22 08:41] So-Cool commented on #171
@whedon generate pdf

[2022-04-22 08:41] whedon commented on #171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: :point_left:

[2022-04-22 15:30] labarba commented on #149
@whedon set v2.0.0 as version

[2022-04-22 15:30] whedon commented on #149
OK. v2.0.0 is the version.

[2022-04-22 15:41] labarba commented on #149
@whedon generate pdf

[2022-04-22 15:41] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-22 16:11] labarba commented on #149
Please merge my PR with some slight copy editing: https://github.com/americocunhajr/EPIDEMIC/pull/4

[2022-04-22 18:26] JasonJWilliamsNY commented on #159
Missed that step - scattered this week; thanks @labarba

[2022-04-22 18:30] whedon commented on #159
OK. <a href="https://doi.org/10.5281/zenodo.6473988" target="_blank">10.5281/zenodo.6473988</a> is the archive.

[2022-04-22 18:30] JasonJWilliamsNY commented on #159
@whedon recommend-accept

[2022-04-22 18:30] whedon commented on #159
[code]

[2022-04-22 18:30] whedon commented on #159
[code]

[2022-04-22 18:31] whedon commented on #159
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/93

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/93, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-04-22 18:31] JasonJWilliamsNY commented on #159
@crsl4 can you fix the invalid DOIs noted in the 'INVALID DOIs' comment from Whedon above?

[2022-04-22 19:17] crsl4 commented on #159
yes, I'm on it!

[2022-04-22 19:22] crsl4 commented on #159
@JasonJWilliamsNY done! Let me know if I should do something else, thanks!

[2022-04-22 19:37] JasonJWilliamsNY commented on #159
@whedon recommend-accept

[2022-04-22 19:37] whedon commented on #159
[code]

[2022-04-22 19:37] whedon commented on #159
[code]

[2022-04-22 19:37] whedon commented on #159
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/94

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/94, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-04-22 19:38] JasonJWilliamsNY commented on #159
Thanks @crsl4, @labarba I think it's now ready for you.

[2022-04-22 19:56] labarba commented on #159
@crsl4 — Could you edit the metadata on the Zenodo deposit so the title and author list matches the JOSE paper?

[2022-04-22 20:01] crsl4 commented on #159
Sorry @labarba , do I do this on the Zenodo page or on github? I cannot find a place to edit this info on the zenodo site, but I could update it on the github release. Not sure if this is what you want.

[2022-04-22 20:34] labarba commented on #159
On Zenodo, see https://help.zenodo.org

[2022-04-22 20:58] crsl4 commented on #159
Thanks @labarba ! I think it is done, but let me know if I missed something. Thanks!

[2022-04-22 21:25] labarba commented on #159
I made a small change in PR https://github.com/crsl4/fast-stats/pull/55
- [format the citation](https://rstudio.github.io/visual-markdown-editing/citations.html) in the acknowledgement for in-text
- move the second figure, so the pagination will look better

[2022-04-23 07:40] moorepants commented on #168
@cooperrc and @repagh can we get an update on the status of your reviews? I see that @repagh has worked through his checklist. Do we expect completion of the first reviews within the 6 weeks deadline? Thanks -- Jason

[2022-04-23 11:50] crsl4 commented on #159
Thanks @labarba ! I merged your PR.

[2022-04-23 12:16] labarba commented on #159
@whedon generate pdf

[2022-04-23 12:17] whedon commented on #159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00159/jose.00159/10.21105.jose.00159.pdf) :page_facing_up: :point_left:

[2022-04-23 12:20] labarba commented on #159
@whedon accept deposit=true

[2022-04-23 12:20] whedon commented on #159
[code]

[2022-04-23 12:21] whedon commented on #159
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/95
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00159](https://doi.org/10.21105/jose.00159)
2. If everything looks

[2022-04-23 12:24] labarba commented on #159
Congratulations, @crsl4, your JOSE paper is published! 🚀

Huge thanks to our Editor: @JasonJWilliamsNY and the Reviewers: @pierrerogy, @magitz — your contribution makes this publishing adventure possible 🙏

[2022-04-23 12:24] #159 closed

[2022-04-23 12:24] whedon commented on #159
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00159/status.svg)](https://doi.org/10.21105/jose.00159)

**We need your help!**

Journal of Open Source Educat

[2022-04-23 12:30] JasonJWilliamsNY commented on #159
Fantastic!

[2022-04-23 15:13] cooperrc commented on #168
Thanks for checking in @moorepants. I'm getting back to this today. I'll get my initial thoughts down this week (4/25-4/29). Will have my review done within the 6-week timeframe (before May 13)

[2022-04-26 14:32] crsl4 commented on #159
Thanks so much @JasonJWilliamsNY @labarba @pierrerogy @magitz !!!

[2022-04-26 15:08] BrunaPavlack commented on #149
@labarba please let us know if any corrections are needed!

[2022-04-26 15:57] labarba commented on #149
I don't understand. I did copy editing on the paper, and submitted a PR, but it was closed without merging: https://github.com/americocunhajr/EPIDEMIC/pull/4

[2022-04-26 16:41] BrunaPavlack commented on #149
@labarba Is there anything we can do?

[2022-04-26 17:03] BrunaPavlack commented on #149
@labarba I didn't understand how to do this, if you can give me a brief explanation.

[2022-04-26 17:09] BrunaPavlack commented on #149
@labarba I think I got it. If you can check!

[2022-04-26 23:34] labarba commented on #149
@whedon generate pdf

[2022-04-26 23:34] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-27 11:20] labarba commented on #149
@BrunaPavlack – Could you please check the proof? I think there's a figure missing. See the string
`![Trend graph of total number of deaths per 1M inhabitants in several countries generated in EPIDEMIC.]` at the end of the **Trends** section.

[2022-04-27 12:28] BrunaPavlack commented on #149
@whedon generate pdf

[2022-04-27 12:28] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-27 18:56] BrunaPavlack commented on #149
@labarba done!

[2022-04-27 19:08] labarba commented on #149
@whedon generate pdf

[2022-04-27 19:09] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-27 19:28] labarba commented on #149
<img width="716" alt="Screen Shot 2022-04-27 at 3 26 58 PM" src="https://user-images.githubusercontent.com/4800109/165604626-706b7f2d-3122-4c93-9c76-173d38fb20c2.png">

The only issue that remain is a URL that bleeds into the margin in the References. Not sure right now how that can be fixed. In pure LaTeX, I would use the `\url` tag (which will break long URLs as needed into the next line). If yo

[2022-04-27 20:25] BrunaPavlack commented on #149
@labarba I fixed it using a link shortener!

[2022-04-27 20:25] BrunaPavlack commented on #149
@whedon generate pdf

[2022-04-27 20:26] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2022-04-27 20:33] labarba commented on #149
@whedon accept deposit=true

[2022-04-27 20:33] whedon commented on #149
[code]

[2022-04-27 20:33] whedon commented on #149
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/96
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00149](https://doi.org/10.21105/jose.00149)
2. If everything looks

[2022-04-27 20:35] labarba commented on #149
Congratulations, @BrunaPavlack, your JOSE paper is published! 🚀

Huge thanks to our Editor: @magsol, and the Reviewers: @dalonsoa, @3mmaRand — your contributions make this adventure in publishing possible 🙏

[2022-04-27 20:35] #149 closed

[2022-04-27 20:35] whedon commented on #149
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00149/status.svg)](https://doi.org/10.21105/jose.00149)

**We need your help!**

Journal of Open Source Educat

[2022-04-28 12:34] georgiastuart commented on #162
Apologies for the delay. I'm almost finished reviewing.

[2022-04-28 14:55] BrunaPavlack commented on #149
@labarba thank you so much! Many thanks to the editor @magsol and reviewers @dalonsoa and @3mmaRand! Your contributions are very important!

[2022-04-29 21:50] whedon commented on #172
:wave: @djlampert, please update us on how your review is going (this is an automated reminder).

[2022-04-29 21:50] whedon commented on #172
:wave: @BYL4746, please update us on how your review is going (this is an automated reminder).

[2022-05-02 21:10] voytek commented on #121
Anything next here?

[2022-05-03 18:10] ttimbers commented on #171
@So-Cool - thank-you for your submission. I have read your manuscript and considered it with the scope of JOSE. Typically, short learning modules are not within scope of the journal. However, short learning modules can be considered if the authors show substantial scholarly effort in other ways. One example of this would be if the tutorial has been given many times and iteratively improved. Anothe

[2022-05-03 21:32] whedon commented on #173
:wave: @nmorandeira , please update us on how your review is going (this is an automated reminder).

[2022-05-03 21:32] whedon commented on #173
:wave: @hernandezcortes, please update us on how your review is going (this is an automated reminder).

[2022-05-03 22:08] nmorandeira commented on #173
Hi @whedon I’m revising the submission (I’ve already revised the paper and
now I’m going through the last two chapters of the course).
Can you remind me the deadline?

El El mar, 3 de may. de 2022 a la(s) 18:32, whedon ***@***.***>
escribió:

[2022-05-04 01:46] nmorandeira commented on #173
@whedon commands

[2022-05-04 01:46] whedon commented on #173
Here are some things you can ask me to do:

[code]

[2022-05-04 01:47] nmorandeira commented on #173
@whedon check references

[2022-05-04 01:47] whedon commented on #173
[code]

[2022-05-08 02:06] allisonhorst commented on #173
@whedon re-invite @hernandezcortes as reviewer

[2022-05-08 02:06] whedon commented on #173
OK, the reviewer has been re-invited.

@hernandezcortes please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2022-05-11 02:34] So-Cool commented on #171
@whedon check references

[2022-05-11 02:34] whedon commented on #171
[code]

[2022-05-11 02:34] So-Cool commented on #171
@whedon generate pdf

[2022-05-11 02:34] whedon commented on #171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00171/jose.00171/10.21105.jose.00171.pdf) :page_facing_up: :point_left:

[2022-05-11 02:40] So-Cool commented on #171
Thank you for your review, @ttimbers. We have revised the manuscript based on your comments. In particular, the last paragraph of the "Modular Surrogate Explainers" section has been updated and extended by a new paragraph explaining the evolution of the training materials and our teaching experience.

[2022-05-11 04:51] nmorandeira commented on #173
This is my review for the  JOSE submision #173 by Jaime Alberto Prudencio Vázquez (@jaime-pru), entitled **"Spatial data analysis with R: wrangling, visualization and econometric models".** I was invited to review the submission by the editor @allisonhorst.

I've revised the article in paper.md and the bookdown course.
The course is very interesting, and the paper emphasizes its need –in particula

[2022-05-11 05:04] nmorandeira opened #174 "Journal ISSN"
This is a suggestion for the JOSE webpage. @allisonhorst
It's difficult to find the journal's ISSN, which is only included in the footnote below the CC logo, and with low color contrast.
I suggest including the ISSN in the first section of the [About webpage](https://jose.theoj.org/about)

[2022-05-11 05:04] whedon commented on #174
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-05-11 05:07] #174 closed

[2022-05-11 19:24] cooperrc commented on #168
I added an issue (closed) and two PRs to the `pendsim` repo.

My review is as follows:

The package and the paper are excellent. The one spot that seems to be lacking is a clear path to extend the package (maybe another section for developers). In the paper, @rland93 says the user can implement any control policy with a new class. It would be great to see _how_ to create the new class and _how/if_

[2022-05-11 20:09] rland93 commented on #168
Will work on implementing these changes this week. Details:

https://github.com/rland93/pendsim/issues/15
https://github.com/rland93/pendsim/issues/16
https://github.com/rland93/pendsim/issues/17

Thanks!

[2022-05-12 16:17] lindseysbrown commented on #161
@labarba I just wanted to check in on this submission.  The only open issue from the reviewers was with regards to testing which I responded to over 2 weeks ago.

[2022-05-13 13:16] jwagemann commented on #172
@whedon generate pdf

[2022-05-13 13:16] whedon commented on #172
PDF failed to compile for issue #172 with the following error:
[code]

[2022-05-13 13:22] whedon commented on #172
PDF failed to compile for issue #172 with the following error:
[code]

[2022-05-13 13:23] jwagemann commented on #172
@whedon generate pdf

[2022-05-13 13:24] whedon commented on #172
PDF failed to compile for issue #172 with the following error:
[code]

[2022-05-13 13:26] jwagemann commented on #172
@whedon generate pdf

[2022-05-13 13:27] whedon commented on #172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00172/jose.00172/10.21105.jose.00172.pdf) :page_facing_up: :point_left:

[2022-05-13 13:30] jwagemann commented on #172
Hi @djlampert and @BYL4746 ,
the repository and paper has been updated and is now ready for review. Thanks again for agreeing to review it.
Julia

[2022-05-16 14:02] ashleefv commented on #143
Any updates on the review?

Ashlee N. Ford Versypt, Ph.D. (she, her, hers)
Associate Professor, Department of Chemical and Biological Engineering
Core Faculty, Institute for Computational and Data Sciences
Affiliated Faculty, Department of Engineering Education
University at Buffalo, The State University of New York
507 Furnas Hall, Buffalo, NY 14260
***@***.***
http://www.cbe.buffalo.edu/fordvers

[2022-05-16 18:49] magsol commented on #121
@KiCh84 Hi there 👋 We're waiting on your review to wrap things up here! Please let me know ASAP with either a timetable for wrapping this up, or let me know if we need to find a replacement reviewer. Thank you!

[2022-05-16 19:38] KiCh84 commented on #121
Hi Shannon , It looks you might have to find a replacement reviewer .
There's just too many things on my plate currently and would be unable to
give it the attention it deserves . I apologize heavily for this :(

On Mon, May 16, 2022, 20:50 Shannon ***@***.***> wrote:

[2022-05-17 09:44] moorepants commented on #168
@repagh and @cooperrc thank you both for the reviews.

@rland93 I see that there is one checkbox missing on both lists above "community guidelines" and both reviewers have left their comments here or on issues on your repository. Please address the issues and when ready you can provide a response here to each reviewer. Let me know if you have any questions. Feel free to interact with the reviewers

[2022-05-18 17:10] valdanchev commented on #156
@ShanEllis thank you for organising the review process, @TomDonoghue and @lechten thank you for your very helpful and constructive feedback and suggestions. The review process was very valuable for improving the resource, repository, and paper. Sorry for my delayed revisions.

I have now made the revisions and addressed all the feedback and comments above as well as the issues [#5](https://github.

[2022-05-19 14:18] TomDonoghue commented on #121
Okay... @magsol - can you clarify what happens now and what the expected timeline is? It's already a year since this started review, and it was a year before that that we actually submitted this project...

[2022-05-19 14:32] lechten commented on #156
@whedon generate pdf

[2022-05-19 14:57] lechten commented on #156
@whedon commands

[2022-05-19 14:57] whedon commented on #156
Here are some things you can ask me to do:

[code]

[2022-05-19 15:05] lechten commented on #156
@whedon generate pdf

[2022-05-19 15:05] whedon commented on #156
PDF failed to compile for issue #156 with the following error:
[code]

[2022-05-19 17:45] magsol commented on #121
@TomDonoghue At this point, I think it'd be easiest for me to go through the outstanding points on @KiCh84's reviewer checklist. Fortunately, most of the items are finished; the unresolved ones seem to revolve around the paper itself. I should have some time tomorrow to go through them and then, providing everything checks out, we can start the publication process.

I sincerely apologize for how l

[2022-05-19 18:27] TomDonoghue commented on #121
@magsol - thank you, that sounds like a practical and efficient way to try and wrap this up! Please let us know of any comments and suggestions for the paper / project, and I will try to address them as soon as I can!

[2022-05-20 06:47] lechten commented on #156
@whedon generate pdf

[2022-05-20 06:52] lechten commented on #156
@ShanEllis Whedon does not seem to work any more. Are you able to generate a new PDF?

[2022-05-20 19:04] rasbt commented on #161
The authors just addressed the last items on my checklist, and everything looks good to me now from my end.

[2022-05-20 19:41] magsol commented on #121
@whedon generate pdf

[2022-05-20 19:41] whedon commented on #121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: :point_left:

[2022-05-20 19:42] magsol commented on #121
@whedon check references

[2022-05-20 19:42] whedon commented on #121
[code]

[2022-05-20 19:45] magsol commented on #121
@TomDonoghue Hi Tom, I'm bringing things over the finish line (they all look great!), and the last thing I need from you: the archive DOI. Once you've given me that I'll wrap things up.

[2022-05-20 20:15] TomDonoghue commented on #121
Thanks @magsol - for the quick checks here!

I have added Zenodo to the org / repo in order to create an archive DOI:
Here's the Zenodo link: https://zenodo.org/record/6568091
Here's the DOI: 10.5281/zenodo.6568091

Note: I had to create a new release to start Zenodo tracking (or, at least, I wasn't sure how to retro-actively add a Zenodo DOI to a previous release), so there is now a 1.1 release t

[2022-05-20 20:16] magsol commented on #121
@whedon set 10.5281/zenodo.6568091 as archive

[2022-05-20 20:16] whedon commented on #121
OK. <a href="https://doi.org/10.5281/zenodo.6568091" target="_blank">10.5281/zenodo.6568091</a> is the archive.

[2022-05-20 20:17] magsol commented on #121
@whedon set v1.1 as version

[2022-05-20 20:17] whedon commented on #121
OK. v1.1 is the version.

[2022-05-20 20:17] magsol commented on #121
(@TomDonoghue , thanks for the heads-up on the version change!)

[2022-05-20 20:17] magsol commented on #121
@whedon recommend-accept

[2022-05-20 20:17] whedon commented on #121
[code]

[2022-05-20 20:17] whedon commented on #121
[code]

[2022-05-20 20:17] whedon commented on #121
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/97

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/97, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-05-20 20:41] labarba commented on #121
We request that authors edit the metadata of the Zenodo deposit so title and author list match the JOSE paper. It's just cleaner that way as readers see these as part of the "same scholarly object." Could you do that? (Note that you may not want Zenodo to do _automatic_ updates of versions with each release. Note also that Zenodo pulls every committer into the author list.)

[2022-05-20 20:45] TomDonoghue commented on #121
I've updated the Zenodo record to match the title of the JOSE paper, and checked that the authors match.
This should now be updated: https://zenodo.org/record/6568091

[2022-05-20 21:09] labarba commented on #121
- [ ] for the JupyterBooks reference, please add `{}` around the author `Executable Books Community` so that it is rendered like that, and not like "Community, E. B."

[2022-05-20 21:10] labarba commented on #121
- [ ] on [line 59](https://github.com/DataScienceInPractice/Site/blob/8b7dc7ce4bda75bf234363b69f4b7c6be30acf6e/paper/paper.md?plain=1#L59): "This set of materials were" >> was

[2022-05-22 21:21] labarba commented on #161
👋  @Atcold — You have some unchecked items in the review checklist for this JOSE submission. Can you give us an update on your review? Have you been able to complete a full review of the submission? Are there any changes you recommended to the authors that remain pending? Thank you! 🙏

[2022-05-23 13:09] TomDonoghue commented on #121
@whedon generate pdf

[2022-05-23 13:10] whedon commented on #121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: :point_left:

[2022-05-23 13:12] TomDonoghue commented on #121
@whedon generate pdf

[2022-05-23 13:12] whedon commented on #121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: :point_left:

[2022-05-23 13:13] TomDonoghue commented on #121
@labarba - thanks for the detailed check, I have now fixed the reference and wording issues you noticed! Let me know if there is anything else that needs checking / fixing!

[2022-05-23 15:30] TomDonoghue commented on #156
I have checked through the updates to the resource and everything looks good to me! I have checked of my remaining review items, and as far as I'm concerned, this is good to go!

Quick note: as things get wrapped up, I think the version number that is listed in this issue (1.0.0) needs to be updated to reflect the version number listed in the [most recent release](https://github.com/valdanchev/rep

[2022-05-23 18:42] valdanchev commented on #156
@whedon set v2.0.0 as version

[2022-05-23 18:42] whedon commented on #156
I'm sorry @valdanchev, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-05-23 19:00] valdanchev commented on #156
Many thanks, @TomDonoghue. On the version number, it seems that only editors can do the update. @ShanEllis will know best how to update the version number.

[2022-05-23 22:15] labarba commented on #121
@whedon accept deposit=true

[2022-05-23 22:15] whedon commented on #121
[code]

[2022-05-23 22:16] whedon commented on #121
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/98
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00121](https://doi.org/10.21105/jose.00121)
2. If everything looks

[2022-05-23 22:18] labarba commented on #121
Congratulations, @TomDonoghue, your JOSE paper is published! 🚀

Huge thanks to our Editor: @magsol, and the Reviewers: @KiCh84, @krother — your contributions make this adventure in scholarly publishing possible 🙏

[2022-05-23 22:18] #121 closed

[2022-05-23 22:18] whedon commented on #121
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00121/status.svg)](https://doi.org/10.21105/jose.00121)

**We need your help!**

Journal of Open Source Educat

[2022-05-23 22:26] voytek commented on #121
🎉🎉🎉

[2022-05-26 02:25] hernandezcortes commented on #173
@whedon, this comment explains my review of the JOSE submission #173. I was invited to review this paper by @allisonhorst .

I have completed the checklist provided and reviewed the JOSE paper and the course. The course is very well structured and relevant. I think that this course fills the existing gap of materials to learn R that are available in Spanish. The course will be relevant for student

[2022-05-26 02:25] whedon commented on #173
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-05-26 02:26] hernandezcortes commented on #173
@whedon commands

[2022-05-26 02:26] whedon commented on #173
Here are some things you can ask me to do:

[code]

[2022-05-30 16:28] ttimbers commented on #171
@joelostblom – hi! 👋 you teach related topics and I wonder if you would consider contributing a review on this manuscript submitted to JOSE. We are in need of some help with this submission:

Title: What and How of Machine Learning Transparency:
Building Bespoke Explainability Tools with Interoperable
Algorithmic Components
[View article proof on GitHub](https://github.com/openjournals/jose-papers

[2022-05-30 16:48] ttimbers commented on #171
@kbodwin - hi! 👋 you are listed on the JOSE reviewer volunteer list, and that you have domain expertise in machine learning. Thus, I wonder if you would consider contributing a review on this manuscript submitted to JOSE. We are in need of some help with this submission:

Title: What and How of Machine Learning Transparency:
Building Bespoke Explainability Tools with Interoperable
Algorithmic Comp

[2022-06-01 06:36] lechten commented on #156
@whedon generate pdf

[2022-06-02 08:51] KonradHoeffner commented on #169
# Reviewer Suggestions
* eglerean: JavaScript as preferred language, graph theory and network science
* behollister: preference for JavaScript and the listed domain of Scientific Visualization.

[2022-06-03 00:16] behollister commented on #169
I'm open to doing the review. Please note that I am still finishing https://github.com/openjournals/joss-reviews/issues/4283.

Should be done with that one tomorrow, or the next day.

[2022-06-05 22:15] abhijna commented on #167
Hi @manics, thanks for reviewing this paper!

Your concern about misuse risks to the AWS account holder is completely valid. I will add a note to the IAM Wiki about minimizing IAM user privileges for participants.

We recommend using our website and lesson materials. However, those who wish to co-opt this module are welcome to build their own lessons or re-use lessons from other sources.

You are

[2022-06-07 13:52] amoodie commented on #129
just a friendly nudge here 😄

[2022-06-07 17:29] saverioperugini commented on #162
Hi,

I was curious if there are any updates on this submission?

Thank you and best regards,
Saverio

--
Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in t