[2020-12-15 19:05] kthyng commented on #89
Hm I didn't seem @jcapriot for JOSS access. I'll invite again just in case that fixes it. @jcapriot if you have more than one github account, make sure you are using the correct login.

[2020-12-15 19:05] kthyng commented on #89
@whedon re-invite @jcapriot as reviewer

[2020-12-15 19:05] whedon commented on #89
I'm sorry @kthyng, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-15 19:06] kthyng commented on #89
Oh! This is JOSE not JOSS! You need to ping @openjournals/jose-eics instead.

[2020-12-15 19:08] magsol commented on #89
@kthyng Oh geez, I'm sorry about that. Autocorrect for the loss :P

@openjournals/jose-eics , [please see this message above](https://github.com/openjournals/jose-reviews/issues/89#issuecomment-745495226) (ignore that I accidentally tagged joss-eics).

[2020-12-21 22:50] emckiernan commented on #79
@pschloss and @pvanheus, thank you so much for your reviews, we really appreciate your hard work on this!
@koadman, we now have two reviews, yay! Do you have any questions for the reviewers, or for me, on how to move forward with revisions?

[2020-12-21 22:55] koadman commented on #79
Thanks all, yes ready to move forward with revisions in the new year. Plenty to do here, thanks for the helpful feedback!

[2020-12-23 13:31] JasonJWilliamsNY commented on #95
@whedon assign @JasonJWilliamsNY  as editor

[2020-12-23 13:31] whedon commented on #95
OK, the editor is @JasonJWilliamsNY

[2020-12-23 13:32] JasonJWilliamsNY commented on #95
Hi  @CosiMichele I will be following up on this. Since we are at the beginning of the holidays reviewer invites will go out the first week in January.

[2021-01-04 15:19] andrewmaclachlan commented on #85
Hi @labarba and @arfon

Just wondering if this has been accepted as i've found it here under accepted papers here: https://github.com/openjournals/jose-papers/blob/jose.00085/jose.00085/10.21105.jose.00085.pdf

Please let me know if i need to do anything.

Thanks

[2021-01-04 15:27] lecondon commented on #92
Hi Lorena,

No worries about the timing. I’m clearly a bit behind too.

Are you still looking for a second reviewer? Here’s one name. I can come up with more too if you need.

- Nick Engdahl nick.engdahl@wsu.edu<mailto:nick.engdahl@wsu.edu>

Thanks,

Laura

—
Laura E. Condon, PhD
Assistant Professor
Hydrology and Atmospheric Sciences
University of Arizona, Tucson, AZ

On Nov 23, 2020, at 1:23 PM,

[2021-01-04 21:07] labarba commented on #92
@whedon assign @bryanwweber as editor

[2021-01-04 21:07] whedon commented on #92
OK, the editor is @bryanwweber

[2021-01-05 14:23] bryanwweber commented on #92
Thanks @labarba!

Hi @lecondon, I'll reach out to Nick and see if he's willing to review this work. Thanks again for your patience!

[2021-01-05 14:56] lecondon commented on #92
Great thanks Bryan! Let me know if you need additional suggestions.

Laura

—
Laura E. Condon, PhD
Assistant Professor
Hydrology and Atmospheric Sciences
University of Arizona, Tucson, AZ

On Jan 5, 2021, at 7:23 AM, Bryan W. Weber <notifications@github.com<mailto:notifications@github.com>> wrote:

External Email

Thanks @labarba<https://github.com/labarba>!

Hi @lecondon<https://github.com/lecond

[2021-01-05 17:45] rudeboybert commented on #80
Hi @moorepants, I hope you've been well. I was wondering if you had a response about the suitably of this manuscript for JOSE. To clarify, while this package is written as a companion to our book that has been published by CRC press, it can act as a standalone package to facilitate teaching introductory regression.

[2021-01-07 16:31] JasonJWilliamsNY commented on #95
@CosiMichele review requests are out so will be updating you as we identify reviewers

[2021-01-12 20:04] RobinHankin commented on #91
hello JOSE, can I ask what the status of this submission is please?

[2021-01-13 01:16] bryanwweber commented on #92
@lecondon Just to give an update, I haven't heard from Nick. I'll follow up, but if you have other suggestions I'd be glad to hear them!

[2021-01-13 21:11] JasonJWilliamsNY commented on #95
@whedon add @oneilsh as reviewer

[2021-01-13 21:11] whedon commented on #95
OK, @oneilsh is now a reviewer

[2021-01-13 21:14] JasonJWilliamsNY commented on #95
@AstrobioMike back in November you volunteered as reviewer. I have just joined JOSE as and editor and @oneilish has agreed to review as well. Can you confirm you will be able to go ahead? Hope you two will meet as well!

[2021-01-13 21:17] JasonJWilliamsNY commented on #95
@whedon list reviewers

[2021-01-13 21:17] whedon commented on #95
Here's the current list of reviewers: https://bit.ly/jose-reviewers

[2021-01-13 21:36] AstrobioMike commented on #95
Hey there, @JasonJWilliamsNY! Yep I’m still in 👍

[2021-01-14 00:07] voytek commented on #86
Hey all, just popping back in to check on this...

[2021-01-14 15:10] JasonJWilliamsNY commented on #95
@whedon add @AstrobioMike  as reviewer

[2021-01-14 15:10] whedon commented on #95
OK, @AstrobioMike  is now a reviewer

[2021-01-14 15:11] JasonJWilliamsNY commented on #95
@whedon start review

[2021-01-14 15:11] whedon opened #102 "[REVIEW]: StarBLAST: a scalable BLAST+ solution for the classroom"
**Submitting author:** @cosimichele (<a href="http://orcid.org/0000-0001-7609-1939">Michele Cosi</a>)
**Repository:** <a href="https://github.com/LyonsLab/StarBLAST/" target ="_blank">https://github.com/LyonsLab/StarBLAST/</a>
**Version:** 1.0.0a
**Editor:** @JasonJWilliamsNY
**Reviewer:** @oneilsh, @AstrobioMike
**Archive:** <a href="https://doi.org/10.5281/zenodo.4688218" target="_blank">10.5281

[2021-01-14 15:11] whedon commented on #95
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/102.

[2021-01-14 15:11] #95 closed

[2021-01-14 15:11] whedon commented on #102
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @oneilsh, @AstrobioMike  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-01-14 15:12] JasonJWilliamsNY commented on #102
@whedon generate pdf

[2021-01-14 15:12] whedon commented on #102
[code]

[2021-01-14 15:13] whedon commented on #102
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: :point_left:

[2021-01-14 15:13] whedon commented on #102
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: :point_left:

[2021-01-14 15:17] JasonJWilliamsNY commented on #102
@oneilsh @AstrobioMike this (#102) is the issue for review. You each have a checklist of steps to make reviewing easier and there are PDFs above where you can the short paper and any changes @CosiMichele  makes in response to your comments. What should follow is really a conversation where everyone participates with some suggestions. If you are unclear about anything please let me know and I will

[2021-01-14 15:18] JasonJWilliamsNY commented on #102
@whedon remind @AstrobioMike in 2 weeks

[2021-01-14 15:18] whedon commented on #102
Reminder set for @AstrobioMike in 2 weeks

[2021-01-14 15:18] JasonJWilliamsNY commented on #102
@whedon remind @oneilsh in 2 weeks

[2021-01-14 15:18] whedon commented on #102
Reminder set for @oneilsh in 2 weeks

[2021-01-15 19:02] kyleniemeyer commented on #91
@whedon generate pdf

[2021-01-15 19:03] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2021-01-18 02:26] RobinHankin commented on #91
thanks for this, the proof looks good

[2021-01-26 00:28] AstrobioMike commented on #102
@JasonJWilliamsNY I'm embarrassed to say I missed the 7-day window to accept the collaboration invitiation, and now I can't interact with my checkboxes :( Any chance we can re-send that?

[2021-01-26 00:28] AstrobioMike commented on #102
@whedon commands

[2021-01-26 00:28] whedon commented on #102
Here are some things you can ask me to do:

[code]

[2021-01-26 00:29] JasonJWilliamsNY commented on #102
@AstrobioMike Let me see if I can help

[2021-01-26 00:35] JasonJWilliamsNY commented on #102
@AstrobioMike I resent and invite. Please let me know if that allows you to complete the review. @oneilsh I see a pending invite for you, so pinging just in case a reminder catches you before the invite expires.
Thanks!

[2021-01-26 00:40] AstrobioMike commented on #102
I'm good now, thanks!

[2021-01-26 01:08] AstrobioMike commented on #102
@JasonJWilliamsNY, just noting I have worked closely with Sateesh Peri (one of the co-authors) doing a few workshops within the past 4 years, though we have not published anything together and do not work at the same organization. I do consider us friends, however, I can assure that this wouldn't affect my ability to provide an impartial assessment of this work, so I request that this conflict be

[2021-01-26 01:30] JasonJWilliamsNY commented on #102
Thanks for disclosing @AstrobioMike. As long as you feel you can provide objective review, your disclosure does not appear to meet the COI definition referenced at the top of this issue. You should be fine to proceed but if you have further concerns just let me know.

[2021-01-26 12:30] lexnederbragt commented on #68
Given that the authors have indicated they no longer can put work into the paper, and in fact even write they want to "withdraw our request for publication in Jose", I've only looked at the issues I had outstanding. I feel that for me, the manuscript and gitbook can be published as is. But in the end, the journal/editor also has to decide that the work is acceptable to the journal, even with the r

[2021-01-26 22:46] magsol commented on #89
@jcapriot I was able to cancel and resubmit your invitation to modify the JOSE GitHub repos. Let me know if this works.

[2021-01-26 22:47] magsol commented on #89
@e-dub Any suggestions on the feedback provided by @mbarzegary ?

[2021-01-27 22:14] AstrobioMike commented on #102
Nice work, @CosiMichele et al! Overall the purpose, infrastructure, and documentation seem great :) Thank you for your work on this!

**First I'll comment on specific boxes from the JOSE review checklist that I have yet to check:**

- [ ] **Version: Does the release version given match the GitHub release (v1.0.0)?**
  * No, there are no releases on github, but maybe this is because you are waiting

[2021-01-28 15:11] whedon commented on #102
:wave: @oneilsh, please update us on how your review is going.

[2021-01-28 15:11] whedon commented on #102
:wave: @AstrobioMike , please update us on how your review is going.

[2021-01-28 15:18] whedon commented on #102
:wave: @oneilsh, please update us on how your review is going.

[2021-01-29 22:05] ConorIA commented on #100
Hi @labarba, I am the author of this paper. my co-author has been making some changes to the lab manual that we describe in the paper to update it for classes this term. Can we go ahead and merge the changes into the repo? This will cause the version number to change from that that is listed in the manuscript however it won't change the content or the relevance of the manuscript itself.

[2021-02-01 11:49] drvinceknight commented on #78
@labarba @racheltho, realise these are super busy time so no pressure, just checking if there's anything @Nikoleta-v3 or I could do to assist with finding another reviewer?

[2021-02-01 17:25] labarba commented on #80
Hi everybody 👋
Thank you all for your patience. We've all been pretty deluged (and @moorepants changed countries during a pandemic!).

We often struggle with scope questions, as JOSE is an unusual journal. If I understand correctly, this software was written to _accompany_ a textbook, and thus it has an educational goal. Even if we did not consider this type of submission, I do believe we should c

[2021-02-01 18:48] rudeboybert commented on #80
Hello @labarba, many thanks for your response.

To answer your question: yes, the package provides computational learning experiences (while the book is published as static text content at moderndive.com). The idea being that while recent developments in R and the tidyverse have made linear regression performed on a computer much more accessible to the masses, our software package provides a few e

[2021-02-02 11:25] jwagemann commented on #100
HI @ConorIA ,
I think with the '@whedon generate pdf' command, you can regenerate the paper. I am planning to review your module finally this week. Please upgrade and I'll start my review.

[2021-02-02 11:49] labarba commented on #100
@ConorIA -- at the end of the review period, with any changes applied, we will ask you for a new version, and the version number will be updated here with another `whedon` command.

[2021-02-05 12:40] ConorIA commented on #100
Thanks both for your replies. We have opted to maintain the changes in a separate branch. The master branch will remain intact and the content of the learning module can be reviewed as-is. Cheers.

[2021-02-05 12:41] ConorIA commented on #100
@whedon generate pdf

[2021-02-05 12:42] whedon commented on #100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: :point_left:

[2021-02-07 21:45] magsol commented on #89
Hi all  👋

The reviews are going silent again. **Please respond if you want to continue the review process, otherwise we'll have to end review without acceptance.**

@e-dub: Can you look over the responses to your initial feedback provided by @mbarzegary and verify that they satisfy your initial concerns?

@jcapriot: Please check for an invitation to modify the JOSE GitHub repos again, as I cancel

[2021-02-12 06:15] jwagemann commented on #100
Hi @ConorIA ,
I opened some issues for your repo - they are just suggestions and some spelling mistakes discovered.

@labarba I finished my review. What is now the next step to provide my recommendation?

[2021-02-12 22:11] ConorIA commented on #100
Thanks for the thorough review @jwagemann. I can spend time on fixes this weekend.

[2021-02-13 16:49] mbarzegary commented on #89
a rejection after 10 months is very disappointing for me :(, but apparently this is the dark side of the "community review".
@magsol may I resubmit the paper with you again as the editor?

[2021-02-18 18:57] whedon opened #103 "[PRE REVIEW]: WI Fast Stats: a collection of web apps for the visualization and analysis of WI Fast Plants data"
**Submitting author:** @crsl4 (<a href="http://orcid.org/0000-0002-9789-8915">Claudia Solis-Lemus</a>)
**Repository:** <a href="https://github.com/crsl4/fast-stats" target ="_blank">https://github.com/crsl4/fast-stats</a>
**Version:** v2.0
**Editor:** @JasonJWilliamsNY
**Reviewers:** pierrerogy, magitz

**Author instructions**

Thanks for submitting your paper to JOSE @crsl4. **Currently, there is

[2021-02-18 18:57] whedon commented on #103
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-18 18:57] whedon commented on #103
[code]

[2021-02-18 18:58] whedon commented on #103
[code]

[2021-02-18 18:58] whedon commented on #103
PDF failed to compile for issue #103 with the following error:

 Error producing PDF.
! Use of \\author doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.290 ....edu}{\nolinkurl{solislemus@wisc.edu}})}}

Looks like we failed to compile the PDF

[2021-02-18 19:30] labarba commented on #103
hi there! 👋

We've been slow here, due to unmanageable work loads that trump volunteer tasks. Thanks for your patience. I note that your paper did not compile, but inspected the [markdown file for the article](https://github.com/crsl4/fast-stats/blob/master/ms/paper.md). It is not clear how this work fits in the scope of JOSE, as this seems to be a pure web app?

JOSE aims to publish computational

[2021-02-18 19:50] whedon opened #104 "[PRE REVIEW]: Auto-eD: A visual learning tool for automatic differentiation"
**Submitting author:** @lindseysbrown (<a href="http://orcid.org/0000-0002-9387-1387">Lindsey Brown</a>)
**Repository:** <a href="https://github.com/lindseysbrown/Auto-eD" target ="_blank">https://github.com/lindseysbrown/Auto-eD</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @rasbt, @Atcold

**Author instructions**

Thanks for submitting your paper to JOSE @lindseysbrown. **Currently

[2021-02-18 19:50] whedon commented on #104
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-18 19:50] whedon commented on #104
[code]

[2021-02-18 19:50] whedon commented on #104
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00104/jose.00104/10.21105.jose.00104.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21105.jose.00104.pdf) :page_facing_up: :point_left:

[2021-02-18 19:50] whedon commented on #104
[code]

[2021-02-18 19:56] whedon opened #105 "[PRE REVIEW]: AutoSULT: An R Package for Generating Life Contingencies Problems"
**Submitting author:** @ChrisGroendyke (<a href="http://orcid.org/0000-0001-9635-8397">Chris Groendyke</a>)
**Repository:** <a href="https://github.com/ChrisGroendyke/AutoSULT" target ="_blank">https://github.com/ChrisGroendyke/AutoSULT</a>
**Version:** v1.0-8
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @ChrisGroendyke. **Currently,

[2021-02-18 19:56] whedon commented on #105
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-18 19:56] whedon commented on #105
[code]

[2021-02-18 19:56] whedon commented on #105
PDF failed to compile for issue #105 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/w

[2021-02-18 19:56] whedon commented on #105
[code]

[2021-02-18 20:10] lindseysbrown commented on #104
Some suggestions for potential reviewers:
- Sidafa Conde
- Kyle Niemeyer

[2021-02-18 20:45] crsl4 commented on #103
Thanks @labarba ! I completely understand the reviewing speed.

We originally submitted the paper to JOSS because this is an open-source bioinformatics tool (collection of web apps) that students and researchers can use for data visualization and data analysis on plant experimental data that is very widely used across the US ([WI Fast Plants](https://fastplants.org/)). For example, experiments wit

[2021-02-18 21:03] crsl4 commented on #103
@yizhou0522 tagging the first author

[2021-02-19 18:55] labarba commented on #92
@jsta 👋  — I have just sent you email, as well ... wondering if you could help us by contributing a review for this submission to JoSE:
**ParFlow Sand Tank: A tool for groundwater exploration**
https://github.com/openjournals/jose-reviews/issues/92

[2021-02-19 19:09] labarba commented on #78
@matbesancon 👋  — You had signed up to be a reviewer for JoSE a while back. Could you take a look at this submission and see if you can contribute a review? (We've been stuck for a number of months with volunteers deluged, so things slowed to a halt. I would really appreciate your help to take this to the finish line.)
**Game Theory and Python: An educational tutorial to game theory and repeated g

[2021-02-19 19:14] dsblank commented on #59
Wow, didn't realize that this was blocking on me! Please remove me from the reviewers.

[2021-02-19 19:15] labarba commented on #79
Hi @koadman 👋  — do let us know how you are getting along with revising your submission!
We are all digging out of the rubble of piled up work, and overall world chaos, so just give as a quick update when you can.

[2021-02-19 19:20] labarba commented on #61
Hi @albi3ro 👋  — do you think that you would like to finish this stalled submission for JoSE? Or have you moved on to other activities and are no longer interested? We've all been buried under a rubble of piled up work, and overall world chaos, so just update us on your plans with this, when you can.

[2021-02-19 19:22] mnarayan commented on #78
Sorry, I am unable to review at the moment but if you still need a reviewer after March 15, I might be available then.

[2021-02-19 19:22] dsblank commented on #59
Wow, didn't realize that this was blocking on me! Please remove me from the reviewers.

[2021-02-19 19:22] labarba commented on #90
Hi @jrising 👋 — do let us know how you are getting along with revising your submission!
We are all digging out of the rubble of piled up work, and overall world chaos, so just give as a quick update when you can.

[2021-02-19 19:26] dsblank commented on #59
Wow, didn't realize that this was blocking on me! Please remove me from the reviewers.

[2021-02-19 19:55] labarba commented on #59
@whedon remove @dsblank as reviewer

[2021-02-19 19:55] whedon commented on #59
OK, @dsblank is no longer a reviewer

[2021-02-19 19:56] labarba commented on #59
Thanks for popping in, @dsblank — and happy retirement!

[2021-02-19 20:03] labarba commented on #59
@abuccts 👋  — Hello! You signed up as a reviewer for JoSE a while back, with interest in machine learning and others. Would you be able to contribute a review for this submission?
**mLEARn: An Implementation of Multi-layer Perceptron in C++**
https://github.com/openjournals/jose-reviews/issues/59

[2021-02-19 20:04] labarba commented on #59
@whedon generate pdf

[2021-02-19 20:05] whedon commented on #59
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: :point_left:

[2021-02-20 17:23] labarba commented on #67
Hi @IanHawke @sconde @zingale 👋
I'm now coming back to tend to our neglected little project in publishing. SIGH. Being General Chair of JupyterCon, with the pivot online, was a huge lift and I had months of piled up work. This here submission has been languishing for a long time. Could you all come in here and have a look?

@ctdegroot — apologies for dropping the ball completely here. It looks lik

[2021-02-20 17:23] labarba commented on #67
@whedon generate pdf

[2021-02-20 17:23] whedon commented on #67
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00067/jose.00067/10.21105.jose.00067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00067/jose.00067/10.21105.jose.00067.pdf) :page_facing_up: :point_left:

[2021-02-20 17:39] labarba commented on #87
Hi @cicirello 👋  — I apologize for not delivering on expectations here, but JoSE became abandoned when I got crushed with other commitments, plus online teaching, and many changes and stresses due to the world chaos of the past year. I'm just getting back to audit all the dropped balls and try to pick them up one by one.

I have read your paper, and understand that your submission is about a tutor

[2021-02-20 17:42] labarba commented on #87
@whedon check repository

[2021-02-20 17:42] whedon commented on #87
[code]

[2021-02-20 18:06] labarba commented on #83
Hi @warint — I have read your paper and explored the site at https://warin.ca/covid-19-hackathon/
I went to the page on "Hacking Health Resources" and from there I looked through the "Potential modules." Some of these had a link to a Figshare deposit with "File(s) not publicly available," and include a list of related links. Others seem to be links to internal resources, e.g., https://lab.nuance-r

[2021-02-20 19:33] cicirello commented on #87
@labarba I totally understand about the delay. The application itself explains how it functions, etc. There is a prebuilt executable jar file in the dist directory. Assuming you have Java 8 or higher on your system, you can run it by either double clicking the jar file or executing the following on the command line: `java -jar interactive-bin-packing-3.0.jar`

Once the application is open, there i

[2021-02-20 19:39] labarba commented on #87
Thanks!

I, personally, am not a computer scientist, have never touched Java, and cannot install the application. Before I can determine who might be an editor to handle this submission, I need to understand what it does. Could you briefly explain it to me, understanding that I cannot install it?

[2021-02-20 19:53] cicirello commented on #87
@labarba I think I may have edited my original response while you were replying. Is the new last paragraph of my previous reply what you are looking for?

[2021-02-20 22:54] warint commented on #83
Sorry about that, i will fix the links and make the content organization a
little more straightforward.
Th.

On Sat, Feb 20, 2021 at 1:07 PM Lorena A. Barba <notifications@github.com>
wrote:

[2021-02-21 14:05] labarba commented on #89
@whedon generate pdf

[2021-02-21 14:06] whedon commented on #89
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: :point_left:

[2021-02-21 14:24] labarba commented on #89
@whedon check repository

[2021-02-21 14:24] whedon commented on #89
[code]

[2021-02-21 14:25] labarba commented on #89
@mbarzegary — Can you confirm here that you have addressed all the comments of the first reviewer (@e-dub) and are ready for a second look? (I have reached out by email.)

[2021-02-21 14:27] labarba commented on #89
Hi @jcapriot — I see that you opened some issues in the target repository back in December. Can you check of items in your review checklist now? Are the permission problems solved? Let us know if you can give this submission another look now.

[2021-02-21 16:13] labarba commented on #102
Hi @CosiMichele 👋  — Do give us a quick update about your plan for addressing the comments and suggestions contributed by @AstrobioMike.

I've also sent a ping via email to our second reviewer, to learn about his status. These are tough times for most people, and we do our best.

[2021-02-21 16:19] labarba commented on #96
@ttimbers 👋  — could you handle this submission as editor?

[2021-02-21 16:33] ttimbers commented on #96
Yes @labarba - happy to do so!

[2021-02-21 16:36] labarba commented on #96
@whedon assign @ttimbers as editor

[2021-02-21 16:36] whedon commented on #96
OK, the editor is @ttimbers

[2021-02-21 16:37] labarba commented on #96
At some point, @pschloss had volunteered to review, but that was a couple of months ago. I've emailed to check again.

[2021-02-21 17:15] whedon opened #106 "[PRE REVIEW]: Instructing Pump Test Evaluation using Jupyter"
**Submitting author:** @eholzbe (<a href="http://orcid.org/0000-0002-1350-9223">Ekkehard Holzbecher</a>)
**Repository:** <a href="https://github.com/eholzbe/Hydraulic-testing" target ="_blank">https://github.com/eholzbe/Hydraulic-testing</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @eholzbe. **Currently, there is

[2021-02-21 17:15] whedon commented on #106
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-21 17:15] whedon commented on #106
[code]

[2021-02-21 17:15] whedon commented on #106
PDF failed to compile for issue #106 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-923

[2021-02-21 17:16] whedon commented on #106
[code]

[2021-02-21 17:20] whedon opened #107 "[PRE REVIEW]: IndeterminateBeam: A Python package for solving 1D indeterminate beams"
**Submitting author:** @jessebonanno (<a href="http://orcid.org/0000-0002-4996-6813">Jesse Bonanno</a>)
**Repository:** <a href="https://github.com/JesseBonanno/IndeterminateBeam/" target ="_blank">https://github.com/JesseBonanno/IndeterminateBeam/</a>
**Version:** v2.0.1
**Editor:** @moorepants
**Reviewers:** @amcc1996 , @nicoguaro

**Author instructions**

Thanks for submitting your paper to JOS

[2021-02-21 17:20] whedon commented on #107
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-21 17:21] whedon commented on #107
[code]

[2021-02-21 17:21] whedon commented on #107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: :point_left:

[2021-02-21 17:21] whedon commented on #107
[code]

[2021-02-21 17:27] labarba commented on #107
Hi @moorepants — you handled the [Beambending](https://jose.theoj.org/papers/10.21105/jose.00065) submission, which this package extends. Can you take this through review?

One question I have is why create a new package and not add functionality to the existing one? It seems like having so many packages to study statics would not be great for the users...

[2021-02-21 17:29] whedon opened #108 "[PRE REVIEW]: LTPy - Learning tool for Python on Atmospheric Composition"
**Submitting author:** @jwagemann (<a href="http://orcid.org/0000-0002-3075-2559">Julia Wagemann</a>)
**Repository:** <a href="https://gitlab.eumetsat.int/eumetlab/atmosphere/atmosphere" target ="_blank">https://gitlab.eumetsat.int/eumetlab/atmosphere/atmosphere</a>
**Version:** v0.5
**Editor:** @ashleefv
**Reviewers:** @djlampert, @BYL4746

**Author instructions**

Thanks for submitting your pape

[2021-02-21 17:29] whedon commented on #108
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-21 17:30] whedon commented on #108
[code]

[2021-02-21 17:31] whedon commented on #108
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00108/jose.00108/10.21105.jose.00108.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00108/jose.00108/10.21105.jose.00108.pdf) :page_facing_up: :point_left:

[2021-02-21 17:31] whedon commented on #108
[code]

[2021-02-21 17:44] whedon opened #109 "[PRE REVIEW]: r-cubed: Guiding the overwhelmed scientist from random wrangling to Reproducible Research in R"
**Submitting author:** @lwjohnst86 (<a href="http://orcid.org/0000-0003-4169-2616">Luke W. Johnston</a>)
**Repository:** <a href="https://gitlab.com/rostools/r-cubed/" target ="_blank">https://gitlab.com/rostools/r-cubed/</a>
**Version:** v3.0
**Editor:** @JasonJWilliamsNY
**Reviewers:** @pschloss

**Author instructions**

Thanks for submitting your paper to JOSE @lwjohnst86. **Currently, there is

[2021-02-21 17:44] whedon commented on #109
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-21 17:44] whedon commented on #109
[code]

[2021-02-21 17:44] whedon commented on #109
[code]

[2021-02-21 17:44] whedon commented on #109
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00109/jose.00109/10.21105.jose.00109.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00109/jose.00109/10.21105.jose.00109.pdf) :page_facing_up: :point_left:

[2021-02-21 17:50] whedon opened #110 "[PRE REVIEW]: Neuromatch Academy: a 3-week, online summer school in computational neuroscience"
**Submitting author:** @thartbm (<a href="http://orcid.org/0000-0002-0045-3769">Bernard Marius &#39;t Hart</a>)
**Repository:** <a href="https://github.com/NeuromatchAcademy/course-content" target ="_blank">https://github.com/NeuromatchAcademy/course-content</a>
**Version:** 1
**Editor:** @emckiernan
**Reviewers:** @TomDonoghue, @PaulScotti

**Author instructions**

Thanks for submitting your pape

[2021-02-21 17:50] whedon commented on #110
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-21 17:50] whedon commented on #110
PDF failed to compile for issue #110 with the following error:

 Can't find any papers to compile :-(

[2021-02-21 17:51] labarba commented on #110
@whedon generate pdf

[2021-02-21 17:53] whedon commented on #110
PDF failed to compile for issue #110 with the following error:

 Can't find any papers to compile :-(

[2021-02-21 19:06] labarba commented on #110
@whedon generate pdf from branch jose_paper

[2021-02-21 19:06] whedon commented on #110
[code]

[2021-02-21 19:07] whedon commented on #110
PDF failed to compile for issue #110 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (2712209b765c450f9b53ba41/paper.md): mapping values are not allowed in this context at line 494 column 64 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	f

[2021-02-21 21:05] mbarzegary commented on #89
dear @labarba
yes, I confirm that I have addressed them all. I reopened all the issues to be closed by @e-dub after confirmation.

[2021-02-21 21:43] labarba commented on #103
I see. Thanks for the clarification. Internally, JOSE editors have been doing some soul-searching on our scope for web applications, but we have published tools of that category. I understand that JOSS would not consider it, not being research software per se.

Question: are data sets also open? That is, would a reviewer be able to test the apps with real data that you provide?

[2021-02-22 03:34] thartbm commented on #110
The line mentioned there has a URL in the affiliation (it's an event that has changing physical locations, but a constant web address). I'm guessing that parts of the URL are read to have meaning in yaml (like a colon), can I prevent that somehow?

[2021-02-22 03:49] ChrisGroendyke commented on #105
@whedon commands

[2021-02-22 03:49] whedon commented on #105
Here are some things you can ask me to do:

[code]

[2021-02-22 03:59] ChrisGroendyke commented on #105
@whedon generate pdf

[2021-02-22 04:00] whedon commented on #105
PDF failed to compile for issue #105 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/w

[2021-02-22 04:07] ChrisGroendyke commented on #105
@whedon generate pdf

[2021-02-22 04:08] whedon commented on #105
PDF failed to compile for issue #105 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for 0:Integer (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/li

[2021-02-22 04:09] ChrisGroendyke commented on #105
@whedon generate pdf

[2021-02-22 04:10] whedon commented on #105
PDF failed to compile for issue #105 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Chris Groendyke) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a077

[2021-02-22 04:20] ChrisGroendyke commented on #105
@whedon generate pdf

[2021-02-22 04:21] whedon commented on #105
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00105/jose.00105/10.21105.jose.00105.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00105/jose.00105/10.21105.jose.00105.pdf) :page_facing_up: :point_left:

[2021-02-22 06:23] oneilsh commented on #102
Hi @labarba, @CosiMichele, @JasonJWilliamsNY,

My sincere apologies - this got caught up in a post-personal-leave swirl, but I must also have my github notifications misconfigured. Thank you @labarba for reaching out directly. I am still interested in doing the review, do I need to be re-assigned?

[2021-02-22 08:52] labarba commented on #110
I don't think so. You can try things around and then [Check that your paper compiles](https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles)

[2021-02-22 08:55] labarba commented on #102
Thank you @oneilsh ! Your review checklist is at the top: try to check off an item. If you can, all is well. If not, we'll reissue the invitation (which gives you the permissions).

[2021-02-22 12:56] moorepants commented on #107
Yes, I'll take this one.

[2021-02-22 13:18] moorepants commented on #107
@JesseBonanno, as a pre-review check can you explain here which of the two submission types this submission fits in? You can find the submission requirements here: https://jose.theoj.org/about. I see that you have created a software library for making calculations regarding beams, but that does not fit our specification for "educational software tools". I also do not see any teaching and learning

[2021-02-22 15:15] crsl4 commented on #103
Yes! There are open data in the web apps.
The goal for the web apps is that people will collect their own data from the plant experiments and then use the web app to analyze it.
But the web apps have built in sample data that anyone can use to learn about the plant experiments without having to do the plant experiments themselves.
Using the test data is as simple as clicking the "sample data" opti

[2021-02-22 15:20] jwagemann commented on #108
Proposed reviewers from the Google Sheet provided:
- Andrew MacLachlan (andrewmaclachlan)
- Jeffrey Hollister (jhollist)

[2021-02-22 15:34] thartbm commented on #110
Oh, interesting. I only submitted once that compiled. Since I did change the file a bit since first submitting (including replacing one of the colons from the affiliation on line 494 with a comma), I just checked and it had no problems. I'm not sure what to change now.

There are some additional things to work on regarding author names. If you look at the one citation in the paper, I had to indica

[2021-02-22 16:55] labarba commented on #110
@whedon generate pdf from branch jose_paper

[2021-02-22 16:55] whedon commented on #110
[code]

[2021-02-22 16:56] whedon commented on #110
PDF failed to compile for issue #110 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Patrick J Mineault) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a

[2021-02-22 16:57] labarba commented on #110
Different error now. Can you check the paper header again?

[2021-02-22 17:06] labarba commented on #96
@whedon assign @pschloss as reviewer

[2021-02-22 17:06] whedon commented on #96
OK, @pschloss is now a reviewer

[2021-02-22 17:07] thartbm commented on #110
This is correct: Patrick J. Mineault does not have an affiliation, and that is as it should be. Is there some way I should indicate this?

[2021-02-22 17:09] labarba commented on #96
Hi @ttimbers -- we new need one more reviewer and you can start the review! 🚀

[2021-02-22 17:12] labarba commented on #110
Yes, you can [indicate it as "Independent Researcher,"](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) or something similar.

[2021-02-22 17:35] thartbm commented on #110
Alright, I asked Patrick and he's ok with "Independent Researcher". So I've added it, and the PDF compiles but seems to just print the yaml header across ~13 pages.

[2021-02-22 17:50] labarba commented on #110
@whedon generate pdf from branch jose_paper

[2021-02-22 17:50] whedon commented on #110
[code]

[2021-02-22 17:51] whedon commented on #110
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00110/jose.00110/10.21105.jose.00110.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00110/jose.00110/10.21105.jose.00110.pdf) :page_facing_up: :point_left:

[2021-02-22 18:17] moorepants commented on #110
FYI, see the conversation here for reference to the size and scope: https://github.com/openjournals/jose/issues/52

[2021-02-22 18:18] labarba commented on #110
@thartbm — thank you for linking to the pre-submission enquiry. I have read that now, and got caught up with the discussion about authorship and size of the work submitted.

I have concerns about the author list.

Authorship guidelines vary from field to field but:

[COPE Guidelines PDF, p.4](https://publicationethics.org/files/COPE_DD_A4_Authorship_SEPT19_SCREEN_AW.pdf)

[2021-02-22 18:20] labarba commented on #110
See also:
http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html#two

[2021-02-22 18:23] oneilsh commented on #102
Thanks @labarba :) I cannot - I think I will need the invitation re-issued, I must have missed the window.

[2021-02-22 18:26] labarba commented on #102
@whedon re-invite @oneilsh as reviewer

[2021-02-22 18:26] whedon commented on #102
The reviewer already has a pending invite.

@oneilsh please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-02-22 19:10] koerding commented on #110
As a co-founder of NMA and participant in the run-up to this paper I can confirm that we made sure that all authors substantially contributed (and that we spent weeks as a group making that sure for every person). I can also confirm that they all are and feel accountable (and that we explicitly asked each participant).

[2021-02-22 19:17] csev commented on #87
At the request of the EiC, I have downloaded and installed this software.   Following the documentation it starts and runs and makes sense given the problem that it solves.   It feels somewhat narrow in its application - it would be a great interactive part of a week of an advanced algorithms course towards the end of undergraduate program or at the beginning of a masters program in Computer Scien

[2021-02-22 19:18] oneilsh commented on #102
Hmm, I was able to accept the new invite, but I'm not able to interact with the checkboxes or see any options for editing the issue comment.

[2021-02-22 19:20] labarba commented on #102
@openjournals/dev --- I have reached a dead-end with a reviewer permissions issue. Could you take a look? The reviewer is unable to edit the checklist, despite being re-invited and accepting the invitation.

[2021-02-22 21:01] thartbm commented on #110
As reviewers, these 6 people from your list seem to have a related background and knowledge of Python:

Ariel Rokem (arokem)
Teon Brooks (teonbrooks)
Enrico Glerean (eglerean)
Damien Mannion (djmannion)
Manjaru Narayan (mnarayan)
Thomas Donoghue (TomDonoghue)

[2021-02-22 22:13] oneilsh commented on #102
Hi @CosiMichele, @JasonJWilliamsNY,

I'll add some comments here while I work on getting checkbox access :)

First, I think this is an excellent effort - bioinformatics teaching is challenging, particularly given the heavy resource needs for most bioinformatics software, the very bursty nature of teaching those methods, and how difficult such software is to manage. I appreciate the multiple deploy

[2021-02-22 23:29] JesseBonanno commented on #107
@moorepants I have intended this to be an educational software tool that can be used to check the solutions for beams. It can be thought of as an autograder for students solving for beams. I have also included documentation about the theory behind the solutions. As to why i didnt simply update the original package, i am new to coding and was originally playing around. By now i would say there are

[2021-02-23 17:15] labarba commented on #89
Hi @e-dub 👋  — the author says they have addressed all the issues you opened in the target repository. Could you give this a second look now, and see if you can check off (some of) the remaining items in your checklist?

[2021-02-23 17:20] labarba commented on #89
@magsol — I have searched quite a bit, but could not find an email for @jcapriot... do you have one? I found in his LinkedIn profile that he is now a postdoc at UBC, after graduating last year. If he does not respond anymore, we will need a replacement reviewer. Please have a look around...

[2021-02-23 19:01] ctdegroot commented on #67
No worries on the delay @labarba. It happens to the best of us :)

I do believe that I have made all of the requested changes by the reviewers. Interestingly, I am offering the associated course in the current semester for the second go-around.

[2021-02-23 20:08] jcapriot commented on #89
@labarba I still don't have the ability to edit my boxes on this page, and I've never actually received the link to be able to join the JOSE repo to edit them. It still says that I do not have permissions, and I have tried many times to gain permissions. I have not seen it come through. I should have my email listed on my GitHub account here. I did add comments and errors in a couple issues on the

[2021-02-23 20:26] labarba commented on #89
@whedon re-invite @jcapriot as reviewer

[2021-02-23 20:26] whedon commented on #89
OK, the reviewer has been re-invited.

@jcapriot please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-02-23 20:26] labarba commented on #89
hey @jcapriot 👋 Nice to see you pop in here! Try the link ☝️

[2021-02-23 20:27] jcapriot commented on #89
Thank you, sorry for all of the confusion :/

[2021-02-23 20:45] labarba commented on #67
I just heard back from @sconde via email, and he's ready to take another look. @zingale also got back to me and will pop in here soon.

[2021-02-23 21:28] CosiMichele commented on #102
Hi everyone, @AstrobioMike , I believe I have addressed all the issues which you have brought us:

1. Although we believe that this is StarBLAST 1.0, we will be awaiting for this review to pass before assigning the version number. However, if required, we will be happy to add the version to our GitHub.
2. We have added a page for usage and examples (https://starblast.readthedocs.io/en/latest/5_SS_

[2021-02-23 22:02] cicirello commented on #87
@csev I've used it in a couple different courses in a couple different ways. Here are a couple examples:

1) In an upper level undergrad AI course, just before covering randomized heuristics, I have the students work through the tutorial as part of a homework assignment (I usually give them a specific instance number so they can submit the various heuristic solutions as proof they worked through t

[2021-02-24 11:04] labarba commented on #78
@whedon assign @labarba as editor

[2021-02-24 11:11] matbesancon commented on #78
hi @labarba, yes I can review this paper. Next 2 weeks look a bit dense on my end, I should manage to pull it off afterwards

[2021-02-24 11:14] labarba commented on #78
Thank you, @matbesancon !!

It has been terribly difficult to keep rolling this pure volunteer project during these difficult times. We are grateful for anyone who is still out here willing and able to contribute 🙏

[2021-02-24 11:15] labarba commented on #78
@whedon add @matbesancon as reviewer

[2021-02-24 11:15] whedon commented on #78
OK, @matbesancon is now a reviewer

[2021-02-24 11:42] matbesancon commented on #78
@whedon remind @matbesancon in 2 weeks

[2021-02-24 11:42] whedon commented on #78
I'm sorry @matbesancon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-24 11:52] labarba commented on #78
@whedon remind @matbesancon in 2 weeks

[2021-02-24 11:52] whedon commented on #78
Reminder set for @matbesancon in 2 weeks

[2021-02-24 11:59] matbesancon commented on #78
no problem, least we can do as academics is help the journals and venues with positive impact :)

[2021-02-24 19:42] jrising commented on #90
Thank you @labarba for the prompt! We have been going through the suggestions and thinking broadly about how to improve the structure of the tutorial in light of these comments. I have just replied to the full list of helpful comments. Here are responses to the points above from @jwagemann.

We have made several improvements to address this. We added "learning objectives and decision points" boxes

[2021-02-25 07:56] eholzbe commented on #106
Dear JOSE

Thanks for the mail. I updated the bibliography file on github according to
the recommendations.
Concerning possible reviewers, I find only one dealing with Jupyter
projects: bryan.weber from Connecticut.
He seems not to be involved with groundwater, so he may find himself not
the right person for a review.
Can I propose people who are not on your list?

Best regards
Ekkehard Holzbecher

[2021-02-27 21:44] RobinHankin commented on #91
Hello, I see from

https://jose.theoj.org/papers/ab50474b49636cdac6ba2687f051b465

that the paper is still under review, can I ask what the status of the submission is please?

[2021-03-01 15:12] magsol commented on #89
Thanks @labarba!

@jcapriot Let me know if you need anything else to complete your review.

@e-dub Please follow up regarding whether @mbarzegary has adequately addressed your feedback, or if anything else is needed. I'd like to finalize your review as soon as possible.

[2021-03-01 18:53] arfon commented on #102
Could you tell me what browser you're using?

[2021-03-01 22:59] AstrobioMike commented on #102
Thanks for addressing everything from me, @CosiMichele, all looks good to me. And thanks again to you and the co-authors for your work on this!

[2021-03-03 06:52] CosiMichele commented on #102
Hi everyone, thank you once again for your time and patience.

Thank you @AstrobioMike for taking time and reviewing StarBLAST! Your input has really helped us.

Thank you @oneilsh for your comments! Here are some updates:

1. Since both you and @AstrobioMike pointed out the version release, I went ahead and added it to the GitHub code.
2. I have edited the HPC requirements installation, addressin

[2021-03-05 23:16] oneilsh commented on #102
@arfon - Chrome, 88.0.4324.192 (Official Build) (x86_64)

@CosiMichele nice updates! They do address most of my thoughts. My only remaining suggestion would be to include some screenshots on the installation/access of the DE version.

[2021-03-08 02:00] RobinHankin commented on #91
@kyleniemeyer
@IanHawke
@labarba

hello, can I ask what the status of the submission is please?

[2021-03-08 22:54] CosiMichele commented on #102
@oneilsh Thank you for the suggestion! I have added screenshots to help users navigate the DE.

Please let us know if there's anything else we should do/change.

[2021-03-10 02:37] TomDonoghue commented on #86
Trying again.... @labarba and/or @kyleniemeyer - do you think it would be possible to get this going? We would still like to get this reviewed and potentially published in JOSE if possible. We still need a managing editor.

[2021-03-10 11:52] whedon commented on #78
:wave: @matbesancon, please update us on how your review is going (this is an automated reminder).

[2021-03-10 12:26] matbesancon commented on #78
some remarks on the paper itself, this is mostly nitpicking and spelling:

I think the usual spelling is "open-source" as an adjective with a dash
"used in various others events" --> other events
"with a knowledge of Python" --> with knowledge of
"The new strategies then can" -> strategies can then
real life decision making --> real-life decision making
sub fields -> subfields

Would there be a mo

[2021-03-10 12:34] matbesancon commented on #78
References: some have the DOI shortcode, some have the DOI URL, this could be made uniform.
The reference Weir 2009 seems oddly formatted (all in caps with a physical address, of the editor? A ... at the end)

[2021-03-10 12:47] Nikoleta-v3 commented on #78
Thank you very much for your review and issue @matbesancon. I'll address the comments as soon as possible 👍🏻 😄

[2021-03-10 19:26] sconde commented on #67
[Bitbucket issue](https://bitbucket.org/cdegroot/cfdcourse/issues/6/missing-version)

[2021-03-10 19:51] sconde commented on #67
The quality of the submission is very good and recommend to be published following the resolution of the remaining opened issues.

[2021-03-11 11:37] lwjohnst86 commented on #109
Hi! Maybe to push this forward more. I've looked through the list of reviewers and these are some that I feel might be good for this paper. They either have some background in biomedicine, reproducibility, or education in general, based on their listed topics.

- Jeffrey Hollister
- Pat Schloss
- Brandon LeBeau
- Albert Y. Kim
- Kelly Bodwin
- Andrew Duncan
- Jason Williams
- Aayushi Uberoi
- Kate

[2021-03-12 09:51] Nikoleta-v3 commented on #78
@whedon generate pdf

[2021-03-12 09:52] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00078/jose.00078/10.21105.jose.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00078/jose.00078/10.21105.jose.00078.pdf) :page_facing_up: :point_left:

[2021-03-12 09:55] Nikoleta-v3 commented on #78
@whedon generate pdf

[2021-03-12 09:56] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00078/jose.00078/10.21105.jose.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00078/jose.00078/10.21105.jose.00078.pdf) :page_facing_up: :point_left:

[2021-03-12 10:03] Nikoleta-v3 commented on #78
Hello @matbesancon I believe I have now addressed all the issues that you raised 😄

This was done in https://github.com/Nikoleta-v3/Game-Theory-and-Python/pull/35.

Note I've changed the CI to GitHub actions (https://github.com/Nikoleta-v3/Game-Theory-and-Python/pull/36) 😬

[2021-03-12 10:08] matbesancon commented on #78
@whedon help

[2021-03-12 10:08] whedon commented on #78
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-12 10:08] matbesancon commented on #78
@whedon commands

[2021-03-12 10:08] whedon commented on #78
Here are some things you can ask me to do:

[code]

[2021-03-12 10:08] matbesancon commented on #78
@whedon check references

[2021-03-12 10:08] whedon commented on #78
[code]

[2021-03-12 10:11] matbesancon commented on #78
@labarba I finished my review and am happy with the current version of the paper and project

[2021-03-15 05:19] oneilsh commented on #102
It works! Thank you :)

[2021-03-15 13:17] Nikoleta-v3 commented on #78
@whedon generate pdf

[2021-03-15 13:27] magsol commented on #89
Hi folks,

We really need to move on this.

@jcapriot: Please let me know when you can complete your review. If it's finished, please let me know so we can finalize your end.

@e-dub Please follow up on whether @mbarzegary has adequately addressed your reviewer feedback. If so, I'd like to finalize your portion of the review.

Let's get this done as soon as possible. Thank you.

[2021-03-20 19:46] ConorIA commented on #100
Hi all,

Just checking in. The fixes to the issues identified by @jwagemann were made ~ a month ago in https://gitlab.com/claut/man_ccia/-/commit/fe193f46d1d637893bdd8be1a58d00e2f4d7fec5

The only suggestion that I did not adopted was from https://gitlab.com/claut/man_ccia/-/issues/8 suggesting that we port the chapter to xarray. I do like this idea and will implement it in the future, as I think

[2021-03-24 09:32] drvinceknight commented on #78
Thanks @matbesancon for your work on this. :+1:

@labarba let us know if there's anything else we need to do on our side :)

[2021-03-30 22:41] JasonJWilliamsNY commented on #102
Hi @oneilsh @AstrobioMike @CosiMichele I wanted to check in and see if there is anything I can do to help move things forward. Looks like some progress has been made over the last month!

[2021-03-30 23:10] CosiMichele commented on #102
Hi @JasonJWilliamsNY, thanks for checking in!

I have made the changes proposed by @AstrobioMike and @oneilsh to the documentation. I believe there's only one last proposition from @oneilsh, which has been addressed. As things stand, I am just waiting for feedback on these last changes. Thanks again for checking in and all the reviewers' work!

[2021-03-30 23:12] JasonJWilliamsNY commented on #102
@CosiMichele Great! I'll keep my eye out for moving this to the next stage!

[2021-03-31 00:12] AstrobioMike commented on #102
Hey all, yep all is good from my perspective. @CosiMichele addressed everything from me :) Thanks!

[2021-03-31 06:01] oneilsh commented on #102
Hi @JasonJWilliamsNY same here, let me know if there's anything else needed from my end 👍

[2021-04-01 13:52] moorepants commented on #107
@whedon assign @moorepants as editor

[2021-04-01 13:53] whedon commented on #107
OK, the editor is @moorepants

[2021-04-01 13:54] moorepants commented on #107
@alfredocarella Would you be interested in reviewing this submission? It is very similar to your prior JOSE article.

[2021-04-01 13:57] moorepants commented on #107
@JesseBonanno Can you recommend some reviewers in the field?

[2021-04-01 14:00] moorepants commented on #107
@amcc1996 I see that you've developed the symbeam package. I believe you'd be an appropriate reviewer for this Journal of Open Source Education submission on a similar topic. Would you like to be a reviewer?

[2021-04-01 18:08] amcc1996 commented on #107
Hello, @moorepants. I would be very happy to contribute to this publication as a reviewer, you can count on me.

[2021-04-01 18:09] pschloss commented on #109
I'd be happy to review this submission if needed

[2021-04-01 19:01] moorepants commented on #107
Great, thanks! Let me see if I can get a second reviewer and then we'll start.

[2021-04-01 20:46] magsol commented on #89
@mbarzegary We're between a bit of a rock and a hard place. Are you waiting on either of the reviewers at this point?

[2021-04-01 22:51] JesseBonanno commented on #107
If @alfredocarella is able to review i think he would be very well suited for the task. I have privately been in contact with him and he has already had a look at the code and given feedback so he is halfway into the role already.

Other potential candiates i can find are Satish Annigeri, Kyle Niemeyer, Cameron Devine (in order of suitability). Chosen for a background in mechanical/civil/structura

[2021-04-02 06:47] moorepants commented on #107
Yes please update.

[2021-04-02 06:47] moorepants commented on #107
@whedon assign @amcc1996  as reviewer

[2021-04-02 06:47] whedon commented on #107
OK, @amcc1996  is now a reviewer

[2021-04-02 06:49] moorepants commented on #107
@whedon set v2.0.1 as version

[2021-04-02 06:49] whedon commented on #107
OK. v2.0.1 is the version.

[2021-04-02 06:50] moorepants commented on #107
@whedon generate pdf

[2021-04-02 06:52] whedon commented on #107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: :point_left:

[2021-04-02 06:55] JesseBonanno commented on #107
I think i am going to have to update the paper to reflect some minor changes to referenced images etc, that i didnt account for during last few commits. I will update the paper now, shouldn't take too long.

[2021-04-02 07:17] alfredocarella commented on #107
@moorepants I appreciate being considered as a reviewer. However, as @JesseBonanno  correctly points out, we have exchanged a few emails and I have privately suggested improvements. I am afraid this might appear as a potential conflict of interest, and believe it would be healthy to avoid it if possible.
In case you don't find a second reviewer within reasonable time, I am willing to take the role

[2021-04-02 07:25] moorepants commented on #107
Ok, good to know.

[2021-04-02 07:26] moorepants commented on #107
@satish-annigeri would you be interested in reviewing this Journal of Open Source Education submission regarding beam bending structural mechanics?

[2021-04-02 07:41] JesseBonanno commented on #107
Sounds fair @alfredocarella, i hadn't considered that.

Also, I have updated the paper to be completely in-sync with any changes from v2.0.1.
I will generate the paper below now.

[2021-04-02 07:41] JesseBonanno commented on #107
@whedon generate pdf

[2021-04-02 07:42] whedon commented on #107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: :point_left:

[2021-04-02 09:57] moorepants commented on #107
@JesseBonanno From a quick pass in your paper, I see that you use SymPy in your tool but don't include the builtin beam bending functionality in your comparison table. I think it could be worth adding that. Here are the docs: https://docs.sympy.org/latest/modules/physics/continuum_mechanics/index.html

[2021-04-02 12:09] amcc1996 commented on #107
While we wait to start the more in-depth review process, I skimmed through the contents of the repository to check if something popped out to me.

I completely agree with @moorepants. Without wanting to raise any conflicts of interest here, in my opinion, the article will benefit from a more up-to-date version of the beam bending software out there. As this work relies on a Python implementation,

[2021-04-02 12:36] moorepants commented on #107
I think it is reasonable to mention closely related packages, regardless of the conflict of interest, but it's fine if they are left out too.

[2021-04-03 07:03] JesseBonanno commented on #107
@moorepants I agree that i should add SymPy in.

@amcc1996 I don't have any issues adding in SymBeam. I think it would be dishonest to not include anything with similar capabilities.

And you are correct that is a typo, and i agree i should add in fig.show().

I will make these changes within the next few days.

[2021-04-03 12:36] JasonJWilliamsNY commented on #102
@CosiMichele I take @oneilsh and @AstrobioMike 's comments to mean that they are good with changes they have seen. Are there any other changes you are working on, if not I'll have a pass to get this moving through the next steps.

[2021-04-03 15:41] CosiMichele commented on #102
@JasonJWilliamsNY currently we are not working on any further changes. Thanks to the reviewers for your time on this!

[2021-04-06 12:49] mbarzegary commented on #89
@magsol technically speaking, no. the second reviewer has left some of the checkboxes unchecked without creating issues in the repository, so I don't know his comments on the items to fix them. I have fixed most of the unchecked items according to the comments of reviewer 1.

[2021-04-06 15:05] lwjohnst86 commented on #109
Just pinging this to get an update. There's not yet an editor, maybe @labarba could add @pschloss as reviewer?

[2021-04-07 01:34] JesseBonanno commented on #107
@whedon generate pdf

[2021-04-07 01:35] whedon commented on #107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00107/jose.00107/10.21105.jose.00107.pdf) :page_facing_up: :point_left:

[2021-04-07 16:20] atrisovic commented on #90
Hi @howardjp and @jwagemann, I just wanted to check if you've seen the updates in this submission. I'm looking forward to your thoughts! Of course, no pressure! Thanks! 😄

[2021-04-07 16:26] moorepants commented on #107
@Psycho-Pirate would you be interested in reviewing this Journal of Open Source Education submission regarding beam bending structural mechanics?

[2021-04-07 16:47] moorepants commented on #107
I found a second reviewer via twitter. @nicoguaro has kindly agreed to join in.

@Psycho-Pirate, @satish-annigeri, we will move on with the other two reviewers, but you are welcome to join if interested as a third. Otherwise, we can keep the requests as backups. Thanks for the consideration.

[2021-04-07 16:47] moorepants commented on #107
@whedon add @nicoguaro as reviewer

[2021-04-07 16:48] whedon commented on #107
OK, @nicoguaro is now a reviewer

[2021-04-07 16:52] whedon opened #111 "[REVIEW]: IndeterminateBeam: A Python package for solving 1D indeterminate beams"
**Submitting author:** @jessebonanno (<a href="http://orcid.org/0000-0002-4996-6813">Jesse Bonanno</a>)
**Repository:** <a href="https://github.com/JesseBonanno/IndeterminateBeam/" target ="_blank">https://github.com/JesseBonanno/IndeterminateBeam/</a>
**Version:** v2.1.6
**Editor:** @moorepants
**Reviewer:** @amcc1996 , @nicoguaro
**Archive:** <a href="https://doi.org/10.5281/zenodo.4851065" targ

[2021-04-07 16:52] whedon commented on #107
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/111.

[2021-04-07 16:52] #107 closed

[2021-04-07 16:52] whedon commented on #111
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amcc1996 , @nicoguaro it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-07 16:52] whedon commented on #111
[code]

[2021-04-07 16:52] whedon commented on #111
[code]

[2021-04-07 16:52] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-04-07 16:53] moorepants commented on #111
@whedon set v2.0.1 as version

[2021-04-07 16:53] whedon commented on #111
OK. v2.0.1 is the version.

[2021-04-07 17:05] Psycho-Pirate commented on #107
Hey Jason, I would definitely be interested in reviewing it. However, I am currently occupied with preparing my GSoC proposal for Sympy. I will be available after few days. Is there any deadline for this?
@moorepants

[2021-04-07 17:05] moorepants commented on #111
@JesseBonanno, @amcc1996 and @nicoguaro the review will occur here. Anywhere you see JOSS above, take it as JOSE (as we share the review system with JOSS). But the same guidelines apply. @amcc1996 and @nicoguaro make sure to review the documentation for being a reviewer here: https://openjournals.readthedocs.io/en/jose/. Let me know if you have any questions.

How does three weeks for the first pa

[2021-04-07 17:12] nicoguaro commented on #111
I have reviewed in JOSE with you as en editor. Should I re-read the documentation or is it the same?

It works for me.

[2021-04-07 17:22] moorepants commented on #107
@Psycho-Pirate Yes, we will agree on some deadlines in #111. Maybe 3 weeks for the first pass. I have two reviewers now, so it is ok and we can save you for a future one.

[2021-04-07 17:26] Psycho-Pirate commented on #107
Sounds good to me. I greatly appreciate being considered as a reviewer. Thanks! @moorepants

[2021-04-07 17:48] moorepants commented on #111
Always good to remind yourself. I believe that docs website is new (at least since I last did this).

[2021-04-07 18:04] nicoguaro commented on #111
Yup, I will read it :).

[2021-04-07 19:15] moorepants commented on #111
Great. Feel free to ask any questions here and we'll set April 28th as a deadline for your first pass on the review. Thank you both for your time and expertise.

[2021-04-07 23:42] nicoguaro commented on #111
@JesseBonanno, I followed the installation as recommended in the README file and tried the example in the documentation but did not manage to get the plots. When I ran it in Visual Studio Code I got the following error message

[2021-04-08 01:29] JesseBonanno commented on #111
@nicoguaro I took a look at the google Golab and Binder online examples and they didn't have this issue. To try resolve the issue I have added in jupyter>=1.0.0 into the requirements.txt which I believe should work, although I am having difficulty recreating this issue at the moment. Please try the installation again and let me know if it works for you.

[2021-04-08 01:47] nicoguaro commented on #111
@JesseBonanno, I don't think that work. I am using the suggested method of installation

    pip install indeterminate beams

You would need to create a new version there.

I could try installing from the cloned repository, but I first try to use the instructions verbatim since that is what the users will try.

[2021-04-08 02:22] JesseBonanno commented on #111
@nicoguaro oh right, yes i would need to update the version.

For now could you try pip install jupyter>=1.0.0 alongside the pip install indeterminatebeam so i can verify if this fixes the issue you had since i am having trouble recreating this issue.

If it works i will push that version to 2.0.2 and have whedon update the version.

[2021-04-08 02:42] nicoguaro commented on #111
Yes, it worked. I ran it from a terminal and it opened two tabs in a browser with the plots.

[2021-04-08 09:35] JesseBonanno commented on #111
@whedon set v2.0.2 as version

[2021-04-08 09:35] whedon commented on #111
I'm sorry @JesseBonanno, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-08 09:37] JesseBonanno commented on #111
I have published v2.0.2 to ammend the vscode jupyter notebook issue as described in the previous few comments.

Can we please change the version to v2.0.2 to capture this?

[2021-04-08 10:30] moorepants commented on #111
@whedon set v2.0.2 as version

[2021-04-08 10:30] whedon commented on #111
OK. v2.0.2 is the version.

[2021-04-08 20:06] nicoguaro commented on #111
@JesseBonanno I tried in Visual Studio code and still have some problems, that are solved after installing nbformat. Your change make the plots works, though. I tried them in plain Python and Jupyter notebook.

Regarding the software, it is giving wrong results. Even the example in the README is wrong since it does not satisfy equilibrium in the vertical direction.

[2021-04-08 21:59] JesseBonanno commented on #111
@nicoguaro sorry for not noticing this before the submission, this is obviously a big issue and thank you for noticing it.

I compared the solution to the solution from 1.2.3, and I believe the previous solution was correct.

Previous: https://github.com/JesseBonanno/IndeterminateBeam/blob/v1.2.3/docs/examples/readme_example_internal.png
Current: https://github.com/JesseBonanno/IndeterminateBeam/b

[2021-04-11 11:44] JesseBonanno commented on #111
@nicoguaro I have fixed the issue and updated the package to version v2.0.3.

I have also slightly modified the readme example to use a "UDLV" class type rather than a "DistributedLoadV", since it is more relevant to the example. The original way that the code is written does work though with the new changes, but the DistributedLoad class is for arbritrary loads and runs the example slower than ju

[2021-04-11 11:55] JesseBonanno commented on #111
@whedon generate pdf

[2021-04-11 12:01] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-04-12 21:31] nicoguaro commented on #111
@JesseBonanno, I installed the new version (this time in Linux) and it worked. The example seems to be working as well.

I created and [issue](JesseBonanno/IndeterminateBeam#21) for an example that does not work.

[2021-04-13 08:52] JesseBonanno commented on #111
@nicoguaro

That's great, thanks.

I have just fixed and closed the issue. Great spot, thank you for finding it.

[2021-04-14 17:03] JasonJWilliamsNY commented on #102
@whedon generate pdf

[2021-04-14 17:05] whedon commented on #102
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00102/jose.00102/10.21105.jose.00102.pdf) :page_facing_up: :point_left:

[2021-04-14 18:10] JasonJWilliamsNY commented on #102
@CosiMichele I have reviewed the proof and things look good. The next step is for you to create an archive on either https://zenodo.org/ or https://figshare.com/ and obtain a DOI (which you'll need to give to us). I can then move to the final acceptance and publication steps.

Tip: Here is a nice guide on doing the above with Zenodo: https://guides.github.com/activities/citable-code/#:~:text=Makin

[2021-04-14 18:25] CosiMichele commented on #102
@JasonJWilliamsNY thank you so much!

I generated the DOI using Zenodo: here's a link https://zenodo.org/badge/latestdoi/223219222  and the badge itself [![DOI](https://zenodo.org/badge/223219222.svg)](https://zenodo.org/badge/latestdoi/223219222)

Let us know what else we can do!

[2021-04-14 19:03] labarba commented on #102
Hi @CosiMichele 👋
I see we're getting to the end with this one 🎉

We like to ask that the Zenodo metadata be edited to match the JOSE paper: that is match the title, and list of authors (note that the auto-sync with Zenodo lists anyone who has made a commit as author.) Could you make that change?

[2021-04-14 19:03] labarba commented on #102
@whedon set 10.5281/zenodo.4688218 as archive

[2021-04-14 19:03] whedon commented on #102
OK. <a href="https://doi.org/10.5281/zenodo.4688218" target="_blank">10.5281/zenodo.4688218</a> is the archive.

[2021-04-14 19:04] labarba commented on #102
Sorry for butting in, @JasonJWilliamsNY — I wanted to have a go at the `whedon` superpowers again!

[2021-04-14 19:06] labarba commented on #102
Should the version be marked as `1.0.0a`?

[2021-04-14 20:17] CosiMichele commented on #102
@labarba , thanks for checking in! I believe I changed the Zenodo metadata to match the JOSE metadata (including the version). Can you please check and let us know if there's more to chance? Thank you!

[2021-04-15 08:16] labarba commented on #102
@whedon set 1.0.0a as version

[2021-04-15 08:16] whedon commented on #102
OK. 1.0.0a is the version.

[2021-04-17 17:29] JasonJWilliamsNY commented on #102
@labarba can you confirm everything is set on your end? I'll assume you'll close the issue at publication?

[2021-04-17 17:59] amcc1996 commented on #111
I have just finished my first thorough pass on the repository and paper. With regard to the paper itself, I have no further comments, besides the small remarks and corrections that @JesseBonanno has already applied. Concerning the overall code + repository, I have both some minor and major comments that I would like to discuss.

**Major revision comments**
1. I cannot run the [README.md example](h

[2021-04-19 15:03] jwagemann commented on #108
Hi @labarba ,
is there an update on the review process for this submission? How can I assist with assigning / finding reviewers?

[2021-04-19 22:18] JesseBonanno commented on #111
Hi @amcc1996,

First of all thank you for the time you have put into this. Your feedback is constructive and I appreciate it.

Second of all to make sure we are all on the same page, I have addressed issues here and previous issues found by @nicoguaro and have now published a version 2.0.4, which addresses all issues to date.

If we can move the review to this version (2.0.4) that would be best.

[2021-04-19 22:38] nicoguaro commented on #111
I haven't move to the next step in my review, I was first checking the capabilities. Now I think that it is working properly and maybe next weekend will have some comments regarding documentation, testing and code.

Regarding the specific point on units, I have the same comment as @amcc1996 . At first I thought that it might be something related to Hibbeler's book, but there they use different sys

[2021-04-20 08:15] amcc1996 commented on #111
Ok that would explain some of my observations. I was running version v2.0.3 on my system the last weekend. I will repeat my tests the next weekend with the new version, thank you for noticing that!

Well, it seems that we are using distinct analytical solutions. Perhaps I took the wrong one out of the shelf. I will take another look on my next pass and come back to you right after! Possibly, that

[2021-04-20 09:11] moorepants commented on #111
@whedon set v2.0.4 as version

[2021-04-20 09:11] whedon commented on #111
OK. v2.0.4 is the version.

[2021-04-20 11:04] JesseBonanno commented on #111
Based on the collective feedback I will update the package to use SI units. I am not sure when i will have time to do this but should be done by the weekend and i will make a comment here when it has been changed.

Thanks for the tip, i will try it out!

[2021-04-20 12:00] moorepants commented on #111
Discussion is fine here, but please open any issues on the repo that are needed.

[2021-04-21 14:02] moorepants commented on #80
@ttimbers, this submission fell off my radar. @rudeboybert wrote me today to ask about the status. I'm not an R or stats expert. Given that Lorena suggested you, might you be interested in editing this submission? If not, maybe you have some suggestions on reviewers? Thanks -- Jason

[2021-04-21 16:52] whedon commented on #111
:wave: @nicoguaro, please update us on how your review is going (this is an automated reminder).

[2021-04-21 16:52] whedon commented on #111
:wave: @amcc1996 , please update us on how your review is going (this is an automated reminder).

[2021-04-22 01:09] crsl4 commented on #103
Hello @labarba ,
No pressure at all, but just wondering if you have any updates on the JOSE scope and the suitability of our work.
Again, just touching base and as a fellow reviewer/editor, I completely understand the speed of review these days :)

[2021-04-22 13:10] magsol commented on #89
Hi @jcapriot 👋 Please see the note from the author below regarding your review checklist:

Please respond as soon as you can with whatever help you may need from me or the author, and whatever additional steps you have yet to take.

[2021-04-23 13:53] thartbm commented on #110
Hello! Bumping this, and wondering what the status is. :)

[2021-04-25 14:26] amcc1996 commented on #111
@JesseBonanno, I repeated by evaluation with the up-to-date version `v2.0.4`. Unfortunately, some of my concerns persist. In the next points, I will summarise the observations resulting from this second pass.

1. I still cannot run the [readme_example.py](https://github.com/JesseBonanno/IndeterminateBeam/blob/main/docs/examples/readme_example.py) in my system. The error occurs in [line 685 of inde

[2021-04-25 19:29] nicoguaro commented on #111
I am also having problems with that example.  I just installed last version and this is the output I get:

[code]

[2021-04-27 10:42] JesseBonanno commented on #111
@amcc1996 @nicoguaro
Sorry for the slow replies lately, i have been very overwhelmed with work lately and finding it hard to keep up at the moment.

1. In regards to point 1, i have tried running the examples on my computer again and did not observe the issue. I will have to try set up a fresh install to try see what you are seeing. I do have a vague idea of what the error means, it seems like the

[2021-04-27 17:26] labarba commented on #102
Hi everybody! 👋
Re-emerging here after a cycle of giving all the spinning plates a little push.
I see that both Reviewers approved the submission: thank you for your contributions, @oneilsh, @AstrobioMike 🙏
So this is ready to be published. Let's do the magic.

[2021-04-27 17:26] labarba commented on #102
@whedon accept

[2021-04-27 17:27] whedon commented on #102
[code]

[2021-04-27 17:27] whedon commented on #102
[code]

[2021-04-27 17:27] whedon commented on #102
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/49

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/49, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-27 17:34] labarba commented on #102
@whedon accept deposit=true

[2021-04-27 17:34] whedon commented on #102
[code]

[2021-04-27 17:35] whedon commented on #102
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/50
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00102](https://doi.org/10.21105/jose.00102)
2. If everything looks

[2021-04-27 17:38] labarba commented on #102
Congratulations, @CosiMichele, your JOSE paper is published 🚀

Huge thanks to the Editor: @JasonJWilliamsNY and Reviewers: @oneilsh, @AstrobioMike for their contribution—this experiment in alternative publishing is possible thanks to you!

[2021-04-27 17:38] #102 closed

[2021-04-27 17:38] whedon commented on #102
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00102/status.svg)](https://doi.org/10.21105/jose.00102)

**We need your help!**

Journal of Open Source Educat

[2021-04-28 19:38] moorepants commented on #80
@gvdr, @kbodwin, @lebebr01, @jhollist, we are looking for reviewers fro this JOSE submission entitled "Take a moderndive into introductory linear regression with R". Would any of you like to review this submission?

[2021-04-28 19:44] moorepants commented on #111
@amcc1996 and @nicoguaro thanks for the careful reviewing up till this point. It seems that @nicoguaro's checklist is mostly complete. @amcc1996 please update yours further if you haven't. I see there are some outstanding issues that @JesseBonanno is working on. @JesseBonanno, once you've made the updates please report back here. I'm going to be away from the internet till Monday, so I'll check on

[2021-04-28 19:51] jhollist commented on #80
Sorry, but I am going to have to pass.  I am swamped with reviews at the
moment.

Keep me in mind for the future though!

On Wed, Apr 28, 2021 at 3:39 PM Jason K. Moore ***@***.***>
wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2021-04-28 19:55] kbodwin commented on #80
What's the timeline for a review?  I'm overloaded on teaching through the end of May, but I'd be very happy to review if you are able to wait until early/mid June for a response.

[2021-04-28 20:13] moorepants commented on #80
@jhollist, thanks for the response.

@kbodwin, early mid June may work. I'll see if we can find two that can start earlier and keep you as a backup if we can't. Does that sound fine?

[2021-04-29 15:23] lebebr01 commented on #80
I'm in a similar position, I wouldn't be able to review until June at the earliest. Realistically, it would be toward the end of June. If you still need someone then, happy to review.

[2021-04-30 19:21] labarba commented on #59
@whedon add @rasbt as reviewer

[2021-04-30 19:21] whedon commented on #59
OK, @rasbt is now a reviewer

[2021-04-30 19:25] labarba commented on #59
hi @rasbt 👋
Thank you for agreeing to review this submission to the Journal of Open Source Education! We really appreciate it.

This submission consists of a software library for students to play around with a multi-layer perceptron and come to understand the algorithm. You have a review checklist at the top of this review thread to guide you. Have a look at the [JOSE scope](https://jose.theoj.org

[2021-05-01 11:47] amcc1996 commented on #111
@moorepants for now I have nothing to add besides the weirdly non-functioning example file in README.md. I believe this is the last point that is missing from my checklist. As soon as we discover what is going wrong with this, I will make just a quick check and get back to the discussion.

[2021-05-02 10:19] JesseBonanno commented on #111
Hi all,

Finally managed to get a good chunk of free time this sunday afternoon and have managed to adress all our issues to date:

1. Changed all references to refer to base SI units.  Changes occured for several python files, all examples, unit tests, example png snapshots, readme.md and of course paper.md . As there is a lot of references to units throught the code i wouldnt be surprised if i m

[2021-05-02 10:30] JesseBonanno commented on #111
@whedon generate pdf

[2021-05-02 10:31] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-05-03 07:30] moorepants commented on #111
Is this related: https://github.com/sympy/sympy/issues/21162

[2021-05-03 11:08] JesseBonanno commented on #111
@moorepants Seems to be the exact issue. If a fix is released for that issue than I believe it would solve the issue observed here.

[2021-05-03 13:07] moorepants commented on #80
@lebebr01, thanks I'll keep you in mind if we can't find someone sooner. Thanks!

[2021-05-03 16:55] nicoguaro commented on #111
@moorepants, I think that the package is ready from my perspective.

I have some minor comments that I think that can improve the package but they don't need to be addressed for me to accept:

- I would suggest to create a separate folder for the paper in the repository. The package could grow and the files related to the paper might be a distraction there.
- In the API (docstrings) for vertical a

[2021-05-04 09:03] moorepants commented on #80
@lisamr has agreed to review this submission. I'm still searching for a second reviewer. @rudeboybert, if you have any other suggestions let me know. I'm sending out some emails also. Once we get a second reviewer, we'll start. @lisamr feel free to have a look in the meantime, but save comments until we open the new github issue for the review.

[2021-05-04 09:37] JesseBonanno commented on #111
@nicoguaro I have addressed your latest comments below.

I agree and have updated, will need to update repository to https://github.com/JesseBonanno/IndeterminateBeam/paper for whedon to work. If this is an issue can move paper back.

Updated.

Noted, will leave as is for the moment.

Fixed.

Agree. I want to add all the examples to the test suite as they cover a broad range of cases that the pack

[2021-05-04 09:38] moorepants commented on #111
If you can add a reproducible example to that issue, it could help.

[2021-05-04 09:42] moorepants commented on #111
This is an appropriate solution. Or you could do `>=1.4,<1.8` to be more flexible.

[2021-05-04 09:43] moorepants commented on #111
@amcc1996 there is one checkbox for the "examples" that you've left unchecked. Is that now resolved?

[2021-05-04 09:43] moorepants commented on #111
@JesseBonanno Please make a new software release with the final changes.

[2021-05-04 09:44] moorepants commented on #111
@whedon generate pdf

[2021-05-04 09:44] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-05-04 09:45] JesseBonanno commented on #111
The readme example works as a reproducible example, is this adequate?

Noted, will update.

Will do.

[2021-05-04 09:50] moorepants commented on #111
It can, but maybe a simple linsolve example with the values that makes it fail is best.

[2021-05-04 09:52] JesseBonanno commented on #111
Understood, I will get something back to you soon. I will try to find a simple set of equations that raises the error.

[2021-05-04 10:37] JesseBonanno commented on #111
@moorepants

Package has been updated to v2.0.5.

Example of Sympy v1.8 linsolve error occurs is for a 7000 mm simply supported beam with a 1000 N point load at its centre.

equations = [
y_0 + y_7000 + 1000.0,
7000*y_7000 + 3500000.0,
0.552486187845304*C2,
3867.40331491713*C1 + 0.552486187845304*C2 + 31583793738.4899*y_0 + 3947974217311.23
]
unknowns = [y_0, y_7000, C1, C2]

solution = (110292235

[2021-05-04 10:59] amcc1996 commented on #111
@moorepants  yes, I left that unchecked because I could not run the example in the documentation. I will look at it today and if goes seamlessly, for me will be ready to go.

[2021-05-04 15:30] rudeboybert commented on #80
@moorepants how about lwjohnst86 krother dpshelio?

[2021-05-05 08:18] JesseBonanno commented on #111
Just realised i made a silly mistake when changing the units as I changed to N and mm rather than N and m. I would like to fix this before going forward. May take a few days due to other commitments.

[2021-05-05 15:29] moorepants commented on #111
That's no problem. Make our final updates and we'll ensure the reviewers sign off.

[2021-05-05 17:11] magsol commented on #89
@jcapriot If you cannot complete your review, please advise ASAP so we can find another reviewer.

[2021-05-05 19:17] whedon opened #112 "[PRE REVIEW]: EPIDEMIC: Epidemiology Educational Code"
**Submitting author:** @BrunaPavlack (<a href="http://orcid.org/0000-0002-6807-0916">Bruna Silveira Pavlack</a>)
**Repository:** <a href="https://github.com/americocunhajr/EPIDEMIC" target ="_blank">https://github.com/americocunhajr/EPIDEMIC</a>
**Version:** 1.0.0
**Editor:** @magsol
**Reviewers:** @dalonsoa, @3mmaRand

**Author instructions**

Thanks for submitting your paper to JOSE @BrunaPavlac

[2021-05-05 19:17] whedon commented on #112
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 19:18] whedon commented on #112
[code]

[2021-05-05 19:18] whedon opened #113 "[PRE REVIEW]: OpenQuestion: A survey building and reporting platform written in Python"
**Submitting author:** @Alcampopiano (<a href="http://orcid.org/0000-0002-3280-4447">Allan Campopiano</a>)
**Repository:** <a href="https://github.com/Alcampopiano/OpenQuestion" target ="_blank">https://github.com/Alcampopiano/OpenQuestion</a>
**Version:** v0.1.0
**Editor:** @labarba
**Reviewers:** @stefania11, @csev

**Author instructions**

Thanks for submitting your paper to JOSE @Alcampopiano.

[2021-05-05 19:18] whedon commented on #113
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 19:18] whedon commented on #112
[code]

[2021-05-05 19:18] whedon opened #114 "[PRE REVIEW]: ApplNumComp: An Open Access Introductory Course for Applied Numerical Computing"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/ashleefv/ApplNumComp" target ="_blank">https://github.com/ashleefv/ApplNumComp</a>
**Version:** v1.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @ashleefv. **Currently, there isn't a

[2021-05-05 19:18] whedon commented on #114
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 19:19] whedon commented on #112
PDF failed to compile for issue #112 with the following error:
[code]

[2021-05-05 19:19] whedon commented on #113
[code]

[2021-05-05 19:19] whedon commented on #113
[code]

[2021-05-05 19:19] whedon commented on #114
[code]

[2021-05-05 19:20] whedon commented on #114
[code]

[2021-05-05 19:20] whedon commented on #113
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00113/jose.00113/10.21105.jose.00113.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00113/jose.00113/10.21105.jose.00113.pdf) :page_facing_up: :point_left:

[2021-05-05 19:21] whedon commented on #114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: :point_left:

[2021-05-05 22:30] ashleefv commented on #114
Potential editor: Bryan Weber

Potential reviewers:
Bryan Weber
Kyle Niemeyer
Sidafa Conde
Nicholas Battista
Jifu Tan
William Pfalzgraff
Tania Allard
Satish Annigeri

On Wed, May 5, 2021 at 3:19 PM whedon ***@***.***> wrote:

[2021-05-05 22:34] ashleefv commented on #114
@whedon generate pdf

[2021-05-05 22:34] ashleefv commented on #114
@whedon commands

[2021-05-05 22:34] whedon commented on #114
Here are some things you can ask me to do:

[code]

[2021-05-05 22:35] whedon commented on #114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: :point_left:

[2021-05-05 22:37] ashleefv commented on #114
@whedon generate pdf

[2021-05-05 22:37] whedon commented on #114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: :point_left:

[2021-05-05 22:42] ashleefv commented on #114
@whedon generate pdf

@whedon check references

[2021-05-05 22:42] whedon commented on #114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: :point_left:

[2021-05-05 22:46] ashleefv commented on #114
proof looks good, except that my last name is Ford Versypt and so the citation at the bottom of the pages should be Ford Versypt et al.

[2021-05-05 22:47] ashleefv commented on #114
@whedon check references

[2021-05-05 22:47] whedon commented on #114
[code]

[2021-05-06 00:57] ConorIA commented on #100
Hello @labarba. Just checking in on next steps for this review.

[2021-05-06 08:04] moorepants commented on #80
@lwjohnst86 We are looking for a second reviewer for this Journal of Open Source Education submission "Take a moderndive into introductory linear regression with R". Would you be interested in reviewing it?

[2021-05-06 09:27] lwjohnst86 commented on #80
@moorepants for sure! I use that resource myself as inspiration, so I'd love to formally review it. I probably would need a month _at the least_, given my time pressures right now and the size of the material.

[2021-05-06 10:39] moorepants commented on #80
Sounds good to me! Great :)

So, @lwjohnst86 and @lisamr will be the two reviewers. We could target Friday, June 4th as a due date for the review? Would that work for both of you? If not, suggest a later date.

I'll open a review issue so we can get started there.

[2021-05-06 10:41] moorepants commented on #80
@whedon add @lisamr as reviewer

[2021-05-06 10:41] whedon commented on #80
OK, @lisamr is now a reviewer

[2021-05-06 10:42] moorepants commented on #80
@whedon add @jhollist as reviewer

[2021-05-06 10:42] whedon commented on #80
OK, @jhollist is now a reviewer

[2021-05-06 10:42] moorepants commented on #80
Note that this is not a review of the book, but only the accompanying software package and associated documentation.

[2021-05-06 10:51] lwjohnst86 commented on #80
right, I noticed that after sending the message :see_no_evil: Also, you added @jhollist as reviewer, not me. June 4th should work, but I'll inform well in advance if it doesn't.

[2021-05-06 10:51] moorepants commented on #80
@whedon remove @jhollist as reviewer

[2021-05-06 10:51] whedon commented on #80
OK, @jhollist is no longer a reviewer

[2021-05-06 10:52] moorepants commented on #80
@whedon add @lwjohnst86 as reviewer

[2021-05-06 10:52] whedon commented on #80
OK, @lwjohnst86 is now a reviewer

[2021-05-06 10:52] moorepants commented on #80
Fixed!

Great.

[2021-05-06 11:01] moorepants commented on #80
@rudeboybert Should I update this review to the latest software version?

[2021-05-06 11:29] rudeboybert commented on #80
@moorepants only update it from v0.5.0 to v0.5.1 (latest) if the work involved is minimal. The difference doesn't affect the manuscript: https://github.com/moderndive/moderndive/blob/master/NEWS.md

[2021-05-06 11:38] moorepants commented on #80
It is set to v0.4.0 at the top of this issue. So I'll update to v0.5.1.

[2021-05-06 11:53] rudeboybert commented on #80
Ah my mistake, I saw that but somehow read it as v0.5.0. In any case, I just tested the manuscript on the Whedon paper preview service and it rendered correctly.

[2021-05-06 13:45] lisamr commented on #80
Yep, before June 4th works for me!

[2021-05-06 13:50] Alcampopiano commented on #113
Hello folks! Here are some potential reviewers:

johnlray
ShahneRodgers
nniiicc

[2021-05-06 15:09] moorepants commented on #80
@whedon set v0.5.1 as version

[2021-05-06 15:09] whedon commented on #80
OK. v0.5.1 is the version.

[2021-05-06 15:09] moorepants commented on #80
@whedon start review

[2021-05-06 15:09] whedon opened #115 "[REVIEW]: Take a moderndive into introductory linear regression with R"
**Submitting author:** @rudeboybert (<a href="http://orcid.org/0000-0001-7824-306X">Albert Y. Kim</a>)
**Repository:** <a href="https://github.com/moderndive/moderndive" target ="_blank">https://github.com/moderndive/moderndive</a>
**Version:** v0.5.2
**Editor:** @moorepants
**Reviewer:** @lisamr, @lwjohnst86
**Archive:** <a href="https://doi.org/10.5281/zenodo.5119261" target="_blank">10.5281/zen

[2021-05-06 15:10] #80 closed

[2021-05-06 15:10] whedon commented on #115
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lisamr, @lwjohnst86 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-05-06 15:10] whedon commented on #115
[code]

[2021-05-06 15:11] whedon commented on #115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: :point_left:

[2021-05-06 15:11] moorepants commented on #115
@whedon set v0.5.1 as version

[2021-05-06 15:11] whedon commented on #115
OK. v0.5.1 is the version.

[2021-05-06 15:22] moorepants commented on #115
@lisamr & @lwjohnst86, the review can now officially start here. Please read from the top of the thread and be sure to review the reviewer guidelines. You'll work your way through the checklists above over the next 4 weeks. Post comments or issues to the main repository as you go along or all at once, your preference. An automatic notice will be sent out in 2 weeks as a reminder. You should review

[2021-05-06 15:24] moorepants commented on #115
Also note that this is should be reviewed as a "educational software tools" submission.

[2021-05-06 17:32] BrunaPavlack commented on #112
Suggestion from reviewers: Shannon Quinn, Juan Klopper and Erin McKiernan

[2021-05-06 18:36] ChrisGroendyke commented on #105
@whedon generate pdf

[2021-05-06 18:37] whedon commented on #105
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00105/jose.00105/10.21105.jose.00105.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00105/jose.00105/10.21105.jose.00105.pdf) :page_facing_up: :point_left:

[2021-05-06 19:35] ThomasA commented on #114
I can contribute if needed. I have many years' experience with LaTeX, Git, Python, and Matlab; both using and teaching.

[2021-05-07 21:41] amcc1996 commented on #111
@JesseBonanno the README example now works just fine!
@moorepants , with this I complete my checkbox list. However, I would really appreciate running some examples with the fully corrected version that I believe @JesseBonanno will release soon. Just to make one last check, since some modifications have been introduced relative to my last review.

[2021-05-08 09:36] moorepants commented on #111
Sounds good.

@JesseBonanno, you have all current comments. Please make final adjustments and the reviewers will make a final pass after that.

[2021-05-10 14:06] lwjohnst86 commented on #109
Doing another ping here as a reminder. Any updates?

[2021-05-10 17:28] jcapriot commented on #89
Hello everyone, I have gone through and updated the checkboxes. There is still an unresolved issue related to my review on the target repo, (from Dec 10th: https://github.com/mbarzegary/educational-bayesian/issues/20) that I feel is the only place where this module is significantly lacking.

[2021-05-11 11:01] mbarzegary commented on #89
Thanks @jcapriot
@magsol I addressed the issue and released a new version

[2021-05-11 12:51] magsol commented on #89
Excellent, thank you for your quick work @mbarzegary!

@jcapriot please have a look at the changes and report back if they address your concerns.

[2021-05-12 17:54] zingale commented on #67
yes, I will look very soon.  Finishing grading now.

On Mon, May 10, 2021 at 1:32 PM Lorena A. Barba ***@***.***>
wrote:

--
Michael Zingale
Associate Professor

Dept. of Physics & Astronomy • Stony Brook University • Stony Brook, NY
11794-3800
*phone*:  631-632-8225
*e-mail*: ***@***.***
*web*: h <http://www.astro.sunysb.edu/mzingale>ttps://zingale.github.io
github: https://github.com/zingale <ht

[2021-05-12 22:21] JesseBonanno commented on #111
Hi all,

I have just finished making changes regarding the units. I decided to make the implementation a little bit more flexible since I would prefer to work in alternate units and so the package now uses SI units (N and m) by default but the units used can be changed using the update_units() method. The units available are shown in the units.py file that I have added to the indeterminatebeam fol

[2021-05-13 20:09] nicoguaro commented on #111
@JesseBonanno, I think that I will need some time re-review since there is a lot of changes.

Regarding some quick review I did, I have the following comments:

- I think that there a couple of tutorials regarding the update of units and query points are needed in the documentation. For this type of functionality an API entry is not enough, in my opinion.
- The new web app is less intuitive than t

[2021-05-13 21:49] lisamr commented on #115
@moorepants I tried to follow this link: "Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations", but I get this message: "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." I'm assuming that's where I can edit the checklist, correct?

[2021-05-13 23:13] JesseBonanno commented on #111
@nicoguaro
`I think that I will need some time re-review since there is a lot of changes.`
Understandable, I agree.

`I think that a couple of tutorials regarding the update of units and query points are needed in the documentation. For this type of functionality an API entry is not enough, in my opinion.`
Okay that is a fair consideration, I currently only have one example in the documentation an

[2021-05-14 00:31] lisamr commented on #115
I started going through the checklist pasted at the top of this thread:

# General checks
- authorship: It is currently unclear how Max Kuhn contributed, as they are not listed as a contributor on the Github repository and there isn't an author contribution section in the manuscript to clarify.

# Documentation
- Statement of need: It's missing in the Readme file and in the MS
- Installation instr

[2021-05-14 06:25] moorepants commented on #115
@labarba, do the reviewers have to follow this link? It seems like a joss thing that hasnt' converted to jose.

[2021-05-14 06:27] moorepants commented on #115
@lisamr, is it possible for your to try running the tests? It's good if each reviewer can do so. You don't have to inspect the code for them.

[2021-05-14 06:34] moorepants commented on #115
Also, each reviewer should be able to have a look at this too:

This is checking to see if there are understandable vignettes for each public function, class, etc.

[2021-05-14 06:52] moorepants commented on #115
Actually, vignettes may have not been precise enough. There is object documentation, see:

https://r-pkgs.org/man.html#man

and vignettes:

https://r-pkgs.org/vignettes.html#vignettes

Ideally, the package will have both of these types of documentation. The first is the "API method documentation" mentioned in the checklist. The second is a bit more long form explanations that aren't tied to a spec

[2021-05-14 14:34] rudeboybert commented on #115
Hi @lisamr thank you for bringing up those checklist items. I'll make the necessary changes and have Whedon generate a new pdf today.

[2021-05-14 16:22] lisamr commented on #115
@moorepants got it, so the "functionality documentation" checklist item is referring to the object documentation. @rudeboybert below is my feedback:
- documentation for various datasets look great--good detail on explaining each column and providing source of the data
- `geom_categorical_model()`: It is not obvious how the solid and dashed lines differ or how they were determined and it's not clea

[2021-05-14 16:32] moorepants commented on #115
Yes, you've interpreted correctly. The documentation and paper should be different as you've described.

[2021-05-14 16:36] rudeboybert commented on #115
@whedon generate pdf

[2021-05-14 16:37] whedon commented on #115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: :point_left:

[2021-05-14 16:57] rudeboybert commented on #115
@whedon generate pdf

[2021-05-14 16:57] whedon commented on #115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: :point_left:

[2021-05-14 17:00] rudeboybert commented on #115
Hi, I had almost finished addressing the initial comments by @lisamr when they followed up with more feedback. I will address the initial comments only here:

I added a "Author contributions" section towards the end of the paper.

A "Statement of need" section has been added at the outset of the manuscript.

All the dependencies are automatically installed when installing the `moderndive` package,

[2021-05-14 17:06] rudeboybert commented on #115
Here are my initial responses to the second round of feedback from @lisamr

Thank you

I will address the above two points in my next update to the manuscript.

Thanks for this great point. See my comment on the updated `get_regression_points()` function in my previous messages.

Thank for this feedback. I have addressed the Statement of Need section in my previous message. I will address your fee

[2021-05-14 17:28] jcapriot commented on #89
The improvements made to the tutorial are very helpful in understanding the workflow, and they also now show a consistent pattern to the logic for choosing them. They have addressed all of my concerns now.

[2021-05-14 23:13] rasbt commented on #59
Hi everyone,
just a short heads-up. I got a bit delayed by finals' week and one more paper deadline, but getting to this review is a big item on my todo-list for next week!

[2021-05-16 01:12] JesseBonanno commented on #111
@nicoguaro I have now updated the web-app to work properly based on the update_unit() method. I have also updated the examples to cover all the examples shown in the jupyter notebook example.

I am not sure how to approach the rounding issue. I have changed the implementation slightly to make sure no rounding occurs on the backend. Numbers are all displayed using the f string :.3f method for displ

[2021-05-16 18:54] amcc1996 commented on #111
Hello everybody,

I will only be able to look at this in full detail in the next weekend. As soon as I have some feedback I will come back to you @JesseBonanno .

[2021-05-17 13:38] moorepants commented on #111
It seems @JesseBonanno has made changes to address all issues, including making some larger changes in the software as a byproduct of fixing the review comments. We'll need a final pass from both reviewers to ensure the checklists are still valid, as it sounds like some new issues could have been introduced. Is another two weeks a suitable for deadline for the final pass?

[2021-05-17 13:39] moorepants commented on #111
@whedon set v2.1.0 as version

[2021-05-17 13:39] whedon commented on #111
OK. v2.1.0 is the version.

[2021-05-17 14:25] zingale commented on #67
I'm happy with the current state and I believe I've checked off everything.  Thank you for looking at my issues and nice work overall!

[2021-05-17 14:51] magsol commented on #89
Excellent! Thank you @jcapriot for your quick turnaround.

@e-dub We are ready for your sign-off on publication readiness, or for any further pieces of feedback you may have.

[2021-05-19 13:44] eholzbe commented on #106
Is there any activity for manuscripts under pre-review?
I suggest bryanwweber as potential reviewer.
@bryanwweber
Ekkehard Holzbecher

[2021-05-20 15:10] whedon commented on #115
:wave: @lwjohnst86, please update us on how your review is going (this is an automated reminder).

[2021-05-20 15:10] whedon commented on #115
:wave: @lisamr, please update us on how your review is going (this is an automated reminder).

[2021-05-21 16:14] rasbt commented on #59
This submission looks really good overall, just had a few minor points that should be addressed before accepting. Posted them here: https://github.com/kalu-o/mLEARn/issues/3

[2021-05-21 16:42] lisamr commented on #115
I've gone through the checklist as much as I can and I'm actually still waiting on the invite to this URL: https://github.com/openjournals/joss-reviews/invitations. The next major steps are to review the newly shortened version of the paper.

[2021-05-21 16:55] moorepants commented on #115
@lisamr I don't think this is important. Don't worry about it. The link is broken as it is for joss, not jose.

[2021-05-21 16:56] moorepants commented on #115
You can check the boxes at the top for the things you've approved as complete.

[2021-05-21 17:06] lisamr commented on #115
Hmm, I'm afraid I don't know how to edit the checklist up top. Help?

[2021-05-21 17:07] labarba commented on #115
@whedon re-invite @lisamr as reviewer

[2021-05-21 17:07] whedon commented on #115
The reviewer already has a pending invite.

@lisamr please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-05-21 17:43] moorepants commented on #115
There's the correct link! Thanks @labarba.

[2021-05-21 17:43] moorepants commented on #115
Presumably when you accept the new link invite you'll be able to check the boxes.

[2021-05-21 17:44] lisamr commented on #115
same issue with the new link: "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2021-05-21 17:46] labarba commented on #115
@openjournals/dev Help!
We have a reviewer unable to edit the checkboxes. Can you check the issue?

[2021-05-22 07:12] arfon commented on #115
@whedon re-invite @lisamr as reviewer

[2021-05-22 07:12] whedon commented on #115
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-22 07:13] arfon commented on #115
OK, could you try this link again @lisamr: https://github.com/openjournals/jose-reviews/invitations

[2021-05-22 15:01] amcc1996 commented on #111
@JesseBonanno , I repeated the review process on the updated version (v2.1.0) and did not see a false note anywhere. The possibility to select proper physical units (with the SI system being set as default) is a massive improvement, in my opinion. The documentation was also taken to another level, and the sections pertaining to the treatment of the units is very clear. I ran the unit tests package

[2021-05-23 00:22] lisamr commented on #115
@arfon perfect, that link worked and I can finally check the checkboxes above. Thank you!

[2021-05-23 11:07] labarba commented on #59
Thanks so much for reviewing this JOSE submission, @rasbt 🙏

 @kalu-o — Thank you for your extreme patience, as JOSE nearly ground to a halt in 2020. We're just resurfacing and beginning to re-organize. Could you have a look at the minor comments? I will be glad to move this to publication finally!

[2021-05-23 11:11] labarba commented on #59
@kalu-o — Please check the second figure in the paper: it goes outside the margin. Maybe you can rearrange the diagrams? Consider adding figure numbers and captions.

[2021-05-23 11:18] labarba commented on #59
hi @trallard — You reviewed this JOSE submission a while back, and only left unchecked the box for Statement of Need. The paper does include this section, while the README in the repo has a brief aim, as follows:

I don't think we need to require a JOSE-style Statement of Need on the README, so let's be satisfied with the current form.

Once published, it would be nice if @kalu-o added the JOSE ba

[2021-05-23 11:37] JesseBonanno commented on #111
@amcc1996 Glad to hear you see the value in the unit update, and thanks for the positive feedback.

I updated the paper.md and README.md to have a simple sentence mentioning the change as below:

I fixed a minor bug that was found earlier in the review process that I accidentally reintroduced in v2.1.0.

I also played around with the setup.py file a bit in order to get PyPi to show the readme.md a

[2021-05-23 11:40] JesseBonanno commented on #111
@whedon generate pdf

[2021-05-23 11:40] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-05-23 11:41] labarba commented on #61
Hi @albi3ro — I'm sensitive to the fact that the past 14 months have brought many challenges (and we have been very slow with our editorial duties). Could you let us know if you plan to come back to this JOSE submission, and are interested in seeing through publication? If you are not, then we can withdraw it. We cal also pause it, or set a reminder for a later date.

[2021-05-23 12:05] labarba commented on #68
hi @thomasdenecker 👋  — I see from following the links from your GitHub profile to your Twitter and to your website that you have graduated and are now officially a Doctor. Congratulations!

Would you like to come back to this JOSE submission and see if we can get this published? It got so close... I would be glad to help it through the finish line. Let me know!

[2021-05-23 12:10] labarba commented on #67
@whedon generate pdf

[2021-05-23 12:11] whedon commented on #67
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00067/jose.00067/10.21105.jose.00067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00067/jose.00067/10.21105.jose.00067.pdf) :page_facing_up: :point_left:

[2021-05-23 12:14] labarba commented on #67
Hi @ctdegroot — it looks like we're nearly ready to publish this, yay! 🚀
Thank you so much for your enormous patience.

Could you now up the version, issue a tagged release in your repo, and make a Zenodo deposit? Report the version number here, as well as the Zenodo DOI, so we can run the commands to update that metadata for the submission.

[2021-05-23 12:20] labarba commented on #67
@ctdegroot : one other thing... After reading the paper, I felt that beyond your anecdotal narrative of teaching a course with these materials, it would be nice to add a paragraph explaining how _another instructor_ might adopt these materials and reuse them to teach their own class, or even how a self-learner might use them. Could you give this a think?

[2021-05-23 12:28] labarba commented on #91
Hi @RobinHankin — Apologies for the ball dropped here, and thank you for your enormous patience. I see from the review thread that thorough reviews were contributed, and you made changes to accommodate the reviewer requests. All checklist items are marked out. Let's get this past the finish line!

Could you now up the version, issue a tagged release in your repo, and make a Zenodo deposit? Report

[2021-05-23 12:32] labarba commented on #91
@whedon set 1.0-5 as version

[2021-05-23 12:32] whedon commented on #91
OK. 1.0-5 is the version.

[2021-05-23 12:33] labarba commented on #91
I see that there are no further commits on the repo after version 1.0-5, so I've set this as the version number.

We just need the Zenodo archive DOI now.

[2021-05-23 12:38] labarba commented on #91
@RobinHankin — on checking your paper, I see that we will need you to add the DOIs for references that have them.

[2021-05-23 12:56] labarba commented on #99
hi @pachamaltese — thank you for your enormous patience here. We've had lots of delays in JOSE because the availability of the volunteer editors was impacted by the challenges of the past year.

I have read through your paper and understand that this submission is software for language translation of datasets from English to Spanish, to facilitate the teaching of data science in Spanish-speaking c

[2021-05-23 13:22] labarba commented on #89
Hi @e-dub 👋  — We're hoping to get your final checks on this JOSE submission to proceed to publication. Can you pop in the Review issue and give things a new look? Thank you for your contribution!

[2021-05-23 13:24] labarba commented on #89
@whedon generate pdf

[2021-05-23 13:24] whedon commented on #89
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: :point_left:

[2021-05-23 13:43] labarba commented on #87
Hi @cicirello 👋  — we discussed your submission a bit more and find it to be too small / too narrow to merit a journal publication. Bear in mind that JOSE is evaluating the educational resources submitted with the goal of giving scholarly credit to this often unrecognized work. We want readers, authors (and their employers) to recognize JOSE papers similarly to research publications, and thus it s

[2021-05-23 13:47] labarba commented on #114
Thank you for volunteering, @ThomasA !!

[2021-05-23 13:59] cicirello commented on #87
@labarba can you please define what is meant by a course "module" in this statement in the journal's scope: "The ideal submission size is a course module"?

[2021-05-23 14:13] labarba commented on #114
@ashleefv — I am not quite satisfied with the _paper_, as it relates to the Statement of Need, and to how the materials might be used by others. Note this from the [submission requirements](https://openjournals.readthedocs.io/en/jose/submitting.html#submission-requirements):

And also (further below):

From our [scope](https://jose.theoj.org/about) on the website, note that the JOSE review is cent

[2021-05-23 14:30] labarba commented on #87
Sure. We understand that to mean a section of a course, with its own learning objectives, content, and activities. More than a single lesson, but less than a semester course (although some submissions are a full course). The ideal module length might be around 3 to 5 weeks of a semester, or something that can be taught in an intense two-day Summer school.

[2021-05-23 15:04] cicirello commented on #87
@labarba thanks. It might be helpful to potential authors if the 3 to 5 weeks of a course is mentioned in the scope, perhaps in parentheses after the word module. My submission otherwise has "its own learning objectives, content, and activities" but is more around 1 week to maybe 2 weeks (if students are more introductory level). It would also be helpful if determinations like this are made sooner

[2021-05-23 15:51] labarba commented on #87
What I quote is the ideal length from my perspective, given that JOSE will give "one publication credit" for the work. We want to be mindful that JOSE papers are taken seriously by the community. One to 2 weeks of a course is 2.5 to 5 hours of instruction. That is borderline, in my assessment. We _have_ reviewed submissions that are like a tech-conference tutorial (which tend to vary between 4 and

[2021-05-23 16:19] labarba commented on #110
@whedon assign @emckiernan as editor

[2021-05-23 16:19] whedon commented on #110
OK, the editor is @emckiernan

[2021-05-23 16:20] labarba commented on #110
Thank you for agreeing to handle this as editor, @emckiernan — note that the submitting author suggested a few reviewers above.

@thartbm — thank you for your patience! We'll be looking to commit two reviewers, and then start the review in a new issue.

[2021-05-23 16:26] labarba commented on #78
Hi everybody!
Thank you to the Reviewers: @sconde , @matbesancon 🙏

@Nikoleta-v3 — Could you now up the version, issue a tagged release in your repo, and make a Zenodo deposit? Report the version number here, as well as the Zenodo DOI, so we can run the commands to update that metadata for the submission.

[2021-05-23 16:36] labarba commented on #78
I have a question: can this workshop _really_ be completed in two hours? It seems that a thoughtful engagement with all of the material and exercises would take longer, maybe even double that amount of time!

[2021-05-23 17:05] labarba commented on #85
@whedon generate pdf

[2021-05-23 17:06] whedon commented on #85
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00085/jose.00085/10.21105.jose.00085.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00085/jose.00085/10.21105.jose.00085.pdf) :page_facing_up: :point_left:

[2021-05-23 18:27] labarba commented on #61
@whedon assign @labarba as editor

[2021-05-23 18:28] labarba commented on #59
@whedon assign @labarba as editor

[2021-05-23 18:46] labarba commented on #105
Hi @ChrisGroendyke 👋  — at less than 1000 lines of R, this is a fairly small package and below the bar of what merits a full journal paper to reflect the scholarly effort. My assessment is that its scope is too minor for proceeding to review. If you have any argument to the contrary, feel free to make it. Otherwise, I will desk-reject it in a couple of days.

[2021-05-23 18:52] labarba commented on #103
@whedon query scope

[2021-05-23 18:52] whedon commented on #103
Submission flagged for editorial review.

[2021-05-23 19:16] labarba commented on #85
@whedon check repository

[2021-05-23 19:18] whedon commented on #85
[code]

[2021-05-23 19:21] labarba commented on #108
@whedon invite @bryanwweber as editor

[2021-05-23 19:21] whedon commented on #108
@bryanwweber has been invited to edit this submission.

[2021-05-23 19:26] ChrisGroendyke commented on #105
Hi and thanks for looking at this.  I can add more material to the package to significantly increase its scope and re-submit at a later date.

Chris

[2021-05-23 20:53] labarba commented on #105
@whedon reject

[2021-05-23 20:53] whedon commented on #105
Paper rejected.

[2021-05-23 20:53] #105 closed

[2021-05-24 02:13] RobinHankin commented on #91
hello Lorena, thank you for this!  Looking at the references, they are all
quite old and do not have DOIs.  I have uploaded to zenodo as you suggested
and it gave me 10.5281/zenodo.4782758

as the (provisional?) DOI.

Many thanks

Robin

***@***.***>

On Mon, May 24, 2021 at 12:38 AM Lorena A. Barba ***@***.***>
wrote:

[2021-05-24 08:29] labarba commented on #91
Hi @RobinHankin — I checked the Zenodo archive at https://doi.org/10.5281/zenodo.4782757 and you deposited the PDF of the JOSE paper. What we request is an archive of the submission _repository_ at https://github.com/RobinHankin/schwarzschild

This guide may be useful: https://guides.github.com/activities/citable-code/

[2021-05-24 11:05] labarba commented on #85
@darribas 👋  — You [published](https://jose.theoj.org/papers/10.21105/jose.00042) with JOSE a while back. Could I persuade you to help us out with a review? We have received this submission that I think is right up your alley: "An Applied Geographic Information Systems and Science Course in R" https://github.com/openjournals/jose-reviews/issues/85
Let me know…

[2021-05-24 11:11] labarba commented on #85
@jsta 👋  — You [reviewed](https://jose.theoj.org/papers/10.21105/jose.00042) for JOSE a while back. Would you be able to contribute a review once more? We have a new submission that I think you could help us with: "An Applied Geographic Information Systems and Science Course in R" https://github.com/openjournals/jose-reviews/issues/85
Let me know…

[2021-05-24 11:25] labarba commented on #106
@whedon generate pdf

[2021-05-24 11:25] whedon commented on #106
PDF failed to compile for issue #106 with the following error:
[code]

[2021-05-24 11:33] labarba commented on #106
Hi @eholzbe — Your paper is not compiling because the metadata is nonconforming to the specs. I looked at the paper.md source and I am not quite satisfied as it relates to the Statement of Need, and to how the materials might be used by others. Note this from the [submission requirements](https://openjournals.readthedocs.io/en/jose/submitting.html#submission-requirements):

And also (further below

[2021-05-24 11:54] Nikoleta-v3 commented on #78
Hello @labarba. Thank you for getting back to us.

Regarding your question, we recommend 2 hours because we have completed the workshop in 2 hours at a PyCon where the audience was proficient with Python. However, we realise that might not be the case each time.  We have reworded the text to say:

Please let us know what you think. Once you have given me the okay I will go ahead and create a new r

[2021-05-24 11:55] labarba commented on #109
Thanks for volunteering to review @pschloss !!

[2021-05-24 11:55] labarba commented on #109
@whedon assign @pschloss as reviewer

[2021-05-24 11:55] whedon commented on #109
You need to assign an editor first.

[2021-05-24 11:55] labarba commented on #109
@whedon invite @JasonJWilliamsNY as editor

[2021-05-24 11:55] whedon commented on #109
@JasonJWilliamsNY has been invited to edit this submission.

[2021-05-24 11:59] labarba commented on #112
@BrunaPavlack 👋  — Your paper is not compiling because the metadata is nonconforming to the specs. Please check the [example paper](https://openjournals.readthedocs.io/en/jose/submitting.html#example-paper-and-bibliography) and fix.

[2021-05-24 11:59] labarba commented on #112
@whedon invite @magsol as editor

[2021-05-24 11:59] whedon commented on #112
@magsol has been invited to edit this submission.

[2021-05-24 12:10] labarba commented on #106
@whedon query scope

[2021-05-24 12:10] whedon commented on #106
Submission flagged for editorial review.

[2021-05-24 12:13] labarba commented on #87
@whedon query scope

[2021-05-24 12:13] whedon commented on #87
Submission flagged for editorial review.

[2021-05-24 12:14] whedon opened #116 "[PRE REVIEW]: Developing and deploying an integrated workshop curriculum teaching computational skills for reproducible research"
**Submitting author:** @pschloss (<a href="http://orcid.org/0000-0002-6935-4275">Patrick D Schloss</a>)
**Repository:** <a href="https://github.com/UMCarpentries/intro-curriculum-r/tree/gh-pages/paper" target ="_blank">https://github.com/UMCarpentries/intro-curriculum-r/tree/gh-pages/paper</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena Barba

**:warning:

[2021-05-24 12:14] whedon commented on #116
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-24 12:14] whedon commented on #116
PDF failed to compile for issue #116 with the following error:
[code]

[2021-05-24 12:17] cicirello commented on #87
@labarba I submitted it to the software article type. There is a written tutorial within the application itself.

[2021-05-24 12:27] Nikoleta-v3 commented on #78
Thank you for the great suggestion. I have address it here: https://github.com/Nikoleta-v3/Game-Theory-and-Python/pull/40/files

[2021-05-24 12:29] pschloss commented on #116
@whedon generate pdf

[2021-05-24 12:29] whedon commented on #116
PDF failed to compile for issue #116 with the following error:
[code]

[2021-05-24 12:31] pschloss commented on #116
@whedon generate pdf

[2021-05-24 12:31] whedon commented on #116
PDF failed to compile for issue #116 with the following error:
[code]

[2021-05-24 12:33] pschloss commented on #116
@whedon generate pdf

[2021-05-24 12:33] whedon commented on #116
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00116/jose.00116/10.21105.jose.00116.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00116/jose.00116/10.21105.jose.00116.pdf) :page_facing_up: :point_left:

[2021-05-24 12:36] pschloss commented on #116
Possible reviewers. All suggested because of their prior interactions with the Carpentries and commitment to open science education...

* Tracy Teal
* Kim Dill-McFarland
* Kate Hertweck

[2021-05-24 13:17] Nikoleta-v3 commented on #78
The version number is **v1.0.0**: https://github.com/Nikoleta-v3/Game-Theory-and-Python/releases/tag/v1.0.0)

The Zenodo DOI is **10.5281/zenodo.4783322**: https://zenodo.org/record/4783322#.YKum0y8RpTY

[2021-05-24 13:41] thartbm commented on #110
@labarba Thanks!
@emckiernan Please note that we are getting ready for the 2021 edition of the summer school so that the main repository's content is being changed right now. The branch for this paper should be untouched though, and I have a copy of last year's materials that I can make available too, if need be. Also, if you need more suggestions for reviewers, we're happy to get them to you.

[2021-05-24 17:57] labarba commented on #78
@whedon set v1.0.0 as version

[2021-05-24 17:57] whedon commented on #78
OK. v1.0.0 is the version.

[2021-05-24 17:58] labarba commented on #78
@whedon set 10.5281/zenodo.4783322 as archive

[2021-05-24 17:58] whedon commented on #78
OK. <a href="https://doi.org/10.5281/zenodo.4783322" target="_blank">10.5281/zenodo.4783322</a> is the archive.

[2021-05-24 17:59] labarba commented on #78
@whedon accept

[2021-05-24 17:59] whedon commented on #78
[code]

[2021-05-24 17:59] whedon commented on #78
[code]

[2021-05-24 17:59] whedon commented on #78
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/51

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/51, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-24 18:01] labarba commented on #78
@whedon accept deposit=true

[2021-05-24 18:01] whedon commented on #78
[code]

[2021-05-24 18:02] whedon commented on #78
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/52
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00078](https://doi.org/10.21105/jose.00078)
2. If everything looks

[2021-05-24 18:04] labarba commented on #78
Congratulations, @Nikoleta-v3, you JOSE paper is published! 🚀

Huge thanks to our Reviewers: @sconde , @matbesancon — we couldn't do this without you 🙏

[2021-05-24 18:04] #78 closed

[2021-05-24 18:04] whedon commented on #78
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00078/status.svg)](https://doi.org/10.21105/jose.00078)

**We need your help!**

Journal of Open Source Educat

[2021-05-24 18:08] Nikoleta-v3 commented on #78
Thank you @labarba 🙏🏻  and a massive thank you to our amazing reviewers @sconde , @matbesancon 🙏🏻 🥳

[2021-05-24 18:14] bryanwweber commented on #108
@whedon assign @bryanwweber as editor

[2021-05-24 18:14] whedon commented on #108
OK, the editor is @bryanwweber

[2021-05-24 18:14] emckiernan commented on #110
@thartbm Thanks for the info, and for the reviewer suggestions! I'll start sending out invitations today!

[2021-05-24 18:16] emckiernan commented on #110
Hi, @arokem, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-05-24 18:30] emckiernan commented on #110
Hi, @teonbrooks, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-05-24 20:41] RobinHankin commented on #91
thank you for this Lorena, sorry for the confusion, I have now pointed to
release 1.0-5 on zenodo as you requested.

With best wishes

Robin

***@***.***>

On Mon, May 24, 2021 at 8:29 PM Lorena A. Barba ***@***.***>
wrote:

[2021-05-24 22:08] bryanwweber commented on #108
Hi, @andrewmaclachlan, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "LTPy - Learning tool for Python on Atmospheric Composition". Please let me know if you're available and willing. Thanks!

[2021-05-24 22:08] bryanwweber commented on #108
Hi, @jhollist, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "LTPy - Learning tool for Python on Atmospheric Composition". Please let me know if you're available and willing. Thanks!

[2021-05-25 06:59] labarba commented on #91
I checked the Zenodo archive at https://doi.org/10.5281/zenodo.4782757 and still see only the PDF of the paper there. The complete file set in the repository needs to be archived for persistence in the scholarly record. If you made a new Zenodo deposit, please post the link here.

[2021-05-25 08:56] RobinHankin commented on #91
OK Lorena, thank you for your help here, the schwarzschild repo is now
visible on the zenodo page:

https://zenodo.org/record/4784248#.YKy61nUzZNg

Best wishes

Robin

***@***.***>

On Tue, May 25, 2021 at 7:00 PM Lorena A. Barba ***@***.***>
wrote:

[2021-05-25 09:33] labarba commented on #91
@whedon set 10.5281/zenodo.4784248 as archive

[2021-05-25 09:33] whedon commented on #91
OK. <a href="https://doi.org/10.5281/zenodo.4784248" target="_blank">10.5281/zenodo.4784248</a> is the archive.

[2021-05-25 09:35] labarba commented on #91
@RobinHankin – Almost there! We'd like to ask that you edit the metadata of the Zenodo deposit so the title and author list match the JOSE paper. (Zenodo grabs authors automatically from committers to your repo: it needs to be manually fixed.)

[2021-05-25 09:44] RobinHankin commented on #91
OK Lorena, done!

https://zenodo.org/record/4784248

***@***.***>

On Tue, May 25, 2021 at 9:35 PM Lorena A. Barba ***@***.***>
wrote:

[2021-05-25 12:16] labarba commented on #91
@whedon accept

[2021-05-25 12:16] whedon commented on #91
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/53

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/53, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-25 12:16] whedon commented on #91
[code]

[2021-05-25 12:17] labarba commented on #91
@whedon accept deposit=true

[2021-05-25 12:17] whedon commented on #91
[code]

[2021-05-25 12:18] whedon commented on #91
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/54
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00091](https://doi.org/10.21105/jose.00091)
2. If everything looks

[2021-05-25 12:19] labarba commented on #91
Congratulations, @RobinHankin, your JOSE paper is now published! 🚀

Huge thanks to the Reviewers: @atrisovic, @afolkest — we are grateful for your contribution 🙏

[2021-05-25 12:19] #91 closed

[2021-05-25 12:19] whedon commented on #91
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00091/status.svg)](https://doi.org/10.21105/jose.00091)

**We need your help!**

Journal of Open Source Educat

[2021-05-26 06:29] ttimbers commented on #96
Hi all - my deepest apologies for being absent for so long from here. I have contacted a potential reviewer. Will keep you updated as soon as I can confirm who this is.

[2021-05-26 11:44] darribas commented on #85
@labarba thanks for thinking of me. Yes, this looks great and right up my alley, I'd love to be one of the reviewers. What're the next steps to follow on?

[2021-05-26 16:31] labarba commented on #85
@whedon assign @ttimbers as editor

[2021-05-26 16:31] whedon commented on #85
OK, the editor is @ttimbers

[2021-05-26 16:32] labarba commented on #85
hi @darribas — thanks for volunteering! @ttimbers will edit this submission, and is looking to secure a second reviewer. Once that happens she'll start the review (which opens in another issue).

[2021-05-26 17:20] ttimbers commented on #96
@whedon assign @firasm as reviewer

[2021-05-26 17:20] whedon commented on #96
OK, @firasm is now a reviewer

[2021-05-26 17:21] ttimbers commented on #96
@whedon start review

[2021-05-26 17:21] whedon opened #117 "[REVIEW]: An Open-Source Active Learning Curriculum for Data Science"
**Submitting author:** @zdelrosario (<a href="http://orcid.org/0000-0003-4676-1692">Zachary del Rosario</a>)
**Repository:** <a href="https://github.com/zdelrosario/data-science-curriculum" target ="_blank">https://github.com/zdelrosario/data-science-curriculum</a>
**Version:** v0.1
**Editor:** @ttimbers
**Reviewer:** @firasm, @pschloss
**Archive:** <a href="https://doi.org/10.5281/zenodo.6314141"

[2021-05-26 17:21] whedon commented on #96
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/117.

[2021-05-26 17:21] #96 closed

[2021-05-26 17:21] whedon commented on #117
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @firasm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-05-26 17:21] whedon commented on #117
[code]

[2021-05-26 17:21] whedon commented on #117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: :point_left:

[2021-05-26 17:21] whedon commented on #117
[code]

[2021-05-26 17:22] ttimbers commented on #96
@pschloss , @firasm : the review issue is now started at #117 . There is a detailed checklist there. Many thanks for your help with this review! Please reach out to me if you have any questions as you work on this.

[2021-05-26 21:01] zdelrosario commented on #117
@whedon generate pdf

(Update DOI for "The Flipped Classroom" and fitdistrplus....)

[2021-05-26 21:01] whedon commented on #117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: :point_left:

[2021-05-27 02:34] albi3ro commented on #61
I'm sorry for leaving this.  I do remember getting some very nice and helpful feedback during the process.  I've moved on to other things, and the repository is no longer maintained.

Can we go ahead and close this out?

[2021-05-27 05:29] thomasdenecker commented on #68
hi @labarba,

Thank you very much ! A lot of work but a great achievement!

Regarding our submission, we could come back to it but could you please tell us what you are expecting specifically.

On our side, we are working in collaboration with the French Institute of Bioinformatics and we have done a session in September 2020 and soon in June 2021 :

- https://www.france-bioinformatique.fr/formati

[2021-05-27 08:22] labarba commented on #61
@whedon withdraw

[2021-05-27 08:22] whedon commented on #61
Paper withdrawn.

[2021-05-27 08:22] #61 closed

[2021-05-27 17:06] JasonJWilliamsNY commented on #109
@whedon assign @JasonJWilliamsNY  as editor

[2021-05-27 17:07] whedon commented on #109
OK, the editor is @JasonJWilliamsNY

[2021-05-27 17:08] JasonJWilliamsNY commented on #109
Hi @lwjohnst86 glad to see @pschloss as reviewer. I will attempt to find one additional reviewer and get the ball rolling. I don't think we need to wait more than a week.

[2021-05-27 19:19] nicoguaro commented on #111
@moorepants, I think that this is ready to move forward.

[2021-05-27 20:34] moorepants commented on #111
@whedon set v2.1.4 as version

[2021-05-27 20:34] whedon commented on #111
OK. v2.1.4 is the version.

[2021-05-27 20:37] moorepants commented on #111
Ok, great! Thanks for the reminder. I see that all check boxes are done and it seems that all points have been addressed. I need to take a pass through the paper to make sure things are in order for the final publication and then I think we can approve. I'll try to do that tomorrow afternoon.

[2021-05-27 20:38] moorepants commented on #111
@whedon generate pdf

[2021-05-27 20:38] whedon commented on #111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00111/jose.00111/10.21105.jose.00111.pdf) :page_facing_up: :point_left:

[2021-05-28 15:07] moorepants commented on #111
@JesseBonanno I have checked over everything and it seems your paper can be accepted! Very nice work. You will need to archive your software (e.g. on Zenodo) for the version that will be tied to the paper (currently v2.1.4). Post the archieve DOI here. Once you make the archive I will ask the editor in chief to formally accept and publish the paper.

@nicoguaro and @amcc1996 thank you both very mu

[2021-05-28 15:08] moorepants commented on #111
@whedon check references

[2021-05-28 15:08] whedon commented on #111
[code]

[2021-05-28 15:09] moorepants commented on #111
@whedon check repository

[2021-05-28 15:09] whedon commented on #111
[code]

[2021-05-29 02:33] JesseBonanno commented on #111
Thats great! Thanks everyone for dedicating their time and knowledge in this review. Everyone made valuable contributions and put in a great deal of effort. I appreciate it very much. @nicoguaro @amcc1996  @moorepants

I had some difficulty with Zenodo generating the upload automatically with new Github releases (v2.1.5, v2.1.6). I have manually uploaded v2.1.6 via Zenodo and generated DOI **10.52

[2021-05-29 09:52] moorepants commented on #111
@whedon set v2.1.6 as version

[2021-05-29 09:52] whedon commented on #111
OK. v2.1.6 is the version.

[2021-05-29 09:52] moorepants commented on #111
@whedon set 10.5281/zenodo.4840592 as archive

[2021-05-29 09:53] whedon commented on #111
OK. <a href="https://doi.org/10.5281/zenodo.4840592" target="_blank">10.5281/zenodo.4840592</a> is the archive.

[2021-05-29 09:53] moorepants commented on #111
@JesseBonanno The DOI for the archive does not seem to resolve: https://doi.org/10.5281/zenodo.4840592

[2021-05-29 13:17] JesseBonanno commented on #111
@moorepants yeah there does seem to be something wrong. I have contacted support and hopefully they can help to resolve the issue. The upload page [here](https://zenodo.org/record/4840592/#.YLI-K6gzY2w) seems to show everything in working order and has the DOI, but the DOI does not seem to be activated.

In the mean time i will try an alternative to zenodo.

[2021-05-30 08:35] JesseBonanno commented on #111
@moorepants Zenodo is working now with the automatic Github web hook having just been properly processed, the DOI can be changed to 10.5281/zenodo.4851065 for version v2.1.6. The following URL works for me https://doi.org/10.5281/zenodo.4851065

![image](https://user-images.githubusercontent.com/53243847/120097726-831d4500-c175-11eb-957f-3c5adc5adace.png)

[2021-05-30 12:22] moorepants commented on #111
@whedon set 10.5281/zenodo.4851065 as archive

[2021-05-30 12:22] whedon commented on #111
OK. <a href="https://doi.org/10.5281/zenodo.4851065" target="_blank">10.5281/zenodo.4851065</a> is the archive.

[2021-05-30 12:23] moorepants commented on #111
@whedon recommend-accept

[2021-05-30 12:23] whedon commented on #111
[code]

[2021-05-30 12:23] whedon commented on #111
[code]

[2021-05-30 12:23] whedon commented on #111
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/55

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/55, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-30 12:25] moorepants commented on #111
@labarba This paper is ready!

[2021-05-30 20:46] amcc1996 commented on #111
Congratulations on your publication @JesseBonanno! Your contribution to open source software and education is very valuable, and I truly believe that both students and engineers can find value in this work.
Thanks for the help and collaboration in the review process @moorepants and @nicoguaro!

[2021-05-31 11:08] jsta commented on #85
@labarba Apologies but I do not have availability to review currently.

[2021-05-31 15:28] labarba commented on #111
hi @JesseBonanno 👋  — we do like to request that the metadata of the Zenodo deposit match the paper, in this case the title needs to be manually edited in the metadata. Could you make that tweak and let me know?

[2021-05-31 22:30] JesseBonanno commented on #111
Hi @labarba I have just updated the metadata.

I changed the title to be "IndeterminateBeam: A Python package for solving 1D indeterminate beams" and changed the description to be an introductory segment from the paper.

[2021-06-01 02:31] arokem commented on #110
Hi @emckiernan : thanks for calling on me, and apologies for the slowness in replying. This looks really interesting, but I am over-committed at the moment, so I can't take this on.

[2021-06-01 07:33] labarba commented on #111
@whedon accept deposit=true

[2021-06-01 07:33] whedon commented on #111
[code]

[2021-06-01 07:33] whedon commented on #111
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/56
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00111](https://doi.org/10.21105/jose.00111)
2. If everything looks

[2021-06-01 07:36] labarba commented on #111
Congratulations, @JesseBonanno, your JOSE paper is published! 🚀

Huge thanks to our Editor: @moorepants, and the Reviewers: @amcc1996 , @nicoguaro — this adventure is only possible because of your contributions 🙏

[2021-06-01 07:36] #111 closed

[2021-06-01 07:36] whedon commented on #111
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00111/status.svg)](https://doi.org/10.21105/jose.00111)

**We need your help!**

Journal of Open Source Educat

[2021-06-01 14:45] teonbrooks commented on #110
Hi @emckiernan, sorry as well, just now wading through my backlog of things to do 😅.

I would be happy to review but I am not available until July at the earliest. If that is a problem, I understand, but at the moment, I'm unavailable to do so.

[2021-06-02 16:36] emckiernan commented on #110
Hi @arokem: no worries, completely understand. Thanks for letting us know!

[2021-06-02 16:39] emckiernan commented on #110
Hi @teonbrooks: No worries. I'm going to contact a few other potential reviewers who might be able to look at this sooner, but I'll definitely circle back to you in July if we need additional reviews. Thanks so much for the offer!

[2021-06-02 16:39] emckiernan commented on #110
Hi, @eglerean, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-06-02 16:40] emckiernan commented on #110
Hi, @djmannion, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-06-02 20:47] BrunaPavlack commented on #112
Hello! I would like help identifying what the problem is with compiling the paper. I used the site https://whedon.theoj.org/  to view and compiled it just right. Thank you very much in advance!

[2021-06-03 04:25] djmannion commented on #110
Hi @emckiernan. Thank you for the invitation, but I am unfortunately unavailable for reviewing manuscripts at the moment - apologies.

[2021-06-03 16:46] labarba commented on #89
Hello @e-dub : I have seen the issue you opened in the target repository:
https://github.com/mbarzegary/educational-bayesian/issues/21

Given that the comment is a harsh critique of the work, bereft of constructive suggestions, I have taken the time to read the Jupyter notebook from top to bottom (a careful reading took 34 minutes) . Apart from fairly minor typographical and grammatical booboos th

[2021-06-03 17:00] emckiernan commented on #110
Hi @djmannion: totally understand. Thanks for letting us know!

[2021-06-03 17:01] emckiernan commented on #110
Hi, @mnarayan, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-06-03 17:03] emckiernan commented on #110
Hi, @TomDonoghue, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-06-03 17:30] mnarayan commented on #110
I am unfortunately not available for reviewing this month.

On Thu, Jun 3, 2021 at 10:02 AM Erin C. McKiernan ***@***.***>
wrote:

[2021-06-03 17:33] emckiernan commented on #110
Ok @mnarayan, thanks for letting us know!

[2021-06-03 17:40] TomDonoghue commented on #110
Hey @emckiernan - yeh, I would be able to review this paper!

[2021-06-03 17:44] emckiernan commented on #110
@TomDonoghue: Fantastic, thanks so much! Adding you as a reviewer now...

[2021-06-03 17:44] emckiernan commented on #110
@whedon assign @TomDonoghue as reviewer

[2021-06-03 17:44] whedon commented on #110
OK, @TomDonoghue is now a reviewer

[2021-06-03 17:49] emckiernan commented on #110
Hi, @PaulScotti, you previously signed up to review for JOSE. Would you please consider contributing a review for this submission? The title is "Neuromatch Academy: a 3-week, online summer school in computational neuroscience". Please let me know if you're available and willing. Thanks!

[2021-06-03 18:15] PaulScotti commented on #110
@emckiernan Yes, I am happy to review this!

[2021-06-03 18:25] emckiernan commented on #110
@PaulScotti: Great, thanks so much! Adding you as a reviewer now...

[2021-06-03 18:25] emckiernan commented on #110
@whedon add @PaulScotti as reviewer

[2021-06-03 18:25] whedon commented on #110
OK, @PaulScotti is now a reviewer

[2021-06-03 18:33] emckiernan commented on #110
Hi @thartbm, we've now got 2 reviewers (yay!). So, I'm going to go ahead and close this issue and start the review process. There's still one pending invitation, but we can always add an additional reviewer later if necessary.

[2021-06-03 18:33] emckiernan commented on #110
@whedon start review

[2021-06-03 18:33] whedon opened #118 "[REVIEW]: Neuromatch Academy: a 3-week, online summer school in computational neuroscience"
**Submitting author:** @thartbm (<a href="http://orcid.org/0000-0002-0045-3769">Bernard Marius &#39;t Hart</a>)
**Repository:** <a href="https://github.com/NeuromatchAcademy/course-content/" target ="_blank">https://github.com/NeuromatchAcademy/course-content/</a>
**Version:** NMA-CN-2021
**Editor:** @emckiernan
**Reviewer:** @TomDonoghue, @PaulScotti
**Archive:** <a href="https://doi.org/10.17605

[2021-06-03 18:33] whedon commented on #110
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/118.

[2021-06-03 18:33] #110 closed

[2021-06-03 18:33] whedon commented on #118
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomDonoghue, @PaulScotti it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-06-03 18:33] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2021-06-03 18:37] emckiernan commented on #118
@whedon generate pdf from branch jose_paper

[2021-06-03 18:37] whedon commented on #118
[code]

[2021-06-03 18:37] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2021-06-03 18:40] emckiernan commented on #118
Hi @labarba, there's a problem with the compilation here. I saw this also came up in the prereview and I tried the solution you used, but it didn't work. Any advice/suggestions for how to fix this? Thanks in advance!

[2021-06-03 19:07] labarba commented on #118
The repository given by the authors is  https://github.com/NeuromatchAcademy/course-content/tree/jose_paper
... but we need https://github.com/NeuromatchAcademy/course-content/
... to then proceed to compile from branch `jose_paper`.

Looking at the [Pre-Review](https://github.com/openjournals/jose-reviews/issues/110#event-4839203177) issue, where the repo URL is correct, my best guess is that I e

[2021-06-03 19:08] labarba commented on #118
I will edit the repo URL at the top now and see if we can fix things.

[2021-06-03 19:09] labarba commented on #118
@whedon generate pdf from branch jose_paper

[2021-06-03 19:09] whedon commented on #118
[code]

[2021-06-03 19:09] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2021-06-03 19:12] labarba commented on #118
@openjournals/dev — We're seeing compilation errors on this submitted JOSE paper, but when I enter the repo URL and branch in the sandbox at https://whedon.theoj.org it compiles properly. Can you help us?

[2021-06-03 19:15] labarba commented on #112
@openjournals/dev — We're seeing compilation errors on this submitted JOSE paper, but when I enter the repo URL and branch in the sandbox at https://whedon.theoj.org it compiles properly. Can you help us?

[2021-06-03 19:26] e-dub commented on #89
I stand by my criticism and reject your comment of "bereft of constructive suggestions".  Constructive suggestions were made both in this cycle as well in the first, including the laundry list that is found in the specific comment in question.

If you find that this criticism overly harsh (which I indeed do not) and that it is unnecessarily holding up a work that is otherwise publication ready, fe

[2021-06-03 19:41] labarba commented on #89
Thanks for popping back in here to continue the conversation.

Your post on the issue tracker of the target repo has assessments like:

Suggesting a full rewrite is quite a harsh. You say the motivation is lacking: what would make it better? (Is this referring to the lesson or to the paper?).

How is it not the case? Despite from the technical jargon contained in the las paragraph of the introduct

[2021-06-04 06:27] arfon commented on #118
This is your problem. Xaq Pitkow's affiliations need putting in quotes.

[2021-06-04 06:28] arfon commented on #112
Please add an affiliation for Amanda Cunha Guyt as per the error above.

[2021-06-04 13:59] lwjohnst86 commented on #115
@rudeboybert @labarba @lisamr I finished my review. All my issues and feedback were either created as Issues or PRs in the moderndive package repo. Overall looks great! If the issues and PRs are addressed, I would say it's good to go!

[2021-06-04 14:14] thartbm commented on #118
OK, happy to change. Should it be like this:

` - name: Xaq Pitkow
   orcid: 0000-0001-6376-329X
   affiliation: "37,43"`

Like this:

` - name: Xaq Pitkow
   orcid: 0000-0001-6376-329X
   affiliation: "37","43"`

Or like this:

` - name: "Rice University"
   index: 37
...
 - name: "Baylor College of Medicine"
   index: 43`

Or some other way?

[2021-06-04 14:49] eholzbe commented on #106
Dear labarba - there is obviously a misunderstanding concerning the word 'lecture' that I use in the summary. The lecture is not a single lesson, but the course 'Hydraulic Testing' that was held now for a second time at German University of Technology in Oman. The course consists of a practical part in a lab, and a second part that deals with the evaluation of the data. The Jupyter notebook has be

[2021-06-04 16:00] arfon commented on #118
As [per our docs](https://openjournals.readthedocs.io/en/jose/submitting.html#example-paper-and-bibliography):

[code]

[2021-06-04 17:21] mbarzegary commented on #89
dear @labarba,
I addressed the issues you mentioned. I added a couple of exercises and a mini-project. Moreover, I modified the last paragraph of the introduction section to make it less technical.

[2021-06-04 19:01] BrunaPavlack commented on #112
Thanks for the feedback! I've already added the affiliation.

[2021-06-04 21:10] labarba commented on #112
@whedon generate pdf

[2021-06-04 21:10] whedon commented on #112
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00112/jose.00112/10.21105.jose.00112.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00112/jose.00112/10.21105.jose.00112.pdf) :page_facing_up: :point_left:

[2021-06-04 23:10] rudeboybert commented on #115
Wow @lwjohnst86 thanks for the very thorough and thoughtful reviews, and double thanks for communicating them as issues & PRs directly in the moderndive package repo!

I hope to address @lisamr's outstanding comments and Luke's PR's issues next week. I'll tag you both as well as @moorepants when I'm done. Many thanks!

[2021-06-05 09:01] moorepants commented on #115
@lisamr and @lwjohnst86 Thanks for your timely and thorough reviews!

@rudeboybert sounds like you are on top of things, looking forward to your responses and adjustments from the feedback.

As was noted by both reviewers, please adjust the paper to fit the JOSE guidelines more closely. It should not be a repeat of the documentation. All other comments look good to me.

[2021-06-05 20:01] labarba commented on #59
@kalu-o 👋  — We have received a new review for your JOSE submission, with minor revision requests. Could you have a look and let us know when it's ready? We'll be glad to move this to publication soon.

[2021-06-05 20:05] labarba commented on #103
@whedon invite @JasonJWilliamsNY as editor

[2021-06-05 20:05] whedon commented on #103
@JasonJWilliamsNY has been invited to edit this submission.

[2021-06-05 20:17] labarba commented on #106
@eholzbe – Please clarify in your paper how the material could be adopted by another instructor. From our [documentation](https://openjournals.readthedocs.io/en/jose/submitting.html#submission-requirements):

This should be made clear in the paper. Explain how much instructional time is involved, how much is direct instruction and how much is student self-directed learning. In part, a difficulty i

[2021-06-05 21:33] labarba commented on #83
hi @warint — I would like to know if you are still interested in exploring a JOSE publication for your 2020 submission. Recall that JOSE publications report on open source learning modules that are meant to be reused by others (either instructors or self-learners). I clicked through from your website to the corresponding repository at: https://github.com/warint/covid-19 (again, as mentioned [above

[2021-06-05 21:47] labarba commented on #87
hi @cicirello — could you add in the paper a description of the expected instruction time with this tutorial? Include an idea of any direct instruction (lecture) needed to get the lesson started, and expected student self-directed-learning time. (I've made a note to add this to the documentation as something we want in the paper.) Also useful would be a few sentences of advice to any instructor wh

[2021-06-05 21:54] labarba commented on #67
@ctdegroot — we are close to the finish line with your JOSE submission. Have a look at the requests above; should take less than half an hour to complete?

[2021-06-07 04:54] moorepants commented on #115
@lisamr and @lwjohnst86 Thanks for your timely and thorough reviews!

@rudeboybert sounds like you are on top of things, looking forward to your responses and adjustments from the feedback.

As was noted by both reviewers, please adjust the paper to fit the JOSE guidelines more closely. It should not be a repeat of the documentation. All other comments look good to me.

[2021-06-07 17:38] thartbm commented on #118
OK, done.

[2021-06-07 18:24] labarba commented on #118
@whedon generate pdf

[2021-06-07 18:24] whedon commented on #118
PDF failed to compile for issue #118 with the following error:
[code]

[2021-06-07 18:25] labarba commented on #118
@whedon generate pdf from branch jose_paper

[2021-06-07 18:25] whedon commented on #118
[code]

[2021-06-07 18:26] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2021-06-07 18:28] emckiernan commented on #118
Yay, @labarba, looks like that worked! Thanks to you and @arfon for the help!

[2021-06-07 18:31] emckiernan commented on #118
Hi @TomDonoghue, @PaulScotti: Thank you for agreeing to review for JOSE! There are individual checklists for you both at the top of this issue. Please work your way through those, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. I'm here to help, so please let me know if you need anything. Thanks!

[2021-06-07 20:11] cicirello commented on #87
@labarba I can do that. I think I can find time this week actually.

[2021-06-09 17:21] whedon commented on #117
:wave: @firasm, please update us on how your review is going (this is an automated reminder).

[2021-06-09 19:01] cicirello commented on #87
@whedon commands

[2021-06-09 19:01] whedon commented on #87
Here are some things you can ask me to do:

[code]

[2021-06-09 19:02] whedon commented on #87
[code]

[2021-06-09 19:02] cicirello commented on #87
@whedon check repository

[2021-06-09 19:02] whedon commented on #87
[code]

[2021-06-09 19:04] cicirello commented on #87
@whedon generate pdf

[2021-06-09 19:04] whedon commented on #87
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00087/jose.00087/10.21105.jose.00087.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00087/jose.00087/10.21105.jose.00087.pdf) :page_facing_up: :point_left:

[2021-06-09 19:45] ttimbers commented on #117
:wave: @pschloss, please update us on how your review is going (this is an automated reminder).

[2021-06-09 19:48] ttimbers commented on #85
Thanks for the reply @jsta . I will look for another reviewer.

[2021-06-09 20:23] magsol commented on #112
@whedon assign me as editor

[2021-06-09 20:23] whedon commented on #112
OK, the editor is @magsol

[2021-06-11 18:12] pachadotdev commented on #99
thanks a lot, so sorry for my delay, but yes, we'll edit this

[2021-06-13 12:30] pachadotdev commented on #99
hi @labarba, thanks a lot, I did the change and changed a few expressions

below is the new draft: @whedon generate pdf

[2021-06-14 14:47] BrunaPavlack commented on #112
Hello! Suggestion from reviewers: Shannon Quinn, Juan Klopper and Erin McKiernan

[2021-06-16 09:37] eholzbe commented on #106
Dear Reviewer

Thanks a lot for the valuable feedback on the first submission of the
manuscript. Your comments gave me a lot of momentum for modifications. It's
not only that parts of the text are modified. I shifted text blocks from
one chapter to another. Technical issues that were too specific were
deleted. Parts of the manuscript were extended, mainly concerning the
option for other instructor

[2021-06-16 12:44] arokem commented on #89
At the request of the EiC and editor for this submission, I have reviewed this article. Here is my assessment.

# Review

## General comments.

This paper introduces materials for a "crash course" in Bayesian optimization. The ideas are clearly important and effective materials for teaching this topic should be helpful. The notebook comprising the materials contains useful examples and walks the l

[2021-06-17 18:33] whedon commented on #118
:wave: @PaulScotti, please update us on how your review is going (this is an automated reminder).

[2021-06-17 18:33] whedon commented on #118
:wave: @TomDonoghue, please update us on how your review is going (this is an automated reminder).

[2021-06-17 18:46] mbarzegary commented on #89
dear @arokem,
Thank you for your constructive comments. I addressed them through the following distinct commits:

* [change variable/function names to PEP8](https://github.com/mbarzegary/educational-bayesian/commit/9d73bc828219744c953f829d377389e1f85834d9
)
* [fix python code issues](https://github.com/mbarzegary/educational-bayesian/commit/f8888c45b8637f92684c05a5d0e6c02470b1e6fb
)
* [correct amb

[2021-06-17 20:01] pschloss commented on #117
I completed my first review and posted issues on the [target repository](https://github.com/zdelrosario/data-science-curriculum). I like the overall format and goals of the materials and think they represent a unique contribution. The issues I filed concerned...

* The [License](https://github.com/zdelrosario/data-science-curriculum/issues/24)
* The [Statement of Need](https://github.com/zdelrosar

[2021-06-18 15:19] PaulScotti commented on #118
Hoping to get to this sometime next week

[2021-06-18 20:50] magsol commented on #89
Thanks for your quick integration work @mbarzegary.

@arokem Do these changes address your critiques?

[2021-06-20 11:15] lwjohnst86 commented on #109
@JasonJWilliamsNY Just sending another ping as a reminder. You able to find another reviewer?

[2021-06-20 11:19] JasonJWilliamsNY commented on #109
Hi @lwjohnst86 doing this by email and will hopefully strike gold soon!

[2021-06-22 00:53] ctdegroot commented on #67
@labarba Sorry for my slow reply here! I am on parental leave, which is why this slipped through the cracks. I will have time to wrap up these few items really soon. Hopefully this week.

[2021-06-22 05:22] arokem commented on #89
Yeah. Looks great! This is ready for publication, as far as I can tell.

[2021-06-22 11:51] labarba commented on #89
@whedon add @arokem as reviewer

[2021-06-22 11:51] whedon commented on #89
OK, @arokem is now a reviewer

[2021-06-22 11:52] labarba commented on #89
@arokem — I'm adding you as reviewer so that you will be credited for your contribution on the paper's landing page. Thank you!

[2021-06-22 14:46] magsol commented on #89
Thank you @labarba , and thank you @arokem for your review!

Let's see if we can get the acceptance process rolling.

[2021-06-22 14:46] magsol commented on #89
@whedon generate pdf

[2021-06-22 14:47] whedon commented on #89
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: :point_left:

[2021-06-22 14:49] magsol commented on #89
Ok, all the links look good to me.

@whedon check references

[2021-06-22 14:53] magsol commented on #89
I don't see any misspellings or bad citations, but it does seem like one of the citations lacks a DOI: Grindrod 1996. I can't seem to find the article online, so that may be why, but still worth double-checking.

@mbarzegary Please do the following:
- [ ] make a final pass for any typos I may have missed
- [ ] see if the Grindrod 1996 has a DOI, but if not, no worries (just want to make sure my Go

[2021-06-22 14:54] TomDonoghue commented on #118
Sorry for the delay, I was away last week. My plan is to get to this review within the next few days!

[2021-06-22 16:06] mbarzegary commented on #89
Thanks, @magsol
You are right, the citation doesn't have a DOI, and that's why I didn't provide it.

The version number is **v2.0**: [https://github.com/mbarzegary/educational-bayesian/releases/tag/v2.0](https://github.com/mbarzegary/educational-bayesian/releases/tag/v2.0)
The archive DOI is **10.5281/zenodo.5013865**: [https://doi.org/10.5281/zenodo.5013865
](https://doi.org/10.5281/zenodo.501386

[2021-06-22 16:19] magsol commented on #89
Thanks @mbarzegary!

[2021-06-22 16:19] magsol commented on #89
@whedon set 10.5281/zenodo.5013865 as archive

[2021-06-22 16:19] whedon commented on #89
OK. <a href="https://doi.org/10.5281/zenodo.5013865" target="_blank">10.5281/zenodo.5013865</a> is the archive.

[2021-06-22 16:20] magsol commented on #89
@whedon set v2.0 as version

[2021-06-22 16:20] whedon commented on #89
OK. v2.0 is the version.

[2021-06-22 16:21] magsol commented on #89
@whedon accept

[2021-06-22 16:21] whedon commented on #89
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-22 16:21] magsol commented on #89
@whedon recommend-accept

[2021-06-22 16:21] whedon commented on #89
[code]

[2021-06-22 16:21] whedon commented on #89
[code]

[2021-06-22 16:22] whedon commented on #89
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/57

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/57, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-22 22:40] labarba commented on #89
@mbarzegary : Please merge my PR with a handful of copy edits, and we'll publish this! *Thank you for your patience.*

[2021-06-23 10:54] mbarzegary commented on #89
@labarba thanks. I merged the edits.

[2021-06-23 11:17] jwagemann commented on #108
Hi @bryanwweber ,
just to check in if I can support you in any way to push the beginning of the review?

[2021-06-23 11:27] jhollist commented on #108
Just noticed this invite.  Sorry!

Unfortunately I am going to have to pass at this time.  Have several other
reviews on my list now and my python skills are quite lacking (I'm mostly
an R guy).

On Wed, Jun 23, 2021 at 7:17 AM Julia Wagemann ***@***.***>
wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2021-06-23 13:53] magsol commented on #89
@whedon remove @e-dub as reviewer

[2021-06-23 13:53] whedon commented on #89
OK, @e-dub is no longer a reviewer

[2021-06-23 21:20] ashleefv commented on #114
@whedon generate pdf

[2021-06-23 21:20] whedon commented on #114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00114/jose.00114/10.21105.jose.00114.pdf) :page_facing_up: :point_left:

[2021-06-23 21:25] ashleefv commented on #114
Sorry for the delay in following up. It's been a busy summer already. @labarba Based on your feedback, I have made a substantial extension of paper.md by expanding the 2nd paragraph of the statement of need and adding the 3rd paragraph on our experiences with the course and the materials.

[2021-06-24 14:58] PaulScotti commented on #118
Overall I am a fan of Neuromatch Academy and impressed by the success of the online summer school to foster such accessible, extensive, and collaborative teaching in computational neuroscience supported by hundreds of volunteers. Thank you to everyone involved in making NMA such a success.

The GitHub repository generally looks to be very good, with clearly defined instructions and an organized st

[2021-06-25 15:59] emckiernan commented on #118
Thanks so much for your review, @PaulScotti! @thartbm, please let us know if you have any questions about the suggested revisions.

[2021-06-25 22:28] thartbm commented on #118
Sorry, ramp-up for NMA 2021 is at full blast so everybody is distracted.
1. I agree that "NMA2020" would be a good version, but there are other considerations. First, I'd get the name out of the version, which would make it just "2020". Then I'd add that it is NMA about Computational Neuroscience (NMA-CN), since this year we also have a Deep Learning summer school (NMA-DL).
Preferred version: "202

[2021-06-25 22:29] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2021-06-25 22:29] whedon commented on #118
[code]

[2021-06-25 22:29] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2021-06-25 22:40] thartbm commented on #118
Updated / extended references look OK to me.

[2021-06-25 23:42] voytek commented on #86
So it's been almost a year @labarba and @kyleniemeyer. It looks like other papers are getting reviewed—on similar topics. Can we move this forward, please?

[2021-06-27 17:06] kalu-o commented on #59
@labarba The issues are now addressed. Many thanks.

[2021-06-27 17:09] kalu-o commented on #59
Apologies for getting back late. The issues have been addressed ( I think). Many thanks to all for their time.

[2021-06-27 21:21] labarba commented on #59
hi @kalu-o — good to hear from you.

👋 @rasbt — could you pop in to see if the minor issues you raised in your review have been addressed? This submission might be near the finish line now! Thanks so much...

[2021-06-27 22:11] labarba commented on #104
@whedon assign @labarba as editor

[2021-06-27 22:11] whedon commented on #104
OK, the editor is @labarba

[2021-06-27 22:14] labarba commented on #89
@whedon accept

[2021-06-27 22:14] whedon commented on #89
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-27 22:15] labarba commented on #89
@whedon generate pdf

[2021-06-27 22:16] whedon commented on #89
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00089/jose.00089/10.21105.jose.00089.pdf) :page_facing_up: :point_left:

[2021-06-27 22:18] labarba commented on #89
@whedon accept deposit=true

[2021-06-27 22:18] whedon commented on #89
[code]

[2021-06-27 22:18] whedon commented on #89
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/58
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00089](https://doi.org/10.21105/jose.00089)
2. If everything looks

[2021-06-27 22:22] labarba commented on #89
Congratulations,  @mbarzegary, your JOSE paper is published 🚀
(thank you for your patience as we navigated reduced capacity of volunteers to contribute)

Huge thanks to the Editor: @magsol, and thank you to the Reviewers: @jcapriot, @arokem 🙏

[2021-06-27 22:22] #89 closed

[2021-06-27 22:22] whedon commented on #89
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00089/status.svg)](https://doi.org/10.21105/jose.00089)

**We need your help!**

Journal of Open Source Educat

[2021-06-27 22:24] whedon opened #119 "[PRE REVIEW]: Teaching Python for Data Science: Collaborative development of a modular & interactive curriculum"
**Submitting author:** @bnwolford (<a href="http://orcid.org/0000-0003-3153-1552">Brooke N. Wolford</a>)
**Repository:** <a href="https://github.com/GWC-DCMB/curriculum-notebooks/" target ="_blank">https://github.com/GWC-DCMB/curriculum-notebooks/</a>
**Version:** v0.1.0
**Editor:** @JasonJWilliamsNY
**Reviewers:** @lechten, @ThomasA
**Managing EiC:** Lorena Barba

**:warning: JOSE reduced service

[2021-06-27 22:24] whedon commented on #119
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-27 22:24] whedon commented on #119
[code]

[2021-06-27 22:24] whedon commented on #119
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00119/jose.00119/10.21105.jose.00119.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00119/jose.00119/10.21105.jose.00119.pdf) :page_facing_up: :point_left:

[2021-06-27 22:24] whedon commented on #119
[code]

[2021-06-27 22:31] whedon commented on #119
@JasonJWilliamsNY has been invited to edit this submission.

[2021-06-27 22:32] whedon opened #120 "[PRE REVIEW]: R for Environmental Economics"
**Submitting author:** @rahuln13 (<a href="http://orcid.org/0000-0003-3504-5295">M Rahul</a>)
**Repository:** <a href="https://github.com/rahuln13/R-for-Environmental-Economics" target ="_blank">https://github.com/rahuln13/R-for-Environmental-Economics</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena Barba

**:warning: JOSS reduced service mode :warning:**

[2021-06-27 22:32] whedon commented on #120
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-27 22:32] whedon commented on #120
[code]

[2021-06-27 22:33] whedon commented on #120
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00120/jose.00120/10.21105.jose.00120.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00120/jose.00120/10.21105.jose.00120.pdf) :page_facing_up: :point_left:

[2021-06-27 22:33] whedon commented on #120
[code]

[2021-06-27 22:44] labarba commented on #67
@ctdegroot — lemme know how it goes, and we can take this through the finish line!

[2021-06-27 22:47] labarba commented on #83
I have added the "paused" label to this submission for now. If I don't hear back in the next couple of weeks, I'll proceed to withdraw the submission.

[2021-06-27 22:49] labarba commented on #86
@whedon invite @magsol as editor

[2021-06-27 22:49] whedon commented on #86
@magsol has been invited to edit this submission.

[2021-06-28 07:15] rahuln13 commented on #120
Missing DOIs/ISBN added

[2021-06-28 13:55] warint commented on #83
Thanks a ton, I am working on it,
Th.

On Sun, Jun 27, 2021 at 6:47 PM Lorena A. Barba ***@***.***>
wrote:

[2021-06-28 17:19] magsol commented on #86
@whedon assign me as editor

[2021-06-28 17:19] whedon commented on #86
OK, the editor is @magsol

[2021-06-28 17:19] magsol commented on #86
@TomDonoghue Welp, I'm back from paternity leave, so let's give this a go, shall we?

[2021-06-28 17:22] TomDonoghue commented on #86
@magsol - sounds good, thanks for jumping on board! It's been a little while since I worked through the details of this paper, but everything should be in pretty good shape I think - the paper generates, and refers to a collection of online learning materials available one the website.

The topic is pretty general data science (in Python) - do you need me to look through the JOSE reviewer list and

[2021-06-28 17:23] magsol commented on #86
@TomDonoghue I wouldn't say no! :) Thank you!

[2021-06-28 17:30] magsol commented on #112
@BrunaPavlack The reviewers you suggested are excellent open science researchers, but none of them seem to have experience in computational epidemiology. Are you sure you'd like these folks to act as reviewers?

[2021-06-28 17:38] BrunaPavlack commented on #112
Helo! I could not identify any with experience in the epidemiological area, feel free to suggest new reviewers.

[2021-06-28 20:09] labarba commented on #104
@whedon assign @Atcold as reviewer

[2021-06-28 20:09] whedon commented on #104
OK, @Atcold is now a reviewer

[2021-06-28 20:20] labarba commented on #104
hi @Atcold 👋  —  thanks for agreeing to be a review for JOSE! I'll be looking for a second reviewer, and when added here, will start another GitHub where the review happens. In the meantime, have a look at our [documentation](https://openjournals.readthedocs.io/) and ask me anything!

[2021-06-28 20:47] labarba commented on #104
@amueller — We're in need of a second reviewer for this submission to the Journal of Open Source Education, JOSE. Would you be amenable to contributing a review?
"Auto-eD: A visual learning tool for automatic differentiation"
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21105.jose.00104.pdf)

[2021-06-29 04:58] TomDonoghue commented on #86
Hey @magsol: in terms of reviewers, I checked through the list of reviewers, checking through based on the intersection of Data Science + Python (+teaching and/or other relevant topics), and I find the following potential reviewers (non exhaustive list):
- Dr. Kristian Rother (krother)
- Sarah Masud (sara-02)
- Albert Y. Kim (rudeboybert)
- Giulio Valentino Dalla Riva (gvdr)
- Justin Bois (justinb

[2021-06-30 15:49] TomDonoghue commented on #118
Hey all! Sorry my review is a bit slow, I had some unexpected work commitments the last couple weeks.

I think the NMA course and materials are fantastic, and reflect a wonderful collaborative project to help creating and offering quality educational resources. I don’t have any specific comments on the content, since NMA has done a fantastic job setting up an excellent pipeline for creating and va

[2021-06-30 18:39] thartbm commented on #118
These are all great points, thanks! I'll take it back to NMA and see what people think.

[2021-07-01 17:51] magsol commented on #86
@whedon assign krother as reviewer

[2021-07-01 17:51] whedon commented on #86
OK, krother is now a reviewer

[2021-07-02 04:35] firasm commented on #117
Hello @zdelrosario!

Thanks for creating such a great resource! In some cases I've added my comments to existing issues so the reviewer feedback is consolidated in one place:

Links to a few issues:

- [Statement of need](https://github.com/zdelrosario/data-science-curriculum/issues/25)
- [Installation Instructions](https://github.com/zdelrosario/data-science-curriculum/issues/26)
- [Usage](https:

[2021-07-02 19:52] bryanwweber commented on #108
@jwagemann Do you have any further suggestions for reviewers?

@jhollist No problem, thanks for getting back to us!

[2021-07-03 20:55] labarba commented on #104
I'm still looking for a second reviewer for this submission. @JontySinai — could I interest you in contributing a review for the Journal of Open Source Education, [JOSE](https://jose.theoj.org)? The submission is:
**"Auto-eD: A visual learning tool for automatic differentiation"**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21105.jose.00

[2021-07-05 11:49] labarba commented on #59
@rasbt — We just need a confirmation from you here that the authors have addressed your review comments, and you recommend publication. Thanks!

[2021-07-05 17:05] rasbt commented on #59
@labarba I just looked at the feedback and file-change diffs, and it looks like all my concerns were addressed. Happy to recommend it for publication now.

[2021-07-05 18:29] labarba commented on #59
@whedon generate pdf

[2021-07-05 18:29] whedon commented on #59
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: :point_left:

[2021-07-05 19:26] labarba commented on #59
@kalu-o — We now have two reviewers who have completed their review, and we are close to the finish line! After a minor revision in the paper (see my comments below), the final steps you will take are:

- [ ] make a tagged release on the repository, and report the version number here so I can update the metadata
- [ ] make a full deposit of the repository in Zenodo (or equivalent service), and rep

[2021-07-06 17:57] magsol commented on #86
@whedon add @KiCh84 as reviewer

[2021-07-06 17:57] whedon commented on #86
OK, @KiCh84 is now a reviewer

[2021-07-06 17:58] magsol commented on #86
@whedon remove krother as reviewer

[2021-07-06 17:58] whedon commented on #86
OK, krother is no longer a reviewer

[2021-07-06 17:59] magsol commented on #86
@whedon add @krother as reviewer

[2021-07-06 17:59] whedon commented on #86
OK, @krother is now a reviewer

[2021-07-06 18:00] magsol commented on #86
@whedon start review

[2021-07-06 18:00] whedon opened #121 "[REVIEW]: Course Materials for Data Science in Practice"
**Submitting author:** @TomDonoghue (<a href="http://orcid.org/0000-0001-5911-0472">Thomas Donoghue</a>)
**Repository:** <a href="https://github.com/DataScienceInPractice/Site" target ="_blank">https://github.com/DataScienceInPractice/Site</a>
**Version:** v1.1
**Editor:** @magsol
**Reviewer:** @KiCh84, @krother
**Archive:** <a href="https://doi.org/10.5281/zenodo.6568091" target="_blank">10.5281/

[2021-07-06 18:00] whedon commented on #86
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/121.

[2021-07-06 18:00] #86 closed

[2021-07-06 18:00] whedon commented on #121
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @KiCh84, @krother it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-06 18:00] whedon commented on #121
[code]

[2021-07-06 18:00] whedon commented on #121
[code]

[2021-07-06 18:00] whedon commented on #121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00121/jose.00121/10.21105.jose.00121.pdf) :page_facing_up: :point_left:

[2021-07-06 18:15] magsol commented on #116
Hi @pschloss, thanks for your patience and sorry for the delay. I was looking into tickets that could use a nudge and have sent out review invitations to Drs. Dill-McFarland and Hertweck (thank you for the names). I couldn't find contact information for Tracy Teal. Do you have this information?

[2021-07-06 18:16] magsol commented on #116
@whedon add me as editor

[2021-07-06 18:16] whedon commented on #116
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-06 18:16] magsol commented on #116
@whedon assign me as editor