[2021-07-06 18:16] whedon commented on #116
OK, the editor is @magsol

[2021-07-07 12:23] pschloss commented on #116
Her GitHub handle is tracykteal

Pat

[2021-07-07 18:57] zdelrosario commented on #117
Hi @pschloss and @firasm ! Many thanks for the detailed feedback; I am looking forward to addressing these comments, as I believe they will *substantially* improve the work. Note that I have a few clarifying questions on some of your comments; I'll direct those to the relevant issues.

[2021-07-08 17:14] amueller commented on #104
Sorry for the slow reply, I don't think I have time unfortunately.

[2021-07-08 17:34] labarba commented on #104
Thanks for popping in here, @amueller! Maybe another time. (Do unsubscribe to the thread to avoid notifs)

[2021-07-08 18:22] JasonJWilliamsNY commented on #109
Thanks for your patience @lwjohnst86 - still sending emails to potential reviewers.

[2021-07-12 17:35] JasonJWilliamsNY commented on #109
@whedon assign @fmichonneau as reviewer

[2021-07-12 17:35] whedon commented on #109
OK, @fmichonneau is now a reviewer

[2021-07-12 17:37] JasonJWilliamsNY commented on #109
@whedon assign @pschloss as reviewer

[2021-07-12 17:37] whedon commented on #109
OK, @pschloss is now a reviewer

[2021-07-12 17:39] JasonJWilliamsNY commented on #109
@whedon start review

[2021-07-12 17:39] whedon opened #122 "[REVIEW]: r-cubed: Guiding the overwhelmed scientist from random wrangling to Reproducible Research in R"
**Submitting author:** @lwjohnst86 (<a href="http://orcid.org/0000-0003-4169-2616">Luke W. Johnston</a>)
**Repository:** <a href="https://gitlab.com/rostools/r-cubed/" target ="_blank">https://gitlab.com/rostools/r-cubed/</a>
**Version:** v3.0
**Editor:** @JasonJWilliamsNY
**Reviewers:** @pschloss, @fmichonneau
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-07-12 17:39] whedon commented on #109
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/122.

[2021-07-12 17:39] #109 closed

[2021-07-12 17:39] whedon commented on #122
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pschloss it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-07-12 17:39] whedon commented on #122
[code]

[2021-07-12 17:39] whedon commented on #122
[code]

[2021-07-12 17:39] whedon commented on #122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00122/jose.00122/10.21105.jose.00122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00122/jose.00122/10.21105.jose.00122.pdf) :page_facing_up: :point_left:

[2021-07-12 17:41] JasonJWilliamsNY commented on #122
@whedon add @fmichonneau as reviewer

[2021-07-12 17:41] whedon commented on #122
OK, @fmichonneau is now a reviewer

[2021-07-12 17:44] JasonJWilliamsNY commented on #122
@labarba is there a way to for Whedon to generate a checklist for @fmichonneau? In pre-review I assigned (rather than added) him. He is added now, but no additional check list. I can of course copy - just making sure there is not a better way to do this.

[2021-07-12 17:50] labarba commented on #122
Hmm. If you assigned/added a reviewer in the Pre-review issue, a checklist should have been added upon creating the Review issue. It is only when we add reviewers after the start of a review that we need to manually add the checklist. So I'm perplexed. But no matter; I will manually add the checklist by editing the top comment here.

[2021-07-12 20:49] kalu-o commented on #59
@labarba ---- Thanks for the update.
1. I made a tagged release (v1.0.0): https://github.com/kalu-o/mLEARn/archive/refs/tags/v1.0.0.tar.gz
2. The DOI: 10.5281/zenodo.5093771

The issue you raised at the end has aso been addressed.

[2021-07-12 23:47] rudeboybert commented on #115
@whedon generate pdf

[2021-07-12 23:47] whedon commented on #115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: :point_left:

[2021-07-12 23:50] rudeboybert commented on #115
Hello @moorepants @lisamr @lwjohnst86, many thanks for all your work in this review. I believe I've addressed all the outstanding issues, in particular cutting down the manuscript length from ~2500 to 1026 words. Please let me know if I need to do anything else.

[2021-07-13 13:26] magsol commented on #116
@whedon assign @kdillmcfarland as reviewer

[2021-07-13 13:27] whedon commented on #116
OK, @kdillmcfarland is now a reviewer

[2021-07-13 15:15] rudeboybert commented on #115
Hi @moorepants, sounds good. I've broken down my response in 4 sections:

1. Responses (indicating changes) to first round of comments by @lisamr on 5/13
1. Responses (indicating changes) to second round of comments by @lisamr on 5/14
1. Responses (indicating changes) to comments by @lwjohnst86 on 6/4
1. Explanations for unchecked boxes in checklist

# 1. Responses to first round of comments by @l

[2021-07-13 18:31] labarba commented on #59
@whedon set v1.0.0 as version

[2021-07-13 18:31] whedon commented on #59
OK. v1.0.0 is the version.

[2021-07-13 18:32] labarba commented on #59
@whedon set 10.5281/zenodo.5093771 as archive

[2021-07-13 18:32] whedon commented on #59
OK. <a href="https://doi.org/10.5281/zenodo.5093771" target="_blank">10.5281/zenodo.5093771</a> is the archive.

[2021-07-13 18:32] labarba commented on #59
@whedon generate pdf

[2021-07-13 18:33] whedon commented on #59
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00059/jose.00059/10.21105.jose.00059.pdf) :page_facing_up: :point_left:

[2021-07-13 18:52] labarba commented on #59
@kalu-o 👋  – please merge this PR with minor edits, and I'l proceed to publish your paper!
https://github.com/kalu-o/mLEARn/pull/4

[2021-07-13 20:39] labarba commented on #104
@rasbt – Would you be willing to contribute a review on this submission to JOSE? I know you recently reviewed for us, and I don't want to lean to heavily on you, but if you can find the cycles, I'm needing the help. If you cannot do it, but can offer some suggested names for alternative reviewers, I'd be grateful.
Submission title: **"Auto-eD: A visual learning tool for automatic differentiation"*

[2021-07-13 20:57] labarba commented on #87
@campbe13 – hi! 👋
A while back you signed up to be a reviewer for JOSE, the Journal of Open Source Education. I wonder if you could help us out with this submission here:
**Interactive Bin Packing: A Java Application for Learning Constructive Heuristics for Combinatorial Optimization**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00087/jose.00087/10.21105.jo

[2021-07-13 21:12] labarba commented on #87
@adeepak7  – hi! 👋
A while back you signed up to be a reviewer for JOSE, the Journal of Open Source Education. I wonder if you could help us out with this submission here:
**Interactive Bin Packing: A Java Application for Learning Constructive Heuristics for Combinatorial Optimization**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00087/jose.00087/10.21105.j

[2021-07-13 21:19] labarba commented on #92
@marda-science – hi! 👋  You agreed to contribute a review for JOSE, the Journal of Open Source Education, a few months back. The process stalled as we have so far failed to find a second reviewer. Could you pop in the Pre-review issue on GitHub and drop us a line to say if you are still willing to review this submission?

Title: **ParFlow Sand Tank: A tool for groundwater exploration**
[View artic

[2021-07-13 22:49] labarba commented on #92
@DamienIrving – hi! 👋  You have published with JOSE in the past, and I wonder if you would consider now contributing a review. We are in need of some help with this submission:

Title: **ParFlow Sand Tank: A tool for groundwater exploration**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00092/jose.00092/10.21105.jose.00092.pdf)

Thanks for considering it!

[2021-07-13 23:51] labarba commented on #112
hi @BrunaPavlack 👋
I just read your paper and I have the following comment: I miss a passage that explains to readers how they might potentially use the software in their teaching and learning context. If you have used it within a course, it helps to describe briefly how it was used. Mostly, though, what we want is to make it easier for another instructor or a self-learner to visualize how they mi

[2021-07-14 01:02] labarba commented on #68
@whedon check references

[2021-07-14 01:02] whedon commented on #68
[code]

[2021-07-14 01:06] labarba commented on #68
hi @thomasdenecker – I read through the paper, and have no further comments. The opinion of the reviewer (who gave extensive and thorough comments during this process) is that _"the manuscript and gitbook can be published as is"_. Therefore, at this time, the only things that remain are:

- [ ] make a tagged release on the repository, and report the version number here so I can update the metadata

[2021-07-14 08:24] moorepants commented on #115
Thank you for the thorough and clear write up and addressing each point brought up by the reviewers.

@lisamr and @lwjohnst86, can you both take a second pass here at the changes made and report on whether this addresses your prior comments? Please check off the relevant boxes in the checklist too, if addressed.

Please indicate how much time you'd like to finalize your review.

[2021-07-14 09:02] adeepak7 commented on #87
@labarba Thank you for giving me this opportunity. Having worked on standalone JAVA applications and their respective deployments, I promise to provide constructive feedback and raise relevant issues.

[2021-07-14 11:20] labarba commented on #87
@whedon assign @labarba as editor

[2021-07-14 11:20] whedon commented on #87
OK, the editor is @labarba

[2021-07-14 11:20] labarba commented on #87
@whedon assign @adeepak7 as reviewer

[2021-07-14 11:21] whedon commented on #87
OK, @adeepak7 is now a reviewer

[2021-07-14 11:22] labarba commented on #87
Thank you for agreeing to review this for us, @adeepak7! I'm looking for a second reviewer, after which we will start the review on a new GitHub issue that will contain a checklist for each reviewer. You can start looking at the submission, but hold off on comments until we open the Review issue. 🙏

[2021-07-14 19:47] kalu-o commented on #59
@labarba --done.

[2021-07-14 19:56] rasbt commented on #104
@labarba Thanks for considering me, but I am very time-constrained in the upcoming 1 1/2 months since I will be traveling and have limited access to my computer.

@Atcold might possibly willing (and possibly excited) to review this article :)

[2021-07-14 20:02] labarba commented on #59
@whedon recommend-accept

[2021-07-14 20:03] whedon commented on #59
[code]

[2021-07-14 20:03] whedon commented on #59
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/59

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/59, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-14 20:03] whedon commented on #59
[code]

[2021-07-14 21:28] krother commented on #121
@KiCh84 I created an issue for the missing release, so that the final paper refers to a defined state of the repository.

[2021-07-14 22:05] lisamr commented on #115
@rudeboybert great job at tending to the comments and cutting down the MS. I have two small remaining comments that if resolved, I think would mean the paper is good to go.

- I still haven't checked the box for Documentation:Statement of Need. My understanding is that you need a Statement of Need in both the README and the software paper. Otherwise, there wouldn't be a checkbox for both (under Do

[2021-07-14 22:07] labarba commented on #59
@whedon accept deposit=true

[2021-07-14 22:07] whedon commented on #59
[code]

[2021-07-14 22:07] whedon commented on #59
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/60
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00059](https://doi.org/10.21105/jose.00059)
2. If everything looks

[2021-07-14 22:09] labarba commented on #59
Congratulations, @kalu-o, your JOSE paper is published! 🚀

Huge and sincere thanks to the Reviewers: @trallard, @rasbt — your contribution makes this adventure possible 🙏

[2021-07-14 22:09] #59 closed

[2021-07-14 22:09] whedon commented on #59
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00059/status.svg)](https://doi.org/10.21105/jose.00059)

**We need your help!**

Journal of Open Source Educat

[2021-07-14 23:04] rudeboybert commented on #115
Hi @lisamr,

1. I just added the Statement of Need to the README: https://github.com/moderndive/moderndive#statement-of-need
2. I added a note to the documentation for `geom_categorical_model()` explaining what the solid and dashed lines are in this [commit](https://github.com/moderndive/moderndive/commit/d52a4aef3b234b950095703af3a02ee3b4102b53)

Many thanks for all your work on this review

[2021-07-14 23:15] lisamr commented on #115
@rudeboybert looks great to me!

[2021-07-15 00:06] DamienIrving commented on #92
Sorry, @labarba. Ordinarily I'd be happy to be a JOSE reviewer but this one is a bit far out of my area of expertise both in terms of the subject matter and the software packages involved.

[2021-07-15 05:24] thomasdenecker commented on #68
hi @labarba,

We thank you and we are delighted!

I just created it and the tag is: `JOSE publication` (2.0.0)

The updated Zenodo DOI is : http://doi.org/10.5281/zenodo.5105349

Done

We thank you again and remain at your disposal.

[2021-07-15 11:39] labarba commented on #104
Hi @rasbt – thank you! In fact @Atcold already agreed to be a reviewer and I'm looking for a second one. 😃

[2021-07-15 12:33] rasbt commented on #104
Oops, I should have double-checked :). Below is a list of machine learning researchers and educators who would be great candidates:

@brohrer
@khakhalin
@muellerzr
@radekosmulski

[2021-07-15 20:30] lwjohnst86 commented on #115
@rudeboybert I've checked all the boxes though you still have almost identical text ("six features") between your vignette and your README which I think you should de-duplicate, or rather "don't repeat yourself" :wink: Other than that, it looks great!! :grin:

[2021-07-16 13:03] rudeboybert commented on #115
Thanks @lwjohnst86, I will keep the six features text to form a bridge between the README and the manuscript, even at the cost of repeating myself.

@lisamr could you check off the remaining checkbox? After that point I believe @moorepants can move the review to the next phase

[2021-07-16 13:19] lisamr commented on #115
@rudeboybert sorry about that, thought I already checked it off.

[2021-07-16 18:49] BrunaPavlack commented on #112
Hi! Thank you so much for the comment! We have already added in the paper the potential use of EPIDEMIC for teaching and learning. We've also added an example of using EPIDEMIC in a course on numerical and computational
methods. We are available for any questions!

[2021-07-16 18:50] BrunaPavlack commented on #112
Hi @labarba  ! Thank you so much for the comment! We have already added in the paper the potential use of EPIDEMIC for teaching and learning. We've also added an example of using EPIDEMIC in a course on numerical and computational
methods. We are available for any questions!

[2021-07-16 18:50] BrunaPavlack commented on #112
Hi @labarba  ! Thank you so much for the comment! We have already added in the paper the potential use of EPIDEMIC for teaching and learning. We've also added an example of using EPIDEMIC in a course on numerical and computational methods. We are available for any questions!

[2021-07-17 09:58] kalu-o commented on #59
Thanks to the editor and reviewers for making this possible!

[2021-07-19 09:49] moorepants commented on #115
@rudeboybert I've checked over everything, including @lisamr and @lwjohnst86's final sign off and it all looks ready to go!

Next steps:

1. Create a new release for your github repository and report the tag string here.
2. Create a Zenodo archive of the release made in point 1 and report the DOI here.

[2021-07-19 09:49] moorepants commented on #115
@whedon check references

[2021-07-19 09:50] whedon commented on #115
[code]

[2021-07-19 09:51] moorepants commented on #115
@whedon check repository

[2021-07-19 09:51] whedon commented on #115
Wordcount for `paper.md` is 1547

[2021-07-19 09:51] whedon commented on #115
[code]

[2021-07-19 21:58] emckiernan commented on #118
Hi @thartbm, just wanted to check in...any questions, or do you need anything on my end?

[2021-07-19 22:42] thartbm commented on #118
@emckiernan Thanks for the reminder. Getting structured feedback from this large a group of authors is quite a bit of work, and since I'm overwhelmed with running NMA right now, I have unfortunately not been able to put in any work on this yet. It is absolutely on my priority list though!

[2021-07-19 22:46] emckiernan commented on #118
@thartbm No worries at all, completely understand!

[2021-07-20 13:40] JasonJWilliamsNY commented on #122
@whedon remind @fmichonneau in 2 weeks

[2021-07-20 13:40] whedon commented on #122
Reminder set for @fmichonneau in 2 weeks

[2021-07-20 13:40] JasonJWilliamsNY commented on #122
@whedon remind @pschloss  in 2 weeks

[2021-07-20 13:40] whedon commented on #122
Reminder set for @pschloss  in 2 weeks

[2021-07-20 18:00] whedon commented on #121
:wave: @krother, please update us on how your review is going (this is an automated reminder).

[2021-07-20 18:00] whedon commented on #121
:wave: @KiCh84, please update us on how your review is going (this is an automated reminder).

[2021-07-20 20:48] krother commented on #121
There are currently two issue that I found, and I have created GitHub issues for both.

[2021-07-21 13:21] rudeboybert commented on #115
Hey @moorepants:
- I just updated the `moderndive` package on [CRAN](https://cran.r-project.org/package=moderndive) to version 0.5.2
- I've tagged the release on GitHub [here](https://github.com/moderndive/moderndive/releases). By tag string I believe you mean [`v0.5.2`](https://github.com/moderndive/moderndive/tags)
- I created a [Zenodo archive](https://zenodo.org/record/5119261) of the release.

[2021-07-21 13:27] moorepants commented on #115
@whedon set v0.5.2 as version

[2021-07-21 13:27] whedon commented on #115
OK. v0.5.2 is the version.

[2021-07-21 13:28] moorepants commented on #115
@whedon set 10.5281/zenodo.5119261 as archive

[2021-07-21 13:28] whedon commented on #115
OK. <a href="https://doi.org/10.5281/zenodo.5119261" target="_blank">10.5281/zenodo.5119261</a> is the archive.

[2021-07-21 13:29] moorepants commented on #115
@whedon generate pdf

[2021-07-21 13:29] whedon commented on #115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00115/jose.00115/10.21105.jose.00115.pdf) :page_facing_up: :point_left:

[2021-07-21 13:30] moorepants commented on #115
@whedon recommend-accept

[2021-07-21 13:30] whedon commented on #115
[code]

[2021-07-21 13:30] whedon commented on #115
[code]

[2021-07-21 13:31] whedon commented on #115
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/61

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/61, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-21 13:33] rudeboybert commented on #115
@whedon accept deposit=true

[2021-07-21 13:33] whedon commented on #115
I'm sorry @rudeboybert, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-07-21 13:35] moorepants commented on #115
@labarba This paper is ready to be accepted!

@lisamr and @lwjohnst86 thank you very much for your quality review. We at JOSE value your contribution.

@rudeboybert thank you for your patience with this submission. I apologize for losing track of it originally. The paper and software look great and I hope you are please with the final reviewed result. This is a very nice addition to the literature

[2021-07-21 13:38] rudeboybert commented on #115
Thank you @labarba and @moorepants for your work sustaining this wonderful initiative. I added my name to your list of potential reviewers awhile back, I hope to contribute someday.

@lisamr and @lwjohnst86 thanks once again for your detailed and thoughtful reviews. It was a pleasure working with you.

[2021-07-21 13:38] moorepants commented on #115
Good to know. We'll reach out for sure.

[2021-07-21 13:40] lwjohnst86 commented on #115
Congrats! :partying_face: and likewise :relaxed:

[2021-07-21 18:27] labarba commented on #115
hi  @rudeboybert 👋  — Could you edit the metadata of the Zenodo archive so the title and author list matches the JOSE paper?

[2021-07-21 18:39] rudeboybert commented on #115
Hi @labarba, done: https://zenodo.org/record/5119261

[2021-07-21 19:09] labarba commented on #115
@whedon accept deposit=true

[2021-07-21 19:09] whedon commented on #115
[code]

[2021-07-21 19:37] labarba commented on #115
@openjournals/dev — is `whedon` having a bad day?

[2021-07-21 20:15] whedon commented on #115
PDF failed to compile for issue #115 with the following error:
[code]

[2021-07-21 20:15] arfon commented on #115
@whedon accept deposit=true

[2021-07-21 20:15] whedon commented on #115
I'm sorry @arfon, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-07-21 20:16] arfon commented on #115
@labarba - could you try again now?

[2021-07-21 20:18] labarba commented on #115
@whedon accept deposit=true

[2021-07-21 20:18] whedon commented on #115
[code]

[2021-07-21 20:18] whedon commented on #115
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/62
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00115](https://doi.org/10.21105/jose.00115)
2. If everything looks

[2021-07-21 20:20] labarba commented on #115
Congratulations, @rudeboybert, your JOSE paper is published! 🚀
(And thank you for your patience.)

Huge thanks to our Editor: @moorepants, and the Reviewers: @lisamr, @lwjohnst86 — your contributions make this possible 🙏

[2021-07-21 20:20] #115 closed

[2021-07-21 20:20] whedon commented on #115
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00115/status.svg)](https://doi.org/10.21105/jose.00115)

**We need your help!**

Journal of Open Source Educat

[2021-07-25 19:54] labarba commented on #120
@whedon query scope

[2021-07-25 19:54] whedon commented on #120
Submission flagged for editorial review.

[2021-07-25 19:58] labarba commented on #120
hi @rahuln13 👋  — I have flagged this submission for scope, as apparently the lesson material is quite short. Because JOSE provides a full journal publication out of accepted submissions, we expect substantial scholarly effort. This is reflected in our scope as:

https://jose.theoj.org/about

A “module” for us means a series of lessons that would be taught perhaps as part of a university course ov

[2021-07-25 20:11] labarba commented on #113
@whedon assign @labarba as editor

[2021-07-25 20:11] whedon commented on #113
OK, the editor is @labarba

[2021-07-25 20:24] labarba commented on #113
hi @stefania11 👋 — You signed up to review for JOSE (The Journal of Open Source Education) a while back. Do you think you could help us with this submission?
**OpenQuestion: A survey building and reporting platform written in Python**
Target repository: https://github.com/Alcampopiano/OpenQuestion
Paper: https://github.com/openjournals/jose-papers/blob/jose.00113/jose.00113/10.21105.jose.00113.pdf

[2021-07-25 20:29] labarba commented on #67
@ctdegroot — hi 👋
Have you been able to look into the final snags to getting your JOSE publication accepted? It got so close!

[2021-07-25 20:44] labarba commented on #68
@whedon set v2.0.0 as version

[2021-07-25 20:44] whedon commented on #68
OK. v2.0.0 is the version.

[2021-07-25 20:46] labarba commented on #68
@whedon set 10.5281/zenodo.5105349 as archive

[2021-07-25 20:46] whedon commented on #68
OK. <a href="https://doi.org/10.5281/zenodo.5105349" target="_blank">10.5281/zenodo.5105349</a> is the archive.

[2021-07-25 20:50] labarba commented on #68
@whedon recommend-accept

[2021-07-25 20:50] whedon commented on #68
[code]

[2021-07-25 20:51] whedon commented on #68
[code]

[2021-07-25 20:51] whedon commented on #68
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/63

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/63, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-25 20:53] labarba commented on #68
@lexnederbragt 👋  — I am ready to accept this JOSE paper, on the basis of your extensive reviews and the authors' improvements. A few items of your checklist remain unchecked: could you have a final look? I think some could be easy to check off (e.g., License, References). Thank you!!

[2021-07-25 22:11] labarba commented on #101
Hello, @warint — I've decided to reject this submission, on the basis of the assessment of the reviewer above that the content is not well developed and that it would not be possible for another user to teach with it (or use it for self-directed learning). The repository seems abandoned, with no activity since  Sep 29, 2020 (i.e., before the opening of this review), except for one commit with a de

[2021-07-25 22:12] labarba commented on #101
@whedon reject

[2021-07-25 22:12] whedon commented on #101
Paper rejected.

[2021-07-25 22:12] #101 closed

[2021-07-25 22:15] labarba commented on #100
Hi @jwagemann 👋  — You contributed an initial review of this JOSE submission a while back. The author reported back that they made changes responding to your comments and opened issues in the target repository. Could you take a second look, so we may progress towards acceptance? Many thanks!

[2021-07-25 22:17] labarba commented on #100
👋 @ali-ramadhan, you agreed to review this submission for The Journal of Open Source Education (JOSE). I see that you got started and checked off a couple of items of the checklist, but we haven't heard from you in a while now. Could you pop in the Review Issue and tell us if you will be able to complete your review? Many thanks!

[2021-07-25 22:29] labarba commented on #104
@brohrer Hi Brandon 👋  — I see on your site that you have a lot of educational material. Could I interest you in contributing a review for this submission to JOSE, the Journal of Open Source Education?

[JOSE](https://jose.theoj.org) is a community led open-source journal to publish articles about educational software and learning modules (human learning, not machine, ha ha).

I already have one r

[2021-07-26 00:12] labarba commented on #119
@whedon assign @JasonJWilliamsNY as editor

[2021-07-26 00:12] whedon commented on #119
OK, the editor is @JasonJWilliamsNY

[2021-07-26 00:15] labarba commented on #114
@ThomasA — Are you still available to contribute a review for this submission? Thank you for volunteering!

[2021-07-26 00:15] labarba commented on #114
@whedon invite @moorepants as editor

[2021-07-26 00:15] whedon commented on #114
@moorepants has been invited to edit this submission.

[2021-07-26 17:39] whedon commented on #122
:wave: @pschloss, please update us on how your review is going (this is an automated reminder).

[2021-07-26 21:37] stefania11 commented on #113
Sure happy to help!

[2021-07-26 23:55] labarba commented on #113
@whedon assign @stefania11 as reviewer

[2021-07-26 23:55] whedon commented on #113
OK, @stefania11 is now a reviewer

[2021-07-26 23:57] labarba commented on #113
Thank you, Stefania! After I add a second reviewer we can start the review issue, which will include a checklist to guide the review. In the meantime, you can of course look at the contents of the submission, and ask me any questions you may have.

[2021-07-27 00:05] stefania11 commented on #113
Sounds good!

On Mon, Jul 26, 2021, 4:57 PM Lorena A. Barba ***@***.***>
wrote:

[2021-07-27 10:54] moorepants commented on #114
I can be the editor for this one, but won't get to it till after my vacation (August 23).

[2021-07-27 14:39] brohrer commented on #104
Thanks for thinking for me on this, it’s a big vote of confidence. I’m afraid I will have to decline. I have fully booked myself for the rest of the year and I’m having to be extra disciplined in my prioritization.

Sorry!
Brandon

On Sun, Jul 25, 2021 at 6:29 PM, Lorena A. Barba ***@***.***> wrote:

[2021-07-27 20:26] TomDonoghue commented on #121
Hey @krother - thanks a ton for the review! The things you brought up make total sense, I will fix them up soon.

@KiCh84 - have you had a chance to look at the project and do you have any issues / suggestions? If you have a timeline for adding any comments, I might try and group any updates together!

[2021-07-27 20:29] KiCh84 commented on #121
Hey Tom ! I have been SWAMPED with things ( not only Professional ) , I
think next week I should be able to get into it in more detail . I do
apologize if there is any inconvenience caused by that :/

On Tue, Jul 27, 2021, 22:26 Tom ***@***.***> wrote:

[2021-07-28 00:26] labarba commented on #113
@whedon add @csev as reviewer

[2021-07-28 00:26] whedon commented on #113
OK, @csev is now a reviewer

[2021-07-28 00:26] labarba commented on #113
@whedon start review

[2021-07-28 00:26] whedon opened #123 "[REVIEW]: OpenQuestion: A survey building and reporting platform written in Python"
**Submitting author:** @Alcampopiano (<a href="http://orcid.org/0000-0002-3280-4447">Allan Campopiano</a>)
**Repository:** <a href="https://github.com/Alcampopiano/OpenQuestion" target ="_blank">https://github.com/Alcampopiano/OpenQuestion</a>
**Version:** v0.1.0
**Editor:** @labarba
**Reviewer:** @stefania11, @csev
**Archive:** Pending

**:warning: JOSE reduced service mode :warning:**

Due to th

[2021-07-28 00:26] whedon commented on #113
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/123.

[2021-07-28 00:26] #113 closed

[2021-07-28 00:26] whedon commented on #123
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stefania11, @csev it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-07-28 00:26] whedon commented on #123
Wordcount for `paper.md` is 1001

[2021-07-28 00:26] whedon commented on #123
[code]

[2021-07-28 00:26] whedon commented on #123
[code]

[2021-07-28 00:27] whedon commented on #123
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00123/jose.00123/10.21105.jose.00123.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00123/jose.00123/10.21105.jose.00123.pdf) :page_facing_up: :point_left:

[2021-07-28 00:32] labarba commented on #123
👋  @stefania11, @csev —  Here is the Review issue for "OpenQuestion: A survey building and reporting platform written in Python." The article proof is linked on the comment just above, and the submission repository is linked at the very top of this thread. You both have a reviewer checklist to guide you, review criteria are listed in our [docs](https://openjournals.readthedocs.io/en/jose/review_cr

[2021-07-28 00:50] labarba commented on #104
Thanks, @brohrer — another time! (Feel free to unsubscribes to this thread to avoid more notifications.)

@khakhalin Hi Arseny 👋  — would you consider contributing a peer review for JOSE? (The Journal of Open Source Education)
Submission title: **"Auto-eD: A visual learning tool for automatic differentiation"**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00

[2021-07-28 01:08] labarba commented on #114
@kyleniemeyer – Could you handle this submission as editor?

[2021-07-28 01:10] labarba commented on #114
@moorepants – you can mark yourself as Out of Office using the `/ooo` bot.
See https://openjournals.readthedocs.io/en/jose/editing.html#out-of-office

[2021-07-28 04:33] moorepants commented on #114
/ooo July 29 until August 22

[2021-07-28 16:47] Alcampopiano commented on #123
Hello @stefania11 and @csev,

Thank you for reviewing this submission. I have sent a hosted version of the program (with the required login information) to your emails. This way you can hop in and try things out straight away if interested.

Take care,
Al

[2021-07-29 17:34] kyleniemeyer commented on #114
@whedon assign @kyleniemeyer as editor

[2021-07-29 17:34] whedon commented on #114
OK, the editor is @kyleniemeyer

[2021-07-29 17:35] kyleniemeyer commented on #114
I'm going to be out camping next week myself, but hopefully we can identify some reviewers before then!

@ThomasA are you still able to review this submission?

[2021-07-29 20:22] kyleniemeyer commented on #114
Hello @sconde, are you interested in (and available to) review this submission for JOSE?

[2021-07-30 19:56] khakhalin commented on #104
Sorry, but I have my plate really full right now :( I'd love to, and I'm happy that you thought about me, I just physically cannot find time for that in nearest 2-3 months. Sorry!!

[2021-07-30 20:29] magsol commented on #116
@tracykteal Hi Tracy 👋 — would you consider contributing a peer review for JOSE? (The Journal of Open Source Education)
Submission title: "**Developing and deploying an integrated workshop curriculum teaching computational skills for reproducible research**"

[2021-08-01 19:35] labarba commented on #104
hi @GaelVaroquaux 👋  — Would you consider volunteering a review for JOSE? (The Journal of Open Source Education, sibling journal to JOSS). I already have one reviewer, but need a second to start the review.
Submission title: **"Auto-eD: A visual learning tool for automatic differentiation"**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21

[2021-08-01 22:38] GaelVaroquaux commented on #104
I'm trying to take a month's holiday and be off the computer, so I fear that I am not the right person. I think that @jilljenn might be an interesting person for this paper.

[2021-08-02 14:36] sconde commented on #114
yes.

[2021-08-03 17:20] pschloss commented on #122
I have filed a few issues over at the project's repository...

* https://gitlab.com/rostools/r-cubed/-/issues/237
* https://gitlab.com/rostools/r-cubed/-/issues/238
* https://gitlab.com/rostools/r-cubed/-/issues/239
* https://gitlab.com/rostools/r-cubed/-/issues/240

Overall a very nice set of materials and they are well put together

[2021-08-04 13:24] darribas commented on #85
Hello, just checking in to make sure nothing is waiting on me: has the review been started? If so, I think I should be able to get to it this month. Thanks! (cc @ttimbers )

[2021-08-04 18:20] andrewmaclachlan commented on #85
Hi Dani and all

Thanks for agreeing to review this submission, just to make you aware we have changed the module for the forthcoming year. But each year we take a snapshot, which are listed on the previous version section of the main repository. The 2020-2021 module aligns with the submitted paper.

Let me know if that’s not clear

Thanks

Andy
________________________________
From: Dani Arribas-

[2021-08-06 17:43] voytek commented on #121
@KiCh84 no, rush since it sounds like a lot's happening (sorry!) but I wanted to see if you had any additional comments or recommendations for us!

[2021-08-09 19:37] kyleniemeyer commented on #114
@whedon add @sconde as reviewer

[2021-08-09 19:38] whedon commented on #114
OK, @sconde is now a reviewer

[2021-08-11 00:26] whedon commented on #123
:wave: @csev, please update us on how your review is going (this is an automated reminder).

[2021-08-11 00:26] whedon commented on #123
:wave: @stefania11, please update us on how your review is going (this is an automated reminder).

[2021-08-11 09:37] fmichonneau commented on #122
"Reproducible Research in R" is an introductory yet comprehensive overview of tools, techniques, and strategies for scientists learning who want to make their computational research projects more reproducible. The content is well-organized, clear, and well-suited for the intended audience.

The materials mix reading, lectures, and participatory live coding. Trying to think through how I would prep

[2021-08-11 16:53] JasonJWilliamsNY commented on #122
@pschloss @fmichonneau Thanks so much for these initial helpful comments - @lwjohnst86 as you start to address these please comment and mention the reviewers. The idea is that suggestions and responses to those suggestions are worked out here and when everyone things we have arrived at a final version, I'll come in for a look before hopefully moving to publication!

[2021-08-14 11:10] lwjohnst86 commented on #122
Thanks @pschloss and @fmichonneau for the reviews! I'm very busy this week and going on holidays the week after so I won't be able to look into the comments and update them until early to mid September. Thanks again!

[2021-08-17 18:26] whedon opened #124 "[PRE REVIEW]: Cerbo: A Student-Friendly Library for Artificial Intelligence and Machine Learning"
**Submitting author:** @anaiy2004 (<a href="http://orcid.org/0000-0003-4280-1642">Anaiy Somalwar</a>)
**Repository:** https://github.com/StartOnAI/Cerbo
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.3
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Lorena Barba

## Status

[![status](https://jose.theoj.org/papers/a10e4b5ff79f103e4f0ba2835fb3661d/status.svg)](ht

[2021-08-17 18:26] whedon commented on #124
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-17 18:26] whedon commented on #124
Wordcount for `paper.md` is 992

[2021-08-17 18:26] whedon commented on #124
[code]

[2021-08-17 18:26] whedon commented on #124
[code]

[2021-08-17 18:26] whedon commented on #124
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00124/jose.00124/10.21105.jose.00124.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00124/jose.00124/10.21105.jose.00124.pdf) :page_facing_up: :point_left:

[2021-08-20 09:16] KiCh84 commented on #121
Dear Bradley,

I am reading through the course material, and I just quickly wanted to
check in and ask you about who the target audience is, for this wonderful
course ?
and I apologise heavily for the delay in the responses .

On Fri, Aug 6, 2021 at 7:43 PM Bradley Voytek ***@***.***>
wrote:

[2021-08-20 17:48] voytek commented on #121
No worries! The target is undergraduate students with some Python experience, and some statistics.

We have a complementary paper for that class that outlines the general target—and our motivations—[here](https://www.tandfonline.com/doi/full/10.1080/10691898.2020.1860725).

Thanks for the kind words, and I hope this clarifies!

[2021-08-26 19:33] whedon opened #125 "[PRE REVIEW]: AutoSULT: An R Package for Generating Life Contingencies Problems"
**Submitting author:** @ChrisGroendyke (<a href="http://orcid.org/0000-0001-9635-8397">Chris Groendyke</a>)
**Repository:** <a href="https://github.com/ChrisGroendyke/AutoSULT" target ="_blank">https://github.com/ChrisGroendyke/AutoSULT</a>
**Version:** v1.1-3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warning:**

Due to the

[2021-08-26 19:42] #125 closed, assigned to nobody

[2021-08-26 19:43] whedon opened #126 "[PRE REVIEW]: Virtual training on virtual environments: an online open-source introduction to conda"
**Submitting author:** @marisalim (<a href="http://orcid.org/0000-0003-2097-8818">Marisa Lim</a>)
**Repository:** <a href="https://github.com/nih-cfde/training-and-engagement" target ="_blank">https://github.com/nih-cfde/training-and-engagement</a>
**Version:** n/a
**Editor:** @allisonhorst
**Reviewers:** @colbrydi, @shanamatthews
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced servic

[2021-08-26 20:08] whedon opened #127 "[PRE REVIEW]: PyRandWalk: A Python Library for Random Walks Simulaton"
**Submitting author:** @sadrasabouri (<a href="http://orcid.org/0000-0003-1047-2346">Sadra Sabouri</a>)
**Repository:** <a href="https://github.com/sadrasabouri/pyrandwalk" target ="_blank">https://github.com/sadrasabouri/pyrandwalk</a>
**Version:** v1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warning:**

Due to the chall

[2021-08-26 20:17] #127 closed, assigned to nobody

[2021-08-26 20:17] whedon opened #128 "[PRE REVIEW]: Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples"
**Submitting author:** @ethanwhite (<a href="http://orcid.org/0000-0001-6728-7745">Ethan P. White</a>)
**Repository:** <a href="https://github.com/datacarpentry/semester-biology/" target ="_blank">https://github.com/datacarpentry/semester-biology/</a>
**Version:** v4.1.0
**Editor:** @ShanEllis
**Reviewers:** @smwindecker, @catherinehulshof
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduc

[2021-08-28 00:39] Swanson-Hysell commented on #69
Hi @labarba, yes. I can provide a review associated with the submission. @amoodie has there been progress on the project since your July 29, 2020 message where you indicated that more development was planned? It looks like the last commit was Feb 27, 2020.

[2021-08-28 01:20] labarba commented on #69
Thank you so much, Nick! I will assign you and start the review, and maybe @amoodie can reply to your queries there.

[2021-08-28 01:20] labarba commented on #69
@whedon assign @Swanson-Hysell as reviewer

[2021-08-28 01:20] whedon commented on #69
OK, @Swanson-Hysell is now a reviewer

[2021-08-28 01:20] labarba commented on #69
@whedon start review

[2021-08-28 01:20] whedon opened #129 "[REVIEW]: SedEdu: a suite of sediment-related educational modules"
**Submitting author:** @amoodie (<a href="http://orcid.org/0000-0002-6745-036X">Andrew Moodie</a>)
**Repository:** <a href="https://github.com/sededu/sededu" target ="_blank">https://github.com/sededu/sededu</a>
**Version:** v1.1.10a
**Editor:** @labarba
**Reviewers:** @Swanson-Hysell, @hernanrr
**Archive:** <a href="https://doi.org/10.5281/zenodo.7044895" target="_blank">10.5281/zenodo.7044895</a

[2021-08-28 01:20] whedon commented on #69
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/129.

[2021-08-28 01:20] #69 closed

[2021-08-28 01:20] whedon commented on #129
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Swanson-Hysell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-08-28 01:21] whedon commented on #129
Wordcount for `paper.md` is 1067

[2021-08-28 01:21] whedon commented on #129
[code]

[2021-08-28 01:21] whedon commented on #129
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00129/jose.00129/10.21105.jose.00129.pdf) :page_facing_up: :point_left:

[2021-08-28 01:21] whedon commented on #129
[code]

[2021-08-28 01:22] labarba commented on #129
From @Swanson-Hysell [on pre-review](https://github.com/openjournals/jose-reviews/issues/69#issuecomment-907538918):

[2021-08-28 01:25] Swanson-Hysell commented on #129
Hi @labarba, the first review checkbox heads to a 404: https://github.com/openjournals/jose/blob/master/COI.md
where can I find the COI? I don't have a conflict, but don't want to click a box saying that I have read something I haven't.

[2021-08-28 01:29] labarba commented on #129
Yikes! It is the same as the [JOSS COI policy](https://github.com/openjournals/joss/blob/master/COI.md). We will investigate that bug in our issue generator (JOSE is a fork of JOSS and we recently reorganized the repositories).

[2021-08-28 01:34] Swanson-Hysell commented on #129
Got it. Thanks! One box checked.

[2021-08-28 03:04] hernanrr commented on #129
Hi @labarba, do I need to do anything to also get a reviewer checklist? I'm confident I accepted the invitation but nothing seems to have happened.

[2021-08-28 03:44] amoodie commented on #69
@Swanson-Hysell unfortunately no, progress on this has slipped in the chaos of the last year. Eventually we will, though, because SedEdu modules are part of broader impacts on two current NSF Postdoc projects (mine included). Thanks for agreeing to review!

[2021-08-28 13:31] labarba commented on #129
Thanks for the ping @hernanrr — I think it was my mistake, as I should have run `@whedon add` instead of `@whedon assign` the second time around. I will add you here.

[2021-08-28 13:31] labarba commented on #129
@whedon add @hernanrr as reviewer

[2021-08-28 13:31] whedon commented on #129
OK, @hernanrr is now a reviewer

[2021-08-28 15:58] hernanrr commented on #129
I appreciate it. Thanks.

[2021-08-30 15:43] jessepisel commented on #69
Howdy @labarba  I apologize unfortunately I do not have the bandwidth right now to assist with a review on this project.

[2021-08-30 19:37] anaiy2004 commented on #124
@whedon commands

[2021-08-30 19:37] whedon commented on #124
Here are some things you can ask me to do:

[code]

[2021-08-30 20:59] ShanEllis commented on #128
Thanks @ethanwhite! Looks ready to start the review process.

Hi @jsta and @jhollist, I have you both as interested reviewers for JOSE, and it appears you are each a good fit for this submission. Would you like to contribute a review for this submission? The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". Please let me

[2021-08-31 13:57] allisonhorst commented on #126
Hi @shanamatthews, thank you for signing up to review for the Journal of Open Source Education! Would you like to contribute a review for this submission, "Virtual training on virtual environments: an online open-source introduction to conda"? Please let me know if you're available and willing to review this submission. Thank you!

[2021-08-31 18:45] colbrydi commented on #126
Hi @allisonhorst, I should be able to do this review.  Please note that I am new to this git centered review process so it may take me some time to figure out.

[2021-09-01 01:50] allisonhorst commented on #126
Thank you @colbrydi, we really appreciate your willingness to review for JOSE! No worries at all about learning the review process. I am new to it, too, and here to help (with the support of the JOSE editorial board). I'll go ahead and add you as a reviewer for this paper and kick off the review process. Please reach out any time with questions, and I'll follow up with some information within the

[2021-09-01 01:50] allisonhorst commented on #126
@whedon assign @colbrydi as reviewer

[2021-09-01 01:51] whedon commented on #126
OK, @colbrydi is now a reviewer

[2021-09-01 05:27] shanamatthews commented on #126
Hi @allisonhorst! I’m happy to review as well.

[2021-09-01 15:15] allisonhorst commented on #126
@whedon add @shanamatthews as reviewer

[2021-09-01 15:16] whedon commented on #126
OK, @shanamatthews is now a reviewer

[2021-09-01 15:19] allisonhorst commented on #126
@whedon start review

[2021-09-01 15:19] whedon opened #130 "[REVIEW]: Virtual training on virtual environments: an online open-source introduction to conda"
**Submitting author:** @marisalim (<a href="http://orcid.org/0000-0003-2097-8818">Marisa Lim</a>)
**Repository:** <a href="https://github.com/nih-cfde/training-and-engagement" target ="_blank">https://github.com/nih-cfde/training-and-engagement</a>
**Version:** v2021.12
**Editor:** @allisonhorst
**Reviewer:** @colbrydi, @shanamatthews
**Archive:** <a href="https://doi.org/10.5281/zenodo.5773212" t

[2021-09-01 15:19] whedon commented on #126
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/130.

[2021-09-01 15:19] #126 closed

[2021-09-01 15:19] whedon commented on #130
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @colbrydi, @shanamatthews it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-09-01 15:20] whedon commented on #130
PDF failed to compile for issue #130 with the following error:
[code]

[2021-09-01 16:06] marisalim commented on #130
@whedon generate pdf from branch JOSE-conda-paper

[2021-09-01 16:06] whedon commented on #130
[code]

[2021-09-01 16:06] whedon commented on #130
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00130/jose.00130/10.21105.jose.00130.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00130/jose.00130/10.21105.jose.00130.pdf) :page_facing_up: :point_left:

[2021-09-01 16:07] marisalim commented on #130
@whedon check repository from branch JOSE-conda-paper

[2021-09-01 16:07] whedon commented on #130
Wordcount for `paper.md` is 1307

[2021-09-01 16:07] whedon commented on #130
[code]

[2021-09-02 17:14] allisonhorst commented on #130
Hi @colbrydi and @shanamatthews, thank you again for contributing to this review! The PRE-REVIEW issue is now closed, so this is where we'll be working from here on. The reviewer instructions are up above, as are your individual review checklists. I'm here to help & advise, please reach out any time if you have questions!

[2021-09-02 20:20] shanamatthews commented on #130
Hey @allisonhorst - it looks like there are some broken links in the instructions:
- [JOSE conflict of interest policy](https://github.com/openjournals/jose/blob/master/COI.md)
- The code of conduct link on this page: https://jose.theoj.org/about#code_of_conduct (https://github.com/openjournals/jose/blob/main/CODE_OF_CONDUCT.md)

Possibly these files need to be copied over from the joss repository

[2021-09-02 20:26] allisonhorst commented on #130
Thanks for the heads up @shanamatthews!

@labarba can you update these links for JOSE reviewer COI and CoC (or let me know who at JOSE I should reach out to)? Thanks!

[2021-09-03 15:48] whedon opened #131 "[PRE REVIEW]: Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"
**Submitting author:** @lwasser (<a href="http://orcid.org/0000-0002-8177-6550">Leah Wasser</a>)
**Repository:** <a href="https://github.com/earthlab/earth-analytics-intermediate-earth-data-science-textbook" target ="_blank">https://github.com/earthlab/earth-analytics-intermediate-earth-data-science-textbook</a>
**Version:** release 1.0
**Editor:** @labarba
**Reviewers:** @cgentemann, @snowman2, @

[2021-09-03 15:48] whedon commented on #131
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 15:48] whedon commented on #131
Failed to discover a `Statement of need` section in paper

[2021-09-03 15:48] whedon commented on #131
[code]

[2021-09-03 15:48] whedon commented on #131
Wordcount for `paper.md` is 1260

[2021-09-03 15:49] whedon commented on #131
[code]

[2021-09-03 15:49] whedon commented on #131
Failed to discover a valid open source license.

[2021-09-03 15:49] whedon commented on #131
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00131/jose.00131/10.21105.jose.00131.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00131/jose.00131/10.21105.jose.00131.pdf) :page_facing_up: :point_left:

[2021-09-03 20:30] voytek commented on #121
Just checking back in on this @KiCh84!

[2021-09-06 12:42] labarba commented on #130
Yikes! It is the same as the [JOSS COI policy](https://github.com/openjournals/joss/blob/master/COI.md). We will investigate that bug in our issue generator (JOSE is a fork of JOSS and we recently reorganized the repositories).

[2021-09-08 16:38] lwasser commented on #131
hey @jgorzalski i'm new to this process. it looks like i need to fix a few things in my paper and to add a license file to our repo. should i go ahead and do that before moving on to reviewers? i can do that this week.

[2021-09-08 17:08] lwasser commented on #131
ok great - i will work on fixing and will ping you here when i'm done. @jgorzalski can i "ask" whedon to recheck my repository once i and done by tagging @ + whedon with a command?

[2021-09-08 17:14] jgorzalski commented on #131
Thank you! I believe you can ask whedon to generate a PDF to check and make
sure everything is generating correctly by saying "generate pdf." For a
list of all Whedon commands check out the Docs repo on the site linked
here: https://openjournals.readthedocs.io/en/jose/whedon.html

On Wed, Sep 8, 2021 at 1:08 PM Leah Wasser ***@***.***> wrote:

--
Jordan Gorzalski, MSI
***@***.*** ***@***.***>|cell

[2021-09-09 18:30] shanamatthews commented on #130
Hello! I was able to spend some time reviewing this morning and found that the materials met most requirements and overall seemed high quality - great work!

I've pasted in the parts of the review checklist where I saw gaps. I was not able to find documentation in the repo or in the paper to help other users adopt or adapt the module, although there is plenty of information about how the original

[2021-09-09 18:38] marisalim commented on #130
Hi @shanamatthews - thank you for reviewing our submission! Do you think additional information on [this wiki page for instructors](https://github.com/nih-cfde/training-and-engagement/wiki/Conda-workshop-teaching-notes) would work? We were trying to stay within the word limit for the paper, but are happy to add more information for using the module in the wiki!

[2021-09-10 14:44] whedon opened #132 "[PRE REVIEW]: A virtual training module for introducing the use of Amazon Web Services"
**Submitting author:** @abhijna (<a href="http://orcid.org/0000-0002-5861-3737">Abhijna Parigi</a>)
**Repository:** <a href="https://github.com/nih-cfde/training-and-engagement" target ="_blank">https://github.com/nih-cfde/training-and-engagement</a>
**Version:** v1.0.0
**Editor:** @willingc
**Reviewers:** @giuliaguidi, @manics
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service m

[2021-09-10 14:44] whedon commented on #132
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-10 14:44] whedon commented on #132
PDF failed to compile for issue #132 with the following error:
[code]

[2021-09-10 14:44] whedon commented on #132
[code]

[2021-09-10 14:46] jgorzalski commented on #132
@whedon generate pdf from branch AWS_Jose_Paper

[2021-09-10 14:46] whedon commented on #132
[code]

[2021-09-10 14:47] whedon commented on #132
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00132/jose.00132/10.21105.jose.00132.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00132/jose.00132/10.21105.jose.00132.pdf) :page_facing_up: :point_left:

[2021-09-10 16:07] allisonhorst opened #133 "As the reviewer I confirm that I have read the JOSE conflict of interest policy and that there are no conflicts of interest for me to review this work."

[2021-09-10 16:07] whedon commented on #133
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-10 16:07] #133 closed

[2021-09-10 17:20] abhijna commented on #132
@whedon get pdf from branch AWS_JOSE_Paper

[2021-09-10 17:20] whedon commented on #132
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-10 17:31] abhijna commented on #132
@whedon commands

[2021-09-10 17:31] whedon commented on #132
Here are some things you can ask me to do:

[code]

[2021-09-10 17:32] abhijna commented on #132
Suggested reviewers:  Rahul Kulkarni, Jason Williams, Jens Lechtenbörger, Luke Johnston

[2021-09-11 01:20] whedon commented on #129
:wave: @Swanson-Hysell, please update us on how your review is going (this is an automated reminder).

[2021-09-11 06:48] erahulkulkarni commented on #132
Good Day,

Sorry, but I have very little experience in the use of Amazon Web Services.

So in one way, the readability of the documentation should help me get
started with Amazon Web Services.

But since I have little experience I would not be able to suggest other /
better ways of usage.

Please let me know if it would still be okay if I agree to review?

Thanks and Regards,
*Rahul Kulkarni*

On

[2021-09-12 00:03] shanamatthews commented on #130
That seems appropriate!

[2021-09-13 22:18] ShanEllis commented on #128
Hi @pschloss, given your interest in reviewing for JOSE (and previous review - thank you!), I wanted to reach out to see if you'd be interested in contributing a review for this submission? The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". Please let me know if you're available and willing in the next couple of days.

[2021-09-13 22:20] ShanEllis commented on #128
Hi @K8hertweck, it looks like you've signed up previously to review for JOSE, and I think we have a recent submission that's a great fit for you. I wanted to reach out to see if you'd be interested in contributing a review for this submission? The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". Please let me know if yo

[2021-09-14 00:31] jhollist commented on #128
@ShanEllis I am so sorry for not getting back to you on this sooner.  No excuse...  Just forgot.

Unfortunately, I am going to have to pass at this time.  I'd really love to review this, but I am swamped.  Keep me in mind for future submissions.

[2021-09-14 13:45] pschloss commented on #128
Hi - thanks for reaching out. Unfortunately, I've been pretty swamped with
other reviews and projects that I need to tend to.

Pat

On Mon, Sep 13, 2021 at 6:19 PM Shannon Ellis ***@***.***>
wrote:

[2021-09-14 14:29] ShanEllis commented on #128
I have been there, @jhollist. Thanks for the reply, and good luck with all that's on your plate.

[2021-09-14 14:30] ShanEllis commented on #128
other reviews and projects that I need to tend to.

Totally understand, @pschloss! Thanks for the quick reply.

[2021-09-14 18:55] lwjohnst86 commented on #122
Thanks everyone for the reviews, here is what I've done and updated so far.

# @pschloss

* https://gitlab.com/rostools/r-cubed/-/issues/237. I had seen two licenses used before in the context of teaching material, but looking into it more, you're right, I only need the CC-BY. So removed the MIT license.
* https://gitlab.com/rostools/r-cubed/-/issues/238. I added installation/website building inst

[2021-09-15 15:20] whedon commented on #130
:wave: @shanamatthews, please update us on how your review is going (this is an automated reminder).

[2021-09-15 15:20] whedon commented on #130
:wave: @colbrydi, please update us on how your review is going (this is an automated reminder).

[2021-09-15 19:24] colbrydi commented on #130
Hello I completed my review today.  I happen to also be working on a  tutorial for using conda environments in Python using jupyter notebooks and this could not have come at a better time for me.   I learned a lot from your submission and look forward to being able to use and reference it in my own work.  I submitted a couple of issue but they are just recommendations and I feel this is ready for

[2021-09-15 19:32] voytek commented on #121
Checking in again, @krother, @KiCh84

[2021-09-16 19:05] ShanEllis commented on #128
Hi @fmichonneau! I have you down as an interested reviewer for JOSE, and I think we have a recent submission that's a really good fit for you. I wanted to reach out to see if you'd be interested in contributing a review for this submission? The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". Please let me know if you'r

[2021-09-16 19:18] labarba commented on #76
hi @uriSISlab (Nicholas Bernardo) — In an audit of unattended old submissions (we built a backlog during the pandemic), we found your submission from February 2020. My sincere apologies for neglecting to assess your submission, and get back to you! We really dropped the ball here.

In looking through your repository and reading the paper, I do find that this is a fairly small software project (550

[2021-09-16 19:18] labarba commented on #76
@whedon reject

[2021-09-16 19:18] whedon commented on #76
Paper rejected.

[2021-09-16 19:18] #76 closed

[2021-09-16 19:18] lwasser commented on #131
@jgorzalski thank you. A question about licenses- i read through the [JOSE submission requirements](https://jose.theoj.org/about#submitting) and i'm not clear regarding licenses. Right now we have a CC license however we have a Non Commercial and no derivatives version. i'm thinking about moving to a share alike non commercial license but am not sure if that is in scope for JOSE. can you clarify?

[2021-09-16 19:30] labarba commented on #85
Looks like we're in need of a second reviewer here. Julia @jwagemann : might you be able to help us here, either with a review of this submission, or maybe pointing us to someone else who could contribute a review?

[2021-09-16 19:33] labarba commented on #85
@andrewmaclachlan — You signed up to review for JOSE a while back. Would you be available to help us with this submission? "An Applied Geographic Information Systems and Science Course in R" https://github.com/openjournals/jose-reviews/issues/85
Let me know…

[2021-09-16 19:42] labarba commented on #87
Looks like we're short of a reviewer for this submission. Sorry for the delay, @cicirello !

@mattforshaw — You signed to review for JOSE (The Journal of Open Source Education) a while back. Would you be interested in contributing a review for this one?
**Interactive Bin Packing: A Java Application for Learning Constructive Heuristics for Combinatorial Optimization**
[View article proof on GitHub]

[2021-09-16 19:52] labarba commented on #90
hi @howardjp, @jwagemann 👋  — It looks like the author of this JOSE submission made improvements and they are waiting for you to take a second look. Can you let us know when you might be able to do so? Thanks!

[2021-09-16 20:01] jgorzalski commented on #99
@whedon generate PDF

[2021-09-16 20:02] whedon commented on #99
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: :point_left:

[2021-09-16 20:08] cicirello commented on #87
@labarba Delay is understandable, between covid, start of semester for many potential reviewers, etc....

[2021-09-16 20:10] adeepak7 commented on #87
@cicirello @labarba Apologies for the delay from my side as well. After a lot of hurdles, I moved to the U.S. for the first time.

[2021-09-16 20:22] labarba commented on #100
Hi @ConorIA — I emailed the reviewer who we seemed to have lost, back in July, but did not hear back. I've just pinged again. If we don't hear back in a week, I'm afraid that the decision at that point will be to find a new reviewer to replace him. Apologies for the long delays here, but everybody seems to be overwhelmed these days 😞

[2021-09-16 20:24] labarba commented on #100
@jwagemann — You just had **Usage** and **References** unchecked for this review (**Version** is updated at the end). Can you pop in to give us your recommendation on this submission? Just let us know if you are satisfied that this can proceed to publication, or if something is pending.

[2021-09-16 20:29] labarba commented on #104
@GaelVaroquaux — Ha ha, a month has past and we still don't have a second reviewer for this submission! Are you back from holiday? Could you help us out?

[2021-09-16 20:31] jgorzalski commented on #106
@whedon generate pdf

[2021-09-16 20:31] whedon commented on #106
PDF failed to compile for issue #106 with the following error:
[code]

[2021-09-16 20:36] pschloss commented on #122
I'm happy with the changes - nice work @lwjohnst86 !

[2021-09-16 20:37] labarba commented on #106
@whedon query scope

[2021-09-16 20:37] whedon commented on #106
Submission flagged for editorial review.

[2021-09-16 21:16] kyleniemeyer commented on #114
Sorry for my delay here, I lost track of this as summer wrapped up... @nickabattista, are you available to help review this submission?

[2021-09-17 08:19] moorepants commented on #106
@labarba asked me to comment as a topic editor. I agree with Lorena in that this is likely too small of a submission for the journal. There is a single notebook that seems like it would accompany one lab session for students to read and explore and a single assignment for that week or even a half week. The notebook is reusable but the assignment and task sheets are not, as they are presented as PD

[2021-09-17 13:45] labarba commented on #106
@eholzbe — Thank you again for your patience, as the editorial team is regrouping after pandemic-related disruptions. Two more editors have assessed the submission and concur that it does not meet the bar for substantial scholarly contribution, and thus we decided to reject it.

[2021-09-17 13:45] labarba commented on #106
@whedon reject

[2021-09-17 13:46] whedon commented on #106
Paper rejected.

[2021-09-17 13:46] #106 closed

[2021-09-17 15:20] andrewmaclachlan commented on #85
Hi @labarba, that's actually my submission so I can't be of much help.

[2021-09-17 16:04] jgorzalski commented on #132
Hello @abhijna! Sorry for the slow reply, we've been a little backlogged at JOSE due to the pandemic and are trying to keep up with everything. I've read through your paper and I need a little clarification before we move this forward. At JOSE we are looking to publish modules and course lessons with their own objectives and activities that could be taught over three to five weeks of a semester. I

[2021-09-17 17:46] ConorIA commented on #100
Thank you @labarba. As I mentioned earlier, I have addressed comments from @jwagemann in a separate branch. The commits are in this branch: https://gitlab.com/claut/man_ccia/-/tree/jose_review
and are rendered at https://gitlab.com/claut/man_ccia/-/jobs/artifacts/jose_review/file/public/index.html?job=test.

Hopefully that should be enough for @jwagemann to complete their review or suggest any add

[2021-09-17 19:26] ConorIA commented on #100
@labarba, we would like to suggest @JeremyFyke as an additional or replacement reviewer. I've reached out to Jeremy who has confirmed that he would be happy to review.

[2021-09-17 22:29] labarba commented on #100
hi @JeremyFyke 👋  — Would you be interested in contributing a review for The Journal of Open Source Education? The submission is titled "A narrative approach to building computational capacity for climate change impact assessment in professional masters students" and here is a link to the paper preprint on [PDF](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.0

[2021-09-17 22:39] labarba commented on #85
Ha ha, that shows how much I'm struggling. I totally missed it—and this is the _second_ time that I make the mistake of pinging the author for a review! I guess at least my matching of interest and field of expertise is working ok? 🤷‍♀️
Try, try again!

[2021-09-17 23:12] JeremyFyke commented on #100
Yes!

[2021-09-18 22:23] labarba commented on #100
Thank you, Jeremy! I will now add you as a reviewer, and create a review checklist for you at the top of this thread. Have a look at our documentation about [Reviewing for JOSE](https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html#reviewing-for-jose), and of course, you can ask me anything right here.

[2021-09-18 22:23] labarba commented on #100
@whedon add @JeremyFyke as reviewer

[2021-09-18 22:23] whedon commented on #100
OK, @JeremyFyke is now a reviewer

[2021-09-20 00:40] abhijna commented on #132
Hello @jgorzalski, that is correct. We offer a 2-hour, one-time virtual lesson that provides a hands-on introduction to configuring, launching, and connecting to an AWS instance. The lesson is intended for novice users who wish to learn about AWS (and cloud computing) without the commitment of a semester-long course. Our workshops are widely successful and attract diverse audiences (e.g. professor

[2021-09-20 00:46] abhijna commented on #132
@erahulkulkarni, thank you for your response. Anyone who has knowledge of bioinformatics, computational biology, data analysis, remote computing, and/or curriculum development might find our manuscript interesting and be a valuable reviewer.

[2021-09-20 16:53] shanamatthews commented on #130
I also think this submission is ready for publication. I've signed off on all the review criteria, but would love to see more explicit info on how external folks can adapt the training in the wiki page, as mentioned.

[2021-09-20 16:59] marisalim commented on #130
Thank you @shanamatthews and @colbrydi! We are discussing your feedback and suggestions and will update the materials shortly!

[2021-09-20 20:32] JasonJWilliamsNY commented on #122
Great - @fmichonneau can you confirm your opinion of the work done?

[2021-09-21 05:41] jwagemann commented on #100
Hi,
I'll have a look at it next weekend and give my recommendation.

[2021-09-21 08:52] fmichonneau commented on #122
yes, I'm all good with @lwjohnst86 changes. Thank you, this looks like an excellent training.

[2021-09-21 09:37] fmichonneau commented on #128
Hi @ShanEllis Thanks for the invitation but I think my affiliation with The Carpentries creates a conflict of interest for this submission.

[2021-09-22 03:19] allisonhorst commented on #130
Thank you so much for your prompt review and feedback @shanamatthews and @colbrydi!

@marisalim please let me know if you have any questions that I can help with as your update your materials.

[2021-09-22 15:32] JasonJWilliamsNY commented on #119
@whedon add @lechten as reviewer

[2021-09-22 15:33] JasonJWilliamsNY commented on #119
Thanks @lechten for agreeing to review - once we find more reviewer @bnwolford we will begin the review.

[2021-09-22 15:55] ShanEllis commented on #128
Hi @gvdr! I have you down as an interested reviewer for JOSE, and I think we have a recent submission that's a good fit for you. I wanted to reach out to see if you'd be interested in contributing a review for this submission? The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". Please let me know if you're available an

[2021-09-23 19:06] JasonJWilliamsNY commented on #122
Great, thanks @fmichonneau

[2021-09-23 19:07] JasonJWilliamsNY commented on #122
@whedon generate pdf

[2021-09-23 19:08] whedon commented on #122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00122/jose.00122/10.21105.jose.00122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00122/jose.00122/10.21105.jose.00122.pdf) :page_facing_up: :point_left:

[2021-09-23 19:57] labarba commented on #119
@whedon assign @lechten as reviewer

[2021-09-23 19:58] whedon commented on #119
OK, @lechten is now a reviewer

[2021-09-23 20:15] JasonJWilliamsNY commented on #122
@lwjohnst86 I am uploading an annotated PDF with some very very minor suggestions for grammar/word choice. I hoped that this is easier than submitting a PR and having me erroneously added to the Githistory as a contributor. We'll see if this works. Let me know. [https://data.cyverse.org/dav-anon/iplant/home/williams/shared_materials/10.21105.jose.00122_comments.pdf
](url)

[2021-09-23 20:17] JasonJWilliamsNY commented on #122
Once you are happy @lwjohnst86 your next step is to go ahead and archive on Zenodo and mint a DOI. Let me know if you need any help on that.

[2021-09-23 20:20] labarba commented on #122
* and issue a tagged release on the repository

[2021-09-24 19:51] whedon opened #134 "[PRE REVIEW]: YAPTT - Yet Another PThread Tutorial"
**Submitting author:** @gradvohl (<a href="http://orcid.org/0000-0002-6520-9740">André Gradvohl</a>)
**Repository:** <a href="https://github.com/gradvohl/YAPTT" target ="_blank">https://github.com/gradvohl/YAPTT</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Jordan Gorzalski

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-09-24 19:51] whedon commented on #134
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-24 19:52] whedon commented on #134
Wordcount for `paper.md` is 838

[2021-09-24 19:52] whedon commented on #134
[code]

[2021-09-24 19:52] whedon commented on #134
[code]

[2021-09-24 19:52] whedon commented on #134
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00134/jose.00134/10.21105.jose.00134.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00134/jose.00134/10.21105.jose.00134.pdf) :page_facing_up: :point_left:

[2021-09-24 20:59] hernanrr opened #135 "Authorship: Has the submitting author (@amoodie) made substantial contributions to the software? Does the full list of paper authors seem appropriate and complete?"

[2021-09-24 20:59] whedon commented on #135
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-24 20:59] #135 closed

[2021-09-24 21:54] hernanrr commented on #129
Minor installation issue: https://github.com/sededu/rivers2stratigraphy/issues/32#issue-1006850569

[2021-09-24 22:52] gradvohl commented on #134
Some suggestions for potential reviewers are:
- Abram Connelly
- Deepak Tatyaji Ahire
- James Schloss
- Rahul Kulkarni

[2021-09-30 09:41] lechten commented on #119
Just to be sure: I also wait for the second reviewer, correct?

[2021-09-30 10:52] lwjohnst86 commented on #122
Done! Here's the new tagged release: https://gitlab.com/rostools/r-cubed/-/releases/v4.0 and the zenodo DOI: 10.5281/zenodo.5541345

[2021-09-30 16:45] whedon opened #136 "[PRE REVIEW]: Computational models of human social behavior and neuroscience: An open educational course and Jupyter Book to advance computational training"
**Submitting author:** @shawnrhoads (<a href="http://orcid.org/0000-0003-1350-9458">Shawn A. Rhoads</a>)
**Repository:** <a href="https://github.com/shawnrhoads/gu-psyc-347" target ="_blank">https://github.com/shawnrhoads/gu-psyc-347</a>
**Version:** v1.0.0
**Editor:** @emckiernan
**Reviewers:** @arokem, @djmannion
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mode :warning:

[2021-09-30 16:45] whedon commented on #136
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 16:46] whedon commented on #136
Wordcount for `paper.md` is 1668

[2021-09-30 16:46] whedon commented on #136
[code]

[2021-09-30 16:46] whedon commented on #136
[code]

[2021-09-30 16:46] whedon commented on #136
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00136/jose.00136/10.21105.jose.00136.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00136/jose.00136/10.21105.jose.00136.pdf) :page_facing_up: :point_left:

[2021-09-30 17:01] shawnrhoads commented on #136
Thank you! I have added the DOI [referenced above](https://github.com/openjournals/jose-reviews/issues/136#issuecomment-931490754) with [this PR](https://github.com/shawnrhoads/gu-psyc-347/pull/179)

@whedon generate pdf

[2021-09-30 17:07] shawnrhoads commented on #136
@whedon generate pdf

[2021-09-30 17:08] whedon commented on #136
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00136/jose.00136/10.21105.jose.00136.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00136/jose.00136/10.21105.jose.00136.pdf) :page_facing_up: :point_left:

[2021-09-30 17:13] shawnrhoads commented on #136
Suggested reviewers listed in [Google sheet](https://docs.google.com/spreadsheets/d/1gQ_KZnJx-lyJwiuHBp9rE6b2ugMkJZzigvt4QLQHCH8/edit#gid=0):
- [Tom Donoghue](https://github.com/TomDonoghue)
- [Ariel Rokem](https://github.com/arokem)

Other potential reviewers not listed in Google sheet:
- [Lei Zhang](https://github.com/lei-zhang)
- [Jo Cutler](https://github.com/jocutler)
- [Junaid Merchant](http

[2021-09-30 20:51] ThomasA commented on #119
I can offer to review. I have taught Python for Scientific Computing at Aalborg University for several years.

[2021-10-01 00:03] ShanEllis commented on #128
Hi @karthik! I'm sure you're super busy (which is why I've held off thus far on bugging you for this), but I've been struggling to pin down reviewers. **Any chance you have time for a JOSE review?** The title is "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples". I believe you've reviewed for JOSE before, so you know that the paper

[2021-10-01 00:22] labarba commented on #128
I noticed on the paper it says these materials have been used in a number of university and college courses. Why not find someone among the instructors of those courses to act as reviewers? They would already have read the material and had direct experience teaching with them, perhaps finding areas that need improvement. I don't see that there would be any reason to think adopting the materials ra

[2021-10-01 12:53] whedon opened #137 "[PRE REVIEW]: react-simplified: an easy to use JavaScript UI library with automatic state and property management"
**Submitting author:** @eidheim (<a href="http://orcid.org/0000-0001-5355-6326">Ole Christian Eidheim</a>)
**Repository:** https://gitlab.com/eidheim/react-simplified
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.3
**Editor:** @labarba
**Reviewers:** Pending
**Managing EiC:** Jordan Gorzalski

## Status

[![status](https://jose.theoj.org/papers/20cdc6984f7d9f8b842a721e98c89

[2021-10-01 12:53] whedon commented on #137
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 12:53] whedon commented on #137
Wordcount for `paper.md` is 1177

[2021-10-01 12:53] whedon commented on #137
[code]

[2021-10-01 12:53] whedon commented on #137
[code]

[2021-10-01 12:53] whedon commented on #137
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00137/jose.00137/10.21105.jose.00137.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00137/jose.00137/10.21105.jose.00137.pdf) :page_facing_up: :point_left:

[2021-10-01 13:45] labarba commented on #67
@ctdegroot — We are ready to publish your JOSE paper, but we need your last tasks, above! Let us know what you plan to do.

[2021-10-01 13:56] labarba commented on #124
hi @anaiy2004 👋
Thank you for your submission to JOSE. I've had a look at it, and the core of it seems to be a package that acts as wrapper code to use external machine learning frameworks. At just over 800 lines of Python, and its wrapper functionality, this would not pass the bar for independent publication. Your project sounds very interesting, though. I see that you have a number of Jupyter no

[2021-10-01 13:56] labarba commented on #124
@whedon query scope

[2021-10-01 13:56] whedon commented on #124
Submission flagged for editorial review.

[2021-10-01 14:06] labarba commented on #121
@whedon check repository

[2021-10-01 14:06] whedon commented on #121
Wordcount for `paper.md` is 1030

[2021-10-01 14:06] whedon commented on #121
[code]

[2021-10-01 14:08] labarba commented on #121
@openjournals/dev — hi folks! I'm a little confused about the stats on this repo. What does it mean when the stats list 24k lines under "comment" for Jupyter Notebook? The repo has a lot of material that is not picked up by the stats tool?

[2021-10-01 14:34] labarba commented on #130
Hi everybody! 👋

I see that this submission targets a short tutorial on virtual environments and conda that is a slice of a repository hosting lots of other teaching materials:
https://github.com/nih-cfde/training-and-engagement/tree/dev/docs/General-Tools/Introduction-to-Conda

In addition, the same group is submitting for review another slice of the collection of materials, targeting an introduc

[2021-10-01 14:38] labarba commented on #130
@whedon query scope

[2021-10-01 14:38] whedon commented on #130
Submission flagged for editorial review.

[2021-10-01 14:39] labarba commented on #132
@whedon query scope

[2021-10-01 14:39] whedon commented on #132
Submission flagged for editorial review.

[2021-10-01 14:58] labarba commented on #131
@whedon assign me as editor

[2021-10-01 14:58] whedon commented on #131
OK, the editor is @labarba

[2021-10-01 14:59] arfon commented on #121
It looks like `cloc` is detecting 29 notebooks which seems about right. As for the actual LOC within, it's entirely possible that this tool doesn't know how to calculate LOC properly (i.e., is getting confused about what is code in a notebook).

Is there other material that you think it should be detecting?

[2021-10-01 14:59] ctb commented on #130
hi @labarba,

I suppose it could look like that, but we've offered these workshops separately and assessed them separately, which is reflected in the papers. They can be reused and offered separately, and are on (quite) different topics.

Also, maybe I am mistaken, but we were already pressed for space given the length restrictions (and reviewers asked for more). I'm not quite sure how we can do t

[2021-10-01 15:11] labarba commented on #121
I don't know! It just threw me off when I looked at the `loc` and saw a small-ish number, then pulled the repo and saw all those Jupyter notebooks with code and all.

[2021-10-01 15:12] xuanxu commented on #121
I suspect the tool is counting as 'Comments' every [cell](https://raw.githubusercontent.com/DataScienceInPractice/Site/main/dsip/tutorials/10-Distributions.ipynb) in the notebooks with `cell_type: "markdown"` (as opposed to `cell_type: code`)

[2021-10-01 17:22] ShanEllis commented on #128
That's a good idea, @labarba. I wasn't sure if there was a COI issue there, but if you and @ethanwhite think that's a  possibility, I'll go ahead with that!

Also, we do have one reviewer on board now! I'll add @smwindecker to the official review issue once we find our second (unless you say otherwise, @labarba!)

[2021-10-01 18:16] karthik commented on #128
Thanks for thinking of me. I'm out on family leave at the moment and am not taking on new reviews till the end of the year. Good luck with your reviewer search.

[2021-10-01 20:02] labarba commented on #128
Yes, you add the reviewers here, in the Pre-review issue. Go ahead and run `@whedon assign <user> as reviewer` here for the first reviewer, then `@whedon add <user> as reviewer` for the second, then `@whedon start review` 😄

[2021-10-01 20:16] ethanwhite commented on #128
I agree that folks who have used this material in their courses could be good reviewers. Of the courses on that list the only folks I'm aware of who have conflicts of interest are the University of Florida folks (institutional conflicts + one of them is an author on the paper).

One person on that list that comes to mind as a possibility is catherinehulshof.

[2021-10-01 20:50] ctdegroot commented on #67
@labarba Sorry, this came back to me at a really bad time, with a newborn at home and taking several months off work. I know there’s not a lot left to do, but given the lag time I want to review carefully the comments and make sure I properly take them into account rather than rush to tick the boxes - since the reviewers clearly took their time to give a quality review. That said, things are looki

[2021-10-01 22:03] labarba commented on #67
Great to hear from you, @ctdegroot — and congratulations on the new 👶
Ping here when you are ready to proceed with the publication. Cheers!

[2021-10-01 23:28] labarba commented on #130
I noticed the situation upon seeing the new submission come in
https://github.com/openjournals/jose-reviews/issues/132
...and realizing it had the same target repository as this one.

A 2-hr workshop is on the small side for what we view as a "minimum publishable unit," comparing the scholarly effort to a research paper. We want to be sure that a JOSE paper is respected in the authors' track recor

[2021-10-01 23:35] ShanEllis commented on #128
@whedon assign @smwindecker as reviewer

[2021-10-01 23:35] whedon commented on #128
OK, @smwindecker is now a reviewer

[2021-10-01 23:36] ShanEllis commented on #128
Excellent. Thank you, @ethanwhite. I will reach out to to this end, keeping the exceptions you noted in mind. I appreciate it!

[2021-10-01 23:39] ShanEllis commented on #128
Hi @catherinehulshof! Reaching out to see if you're interested and able to review a submission to JOSE (Journal of Open Source Education) titled "Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples".  I believe you are familiar with these materials, making you a good fit for the review and hopefully making the review process shorter f

[2021-10-02 00:15] labarba commented on #119
Thank you, @ThomasA, for volunteering to review!

@JasonJWilliamsNY — that gets you to two reviewers, and moves this to review. Allow me to take those steps for you tonight.

[2021-10-02 00:16] labarba commented on #119
@whedon add @ThomasA as reviewer

[2021-10-02 00:16] whedon commented on #119
OK, @ThomasA is now a reviewer

[2021-10-02 00:16] labarba commented on #119
@whedon start review

[2021-10-02 00:16] whedon opened #138 "[REVIEW]: Teaching Python for Data Science: Collaborative development of a modular & interactive curriculum"
**Submitting author:** @bnwolford (<a href="http://orcid.org/0000-0003-3153-1552">Brooke N. Wolford</a>)
**Repository:** <a href="https://github.com/GWC-DCMB/curriculum-notebooks/" target ="_blank">https://github.com/GWC-DCMB/curriculum-notebooks/</a>
**Version:** v1.0.0
**Editor:** @JasonJWilliamsNY
**Reviewer:** @lechten, @ThomasA
**Archive:** <a href="https://doi.org/10.5281/zenodo.5776898" tar

[2021-10-02 00:16] whedon commented on #119
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/138.

[2021-10-02 00:16] #119 closed

[2021-10-02 00:16] whedon commented on #138
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lechten, @ThomasA it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-10-02 00:16] whedon commented on #138
Wordcount for `paper.md` is 3748

[2021-10-02 00:16] whedon commented on #138
[code]

[2021-10-02 00:17] whedon commented on #138
[code]

[2021-10-02 00:17] whedon commented on #138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: :point_left:

[2021-10-02 00:17] catherinehulshof commented on #128
Dear Shannon,

I would be interested and am familiar with the materials after learning
more about the review process. What are the review criteria/format, etc?

Cheers,

Catherine

______________________________________________
Catherine M. Hulshof, PhD (she/her: why I use pronouns
<https://www.mypronouns.org/what-and-why>)
Environmental Data Science
Department of Biology
Virginia Commonwealth Uni

[2021-10-04 19:04] lwjohnst86 commented on #122
@JasonJWilliamsNY doh, I didn't even see your comment about the annotated pdf :man_facepalming: Sorry, I'll update the paper, make another release and DOI, and ping you here.

[2021-10-04 19:09] JasonJWilliamsNY commented on #122
Lol, thought you made and just changed labels. Just update again and I will move forward.

[2021-10-04 19:32] catherinehulshof commented on #128
Hi Shannon,

I'd be happy to provide a review within the next several weeks.

Catherine

______________________________________________
Catherine M. Hulshof, PhD (she/her: why I use pronouns
<https://www.mypronouns.org/what-and-why>)
Environmental Data Science
Department of Biology
Virginia Commonwealth University
Richmond, VA, 23284
https://www.biodiversityresearchlab.com

On Mon, Oct 4, 2021 at

[2021-10-04 19:52] ShanEllis commented on #128
@whedon add @catherinehulshof as reviewer

[2021-10-04 19:52] whedon commented on #128
OK, @catherinehulshof is now a reviewer

[2021-10-04 19:53] ShanEllis commented on #128
@whedon start review

[2021-10-04 19:53] whedon opened #139 "[REVIEW]: Data Carpentry for Biologists: A semester long Data Carpentry course using ecological and other biological examples"
**Submitting author:** @ethanwhite (<a href="http://orcid.org/0000-0001-6728-7745">Ethan P. White</a>)
**Repository:** <a href="https://github.com/datacarpentry/semester-biology/" target ="_blank">https://github.com/datacarpentry/semester-biology/</a>
**Version:** v4.2.0
**Editor:** @ShanEllis
**Reviewer:** @smwindecker, @catherinehulshof
**Archive:** <a href="https://doi.org/10.5281/zenodo.582192

[2021-10-04 19:53] whedon commented on #128
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/139.

[2021-10-04 19:53] #128 closed

[2021-10-04 19:53] whedon commented on #139
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @smwindecker, @catherinehulshof it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-10-04 19:53] whedon commented on #139
[code]

[2021-10-04 19:53] whedon commented on #139
Wordcount for `paper.md` is 2151

[2021-10-04 19:54] whedon commented on #139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00139/jose.00139/10.21105.jose.00139.pdf) :page_facing_up: :point_left:

[2021-10-04 19:54] whedon commented on #139
[code]

[2021-10-04 20:45] lwjohnst86 commented on #122
Fixed! DOI now: 10.5281/zenodo.5548398 and version 4.1 released: https://gitlab.com/rostools/r-cubed/-/releases/v4.1

[2021-10-04 22:36] labarba commented on #130
After talking with friends over at JOSS, I found that we discussed at length the "big code repo / paper covering a submodule" situation, and we untangled it so it's a non-issue. Here is the conversation  about that: https://github.com/openjournals/joss/issues/443

**Highlights**:
- different papers that present sub-modules or ring-fenced new functionality for review (that's for JOSS), where the so

[2021-10-05 13:53] JasonJWilliamsNY commented on #122
@whedon set 10.5281/zenodo.5548398 as archive

[2021-10-05 13:53] whedon commented on #122
OK. <a href="https://doi.org/10.5281/zenodo.5548398" target="_blank">10.5281/zenodo.5548398</a> is the archive.

[2021-10-05 13:55] JasonJWilliamsNY commented on #122
@whedon recommend-accept

[2021-10-05 13:55] whedon commented on #122
[code]

[2021-10-05 13:55] whedon commented on #122
[code]

[2021-10-05 13:55] whedon commented on #122
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/65

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/65, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-05 19:01] jgorzalski commented on #85
@whedon assign @darribas as reviewer

[2021-10-05 19:01] whedon commented on #85
OK, @darribas is now a reviewer

[2021-10-05 19:15] labarba commented on #118
hi @thartbm 👋
What would be your timeline to attend to this revision? We haven't heard from you since July, and if you think you cannot get to this in the next few weeks, we should put a `paused` label on it. Let us know!

[2021-10-05 19:20] labarba commented on #87
@whedon add @turketwh as reviewer

[2021-10-05 19:20] whedon commented on #87
OK, @turketwh is now a reviewer

[2021-10-05 19:21] labarba commented on #87
Thank you @adeepak7 and @turketwh for agreeing to review this JOSE submission! I will now start the review, which will happen in a new GitHub issue. You will have a review checklist there. Be sure to accept the invitation you will receive from GitHub, which will open your permissions to edit on the checklist. 🙏

[2021-10-05 19:22] labarba commented on #87
@whedon start review

[2021-10-05 19:22] whedon opened #140 "[REVIEW]: Interactive Bin Packing: A Java Application for Learning Constructive Heuristics for Combinatorial Optimization"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** <a href="https://github.com/cicirello/InteractiveBinPacking" target ="_blank">https://github.com/cicirello/InteractiveBinPacking</a>
**Version:** v3.1.1
**Editor:** @labarba
**Reviewers:** @turketwh
**Archive:** <a href="https://doi.org/10.5281/zenodo.6402123" target="_blank">

[2021-10-05 19:22] whedon commented on #87
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/140.

[2021-10-05 19:22] #87 closed

[2021-10-05 19:22] whedon commented on #140
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adeepak7, @turketwh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-10-05 19:22] whedon commented on #140
Wordcount for `paper.md` is 976

[2021-10-05 19:22] whedon commented on #140
[code]

[2021-10-05 19:22] whedon commented on #140
[code]

[2021-10-05 19:22] whedon commented on #140
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00140/jose.00140/10.21105.jose.00140.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00140/jose.00140/10.21105.jose.00140.pdf) :page_facing_up: :point_left:

[2021-10-05 19:32] labarba commented on #140
@adeepak7, @turketwh — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. If you do, be sure to include a link to this Review issue, so a cross-link will be created.
Godspeed! 🚀

[2021-10-05 20:26] thartbm commented on #118
Thanks! We've wound down last summer's work, decided on the revisions and just started implementing them. After changes, I need to have it checked again (there are many, many people involved) but I think we should have an improved version relatively soon.

Can you help with how to set versions? Is that a Whedon command or something I need our GitHub people to set?

[2021-10-06 15:06] JasonJWilliamsNY commented on #138
@whedon remind @lechten  in 2 weeks
@whedon remind @ThomasA in 2 weeks

[2021-10-06 15:06] whedon commented on #138
Reminder set for @lechten  in 2 weeks

[2021-10-06 15:06] whedon commented on #138
Reminder set for @ThomasA in 2 weeks

[2021-10-06 23:28] whedon commented on #85
OK, tbeuzen is now a reviewer

[2021-10-06 23:32] whedon opened #141 "[REVIEW]: An Applied Geographic Information Systems and Science Course in R"
**Submitting author:** @andrewmaclachlan (<a href="http://orcid.org/0000-0003-0356-1623">Andrew MacLachlan</a>)
**Repository:** <a href="https://github.com/andrewmaclachlan/CASA0005repo" target ="_blank">https://github.com/andrewmaclachlan/CASA0005repo</a>
**Version:** 3.0
**Editor:** @ttimbers
**Reviewer:** @TomasBeuzen @darribas
**Archive:** <a href="https://doi.org/10.5281/zenodo.6375745" targe

[2021-10-06 23:32] whedon commented on #85
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/141.

[2021-10-06 23:32] #85 closed

[2021-10-06 23:32] whedon commented on #141
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tbeuzen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2021-10-06 23:34] ttimbers commented on #141
## Reviewer instructions & questions

@darribas , please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/jose-reviews/invitations

The reviewer guidelines are available here: https://joss.readthedocs.io/en/la

[2021-10-06 23:34] ttimbers commented on #141
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @darribas it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-10-07 14:59] labarba commented on #137
hi @eidheim — I've added a scope query flag on this submission. It looks like a fairly small wrapper to simplify parts of the web-development workflow. The paper also does not justify the use of this tool in teaching. It's unclear that this is a good fit for JOSE. Can you clarify how you view this as in-scope for JOSE?

[2021-10-08 08:13] lechten opened #142 "License: Does the repository contain a plain-text LICENSE file with the contents of a standard license? (OSI-approved for code, Creative Commons for content)"

[2021-10-08 08:13] #142 closed, assigned to nobody

[2021-10-09 13:02] lwjohnst86 commented on #122
@labarba done! I only needed to update the title since the author list is the same order as the paper.

[2021-10-09 19:21] labarba commented on #122
@whedon accept deposit=true

[2021-10-09 19:21] whedon commented on #122
[code]

[2021-10-09 19:22] whedon commented on #122
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/66
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00122](https://doi.org/10.21105/jose.00122)
2. If everything looks

[2021-10-09 19:22] labarba commented on #122
@lwjohnst86 — I just read your paper and browsed the materials, and this is a wonderful example of what JOSE founders had in mind when starting this journal. Nice work!

[2021-10-09 19:23] whedon commented on #122
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00122/status.svg)](https://doi.org/10.21105/jose.00122)

**We need your help!**

Journal of Open Source Educat

[2021-10-09 21:14] ttimbers commented on #117
hi @zdelrosario 👋

Checking in to ask you about your timeline to address the feedback with a revision? If you think you cannot get to this in the next few weeks, we should put a paused label on it. Let us know! Many thanks!

[2021-10-11 16:15] atrisovic commented on #90
Hi @labarba 👋 , our reviewers don't seem to be active any more. Can we look for new reviewers? Maybe one of these people @/ali-ramadhan, @/marda-science, @/angela-li, @/leouieda can help? :)

[2021-10-11 18:09] whedon opened #143 "[REVIEW]: ApplNumComp: An Open Access Introductory Course for Applied Numerical Computing"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** https://github.com/ashleefv/ApplNumComp
**Branch with paper.md** (empty if default branch):
**Version:** v2.0
**Editor:** @kyleniemeyer
**Reviewers:** @sconde, @ThomasA
**Archive:** 10.5281/zenodo.15313369

## Status

[![status](https://jose.theoj.org/papers/c94d50fd10727c68

[2021-10-11 18:09] whedon commented on #143
[code]

[2021-10-11 18:10] kyleniemeyer commented on #143
👋 @ashleefv @sconde, @ThomasA the actual review will take place in this issue. Thanks!

[2021-10-12 17:20] pschloss commented on #116
Hey @magsol  - curious if we can do anything to help identify a second reviewer?

[2021-10-12 20:07] whedon opened #144 "[REVIEW]: Developing and deploying an integrated workshop curriculum teaching computational skills for reproducible research"
**Submitting author:** @pschloss (<a href="http://orcid.org/0000-0002-6935-4275">Patrick D Schloss</a>)
**Repository:** <a href="https://github.com/UMCarpentries/intro-curriculum-r/" target ="_blank">https://github.com/UMCarpentries/intro-curriculum-r/</a>
**Version:** v1.0.0
**Editor:** @magsol
**Reviewer:** @kdillmcfarland, @tracykteal
**Archive:** <a href="https://doi.org/10.5281/zenodo.5812479

[2021-10-12 20:09] magsol commented on #121
Hi @KiCh84! 👋 We'd like to get this review wrapped up. Is there anything you need to finish your review?

[2021-10-13 11:30] khakhalin commented on #104
Hi Lorena! I'm super-sorry, but I'm still totally under with paperwork and
all the new responsibilities. And also the paper is still not at all close
to anything I ever did before. I'd had to learn a new field to review it,
or at least build some basic idea about it, and I simply don't have time
for this now, even though it is of course very interesting. I'm really
sorry, but I don't think I can h

[2021-10-13 17:18] zdelrosario commented on #117
Hi @ttimbers !

Yes, a pause would be best. I got a lot of really great feedback from the reviewers, but I have a heavy teaching responsibility right now. I'm hoping to get back to this sometime after my Fall semester.

[2021-10-13 19:54] catherinehulshof opened #145 "Instructional design: Is the instructional design deliberate and apparent? For example, exploit worked-example effects; effective multi-media use; low extraneous cognitive load."

[2021-10-14 12:47] BrunaPavlack commented on #112
Hi! I hope you are all well! Would you like to know how the review of the paper is progressing? Thank you in advance for any information!

[2021-10-14 13:51] labarba commented on #67
@ctdegroot hi! 👋  — could you give us an update on the final steps? Let's get this through the finish line! We can also set a reminder here with `@whedon`.

[2021-10-14 14:23] labarba commented on #118
The DOI of this paper, when accepted and published, is already known. Your paper would resolve from `https://doi.org/10.21105/jose.00118` (the DOI is formed with the Review issue number).

[2021-10-14 14:29] labarba commented on #134
@whedon query scope

[2021-10-14 14:30] whedon commented on #134
Submission flagged for editorial review.

[2021-10-14 15:46] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2021-10-14 19:14] krother commented on #121
@magsol I created a couple of issues in the repository yet. The two related to the checkboxes are: the lack of a version number (not a big deal on my end). The other is that there are two different licenses in the repo and the paper, I believe this needs to be fixed.

[2021-10-14 20:05] whedon commented on #136
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-14 20:06] emckiernan commented on #136
@whedon assign @emckiernan as editor

[2021-10-14 22:21] whedon commented on #131
Wordcount for `paper.md` is 1264

[2021-10-14 22:23] lwasser commented on #131
@whedon generate pdf
@whedon check references
@labarba i've updated the license file and the paper. i'm trying to get whedon to check things now. please let me know if you need anything else.

[2021-10-16 01:31] magsol commented on #112
Hi @BrunaPavlack! I'm so sorry this has been taking awhile, but I've been having a lot of trouble finding reviewers. I've been emailing potential reviewers offline, and so far have contacted 4 and had 4 subsequent declines :( I'm still following up on some additional reviewer leads, and if you have any suggestions for people who could potentially review your submission I'd be happy to hear them!

[2021-10-16 21:16] labarba commented on #140
Hi  @adeepak7, @turketwh — do you have any questions about how the JOSE review process works? Feel free to ask me here.

@adeepak7 — I see you've not gotten a start yet. If you could pop in here and check off the first few items in your checklist, that'll tell me you're still with us on this! 🙏

[2021-10-17 05:11] TomasBeuzen commented on #141
@ttimbers - I can't tick the check-boxes above, presumably because I didn't accept the invite in time and now the link has expired 😄 I'm keeping a copy of the checklist below for now, but can remove it once we figure out the issue.

@andrewmaclachlan - firstly, excellent work putting together this course. I can see that a lot of hard-work went into creating this content and I think it's an excelle

[2021-10-17 13:52] lechten commented on #138
The review process is ongoing. I opened some issues, out of which 2 are still open.

[2021-10-17 14:19] csev commented on #137
hi @eidheim 0 I also took a look at this paper - I like where it is going but also feel the scope is too narrow.  It talks about react in general, state management in general, and the general problem this is solving.  And it feels like it is based on good underlying work.  Some suggestions to make this more of a paper and less of an announcement of a github repository would be to (a) talk about ad

[2021-10-17 15:10] JeremyFyke commented on #100
Hi @labarba - where can I find the checklist you created?   Also, I get this message upon trying to accept the invite to review: `Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.`

[2021-10-17 15:31] JeremyFyke commented on #100
Aha, I've found the checklist, but don't seem to have edit permissions (perhaps due to revoked invitation..?)

[2021-10-17 15:38] whedon commented on #100
OK, the reviewer has been re-invited.

@jeremyfyke please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-10-17 16:46] ConorIA commented on #100
Thanks for reviewing @JeremyFyke! Just wanted to drop a link to the version of the manual that has already incorporated changes from @jwagemann. Just in case you want to cross reference between the main branch and the jose_review branch.

https://gitlab.com/claut/man_ccia/-/merge_requests/9

[2021-10-18 19:27] JeremyFyke commented on #100
Hi @ConorIA @labarba I've completed my review of this (great) resource.  You can find general and specific comments here: https://gitlab.com/claut/man_ccia/-/issues/12.  In general, my comments are of the 'accepted pending minor revisions' magnitude.  Well done on a really neat and needed tool!

[2021-10-18 19:53] whedon commented on #139
:wave: @smwindecker, please update us on how your review is going (this is an automated reminder).

[2021-10-19 16:22] arokem commented on #136
@emckiernan : apologies for the slowness. I can take this.

[2021-10-19 16:27] whedon commented on #136
OK, @arokem is now a reviewer

[2021-10-19 18:43] labarba commented on #132
@whedon generate pdf from branch AWS_JOSE_Paper

[2021-10-19 18:43] whedon commented on #132
[code]

[2021-10-19 18:45] whedon commented on #132
[code]

[2021-10-19 18:52] whedon commented on #132
@willingc has been invited to edit this submission.

[2021-10-19 19:05] labarba commented on #104
hi @muellerzr 👋 — Would you consider volunteering a review for JOSE? (The Journal of Open Source Education, sibling journal to JOSS). I already have one reviewer, but need a second to start the review.
Submission title: **"Auto-eD: A visual learning tool for automatic differentiation"**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21105.j

[2021-10-19 22:42] whedon opened #146 "[REVIEW]: Computational models of human social behavior and neuroscience: An open educational course and Jupyter Book to advance computational training"
**Submitting author:** @shawnrhoads (<a href="http://orcid.org/0000-0003-1350-9458">Shawn A. Rhoads</a>)
**Repository:** <a href="https://github.com/shawnrhoads/gu-psyc-347" target ="_blank">https://github.com/shawnrhoads/gu-psyc-347</a>
**Version:** v1.1.0
**Editor:** @emckiernan
**Reviewer:** @arokem, @djmannion
**Archive:** <a href="https://doi.org/10.5281/zenodo.5907205" target="_blank">10.528

[2021-10-19 22:42] #136 closed, assigned to arokem, djmannion, emckiernan

[2021-10-19 22:42] whedon commented on #146
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem, @djmannion it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-10-19 22:42] whedon commented on #146
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00146/jose.00146/10.21105.jose.00146.pdf) :page_facing_up: :point_left:

[2021-10-19 22:44] emckiernan commented on #146
Hi @arokem and @djmannion: Thank you for agreeing to review for JOSE! There are individual checklists for you both at the top of this issue. Please work your way through those, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. I'm here to help, so please let me know if you need anything. Thanks!

[2021-10-20 00:07] whedon commented on #140
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-20 00:11] labarba commented on #140
@adeepak7 — Feel free to ask me any questions right here!

And by the way `@whedon` is our editorial bot, and only knows to reply to certain commands 😄

[2021-10-20 11:37] smwindecker commented on #139
Hi all,

I commend the authors on a wonderful resource for teaching. We recently began discussions here in Australia about consolidated teaching resources that very much match this tool. I will bring this model to my colleagues with pleasure.

My favourite parts of the work are the clear navigation between pages, the look and content in the schedule page, and the customisability. It strikes me as

[2021-10-20 16:29] shawnrhoads commented on #146
@arokem, thanks for pointing this out! I just changed the repo settings to display the release version. Does it look right, now? https://github.com/shawnrhoads/gu-psyc-347

[2021-10-20 19:27] thartbm commented on #118
@whedon generate pdf from branch jose_paper

[2021-10-20 19:29] whedon commented on #118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00118/jose.00118/10.21105.jose.00118.pdf) :page_facing_up: :point_left:

[2021-10-20 23:21] whedon opened #147 "[PRE REVIEW]: PCP Notebooks: A Preparation Course for Python with a Focus on Signal Processing"
**Submitting author:** @sebastianrosenzweig (<a href="http://orcid.org/0000-0003-4964-9217">Sebastian Rosenzweig</a>)
**Repository:** <a href="https://github.com/meinardmueller/PCP" target ="_blank">https://github.com/meinardmueller/PCP</a>
**Version:** v1.0.3
**Editor:** @moorepants
**Reviewers:** @boisgera , @alfredocarella
**Managing EiC:** Jordan Gorzalski

**:warning: JOSE reduced service mod

[2021-10-20 23:21] whedon commented on #147
[code]

[2021-10-21 14:57] moorepants commented on #147
I can handle this one. Thanks.

@sebastianrosenzweig Can you suggest some reviewers?

[2021-10-21 14:58] labarba commented on #147
@whedon assign @moorepants as editor

[2021-10-21 15:38] lwasser commented on #131
hi @labarba I understand. I will come back and suggest reviewers later today as i have a meeting coming up and need to think of people.
i'd probably break it up this way:

# Part 1 Time Series & API's
* [Section 1 - Time Series](https://www.earthdatascience.org/courses/use-data-open-source-python/use-time-series-data-in-python/)
* [Section 7 - API's and Twitter data](https://www.earthdatascience.o

[2021-10-30 00:38] snowman2 commented on #131
That sounds like a reasonable timeline. I will take a look and see if I would be a good fit to review when I get time. I am assuming we are reviewing content and not grammar/spelling correct?

[2021-10-30 00:43] labarba commented on #131
hi @snowman2 — thanks for considering it! Have a look at our [Review criteria](https://openjournals.readthedocs.io/en/jose/review_criteria.html) in the docs. And also the section on [what the paper should contain](https://openjournals.readthedocs.io/en/jose/submitting.html#what-should-my-paper-contain). No need to do copy editing, but you can say things like "section 123 has confusing passages...

[2021-10-30 01:49] snowman2 commented on #131
I see @cgentemann has already agreed to review that section. So, I am thinking that it makes sense for me to focus on the code snippets and @cgentemann can do a more general review. Sound reasonable?

[2021-10-30 07:17] alfredocarella commented on #147
I will be happy to review this module. Same situation here, my next couple of weeks are busy, but I will have some time later.

[2021-10-30 11:27] fbidu commented on #137
@labarba just gave this paper a closer read, congrats on the work @eidheim!

I think this paper does show case a very valid educational tool. Despite being a pro dev for several years, I find React... Weird. While I'm not a JavaScript developer, `react-simplified` did take a bit of React's weirdness off. The examples described in the paper are well written and I think they are arranged nicely, wit

[2021-10-31 19:16] alfredocarella commented on #147
@moorepants I forgot to tag you on my reply, sorry about that. I will gladly review this work.

[2021-11-01 11:00] labarba commented on #131
It's standard to have two reviewers per submission. What we're doing here is chunking the one big submission into three sections, with two reviewers per section. It's also natural for some reviewers to focus more in some aspects than others, and that's ok too.

[2021-11-01 11:42] moorepants commented on #147
@boisgera and @alfredocarella, thank you both for volunteering to review this submission. The timeline works for us, so we can plan to have the initial reviews by November 26th. Let me know if that doesn't work. Please have a look at the JOSE reviewing guide: https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html to get an introduction for reviewing here or to refresh your memory if

[2021-11-01 11:43] moorepants commented on #147
@whedon add @boisgera  as reviewer

[2021-11-01 11:43] whedon commented on #147
OK, @boisgera  is now a reviewer

[2021-11-01 11:43] moorepants commented on #147
@whedon add @alfredocarella as reviewer

[2021-11-01 11:43] whedon commented on #147
OK, @alfredocarella is now a reviewer

[2021-11-01 11:45] moorepants commented on #147
@whedon start review

[2021-11-01 11:45] whedon opened #148 "[REVIEW]: PCP Notebooks: A Preparation Course for Python with a Focus on Signal Processing"
**Submitting author:** @sebastianrosenzweig (<a href="http://orcid.org/0000-0003-4964-9217">Sebastian Rosenzweig</a>)
**Repository:** <a href="https://github.com/meinardmueller/PCP" target ="_blank">https://github.com/meinardmueller/PCP</a>
**Version:** v1.1.2
**Editor:** @moorepants
**Reviewer:** @boisgera , @alfredocarella
**Archive:** <a href="https://doi.org/10.5281/zenodo.5817272" target="_bl

[2021-11-01 11:45] whedon commented on #147
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/148.

[2021-11-01 11:45] #147 closed

[2021-11-01 11:45] whedon commented on #148
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @boisgera , @alfredocarella it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-11-01 11:45] whedon commented on #148
[code]

[2021-11-01 11:45] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-11-01 11:48] moorepants commented on #148
@whedon generate pdf from branch paper

[2021-11-01 11:48] whedon commented on #148
[code]

[2021-11-01 11:48] whedon commented on #148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: :point_left:

[2021-11-01 11:49] moorepants commented on #148
@whedon remind @reviewer in 3 weeks

[2021-11-01 11:49] whedon commented on #148
Reminder set for @reviewer in 3 weeks

[2021-11-01 12:37] whedon commented on #129
:wave: @Swanson-Hysell, please update us on how your review is going (this is an automated reminder).

[2021-11-01 12:55] csev commented on #137
I have done a second read of the article and appreciate the changes.  There is much more detail on the benefit of the approach and the in-class application approach.   I think it is a good submission.

-- Chuck

[2021-11-01 13:57] labarba commented on #137
@whedon invite @willingc as editor

[2021-11-01 13:58] whedon commented on #137
@willingc has been invited to edit this submission.

[2021-11-01 13:58] labarba commented on #137
@willingc – I have invited you as editor for this submission, which has been pre-assessed with a scope query, and already has volunteers willing to review. Can you take it forward?

[2021-11-01 15:44] lwasser commented on #131
thank you all ! @labarba i'm struggling to think of two more people to review here. do you have a list of volunteers that i could perhaps have a look at? the first section comprises more general python pandas and api data access skills so it should be the easiest to find reviewers for i'm just spacing on names of people who could do it.

[2021-11-01 17:53] ttimbers commented on #141
@darribas - checking in on when you think you might be able to review this manuscript? Thanks again for agreeing to serve as a reviewer for this!

[2021-11-02 00:20] cgentemann commented on #131
@abarciauskas-bgse perhaps you might be able to review section 1 or 2 or recommend someone from dev seed or elsewhere? thanks.

[2021-11-02 08:50] darribas commented on #141
Hello! Apologies! I'll get to this this week or early next at the latest!

[2021-11-02 11:43] leouieda commented on #92
Hi @bryanwweber thank you for the invitation! I'm a bit hesitant to accept since my time is very limited at the moment and I'm not familiar with a majority of the software stack used and only tangentially aware of the subject matter. Under ideal conditions I would welcome the chance to learn more about docker and JS but I'm afraid that I would not have the time to invest at the moment. So my contr

[2021-11-02 16:30] voytek commented on #121
Hello?

[2021-11-02 16:52] voytek commented on #121
Yeah, we can implement those changes pretty quickly. But we were waiting for all reviewers' comments. Should we just proceed?

cc @TomDonoghue

[2021-11-02 16:58] TomDonoghue commented on #121
I'll go ahead and come back to this and address everything currently noted (within the next week or so), so that we get as much as possible ready and done here, then it'll just be any last new review items that come up & last checks.

[2021-11-02 18:34] labarba commented on #104
hi @merveenoyan — Would you consider volunteering a review for JOSE? (The Journal of Open Source Education, sibling journal to JOSS). I already have one reviewer, but need a second to start the review.
Submission title: **"Auto-eD: A visual learning tool for automatic differentiation"**
[View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00104/jose.00104/10.21105.j

[2021-11-02 18:39] labarba commented on #143
Hi everyone! Could we have a little update? When do you think you could tick off a few more items of your checklist, @sconde @ThomasA ?

[2021-11-02 18:59] labarba commented on #67
hi @ctdegroot — I added a `paused` label on this one so it doesn't pop up on our weekly audit of in-progress submissions. Please get back to us when you are able to move it to the finish line.

[2021-11-02 22:42] whedon commented on #146
:wave: @arokem, please update us on how your review is going (this is an automated reminder).

[2021-11-02 22:42] whedon commented on #146
:wave: @djmannion, please update us on how your review is going (this is an automated reminder).

[2021-11-02 23:25] stefania11 commented on #123
I cannot edit the above issue. I tried accepting the linked invitation but I think link is expired. @labarba would you mind re-sending invite?

[2021-11-02 23:26] labarba commented on #123
@whedon re-invite @stefania11 as reviewer

[2021-11-02 23:26] whedon commented on #123
OK, the reviewer has been re-invited.

@stefania11 please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-11-03 02:34] arokem commented on #146
Clearly, not going fast enough 😄

I am still working through this slowly. I hope to be able to work through everything in the next couple of weeks.

[2021-11-03 13:10] csev commented on #123
@Alcampopiano - I am catching up with this - I tried to install this with pip on a Mac and got "ERROR: Failed building wheel for setproctitle" - if there is a workaround that you know of, let me know.  I can spin up a docker and try again in a fresh linux but that will take some time.  I just want to run through the install process and get it to come up.

[2021-11-03 16:34] emckiernan commented on #146
No worries, @arokem, thanks for letting us know!

[2021-11-03 18:38] ethanwhite commented on #139
Thanks so much for these excellent reviews @catherinehulshof & @smwindecker!

I particularly appreciate your efforts to highlight areas in which we can improve with respect to representation. It's something I've been working on from an in-classroom perspective with UF instructional designers and definitely an issue in the online environment. Unfortunately given the way the videos were recorded the

[2021-11-03 22:05] djmannion commented on #146
Working on it :smile:

[2021-11-03 22:15] emckiernan commented on #146
Super, thanks, @djmannion!

[2021-11-04 14:04] labarba commented on #138
hi @ThomasA – The JOSE paper will include the version in the metadata, as indicated at the top of this thread. Once any revisions to the submission are complete, we will ask the authors to mint a new tagged release, and update that info here running `@whedon set version as v#.#`, and everything will be neat and square then. (It's OK to leave that item unchecked until the end.)

[2021-11-04 14:14] labarba commented on #112
Maybe `@lwjohnst86` could volunteer a review here, as the author of the recently published `r-cubed` paper: https://jose.theoj.org/papers/10.21105/jose.00122

[2021-11-04 14:26] labarba commented on #123
@stefania11 – Thanks for getting started with your review! Feel free to open issues in the target repository with any questions to the author (linking this review thread), or simply add your comments here.

[2021-11-04 14:30] labarba commented on #140
@adeepak7 Do you have any question about how to do this review? I'll be happy to help, just let me know!

[2021-11-04 14:32] labarba commented on #140
@turketwh How is it going with your review? You should feel free to open issues in the target repository with any questions for the author (linking this issue thread for reference).

[2021-11-04 14:41] labarba commented on #131
OK, so by my count, we have 3 committed reviewers: @MicheleTobias @cgentemann @snowman2

We need 3 more... I shall persevere!

[2021-11-04 14:43] labarba commented on #131
@lwasser  At the top of this thread, you'll find a link to [the list of people](https://bit.ly/jose-reviewers) who signed up to review for JOSE.

[2021-11-04 14:56] labarba commented on #131
hi @cisaacstern 👋 — I am looking for reviewers for this submission to JOSE (The Journal of Open Source Education): **"Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"** It's fairly large, so we want to split it in three parts, and get separate reviewers for each part. We're needing reviewers for Part 1. Might you be able to volu

[2021-11-04 15:04] labarba commented on #131
hi @ raspstephan 👋 — I am looking for reviewers for this submission to JOSE (The Journal of Open Source Education): **"Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"** It's fairly large, so we want to split it in three parts, and get separate reviewers for each part. We're needing reviewers for Part 1. Might you be able to vol

[2021-11-04 15:48] turketwh commented on #140
Making progress (has been slow, but picking up now) - thanks for the note @labarba

[2021-11-04 17:51] raspstephan commented on #131
Hi @labarba. Thank you so much for contacting me. This sounds super interesting and I would love to review this but unfortunately I am already behind on a bunch of responsibilities so it would probably not be a good idea to take on another task.

Would it help for me to suggest alternative reviewers?

[2021-11-04 17:56] cisaacstern commented on #131
@labarba, thanks for the opportunity to contribute. Before I commit, could you provide (or link to) a summary of what this specifically entails? Particularly curious about deadlines, scope of work, etc. As part of that, could you help me understand what Part 1, in particular, refers to? I took a look at the textbook repo and it was not immediately apparent. I want to be sure that I feel qualified

[2021-11-04 18:25] labarba commented on #131
@raspstephan — Thanks for your reply, and good luck chipping away at the backlog (I know the feeling, eek!). I would certainly appreciate any suggestions for alternative reviewers. Please give us their GitHub handle here, but without @-mention, and we'll invite. (And feel free to unsubscribe to this thread, of course!)

If you think you could be interested to review for [JOSE](https://jose.theoj.o

[2021-11-04 18:37] labarba commented on #131
hi @cisaacstern — Thank you for your interest! Since this submission is particularly large (in terms of content), I proposed to the authors that we chunk it into three parts, and get separate reviewers for each part. The aim is to manage reviewer workload. With this in mind, the author suggested the 3 parts in a[ comment above](https://github.com/openjournals/jose-reviews/issues/131#issuecomment-9

[2021-11-04 23:35] djmannion commented on #146
A general comment about the documentation (which I take to mean the repository documentation, rather than the jupyter book), which affects my response to those criteria, is that it seems to be for students in the course rather than for others who might like to adapt/use the material.

For example, it looks like the repository `README.md` is copied to become the index page of the jupyter book. That

[2021-11-05 15:27] JasonJWilliamsNY commented on #103
@whedon generate pdf

[2021-11-05 15:27] whedon commented on #103
PDF failed to compile for issue #103 with the following error:
[code]

[2021-11-05 15:39] crsl4 commented on #103
I had this error too, but it does compile locally per the instructions. Not sure what the error is about!

[2021-11-05 15:49] JasonJWilliamsNY commented on #103
I'll comment to ask @labarba to help us out... I do have emails out to potential reviewers so stay tuned!

[2021-11-05 16:56] cisaacstern commented on #131
@labarba, thanks for this further information and for thinking to reach out to me at all. I really am honored to be included in this conversation. Having taken a closer look at Parts 1 and 2, I do not believe my experience would allow me to complete the review this material and its authors deserve. My professional focus is on Python package development for cloud data management, and while I am fam

[2021-11-05 18:04] labarba commented on #103
@openjournals/dev Can you help us with a paper that doesn't compile?

[2021-11-05 18:43] allisonhorst commented on #130
Hi all:

I feel the paper sufficiently addresses more rigorous expectations for short workshops discussed at the meeting. Including:

- The workshop has been run 4x with 94 total participants

- Authors provide helpful information on workshop instructional design, including structure of the teaching team (e.g. “The workshop is led by two co-instructors who both teach; a moderator who tracks questi

[2021-11-05 19:12] labarba commented on #131
Thanks so much, @cisaacstern !!

[2021-11-05 19:17] crsl4 commented on #103
Thanks Jason!

[2021-11-05 19:41] labarba commented on #130
Should some of the aspects listed be reflected better in the paper, @allisonhorst ?

[2021-11-05 20:06] magsol commented on #112
Hi @BrunaPavlack! Thanks so much for the additional reviewer suggestions! I've reached out to five more (some you recommended, some others who declined to review recommended) and am hoping to hear back soon! Will update.

[2021-11-05 21:48] arokem commented on #146
For this point:

I think that you could add a bit in the paper about your experience . This is also a +1 to @djmannion's comment above that the document could be improved to make this more accessible to other instructors. You might consider adding a section about how to use the materials from the instructor point of view.

This point:

Also does not currently clearly come through.

[2021-11-05 21:49] arokem commented on #146
Other than these two points, I have read through the materials and the paper and added a couple of issues on the project repo, but have no other comments/suggestions. So, once these issues are all addressed, I would be happy to recommend this paper be accepted.

[2021-11-08 07:34] raspstephan commented on #131
Here are some potential alternative reviewers @labarba

- DamienIrving - He has been very active in reproducibility and also education I believe
- salvis2 - I think he has contributed some tutorials to Pangeo

[2021-11-09 19:25] ShanEllis commented on #139
Thanks @smwindecker and @catherinehulshof for your helpful and prompt reviews. And, @ethanwhite, it looks like you're making progress on addressing reviewer comments. But, do let me know if you have any questions as you work toward addressing!

[2021-11-09 21:11] magsol commented on #112
@whedon assign @dalonsoa as reviewer

[2021-11-09 21:11] whedon commented on #112
OK, @dalonsoa is now a reviewer

[2021-11-09 21:12] magsol commented on #112
@BrunaPavlack I've found one reviewer, and a possible lead on a second. Will update!

[2021-11-10 01:55] kdillmcfarland commented on #144
Documentation

- Request for improved Linux installation https://github.com/UMCarpentries/intro-curriculum-r/issues/147
- Request for expanded statement of purpose https://github.com/UMCarpentries/intro-curriculum-r/issues/148

[2021-11-10 14:27] bryanwweber commented on #92
Thanks for letting me know @leouieda!

[2021-11-10 17:55] abarciauskas-bgse commented on #131
@cgentemann Thanks for tagging me on this opportunity! I have created an internal call within the Development Seed team in case someone can pick up a review of one of the sections before I can.

@labarba sorry if this is stated somewhere but I am new to this process - where should folks submit their review? Would it be in a github issue here, as an issue in the https://github.com/earthlab/earth-an

[2021-11-11 13:56] alfredocarella commented on #148
@moorepants I am afraid I missed the invitation to review the article that was sent 10 days ago. Would you mind sending it again? Thanks!

[2021-11-11 14:04] moorepants commented on #148
I'm not sure what invitation you are referring to. The invitation/instructions are at the top of this issue.

[2021-11-11 14:15] alfredocarella commented on #148
@moorepants that is correct. The mentioned invite link (quote below) expired after 7 days.
I can no longer access https://github.com/openjournals/jose-reviews/invitations to accept the role as reviewer

[2021-11-11 14:19] moorepants commented on #148
Got it! There is a command for this:

@whedon re-invite @alfredocarella as reviewer

[2021-11-11 14:23] moorepants commented on #148
@whedon re-invite @alfredocarella as reviewer

[2021-11-11 14:23] whedon commented on #148
OK, the reviewer has been re-invited.

@alfredocarella please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-11-11 14:32] labarba commented on #131
hi @abarciauskas-bgse — Once we have sufficient reviewers, who will be assigned here, we run `@whedon start review` and that will open a new issue thread with a [review checklist](https://openjournals.readthedocs.io/en/jose/review_checklist.html) for each reviewer. The review is tracked there, but reviewers are welcome to open issues on the target repository (with a cross-link to the review issue)

[2021-11-11 14:33] labarba commented on #131
@whedon assign @cgentemann as reviewer

[2021-11-11 14:33] whedon commented on #131
OK, @cgentemann is now a reviewer

[2021-11-11 14:35] labarba commented on #131
@cgentemann You'll be reviewing Part 3, according to the partition suggested by the author in the [comment above](https://github.com/openjournals/jose-reviews/issues/131#issuecomment-948735998).

[2021-11-11 14:36] labarba commented on #131
@snowman2 – You are on-board, yes? Can I now add you as reviewer, and we have you for Part 3?

[2021-11-11 14:37] labarba commented on #131
@whedon add @MicheleTobias as reviewer

[2021-11-11 14:37] whedon commented on #131
OK, @MicheleTobias is now a reviewer

[2021-11-11 14:37] labarba commented on #131
@MicheleTobias – We have you for reviewing Part 2, according to the partition suggested by the author in the [comment above](https://github.com/openjournals/jose-reviews/issues/131#issuecomment-948735998).

[2021-11-11 14:47] labarba commented on #131
@jhamman 👋  — I am looking for reviewers for this submission to JOSE (The Journal of Open Source Education): **"Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"** It's fairly large, so we want to split it in three parts, and get separate reviewers for each part. We're needing reviewers for Part 1 or 2. Might you be able to volun

[2021-11-11 14:51] labarba commented on #131
@matthewhanson 👋  — I am looking for reviewers for this submission to JOSE (The Journal of Open Source Education): **"Open and Reproducible Data Science for Earth and Environmental Data: The Intermediate Earth Analytics Online Textbook"** It's fairly large, so we want to split it in three parts, and get separate reviewers for each part. We're needing reviewers for Part 1 or 2. Might you be able to

[2021-11-11 17:59] emckiernan commented on #146
Thanks, @djmannion and @arokem, for your comments above. @shawnrhoads, any questions on the issues raised so far?

[2021-11-11 19:03] magsol commented on #112
@whedon add @3mmaRand as reviewer

[2021-11-11 19:04] whedon commented on #112
OK, @3mmaRand is now a reviewer

[2021-11-11 19:05] magsol commented on #112
@whedon start review

[2021-11-11 19:05] whedon opened #149 "[REVIEW]: EPIDEMIC: Epidemiology Educational Code"
**Submitting author:** @BrunaPavlack (<a href="http://orcid.org/0000-0002-6807-0916">Bruna Silveira Pavlack</a>)
**Repository:** <a href="https://github.com/americocunhajr/EPIDEMIC" target ="_blank">https://github.com/americocunhajr/EPIDEMIC</a>
**Version:** v2.0.0
**Editor:** @magsol
**Reviewer:** @dalonsoa, @3mmaRand
**Archive:** <a href="https://doi.org/10.5281/zenodo.5930686" target="_blank">1

[2021-11-11 19:05] whedon commented on #112
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/149.

[2021-11-11 19:05] #112 closed

[2021-11-11 19:05] whedon commented on #149
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dalonsoa, @3mmaRand it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-11-11 19:05] whedon commented on #149
Wordcount for `paper.md` is 2087

[2021-11-11 19:05] whedon commented on #149
[code]

[2021-11-11 19:05] whedon commented on #149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00149/jose.00149/10.21105.jose.00149.pdf) :page_facing_up: :point_left:

[2021-11-11 19:05] whedon commented on #149
[code]

[2021-11-13 18:52] labarba commented on #132
@giuliaguidi 👋  — We received this submission to The Journal of Open Source Software, JOSE: **A virtual training module for introducing the use of Amazon Web Services**. Could you help us out with a review?
JOSE is a fully volunteer-led, open journal for publishing open source software for educational uses and open learning modules or tutorials. Have a look at our [docs](https://openjournals.readt

[2021-11-14 11:26] 3mmaRand commented on #149
I can find no installation instructions in the Readme, the paper or the tutorial

[2021-11-14 11:27] 3mmaRand opened #150 "Installation: Does installation proceed as outlined in the documentation? (and documentation is sufficient?)"

[2021-11-14 11:27] whedon commented on #150
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-14 11:27] #150 closed

[2021-11-14 21:04] BrunaPavlack commented on #149
Hi! First of all, thank you so much for agreeing to review our code @3mmaRand! The code runs in MATLAB or GNU Octave software. Put the MATLAB working directory where the code is and run via terminal. Let's add in the materials how to install and use. Thank you!

[2021-11-15 11:45] whedon commented on #148
:wave: @alfredocarella, please update us on how your review is going (this is an automated reminder).

[2021-11-15 11:45] whedon commented on #148
:wave: @boisgera , please update us on how your review is going (this is an automated reminder).

[2021-11-15 21:13] giuliaguidi commented on #132
Hi,

I would be happy to help, please let me know how to proceed.

Best,
Giulia Guidi

On Sat, Nov 13, 2021 at 10:52 AM Lorena A. Barba ***@***.***>
wrote:

[2021-11-15 21:57] willingc commented on #132
Awesome @giuliaguidi. I'll be in touch with more details after my work day. Thanks!

[2021-11-15 23:36] willingc commented on #132
@whedon assign @giuliaguidi as reviewer

[2021-11-15 23:36] whedon commented on #132
OK, @giuliaguidi is now a reviewer

[2021-11-15 23:40] willingc commented on #132
Hi @giuliaguidi, The best place to begin learning about the review process is to start in our [reviewer guide](https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html). Please feel free to reach out with questions. Thanks. :sunny:

[2021-11-15 23:48] giuliaguidi commented on #132
Great, I'll have a look later this week. Is there a deadline for the review?

Best,
Giulia

On Mon, Nov 15, 2021 at 3:40 PM Carol Willing ***@***.***>
wrote:

[2021-11-17 15:24] JasonJWilliamsNY commented on #138
@lechten and @ThomasA thanks so much for your work so far. Seems also @bnwolford has been at work addressing issues. I am just checking in to see if there is anything I can do to assist, or at least provide encouragement to help move things along. Thanks!

[2021-11-17 15:55] darribas commented on #141
I've just started with this and aiming to finish it today. A quick question out of my ignorance: I cannot find the PDF of the paper, have I missed it somehow? I can see the [`paper.md`](https://github.com/andrewmaclachlan/CASA0005repo/blob/master/paper.md) file but not the rendering version. From previous refereeing for JOSE, I seem to remember the issue used to include a link to it?

[2021-11-17 15:55] JasonJWilliamsNY commented on #103
@crsl4 A few more invitations to review have gone out. @labarba did @openjournals/dev follow up on the help request?

[2021-11-17 16:04] darribas commented on #141
@whedon generate pdf

[2021-11-17 16:05] whedon commented on #141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00141/jose.00141/10.21105.jose.00141.pdf) :page_facing_up: :point_left:

[2021-11-17 20:54] crsl4 commented on #103
Great, thanks for keeping me posted, Jason!

[2021-11-17 22:52] darribas commented on #141
# Conflict of interest

- [x] As the reviewer I confirm that I have read the JOSE conflict of interest policy and that there are no conflicts of interest for me to review this work.

# Code of Conduct

- [x] I confirm that I read and will adhere to the JOSE code of conduct.

# General checks

- [x] Repository: Is the source for this learning module available at the repository url?
- [x] License: D

[2021-11-17 23:16] whedon opened #151 "[PRE REVIEW]: An Active Learning Laboratory Manual for Teaching a Contemporary Undergraduate Operating System Course"
**Submitting author:** @saverioperugini (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://bitbucket.org/saverioperugini/operating-systems-lab-manual/" target ="_blank">https://bitbucket.org/saverioperugini/operating-systems-lab-manual/</a>
**Version:** v1.0.0
**Editor:** @csev
**Reviewers:** @MattForshaw, @georgiastuart
**Managing EiC:** Jordan

[2021-11-17 23:17] whedon commented on #151
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-17 23:18] whedon commented on #151
PDF failed to compile for issue #151 with the following error:
[code]

[2021-11-17 23:19] jgorzalski commented on #151
@whedon generate pdf from branch PAPER

[2021-11-17 23:19] whedon commented on #151
[code]

[2021-11-17 23:34] jgorzalski commented on #124
Hi @anaiy2004 👋 Just checking in to see how the revisions are going? If you can't get to them for a while I can put a pause on this until you're ready - let me know. Thank you!

[2021-11-18 08:14] lechten commented on #138
Among the issues that I opened, https://github.com/GWC-DCMB/curriculum-notebooks/issues/10 has received an MR whose comment reads "Partially addresses issue #10". Thus, I did not take a closer yet. @bnwolford What is your view of the situation?

[2021-11-18 09:24] xuanxu commented on #103
The PDF is not compiling due to an unscaped character. [This change](https://github.com/crsl4/fast-stats/pull/51) should fix it.

[2021-11-18 14:50] BrunaPavlack commented on #149
Hi! We added a part about installation and use in the tutorial and in the read me. Thanks for the comment!

[2021-11-18 18:04] jgorzalski commented on #151
@whedon generate pdf from branch PAPER

[2021-11-18 18:04] whedon commented on #151
[code]

[2021-11-18 18:06] whedon commented on #151
PDF failed to compile for issue #151 with the following error:
[code]

[2021-11-18 18:09] jgorzalski commented on #151
@openjournals/dev seem to have trouble compiling the PDF for this paper - any ideas about the cause?

[2021-11-18 18:12] saverioperugini commented on #151
@whedon commands

[2021-11-18 18:12] whedon commented on #151
Here are some things you can ask me to do:

[code]

[2021-11-18 18:13] jgorzalski commented on #151
@whedon generate pdf

[2021-11-18 18:13] whedon commented on #151
PDF failed to compile for issue #151 with the following error:
[code]

[2021-11-18 18:14] xuanxu commented on #151
There are some empty `orcid` entries in the paper's metadata section. They should be removed for the PDF to compile.

[2021-11-18 18:16] jgorzalski commented on #151
@saverioperugini see above comment ☝️ for fix to compile paper. Thank you @xuanxu!

_"There are some empty orcid entries in the paper's metadata section. They should be removed for the PDF to compile."_

[2021-11-18 18:18] saverioperugini commented on #151
Thanks. Just fixed that and committed/pushed.

--

Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is confidential and intended on

[2021-11-18 18:23] jgorzalski commented on #151
@whedon generate pdf

[2021-11-18 18:23] saverioperugini commented on #151
@whedon generate pdf

[2021-11-18 18:24] whedon commented on #151
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-19 00:59] marisalim commented on #130
Thank you for the feedback @allisonhorst, @shanamatthews, and @colbrydi!
- Per @shanamatthews's suggestions, I've updated our wiki space to provide more information for preparing to use our materials for a workshop [here](https://github.com/nih-cfde/training-and-engagement/wiki/Conda-workshop-teaching-notes), along with a [template](https://hackmd.io/iEOJg-U6QvujQTzw4wpzRg) for workshop notes.
- P

[2021-11-19 09:38] arfon commented on #151
@whedon generate pdf

[2021-11-19 09:41] arfon commented on #151
@whedon generate pdf

[2021-11-19 09:42] arfon commented on #151
@whedon generate pdf

[2021-11-19 09:58] arfon commented on #151
@labarba – Whedon is failing here because of the size of the Git repository. It's > 1.6GB in size and is very slow to clone:

[code]

Upon some digging, this is because there is a Ubuntu VM image checked in here: `setup/VirtualMachine/bin/ubuntu-16.04-os-labs.iso`.

@saverioperugini – I would strongly encourage you to remove this image from your git repository as this will make cloning the reposit

[2021-11-19 19:40] whedon opened #152 "[PRE REVIEW]: An open learning resource on Reproducible Data Science with Open-Source Python Tools and Real-World Data"
**Submitting author:** @valdanchev (<a href="http://orcid.org/0000-0002-7563-0168">Valentin Danchev</a>)
**Repository:** <a href="https://github.com/valdanchev/reproducible-data-science-python" target ="_blank">https://github.com/valdanchev/reproducible-data-science-python</a>
**Version:** v1.0.0
**Editor:** @ShanEllis
**Reviewers:** @TomDonoghue
**Managing EiC:** Jordan Gorzalski

**:warning: JOS

[2021-11-19 19:41] whedon commented on #152
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 19:41] whedon commented on #152
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[9]>, "@", #<BibTeX::Entry >, {:title=>["Exploring network structure, dynamics, and function using networkx"], :author=>["Hagberg, Aric and Swart, Pieter and S Chult, Daniel"], :doi=>[""], :url=>["https://www.osti.gov/biblio/960616"], :journal=>[""]}, ",", "number

[2021-11-19 19:41] whedon commented on #152
Wordcount for `paper.md` is 1576

[2021-11-19 19:41] whedon commented on #152
[code]

[2021-11-19 19:41] whedon commented on #152
Failed to discover a valid open source license.

[2021-11-19 19:41] whedon commented on #152
PDF failed to compile for issue #152 with the following error:
[code]

[2021-11-21 07:27] alfredocarella opened #153 "Authors: Does the `paper.md` file include a list of authors with their affiliations?"

[2021-11-21 07:27] whedon commented on #153
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-21 07:27] #153 closed

[2021-11-21 09:13] moorepants commented on #153
@alfredocarella, is this in reference to the paper you are reviewing with me? Let me know if you have questions.

[2021-11-21 17:02] allisonhorst commented on #130
Thank you for the update @marisalim !

I appreciate your work to address the reviewers' feedback, including updates to the teaching notes and the hackmd template for workshop notes, which I think are very helpful. A couple of minor suggestions:

1. Consider updating the paper text where you refer to the [workshop teaching notes](https://github.com/nih-cfde/training-and-engagement/wiki/Conda-worksh

[2021-11-21 20:25] magsol commented on #121
Hi folks! Where are we with this review? @krother @KiCh84 there are still unchecked items on both your lists, are those outstanding or have they been addressed yet? @TomDonoghue @voytek how does the feedback so far look?

[2021-11-21 20:26] magsol commented on #144
Thanks Kimberly! @pschloss have you had a chance to review the feedback from Kimberly? It looks like this is about it.

@tracykteal how is your review going? Any chance of wrapping this up before the holidays?

[2021-11-23 16:21] zenalapp commented on #138
We have now resolved all of the issues that have been opened by @lechten, including issue [#10](https://github.com/openjournals/jose-reviews/issues/10).

[2021-11-23 16:45] boisgera commented on #148
## Issues

I have noticed a small number of typos and made a PR [here](https://github.com/meinardmueller/PCP/pull/5).

I have also described some small issues here :

  - https://github.com/meinardmueller/PCP/issues/6
  - https://github.com/meinardmueller/PCP/issues/7

but this is mostly some nitpicking, and should not been considered show-stoppers (I would be ok with a "won't fix").

## Review

T

[2021-11-23 18:36] saverioperugini commented on #151
Hi,

I have removed the large image file and rewritten the history.  Sorry about that.

Saverio

--

Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this

[2021-11-23 18:39] zenalapp commented on #144
We have reviewed and implemented all changes suggested by @kdillmcfarland.

[2021-11-23 19:40] marisalim commented on #130
Thanks for those suggestions @allisonhorst! I have edited the [paper](https://github.com/nih-cfde/training-and-engagement/blob/JOSE-conda-paper/paper/paper.md).

[2021-11-23 20:05] ThomasA commented on #138
Sorry, I have been (and am still) very hung up with work. I am giving the review some much needed attention now.

[2021-11-23 20:35] ThomasA opened #154 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the module 2) Report issues or problems with the module 3) Seek support"

[2021-11-23 20:35] whedon commented on #154
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-23 20:35] #154 closed

[2021-11-23 20:37] ThomasA commented on #138
The "convert to issue" functionality in the review checklist does not seem to work as intended. Whedon auto-closes them immediately.

[2021-11-23 20:41] labarba commented on #138
@ThomasA — What are you trying to do? I'm not sure why you'd want to open an issue on this repository, which is only to track JOSE reviews...

[2021-11-23 21:02] ThomasA commented on #138
@labarba I just pressed the button, hoping it was a shortcut to open an issue in the reviewed repo, but I guessed wrong. I just don't understand the purpose of functionality for conveniently opening an issue that automatically gets closed immediately, but thst's probably just a standard GitHub feature of checklists :smile:

[2021-11-23 22:16] ThomasA commented on #143
Sorry, I have been swamped by work lately. Have been working on #138 tonight. I hope to complete this one within the next couple of days.

[2021-11-24 07:36] moorepants commented on #148
@boisgera, thank you for the thoughtful review. @sebastianrosenzweig you are welcome to work on addressing the comments before the second review comes in.

[2021-11-24 14:35] KiCh84 commented on #121
Those are outstanding from my end , i really do not know when i will have
the time to review all of it because of the current work situation , seems
to be madness on my side of things for sure :(

On Sun, Nov 21, 2021, 21:25 Shannon ***@***.***> wrote:

[2021-11-24 16:28] sebastianrosenzweig commented on #148
@boisgera many thanks for your thorough review and the pull requests! We are happy that our work is well appreciated.
@moorepants We will implement the changes in the next few days. Also we'll make clearer in the README.md how to contribute, report issues, or seek support.

[2021-11-24 20:32] valdanchev commented on #152
@whedon generate pdf

[2021-11-24 20:32] whedon commented on #152
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00152/jose.00152/10.21105.jose.00152.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00152/jose.00152/10.21105.jose.00152.pdf) :page_facing_up: :point_left:

[2021-11-24 20:49] valdanchev commented on #152
@whedon check repository

[2021-11-24 20:49] whedon commented on #152
Wordcount for `paper.md` is 1572

[2021-11-24 20:49] whedon commented on #152
[code]

[2021-11-25 08:46] lechten commented on #138
@whedon generate pdf

[2021-11-25 08:47] whedon commented on #138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: :point_left:

[2021-11-25 19:05] whedon commented on #149
:wave: @3mmaRand, please update us on how your review is going (this is an automated reminder).

[2021-11-25 19:05] whedon commented on #149
:wave: @dalonsoa, please update us on how your review is going (this is an automated reminder).

[2021-11-28 00:08] sconde commented on #143
https://github.com/ashleefv/ApplNumComp/issues/2

[2021-11-28 00:23] sconde commented on #143
https://github.com/ashleefv/ApplNumComp/issues/3

[2021-11-28 00:29] sconde commented on #143
https://github.com/ashleefv/ApplNumComp/issues/4

[2021-11-29 14:36] allisonhorst commented on #130
Thank you @marisalim and others.

I do not have further comments and feel that all reviewer comments have been addressed. @labarba I recommend accepting this submission.

[2021-11-29 14:38] ShanEllis commented on #139
Hi @ethanwhite - wanted to check in on progress here! I know we're into the holidays at this point, and I'm sure you're quite busy, but I wanted to see if it'd be reasonable to address these reviewer comments in the coming weeks (maybe, by December 17th?)

I'm definitely here to work with you if that doesn't work; I just know I do better when I have a deadline in my calendar.

[2021-11-29 20:27] MicheleTobias commented on #131
There is a lot more overhead in figuring out how the review process works for this journal than I realized and I just don't think I've got the time given my current obligations.

[2021-11-29 20:30] snowman2 commented on #131
Yes, I am on board. I missed this comment in my notifications earlier ...

[2021-11-29 20:46] jgorzalski commented on #151
@whedon generate pdf

[2021-11-29 20:46] whedon commented on #151
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00151/jose.00151/10.21105.jose.00151.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00151/jose.00151/10.21105.jose.00151.pdf) :page_facing_up: :point_left:

[2021-11-29 20:48] labarba commented on #131
@whedon unassign @MicheleTobias as reviewer

[2021-11-29 20:48] whedon commented on #131
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-29 20:48] labarba commented on #131
@whedon commands

[2021-11-29 20:48] whedon commented on #131
Here are some things you can ask me to do:

[code]

[2021-11-29 20:49] labarba commented on #131
@whedon remove @MicheleTobias as reviewer

[2021-11-29 20:49] whedon commented on #131
OK, @MicheleTobias is no longer a reviewer

[2021-11-29 21:05] valdanchev commented on #152
Hi @jgorzalski, I have corrected the set of problems I've got during submission and the PDF seems to compile now. Looking forward to hearing from you about next steps.

[2021-11-29 21:11] jgorzalski commented on #152
Hello @valdanchev 👋 Thanks for bringing this to my attention! I had missed your correction of the error and am just getting back to it from the short Thanksgiving break here in the USA. I will take a look at this and try to get an editor assigned promptly. After that the editor will begin the search for reviewers. Have you had a chance to look at our list of reviewers (linked in the first comment

[2021-11-29 22:02] valdanchev commented on #152
That sounds great! Many thanks, @jgorzalski I just took a look at the list—many people could be potential reviewers, for example, mnarayan, TomDonoghue, trallard, and cjcallag.

[2021-11-29 23:53] jgorzalski commented on #152
@whedon assign @ShanEllis as editor

[2021-11-29 23:54] whedon commented on #152
OK, the editor is @ShanEllis

[2021-11-30 11:42] labarba commented on #130
Hi Allison! Do run `@whedon recommend accept` as a final step :–)

[2021-11-30 21:41] saverioperugini commented on #151
The link https://bit.ly/jose-reviewers doesn’t seem to work. I was trying to recommend reviewers.

--

Saverio Perugini, Ph.D.
Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH 45469-0280
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: ***@***.***
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in thi

[2021-12-01 09:39] moorepants commented on #148
@alfredocarella can you give us a status update on your review?

[2021-12-01 14:39] jgorzalski commented on #151
Hello @saverioperugini 👋 I'm not running into any issues clicking through that link, are receiving an error message?

[2021-12-01 15:03] saverioperugini commented on #151
I can access it now.

The reviewers I can recommend for this paper/work are:

Matthew Foresaw ***@***.***

Georgia Stuart ***@***.***

Stian Håklev ***@***.***

Abram Connelly ***@***.***

Neal Davis ***@***.***

Rizwan Bulbul ***@***.***

Sarah Masud ***@***.***

Luiz Irber ***@***.***

Jens Lechtenbörger ***@***.***

Stefania Druga ***@***.***

Matthew Forshaw ***@***.***

Gajendra Deshpande ***

[2021-12-01 18:51] allisonhorst commented on #130
@whedon recommend accept

[2021-12-01 18:51] whedon commented on #130
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-01 18:52] allisonhorst commented on #130
@whedon recommend-accept

[2021-12-01 18:52] whedon commented on #130
No archive DOI set. Exiting...

[2021-12-01 18:58] allisonhorst commented on #130
@labarba can you advise? do I need to `whedon set doi as archive` first?

[2021-12-01 20:50] alfredocarella commented on #148
@moorepants I am just beginning to go through the content after the preliminary checks. It looks very well so far. I will submit my comments as soon as I have them

[2021-12-02 08:28] moorepants commented on #148
Ok, sounds good. Let us know if there are any hurdles.

[2021-12-02 10:43] labarba commented on #130
Ah, yes. The final steps pre-publication are:

- author should make a tagged release of their repository, and report the version number
- editor runs `@whedon set <v##> as version`
- author should make an archive deposit of their repository on Zenodo or similar service, and reports the archive DOI here
- editor runs `@whedon set <doi> as archive`

[2021-12-02 14:34] lechten commented on #138
All issues raised by me have been resolved. Except for the "version" item, I just ticked off the remaining items on my list. I vote to accept this paper.

[2021-12-03 17:54] shawnrhoads commented on #146
Hi all,

Thank you so much for reviewing these materials! These are great ideas, especially separating the documentation for different audiences (i.e., instructors versus students).

We will work on incorporating this helpful feedback and new issues submitted to the repository in the coming days and keep everyone posted on progress.

Shawn & Lin

[2021-12-03 20:37] JasonJWilliamsNY commented on #103
Thanks @xuanxu @crsl4 can you accept the change

[2021-12-03 20:38] JasonJWilliamsNY commented on #103
@whedon add pierrerogy as reviewer

[2021-12-03 20:38] whedon commented on #103
OK, pierrerogy is now a reviewer

[2021-12-03 23:08] crsl4 commented on #103
Yes, I had merged the change already, thanks for catching that!

[2021-12-04 02:15] ConorIA commented on #100
Hi @labarba,

@kls2177 and I have made [myriad changes](https://gitlab.com/claut/man_ccia/-/merge_requests/11/diffs) to the lab manual to address @JeremyFyke's fantastic [comments](https://gitlab.com/claut/man_ccia/-/issues/12), and are ready to "resubmit".

The responses to Jeremy's review are in this [merge request](https://gitlab.com/claut/man_ccia/-/merge_requests/11), and the latest rendered

[2021-12-04 17:36] alfredocarella commented on #148
## Comments:
- I have submitted 2 pull requests [here](https://github.com/meinardmueller/PCP/pull/9) and [here](https://github.com/meinardmueller/PCP/pull/8), suggesting fixes for small typos and some broken links. These are minimal issues, but I believe the changes reflect what the authors intended to do.

- As mentioned by the other reviewer, a very brief paragraph with guidelines for contributi

[2021-12-05 08:45] moorepants commented on #148
@sebastianrosenzweig The two reviews are in and there are minor issues to address. Once you have done so, let us know here. I agree with the reviewer recommendations for publishing, so once you've reported back about how you've address the comments I'll make a final pass and move to publication.

@alfredocarella and @boisgera thank you for your time so far.

[2021-12-06 14:24] jgorzalski commented on #151
Very helpful, thank you! Still working on assigning an editor, apologies for the slow response time.

[2021-12-06 16:02] sebastianrosenzweig commented on #148
Dear @moorepants, @boisgera, @alfredocarella,

Thank you very much for your helpful feedback!

We took some time to incorporate your comments and improve the material. Here is a summary of the changes we made to the `paper` branch:
* Added a "Contributing" statement to the README.md
* Fixed typos and grammar
* Replaced the old-fashioned string formatting with f-Strings consistently
* Numbered note

[2021-12-07 09:48] moorepants commented on #148
@boisgera and @alfredocarella Can you all review the updates and confirm if it meets your expectations?

[2021-12-08 15:06] alfredocarella commented on #148
@moorepants The authors have satisfactorily addressed all of my comments on the `paper` branch. I have thus checked the last item on my list.
@sebastianrosenzweig It might be a good idea to include the changes on `master` as well, particularly the "Contributing" statement in `README.md`.

[2021-12-08 15:08] jgorzalski commented on #124
Hi @anaiy2004 👋  I added a paused label on this one so it doesn't pop up on our weekly audit of in-progress submissions. Please get back to us when you are ready to move forward. Thank you!

[2021-12-08 16:18] sebastianrosenzweig commented on #148
@alfredocarella Yes, we will merge the `paper` branch into the `master` branch as soon as the review process is completed.

[2021-12-08 17:43] JasonJWilliamsNY commented on #103
@whedon generate pdf

[2021-12-08 17:44] whedon commented on #103
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00103/jose.00103/10.21105.jose.00103.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00103/jose.00103/10.21105.jose.00103.pdf) :page_facing_up: :point_left:

[2021-12-08 17:46] JasonJWilliamsNY commented on #138
@ThomasA @lechten - Thanks so much for your work so far, @bnwolford  do you think you are close to fixing those last few checklist items?

[2021-12-08 17:55] crsl4 commented on #103
Great! I will review the proofs, thanks!

[2021-12-09 07:56] ThomasA commented on #138
My final comment regarding support has been addressed and I am also in favour of accepting the submission.

[2021-12-09 11:25] boisgera commented on #148
@moorepants Yes, the updates have nicely adressed my feedback. I have checked the last item of the list.

[2021-12-09 15:12] labarba commented on #140
I just pinged @adeepak7 [via Twitter](https://twitter.com/LorenaABarba/status/1468961382993301507), in case his GitHub notifications are not going through!

[2021-12-09 15:25] labarba commented on #104
hi @rasbt — We're continuing our search for a second reviewer for this JOSE submission, so far with no luck 😞
Do you think you might be able to help us out, now that the semester is closing? Thanks for considering it!

[2021-12-09 15:43] labarba commented on #131
@whedon add @snowman2 as reviewer

[2021-12-09 15:43] whedon commented on #131
OK, @snowman2 is now a reviewer

[2021-12-09 15:47] labarba commented on #131
@abarciauskas-bgse – We were hoping you could help us with a review of this submission to The Journal of Open Source Education. [You did say](https://github.com/openjournals/jose-reviews/issues/131#issuecomment-965594592) that you had made an internal call within the Development Seed team, but you didn't say if you could perhaps offer a review?

[2021-12-09 15:59] labarba commented on #123
@whedon remind @stefania11 in 40 days

[2021-12-09 15:59] whedon commented on #123
Reminder set for @stefania11 in 40 days

[2021-12-10 15:01] rasbt commented on #104
@labarba  I am currently still swamped with tasks -- the semester is going a bit longer than usual this year. But I will put it down on my task list for this month and hope to get to it after the semester and holidays!

[2021-12-10 20:35] zenalapp commented on #138
Thanks for your reviews! We have finalized all changes to the manuscript. @JasonJWilliamsNY please let us know what we should do next.

[2021-12-10 23:11] marisalim commented on #130
Hi @allisonhorst!
- the GitHub tag is: https://github.com/nih-cfde/training-and-engagement/releases/tag/2021.12
- this version of the repo is archived on Zenodo here: https://zenodo.org/record/5773212#.YbPeOVmIbb0

[2021-12-10 23:53] Swanson-Hysell commented on #129
Regarding installation, I have raised this issue regarding the conda installation:
https://github.com/sededu/sededu/issues/99

[2021-12-11 00:13] Swanson-Hysell opened #155 "Installation: Does installation proceed as outlined in the documentation? (and documentation is sufficient?)"

[2021-12-11 00:13] whedon commented on #155
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-12-11 00:13] #155 closed

[2021-12-13 15:11] JasonJWilliamsNY commented on #138
@whedon generate pdf

[2021-12-13 15:11] whedon commented on #138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: :point_left:

[2021-12-13 15:28] JasonJWilliamsNY commented on #138
@whedon check references

[2021-12-13 15:37] JasonJWilliamsNY commented on #138
@zenalapp your next step is to go ahead and archive on Zenodo, issue a tagged release on the repository and mint a DOI. Please me know if I can assist you in any way on this. Once you have that, I'll recommend accept.

[2021-12-13 16:04] kelly-sovacool commented on #138
@JasonJWilliamsNY The new release is v1.0.0 with DOI: `10.5281/zenodo.5776898`

[2021-12-13 17:33] ttimbers commented on #141
@andrewmaclachlan - pinging you on this again. If you think you may be unable to work on this for a while, please let me know and I can put a pause label on this review. Thanks.

[2021-12-13 17:40] ttimbers commented on #117
@zdelrosario - any chance you are able to pick this review up again in the near future?

[2021-12-13 17:43] zdelrosario commented on #117
@ttimbers yup! My semester ends this week; aiming to use the winter break to address these reviewer comments....

[2021-12-13 18:58] ttimbers commented on #117
Wonderful, thanks for the update! I will remove the pause label at the end of the week then :)

[2021-12-13 21:12] andrewmaclachlan commented on #141
Hi, sorry for the delay and thanks so much to both reviewers. I'm hoping to get to the comments in just over a week, but they may run over to the New Year as the University closes. But hopefully it won't be any longer than a few weeks.

[2021-12-13 23:00] ShanEllis commented on #152
Hi @mnarayan, reaching out to see if you would be interested in reviewing this submission titled "_An open learning resource on Reproducible Data Science with Open-Source Python Tools and Real-World Data_" for JOSE, as I think it would be a good fit for your interests and expertise.

I know it's a busy time of year for many, so please do feel free to let me know if you're interested but may need a

[2021-12-14 02:47] JasonJWilliamsNY commented on #138
@kelly-sovacool I notice that the author info/order is different on the Zenodo archive vs. the paper (PDF). Can you update the Zenodo repository (or paper if it is incorrect)?

[2021-12-14 03:46] kelly-sovacool commented on #138
@JasonJWilliamsNY thanks for catching that, I've fixed the author info in Zenodo. The paper is correct.

[2021-12-14 13:40] JasonJWilliamsNY commented on #138
@whedon recommend-accept

[2021-12-14 13:40] whedon commented on #138
No archive DOI set. Exiting...

[2021-12-14 13:42] JasonJWilliamsNY commented on #138
@whedon set 10.5281/zenodo.5776898 as archive

[2021-12-14 13:42] whedon commented on #138
OK. <a href="https://doi.org/10.5281/zenodo.5776898" target="_blank">10.5281/zenodo.5776898</a> is the archive.

[2021-12-14 13:42] JasonJWilliamsNY commented on #138
@whedon recommend-accept

[2021-12-14 13:42] whedon commented on #138
[code]

[2021-12-14 13:42] whedon commented on #138
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/67

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/67, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-14 13:44] JasonJWilliamsNY commented on #138
@kelly-sovacool last chance to spot any changes; looked good when I reviewed. @labarba can you move us to the next step? Thanks!

[2021-12-14 13:45] whedon commented on #138
[code]

[2021-12-14 13:55] kelly-sovacool commented on #138
Looks great! Thank you for all your work on this @JasonJWilliamsNY @lechten @ThomasA!

[2021-12-14 23:07] ShanEllis commented on #152
@whedon assign @TomDonoghue as reviewer

[2021-12-14 23:07] whedon commented on #152
OK, @TomDonoghue is now a reviewer

[2021-12-14 23:07] ShanEllis commented on #152
Just adding a note that Tom and I chatted about the fact that he will not be able to get to this review until January (which I think makes total sense!). Just wanted to include that in the discussion here, so everyone was on the same page and aware of expected timeline.

[2021-12-14 23:13] valdanchev commented on #152
That is great. Many thanks, @ShanEllis

[2021-12-15 01:33] JasonJWilliamsNY commented on #103
Emails to additional reviewer is out so still working on this to at least assign before holiday breaks

[2021-12-15 16:04] ethanwhite commented on #139
Thanks for the ping @ShanEllis - I was hoping to have this back to you before the break, but I'm juggling enough end-of-year deadlines that it's not quite going to happen. I should be able to get it back in the first week of January.

[2021-12-15 18:41] labarba commented on #138
@whedon set v1.0.0 as version

[2021-12-15 18:41] whedon commented on #138
OK. v1.0.0 is the version.

[2021-12-15 18:47] moorepants commented on #148
@sebastianrosenzweig I've checked over the reviewer's checklists, comments, and your adjustments as well as going through the submitted paper and modules. I agree with the two reviewers and I recommend this paper and repository for publishing. I believe the next step will be for you to make a release of the new version and then publish that release to Zenodo as an archive. Once you have the Zenodo

[2021-12-15 19:00] labarba commented on #138
hi @bnwolford 👋  — we are ready to publish your JOSE contribution. Before doing so, I wonder if you are willing to give the paper one editing pass to reduce the word count and repetition. For example, I found that the paper explains _three times_ the live coding format, and the pivot to flipped learning after the pandemic. Surely this could be tightened a bit?

[2021-12-15 20:40] abarciauskas-bgse commented on #131
@labarba thanks for following up, I would like to offer a review but am short on time the next 2 weeks. Do you have a deadline you are trying to hit for reviews?

[2021-12-16 18:01] ShanEllis commented on #139
Totally understand that @ethanwhite! Sounds great re: first week of January. Enjoy break!

[2021-12-16 18:33] sebastianrosenzweig commented on #148
Dear @moorepants,
We are delighted that our submission is accepted for publication.
We just merged the `paper` branch into the `master`, made a new release and published it on Zenodo.
The DOI is: 10.5281/zenodo.5786628
Thanks again for your time.

[2021-12-16 19:33] moorepants commented on #148
@whedon set 10.5281/zenodo.5786628 as archive

[2021-12-16 19:33] whedon commented on #148
OK. <a href="https://doi.org/10.5281/zenodo.5786628" target="_blank">10.5281/zenodo.5786628</a> is the archive.

[2021-12-16 19:34] moorepants commented on #148
@whedon set version as 1.1.0

[2021-12-16 19:34] whedon commented on #148
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-16 19:35] moorepants commented on #148
@whedon set v1.1.0 as version

[2021-12-16 19:35] whedon commented on #148
OK. v1.1.0 is the version.

[2021-12-16 19:35] moorepants commented on #148
@whedon generate pdf

[2021-12-16 19:35] whedon commented on #148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: :point_left:

[2021-12-16 19:35] moorepants commented on #148
@whedon check repository

[2021-12-16 19:35] whedon commented on #148
Wordcount for `paper.md` is 1825

[2021-12-16 19:35] whedon commented on #148
[code]

[2021-12-16 19:39] moorepants commented on #148
@whedon recommend-accept

[2021-12-16 19:39] whedon commented on #148
[code]

[2021-12-16 19:39] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-16 19:42] moorepants commented on #148
@whedon generate pdf

[2021-12-16 19:42] whedon commented on #148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: :point_left:

[2021-12-16 19:42] moorepants commented on #148
@whedon recommend-accept

[2021-12-16 19:43] whedon commented on #148
[code]

[2021-12-16 19:43] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-16 19:50] moorepants commented on #148
@openjournals/jose-eics I'm not sure why the generate pdf passes but the recommend accept fails to build the pdf.

[2021-12-16 20:54] labarba commented on #148
@openjournals/dev – Can you have a look at this JOSE submission? The command `@whedon recommend-accept` fails to compile the PDF (but `generate pdf` does work).

[2021-12-17 10:21] dalonsoa commented on #149
@magsol, for some reason, I am unable to tick the checkboxes above as my review progresses. Could you check what is going on?

[2021-12-17 16:53] labarba commented on #104
@rasbt — thank you so much, we've had a real hard time finding reviewers, and will accommodate your schedule. If that's OK, I will assign you now, start the review, and we can re-group in the newly created Review issue 🙏

[2021-12-17 17:14] zenalapp commented on #138
Thanks for catching that @labarba, we have streamlined the paper and pushed those changes.

[2021-12-17 18:15] magsol commented on #149
@dalonsoa I am unsure. @labarba, any reason a reviewer added to the issue would be unable to tick the checkboxes?

[2021-12-17 18:16] magsol commented on #149
@3mmaRand 👋 Hi! How is the review going? Anything I can help with? Any update since the addition of installation instructions?

[2021-12-17 18:21] magsol commented on #144
@tracykteal Hi Tracy! We're waiting on your review before we can move forward with this submission. Any chance of completing your review soon?

[2021-12-17 18:28] labarba commented on #149
It is likely that the reviewer did not accept the invitation from GitHub, which sets the required permissions.

[2021-12-17 18:29] labarba commented on #149
@whedon re-invite @dalonsoa as reviewer

[2021-12-17 18:29] whedon commented on #149
The reviewer already has a pending invite.

@dalonsoa please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-12-17 18:29] magsol commented on #149
Ahhhh. There it is. @dalonsoa please be sure to accept the GitHub invite and let me know if that fixes things.

[2021-12-17 18:30] dalonsoa commented on #149
I've just tried. It says it has expired :(

[2021-12-17 18:31] magsol commented on #149
@whedon re-invite @dalonsoa as reviewer

[2021-12-17 18:32] whedon commented on #149
OK, the reviewer has been re-invited.

@dalonsoa please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2021-12-17 18:32] magsol commented on #149
@dalonsoa Give it another go?

[2021-12-17 18:33] dalonsoa commented on #149
Fantastic! It works. Many thanks!

[2021-12-17 18:34] labarba commented on #138
@whedon generate pdf

[2021-12-17 18:34] whedon commented on #138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00138/jose.00138/10.21105.jose.00138.pdf) :page_facing_up: :point_left:

[2021-12-17 19:17] labarba commented on #138
@whedon accept deposit=true

[2021-12-17 19:17] whedon commented on #138
[code]

[2021-12-17 19:18] whedon commented on #138
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/68
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jose.00138](https://doi.org/10.21105/jose.00138)
2. If everything looks

[2021-12-17 19:19] labarba commented on #138
Congratulations, folks! Your JOSE article is published! 🚀

Huge thanks to our Editor: @JasonJWilliamsNY and Reviewers: @lechten, @ThomasA — we couldn't do this without you 🙏

[2021-12-17 19:19] #138 closed

[2021-12-17 19:19] whedon commented on #138
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00138/status.svg)](https://doi.org/10.21105/jose.00138)

**We need your help!**

Journal of Open Source Educat

[2021-12-18 05:11] 3mmaRand commented on #149
hello @magsol @BrunaPavlack The paper describes the software as aimed at " ..... students who are interested in computational epidemiology. The programs and tutorials are designed to offer good introductory material." I have lots of biology students who would be interested in this! But they wouldn't be able to use it because they would need more instruction for using matlab/octave. So maybe descri

[2021-12-18 16:38] rasbt commented on #104
That sounds like a good plan!

[2021-12-20 19:57] BrunaPavlack commented on #149
Hello @3mmaRand ! Thank you very much for your observation! We have already updated the paper the fact that it is interesting that the user has previous knowledge of Octave or MATLAB. On the other hand, as the organization of the EPIDEMIC code is done in a very didactic way, those students who have first access to these programming languages ​​may also be able to reproduce the simulations. Little

[2021-12-21 06:43] dalonsoa commented on #149
I have a few comments, mostly focussed on the code and the documentation. I have not checked the paper itself, yet:

## Version
There are no tags or releases in the GitHub repo matching the version indicated up in this thread (1.0.0). They should be created.

Although not required by JOSE, I would recomend getting a DOI for the tool via Zenodo or Figshare, for example, to help citing and reproduci

[2021-12-21 13:12] BrunaPavlack commented on #149
Hello @dalonsoa ! Thank you so much for the comments! We are making the adjustments and so to finish we communicate here.

[2021-12-21 16:41] zdelrosario commented on #117
@whedon generate pdf

(Re-building paper with suggested edits.)

[2021-12-21 16:42] whedon commented on #117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: :point_left:

[2021-12-21 17:13] jwagemann commented on #100
Hi @labarba I finished my review and @ConorIA addressed all my comments. Thus, I herewith accept this great training module for publication.
Please let me know if I have to do something specific in order to accept.

[2021-12-21 17:19] zdelrosario commented on #117
@whedon generate pdf

(Re-building paper to correct typos; collect small edits)

[2021-12-21 17:20] whedon commented on #117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00117/jose.00117/10.21105.jose.00117.pdf) :page_facing_up: :point_left:

[2021-12-21 17:31] zdelrosario commented on #117
@ttimbers , @pschloss , @firasm

Many thanks to @pschloss and @firasm for the detailed and helpful comments. *Clearly* it has taken me a long while to respond to this review. A major obstacle for me was finding the time to teach myself some of the GitHub Action trickery necessary to fully address the reviewer comments. However, I believe I have found a solution that substantially improves the infr

[2021-12-21 20:08] labarba commented on #100
Thank you, @jwagemann and @JeremyFyke, for completing your reviews of this JOSE submission.

@ConorIA – please merge all pending PRs that complete your revisions. I will not review open PRs, but will review your final paper. Please run `@whedon generate pdf` in a comment here when ready.

[2021-12-21 21:27] ConorIA commented on #100
@whedon generate pdf

[2021-12-21 21:27] whedon commented on #100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: :point_left:

[2021-12-22 01:14] ConorIA commented on #100
@whedon generate pdf

[2021-12-22 01:14] whedon commented on #100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: :point_left:

[2021-12-22 01:19] ConorIA commented on #100
Hi @labarba, made some changes to paper.md to make sure changes in terminology in the manual are reflected in the paper (and minor changes to time-specific information). Ready for you!

[2021-12-22 21:45] cicirello commented on #140
@whedon commands

[2021-12-22 21:45] whedon commented on #140
Here are some things you can ask me to do:

[code]

[2021-12-22 21:47] cicirello commented on #140
@whedon check references

[2021-12-22 21:47] whedon commented on #140
[code]

[2021-12-22 21:49] cicirello commented on #140
@whedon generate pdf

[2021-12-22 21:49] whedon commented on #140
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00140/jose.00140/10.21105.jose.00140.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00140/jose.00140/10.21105.jose.00140.pdf) :page_facing_up: :point_left:

[2021-12-22 22:07] turketwh commented on #140
@labarba @cicirello I have (effectively) finished my review of this JOSE submission.  I have left the *Version* box under the *General checks* criteria unchecked, as I believe the version in the repository is 3.1.0, while it was originally submitted as version 3.0 (as indicated at the top of this review issue).

I asked the author to address three concerns during the review process, impacting the

[2021-12-23 00:58] cgentemann commented on #131
@labarba hi lorena. sorry, i'm a little confused about the review process.
I see the reviewer (checklist)[https://openjournals.readthedocs.io/en/jose/review_checklist.html#]
Do I just post here with the checklist eg:

- [x] I confirm that I read and will adhere to the JOSE code of conduct.
- [x] Repository
and so on?
thanks, sorry it has taken me a while to get to this. Happy holidays!

[2021-12-23 08:39] sebastianrosenzweig commented on #148
@whedon generate pdf

[2021-12-23 08:39] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-23 08:48] sebastianrosenzweig commented on #148
@whedon generate pdf

[2021-12-23 08:48] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-23 08:49] sebastianrosenzweig commented on #148
@whedon generate pdf from branch master

[2021-12-23 08:49] whedon commented on #148
[code]

[2021-12-23 08:49] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-23 08:53] sebastianrosenzweig commented on #148
@whedon generate pdf from branch master

[2021-12-23 08:53] whedon commented on #148
[code]

[2021-12-23 08:53] whedon commented on #148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: :point_left:

[2021-12-23 08:58] sebastianrosenzweig commented on #148
Sorry for the spam, I just checked whether this could be a formatting issue of the pdf, but no insights here... I reverted my changes such that the pdf builds again.

[2021-12-23 10:20] moorepants commented on #148
@whedon recommend-accept

[2021-12-23 10:20] whedon commented on #148
[code]

[2021-12-23 10:20] whedon commented on #148
PDF failed to compile for issue #148 with the following error:
[code]

[2021-12-23 10:47] moorepants commented on #148
@sebastianrosenzweig I found this: https://github.com/openjournals/joss-reviews/issues/3326#issuecomment-883273118 you can see that the PR to the library edited the metadata file to change something about how the bib file was selected. Can you check that out and see if the fix relates to your metadata?

[2021-12-23 11:24] sebastianrosenzweig commented on #148
@whedon generate pdf from branch master

[2021-12-23 11:24] whedon commented on #148
[code]

[2021-12-23 11:24] whedon commented on #148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00148/jose.00148/10.21105.jose.00148.pdf) :page_facing_up: :point_left:

[2021-12-23 11:25] sebastianrosenzweig commented on #148
@moorepants Thanks for the hint! I hope this fixes the issue! :-)

[2021-12-23 14:13] moorepants commented on #148
I think that you'll need to make a new version and zenodo upload so that it captures the correct version.

[2021-12-23 14:17] cicirello commented on #140
@turketwh thank you for your feedback during the review process. It was valuable in improving the paper and documentation, etc.