[2019-01-16 20:06] labarba commented on #35
😱

[2019-01-16 20:07] wrightaprilm commented on #35
That was surprising! Not even a little bit what I expected to occur.

I added back in the string expansion block. There were two of them. It's compiling on local via R's Knitr machinery.

[2019-01-16 20:41] labarba commented on #35
@whedon generate pdf

[2019-01-16 20:41] whedon commented on #35
[code]

[2019-01-16 20:42] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-16 20:46] labarba commented on #35
It compiles that way ... I notice that two references bleed out of the right margin (long DOIs). Can you think of any way to fix that? @arfon, we may still need your help here, sorry!

[2019-01-16 20:50] wrightaprilm commented on #35
It's such an odd format for a DOI. I also see a render issue in the references on a hyphenated first name. I'll wait to push my fix until I hear back on this issue.

[2019-01-16 21:05] arfon commented on #35
Lemme see what I can do. I think https://github.com/openjournals/whedon/pull/39 might fix this.

[2019-01-16 21:35] arfon commented on #35
Unfortunately this is a non-trivial fix. I can fix one of the DOI strings but the longer one is going to require some work. @labarba - it's up to you how we proceed from here.

[2019-01-16 21:37] labarba commented on #35
@arfon — What if we publish it, wait for the fix, then fix the PDF and update the Crossref deposit? The downside is remembering to do this — I find it ugly to have a published paper with a broken layout.

[2019-01-16 21:40] labarba commented on #35
@wrightaprilm Another option is for you to use the initial only for the second author and also abbreviate the journal title, in the hopes the DOI moves left enough.

Abbreviation from: http://images.webofknowledge.com/images/help/WOS/A_abrvjt.html
AMERICAN BIOLOGY TEACHER
	AM BIOL TEACH

[2019-01-16 21:51] wrightaprilm commented on #35
Let me play with it a bit tomorrow. If I clone [Whedon](https://github.com/openjournals/whedon), I can compile within template on my local, correct? That way I can goof around without bothering everyone?

Thanks for all your help - what a weird little hiccup!

[2019-01-16 21:54] labarba commented on #35
Please note this issue I just opened: https://github.com/wrightaprilm/treesiftr/issues/5

[2019-01-16 21:55] labarba commented on #35
@wrightaprilm — You can use the command `@whedon generate pdf` here, yourself, to see how your changes affect the compiled paper.

[2019-01-16 22:48] whedon opened #39 "[PRE REVIEW]: A graduate student-led participatory live-coding quantitative methods course in R: Experiences on initiating, developing, and teaching"
**Submitting author:** @lwjohnst86 (<a href="http://orcid.org/0000-0003-4169-2616">Luke W. Johnston</a>)
**Repository:** <a href="https://github.com/UofTCoders/rcourse" target ="_blank">https://github.com/UofTCoders/rcourse</a>
**Version:** v2.1.0
**Editor:** @juanklopper
**Reviewers:** @jhollist, @MattForshaw

**Author instructions**

Thanks for submitting your paper to JOSE @lwjohnst86. The JOSE

[2019-01-16 22:48] whedon commented on #39
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tracykteal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@tracykteal) to find some reviewer

[2019-01-16 22:48] whedon commented on #39
[code]

[2019-01-16 22:48] whedon commented on #39
PDF failed to compile for issue #39 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/l

[2019-01-16 22:49] labarba commented on #39
@whedon generate pdf

[2019-01-16 22:49] whedon commented on #39
[code]

[2019-01-16 22:49] whedon commented on #39
PDF failed to compile for issue #39 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/l

[2019-01-16 22:53] labarba commented on #39
Hi @lwjohnst86 👋 — you are missing an ORCID for co-author Lindsay Coome.

[2019-01-16 22:55] labarba commented on #39
👋  @tracykteal — The submitting author requested you as handling author. Ping me if you have any issues!

[2019-01-17 01:14] arfon commented on #35
Yes, I think we should do this.

[2019-01-17 10:58] tracykteal commented on #39
@whedon assign @tracykteal as editor

[2019-01-17 10:58] whedon commented on #39
OK, the editor is @tracykteal

[2019-01-17 11:38] lwjohnst86 commented on #39
@labarba Do all authors need to have an ORCID? She doesn't have one.

[2019-01-17 12:59] labarba commented on #39
JOSE needs all authors to have an ORCID. Can you request that she get one?

[2019-01-17 14:13] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 14:13] whedon commented on #35
[code]

[2019-01-17 14:13] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 14:20] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 14:20] whedon commented on #35
[code]

[2019-01-17 14:20] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 14:25] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 14:25] whedon commented on #35
[code]

[2019-01-17 14:25] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 14:32] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 14:32] whedon commented on #35
[code]

[2019-01-17 14:33] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 14:35] wrightaprilm commented on #35
All right, I zapped one of them. There's still a tiny bit of template breaking on the phylogeny.io citation, but I'm happy enough with it. I'd be fine to go ahead, then fix it later.

[2019-01-17 16:34] labarba commented on #35
Feng & Doolittle (1987) has a DOI (not listed): https://doi.org/10.1007/BF02603120
(also, please capitalize the journal name)

Felsenstein (1973) does,  too:
https://doi.org/10.1093/sysbio/22.3.240

Felsenstein (1978) is
https://doi.org/10.2307/2412810

Gower & Ross (1969) is http://doi.org/10.2307/2346439

... please go down the reference list and add any more missing DOIs.

[2019-01-17 19:08] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 19:08] whedon commented on #35
[code]

[2019-01-17 19:09] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 19:12] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 19:12] whedon commented on #35
[code]

[2019-01-17 19:13] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 19:14] wrightaprilm commented on #35
All right, got 'em. I also fixed a couple title case issues - R as a solo letter in an article title needs to be {R} to escape auto-format.

[2019-01-17 20:07] arfon commented on #35
@labarba @wrightaprilm - the margin bug should also now be fixed because of the changes in https://github.com/openjournals/whedon/pull/39.

[2019-01-17 20:14] labarba commented on #35
@whedon accept

[2019-01-17 20:14] whedon commented on #35
[code]

[2019-01-17 20:14] whedon commented on #35
PDF failed to compile for issue #35 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    1

[2019-01-17 20:19] labarba commented on #35
I just tried to compile locally with `whedon download` then `whedon compile`, and I get a similar error message. Strange that `@whedon generate pdf` on here works, but `whedon compile` fails. Aren't they supposed to be doing the same thing, @arfon?

[2019-01-17 20:21] labarba commented on #35
My error message:

[code]

[2019-01-17 20:23] labarba commented on #35
@wrightaprilm — I see that you are using a long file `bibliography.bib` as the source of citations. Would it be too annoying to copy and past just the BibTeX entries you are citing in the paper into a `paper.bib` and use that instead?

[2019-01-17 20:33] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 20:33] whedon commented on #35
[code]

[2019-01-17 20:36] wrightaprilm commented on #35
OK, had to fix one citation to R core, but looks fine. Fingers crossed!

[2019-01-17 20:37] labarba commented on #35
@whedon accept

[2019-01-17 20:37] whedon commented on #35
[code]

[2019-01-17 20:38] whedon commented on #35
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/24

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/24, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-17 20:57] wrightaprilm commented on #35
OK, looks good!

[2019-01-17 21:32] labarba commented on #35
Nope ... some DOI links are broken. See screenshot.

<img width="625" alt="screen shot 2019-01-17 at 4 29 47 pm" src="https://user-images.githubusercontent.com/4800109/51350155-794b8900-1a75-11e9-8ffb-5c0c1a2f4e40.png">

[2019-01-17 21:43] arfon commented on #35
I think bibtex expects `doi` fields in `paper.bib` to be of the form `10.1662/0002-7685(2007)69[71:csmaet]2.0.co;2` not `https://doi.org/10.1662/0002-7685(2007)69[71:csmaet]2.0.co;2`. Entries like this one need updating:
https://github.com/wrightaprilm/treesiftr/blob/master/paper.bib#L181

[2019-01-17 21:44] wrightaprilm commented on #35
Right, just went ahead and stripped off the `https' wrappers. Will re-render.

[2019-01-17 21:44] wrightaprilm commented on #35
@whedon compile pdf

[2019-01-17 21:45] wrightaprilm commented on #35
@whedon generate pdf

[2019-01-17 21:45] whedon commented on #35
[code]

[2019-01-17 21:46] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00035/jose.00035/10.21105.jose.00035.pdf)

[2019-01-17 21:49] labarba commented on #35
Checking all the links and ... http://ggplot2.org shows "not found"?

[2019-01-17 21:50] labarba commented on #35
Did you want this URL instead?
https://ggplot2.tidyverse.org

[2019-01-17 22:07] wrightaprilm commented on #35
I changed the link in my .bib. That's from the maintainer's own bibtex entry on their site. I should probably make a pull request and let them know its broken. Good catch!

[2019-01-17 22:10] labarba commented on #35
@whedon accept

[2019-01-17 22:10] whedon commented on #35
[code]

[2019-01-17 22:11] whedon commented on #35
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/25

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/25, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-17 22:16] labarba commented on #35
@whedon accept deposit=true

[2019-01-17 22:16] whedon commented on #35
[code]

[2019-01-17 22:17] whedon commented on #35
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/26
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00035](https://doi.org/10.21105/jose.00035)
2. If everything looks goo

[2019-01-17 22:20] labarba commented on #35
Congratuations, @wrightaprilm, your paper is published! 🎉
(you made us work hard for this one, phew!)

Big thank you to your handling editor, @juanklopper
and your reviewers, @ethanwhite and @rachelss
🙏

[2019-01-17 22:20] #35 closed

[2019-01-17 22:20] whedon commented on #35
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00035/status.svg)](https://doi.org/10.21105/jose.00035)

**We need your help!**

Journal of Open Source Educat

[2019-01-18 02:47] DamienIrving commented on #37
@labarba Now that I've checked the proofs (I fixed a minor typo as a result), is there anything else I need to do?

[2019-01-19 00:46] labarba commented on #37
Thanks for the ping, @DamienIrving !

Please make an archive in Zenodo and post the DOI here. Make sure to edit the metadata (title and author list) to match your JOSS paper. Thanks!

[2019-01-19 00:53] labarba commented on #37
Minor edits:

¶ 1 — comma after e.g.
¶ 2 — "it is also possible work through" > missing preposition "to"
comma after i.e.
(same at start of page 2, and ¶ 2 of page 2, and last paragraph)
period after etc

[2019-01-20 01:09] labarba commented on #25
@arokem — I think we're waiting on you to review the latest changes. Can you give us an update? Thanks!

[2019-01-21 22:51] DamienIrving commented on #37
@labarba Done :smile:

[![DOI](https://zenodo.org/badge/117483226.svg)](https://zenodo.org/badge/latestdoi/117483226)

[2019-01-21 22:53] labarba commented on #37
@whedon set 10.5281/zenodo.2546005 as archive

[2019-01-21 22:53] whedon commented on #37
OK. <a href="https://doi.org/10.5281/zenodo.2546005" target="_blank">10.5281/zenodo.2546005</a> is the archive.

[2019-01-21 22:55] labarba commented on #37
@whedon accept

[2019-01-21 22:55] whedon commented on #37
[code]

[2019-01-21 22:55] whedon commented on #37
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/27

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/27, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-21 22:57] labarba commented on #37
@whedon accept deposit=true

[2019-01-21 22:57] whedon commented on #37
[code]

[2019-01-21 23:08] labarba commented on #37
Yay! Congratulations, @DamienIrving, your paper is published in JOSE and the DOI is active.

A big thank you to your editor, @willingc,  and your reviewers: @darothen, @RobTheOceanographer 🙏

[2019-01-21 23:10] DamienIrving commented on #37
Thanks @willingc, @darothen, @RobTheOceanographer for the review and also @labarba for your efforts in establishing JOSE.

[2019-01-21 23:13] labarba commented on #37
https://twitter.com/JOSE_TheOJ/status/1087488157803794433

[2019-01-22 18:15] moorepants commented on #38
I have the first reviewer. Chris Dembia is a PhD candidate at Stanford in the Neuromuscular Biomechanics Lab and a core developer on the Simbody and Opensim projects. He has also worked with Python and SymPy.

@whedon add @chrisdembia as reviewer

[2019-01-22 18:38] moorepants commented on #38
@vsoch I see that you gave a thumbs up to the last message and were mentioned above. Would you like to be a reviewer of this article?

[2019-01-22 18:41] moorepants commented on #38
@whedon assign @chrisdembia as reviewer

[2019-01-22 18:41] whedon commented on #38
OK, the reviewer is @chrisdembia

[2019-01-26 00:44] chrisdembia commented on #38
Please address the following questions in the way you find most appropriate.

1. For what size problems do you expect the tools to function well? It might be good to document the problem size you expect. For example, it seems that the web interface might not properly display results for problems with hundreds of equations and variables.

2. What are some concrete intended use case? Will the softwa

[2019-01-26 16:50] labarba commented on #38
👋  @moorepants — Did you plan to have a second reviewer for this submission?

@chrisdembia — Thanks for providing these comments to the author… they can start working on revisions already, but with respect to the JOSE process, we're still in the PRE-REVIEW issue. When the editor has finished assigning the reviewer(s) they recruit for a submission, they start the review with a command here (`@whedo

[2019-01-26 17:00] labarba commented on #39
👋  @lwjohnst86 — Did you talk with your co-author about getting an ORCID? We'll need that to process the paper. Let us know!

[2019-01-26 17:59] lwjohnst86 commented on #39
Yes, they finally responded just last night. I will updated now. I assume I just make that change to the repo and not have to make a new tag?

[2019-01-26 18:15] labarba commented on #39
Just make the change in the paper metadata! Then you can run `@whedon generate pdf` yourself to feel the power of our bot.

[2019-01-26 18:30] lwjohnst86 commented on #39
Amazing!! Looks great :smile:

[2019-01-27 13:31] whedon opened #40 "[PRE REVIEW]: A course on Geographic Data Science"
**Submitting author:** @darribas (<a href="http://orcid.org/0000-0002-6274-1619">Daniel Arribas-Bel</a>)
**Repository:** <a href="https://github.com/darribas/gds18" target ="_blank">https://github.com/darribas/gds18</a>
**Version:** v4.0
**Editor:** @labarba
**Reviewers:** @lheagy, @jsta

**Author instructions**

Thanks for submitting your paper to JOSE @darribas. The JOSE editor (shown at the top

[2019-01-27 13:32] whedon commented on #40
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@labarba) to find some reviewers for

[2019-01-27 13:32] whedon commented on #40
[code]

[2019-01-27 13:32] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 Can't find any papers to compile :-(

[2019-01-27 13:38] labarba commented on #40
@whedon generate pdf

[2019-01-27 13:41] labarba commented on #40
👋  @lheagy — Would you like to review this submission to JOSE? Looks right up your alley! (If you're unable, could you recommend someone else? Thanks!)

[2019-01-27 13:45] whedon opened #41 "[PRE REVIEW]: Tutorial for Developing Image-Guided Intervention Modules Using 3D Slicer"
**Submitting author:** @lgroves6 (<a href="http://orcid.org/0000-0002-9654-9190">Leah Groves</a>)
**Repository:** <a href="https://github.com/lgroves6/IGTTutorialWebsite" target ="_blank">https://github.com/lgroves6/IGTTutorialWebsite</a>
**Version:** v1.0.0
**Editor:** @juanklopper
**Reviewers:** @jcfr, @fedorov

**Author instructions**

Thanks for submitting your paper to JOSE @lgroves6. The JOS

[2019-01-27 13:45] whedon commented on #41
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juanklopper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@juanklopper) to find some review

[2019-01-27 13:45] whedon commented on #41
[code]

[2019-01-27 13:45] whedon commented on #41
Failed to discover a valid open source license.

[2019-01-27 13:45] whedon commented on #41
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00041/jose.00041/10.21105.jose.00041.pdf)

[2019-01-27 18:05] moorepants commented on #38
Yes, I'm trying to get a second reviewer. It isn't clear to me if we can go to the actual review issue without that person yet. Should we?

[2019-01-27 18:11] labarba commented on #38
Well ... if you start the review now, then adding a second reviewer on the review issue will be a manual process (edit the first post to copy and paste the checklist, manually add user to team).

You need to add the reviewer here, _then_ start the review to automatically get both the checklist for both reviewers and their permissions to edit.

[2019-01-27 18:19] moorepants commented on #38
Ok, I'm still working on the second reviewer. We will wait till I get it. In the mean time, @CameronDevine can informally work on @chrisdembia's suggestions.

[2019-01-27 19:17] lheagy commented on #40
Hi @labarba: This looks really interesting! I would be happy to review :)

[2019-01-27 19:52] labarba commented on #40
@whedon generate pdf

[2019-01-27 19:52] whedon commented on #40
[code]

[2019-01-27 19:53] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00040/jose.00040/10.21105.jose.00040.pdf)

[2019-01-27 20:07] labarba commented on #40
@whedon check references

[2019-01-27 20:07] whedon commented on #40
[code]

[2019-01-27 20:07] whedon commented on #40
[code]

[2019-01-28 11:43] juanklopper commented on #41
@lgroves6 thank you for your submission.  I am a couple of hours late to reply, but it's been a busy weekend of gunshot violence here in Cape Town and I have been operating 'till early morning every day.  No 3D image guidence here.  Just my two hands and a scalpel. :)

I'd love to learn more about your project.  I note that @labarba has mentioned that a README file is a good place to start.  Could

[2019-01-28 12:01] labarba commented on #40
@whedon check references

[2019-01-28 12:02] whedon commented on #40
[code]

[2019-01-28 12:34] labarba commented on #40
@darribas : You shouldn't use the `doi` field for ISBNs (that turns into a broken link). The two "missing DOIs" suggested by `whedon` are false leads.

[2019-01-28 12:35] labarba commented on #40
Also, you need { } around GIS in https://github.com/darribas/gds18/blob/1cac024f860caa9bbd31b47df937b9377daf724a/paper.bib#L83

[2019-01-28 13:35] jsta commented on #40
I'm happy to contribute a review on this paper @labarba

[2019-01-28 15:04] labarba commented on #40
@whedon add @jsta as reviewer

[2019-01-28 15:04] whedon commented on #40
OK, @jsta is now a reviewer

[2019-01-28 15:05] labarba commented on #40
@whedon start review

[2019-01-28 15:05] whedon opened #42 "[REVIEW]: A course on Geographic Data Science"
**Submitting author:** @darribas (<a href="http://orcid.org/0000-0002-6274-1619">Daniel Arribas-Bel</a>)
**Repository:** <a href="https://github.com/darribas/gds18" target ="_blank">https://github.com/darribas/gds18</a>
**Version:** v4.1
**Editor:** @labarba
**Reviewer:** @lheagy, @jsta
**Archive:** <a href="https://doi.org/10.5281/zenodo.2650534" target="_blank">10.5281/zenodo.2650534</a>

## Sta

[2019-01-28 15:05] whedon commented on #40
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/42. Feel free to close this issue now!

[2019-01-28 15:05] whedon commented on #42
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably cur

[2019-01-28 15:05] whedon commented on #42
[code]

[2019-01-28 15:05] #40 closed

[2019-01-28 15:06] labarba commented on #42
@lheagy, @jsta  — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-01-28 15:06] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00042/jose.00042/10.21105.jose.00042.pdf)

[2019-01-29 17:53] whedon opened #43 "[PRE REVIEW]: Aero Python: classical aerodynamics of potential flow using Python"
**Submitting author:** @labarba (<a href="http://orcid.org/0000-0001-5812-2711">Lorena A. Barba</a>)
**Repository:** <a href="https://github.com/barbagroup/AeroPython" target ="_blank">https://github.com/barbagroup/AeroPython</a>
**Version:** 0.0
**Editor:** @kyleniemeyer
**Reviewers:** @weymouth, @Juanlu001

**Author instructions**

Thanks for submitting your paper to JOSE @labarba. The JOSE edit

[2019-01-29 17:53] whedon commented on #43
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@kyleniemeyer) to find some revi

[2019-01-29 17:53] whedon commented on #43
[code]

[2019-01-29 17:53] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     68      0 --:--:-- --:--:-- --:--:--    68
sh: 0: getcwd() fai

[2019-01-29 17:54] labarba commented on #43
@whedon generate pdf

[2019-01-29 17:54] whedon commented on #43
[code]

[2019-01-29 17:54] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00043/jose.00043/10.21105.jose.00043.pdf)

[2019-01-29 17:58] labarba commented on #43
👋 @kyleniemeyer — This is the second JOSE submission from Barbagroup. Thanks for editing!

[2019-01-29 18:05] labarba commented on #43
As for reviewers, @Juanlu001 just finished a review for JOSS, but he'd be great for this one; I hope he'd be willing to volunteer the time 😁
If not, maybe he can suggest someone else from the @AeroPython network? (name coincidence! see [tweet](https://twitter.com/LorenaABarba/status/464041427169583104) from 2014)

[2019-01-29 22:55] kyleniemeyer commented on #43
@labarba Yep, I've got this one! It may take me a few days but I will work on finding some reviewers, if those you mentioned are not available.

[2019-01-29 23:43] labarba commented on #38
JOSE published the [Pynamical](http://jose.theoj.org/papers/8e0d222df1d4e63dcf61bebcb643714a) package as one of its first papers. Maybe its author, @gboeing could be interested in contributing a review of the current submission?

[2019-01-30 01:37] gboeing commented on #38
@labarba @moorepants sure, I could review this.

[2019-01-30 01:54] labarba commented on #38
@whedon add @gboeing as reviewer

[2019-01-30 01:54] whedon commented on #38
OK, @gboeing is now a reviewer

[2019-01-30 01:54] labarba commented on #38
@whedon start review

[2019-01-30 01:54] whedon opened #44 "[REVIEW]: StateMint: A Set of Tools for Determining Symbolic Dynamic System Models Using Linear Graph Methods"
**Submitting author:** @CameronDevine (<a href="http://orcid.org/0000-0002-6579-111X">Cameron Devine</a>)
**Repository:** <a href="https://github.com/CameronDevine/StateMint" target ="_blank">https://github.com/CameronDevine/StateMint</a>
**Version:** 2.1.0
**Editor:** @moorepants
**Reviewer:** @chrisdembia, @gboeing
**Archive:** <a href="https://doi.org/10.5281/zenodo.2633330" target="_blank">10.

[2019-01-30 01:54] whedon commented on #38
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/44. Feel free to close this issue now!

[2019-01-30 01:54] whedon commented on #44
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chrisdembia, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probabl

[2019-01-30 01:54] whedon commented on #44
[code]

[2019-01-30 01:55] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00044/jose.00044/10.21105.jose.00044.pdf)

[2019-01-30 01:56] labarba commented on #44
👋  @chrisdembia, @gboeing — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-01-30 01:56] #38 closed

[2019-01-30 01:58] labarba commented on #44
@CameronDevine — please bear in mind the comments that @chrisdembia posted on the Pre-Review issue: https://github.com/openjournals/jose-reviews/issues/38#issuecomment-457782845

@chrisdembia — feel free to re-post those comments here, if you wish.

[2019-01-30 03:11] moorepants commented on #38
Great, thanks!

[2019-01-30 03:12] moorepants commented on #44
Yes, @chrisdembia please repost those comments here, so we keep things in one place.

[2019-01-30 09:48] weymouth commented on #43
I'm happy to do a review

Gabriel D Weymouth
_______________________________________________
"Computers are useless. They can only give you answers." Pablo Picasso

On Tue, Jan 29, 2019 at 11:30 PM Lorena A. Barba <notifications@github.com>
wrote:

[2019-01-30 16:22] lgroves6 commented on #41
Hello Juan,

Sorry for the late reply, I hope this e-mail find you well. I hope the gun violence has since settled down. I have populated the ReadMe file for you to review.

Please let me know what the next steps are.

Regards,

Leah
From: Dr Juan H Klopper<mailto:notifications@github.com>
Sent: Monday, January 28, 2019 6:43 AM
Subject: Re: [openjournals/jose-reviews] [PRE REVIEW]: Tutorial for De

[2019-01-30 17:17] chrisdembia commented on #44
Please address the following questions in the way you find most appropriate.

1. For what size problems do you expect the tools to function well? It might be good to document the problem size you expect. For example, it seems that the web interface might not properly display results for problems with hundreds of equations and variables.

2. What are some concrete intended use case? Will the softwa

[2019-01-30 23:58] Juanlu001 commented on #43
Beautiful coincidence indeed :) I agree that @AlexS12 would be a great reviewer for this one, but if he's busy I will gladly do it myself (starting next week)

[2019-01-31 04:10] kyleniemeyer commented on #43
@weymouth @Juanlu001 I'd appreciate reviews from both of you, thanks! No worry on waiting until next week or so.

[2019-01-31 04:13] kyleniemeyer commented on #43
@whedon add @weymouth as reviewer

[2019-01-31 04:13] whedon commented on #43
OK, @weymouth is now a reviewer

[2019-01-31 04:13] kyleniemeyer commented on #43
@whedon add @Juanlu001 as reviewer

[2019-01-31 04:13] whedon commented on #43
OK, @Juanlu001 is now a reviewer

[2019-01-31 04:14] whedon opened #45 "[REVIEW]: Aero Python: classical aerodynamics of potential flow using Python"
**Submitting author:** @labarba (<a href="http://orcid.org/0000-0001-5812-2711">Lorena A. Barba</a>)
**Repository:** <a href="https://github.com/barbagroup/AeroPython" target ="_blank">https://github.com/barbagroup/AeroPython</a>
**Version:** v1.0
**Editor:** @kyleniemeyer
**Reviewer:** @weymouth, @Juanlu001
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.1004727.v4" target="_blank">10.6

[2019-01-31 04:14] whedon commented on #45
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @weymouth, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably c

[2019-01-31 04:14] whedon commented on #45
[code]

[2019-01-31 04:14] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00045/jose.00045/10.21105.jose.00045.pdf)

[2019-01-31 04:14] #43 closed

[2019-01-31 04:15] kyleniemeyer commented on #45
👋 @weymouth @Juanlu001 @labarba the actual review will take place here; please note the separate review checklists above

[2019-02-02 13:10] labarba commented on #39
👋  @tracykteal — Any ideas for reviewers here?

[2019-02-02 13:12] labarba commented on #41
@lgroves6 — I'm confused ... I don't see any updates on your README.md: still empty!

[2019-02-02 13:14] labarba commented on #25
Status update, @arokem ?

[2019-02-03 15:17] juanklopper commented on #41
@lgroves6 from what I can see, it is an _exceptional_ (static) instructional resource.  I need to hear from @labarba, though, how she sees it fit into our developing ideas around the type of resource we accept for publication.  This is a journal for publishing computational learning modules and educational software according to our website.  A good start therefor would probably be to refer to the

[2019-02-03 15:38] lgroves6 commented on #41
Hello again,

I am confused as to why you are unable to view the README file. Please try to view it through this link https://github.com/lgroves6/Tutorial-for-developing-image-guided-intervention-modules-using-3D-slicer/blob/master/README.md.

Let me know if this works.

Regards,

Leah

________________________________
From: Lorena A. Barba <notifications@github.com>
Sent: Saturday, February 2, 20

[2019-02-04 13:32] labarba commented on #41
I agree with @juanklopper that the use of the term "blog" is confusing. A blog is a rolling sequence of dated posts, often written in personal tones. I don't see that you have dated posts on this webpage. Why call it a blog?

[2019-02-04 17:35] lgroves6 commented on #41
Hello all,

I have updated the proper README file, as I didn’t realize I had updated the wrong directory. It is now within the proper directory and can be found at this link:
https://github.com/lgroves6/IGTTutorialWebsite/blob/master/paper.md. I have also removed the work blog from the README and paper.md files. You are correct that the term blog is perhaps not the best vocabulary, so we are very

[2019-02-04 20:13] tracykteal commented on #39
Thanks, I've sent out emails. Will add here once they respond.

[2019-02-07 14:26] moorepants commented on #44
@CameronDevine, you are welcome to start work on addressing @chrisdembia's review if you have not yet started.

@gboeing, we have not heard from you in over a week. Can you update us on the status of your review?

[2019-02-07 14:28] gboeing commented on #44
@moorepants I'll be able to complete this by early next week.

[2019-02-07 14:46] moorepants commented on #44
Sounds great!

[2019-02-09 21:25] labarba commented on #25
Followed up by email with @arokem now.

👋  @ThomasA — I don't see any checked items on your list. Have you been able to work on this review for JOSE? Give us an update when you can. Thanks!

[2019-02-09 21:48] arokem commented on #25
Sorry for the slowness. I will comment on that PR.

Any other thoughts about the comments I made [above](https://github.com/openjournals/jose-reviews/issues/25#issuecomment-423789775)? It looks like much of my feedback in these comments has not been incorporated yet.

[2019-02-10 21:58] kmader commented on #25
@arokem I focused on the concrete issues first because they were easier to address. As for the comments

Unfortunately I was only able to ensure recordings on the lecture I held myself and thus the others were not done.

Detailed narrative notes would be nice but the time required to remake all of the slides notes and narratives would be on the order of weeks to months (which I don't imagine havin

[2019-02-10 23:19] lheagy commented on #42
Congrats on a really nice course @darribas! They are interesting examples and are well-explained. I have a few review comments, and once these are addressed I think it will be ready for publication

## review comments
- [ ] darribas/gds18#1: the repo license (cc-by-nc-sa) is different than the license stated in the README and on the website (cc-by) (@labarba, does JOSE have any concerns with the '

[2019-02-11 13:09] labarba commented on #25
Here's the thing, @kmader. You have collected years of materials from your course in one GitHub repository, but this is not what JOSE was designed to publish. One of the key ideas for JOSE publications is that the material be _reusable_ by other instructors or self-learners. Also, we write in the journal's scope:

As a general rule, it's nearly impossible for instructors to re-use slide decks prep

[2019-02-11 13:20] kmader commented on #25
Thanks for that info @labarba , I guess in that case it won't make sense to make this repo as it is into a JOSE publication (students still use the repo and it would not be fair to them to remove possibly useful materials to make it conform with JOSE's requirements).
I think I had originally misunderstood the exact purpose of JOSEs work and had incorrectly assumed it was meant to be open-source ma

[2019-02-11 14:48] labarba commented on #25
Here's an idea: you could create a new repository with the Jupyter notebooks, polish them a little bit to make them self-contained with references out to the vids, etc. as supplementary, and then include that repo in your main course one as a GitHub module. The JOSE paper would be associated with the sub-module repo.

[2019-02-12 13:10] jsta commented on #42
This paper and course material looks quote good to me. I focused my review on the `labs` portion of the repository. In addition to the comments by @lheagy, I had several ideas for improvement:

# review comments

* Does the conda file specify all the dependencies including ones required for the optional excercises? (https://github.com/darribas/gds18/issues/2)

# minor fixes

* In the lab01 noteboo

[2019-02-14 05:04] moorepants commented on #44
@gboeing Can you give us a status update?

[2019-02-14 15:10] gboeing commented on #44
Overall, the software looks useful and the web interface is very attractively designed. The paper is pretty clear and well-written. Regarding revisions/issues: rather than duplicating them all here, I'll start by saying that @chrisdembia's review covered most of the points I wanted to make. In addition, I have opened two issues in the software's repo https://github.com/CameronDevine/StateMint/issu

[2019-02-14 15:14] moorepants commented on #44
Fantastic! @chrisdembia and @gboeing, thank you both for you careful and thoughtful reviews.

@CameronDevine The reviewers' comments and requests seem appropriate. The ball is now in your court to address the reviews. Please do so and keep us up-to-date here on your progress or with any questions/comments you have.

[2019-02-14 16:27] juanklopper commented on #41
Thanks @lgroves6 I am happy with those changes.  Perhaps it is time to consider approaching reviewers.  You are free to suggest potential experts.  @labarba do you have anyone in mind that we may approach?

[2019-02-19 01:01] lgroves6 commented on #41
Hello again,

I have reach out to a few experts who are interested in being potential reviewers. They are all experts as they are some of the major 3D Slicer developers.

Reviewer information:
 Jean-Christophe Fillion-Robin (@jcfr, jcfr@kitware.com)
  Andrey Fedorov (@fedorov, fedorov@bwh.harvard.edu)
  Matt M (@thewtex, matt.mccormick@kitware.com)

Please let me know if there is any additional in

[2019-02-23 00:29] CameronDevine commented on #44
@whedon generate pdf

[2019-02-23 00:29] whedon commented on #44
[code]

[2019-02-23 00:29] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00044/jose.00044/10.21105.jose.00044.pdf)

[2019-02-23 01:43] CameronDevine commented on #44
I have addressed the issues in @chrisdembia's pull request, but am waiting to close it until I get confirmation I have sufficiently answered his questions. I have a few more items to address in @chrisdembia's comment on this issue. After that I will work on @gboeing's issues.

[2019-02-24 21:12] CameronDevine commented on #44
@chrisdembia Below are my responses to your comments.

The question about the web interface is addressed below. Doing a couple tests I found that solving for the state equation of N independent RC filters is O(N). However, solving N cascaded RC filters was O(e^N^2). So far I have not encountered a problem that was not able to be solved in a reasonable amount of time, except those which I fabricate

[2019-02-25 00:49] moorepants commented on #44
The pedagogical soundness is asking for you to justify why your software/lesson is good for teaching and learning. Backing this with some educational research evidence is ideal.

[2019-02-25 07:44] CameronDevine commented on #44
Thank you for the clarification @moorepants.

[2019-02-25 16:50] juanklopper commented on #41
I have contacted these individuals.

[2019-02-25 16:51] juanklopper commented on #41
PS, please let them know about my email address juan.klopper@uct.ac.za  I don't want the post to land up in their spam folders :)

[2019-02-26 03:12] jcfr commented on #41
@lgroves6  Thanks again for involving us in the review process, I will review in the next few days.

[2019-02-26 03:29] fedorov commented on #41
Is this where we should review? The title of the issue says "prereview".

[2019-02-26 16:28] labarba commented on #41
@whedon assign @jcfr as reviewer

[2019-02-26 16:28] whedon commented on #41
OK, the reviewer is @jcfr

[2019-02-26 16:28] labarba commented on #41
@whedon add @fedorov as reviewer

[2019-02-26 16:28] whedon commented on #41
OK, @fedorov is now a reviewer

[2019-02-26 16:29] labarba commented on #41
@whedon start review

[2019-02-26 16:29] whedon opened #46 "[REVIEW]: Tutorial for Developing Image-Guided Intervention Modules Using 3D Slicer"
**Submitting author:** @lgroves6 (<a href="http://orcid.org/0000-0002-9654-9190">Leah Groves</a>)
**Repository:** <a href="https://github.com/lgroves6/IGTTutorialWebsite" target ="_blank">https://github.com/lgroves6/IGTTutorialWebsite</a>
**Version:** v1.0.0
**Editor:** @juanklopper
**Reviewer:** @jcfr, @fedorov
**Archive:** Pending

## Status

[![status](http://jose.theoj.org/papers/6ac66d8b1a941

[2019-02-26 16:29] whedon commented on #41
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/46. Feel free to close this issue now!

[2019-02-26 16:29] whedon commented on #46
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jcfr, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably curre

[2019-02-26 16:29] whedon commented on #46
[code]

[2019-02-26 16:29] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00046/jose.00046/10.21105.jose.00046.pdf)

[2019-02-26 16:29] #41 closed

[2019-02-26 16:31] labarba commented on #46
👋 @jcfr, @fedorov — Thanks for agreeing to review! This is where the action happens. You have a review checklist above, but you should feel free to add any comments in this thread. You may also open issues in the submission repository, as needed, and mention them here, so we get a cross-link.

[2019-02-26 16:32] labarba commented on #46
@lgroves6 — At any point, after you make changes to the paper, you can run the command `@whedon generate pdf` to get a new pre-print here.

[2019-02-26 21:35] CameronDevine commented on #44
@moorepants and @chrisdembia, the following statement is already included in the paper.

in state and input variables and their time-derivatives, alone. It is in these last two steps,
especially the very last, that a student, manually reducing the set of equations, will often make some minor mistake. This is typically of a “book keeping” variety that, if it
teaches the student anything, it is not

[2019-02-26 22:08] moorepants commented on #44
@chrisdembia @gboeing Can you both comment on @CameronDevine's last post? I'll defer to the reviewers on deciding how to handle the pedagogical soundness requirement. I can help provide facts and clarifications.

[2019-02-26 22:56] gboeing commented on #44
In my opinion, a survey is not *necessary* but it would be nice. Certainly more explanation regarding your comment ("Prof. Rico Picone and Prof. Joseph Garbini both have many years of experience teaching system dynamics using linear graph methods. They both agree that this is the area where most students struggle. We could add more to the paper to explain this.") would be helpful to elucidate too.

[2019-02-27 16:40] fedorov commented on #46
@labarba can you confirm this submission is within the scope of this publishing platform?

Reading from the scope of it here http://jose.theoj.org/about

The present submission is a web site with the instructions, YouTube videos, etc.

As I was browsing over other issues in this repo, I also came across an earlier submission (#25), which looked interesting to me, so I read through the discussion t

[2019-02-28 18:36] darribas commented on #42
@jsta: I've addressed your minor fix.2 in #2157538de5fa10f74eb53652aeb72bfbed0afcf5

[2019-02-28 18:46] darribas commented on #42
@jsta: on your minor fix.1, a bit of context: `del foo` and `pandas.drop` do not the same thing exactly. The former removes "in-place" while the latter creates a copy without the columns dropped. Both are useful in different contexts. Based on that, I've decided not to change it. However, I added a bit more of text to illustrate the differences and make them come out more clearly ([d4d8e522f14fce5

[2019-02-28 21:52] lwjohnst86 commented on #39
:wave: Hi, just giving a ping to see what the progress is like. Thanks!

[2019-03-01 09:27] darribas commented on #42
@jsta: on your minor fix.3, I've just gone over every notebook and [replaced/removed](https://github.com/darribas/gds18/compare/d4d8e522f14fce5ebe09f3f5bced20ce3f9eb289...585899888fa13329606e11a5bd4a3f6bc1ec9f24) any instance of "simple", "easy", and "trivial". This has been an incredible wake-up to how the language can influence the student's attitude. I think it's a lot better now. Thanks!

[2019-03-01 18:11] darribas commented on #42
Hello @lheagy and @jsta, I have looked at your issues about the links and access to the data ([`#3`](https://github.com/darribas/gds18/issues/3) and [`#7`](https://github.com/darribas/gds18/issues/7). Very good points both. A few thoughts and things I have(n't) done:

- There is one case (ie. Twitter dataset in Lab 9) where the license of the data does not allow public repackaging. In those cases,

[2019-03-01 18:18] darribas commented on #42
@labarba, @lheagy, @jsta. THANK you very much for going over my paper and project. I really appreciate your insight and comments. I think I have addressed every comment. Where the reviewer had opened an issue, I've responded there; where there was a comment in this thread, I've responded accordingly too. I think that should cover all of your concerns but I'm more than happy to work further on aspe

[2019-03-20 14:47] Juanlu001 commented on #45
Hi all - sorry this is taking me so long. I will try to start the review next week, or the following one at most.

[2019-03-20 15:15] fedorov commented on #46
@labarba can you please let us know your response to the question in the previous comment left 3 weeks ago?

[2019-03-21 17:16] labarba commented on #44
Hi everybody!
We don't require formal evaluation of the learning module, but we expect the author to describe their instructional design and the pedagogy behind it.

I see both reviewers have some items of their review lists unchecked. Are you working on addressing some of the reviewer comments, @CameronDevine?

[2019-03-21 17:17] labarba commented on #42
Hi everybody!

I see a couple of remaining unchecked items in the review lists. Can you all give me a quick update on your status? Thanks!

[2019-03-21 17:19] labarba commented on #39
Hi @tracykteal — this submission is waiting for you to assign reviewers for a while now. Can you update us on your status? Thanks!

[2019-03-21 17:26] labarba commented on #46
Indeed, if the materials submitted for review consist on multi-media instructional resources and a website, that is not what JOSE is looking to publish. We are looking for re-usable and complete learning modules that use "coding to learn" (a.k.a. computational thinking). Any videos or slide decks are only considered supplementary to a JOSE publication.

JOSE publishes tutorials with programming as

[2019-03-21 17:28] labarba commented on #45
Looking forward to your review comments, @weymouth and @Juanlu001 !

[2019-03-21 21:30] whedon opened #47 "[PRE REVIEW]: FDS Python: Fundamentals and Data Structures with Python"
**Submitting author:** @rambasnet (<a href="http://orcid.org/0000-0001-6864-6893">Ram Basnet</a>)
**Repository:** <a href="https://github.com/rambasnet/thinkpythonnotebooks" target ="_blank">https://github.com/rambasnet/thinkpythonnotebooks</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @AllenDowney, @mcburton

**Author instructions**

Thanks for submitting your paper to JOSE @rambasn

[2019-03-21 21:30] whedon commented on #47
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@labarba) to find some reviewers for

[2019-03-21 21:30] whedon commented on #47
[code]

[2019-03-21 21:31] whedon commented on #47
PDF failed to compile for issue #47 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece

[2019-03-21 21:34] labarba commented on #47
👋  @rambasnet — Thanks for your submission! Could you move your bibliography to a `.bib` file? The auto-compilation expects this. Check the [Author Guidelines](http://jose.theoj.org/about#author_guidelines)

[2019-03-22 04:56] lheagy commented on #42
Congrats on a great course @darribas! All good on my end @labarba 🎉

[2019-03-22 12:33] labarba commented on #46
@juanklopper — I see that in the [Pre-Review issue](https://github.com/openjournals/jose-reviews/issues/41#issuecomment-460060385) we already had an exchange about the type of material submitted here, and if it was within scope for JOSE. Nevertheless, we started the review. @fedorov now raises again the in-scope question, having explored the materials further.

I had a bit of trouble finding the [

[2019-03-22 19:22] jsta commented on #42
I checked the remaining items in my review list. I think the paper is good to go. :shipit:

[2019-03-25 17:35] moorepants commented on #44
@chrisdembia @gboeing @CameronDevine Can you all please provide an update as to the status of this review?

[2019-03-25 21:45] CameronDevine commented on #44
@moorepants I believe I have fixed all but two of the issues brought up by @chrisdembia and @gboeing.

1. I will be adding more to the statement of need in the paper later today, and I should have a new version which can be reviewed in the next couple of days.

2. camerondevine/StateMint#10 is still open, and I will use Zenodo to get a DOI number for the source code after the other changes have be

[2019-03-26 18:27] labarba commented on #42
@whedon generate pdf

[2019-03-26 18:27] whedon commented on #42
[code]

[2019-03-26 18:28] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00042/jose.00042/10.21105.jose.00042.pdf)

[2019-03-26 18:38] labarba commented on #42
¶1
conscutive >> typo: consecutive

¶2
Although the content presented is relevant… >> the content presented where? The point you're trying to make here is unclear. And perhaps you could start this paragraph with the second sentence. (Or, you might just delete the first sentence.)

[2019-03-26 18:40] labarba commented on #42
https://github.com/darribas/gds18/pull/11

[2019-03-26 18:42] labarba commented on #42
- [ ] https://github.com/darribas/gds18/pull/12

[2019-03-26 18:54] labarba commented on #42
- [ ] https://github.com/darribas/gds18/pull/13

[2019-03-26 19:00] labarba commented on #42
"Although the learning emphasis is placed first and foremost on the student, there is support provided mainly through two channels: within the lab, there is at least one instructor for every 15 students answering questions one-on-one or in small groups; beyond contact time, the class has access to an online discussion forum monitored by the course leader, where students are encouraged to post not

[2019-03-26 19:04] labarba commented on #42
@whedon check references

[2019-03-26 19:04] whedon commented on #42
[code]

[2019-03-26 19:04] whedon commented on #42
[code]

[2019-03-26 19:05] labarba commented on #42
@darribas — You have some bad DOIs in your BibTex. Please check/fix.

[2019-03-30 17:50] juanklopper commented on #46
@labarba I have been out of action with a broken elbow!  Apologies then for taking a week to reply.  Having had some time to review today, I am going to concur with your point of view.

[2019-03-30 19:05] labarba commented on #46
👋   @lgroves6 — Thank you for submitting your materials to JOSE. After looking into it further, we determined that this type of content is not in-scope for the journal, as we are targeting learning modules that use programming in some form to support the learning. I am now going to apply the "withdrawn" tag and close the issue.

[2019-03-30 19:05] #46 closed

[2019-04-01 00:51] darribas commented on #42
Hello @labarba, thank you very much for the review! I've gone over your comments, and I think I've included them all. The only one I'm unsure is the one relating the DOIs. The ones that come as invalid are all books, so they don't technically have a DOI but a ISBN. Following [this](https://www.doi.org/factsheets/ISBN-A.html), I've tried to turn them into actionable ISBNs (ISBN-A), but not sure if

[2019-04-01 14:00] weymouth commented on #45
I think this is a great repository and a model for other similar projects. The only things I notice are

1. The write-up doesn't make the development "story" clear.
1. The usage of the code in the repository is well explained. Would it be helpful to explain how this ties in with the other parts of the class? For example, is this supposed to be their first time seeing any of these concepts? What do

[2019-04-03 00:32] labarba commented on #42
@whedon generate pdf

[2019-04-03 00:32] whedon commented on #42
[code]

[2019-04-03 00:33] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00042/jose.00042/10.21105.jose.00042.pdf)

[2019-04-03 00:41] labarba commented on #42
These links are not resolving:

https://doi.org/10.978.0471/735458
https://doi.org/10.978.08039/22450
https://doi.org/10.978.0470/864135
https://doi.org/10.978.14462/87484

If the reference doesn't have a DOI, then don't provide a DOI.

[2019-04-03 20:49] CameronDevine commented on #44
@whedon generate pdf

[2019-04-03 20:49] whedon commented on #44
[code]

[2019-04-03 20:50] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00044/jose.00044/10.21105.jose.00044.pdf)

[2019-04-03 20:51] CameronDevine commented on #44
@chrisdembia and @gboeing, I believe I have addressed all of your comments. If there is anything outstanding please let me know.

[2019-04-03 21:13] moorepants commented on #44
@chrisdembia and @gboeing Can you both reply and let me know if you feel everything has been addressed?

[2019-04-04 19:52] mesnardo commented on #45
Hi @weymouth,

Thank you for your review of AeroPython! We'll work on your suggestions.

(@Juanlu001, looking forward to your review.)

[2019-04-04 20:10] gboeing commented on #44
Looks good to me.

[2019-04-05 20:21] labarba commented on #44
Hi @gboeing — if you're ready to recommend publication, can you check off your remaining items in the checklist? Cheers!

[2019-04-07 06:47] chrisdembia commented on #44
The checklist above contains an item " A statement of need: Do the authors clearly state the need for this software and who the target audience is?" under **Documentation**. I found a statement of need in the paper but not in the documentation. Where can I find such a statement?

[2019-04-07 14:16] labarba commented on #44
The request for a Statement of Need refers to the JOSE paper.

[2019-04-07 14:22] chrisdembia commented on #44
There are two requests for a statement of need: one for the paper and one for the documentation.

[2019-04-07 14:28] moorepants commented on #44
Yes, that is the case. @labarba Can you clarify?

[2019-04-07 21:22] darribas commented on #42
Thanks very much @labarba. I've just removed the failing DOIs with [8a83b98](https://github.com/darribas/gds18/commit/8a83b9814f8eaaf4c13133aa08fc95622ee97983). Let me know if there's anything else I should do.

[2019-04-07 23:42] labarba commented on #44
I think this could be an editing mistake on creating the checklists. What would be a reason to request this in the software documentation? I rather think it's enough to have it in the paper.

[2019-04-08 13:18] moorepants commented on #44
Ok, thank you for the clarification.

[2019-04-08 13:19] moorepants commented on #44
@chrisdembia Other than that it seems you have everything checked off. Are good on all non-checklist items you brought up?

[2019-04-08 13:36] chrisdembia commented on #44
Yes. LGTM.

[2019-04-08 13:53] moorepants commented on #44
@CameronDevine I recommend your article for publishing. Can you please mint a DOI? (https://github.com/CameronDevine/StateMint/issues/10)

[2019-04-08 15:58] CameronDevine commented on #44
@moorepants would you mind if I rolled the version number to 2.1.0 first?

[2019-04-08 17:18] moorepants commented on #44
Yes, you can make the version number anything you want. Please update in the paper once changed.

[2019-04-08 17:24] labarba commented on #44
@CameronDevine : You can try running `@whedon set v2.1.0 as version` here, but I'm not sure if authors have permission to run that command.That will update the version in this issue and the paper's side bar.

[2019-04-08 23:47] CameronDevine commented on #44
@whedon set 2.1.0 as version

[2019-04-08 23:47] whedon commented on #44
I'm sorry @CameronDevine, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-04-08 23:48] CameronDevine commented on #44
@moorepants can you change the version to 2.1.0? I also uplaoded the code to Zendodo, (doi: 10.5281/zenodo.2633330).

[2019-04-09 00:04] moorepants commented on #44
@whedon set 2.1.0 as version

[2019-04-09 00:04] whedon commented on #44
OK. 2.1.0 is the version.

[2019-04-09 00:05] moorepants commented on #44
@whedon set 10.5281/zenodo.2633330 as archive

[2019-04-09 00:05] whedon commented on #44
OK. <a href="https://doi.org/10.5281/zenodo.2633330" target="_blank">10.5281/zenodo.2633330</a> is the archive.

[2019-04-09 00:05] moorepants commented on #44
@whedon generate pdf

[2019-04-09 00:05] whedon commented on #44
[code]

[2019-04-09 00:06] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00044/jose.00044/10.21105.jose.00044.pdf)

[2019-04-09 00:06] moorepants commented on #44
@whedon check references

[2019-04-09 00:06] whedon commented on #44
[code]

[2019-04-09 00:07] whedon commented on #44
[code]

[2019-04-09 00:08] moorepants commented on #44
@whedon accept

[2019-04-09 00:08] whedon commented on #44
[code]

[2019-04-09 00:09] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    1

[2019-04-09 00:09] whedon commented on #44
[code]

[2019-04-09 00:26] moorepants commented on #44
@whedon accept

[2019-04-09 00:26] whedon commented on #44
[code]

[2019-04-09 00:27] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    1

[2019-04-09 00:27] whedon commented on #44
[code]

[2019-04-09 00:28] moorepants commented on #44
@labarba Am I missing something here? Not quite sure why this is giving an error.

[2019-04-09 00:45] labarba commented on #44
@whedon generate pdf

[2019-04-09 00:45] whedon commented on #44
[code]

[2019-04-09 00:46] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00044/jose.00044/10.21105.jose.00044.pdf)

[2019-04-09 00:47] labarba commented on #44
@whedon accept

[2019-04-09 00:47] whedon commented on #44
[code]

[2019-04-09 00:48] whedon commented on #44
[code]

[2019-04-09 00:49] whedon commented on #44
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/29

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/29, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-09 03:43] moorepants commented on #44
@whedon accept deposit=true

[2019-04-09 03:43] whedon commented on #44
I'm sorry @moorepants, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-04-09 11:42] labarba commented on #44
@whedon accept deposit=true

[2019-04-09 11:42] whedon commented on #44
[code]

[2019-04-09 11:43] whedon commented on #44
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/30
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00044](https://doi.org/10.21105/jose.00044)
2. If everything looks goo

[2019-04-09 11:45] labarba commented on #44
Congratulations, @CameronDevine, your JOSE paper is now published!

Big thanks to the editor: @moorepants, and the reviewers: @chrisdembia, @gboeing — your contribution is so important 🙏

[2019-04-09 11:49] #44 closed

[2019-04-09 11:49] whedon commented on #44
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00044/status.svg)](https://doi.org/10.21105/jose.00044)

**We need your help!**

Journal of Open Source Educat

[2019-04-09 11:49] labarba commented on #44
https://twitter.com/JOSE_TheOJ/status/1115582355140378624

[2019-04-09 12:10] moorepants commented on #44
Congrats @CameronDevine and thank you @chrisdembia and @gboeing!

[2019-04-10 22:49] CameronDevine commented on #44
Thanks @labarba, @moorepants, @chrisdembia, and @gboeing for all your comments. I believe the review process has made some substantial improvements to the software.

[2019-04-10 22:59] CameronDevine commented on #44
@moorepants, You asked about the benefits of Linear Graphs early in the review process. I forgot about your question until I was reviewing some notes today.

The main benefit of Linear Graphs is the resulting diagram is almost identical to an electrical circuit diagram. Since students often learn to read electrical circuit diagrams in physics, we can leverage this existing knowledge.

If you have

[2019-04-15 12:08] lwjohnst86 commented on #39
Any word on this? It's been a while.

[2019-04-15 12:29] labarba commented on #39
I've reached out to @tracykteal by email now. Thanks for the ping.

[2019-04-16 15:37] rambasnet commented on #47
@labarba - Sorry, but just saw this update. I'll do it asap.

[2019-04-16 17:01] kyleniemeyer commented on #45
Hi @Juanlu001, just wanted to check in on the status of your review.

@mesnardo have you made changes according to @weymouth's suggestions?

[2019-04-16 18:08] rambasnet commented on #47
@labarba -- Just moved references to .bib file. All should be good to go.

[2019-04-16 18:22] labarba commented on #47
@whedon generate pdf

[2019-04-16 18:22] whedon commented on #47
[code]

[2019-04-16 18:22] whedon commented on #47
PDF failed to compile for issue #47 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     76      0 --:--:-- --:--:-- --:--:--    76
Error reading bibli

[2019-04-16 18:33] rambasnet commented on #47
@whedon generate pdf

[2019-04-16 18:33] whedon commented on #47
[code]

[2019-04-16 18:34] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-16 23:41] mesnardo commented on #45
@kyleniemeyer We are waiting for the review of @Juanlu001 before making the suggested modifications.

[2019-04-20 19:20] labarba commented on #25
👋  @kmader — I went ahead and added the `paused` label here. Do ping us back when you have organized a sub-set of your materials into a re-usable module. We'll be happy to review then!

[2019-04-20 19:21] labarba commented on #42
@whedon generate pdf

[2019-04-20 19:21] whedon commented on #42
[code]

[2019-04-20 19:22] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00042/jose.00042/10.21105.jose.00042.pdf)

[2019-04-20 19:25] labarba commented on #42
@darribas — Before we publish your JOSE paper, we'll need: 1) a new tagged release; please report the version number here, and 2) an archival deposit in Zenodo, Figshare or a similar service; please report the archive DOI here.

[2019-04-20 19:52] labarba commented on #45
Hi @Juanlu001 — we're eager to get  your review of the AeroPython module, to make a revision and get it to publication-ready status. Would you be able to get to this soon?

[2019-04-20 20:08] whedon opened #48 "[PRE REVIEW]: Emacs-reveal: A software bundle to create OER presentations"
**Submitting author:** @lechten (<a href="http://orcid.org/0000-0002-3064-147X">Jens Lechtenbörger</a>)
**Repository:** <a href="https://gitlab.com/oer/emacs-reveal" target ="_blank">https://gitlab.com/oer/emacs-reveal</a>
**Version:** v3.0.2
**Editor:** @katyhuff
**Reviewers:** @jrosen48, @markgalassi

**Author instructions**

Thanks for submitting your paper to JOSE @lechten. The JOSE editor (sh

[2019-04-20 20:08] whedon commented on #48
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-20 20:08] whedon commented on #48
[code]

[2019-04-20 20:08] whedon commented on #48
PDF failed to compile for issue #48 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/48/paper.md): could not find expected ':' while scanning a simple key at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vend

[2019-04-20 20:13] labarba commented on #48
👋  @lechten — Can you try deleting the lines before the paper metadata? Then run `@whedon generate pdf` to see if our bot can compile the paper.

[2019-04-20 22:03] labarba commented on #39
👋  @K8hertweck — You signed up to review for JOSE a while back, marking R as language and biology as domain context ... could you have a look at this submission, and let me know if you'd be willing to contribute a review? Thank you!

[2019-04-20 22:22] labarba commented on #39
Hi, @jhollist — We're looking for reviewers for this JOSE submission, have a look! Might you be able to contribute here? Thank you! 🙏

[2019-04-20 22:26] labarba commented on #39
Maybe @jsta could help us out? We're in need of reviewers for this submission to JOSE. Have a look and let me know if you're up for it ... Merci! 😎

[2019-04-21 13:15] Juanlu001 commented on #45
Sorry for the super long delay. On it!

[2019-04-21 13:51] Juanlu001 commented on #45
It was quick because I already knew the course from the time it was released :)

Non-blocking comments:

* There is no version number, so I left that unchecked
* There is a statement of need in the paper but not in the repository itself - I understand that there are two checkboxes for this reason, so I left the first unchecked as well
* Perhaps this is a bit presumptuous on my side, but I would ad

[2019-04-21 16:47] lechten commented on #48
@whedon generate pdf

[2019-04-21 16:47] whedon commented on #48
[code]

[2019-04-21 16:47] whedon commented on #48
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00048/jose.00048/10.21105.jose.00048.pdf)

[2019-04-21 16:58] lechten commented on #48
The proof seems fine to me.

Concerning reviewers: Among the first list linked above, maybe @houshuang's interests in education/learning and Javascript match this paper. In a second link, whedon pointed to JOSS reviewers. What that on purpose? Initially, I submitted the paper to JOSS and was redirected here. In this [JOSS issue](https://github.com/openjournals/joss-reviews/issues/1386), two potent

[2019-04-21 17:03] labarba commented on #48
The second link is pointing to the wrong reviewer list. Thanks for reporting! Nevertheless, if potential reviewers were found there, we can certainly invite them here.

[2019-04-21 17:15] labarba commented on #48
👋   @jrosen48 and @markgalassi  — you expressed interest in reviewing this submission for JOSS ... we are the sister journal targeting software for education and computational learning modules. Are you willing to review it for us?

[2019-04-21 18:21] jrosen48 commented on #48
Hi, yes, I'd be happy to!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lorena A. Barba <notifications@github.com>
Sent: Sunday, April 21, 2019 1:15:17 PM
To: openjournals/jose-reviews
Cc: Joshua Rosenberg; Mention
Subject: Re: [openjournals/jose-reviews] [PRE REVIEW]: Emacs-reveal: A software bundle to create OER presentations (#48)

👋 @jrosen48<https://u

[2019-04-22 05:06] markgalassi commented on #48
Lorena> 👋 @jrosen48 and @markgalassi — you expressed interest in
    Lorena> reviewing this submission for JOSS ... we are the sister
    Lorena> journal targeting software for education and computational
    Lorena> learning modules. Are you willing to review it for us?

I will be happy to.  Please point me to your journal's guidelines for
reviewers.

[2019-04-22 12:01] #37 closed

[2019-04-22 12:01] whedon commented on #37
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00037/status.svg)](https://doi.org/10.21105/jose.00037)

**We need your help!**

Journal of Open Source Educat

[2019-04-22 12:17] jhollist commented on #39
I should have some time next week, so count me in.

[2019-04-22 12:25] labarba commented on #39
@whedon assign @jhollist as reviewer

[2019-04-22 12:25] whedon commented on #39
OK, the reviewer is @jhollist

[2019-04-22 12:25] labarba commented on #39
Thank you, @jhollist — we're looking for a second reviewer, and we'll then start the review issue.

[2019-04-23 09:19] MattForshaw commented on #39
@labarba @tracykteal I would be happy to help out on this one.

[2019-04-23 11:24] labarba commented on #39
Thank you, @MattForshaw !
I will add you now and start the review.

[2019-04-23 11:24] labarba commented on #39
@whedon add @MattForshaw as reviewer

[2019-04-23 11:24] whedon commented on #39
OK, @MattForshaw is now a reviewer

[2019-04-23 11:28] labarba commented on #39
@whedon assign @juanklopper as editor

[2019-04-23 11:28] whedon commented on #39
OK, the editor is @juanklopper

[2019-04-23 11:29] labarba commented on #39
@whedon start review

[2019-04-23 11:29] whedon opened #49 "[REVIEW]: A graduate student-led participatory live-coding quantitative methods course in R: Experiences on initiating, developing, and teaching"
**Submitting author:** @lwjohnst86 (<a href="http://orcid.org/0000-0003-4169-2616">Luke W. Johnston</a>)
**Repository:** <a href="https://github.com/UofTCoders/rcourse" target ="_blank">https://github.com/UofTCoders/rcourse</a>
**Version:** v2.2.0
**Editor:** @juanklopper
**Reviewer:** @jhollist, @MattForshaw
**Archive:** <a href="https://doi.org/10.5281/zenodo.3240508" target="_blank">10.5281/zen

[2019-04-23 11:29] whedon commented on #39
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/49. Feel free to close this issue now!

[2019-04-23 11:29] whedon commented on #49
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jhollist, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably c

[2019-04-23 11:29] whedon commented on #49
[code]

[2019-04-23 11:29] whedon commented on #49
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00049/jose.00049/10.21105.jose.00049.pdf)

[2019-04-23 11:31] #39 closed

[2019-04-23 11:33] labarba commented on #49
👋  @jhollist, @MattForshaw — This is where the action happens! You both have a review checklist at the top of this issue: work your way through it, and feel free to add your comments here and to open new issues on the submission repository if needed. Let us know if you have any questions … @juanklopper will be handling editor.

[2019-04-25 02:17] darribas commented on #42
Fantastic! Here it is:

[![DOI](https://zenodo.org/badge/145456898.svg)](https://zenodo.org/badge/latestdoi/145456898)

Let me know if I need to do anything else. Really looking forward to having this published, super excited!

[2019-04-25 03:37] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 03:37] whedon commented on #47
[code]

[2019-04-25 03:37] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 03:46] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 03:46] whedon commented on #47
[code]

[2019-04-25 03:47] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 03:57] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 03:57] whedon commented on #47
[code]

[2019-04-25 03:57] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 04:04] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 04:04] whedon commented on #47
[code]

[2019-04-25 04:05] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 04:09] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 04:09] whedon commented on #47
[code]

[2019-04-25 04:10] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 04:41] rambasnet commented on #47
@whedon generate pdf

[2019-04-25 04:41] whedon commented on #47
[code]

[2019-04-25 04:41] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-25 08:53] juanklopper commented on #49
Many thanks @labarba.  I'm happy to help out as handling editor.  Thank you also @jhollist  and @MattForshaw for reviewing this submission.

[2019-04-25 11:22] labarba commented on #42
Can you edit the metadata of the Zenodo deposit so the title and author list matches the paper? Thanks!

[2019-04-25 11:23] labarba commented on #42
@whedon set v4.1 as version

[2019-04-25 11:23] whedon commented on #42
OK. v4.1 is the version.

[2019-04-25 16:23] darribas commented on #42
Done!

[2019-04-25 16:38] labarba commented on #42
@whedon set 10.5281/zenodo.2650534 as archive

[2019-04-25 16:38] whedon commented on #42
OK. <a href="https://doi.org/10.5281/zenodo.2650534" target="_blank">10.5281/zenodo.2650534</a> is the archive.

[2019-04-25 16:39] labarba commented on #42
@whedon accept

[2019-04-25 16:39] whedon commented on #42
[code]

[2019-04-25 16:39] whedon commented on #42
PDF failed to compile for issue #42 with the following error:

 Can't find any papers to compile :-(

[2019-04-25 16:39] whedon commented on #42
[code]

[2019-04-25 16:40] labarba commented on #42
@whedon generate pdf

[2019-04-25 16:41] whedon commented on #42
[code]

[2019-04-25 16:41] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00042/jose.00042/10.21105.jose.00042.pdf)

[2019-04-25 16:43] labarba commented on #42
@whedon accept

[2019-04-25 16:43] whedon commented on #42
[code]

[2019-04-25 16:44] whedon commented on #42
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/31

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/31, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-25 16:45] whedon commented on #42
[code]

[2019-04-25 19:36] labarba commented on #42
Would you accept these little tweaks to your bib?

https://github.com/darribas/gds18/pull/14

[2019-04-26 01:34] rambasnet commented on #47
@whedon generate pdf

[2019-04-26 01:34] whedon commented on #47
[code]

[2019-04-26 01:35] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-26 01:37] rambasnet commented on #47
@whedon generate pdf

[2019-04-26 01:37] whedon commented on #47
[code]

[2019-04-26 01:37] whedon commented on #47
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00047/jose.00047/10.21105.jose.00047.pdf)

[2019-04-26 14:23] whedon commented on #42
[code]

[2019-04-26 14:24] whedon commented on #42
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/32
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00042](https://doi.org/10.21105/jose.00042)
2. If everything looks goo

[2019-04-26 14:29] labarba commented on #42
Congratulations, @darribas, your JOSE paper is published! 🚀

Tremendous gratitude go to our reviewers: @lheagy, @jsta — we can do this thanks to your contribution! 🙏

[2019-04-26 14:29] #42 closed

[2019-04-26 14:29] whedon commented on #42
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00042/status.svg)](https://doi.org/10.21105/jose.00042)

**We need your help!**

Journal of Open Source Educat

[2019-04-26 16:09] labarba commented on #47
@whedon assign @AllenDowney as reviewer

[2019-04-26 16:09] whedon commented on #47
OK, the reviewer is @AllenDowney

[2019-04-26 16:09] labarba commented on #47
Hang tight, folks! We're looking for a second reviewer.

[2019-04-26 20:06] darribas commented on #42
Fantastic!!! THANK you very much @labarba for superb editorial work and @lheagy and @jsta for a terrific reviewing!

[2019-04-27 16:44] labarba commented on #47
@mcburton 👋 — Would you be willing to contribute a review for this JOSE submission? (We already have one reviewer.) "FDS Python: Fundamentals and Data Structures with Python" https://github.com/rambasnet/thinkpythonnotebooks

[2019-04-28 15:03] lechten commented on #48
@labarba Do I have do to anything now? What happens next?

[2019-04-28 18:47] labarba commented on #48
@willingc — could you handle this submission as editor? We already have two reviewers who have offered to contribute a review.

[2019-04-28 18:47] labarba commented on #48
@whedon assign @jrosen48 as reviewer

[2019-04-28 18:48] labarba commented on #48
@whedon add @markgalassi as reviewer

[2019-05-01 11:23] labarba commented on #48
@katyhuff — could you handle this JOSE submission as editor? We already have two reviewers who have offered to contribute a review, and are assigned, and we are ready to start the review.

[2019-05-01 12:52] katyhuff commented on #48
Sure!

[2019-05-01 12:52] katyhuff commented on #48
@whedon assign @katyhuff as editor

[2019-05-01 12:52] whedon commented on #48
OK, the editor is @katyhuff

[2019-05-01 12:52] katyhuff commented on #48
@whedon start review

[2019-05-01 12:52] whedon opened #50 "[REVIEW]: Emacs-reveal: A software bundle to create OER presentations"
**Submitting author:** @lechten (<a href="http://orcid.org/0000-0002-3064-147X">Jens Lechtenbörger</a>)
**Repository:** <a href="https://gitlab.com/oer/emacs-reveal" target ="_blank">https://gitlab.com/oer/emacs-reveal</a>
**Version:** v3.0.3
**Editor:** @katyhuff
**Reviewer:** @jrosen48, @markgalassi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3357438" target="_blank">10.5281/zenodo.3357

[2019-05-01 12:52] whedon commented on #48
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/50. Feel free to close this issue now!

[2019-05-01 12:52] whedon commented on #50
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jrosen48, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably c

[2019-05-01 12:52] whedon commented on #50
[code]

[2019-05-01 12:53] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-05-01 12:54] katyhuff commented on #48
Hi @markgalassi @jrosen48 , thanks for volunteering to review. You'll find reviewer guidelines at  http://jose.theoj.org/about#reviewer_guidelines.
Now, I'll close this issue and we'll start the review over in #50 , where you'll see a review checklist.

[2019-05-01 12:54] #48 closed

[2019-05-01 17:18] mesnardo commented on #45
Thank you @weymouth and @Juanlu001 for your feedback!

Modifications based on your suggestions are available in the branch [`jose_revision`](https://github.com/barbagroup/AeroPython/tree/jose_revision) ; their is an open PR ([#44](https://github.com/barbagroup/AeroPython/pull/44)) to merge these commits in the `master` branch.

* We added a version number to the GitHub repository; the GitHub relea

[2019-05-01 18:45] labarba commented on #45
Regarding the Statement of Need, the JOSE editors decided it would only be required in the paper (not the documentation), but unfortunately the checklists haven't been updated yet!

[2019-05-01 19:45] jhollist commented on #49
This is a very well done submission.  So well done in fact, that I feel odd in not providing more detailed suggestions on what to change.  I have gone back through the materials, the paper and the repository to see if I missed anything major, but I haven't.  The few things I did find and would like to see updated are listed in https://github.com/UofTCoders/rcourse/issues/292.  Biggest change that

[2019-05-04 14:22] juanklopper commented on #49
Thank you for the review @jhollist.

[2019-05-12 09:29] labarba commented on #45
👋  @weymouth, @Juanlu001 — I think we're ready with this revision. Would you take a final look? The editor will need your recommendation to accept.

[2019-05-12 09:41] whedon opened #51 "[PRE REVIEW]: Happy Belly Bioinformatics: an open-source resource dedicated to helping biologists utilize bioinformatics"
**Submitting author:** @AstrobioMike (<a href="http://orcid.org/0000-0001-7750-9145">Michael D. Lee</a>)
**Repository:** <a href="https://github.com/AstrobioMike/AstrobioMike.github.io" target ="_blank">https://github.com/AstrobioMike/AstrobioMike.github.io</a>
**Version:** v1.1.1
**Editor:** @labarba
**Reviewers:** @luizirber, @JasonJWilliamsNY

**Author instructions**

Thanks for submitting your

[2019-05-12 09:41] whedon commented on #51
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-12 09:41] whedon commented on #51
[code]

[2019-05-12 09:41] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 Can't find any papers to compile :-(

[2019-05-12 09:43] weymouth commented on #45
Looks good to me!

[2019-05-12 10:02] labarba commented on #50
👋 @jrosen48, @markgalassi — Folks, this is where the review happens. You both have a review checklist at the top, to guide you through the process by checking off items to review. The version item is something we can check off in the end, as we will ask the authors to do a release after any revisions. Statement of need should be a section in the paper (the checklist has it also in the Documentatio

[2019-05-12 10:03] labarba commented on #51
@whedon generate pdf

[2019-05-12 10:03] whedon commented on #51
[code]

[2019-05-12 10:04] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723

[2019-05-12 10:06] labarba commented on #51
@AstrobioMike : You're missing the line `bibliography: paper.bib` in the header of your paper. Can you push this fix?

[2019-05-12 17:46] AstrobioMike commented on #51
Ah thanks, sorry about that!

[2019-05-12 17:46] AstrobioMike commented on #51
@whedon generate pdf

[2019-05-12 17:46] whedon commented on #51
[code]

[2019-05-12 17:47] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00051/jose.00051/10.21105.jose.00051.pdf)

[2019-05-12 18:06] AstrobioMike commented on #51
Some potential reviewers from the list might be: @JasonJWilliamsNY; @ShahneRodgers; @luizirber; @HadrienG

Thanks for your time and consideration, folks :)

[2019-05-13 08:44] Juanlu001 commented on #45
And to me! :+1:

[2019-05-13 08:57] labarba commented on #51
👋  @JasonJWilliamsNY — would you like to contribute your first JOSE review? 😁

[2019-05-13 09:04] labarba commented on #45
Thank you, @weymouth and @Juanlu001 — we appreciate your time reviewing this submission!

@kyleniemeyer — we await your final checks for publication.

[2019-05-13 16:24] kyleniemeyer commented on #45
@labarba will do those shortly

[2019-05-13 16:25] kyleniemeyer commented on #45
@whedon generate pdf

[2019-05-13 16:25] whedon commented on #45
[code]

[2019-05-13 16:25] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00045/jose.00045/10.21105.jose.00045.pdf)

[2019-05-13 16:30] labarba commented on #47
@whedon add @mcburton as reviewer

[2019-05-13 16:30] whedon commented on #47
OK, @mcburton is now a reviewer

[2019-05-13 16:31] labarba commented on #47
@whedon start review

[2019-05-13 16:31] whedon opened #52 "[REVIEW]: FDS Python: Fundamentals and Data Structures with Python"
**Submitting author:** @rambasnet (<a href="http://orcid.org/0000-0001-6864-6893">Ram Basnet</a>)
**Repository:** <a href="https://github.com/rambasnet/thinkpythonnotebooks" target ="_blank">https://github.com/rambasnet/thinkpythonnotebooks</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @AllenDowney, @mcburton
**Archive:** Pending

## Status

[![status](http://jose.theoj.org/papers/425

[2019-05-13 16:31] whedon commented on #47
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/52. Feel free to close this issue now!

[2019-05-13 16:31] whedon commented on #52
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AllenDowney, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probabl

[2019-05-13 16:31] whedon commented on #52
[code]

[2019-05-13 16:31] #47 closed

[2019-05-13 16:31] whedon commented on #52
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00052/jose.00052/10.21105.jose.00052.pdf)

[2019-05-13 16:33] labarba commented on #52
👋  @AllenDowney, @mcburton — We've started the review! This is where it happens. You each have a review checklist at the top of this issue, to guide you through. The version item is something we can check off in the end, as we will ask the authors to do a release after any revisions. Statement of need should be a section in the paper (the checklist has it also in the Documentation, but that's opti

[2019-05-13 16:37] kyleniemeyer commented on #45
@labarba @mesnardo  a few minor comments on the paper itself:

- Could you add full affiliation details (city, state, country)?
- I believe the final bullet in the list of lessons should start with "Assignment 3"
- I just submitted a small fix to the paper near the end; multiple references in the same square brackets should be separated by semicolons: barbagroup/AeroPython#45
- the Catrambone refe

[2019-05-14 02:16] luizirber commented on #51
I never did a JOSE review, but would love to try it out =]

[2019-05-14 05:40] mesnardo commented on #45
Done in [35cf51d](https://github.com/barbagroup/AeroPython/commit/35cf51df75dae985cfd2dae20bb1f68b71a0a51b).

Done in [8209e1a](https://github.com/barbagroup/AeroPython/commit/8209e1a336f02e9ee7ce2821673515b803485b09).

Thank you.

Added mission DOIs in [64b97fc](https://github.com/barbagroup/AeroPython/commit/64b97fc62b202058854033d74e956b18e190e70e).

[2019-05-14 08:17] kyleniemeyer commented on #45
@whedon generate pdf

[2019-05-14 08:17] whedon commented on #45
[code]

[2019-05-14 08:18] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00045/jose.00045/10.21105.jose.00045.pdf)

[2019-05-14 08:23] kyleniemeyer commented on #45
@mesnardo looks like those DOIs were not actually added properly (used a bibdesk URL field rather than DOI field); I fixed in PR barbagroup/AeroPython#46

That should be the final edit necessary; please merge and then deposit for a DOI.

[2019-05-14 08:45] labarba commented on #51
@whedon assign @labarba as editor

[2019-05-14 08:45] whedon commented on #51
OK, the editor is @labarba

[2019-05-14 08:46] labarba commented on #51
@whedon assign @luizirber as reviewer

[2019-05-14 08:46] whedon commented on #51
OK, the reviewer is @luizirber

[2019-05-14 09:06] labarba commented on #51
Thank you, @luizirber! Stay tuned as we find a second reviewer, and then we'll start the review.

[2019-05-14 09:17] labarba commented on #45
…and sneaked in an en-dash, I see 😁

PR merged. Thanks!

[2019-05-14 09:48] MattForshaw commented on #49
I would like to echo the earlier comments of @jhollist. This is a fantastic submission. The queries raised in https://github.com/UofTCoders/rcourse/issues/292 cover all improvements I can suggest. I also raise a very small PR with a punctuation fix. Once this issue closes I will be very happy to review the submission, and all being well, complete the checklist.

[2019-05-14 16:13] kyleniemeyer commented on #45
@whedon generate pdf

[2019-05-14 16:13] whedon commented on #45
[code]

[2019-05-14 16:13] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00045/jose.00045/10.21105.jose.00045.pdf)

[2019-05-14 16:14] kyleniemeyer commented on #45
@whedon check references

[2019-05-14 16:14] whedon commented on #45
[code]

[2019-05-14 23:34] JasonJWilliamsNY commented on #51
@labarba I am able to help out with review

[2019-05-15 06:45] labarba commented on #51
@whedon add @JasonJWilliamsNY as reviewer

[2019-05-15 06:45] whedon commented on #51
OK, @JasonJWilliamsNY is now a reviewer

[2019-05-15 06:45] labarba commented on #51
@whedon start review

[2019-05-15 06:45] whedon opened #53 "[REVIEW]: Happy Belly Bioinformatics: an open-source resource dedicated to helping biologists utilize bioinformatics"
**Submitting author:** @AstrobioMike (<a href="http://orcid.org/0000-0001-7750-9145">Michael D. Lee</a>)
**Repository:** <a href="https://github.com/AstrobioMike/AstrobioMike.github.io" target ="_blank">https://github.com/AstrobioMike/AstrobioMike.github.io</a>
**Version:** v1.2.0
**Editor:** @labarba
**Reviewer:** @luizirber, @JasonJWilliamsNY
**Archive:** <a href="https://doi.org/10.5281/zenodo.

[2019-05-15 06:45] whedon commented on #51
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/53. Feel free to close this issue now!

[2019-05-15 06:45] whedon commented on #53
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luizirber, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably

[2019-05-15 06:45] whedon commented on #53
[code]

[2019-05-15 06:46] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00053/jose.00053/10.21105.jose.00053.pdf)

[2019-05-15 06:49] #51 closed

[2019-05-15 06:52] labarba commented on #53
👋 @luizirber, @JasonJWilliamsNY — Thank you for agreeing to review this submission to JOSE. This is where it happens: you both have a checklist at the top of this issue to help you along. Feel free to post questions here and open issues on the submission repository, if needed. The version item is something we can check off in the end, as we will ask the authors to do a release after any revisions.

[2019-05-15 06:54] labarba commented on #53
Our [Reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines) cover briefly our expectations.

[2019-05-15 15:40] markgalassi commented on #50
Dear @labarba, this is my first time so I'm feeling awkward and it took me a while to get the flow going.  I have checked off the items I am comfortable checking off.  I see no submit button after checking them, so I'm guessing you record them in real time (but please tell me if I'm wrong).  I have several suggestions for the paper.  How does that back-and-forth go?

[2019-05-15 18:47] kyleniemeyer commented on #45
@labarba @mesnardo I'm not sure why the reference checking isn't working, but this looks good to go to me. Could you archive and provide me with the DOI?

[2019-05-15 19:02] labarba commented on #50
@markgalassi — You can post comments right here with revision requests to the author.

[2019-05-17 10:33] labarba commented on #45
@whedon set v1.0 as version

[2019-05-17 10:33] whedon commented on #45
OK. v1.0 is the version.

[2019-05-17 10:34] labarba commented on #45
👋 @weymouth, @Juanlu001 — We have now released v1.0 and updated the version number here, so you can tick off that item in your checklist. Many thanks!

[2019-05-17 10:56] labarba commented on #45
@whedon set 10.6084/m9.figshare.1004727.v4 as archive

[2019-05-17 10:56] whedon commented on #45
OK. <a href="https://doi.org/10.6084/m9.figshare.1004727.v4" target="_blank">10.6084/m9.figshare.1004727.v4</a> is the archive.

[2019-05-17 16:12] kyleniemeyer commented on #45
@whedon accept

[2019-05-17 16:12] whedon commented on #45
[code]

[2019-05-17 16:12] whedon commented on #45
PDF failed to compile for issue #45 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/45 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/pr

[2019-05-17 16:13] kyleniemeyer commented on #45
@whedon generate pdf

[2019-05-17 16:13] whedon commented on #45
[code]

[2019-05-17 16:13] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00045/jose.00045/10.21105.jose.00045.pdf)

[2019-05-17 16:14] kyleniemeyer commented on #45
@whedon accept

[2019-05-17 16:14] whedon commented on #45
[code]

[2019-05-17 16:14] whedon commented on #45
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/33

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/33, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-17 16:17] kyleniemeyer commented on #45
@whedon accept deposit=true

[2019-05-17 16:17] whedon commented on #45
I'm sorry @kyleniemeyer, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-05-17 16:18] labarba commented on #45
Yikes!

[2019-05-17 16:20] kyleniemeyer commented on #45
@labarba hmm, I think I am supposed to have that power...

[2019-05-17 16:20] labarba commented on #45
On JOSS, yes. But here, we never set up an EiC team.

[2019-05-17 16:21] kyleniemeyer commented on #45
@labarba Ah. Well, we can figure that out offline. In the meantime, JOSE EiC, I'd like to recommend this submission be accepted 😄

[2019-05-17 16:24] labarba commented on #45
I was just fiddling to create a new team (which I did), but can't find how to give it Admin powers. Gah.

[2019-05-17 16:24] labarba commented on #45
I'll just go ahead and publish this.

[2019-05-17 16:27] labarba commented on #45
@whedon accept deposit=true

[2019-05-17 16:27] whedon commented on #45
[code]

[2019-05-17 16:27] whedon commented on #45
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/34
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00045](https://doi.org/10.21105/jose.00045)
2. If everything looks goo

[2019-05-17 16:30] kyleniemeyer commented on #45
Congrats to @labarba and @mesnardo on your submissions's publication in JOSE! Thanks to @weymouth and @Juanlu001 for reviewing!

[2019-05-17 16:30] #45 closed

[2019-05-17 16:30] whedon commented on #45
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00045/status.svg)](https://doi.org/10.21105/jose.00045)

**We need your help!**

Journal of Open Source Educat

[2019-05-17 16:45] labarba commented on #45
https://twitter.com/JOSE_TheOJ/status/1129425838406082560

[2019-05-17 16:52] mesnardo commented on #45
Yay! Many thanks to @kyleniemeyer, @Juanlu001, and @weymouth for all the suggestions and modifications provided!

[2019-05-17 17:44] whedon commented on #45
[code]

[2019-05-17 18:51] whedon commented on #45
[code]

[2019-05-18 11:52] whedon commented on #45
[code]

[2019-05-22 15:55] whedon opened #54 "[PRE REVIEW]: ChAmElEoN: A Customizable Language and Suite of Interpreters for Teaching Concepts of Programming Languages"
**Submitting author:** @saverioperugini (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/" target ="_blank">https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/</a>
**Version:** v.1.0.0
**Editor:** @RobertTalbert
**Reviewers:** @georgiastua

[2019-05-22 15:55] whedon commented on #54
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-22 15:55] whedon commented on #54
[code]

[2019-05-22 15:55] whedon commented on #54
PDF failed to compile for issue #54 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/54 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon/pr

[2019-05-22 15:55] whedon commented on #54
Failed to discover a valid open source license.

[2019-05-22 16:04] labarba commented on #54
@whedon generate pdf

[2019-05-22 16:04] whedon commented on #54
[code]

[2019-05-22 16:04] whedon commented on #54
PDF failed to compile for issue #54 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse': 784: unexpected token at '20 May 2019' (JSON::ParserError)
	from /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon/compilers.rb:106:in `pdf_from_

[2019-05-22 16:05] labarba commented on #54
👋  @saverioperugini — the repository of your submission does not show an OSI-approved license, which is a requirement for consideration in JOSE.

[2019-05-22 16:10] labarba commented on #54
Also, I see that we had some problems compiling your paper in your previous submission to JOSS, but it eventually did compile
https://github.com/openjournals/joss-reviews/issues/1459

I'm not sure what is going on here. Any ideas?

[2019-05-22 17:39] saverioperugini commented on #54
Hi,

All our source files use the GNU GPL, which I believe is an OSI-approved
license.

See
https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/src/master/pass-by-value-recursive/chameleoninterpreter.py

On 5/22/19 12:05 PM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayt

[2019-05-22 17:43] saverioperugini commented on #54
On 5/22/19 12:10 PM, Lorena A. Barba wrote:

Yes, it did compile and a PDF was generated.

The only issues I saw with the JOSS PDF was:

The code blocks are not rendering properly in PDF as they do in the .md.

:ballot_box_with_check: is not rendering as a checkmark in the PDF as it
does in .md.

$\lambda$-expression is not rendering properly in Table at the top of
page 3 in PDF as it does in .md.

[2019-05-23 23:45] labarba commented on #54
Regarding the license: we are going to need a LICENSE file in plain text at the root of the repo.

[2019-05-23 23:45] labarba commented on #54
@whedon assign @RobertTalbert as editor

[2019-05-23 23:46] whedon commented on #54
OK, the editor is @RobertTalbert

[2019-05-24 13:26] saverioperugini commented on #54
We have now added a LICENSE file to the root of the repository.

On 5/23/19 7:45 PM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The

[2019-05-26 14:27] RobertTalbert commented on #54
Just FYI I am currently sending out emails to potential reviewers. I'm also attempting to get to Brazil for a week-long conference but am being delayed due to visa issues. If the visa issues get resolved I will be heading out ASAP. Until then I'm using the time to work on getting reviewers.

[2019-05-26 15:11] RobertTalbert commented on #54
Update: Two potential reviewers have been pinged.

@saverioperugini Could you edit the README file for the repo so that it includes a description of the materials and not just installation instructions? Something short and descriptive for the person reading or reviewing your materials -- perhaps you can just edit something from the paper and include it. Thanks

[2019-05-26 17:13] saverioperugini commented on #54
I just pushed a commit with a short description of the software in
README.md.

On 5/26/19 11:11 AM, Robert Talbert wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALI

[2019-05-26 17:16] RobertTalbert commented on #54
@whedon commands

[2019-05-26 17:16] whedon commented on #54
Here are some things you can ask me to do:

[code]

[2019-05-26 17:20] RobertTalbert commented on #54
@whedon assign @georgiastuart as reviewer

[2019-05-26 17:20] whedon commented on #54
OK, the reviewer is @georgiastuart

[2019-05-31 08:27] lwjohnst86 commented on #49
@jhollist and @MattForshaw we've updated the repo as per https://github.com/UofTCoders/rcourse/issues/292. Thanks for the comments and kind words!

[2019-05-31 09:46] MattForshaw commented on #49
Thank you very much @lwjohnst86 and team for being so responsive. I will have time this weekend to look through the updates. Have a fantastic weekend yourself.

[2019-06-03 18:50] RobertTalbert commented on #54
@whedon add @valentina-s as reviewer

[2019-06-03 18:50] whedon commented on #54
OK, @valentina-s is now a reviewer

[2019-06-04 16:45] juanklopper commented on #49
@MattForshaw I hope your weekend wasn't too hectic.  Any update?

[2019-06-04 16:51] jhollist commented on #49
All, looks great!  Just completed my checklist.

[2019-06-04 18:12] labarba commented on #54
Looks like we're ready to start the Review issue?

[2019-06-04 18:57] MattForshaw commented on #49
Hi @juanklopper. My checklist is also complete (unsure if this should have triggered @whedon automatically?).

[2019-06-04 18:58] labarba commented on #49
Thank you, both @jhollist, @MattForshaw — We do ask that you give us a final recommendation here to access the paper.

[2019-06-04 19:00] MattForshaw commented on #49
Hi @labarba. I'm very happy to recommend this paper for acceptance.

[2019-06-04 19:27] whedon opened #55 "[PRE REVIEW]: mLEARn: An Implementation of Multi-layer Perceptron in C++"
**Submitting author:** @kalu-o (<a href="http://orcid.org/0000-0002-8152-4863">Kalu U. Ogbureke</a>)
**Repository:** <a href="https://github.com/kalu-o/mLEARn" target ="_blank">https://github.com/kalu-o/mLEARn</a>
**Version:** v1.0.1
**Editor:** @willingc
**Reviewers:** @dsblank, @trallard

**Author instructions**

Thanks for submitting your paper to JOSE @kalu-o. The JOSE editor (shown at the top

[2019-06-04 19:27] whedon commented on #55
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @willingc it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@willingc) to find some reviewers fo

[2019-06-04 19:27] whedon commented on #55
[code]

[2019-06-04 19:27] whedon commented on #55
PDF failed to compile for issue #55 with the following error:

 Can't find any papers to compile :-(

[2019-06-04 19:28] labarba commented on #55
👋 @willingc — The author suggested you as editor for this submission. Let me know if you can handle this one for JOSE. Thanks!

[2019-06-04 19:29] labarba commented on #55
@whedon generate pdf

[2019-06-04 19:29] whedon commented on #55
[code]

[2019-06-04 19:29] whedon commented on #55
PDF failed to compile for issue #55 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse': 784: unexpected token at '22 May 2019' (JSON::ParserError)
	from /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon/compilers.rb:106:in `pdf_from_

[2019-06-04 19:33] labarba commented on #55
@whedon generate pdf

[2019-06-04 19:33] whedon commented on #55
[code]

[2019-06-04 19:34] whedon commented on #55
PDF failed to compile for issue #55 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse': 784: unexpected token at '22 May 2019' (JSON::ParserError)
	from /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon/compilers.rb:106:in `pdf_from_

[2019-06-04 19:35] labarba commented on #55
I don't see anything wrong with the paper metadata ... @arfon: would you have a quick look for us?

[2019-06-04 19:38] georgiastuart commented on #54
I'm ready to review this.

[2019-06-04 19:39] labarba commented on #54
@whedon start review

[2019-06-04 19:39] whedon opened #56 "[REVIEW]: ChAmElEoN: A Customizable Language and Suite of Interpreters for Teaching Concepts of Programming Languages"
**Submitting author:** @saverioperugini (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/" target ="_blank">https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/</a>
**Version:** v.1.0.0
**Editor:** @RobertTalbert
**Reviewer:** @georgiastuar

[2019-06-04 19:39] whedon commented on #54
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/56. Feel free to close this issue now!

[2019-06-04 19:39] whedon commented on #56
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @georgiastuart, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're proba

[2019-06-04 19:39] whedon commented on #56
[code]

[2019-06-04 19:39] #54 closed

[2019-06-04 19:39] whedon commented on #56
PDF failed to compile for issue #56 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse': 784: unexpected token at '20 May 2019' (JSON::ParserError)
	from /app/vendor/bundle/ruby/2.4.0/gems/json-1.8.6/lib/json/common.rb:155:in `parse'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon/compilers.rb:106:in `pdf_from_

[2019-06-04 19:41] labarba commented on #56
@georgiastuart, @valentina-s — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

 @saverioperugini  — Our system is having problems compiling your paper. I cannot see the error. @arfon : like the other submi

[2019-06-04 20:01] AllenDowney commented on #52
Under General Checks:

* Version: Does the release version given match the repository release (v1.0.0)?

I don't see a version number in the repo.

* Authorship: Has the submitting author (@rambasnet) made visible contributions to the module?

Yes.

* Does the full list of authors seem appropriate and complete?

It looks like there is just one author, and only one contributor to the repo, so I gue

[2019-06-04 20:06] AllenDowney commented on #52
It looks like these notebooks are based on *How to Think Like a Computer Scientist: Learning with Python 3 (RLE)*, but the documentation refers to *Think Python*.  These are different books (although they share a common ancestor).  Ideally, the paper and documentation should refer to *How to Think*, and remove references to *Think Python*.

[2019-06-04 20:52] katyhuff commented on #52
To create the DOI on submission, the author will need to create a release. Typically, this is done before the JOSS submission. However, if the authors prefer, sometimes the review is merely conducted on the most recent commit to the default branch and the version (in this case (1.0.0)) is assigned at the review completion when the software DOI is assigned.

Yes, unless there's reason to believe ot

[2019-06-04 20:58] katyhuff commented on #50
@jrosen48 : Sorry I've been out of touch here. What is the status of your review?
@markgalassi : Thanks for getting started. How is your review progress going? A JOSE review involves checking submissions against a checklist of essential features and details in the submitted work. You can leave your brief review comments here in the comments. We also encourage reviewers to file issues against the s

[2019-06-04 21:42] jhollist commented on #49
I agree.  I recommend acceptance.  It is a nice paper and a great looking
class!

On Tue, Jun 4, 2019, 3:00 PM Matthew Forshaw <notifications@github.com>
wrote:

[2019-06-04 23:44] arfon commented on #55
Yeah, this is my fault. Fixing in https://github.com/openjournals/jose/pull/31

[2019-06-05 00:00] arfon commented on #56
@whedon generate pdf

[2019-06-05 00:00] whedon commented on #56
[code]

[2019-06-05 00:00] whedon commented on #56
PDF failed to compile for issue #56 with the following error:

 Could not find data file /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/resources/jose/latex.template
Looks like we failed to compile the PDF

[2019-06-05 00:13] arfon commented on #56
@whedon generate pdf

[2019-06-05 00:13] whedon commented on #56
[code]

[2019-06-05 00:13] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-06-05 00:14] arfon commented on #55
@whedon generate pdf

[2019-06-05 00:14] whedon commented on #55
[code]

[2019-06-05 00:15] whedon commented on #55
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00055/jose.00055/10.21105.jose.00055.pdf)

[2019-06-05 00:16] arfon commented on #55
OK, fixed. Apologies for accidentally breaking things...

[2019-06-05 13:30] saverioperugini commented on #56
The PDF proof mostly looks good.

Few issues:

* The code blocks are not rendering properly (as they do in the markdown)

* Most citations are showing up as "???"

* check marks are showing up as ":ballot_box_with_check:"

On 6/4/19 8:13 PM, whedon wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel:

[2019-06-05 13:55] juanklopper commented on #49
@labarba I see all the boxes are ticked.  I see @lwjohnst86 's archive in Zenodo with the DOI.  (Is this correct @lwjohnst86 DOI 10.5281/zenodo.2540708 ?)

[2019-06-05 14:13] labarba commented on #49
@whedon generate pdf

[2019-06-05 14:13] whedon commented on #49
[code]

[2019-06-05 14:13] whedon commented on #49
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00049/jose.00049/10.21105.jose.00049.pdf)

[2019-06-05 14:15] labarba commented on #49
@whedon check references

[2019-06-05 14:15] whedon commented on #49
[code]

[2019-06-05 14:15] whedon commented on #49
[code]

[2019-06-05 14:17] labarba commented on #49
It looks like v2.1.0 is from Jan 15 — we are going to need a new tagged release with the reviewed version, and the Zenodo archive to be updated to the latest release.

[2019-06-05 14:23] labarba commented on #49
@lwjohnst86 — In the paper, you have the sentence "We believe the included lesson topics, open accessibility, and modularity of our course makes it an ideal resource for instructors and an excellent contribution to JOSE." I agree with it, of course, as the reverse and editor have accepted your submission. But it seems awkward to have such a statement _in the paper_. I suggest deleting it

[2019-06-05 14:46] labarba commented on #49
You have this reference:

Johnston, L. W., Ostblom, J., Bonsma-Fisher, M., Santangelo, J. S., Hasan, A., Andrade, E. S. de, Coome, L., et al. (2018). UofTCoders/rcourse: EEB313 quantitative methods in R for biology. UofT Coders. doi:10.5281/zenodo.2335179

... if this is the Zenodo deposit of this very learning module, we ask that you don't include this as a citation, because the archive will be h

[2019-06-05 14:58] labarba commented on #49
I've read through the paper, and don't have further comments (except I'd add a comma after "e.g.")—we're ready to publish. At this time, we'll need the new version and the Zenodo deposit. Do report here the version number and the Zenodo DOI.

[2019-06-05 15:00] lwjohnst86 commented on #49
Thanks @labarba! I'll complete those tasks tomorrow!

[2019-06-05 15:01] labarba commented on #55
@dsblank — Would you be willing to contribute a review for JOSE? The submission is titled "mLEARn: An Implementation of Multi-layer Perceptron in C++" Let me know!

[2019-06-05 18:53] willingc commented on #55
Sure thing @labarba. How many folks do you wish to have review from? 2 or 3?

[2019-06-05 19:21] labarba commented on #55
We want two reviewers. A third reviewer can be invited to help when the submission is outside the "comfort zone" for the editor.

[2019-06-06 15:30] lwjohnst86 commented on #49
I've removed the reference as requested and updated the version.

Version: v2.2.0
Zenodo DOI: 10.5281/zenodo.3240508

Thanks!

[2019-06-06 16:52] labarba commented on #49
@whedon set v2.2.0 as version

[2019-06-06 16:52] whedon commented on #49
OK. v2.2.0 is the version.

[2019-06-06 16:54] labarba commented on #49
@whedon set 10.5281/zenodo.3240508 as archive

[2019-06-06 16:54] whedon commented on #49
OK. <a href="https://doi.org/10.5281/zenodo.3240508" target="_blank">10.5281/zenodo.3240508</a> is the archive.

[2019-06-06 16:56] labarba commented on #49
@whedon accept

[2019-06-06 16:56] whedon commented on #49
[code]

[2019-06-06 16:56] whedon commented on #49
[code]

[2019-06-06 16:56] whedon commented on #49
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/35

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/35, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-06 16:59] labarba commented on #49
@whedon accept deposit=true

[2019-06-06 16:59] whedon commented on #49
[code]

[2019-06-06 17:00] whedon commented on #49
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/36
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00049](https://doi.org/10.21105/jose.00049)
2. If everything looks goo

[2019-06-06 17:01] labarba commented on #49
Congratulations, @lwjohnst86, your paper is published in JOSE! 🚀

Tremendous heartfelt thanks to our editor: @juanklopper, and the reviewers: @jhollist, @MattForshaw 🙏

[2019-06-06 17:03] labarba commented on #49
https://twitter.com/JOSE_TheOJ/status/1136679980107292674

[2019-06-06 19:09] #49 closed

[2019-06-06 19:09] whedon commented on #49
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00049/status.svg)](https://doi.org/10.21105/jose.00049)

**We need your help!**

Journal of Open Source Educat

[2019-06-07 21:10] whedon opened #57 "[PRE REVIEW]: Parareal Algorithm Implementation and Simulation in Julia"
**Submitting author:** @saverioperugini (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://github.com/saverioperugini/Parareal-Implementation-and-Simulation-in-Julia" target ="_blank">https://github.com/saverioperugini/Parareal-Implementation-and-Simulation-in-Julia</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instr

[2019-06-07 21:10] whedon commented on #57
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-07 21:10] whedon commented on #57
[code]

[2019-06-07 21:10] whedon commented on #57
Failed to discover a valid open source license.

[2019-06-07 21:10] whedon commented on #57
PDF failed to compile for issue #57 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/57/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-06-07 21:12] labarba commented on #57
@whedon generate pdf

[2019-06-07 21:12] whedon commented on #57
[code]

[2019-06-07 21:12] whedon commented on #57
PDF failed to compile for issue #57 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/57/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-06-07 22:19] saverioperugini commented on #57
LICENSE is now in root.

On 6/7/19 5:10 PM, whedon wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message i

[2019-06-08 16:22] labarba commented on #57
@saverioperugini — Thank you for submitting your code to JOSE. After inspecting your repository and conferring with our editorial board, we have decided not to bring this to review. This looks like a useful piece of software, but JOSE is looking to publish either fully narrated learning modules, or substantial software for educational use. This submission doesn't quite meet that bar.

[2019-06-08 16:23] #57 closed

[2019-06-10 16:07] jrosen48 commented on #50
Hi all, I'm so sorry for the delay. I've moved through a few review items but have a few more to go. I will try to complete this by the end of this week (Friday, 6/14). I'm sorry again. Thanks!

[2019-06-10 17:41] dsblank commented on #55
Sure, I can help with this.

[2019-06-10 19:27] labarba commented on #50
@whedon remind @jrosen48 in 4 days

[2019-06-10 19:27] whedon commented on #50
Reminder set for @jrosen48 in 4 days

[2019-06-10 19:32] labarba commented on #55
@whedon assign @dsblank as reviewer

[2019-06-10 19:32] whedon commented on #55
OK, the reviewer is @dsblank

[2019-06-10 19:33] labarba commented on #55
Thanks, @dsblank! Hang tight while @willingc finds a second reviewer

[2019-06-10 23:45] willingc commented on #55
Hi @trallard, I saw your name on the list of potential reviewers and thought you would be a good reviewer. Would you be willing to contribute a review for JOSE? The submission is titled "mLEARn: An Implementation of Multi-layer Perceptron in C++" Let me know! Thanks.

[2019-06-11 13:15] trallard commented on #55
Hi @willingc sure, I would love to help with the review

[2019-06-11 15:10] rambasnet commented on #52
@katyhuff here's my comments:

There's a release: https://github.com/rambasnet/ThinkPythonNotebooks/releases but I'd prefer the review conducted on the most recent commit to the default branch if possible.

Noted and fixed.

[2019-06-11 17:02] georgiastuart commented on #56
To run in interactive mode, `$ ./run -i` does not work on my computer (Ubuntu). When I simply use `$ ./run$ I get the `chAmElEoN>` prompt, though.

[2019-06-11 17:40] saverioperugini commented on #56
We have simplified the interface, and the -i is no longer required to run
the interpreters in interactive mode.

If the run interface is given an argument, the source code file argument is
run. Otherwise if run is not given an argument the interpreter starts in
interactive mode.

This is the convention with interpreters like the python interpreter.

On Jun 11, 2019, at 1:02 PM, Georgia Stuart <not

[2019-06-11 17:45] georgiastuart commented on #56
Ok, great. Please update the documentation everywhere it says ./run -i to fix that.

[2019-06-12 15:20] JasonJWilliamsNY commented on #53
@labarba I believe I have completed this review and filed my issues in the target repo. Just let me know what if anything else I need to do next. Thanks!

[2019-06-13 00:25] saverioperugini commented on #56
The documentation everywhere is now updated.

On 6/11/19 1:45 PM, Georgia Stuart wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information containe

[2019-06-13 02:32] georgiastuart commented on #56
I'm still working on verifying the functionality, but here are a couple shallow things that need to be fixed:
1. References in the .bib don't list DOIs (see under the Software paper requirement in the checklist)
2. I don't see any community guidelines. Did I miss them somehow? I am not as familiar with bitbucket.

[2019-06-13 14:59] saverioperugini commented on #56
We have added DOIs for the references that have them (e.g., all in the
ACM DL); not add references we cite have DOIs.

I am not sure where the community guidelines are posted for BitBucket.

Or are you referring to us as authors creating a file as follows:

https://confluence.atlassian.com/bitbucketserver/creating-a-contributions-guidelines-file-938025885.html

--
Saverio Perugini, Ph.D.
Associate

[2019-06-13 15:24] georgiastuart commented on #56
I think a file of that sort would be sufficient. Here is the JOSE requirement:

"Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2019-06-13 20:16] jrosen48 commented on #50
As it didn't appear here automatically (did I not create the link correctly?), here is an issue I filed related to the statement of need: https://gitlab.com/oer/emacs-reveal/issues/9

[2019-06-13 20:18] jrosen48 commented on #50
A very brief issue regarding the absence of tests: https://gitlab.com/oer/emacs-reveal/issues/10

[2019-06-14 08:45] lechten commented on #50
@whedon generate pdf

[2019-06-14 08:45] whedon commented on #50
[code]

[2019-06-14 08:46] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-06-14 08:48] lechten commented on #50
@whedon generate pdf

[2019-06-14 08:48] whedon commented on #50
[code]

[2019-06-14 08:48] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-06-14 08:52] lechten commented on #50
@whedon generate pdf

[2019-06-14 08:52] whedon commented on #50
[code]

[2019-06-14 08:52] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-06-14 09:30] lechten commented on #50
Thanks, @jrosen48 for your feedback! I responded to your issues, and the new article proof reflects changes to the paper.

[2019-06-14 17:10] jrosen48 commented on #50
Thanks @lechten  - just responded to each of the comments (and have updated my review checklist accordingly!).

[2019-06-14 19:27] whedon commented on #50
:wave: @jrosen48, please update us on how your review is going.

[2019-06-15 07:57] labarba commented on #50
That was your automated reminder that I [set]( https://github.com/openjournals/jose-reviews/issues/50#issuecomment-500560838), @jrosen48. I see you could be getting close to recommending publication. What's your status, @markgalassi?

[2019-06-23 22:10] AstrobioMike commented on #53
@whedon generate pdf

[2019-06-23 22:10] whedon commented on #53
[code]

[2019-06-23 22:11] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00053/jose.00053/10.21105.jose.00053.pdf)

[2019-06-23 22:15] labarba commented on #53
@luizirber — You haven't checked off any items in your review checklist. Can you give us an update on your review status?

[2019-06-23 22:19] AstrobioMike commented on #53
Regarding the newly generated article proof:

Thanks to input from @JasonJWilliamsNY and in tandem with converting some materials into more of a teaching format for some upcoming workshops (including smaller blocks/sections and interim, collapsible-box-style challenge questions), there's been a pretty large overhaul (in structure, not content) of the Unix and R sections.

So I altered a few senten

[2019-06-23 22:20] AstrobioMike commented on #53
Oh, and will definitely need to update the version/zenodo-stored release when we're done here - this is mostly a note to myself :)

[2019-06-24 10:31] whedon opened #58 "[PRE REVIEW]: M4: Metals, Magnets, and Miscellaneous Materials"
**Submitting author:** @albi3ro (<a href="http://orcid.org/0000-0002-2127-8453">Christina Colleen Lee</a>)
**Repository:** <a href="https://github.com/albi3ro/M4" target ="_blank">https://github.com/albi3ro/M4</a>
**Version:** v_jose-submit
**Editor:** @katyhuff
**Reviewers:** @IanHawke, @william-pfalzgraff

**Author instructions**

Thanks for submitting your paper to JOSE @albi3ro. The JOSE edito

[2019-06-24 10:31] whedon commented on #58
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-24 10:31] whedon commented on #58
[code]

[2019-06-24 10:31] whedon commented on #58
PDF failed to compile for issue #58 with the following error:

 Can't find any papers to compile :-(

[2019-06-24 10:44] labarba commented on #50
hi folks — I just sent an email to @markgalassi to ask for a status update. Stay tuned.

[2019-06-24 10:48] labarba commented on #55
@whedon add @trallard as reviewer

[2019-06-24 10:48] whedon commented on #55
OK, @trallard is now a reviewer

[2019-06-24 10:49] labarba commented on #55
Thanks for volunteering to review, @trallard! I will start the review now.

[2019-06-24 10:49] labarba commented on #55
@whedon start review

[2019-06-24 10:49] whedon opened #59 "[REVIEW]: mLEARn: An Implementation of Multi-layer Perceptron in C++"
**Submitting author:** @kalu-o (<a href="http://orcid.org/0000-0002-8152-4863">Kalu U. Ogbureke</a>)
**Repository:** <a href="https://github.com/kalu-o/mLEARn" target ="_blank">https://github.com/kalu-o/mLEARn</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @trallard, @rasbt
**Archive:** <a href="https://doi.org/10.5281/zenodo.5093771" target="_blank">10.5281/zenodo.5093771</a>

## Sta

[2019-06-24 10:49] whedon commented on #55
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/59. Feel free to close this issue now!

[2019-06-24 10:49] whedon commented on #59
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dsblank, @trallard it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably cu

[2019-06-24 10:49] whedon commented on #59
[code]

[2019-06-24 10:49] #55 closed

[2019-06-24 10:49] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00059/jose.00059/10.21105.jose.00059.pdf)

[2019-06-24 10:50] labarba commented on #59
👋 @dsblank, @trallard — Thank you for agreeing to review this submission to JOSE. This is where it happens: you both have a checklist at the top of this issue to help you along. Feel free to post questions here and open issues on the submission repository, if needed. The version item is something we can check off in the end, as we will ask the authors to do a release after any revisions. Statement

[2019-06-24 10:52] labarba commented on #59
Our [Reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines) cover briefly our expectations.

[2019-06-24 11:06] labarba commented on #58
@whedon generate pdf

[2019-06-24 11:06] whedon commented on #58
[code]

[2019-06-24 11:06] whedon commented on #58
PDF failed to compile for issue #58 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-06-24 11:09] labarba commented on #58
👋  @albi3ro —You will need to add the missing fields to the paper metadata.
See error: `Paper YAML header is missing expected fields: affiliations, bibliography `

[2019-06-24 11:18] labarba commented on #58
@katyhuff — The author suggested you as handling editor for this JOSE submission, but I know you're already editing another. Let me know if you're willing to do one more... otherwise, perhaps @moorepants will be willing? (although not quite aligned with area of interest/expertise). Help!

[2019-06-24 15:41] katyhuff commented on #50
Thanks.

[2019-06-24 17:43] moorepants commented on #58
I'll be on vacation for the next two weeks, so I couldn't do it until July 11th.

[2019-06-24 18:04] willingc commented on #55
Thanks @labarba for starting the review.

[2019-06-25 01:06] katyhuff commented on #58
I'm swamped this week, but I can take a look at this next week.

[2019-06-25 01:06] katyhuff commented on #58
@whedon assign @katyhuff as editor

[2019-06-25 01:06] whedon commented on #58
OK, the editor is @katyhuff

[2019-06-25 01:11] katyhuff commented on #58
@whedon generate pdf

[2019-06-25 01:11] whedon commented on #58
[code]

[2019-06-25 01:11] whedon commented on #58
PDF failed to compile for issue #58 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-06-25 01:16] katyhuff commented on #58
@albi3ro Please let me know you are able to update the paper metadata to include the missing fields ( `affiliations, bibliography` as suggested by @labarba above) . At that point, I'll begin assigning reviewers.

[2019-06-29 17:49] luizirber commented on #53
Two issues:

## General checks

- **License**: Is the license for the content GPLv3? CC is recommended for content.

## Documentation

- **Community guidelines**: The issue templates are very good, but maybe adding
  CONTRIBUTING.md also helps for setting expectations when someone opens a pull
  request (there are also PR templates, but that might be overkill =] )

Other than that, I submitted a [

[2019-07-04 06:32] albi3ro commented on #58
I updated `paper.md`, so it should work now.

I don't have an affiliation at the moment, so I created an affiliation named "Independent Researcher".  But if you can a different protocol for no affiliations, I can change that.

[2019-07-04 19:26] katyhuff commented on #58
@whedon generate pdf

[2019-07-04 19:26] whedon commented on #58
[code]

[2019-07-04 19:26] whedon commented on #58
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00058/jose.00058/10.21105.jose.00058.pdf)

[2019-07-10 21:02] albi3ro commented on #58
Do I need to do anything more now?

[2019-07-10 21:11] rambasnet commented on #52
Hi, @labarba @katyhuff @AllenDowney,
 I was just curious about the review status as I've not noticed any progress since the last comment. Are reviewers waiting for my response on me for anything that I missed? Thanks in advance!

[2019-07-11 03:33] katyhuff commented on #52
Thank you for pinging this item @rambasnet .

@mcburton & @AllenDowney : Can you estimate a time of completion for your reviews? I recognize that summer (e.g. the SciPy conference this week) may impede progress somewhat. Please let us know what timeline will be reasonable for your review completion.

[2019-07-11 11:55] labarba commented on #58
Your editor, @katyhuff, will be looking for reviewers for the submission. You could help if you find someone on [this list of people](https://bit.ly/jose-reviewers) have already agreed to review for JOSE that you can recommend!

[2019-07-11 18:43] katyhuff commented on #58
Thanks @labarba -- and @albi3ro I'm sorry for the delay. I apologize, I thought you were still working on the bibliography part of the request. @albi3ro:  Please note that your bibliography still doesn't appear (now, simply because you don't reference anything).

In any case, I believe that I have identified a couple of appropriate reviewers whom I'll invite now. If you have suggestions, of course

[2019-07-11 19:03] katyhuff commented on #58
@leios : James Schloss, are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education) ? This submission is in need of expertise in physics as well as familiarity with the systems and languages involved (julia, jupyter). I think you would be an excellent reviewer. Please see the [JOSE reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines) for

[2019-07-11 19:04] katyhuff commented on #58
@trallard : Tania Allard, are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education) ? This submission is in need of expertise in materials as well as familiarity with the systems and languages involved (julia, jupyter). I think you would be an excellent reviewer. Please see the [JOSE reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines)

[2019-07-11 20:35] leios commented on #58
@katyhuff There might be a slight conflict of interest here. @albi3ro Is a good friend of mine.

[2019-07-11 20:42] trallard commented on #58
Hey @katyhuff I would love to take this on.

The problem is I have another review that I want to complete before going on leave on the 27th. I can try and make some advances on this (though) I cannot promise anything. Or move it forward after the 14th of August.

Would this work for y'all?

[2019-07-12 14:44] katyhuff commented on #58
@leios : Thanks for letting me know. It's up to you to decide whether you can make an impartial evaluation of this work. Our official policy is:

[code]

[2019-07-12 14:47] katyhuff commented on #58
@trallard Thanks for letting me know. I'll try to find someone else, as it sounds like your plate is pretty full.

@albi3ro : Can you recommend anyone?

[2019-07-12 15:11] katyhuff commented on #58
@lheagy : Lindsay Heagy, are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education)? This submission is in need of expertise in physics as well as familiarity with the systems and languages involved (julia, jupyter). Though I know your scientific domain is somewhat outside of the materials science focused physics in this work, your experience in Julia,

[2019-07-12 17:07] labarba commented on #58
I wonder if @IanHawke could help with this review ... Ian—this submission to JOSE consists of Jupyter notebooks using Julia, addressing physics of materials. Could you have a look and consider if you could contribute a review?

[2019-07-12 18:18] katyhuff commented on #58
Thanks @labarba !

[2019-07-12 19:52] labarba commented on #58
Another person who might be able to help with this JOSE review is @dga_smith (more chemistry than physics background, I think, but materials science sits at some intersection of those fields).

@dga_smith — Could you have a look at this JOSE submission and consider if you could contribute a review? Or perhaps you can think of someone else who could?
[ Here's the article proof :page_facing_up: :poi

[2019-07-12 20:02] IanHawke commented on #58
Technically I think I can do this, yes (with some brushing up). As far as timing goes I will only be able to start toward the end of next week, and probably only have time to cover the straightforward part of the checklist before having to stop for a week. I would hope to be able to comment on all the material by the end of the month. Sorry I can't promise anything faster.

[2019-07-12 20:03] whedon opened #60 "[PRE REVIEW]: BeamBending: a teaching aid for 1-D shear-force and bending-moment diagrams"
**Submitting author:** @alfredocarella (<a href="http://orcid.org/0000-0001-8340-3427">Alfredo Carella</a>)
**Repository:** <a href="https://github.com/alfredocarella/simplebendingpractice" target ="_blank">https://github.com/alfredocarella/simplebendingpractice</a>
**Version:** v1.0.0
**Editor:** @moorepants
**Reviewers:** @desgarcia, @nicoguaro

**Author instructions**

Thanks for submitting you

[2019-07-12 20:03] whedon commented on #60
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-12 20:03] whedon commented on #60
[code]

[2019-07-12 20:04] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00060/jose.00060/10.21105.jose.00060.pdf)

[2019-07-12 20:10] lheagy commented on #58
Thanks for thinking of me @katyhuff; this looks like an interesting set of resources! I am a bit conference over-loaded for the next few weeks, so realistically it would likely be mid-august before I could take a look... Please feel free to keep me on the list as a back-up, if you are still in need of someone in a few weeks time

[2019-07-15 14:02] saverioperugini commented on #56
Hi,

We have just posted the file JOSE/community_guidelines.txt to address this issue.

[2019-07-15 22:44] georgiastuart commented on #56
Great!

I am back from vacation now and will finish your review by the end of the week.

[2019-07-17 00:46] moorepants commented on #60
@labarba I can edit this one if you'd like and I have some people in mind that could review.

[2019-07-17 07:05] labarba commented on #60
Excellent, @moorepants, thanks! 🚀

[2019-07-17 07:05] labarba commented on #60
@whedon assign @moorepants as editor

[2019-07-17 07:05] whedon commented on #60
OK, the editor is @moorepants

[2019-07-17 19:23] alfredocarella commented on #60
@whedon generate pdf

[2019-07-17 19:23] whedon commented on #60
[code]

[2019-07-17 19:24] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00060/jose.00060/10.21105.jose.00060.pdf)

[2019-07-17 19:30] alfredocarella commented on #60
@whedon commands

[2019-07-17 19:30] whedon commented on #60
Here are some things you can ask me to do:

[code]

[2019-07-17 19:30] alfredocarella commented on #60
@whedon generate pdf

[2019-07-17 19:30] whedon commented on #60
[code]

[2019-07-17 19:31] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00060/jose.00060/10.21105.jose.00060.pdf)

[2019-07-17 19:42] alfredocarella commented on #60
@whedon generate pdf

[2019-07-17 19:42] whedon commented on #60
[code]

[2019-07-17 19:43] whedon commented on #60
PDF failed to compile for issue #60 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.131/79b57ea0c878a4d1c6b821b76fb63e0aaa54b28e.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian tag value
  TGA In

[2019-07-17 19:45] alfredocarella commented on #60
@whedon generate pdf

[2019-07-17 19:45] whedon commented on #60
[code]

[2019-07-17 19:46] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00060/jose.00060/10.21105.jose.00060.pdf)

[2019-07-17 19:58] alfredocarella commented on #60
Hi there! Thanks for starting the review process so promptly.
The paper includes a stubborn figure that keeps being placed at the end; sorry about that.

[2019-07-19 16:33] moorepants commented on #60
@alfredocarella To fit as an "open-source learning module" you need to fit this criteria "Examples include Jupyter notebooks or plaintext/markup language documents like LaTeX, R Markdown, and ReST for course/lesson content and associated notes, with embedded or associated code snippets/programs." I'm not finding the documents + associated notes in your repository.

[2019-07-19 16:55] alfredocarella commented on #60
@moorepants The lesson content is a chapter of the documentation (3 consecutive pages including code snippets) starting here: https://alfredocarella.github.io/simplebendingpractice/background.html
After going through that content, the concepts can be applied starting from this example: https://alfredocarella.github.io/simplebendingpractice/examples/example_1.html
which is also provided in the form

[2019-07-19 17:15] moorepants commented on #60
Ok, that's what I was looking for. Thank you. I think this meets the basic criteria, I'll round up some reviewers.

[2019-07-22 12:21] IanHawke commented on #58
A bit of a drive-by start to the review process, I'm afraid: I won't be able to follow up until a week from now.

[2019-07-22 13:45] katyhuff commented on #58
@whedon assign @IanHawke as reviewer

[2019-07-22 13:45] whedon commented on #58
OK, the reviewer is @IanHawke

[2019-07-22 13:48] katyhuff commented on #58
Thanks for agreeing @IanHawke !
Thanks for letting me know @lheagy . I'll try for one more reviewer, but will let you know if I can't find anyone.

[2019-07-22 13:50] katyhuff commented on #58
@william-pfalzgraff : William Pfalzgraff are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education)? This submission is in need of expertise in materials science (physics, chemistry) as well as familiarity with the systems and languages involved (julia, jupyter). Though I know your scientific domain is somewhat outside of the materials science focus in

[2019-07-22 16:27] william-pfalzgraff commented on #58
Hi @katyhuff. I'm currently on vacation, but I'd be able to start my review next week (the week of July 29).  Would that work?

[2019-07-22 19:53] moorepants commented on #60
FYI, I have four requests to review out and will update here if any agree.

[2019-07-22 20:21] moorepants commented on #60
@faradai2008 or @nagordon, would either of you be interested in reviewing this article submitted to the Journal of Open Source Education on a package for teaching about beam bending mechanics?

[2019-07-22 20:58] katyhuff commented on #58
That would be fantastic @william-pfalzgraff . Thank you.

[2019-07-22 20:58] katyhuff commented on #58
@whedon add @william-pfalzgraff as reviewer

[2019-07-22 20:58] whedon commented on #58
OK, @william-pfalzgraff is now a reviewer

[2019-07-22 20:58] katyhuff commented on #58
@whedon start review

[2019-07-22 20:58] whedon opened #61 "[REVIEW]: M4: Metals, Magnets, and Miscellaneous Materials"
**Submitting author:** @albi3ro (<a href="http://orcid.org/0000-0002-2127-8453">Christina Colleen Lee</a>)
**Repository:** <a href="https://github.com/albi3ro/M4" target ="_blank">https://github.com/albi3ro/M4</a>
**Version:** v_jose-submit
**Editor:** @labarba
**Reviewer:** @IanHawke, @william-pfalzgraff
**Archive:** Pending

## Status

[![status](http://jose.theoj.org/papers/f84b319959fff4dcab2d

[2019-07-22 20:58] whedon commented on #58
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/61. Feel free to close this issue now!

[2019-07-22 20:58] whedon commented on #61
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @IanHawke, @william-pfalzgraff it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're

[2019-07-22 20:58] whedon commented on #61
[code]

[2019-07-22 20:59] whedon commented on #61
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00061/jose.00061/10.21105.jose.00061.pdf)

[2019-07-22 21:00] katyhuff commented on #58
@albi3ro Thank you for your patience. I've now found reviewers, and we'll be able to start the review discussion over in #61. Please keep an eye on that issue for comments from reviewers in the next couple of weeks.

@william-pfalzgraff @IanHawke Thank you for volunteering! Let's move over to #61 where we'll conduct the review!

[2019-07-22 21:00] #58 closed

[2019-07-23 13:53] saverioperugini commented on #56
Hi,

Any updates on the review?

thanks.

On 7/15/19 6:44 PM, Georgia Stuart wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in

[2019-07-25 15:29] AstrobioMike commented on #53
Thanks for the call on the license, @luizirber! I think i just chose GPL because github doesn't nicely let you select a CC license and i didn't look any further at the time, and didn't really understand the differences much. Now it's a CC-BY-4 :)

And while there aren't PR templates, there are Issue templates now thanks to a suggestion by @JasonJWilliamsNY :) https://github.com/AstrobioMike/Astrob

[2019-07-25 23:49] moorepants commented on #60
Destiny Garcia (@desgarcia) from UC Davis has agreed to be a reviewer. I'm still hoping to get one more additional reviewer.

Destiny, you can begin reviewing the submitted paper, software repository, and software documentation from the links above, but the review checklist will be created in a new github issue once I get the second reviewer (here is an example you can check out to see how it work

[2019-07-25 23:49] moorepants commented on #60
@whedon assign @desgarcia as reviewer

[2019-07-25 23:49] whedon commented on #60
OK, the reviewer is @desgarcia

[2019-07-25 23:52] moorepants commented on #60
@alfredocarella Do you have any other suggested reviewers?

[2019-07-26 11:24] labarba commented on #52
@AllenDowney, @mcburton — hi folks! May we have an update from you on the status of your review? Thank you! 🙏

[2019-07-26 11:28] labarba commented on #56
@georgiastuart, @valentina-s — hi folks! May we have an update from you on the status of your review? Thank you! 🙏

[2019-07-26 11:29] labarba commented on #59
@dsblank, @trallard — hi folks! May we have an update from you on the status of your review? Thank you! 🙏

[2019-07-26 11:31] whedon opened #62 "[PRE REVIEW]: DraggleSimulator: An Open Source Web Application for Teaching Genetic Drift"
**Submitting author:** @Atticus29 (<a href="http://orcid.org/0000-0002-7138-7025">M.A. Fisher</a>)
**Repository:** <a href="https://github.com/Atticus29/population-fragmentation" target ="_blank">https://github.com/Atticus29/population-fragmentation</a>
**Version:** v1.0.0
**Editor:** @magsol
**Reviewers:** @AstrobioMike, @luizirber

**Author instructions**

Thanks for submitting your paper to JOS

[2019-07-26 11:31] whedon commented on #62
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 11:31] whedon commented on #62
[code]

[2019-07-26 11:32] whedon commented on #62
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00062/jose.00062/10.21105.jose.00062.pdf)

[2019-07-26 11:45] whedon opened #63 "[PRE REVIEW]: FAIR_Bioinfo: a turnkey training course and protocol for reproducible computational biology"
**Submitting author:** @thomasdenecker (<a href="http://orcid.org/0000-0003-1421-7641">Thomas DENECKER</a>)
**Repository:** <a href="https://github.com/thomasdenecker/FAIR_Bioinfo" target ="_blank">https://github.com/thomasdenecker/FAIR_Bioinfo</a>
**Version:** v1.2.0
**Editor:** @labarba
**Reviewers:** @k8hertweck, @lexnederbragt

**Author instructions**

Thanks for submitting your paper to JOSE

[2019-07-26 11:45] whedon commented on #63
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 11:45] whedon commented on #63
[code]

[2019-07-26 11:45] whedon commented on #63
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00063/jose.00063/10.21105.jose.00063.pdf)

[2019-07-26 11:46] whedon opened #64 "[PRE REVIEW]: Data Carpentry for Business (Python and SQL)"
**Submitting author:** @TacNayn (<a href="http://orcid.org/0000-0002-9520-5652">Hao Xi</a>)
**Repository:** <a href="https://github.com/data-lessons/SQL-business" target ="_blank">https://github.com/data-lessons/SQL-business</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @TacNayn. The JOSE editor (shown at the top

[2019-07-26 11:46] whedon commented on #64
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 11:46] whedon commented on #64
[code]

[2019-07-26 11:46] whedon commented on #64
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00064/jose.00064/10.21105.jose.00064.pdf)

[2019-07-26 14:14] georgiastuart commented on #56
Almost complete. I should have my final suggestions by next Friday. Unfortunately I've had a lot of travel this month.

[2019-07-26 14:46] georgiastuart commented on #56
@labarba @RobertTalbert  I'm unsure how to check "Version: Does the release version given match the GitHub release (v.1.0.0)?"

Do you have a suggestion?

[2019-07-26 14:50] georgiastuart commented on #56
@saverioperugini Can you move the contributions file so it conforms to BitBucket's contribution file location requirements? This makes it much easier to find and useful for those viewing your project. https://confluence.atlassian.com/bitbucketserver/creating-a-contributions-guidelines-file-938025885.html

[2019-07-26 17:31] AllenDowney commented on #52
@rambasnet The installation instructions look good, but it doesn't look like there is a list of requirements.  Consider adding requirements.txt or environment.yml (although it looks like the notebooks run on Binder, so maybe you have no requirements other than Python and Jupyter).

[2019-07-26 17:33] rambasnet commented on #52
@AllenDowney Yes, all it needs is Python 3 and Jupyter Notebook.

[2019-07-26 17:36] AllenDowney commented on #52
@rambasnet On the question of Content quality, I think the primary contribution here is porting the code examples and exercises from the book into notebooks.  Currently, the text in the notebooks is minimal, so they would not work well on their own, but I understand they are mean to supplement the book.  Over time, it might be nice to flesh out the text in the notebooks.

[2019-07-26 17:38] AllenDowney commented on #52
@rambasnet It looks like the references in paper.md are missing.  And the format is a little strange, but I don't know if there's a template it's supposed to follow.

[2019-07-26 17:59] rambasnet commented on #52
@AllenDowney, I agree with your comment on the content bing minimal which is intentional as the goal is not to compliment the text but to supplement. Also, research shows students do not always read text and we hope that these notebooks will force them to read.
References are in paper.bib file that is how the editorial wants.

[2019-07-26 18:29] moorepants commented on #60
@nicoguaro Might you be interested in being a reviewer for this submission to the Journal of Open Source Education? I see that you have written a Python based continuum mechanics package that gives you unique experience for reviewing this similar software and materials.

[2019-07-26 18:31] moorepants commented on #60
@buddyd16 Might you be interested in being a reviewer for this submission to the Journal of Open Source Education? I see that you have written a Python based structural engineering package that gives you unique experience for reviewing this similar software and materials.

[2019-07-26 18:46] nicoguaro commented on #60
@moorepants I can review it.

[2019-07-26 19:07] moorepants commented on #60
Fantastic! @nicoguaro Please read the reviewer guidelines here: http://jose.theoj.org/about#reviewer_guidelines and both reviewers should note that this is an "open-source educational materials/learning module" submission.

[2019-07-26 19:07] moorepants commented on #60
@whedon add @nicoguaro as reviewer

[2019-07-26 19:07] whedon commented on #60
OK, @nicoguaro is now a reviewer

[2019-07-26 19:10] labarba commented on #52
Reading this thread, I'm concerned that this project may not be quite what JOSE is looking for. We seek to publish computational learning modules that are ready for adoption by other researchers, and are complete in that sense. Maybe a case can be made, since the textbook these notebooks complement is openly available. But spartan notebooks made up of mostly code in general would not be sufficient

[2019-07-26 19:11] moorepants commented on #60
Now that we have two reviewers I will open the actual review issue with the checklist. @nicoguaro and @desgarcia, you can review at your own pace and bring up any discussions on the new issue. I would like to target two weeks for the reviews to be completed (by August 9th). Let me know if that will be an issue. Thank you again for your time and expertise in reviewing.

[2019-07-26 19:11] moorepants commented on #60
@whedon start review

[2019-07-26 19:11] whedon opened #65 "[REVIEW]: BeamBending: a teaching aid for 1-D shear-force and bending-moment diagrams"
**Submitting author:** @alfredocarella (<a href="http://orcid.org/0000-0001-8340-3427">Alfredo Carella</a>)
**Repository:** <a href="https://github.com/alfredocarella/simplebendingpractice" target ="_blank">https://github.com/alfredocarella/simplebendingpractice</a>
**Version:** v1.0.1
**Editor:** @moorepants
**Reviewer:** @desgarcia, @nicoguaro
**Archive:** <a href="https://doi.org/10.5281/zenodo

[2019-07-26 19:11] whedon commented on #60
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/65. Feel free to close this issue now!

[2019-07-26 19:11] whedon commented on #65
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @desgarcia, @nicoguaro it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably

[2019-07-26 19:11] whedon commented on #65
[code]

[2019-07-26 19:12] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-07-26 19:12] moorepants commented on #60
Closing, if any other reviewers would like to join please respond in issue #65.

[2019-07-26 19:12] #60 closed

[2019-07-26 19:42] nicoguaro commented on #65
@moorepants, should the repository include two license files?

@alfredocarella, do you have a DOI for your reference? Also, I would suggest another reference that is not in Norwegian, preferably in English.

[2019-07-26 19:45] rambasnet commented on #52
main contributions:
- all the important keywords, terms, topics, and definitions used in typical CS1 and CS2 courses are included in easy to read fashion making it easier for instructors to use during class (instead of jumping between powerpoint/text and code editor). This, of course, is mostly based on the original text with minor addition and or tweak where applicable. Every chapter has a direct

[2019-07-26 19:53] moorepants commented on #65
I'm personally fine with a single license for all materials in the repository. Some people license code separately than other content (text, images, etc.). That is fine too.

[2019-07-28 14:59] labarba commented on #52
@rambasnet — I've had a browse into your notebooks, and read the paper, and as the handling editor, I do maintain several concerns about the submission. It doesn't seem ready to be published. Generally, we'd expect fully narrated and ready-to-use lessons. I do recognize that the purpose and design of this collection of notebooks is not a "learning module" using computing to learn by the JOSE expec

[2019-07-29 08:43] alfredocarella commented on #65
@nicoguaro Sorry about the late answer.
I have unfortunately not found any DOI for Bell's book, but its ISBN (978-82-450-1685-7) is given in the file `paper.bib`.
As you very well point out, it is probably a good idea to have a reference in English. I have therefore added "Statics and Mechanics of Materials" by F. Beer (ISBN 978-0-07-339816-7). The relevant sections (i.e. where the topic is introd

[2019-07-29 08:44] alfredocarella commented on #65
@whedon generate pdf

[2019-07-29 08:44] whedon commented on #65
[code]

[2019-07-29 08:44] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-07-29 08:55] alfredocarella commented on #60
@whedon generate pdf

I am sending the pdf generation command here in order to avoid polluting the other issue with useless output.

[2019-07-29 08:55] whedon commented on #60
[code]

[2019-07-29 08:55] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00060/jose.00060/10.21105.jose.00060.pdf)

[2019-07-29 08:59] alfredocarella commented on #65
@whedon generate pdf

[2019-07-29 08:59] whedon commented on #65
[code]

[2019-07-29 09:00] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-07-29 15:48] nicoguaro commented on #65
@alfredocarella, it seems that the package only supports statically determined beams with (exactly) one pinned and one roller support. Maybe it is a good idea to explicitly mention this in the documentation and in the paper.

It seems a little bit confusing to me to use interchangeably pinned and fixed. Since the support doesn't constrain rotations.

[2019-07-29 20:23] rambasnet commented on #52
@labarba - Thank you for the feedback!
We'll continue to use these notebooks in our classrooms and improve them with your suggestions in mind to make it closer to a "finished product."

[2019-07-30 09:20] lechten commented on #50
@labarba, @markgalassi  Any news on the status of this review? Anything that I could do?

[2019-07-30 10:27] labarba commented on #52
@AllenDowney, @mcburton — I'm going to pause the review, in light of the exchange with the author just above ☝️
This collection of notebooks needs a bit of work before they are in publishable form. We are very grateful for the time you've contributed to this review so far, and hope you'll be willing to come back to it when the authors revive their submission 🙏

[2019-07-30 12:19] AllenDowney commented on #52
Ok, thanks, Lorena.

On Tue, Jul 30, 2019, at 6:27 AM, Lorena A. Barba wrote:

[2019-07-30 13:23] labarba commented on #50
The reviewer has gone MIA and is not responsive here or on email. @katyhuff: could you take executive action to complete the review without him?

[2019-07-30 13:33] katyhuff commented on #50
Yes. I'll handle this sometime in the next day.

[2019-07-30 13:34] whedon commented on #50
Reminder set for @katyhuff in 1 day

[2019-07-31 09:42] alfredocarella commented on #65
@nicoguaro, thanks for two useful comments. I have done the following to address them:
* The mentioned limitations in package scope (i.e. only statically determined beams with one pinned and one roller support) is now explicitly mentioned in the documentation, class docstrings, `paper.md`, and `README.md`.
* I have also changed all code and documentation references from "fixed support" to "pinned

[2019-07-31 09:43] alfredocarella commented on #65
@whedon generate pdf

[2019-07-31 09:43] whedon commented on #65
[code]

[2019-07-31 09:44] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-07-31 15:49] nicoguaro commented on #65
@moorepants, I have some questions regarding the "common" practices in JOSE.

- How specific should the community guidelines be?

- Is it OK to suggest to use vector (instead of raster) graphics in the documentation? This would make easier to repurpose the lessons, and even let to automate the translation of them.

[2019-07-31 16:06] nicoguaro commented on #65
@alfredocarella, I opened [issue #1](https://github.com/alfredocarella/simplebendingpractice/issues/1) regarding the tests.

I also have some comments regarding units, that might be important considering that this is educational content:

- Units should be preceded by a space (see [SI Brochure](http://www.bipm.org/en/si/si_brochure/), [§5.3.3](http://www.bipm.org/en/publications/si-brochure/sectio

[2019-07-31 16:08] moorepants commented on #65
One way to handle this is to add a `CONTRIBUTING` file to the repository. It does not need to be elaborate and just needs to address the items in the checklist, even if is says that contributions aren't accepted.

It is fine to suggest this. It will depend on the author's response as to whether it is possible.

[2019-08-01 02:47] katyhuff commented on #50
In the absense of our second reviewer, I have conducted a review myself. Though I'm not an emacs user, I am an avid reveal user. Thank you for this contribution @lechten . I have left some minor review comments below, but will be conducting final checks (with my handling editor hat on) in the coming moments.

## Review checklist for @katyhuff

### Conflict of interest

- [x] As the reviewer I conf

[2019-08-01 02:48] katyhuff commented on #50
@whedon check references

[2019-08-01 02:48] whedon commented on #50
[code]

[2019-08-01 02:48] whedon commented on #50
[code]

[2019-08-01 02:52] katyhuff commented on #50
Thank you @jrosen48  for your review -- we couldn't do this without you.
I appreciate your start on this review @markgalassi -- I'm sorry you weren't able to finish it, but I do hope that you will let us know ASAP if you have any blocking concerns about this work being accepted.

Thank you @lechten for a strong submission and for engaging actively in the review process! I have looked over the pape

[2019-08-01 07:14] lechten commented on #50
@katyhuff Many thanks for taking care of the second review on such short notice!

Concerning licensing: Did you see the file [LICENSE](https://gitlab.com/oer/emacs-reveal/blob/master/LICENSE) or only the folder LICENSES? The challenge is that included software and resources come with different license terms. Thus, as explained in file [LICENSE](https://gitlab.com/oer/emacs-reveal/blob/master/LICEN

[2019-08-01 07:32] lechten commented on #50
@whedon generate pdf

[2019-08-01 07:33] whedon commented on #50
[code]

[2019-08-01 07:33] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-08-01 07:40] lechten commented on #50
I uploaded the current version: https://doi.org/10.5281/zenodo.3357438

[2019-08-01 12:36] whedon opened #66 "[PRE REVIEW]: A course on the implicit finite volume method for CFD using Python"
**Submitting author:** @ctdegroot (<a href="http://orcid.org/0000-0002-2069-8253">Christopher DeGroot</a>)
**Repository:** <a href="https://bitbucket.org/cdegroot/cfdcourse" target ="_blank">https://bitbucket.org/cdegroot/cfdcourse</a>
**Version:** v1.0
**Editor:** @IanHawke
**Reviewers:** @sconde, @zingale

**Author instructions**

Thanks for submitting your paper to JOSE @ctdegroot. The JOSE edi

[2019-08-01 12:36] whedon commented on #66
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 12:36] whedon commented on #66
[code]

[2019-08-01 12:36] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 Can't find any papers to compile :-(

[2019-08-01 12:36] whedon commented on #66
Failed to discover a valid open source license.

[2019-08-01 12:40] labarba commented on #66
@whedon generate pdf

[2019-08-01 12:40] whedon commented on #66
[code]

[2019-08-01 12:40] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 Can't find any papers to compile :-(

[2019-08-01 12:42] labarba commented on #66
@arfon Why is `whedon` unable to find the paper file? It is there in the repo ... is it a Bitbucket thing?

[2019-08-01 12:48] arfon commented on #66
@whedon generate pdf

[2019-08-01 12:48] whedon commented on #66
[code]

[2019-08-01 12:48] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 Can't find any papers to compile :-(

[2019-08-01 12:54] arfon commented on #66
@whedon generate pdf

[2019-08-01 12:54] whedon commented on #66
[code]

[2019-08-01 12:54] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 Can't find any papers to compile :-(

[2019-08-01 12:56] arfon commented on #66
Looks like the file is named `Paper.md` rather than `paper.md`. Whedon is case sensitive I'm afraid.

[2019-08-01 13:04] labarba commented on #66
Thanks, Arfon!

👋 @ctdegroot — Could you please rename the file of your paper to `paper.md`?

[2019-08-01 13:05] labarba commented on #66
You'll also need to rename the `.bib` file.

[2019-08-01 14:08] markgalassi commented on #50
after a month of travel I became very sick; can't keep up at all for the
last two months.  I'm sorry but I will have to step aside on this one.

On Mon, Jun 10, 2019 at 1:27 PM Lorena A. Barba <notifications@github.com>
wrote:

[2019-08-01 14:53] labarba commented on #62
@whedon assign @magsol as editor

[2019-08-01 14:53] whedon commented on #62
OK, the editor is @magsol

[2019-08-01 14:57] labarba commented on #62
👋 @magsol — You are now assigned as editor! Isn't our cute bot `whedon` the best? Your mission now is finding two willing reviewers for the submission. We have a list of folks who have signed up to review for JOSE, but you are free to seek outside of that, and invite via email, Twitter, or even a mention here on this thread.

We're working to update the JOSE website and docs, but in the meantime,

[2019-08-01 15:06] labarba commented on #56
Often the project has a version associated with the submission. In this case, they don't seem to have issued a [tagged release](https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/downloads/?tab=tags) with associated version.

The authors will be requested to issue a tagged release after any revisions are complete, so we can wait until the end of the review for that,

[2019-08-01 15:28] ctdegroot commented on #66
@whedon generate pdf

[2019-08-01 15:28] whedon commented on #66
[code]

[2019-08-01 15:29] whedon commented on #66
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00066/jose.00066/10.21105.jose.00066.pdf)

[2019-08-01 15:30] lechten commented on #50
@markgalassi I'm truly sorry to read this. I sincerely hope that you get well soon!

[2019-08-01 15:36] ctdegroot commented on #66
@labarba Got that naming issue sorted. The PDF looks good.

For reviewers, I could suggest @kyleniemeyer, @sconde, or @TJFord to start. Also noticed that it flagged a lack of license file; I'll get that fixed up before the review begins.

[2019-08-01 15:41] georgiastuart commented on #56
@labarba Thanks! I will ignore it for now.

@saverioperugini I've played with a few of the modules, and everything so far seems to be in working order. Here are a few comments/ requests:

1. It's a little unclear what files and what lines are intended to be modified by the students and what files/lines should be left alone. Can you make this more clear? Perhaps with comments? This is a request for

[2019-08-01 15:42] georgiastuart commented on #56
@labarba @RobertTalbert The compiled paper is also somewhat of a mess (refs missing, tables squashed, etc). I don't think it's the author's fault as it renders fine on bitbucket. Is there something that can be done?

[2019-08-01 15:52] labarba commented on #56
I have no idea why the bibliography is throwing those `???`, but I wonder if some part of the toolchain is getting confused with the `:` character in the reference labels.
@saverioperugini — Can you experiment with that? Make a few changes, then run `@whedon generate pdf` here to get a new proof.

[2019-08-01 15:55] labarba commented on #56
Looks like there may be references missing from the `.bib` file. For example `@QueinnecScheme` is not included, but it is cited in the text, rendering as `???`.

[2019-08-01 16:56] saverioperugini commented on #56
On 8/1/19 8:55 AM, Lorena A. Barba wrote:

Thanks.  Corrected in most recent commit.

[2019-08-01 17:02] saverioperugini commented on #56
On 8/1/19 8:41 AM, Georgia Stuart wrote:

Yes, we can address these items.  I should note that the published paper
cited as [@ChAmElEoNCCSCMW2018] in paper.md (also attached here)
addresses concerns (2) and (3) above.  We can add some additional aids
as you recommend though.

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton,

[2019-08-01 17:19] saverioperugini commented on #56
On 8/1/19 8:41 AM, Georgia Stuart wrote:

We can add numbers to folder names, but it is okay if we leave those out
of the paper?  I ask this so that the paper will remain accurate later
if the order of modules changes or we introduce some new modules.

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1

[2019-08-01 17:42] georgiastuart commented on #56
@saverioperugini I think that's fine. It would simply be nice to have the folders be in the correct order in the repo.

[2019-08-01 18:23] labarba commented on #56
@whedon generate pdf

[2019-08-01 18:23] whedon commented on #56
[code]

[2019-08-01 18:23] katyhuff commented on #50
I'm also very sorry to hear it and am very grateful for your early effort on the review.

[2019-08-01 18:23] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-01 18:24] katyhuff commented on #50
@whedon set v3.0.3 as version

[2019-08-01 18:24] whedon commented on #50
OK. v3.0.3 is the version.

[2019-08-01 18:25] katyhuff commented on #50
@whedon set 10.5281/zenodo.3357438 as archive

[2019-08-01 18:25] whedon commented on #50
OK. <a href="https://doi.org/10.5281/zenodo.3357438" target="_blank">10.5281/zenodo.3357438</a> is the archive.

[2019-08-01 18:25] katyhuff commented on #50
@whedon generate pdf

[2019-08-01 18:25] whedon commented on #50
[code]

[2019-08-01 18:26] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-08-01 18:26] labarba commented on #56
Please check all your other references. We still see some `???` show up, and I think it's due to missing references in the `.bib` file.

[2019-08-01 18:29] labarba commented on #50
@jrosen48 — you still have an unchecked item in the checklist (Functionality documentation). Can you see if you're satisfied with that, and issue your recommendation here?

[2019-08-01 19:09] jrosen48 commented on #50
HI @labarba, I'm sorry about that, I am satisfied with this (and have updated that item, accordingly!).

[2019-08-01 19:16] katyhuff commented on #50
Thank you @jrosen48

@labarba  I believe this is ready to accept!

[2019-08-01 21:17] saverioperugini commented on #56
On 8/1/19 11:26 AM, Lorena A. Barba wrote:

I think they are all fixed now.

Also, all of the code listing are not showing up properly in the PDF,
but are in the md.

thanks,
Saverio

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW

[2019-08-02 07:08] labarba commented on #56
@whedon generate pdf

[2019-08-02 07:08] whedon commented on #56
[code]

[2019-08-02 07:09] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-02 07:13] labarba commented on #56
I'm going to suggest that you remove some of those listings from the paper, and move that content to the documentation of the project. The JOSE paper should not be an extended paper (generally not longer than 4 pages) and should address the items in the [Author Guide](http://jose.theoj.org/about#author_guidelines) only. Please also edit the section headings to camel case.

[2019-08-03 15:07] labarba commented on #50
@lechten — you have included the software repository in the list of references. JOSE papers have the repository (and archive) added as part of the margin decorators on the first page, so we ask that  you don't add it in the text or references.

[2019-08-03 15:20] labarba commented on #50
In the section on Functionality, I find a couple of _in-text citations_, meaning, the citation is a part of speech in a sentence. E.g. "see Smith (2009)," or "as described in Smith (2009)." In those cases, please use the correct [Citation syntax](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax) to suppress the brackets.

[2019-08-03 17:55] moorepants commented on #65
@alfredocarella Can you please cite the primary software dependencies in the paper? Additionally, there are examples of existing software with similar capabilities that are not mentioned in your paper. I'd like to see citations to at least some of these and some note of what your work offers that distinguishes it from them.

[2019-08-04 07:46] lechten commented on #50
@whedon generate pdf

[2019-08-04 07:47] whedon commented on #50
[code]

[2019-08-04 07:47] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-08-04 08:02] lechten commented on #50
@whedon generate pdf

[2019-08-04 08:02] whedon commented on #50
[code]

[2019-08-04 08:03] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00050/jose.00050/10.21105.jose.00050.pdf)

[2019-08-04 08:07] labarba commented on #50
@whedon accept

[2019-08-04 08:07] whedon commented on #50
[code]

[2019-08-04 08:08] whedon commented on #50
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/38

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/38, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-04 08:10] labarba commented on #50
@whedon accept deposit=true

[2019-08-04 08:10] whedon commented on #50
[code]

[2019-08-04 08:11] lechten commented on #50
@labarba Wow, that was fast. Many thanks for checking the citations. I rewrote some parts to avoid nested parentheses and parentheses following each other, which does indeed look much better.

[2019-08-04 08:11] whedon commented on #50
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/39
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00050](https://doi.org/10.21105/jose.00050)
2. If everything looks goo

[2019-08-04 08:12] labarba commented on #50
Congratulations, @lechten, your JOSE paper is now published! 🚀

Sincere thanks to our editor: @katyhuff, and the reviewers: @jrosen48, @markgalassi — we greatly appreciate your contribution to JOSE 🙏

[2019-08-04 08:12] #50 closed

[2019-08-04 08:12] whedon commented on #50
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00050/status.svg)](https://doi.org/10.21105/jose.00050)

**We need your help!**

Journal of Open Source Educat

[2019-08-04 08:17] labarba commented on #50
Tweet announcing this paper:

https://twitter.com/JOSE_TheOJ/status/1157928348024225792

[2019-08-04 08:30] lechten commented on #50
@jrosen48,  @katyhuff, @labarba, @markgalassi Many thanks to all of you, I learned a lot during this process!

I would be happy to help in the future and signed up as reviewer.

[2019-08-05 16:15] labarba commented on #66
👋 @IanHawke — could you handle this new JOSE submission as editor?

[2019-08-05 16:37] moorepants commented on #65
@desgarcia and @nicoguaro I see pretty solid progress in the checklists above. This is a reminder that we'd like to complete the reviews by this Friday if possible. Let me know if you have any questions or need help in any way. Can each of you respond here with a check in letting me know if you think you'll be able to finish by the end of Friday? Thank you for your time and expertise.

[2019-08-05 16:41] nicoguaro commented on #65
@moorepants, if my comments (above and Issue tracker) are addressed I would be able.

[2019-08-05 17:22] labarba commented on #64
I'm having a little trouble finding all the materials and understanding how this submission is organized. The submission summary includes this note:

That last URL points to a website. The "Edit on GitHub" link on the footer points to this repo: https://github.com/zllu2/python-business
... which is a fork of this one: https://github.com/data-lessons/python-business

The URL provided on submission

[2019-08-05 19:20] desgarcia commented on #65
@moorepants I should be able to complete by the end of the week!

[2019-08-07 18:42] saverioperugini commented on #56
On 8/2/19 3:13 AM, Lorena A. Barba wrote:

Will do.

Do you mean, e.g., "HOW TO USE ChAmElEoN" => "How to Use ChAmElEoN"

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALIT

[2019-08-07 19:45] labarba commented on #56
Yes. We don't use all-caps on the JOSS article headings.

[2019-08-07 19:53] saverioperugini commented on #56
On Aug 7, 2019, at 3:45 PM, Lorena A.

Yes. We don't use all-caps on the JOSS article headings.

OK, then how do we distinguish between sections in subsections?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openjournals/jose-reviews/issues/56?email_source=notifications&email_token=AFPGXGDNG3OJONVWQ54DOWDQDMQ5FA5CNFSM4HTALE

[2019-08-08 12:54] saverioperugini commented on #56
On 8/1/19 11:41 AM, Georgia Stuart wrote:

We have re-structured and re-written quite a few statements in paper.md
to address items 1, 2, and 3 below.  Please see diff logs in bitbucket.

We have made this more clear in the paper. For instance,
"...these components can be given directly to students as is.."

"Then, students develop an evaluate-expression function ...."

"Adding a support for a new

[2019-08-08 13:01] saverioperugini commented on #56
On 8/1/19 1:42 PM, Georgia Stuart wrote:

They are now.  Thanks.

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic me

[2019-08-08 13:01] saverioperugini commented on #56
On 8/2/19 3:13 AM, Lorena A. Barba wrote:

Done.

Done.

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in this electronic message is

[2019-08-08 13:26] labarba commented on #66
@whedon assign @IanHawke as editor

[2019-08-08 13:26] whedon commented on #66
OK, the editor is @IanHawke

[2019-08-08 13:31] labarba commented on #66
Thanks for agreeing to edit this for JOSE, @IanHawke !
Since this is your first one, a few notes:
- We'll want to identify two reviewers… we have a [list](https://bit.ly/jose-reviewers) of people who have signed up to review, but you're free to look outside that.
- For the first reviewer, use the command `@whedon assign <user> as reviewer` and for the second, run `@whedon add <user> as reviewer` (

[2019-08-08 19:07] alfredocarella commented on #65
@nicoguaro @desgarcia @moorepants Thanks for the feedback. I will start addressing all your suggestions as soon as possible.

[2019-08-08 20:09] georgiastuart commented on #56
Looks good! Very clear. With this update, @saverioperugini has satisfied my requests. I recommend for publication.

[2019-08-09 07:34] labarba commented on #56
@whedon generate pdf

[2019-08-09 07:34] whedon commented on #56
[code]

[2019-08-09 07:58] labarba commented on #56
@whedon generate pdf

[2019-08-09 07:59] whedon commented on #56
[code]

[2019-08-09 08:10] labarba commented on #56
Yikes. Our bot is refusing to compile this paper... @arfon: Any idea what could be going on?

[2019-08-09 10:41] arfon commented on #56
@whedon generate pdf

[2019-08-09 10:41] whedon commented on #56
[code]

[2019-08-09 10:43] arfon commented on #56
I think Whedon might be getting confused by the fact that there's two `paper.md` files in this repository. Could you rename this one to something other than `paper.md`: https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/src/master/DOCUMENTATION/ExtendedPaper/paper.md

[2019-08-09 10:45] arfon commented on #56
(i.e. rename whichever one _isn't_ the JOSE paper_

[2019-08-09 12:54] IanHawke commented on #66
Right, thanks for starting me off with what looks like a great course!

In addition to the license file, I'd suggest a `requirements.txt` or similar to get the environment set up: not essential.

[2019-08-09 13:00] IanHawke commented on #66
@zingale: Mike, are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education) ? This submission is about implicit methods for CFD and uses Python and Jupyter: I think you would be an excellent reviewer. Please see the [JOSE reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines) for details about the JOSE review process.

Title: A course on t

[2019-08-09 13:01] saverioperugini commented on #56
On 8/9/19 6:45 AM, Arfon Smith wrote:

Sorry about that.  It is now renamed.

Hope that helps.

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information c

[2019-08-09 13:02] IanHawke commented on #66
@sconde: Sidafa Conde, are you able to and interested in taking on this review for JOSE (the Journal of Open Source Education) ? This submission is about implicit methods for CFD and uses Python and Jupyter: this overlaps some of the expertise JOSE has listed for you, and I think you would be an excellent reviewer. Please see the [JOSE reviewer guidelines](http://jose.theoj.org/about#reviewer_guid

[2019-08-09 19:25] labarba commented on #56
@whedon generate pdf

[2019-08-09 19:25] whedon commented on #56
[code]

[2019-08-10 08:28] labarba commented on #56
@whedon generate pdf

[2019-08-10 08:28] whedon commented on #56
[code]

[2019-08-10 10:18] arfon commented on #56
@whedon generate pdf

[2019-08-10 10:18] whedon commented on #56
[code]

[2019-08-10 10:18] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 10:18] arfon commented on #56
@labarba looks like the Whedon was still picking up `extendedpaper.md` as well as `paper.md` as possible papers to compile. I've fixed the regex to be less greedy when detecting papers.

[2019-08-10 11:16] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 12:03] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 12:49] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 13:11] labarba commented on #56
OK, there continue to be many issues with this paper.

But first, _and most importantly_, I read in the Acknowledgements:

I pulled up this paper's [landing page](https://dl.acm.org/citation.cfm?id=3280498) and find that its Abstract reads:

It sounds like the project ChAmElEoN has already been reported in a publication, which seems to indicate to me that _this JOSE submission amounts to duplicate