[2019-08-10 13:50] sconde commented on #66
@IanHawke I accept

[2019-08-10 14:23] IanHawke commented on #66
Thank you @sconde ! The review will take place in another issue thread that will launch as soon as we have a second reviewer, but if you want to start the review already then feel free to link any issues that you create to this thread for now.

@whedon assign @sconde as reviewer

[2019-08-10 15:10] moorepants commented on #65
@nicoguaro and @desgarcia Thank you very much for the timely reviews. I think that everything looks reasonable and that minor revisions are needed for publication. @alfredocarella Please address any issues posted on your repository, issues in this thread (including missing checkboxes in the list above). These are the main things I'm seeing:

- Adding/improving community contribution guidelines
- I

[2019-08-10 15:11] labarba commented on #66
@whedon assign @sconde as reviewer

[2019-08-10 15:11] whedon commented on #66
OK, the reviewer is @sconde

[2019-08-10 15:12] labarba commented on #66
👋 @IanHawke — `@whedon` likes its commands to come alone in a comment :–)

[2019-08-10 18:06] labarba commented on #56
I have found an open-access version of the [paper](https://ecommons.udayton.edu/cgi/viewcontent.cgi?article=1175&context=cps_fac_pub), shared by the University of Dayton eCommons. Several paragraphs in the JOSE paper are verbatim from that previous publication. The parts that are _not_ from the previous paper are Installation Instructions, and Repository Structure and Setup. But these are content

[2019-08-10 19:42] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 20:08] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00056/jose.00056/10.21105.jose.00056.pdf)

[2019-08-10 22:52] zingale commented on #66
I can do a review too.  I'll be a little slow this week, but can finish the following.

[2019-08-11 01:49] TacNayn commented on #64
Hello Lorena,

Thanks for the reviews. I am sorry that the materials are messy...
The website for SQL part is: https://data-lessons.github.io/SQL-business/
The website for Python part is: https://zllu2.github.io/python-business/

I am a little confused about how to organize the materials since we have one paper for two websites. Should I just submit one of it?

"https://zllu2.github.io/python-busi

[2019-08-11 07:43] IanHawke commented on #66
@zingale : Thanks! Very happy that you can contribute to this.

[2019-08-11 07:44] IanHawke commented on #66
@whedon add @zingale as reviewer

[2019-08-11 07:44] whedon commented on #66
OK, @zingale is now a reviewer

[2019-08-11 07:47] IanHawke commented on #66
@whedon start review

[2019-08-11 07:47] whedon opened #67 "[REVIEW]: A course on the implicit finite volume method for CFD using Python"
**Submitting author:** @ctdegroot (<a href="http://orcid.org/0000-0002-2069-8253">Christopher DeGroot</a>)
**Repository:** <a href="https://bitbucket.org/cdegroot/cfdcourse/" target ="_blank">https://bitbucket.org/cdegroot/cfdcourse/</a>
**Version:** v1.0
**Editor:** @IanHawke
**Reviewer:** @sconde, @zingale
**Archive:** Pending

## Status

[![status](http://jose.theoj.org/papers/2f41f8e108eac1c0b

[2019-08-11 07:47] whedon commented on #66
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/67. Feel free to close this issue now!

[2019-08-11 07:47] whedon commented on #67
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sconde, @zingale it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably curr

[2019-08-11 07:47] whedon commented on #67
[code]

[2019-08-11 07:47] whedon commented on #67
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00067/jose.00067/10.21105.jose.00067.pdf)

[2019-08-11 07:49] IanHawke commented on #66
@sconde , @zingale : the review issue is now started at https://github.com/openjournals/jose-reviews/issues/67 . There is a detailed checklist there. Thanks for your help with this review!

[2019-08-11 07:49] #66 closed

[2019-08-11 16:10] RobertTalbert commented on #56
I'd like to hear from the author(s) on this issue, too. What differences are there in the JOSE submission that make it significantly different from the other publication?

[2019-08-12 13:56] saverioperugini commented on #56
On 8/10/19 2:06 PM, Lorena A. Barba wrote:

Hi,

The main difference here is the focus of each paper.  The CCSC'18
paper is focused primarily on the "pedagogy"---the merits of using
an interpreter-based approach to teach a programming languages course.
(It has quotes from students, etc. as data.)
The focus of the JOSE submission is on the "software"---the mechanical
details of making that a realit

[2019-08-12 16:17] labarba commented on #63
@whedon assign @k8hertweck as reviewer

[2019-08-12 16:21] labarba commented on #63
@k8hertweck — Thank you for agreeing to review this submission for JOSE. We will want to find a second reviewer before starting the review (on a separate GitHub issue). But feel free to start looking at the submission, and browse our [Reviewer Guidelines](http://jose.theoj.org/about#reviewer_guidelines). More soon!

[2019-08-12 16:22] labarba commented on #59
@dsblank, @trallard — hello, there! Could we have a status update from you both on your review for JOSE? Thanks!

[2019-08-12 17:28] labarba commented on #63
@whedon assign @labarba as editor

[2019-08-12 17:28] whedon commented on #63
OK, the editor is @labarba

[2019-08-12 17:28] labarba commented on #63
@whedon add @lexnederbragt as reviewer

[2019-08-12 17:28] whedon commented on #63
OK, @lexnederbragt is now a reviewer

[2019-08-12 17:28] labarba commented on #63
@whedon start review

[2019-08-12 17:28] whedon opened #68 "[REVIEW]: FAIR_Bioinfo: a turnkey training course and protocol for reproducible computational biology"
**Submitting author:** @thomasdenecker (<a href="http://orcid.org/0000-0003-1421-7641">Thomas DENECKER</a>)
**Repository:** <a href="https://github.com/thomasdenecker/FAIR_Bioinfo" target ="_blank">https://github.com/thomasdenecker/FAIR_Bioinfo</a>
**Version:** v1.2.0
**Editor:** @labarba
**Reviewer:** @k8hertweck, @lexnederbragt
**Archive:** Pending

## Status

[![status](http://jose.theoj.org/pa

[2019-08-12 17:28] whedon commented on #63
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/68. Feel free to close this issue now!

[2019-08-12 17:28] whedon commented on #68
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @k8hertweck, @lexnederbragt it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're pro

[2019-08-12 17:28] whedon commented on #68
[code]

[2019-08-12 17:28] #63 closed

[2019-08-12 17:29] whedon commented on #68
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00068/jose.00068/10.21105.jose.00068.pdf)

[2019-08-12 17:31] labarba commented on #68
👋  @k8hertweck, @lexnederbragt — Thank you for agreeing to review for JOSE! This is where the action happens. You both have a review checklist to work through. Feel free to post any questions here. If you open new issues on the submission repository, please link to this issue here, and we'll get an auto-cross-link from GitHub. Godspeed!

[Reviewer guidelines](http://jose.theoj.org/about#reviewer_g

[2019-08-14 10:17] labarba commented on #56
This doesn't quite fit with JOSE's scope. From the [Author Guidelines](http://jose.theoj.org/about#author_guidelines):

"JOSE accepts two types of submissions: (1) computational learning modules, created as open educational resources (OER), and (2) open-source software, created as educational technology or infrastructure."

[2019-08-14 15:22] saverioperugini commented on #56
Chameleon is open-source software, created as educational technology or infrastructure.

It would have never made it to an actual full JOSE review if it wasn't.  The reviewer experimented with it and asked detailed questions about the software to which we responded.  I cannot imagine any of that would have taken place if this software was not educational technology or did not fit within JOSE's sco

[2019-08-14 15:23] labarba commented on #56
I was responding to your sentence where you proposed a focus for the paper on "How to Use ChAmElEoN in a Programming Languages Course"—this is not responsive to the JOSE scope.

[2019-08-14 15:28] labarba commented on #56
To be clear, I think we both agree that the paper needs restructuring. It's a little unclear still what the revised paper will look like. And I continue to feel ambivalent about whether it will constitute duplicate publication of the same scholarship. On reading the paper in _Journal of Computing Sciences in Colleges_, it is a paper about the software.

[2019-08-15 08:00] labarba commented on #56
Could I ask the reviewers, @georgiastuart, @valentina-s, to read the previously published [paper](https://ecommons.udayton.edu/cgi/viewcontent.cgi?article=1175&context=cps_fac_pub), and give us their assessment? I am not an expert in programming languages, much less in the teaching of programming language concepts. Is there justification for a second publication here?

As additional note: JOSE (li

[2019-08-15 12:30] saverioperugini commented on #56
In this case, it is unnecessary to proceed processing this JOSE submission any further.
The software has only been incrementally improved since the publication of the CSCC paper.
Even though the paper associated with this JOSE software submission contains details not reported in the CSCC paper which are helpful to readers/users (e.g., test coverage, usage information), the software being advertise

[2019-08-15 16:42] IanHawke commented on #61
As an update on where this stands with me:

* Two PRs linked in the pre-review thread (https://github.com/albi3ro/M4/pull/7 , https://github.com/albi3ro/M4/pull/8) have been merged. The one about JuliaBox needs revisiting by me, as whilst the PR fixed the README, this change needs propagating to the front page of the website as well.
* One issue linked in the pre-review thread (https://github.com/

[2019-08-15 17:56] labarba commented on #56
This submission is withdrawn. I want to thank the reviewers for the work done here: @georgiastuart, @valentina-s. Thank you also to the handling editor, @RobertTalbert.

[2019-08-15 17:56] #56 closed

[2019-08-16 00:11] sconde commented on #67
@IanHawke The repository hosted on bitbucket repository does not have issue tracking enabled

[2019-08-16 08:11] IanHawke commented on #67
@ctdegroot : I don't know why bitbucket don't automatically switch on issue tracking, but there we go. Could you switch on an issue tracker (if needed, instructions are at https://confluence.atlassian.com/bitbucket/enable-an-issue-tracker-223216498.html)? A public one would be easiest, but at least both referees will need access to it if you choose the private one.

[2019-08-16 08:30] labarba commented on #67
We're working on a new site for JOSE and will then have a joint documentation site with JOSS where this will be made clear, but (like JOSS) we do want our submissions to have an open issue tracker. See the updated [JOSS submission requirements](https://joss.readthedocs.io/en/latest/submitting.html).

[2019-08-16 14:53] ctdegroot commented on #67
@IanHawke I didn't notice that, but the issue tracker has been enabled now.

[2019-08-18 16:35] zingale commented on #67
https://bitbucket.org/cdegroot/cfdcourse/issues/1/missing-community-guidelines

[2019-08-20 16:28] zingale commented on #67
https://bitbucket.org/cdegroot/cfdcourse/issues/2/markdown-links-dont-render-in-tip-boxes

https://bitbucket.org/cdegroot/cfdcourse/issues/3/comments-on-descriptions-in-chapter-1

[2019-08-20 16:47] zingale commented on #67
https://bitbucket.org/cdegroot/cfdcourse/issues/4/comments-on-descriptions-in-chapter-2

[2019-08-21 19:05] ctdegroot commented on #67
Thanks for the feedback so far. I will be away for a couple of weeks on holidays, but I will address these soon after I return.

[2019-08-22 13:35] IanHawke commented on #67
@whedon remind @ctdegroot in 3 weeks

[2019-08-22 13:35] whedon commented on #67
Reminder set for @ctdegroot in 3 weeks

[2019-08-23 22:30] alfredocarella commented on #65
@whedon generate pdf

[2019-08-23 22:30] whedon commented on #65
[code]

[2019-08-23 22:30] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-23 23:05] alfredocarella commented on #65
@moorepants @nicoguaro @desgarcia

* The (short) file ```CONTRIBUTING.md``` was added to the repository, in order to explicitly state that contributions are welcome. A small project like this will probably not benefit from having long and complex guidelines.
* The units in both documentation and generated plots are now in roman type, and preceded by a space. A brief comment has been added to the m

[2019-08-23 23:41] alfredocarella commented on #65
@whedon generate pdf

[2019-08-23 23:41] whedon commented on #65
[code]

[2019-08-23 23:42] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-23 23:49] nicoguaro commented on #65
Given the new inclusions to the paper, I have the following comments:

- I suggest adding bullet points/numerals to the second and to the last paragraphs on "Statement of Need".

- Table 1 is currently a figure instead of text. Is there a way to include this as text in the document?

- The inclusion of Table 1 provides a comparison of features with "similar" software. Nevertheless, it might be use

[2019-08-24 00:01] alfredocarella commented on #65
@whedon generate pdf

[2019-08-24 00:01] whedon commented on #65
[code]

[2019-08-24 00:01] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-24 00:11] alfredocarella commented on #65
@nicoguaro
* Bullet points are now correctly added
* I would really like to add that table as text, but I have not been able to either embed latex in the markdown (the source code for the table is in the repository), or make that kind of table using markdown (which really results illegible without rotating the first row since the text is too long). Pasting a figure was a workaround, but I am willi

[2019-08-24 00:20] nicoguaro commented on #65
@alfredocarella

Can you share the LaTeX code? Maybe I can provide some ideas.

If you use SVG instead of PNG, does whedon compile the paper properly?

[2019-08-24 00:26] alfredocarella commented on #65
Here is the link to the LaTeX code: https://github.com/alfredocarella/simplebendingpractice/raw/master/tool_comparison_table.tex

I am about to try exactly that... in a minute

[2019-08-24 00:34] alfredocarella commented on #65
@whedon generate pdf

[2019-08-24 00:34] whedon commented on #65
[code]

[2019-08-24 00:34] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.132/c310e5117c4761665cc36920e23e503fbd78ff9b.vs': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature : <?xml
  HDR Invalid radiance file signature
  Tiff Invalid endian tag value
  TGA

[2019-08-28 13:33] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 13:37] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 13:48] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 13:52] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 14:05] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 14:10] alfredocarella commented on #65
@whedon generate pdf

[2019-08-28 14:14] alfredocarella commented on #65
@moorepants @nicoguaro @desgarcia
Sorry about polluting the main issue with all the paper formatting attempts.
I believe all the issues and comments have been addressed, and the paper is ready for a second review.

[2019-08-28 22:28] trallard commented on #59
@whedon generate pdf

[2019-08-28 22:28] whedon commented on #59
[code]

[2019-08-28 22:30] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00059/jose.00059/10.21105.jose.00059.pdf)

[2019-08-28 22:30] trallard commented on #59
@whedon  check references

[2019-08-28 22:32] trallard commented on #59
@kalu-o The paper has a clear statement of need, but the docs in the repository are lacking this.
I think this should be added to make this explicit in the docs.

[2019-08-28 22:44] dsblank commented on #59
Hi all. I am having a hard time wrapping my head around the form of the publication, and how much responsibility to, say, cite previous work.

[2019-08-29 01:27] moorepants commented on #65
I don't know specifically. It should support anything that pandoc markdown supports.

[2019-08-29 01:31] moorepants commented on #65
@alfredocarella Great! Thank you for addressing all of the comments.

@nicoguaro and @desgarcia Can you all comment on whether the changes are sufficient? If not, please make any final specific suggestions. If there are no major issues I will recommend for publishing.

[2019-08-29 01:32] moorepants commented on #65
I'm fine with it as an image. IMHO, the markdown format is extremely limiting and it is painful to create many of the things that are relatively easiy with LaTeX.

[2019-08-29 01:46] nicoguaro commented on #65
@moorepants, I consider that the paper is ready for publication.

[2019-08-29 01:50] nicoguaro commented on #65
@moorepants

It does not support it when compiling to LaTeX. I asked because I couldn't find any issue related to this in whedon's repo.

I'm also fine with it. I prefer the other option and that's why I asked. I also agree on the comment about markdown.

[2019-08-29 02:15] moorepants commented on #65
I'd avoid it then. Maybe open an issue on the Whedon repo with a feature request?

if you can help get it working, go for it, but we shouldn't let this hold things up too much.

[2019-08-29 11:41] alfredocarella commented on #65
@whedon generate pdf

[2019-08-29 11:41] whedon commented on #65
[code]

[2019-08-29 11:41] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-29 19:29] desgarcia commented on #65
@moorepants I also agree with @nicoguaro , I think the paper is ready for publication

[2019-08-29 21:51] whedon opened #69 "[PRE REVIEW]: SedEdu: a suite of sediment-related educational modules"
**Submitting author:** @amoodie (<a href="http://orcid.org/0000-0002-6745-036X">Andrew Moodie</a>)
**Repository:** <a href="https://github.com/sededu/sededu" target ="_blank">https://github.com/sededu/sededu</a>
**Version:** v1.1.6
**Editor:** @labarba
**Reviewers:** @Swanson-Hysell

**Author instructions**

Thanks for submitting your paper to JOSE @amoodie. The JOSE editor (shown at the top of th

[2019-08-29 21:51] whedon commented on #69
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 21:51] whedon commented on #69
[code]

[2019-08-29 21:52] whedon commented on #69
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00069/jose.00069/10.21105.jose.00069.pdf)

[2019-08-29 22:05] moorepants commented on #65
@alfredocarella I see one error in a phrase on page 2: "as long as sympy <can> parse them"

[2019-08-29 22:06] moorepants commented on #65
After fixing that, can you tag a release, submit an archived version to zenodo, and then share the DOI here?

[2019-08-29 22:15] labarba commented on #65
Please also check the citation syntax.

When the citation is part of the sentence, then use: Author (year). If the citation is not part of the sentence, then it should appear in parenthesis. E.g. “We take inspiration from Smith et al. (2006) to … “ / 	“The code implements Theory 1 (Jones 2012) and Theory 2 (Roberts 2014) to obtain … “

For the syntax to obtain brackets in the right places, see htt

[2019-08-29 22:18] labarba commented on #65
What is meant by "a little intuitive sign conventions"? Do you mean _not_ intuitive? Intuitive but just a little? Please reword.

[2019-08-29 22:47] labarba commented on #69
👋  @amoodie — After reading your paper, I have some concerns. SedEdu is described as a set of activities, mediated by a software library, for students in the geosciences. Students, however, interact with the content via a GUI, rather than computationally. The focus of JOSE is in using computing (programmatically) to illuminate the learning context/subject. We don't have that here.

Did you want JO

[2019-08-29 23:28] luizirber commented on #53
Thanks for addressing my comments, @AstrobioMike!

@labarba All my boxes are checked, good to go on my part!

[2019-08-29 23:44] amoodie commented on #69
Hi @labarba. Yes, this is a software submission (I thought I had checked that box on submission?). SedEdu is a software framework that organizes learning activities. That is to say, it is an independent program that could exist without the activities. The framework is lightweight: it is a PyQt GUI that puts submodules into folders. I feel confident that SedEdu is ["open-source software that serves

[2019-08-30 11:26] labarba commented on #62
@magsol — Any luck identifying reviewers for this submission?

[2019-08-30 18:20] alfredocarella commented on #65
@whedon generate pdf

[2019-08-30 18:20] whedon commented on #65
[code]

[2019-08-30 18:21] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-30 18:45] alfredocarella commented on #65
@whedon generate pdf

[2019-08-30 18:45] whedon commented on #65
[code]

[2019-08-30 18:46] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-08-31 00:24] labarba commented on #53
@JasonJWilliamsNY 👋 — it looks like you're almost done with the review. Will you have a recommendation soon?

[2019-08-31 02:56] JasonJWilliamsNY commented on #53
@labarba - I finished on Jun 12 and think it's all ready to go, but let me know if I missed anything!

[2019-08-31 18:50] labarba commented on #53
@JasonJWilliamsNY — You have a couple of unchecked items in your checklist. Are you satisfied with these items?

[2019-08-31 18:51] labarba commented on #53
@whedon generate pdf

[2019-08-31 18:51] whedon commented on #53
[code]

[2019-08-31 18:52] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00053/jose.00053/10.21105.jose.00053.pdf)

[2019-08-31 19:07] labarba commented on #53
@AstrobioMike — One important thing I miss from the paper is some mention of other similar efforts, tutorials or content. In other words, a light overview of the state of the art, with some citations. Perhaps you could even mention how your contribution is different to some others. Surely the Software Carpentry and Data Carpentry collections have some bioinformatics tutorials? We even have another

[2019-09-01 01:46] JasonJWilliamsNY commented on #53
Yes - sorry these were somehow missed!

[2019-09-02 15:55] alfredocarella commented on #65
@moorepants Done! The DOI is `10.5281/zenodo.3383748`
@labarba The suggested corrections have been made.

[2019-09-02 16:09] moorepants commented on #65
One more minor fix. There is no date on your first reference in the bibliography, just empty parentheses.

[2019-09-02 16:11] moorepants commented on #65
@whedon set v1.0.1 as version

[2019-09-02 16:11] whedon commented on #65
OK. v1.0.1 is the version.

[2019-09-02 16:11] moorepants commented on #65
@whedon set 10.5281/zenodo.3383748 as archive

[2019-09-02 16:11] whedon commented on #65
OK. <a href="https://doi.org/10.5281/zenodo.3383748" target="_blank">10.5281/zenodo.3383748</a> is the archive.

[2019-09-02 16:12] moorepants commented on #65
@whedon check references

[2019-09-02 16:12] whedon commented on #65
[code]

[2019-09-02 16:12] whedon commented on #65
[code]

[2019-09-02 16:40] alfredocarella commented on #65
Sorry about that! Done.

[2019-09-02 16:40] alfredocarella commented on #65
Sorry about that. Done.

[2019-09-02 16:41] alfredocarella commented on #65
@whedon generate pdf

[2019-09-02 16:41] whedon commented on #65
[code]

[2019-09-02 16:42] whedon commented on #65
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00065/jose.00065/10.21105.jose.00065.pdf)

[2019-09-02 18:16] moorepants commented on #65
Ok, great!

@alfredocarella Congratulations, I recommend your paper for publication in JOSE!

@nicoguaro and @desgarcia Thank you both for your volunteered time and thoughtful reviews!

It was a pleasure working with everyone.

@labarba This one is ready for acceptance, if you could do the honors :smile:.

[2019-09-02 18:45] labarba commented on #65
@whedon accept

[2019-09-02 18:45] whedon commented on #65
[code]

[2019-09-02 18:46] whedon commented on #65
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/40

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/40, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-02 18:48] labarba commented on #65
@whedon accept deposit=true

[2019-09-02 18:48] whedon commented on #65
[code]

[2019-09-02 18:49] whedon commented on #65
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/41
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00065](https://doi.org/10.21105/jose.00065)
2. If everything looks goo

[2019-09-02 18:52] labarba commented on #65
Congratulations, @alfredocarella, your JOSE paper is published! 🚀

Big thanks to our editor: @moorepants, and the reviewers: @desgarcia, @nicoguaro — we couldn't do this without you! 🙏

Tweet announcing the publication:
https://twitter.com/JOSE_TheOJ/status/1168597259191275520

[2019-09-02 18:52] #65 closed

[2019-09-02 18:52] whedon commented on #65
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00065/status.svg)](https://doi.org/10.21105/jose.00065)

**We need your help!**

Journal of Open Source Educat

[2019-09-04 00:34] magsol commented on #62
@whedon assign @AstrobioMike as reviewer

[2019-09-04 00:34] whedon commented on #62
OK, the reviewer is @AstrobioMike

[2019-09-06 19:50] kalu-o commented on #59
Hi,
Did you mean citation of previous works are not sufficient? I understand from the paper guideline that technical details are not necessary.

[2019-09-06 19:56] kalu-o commented on #59
Hi,
Besides README.md, which other "doc" should reflect this?

[2019-09-07 23:01] AstrobioMike commented on #62
Hi all, can we start the review issue now? Or do we need to wait until another reviewer is assigned?

[2019-09-08 08:41] AstrobioMike commented on #53
@whedon generate pdf

[2019-09-08 08:41] whedon commented on #53
[code]

[2019-09-08 08:42] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00053/jose.00053/10.21105.jose.00053.pdf)

[2019-09-08 08:46] AstrobioMike commented on #53
Hi there, @labarba!

I added in some other resources in the second paragraph and worked in highlighting two of the main ways my site is different in the remaining text where appropriate. Thanks for the suggestion :)

I actually reviewed the https://doi.org/10.21105/jose.00027 paper, ha :) I didn't add that in though because that's actually very different in that it doesn't teach biologists how to

[2019-09-08 12:34] magsol commented on #62
Ideally waiting for a second reviewer but I’ve put out several feelers over
the last seven days and haven’t gotten any response.

Give me until Wednesday to rope in another reviewer and we’ll go from there.

On Sat, Sep 7, 2019 at 19:01 Mike Lee <notifications@github.com> wrote:

--
iPhone’d

[2019-09-10 11:44] lexnederbragt commented on #68
The GitBook and course clearly address a pressing need for training in the Life Sciences. The book is comprehensive, and treats many, if not most of the tools that are relevant. I applaud the authors for doing such a thorough job of documenting their workflow for FAIR bioinformatics.

But herein also lies a challenge: the GitBook feels almost like a 'brain dump' of the authors. There are long desc

[2019-09-10 20:58] magsol commented on #62
@whedon add @luizirber as reviewer

[2019-09-10 20:58] whedon commented on #62
OK, @luizirber is now a reviewer

[2019-09-10 21:00] magsol commented on #62
@whedon start review

[2019-09-10 21:00] whedon opened #70 "[REVIEW]: DraggleSimulator: An Open Source Web Application for Teaching Genetic Drift"
**Submitting author:** @Atticus29 (<a href="http://orcid.org/0000-0002-7138-7025">M.A. Fisher</a>)
**Repository:** <a href="https://github.com/Atticus29/population-fragmentation" target ="_blank">https://github.com/Atticus29/population-fragmentation</a>
**Version:** v1.0.1
**Editor:** @magsol
**Reviewers:** @AstrobioMike, @wallacelab
**Archive:** <a href="https://doi.org/10.5281/zenodo.3523488" ta

[2019-09-10 21:00] whedon commented on #62
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/70. Feel free to close this issue now!

[2019-09-10 21:00] whedon commented on #70
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AstrobioMike, @luizirber it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're proba

[2019-09-10 21:00] whedon commented on #70
[code]

[2019-09-10 21:00] #62 closed

[2019-09-10 21:01] whedon commented on #70
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00070/jose.00070/10.21105.jose.00070.pdf)

[2019-09-13 21:15] magsol commented on #70
@whedon add @wallacelab as reviewer

[2019-09-13 21:15] whedon commented on #70
OK, @wallacelab is now a reviewer

[2019-09-21 23:16] AstrobioMike commented on #70
Hi all,

In my opinion, this is all set to go. Things can be used on the hosted site perfectly as explained in the readme and nicely demonstrated in the [youtube video](https://www.youtube.com/watch?v=izER-V9PTxs&feature=youtu.be).

At the end of the readme there is a section on [how to host your own](https://github.com/Atticus29/population-fragmentation#how-to-set-up-your-own-instance-of-draggles

[2019-09-24 15:47] AstrobioMike commented on #53
Hey there, @labarba, just checking on the current status of this?

[2019-09-25 20:31] wallacelab commented on #70
I agree that this seems pretty much ready to go. End-user use is pretty straightforward and well documented. I didn't attempt the AWS installation because of the issues pointed out by @AstrobioMike, but the other aspects seem solid. (I was able to use custom Google sheets & forms, as advertised.)

Specific boxes I left unchecked:

- Version number: Not included for the reasons @AstrobioMike mentio

[2019-09-25 21:12] labarba commented on #53
Thanks for the ping. @AstrobioMike — I've been playing catch-up since classes started! I'll attend to this now.

[2019-09-25 21:13] labarba commented on #53
@whedon check references

[2019-09-25 21:13] whedon commented on #53
[code]

[2019-09-25 21:14] whedon commented on #53
[code]

[2019-09-25 21:14] labarba commented on #53
@whedon accept

[2019-09-25 21:14] whedon commented on #53
No archive DOI set. Exiting...

[2019-09-25 21:16] labarba commented on #53
Oops. I forgot the pre-publication steps.

@AstrobioMike : We're going to need you to do the following:

- [ ] Make a tagged release, and list the version tag of the archived version here.
- [ ] Archive the reviewed materials in Zenodo (or similar service)
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the

[2019-09-25 21:31] labarba commented on #53
I found the Zenodo deposit from the DOI caught by `whedon`. Note that the author list needs to be modified, as it now includes one of the reviewers (perhaps who submitted a PR?)
https://doi.org/10.5281/zenodo.3402376

[2019-09-25 21:32] labarba commented on #53
I looked into the repo, and found the latest version. I will set that now. Let me know if it changes.

[2019-09-25 21:32] labarba commented on #53
@whedon set v1.2.0 as version

[2019-09-25 21:32] whedon commented on #53
OK. v1.2.0 is the version.

[2019-09-25 21:33] labarba commented on #53
@whedon set 10.5281/zenodo.3402376 as archive

[2019-09-25 21:33] whedon commented on #53
OK. <a href="https://doi.org/10.5281/zenodo.3402376" target="_blank">10.5281/zenodo.3402376</a> is the archive.

[2019-09-25 21:34] labarba commented on #53
@AstrobioMike — I still need you to fix the title and author list of the Zenodo archive to match the paper.

[2019-09-25 21:34] labarba commented on #53
@whedon accept

[2019-09-25 21:34] whedon commented on #53
[code]

[2019-09-25 21:35] whedon commented on #53
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/42

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/42, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-25 21:48] AstrobioMike commented on #53
Thanks for taking care of all that, @labarba! Title and author list all fixed up :)

[2019-09-25 21:57] labarba commented on #53
I'm still going to request a few mods, I'm afraid. You've added "Statement of Need" as an italics paragraph header to the first paragraph, which talks about the gap in education, given shifts in science to more data. What I want is a "Statement of Need" for _this learning module that you have developed_. Leave that introductory paragraph there, and find a place for the Statement of Need where you

[2019-09-25 22:06] labarba commented on #68
Thanks for the thorough review, @lexnederbragt 🙏

@thomasdenecker — Let us know your timeline for working on improvements based on the review.

@k8hertweck — I don't see any items in your checklist ticked off yet. When might you be able to start your review?

[2019-09-25 22:14] labarba commented on #59
@dsblank —The publication is a summary, an "advertisement," of the scholarship contained in the software submission. The software is meant to be used in the teaching of machine learning. In the paper, the authors should cite similar efforts where others have created educational software or learning materials to teach similar topics.

[2019-09-25 22:26] labarba commented on #69
Hi @amoodie — I'm sorry it's taken so long to get back to you. The beginning of the teaching semester has kept me playing catch-up.

It sounds like you want this submission to be reviewed as a software framework for organizing learning activities. That is, your intended users would be other instructors who want to develop such learning activities (and not the learners themselves). Is that correct?

[2019-09-26 22:37] AstrobioMike commented on #53
Thanks, @labarba!

Good point on the statement of need. It's of course all of it (the need stated in the first paragraph is why any of these resources exist), but it definitely makes more sense in this context moved down a bit and with some more wording contrasting this resource vs others.

I'm definitely not a fan of "very"s either in scientific writing. All of the bioinf education stuff is very

[2019-09-26 22:37] AstrobioMike commented on #53
@whedon generate pdf

[2019-09-26 22:37] whedon commented on #53
[code]

[2019-09-26 22:38] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00053/jose.00053/10.21105.jose.00053.pdf)

[2019-09-27 19:06] k8hertweck commented on #68
This is on my list for this weekend! Thanks for the reminder.

[2019-09-27 19:15] amoodie commented on #69
@labarba thanks for getting back to me. You are correct, I want this to be a software submission. I will revise the paper and reply here when I have done so. Thanks.

[2019-09-28 20:28] ThomasA commented on #25
@labarba I am sorry. It seems I completely lost sight of this review a long time ago. I see @whedon just re-assigned me to the review. Does it still make sense for me to review this?

[2019-09-28 20:34] labarba commented on #25
I'm not sure why `whedon` did that. This submission was paused a few months back, as you can read in the thread above. But given the long time lapse, it really makes more sense to close this issue, withdraw the submission. If and when the authors re-organize their materials for a self-contained JOSE submission, they can start a new one.

Thank you for your willingness to review, @ThomasA !

[2019-09-28 20:34] #25 closed

[2019-09-29 05:24] Atticus29 commented on #70
Thanks so much for the feedback so far, @wallacelab and @AstrobioMike! Useful and much appreciated!
Today, I changed some of the wording re: fragement vs. subpopulation, shortened some of the definitions, and increased the radius of the spots by >=2x. It does look better that way, I think.
I also released v.1.0.0 in the repo.

[2019-09-29 05:56] Atticus29 commented on #70
Attempting to see whether my syntax change in the paper.bib file fixes the citation issue?...

@whedon generate pdf

[2019-09-29 05:57] Atticus29 commented on #70
@whedon commands

[2019-09-29 05:57] whedon commented on #70
Here are some things you can ask me to do:

[code]

[2019-09-29 05:58] Atticus29 commented on #70
@whedon generate pdf

[2019-09-29 05:58] whedon commented on #70
[code]

[2019-09-29 05:58] whedon commented on #70
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00070/jose.00070/10.21105.jose.00070.pdf)

[2019-09-29 18:58] labarba commented on #53
@whedon accept

[2019-09-29 18:58] whedon commented on #53
[code]

[2019-09-29 18:59] whedon commented on #53
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/43

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/43, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-29 18:59] whedon commented on #53
[code]

[2019-09-29 19:03] labarba commented on #53
@whedon accept deposit=true

[2019-09-29 19:03] whedon commented on #53
[code]

[2019-09-29 19:04] whedon commented on #53
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/44
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00053](https://doi.org/10.21105/jose.00053)
2. If everything looks goo

[2019-09-29 19:13] labarba commented on #53
👋 @arfon --- something seems to be going wrong here. Help!
The DOI does redirect to `https://jose.theoj.org/papers/10.21105/jose.00053` but this URL gives `404 Not Found`. This is the first JOSE paper published since the site upgrade, so maybe a bug on our side?

[2019-09-29 21:00] arfon commented on #53
Yeah, I think it is but unfortunately it might be tricky to chase down. Can you ping me before you next accept a JOSE paper so I can watch the logs?

For now, I've fixed up this paper.

[2019-09-29 21:28] labarba commented on #53
Congratulations, @AstrobioMike, your JOSE paper is now published! 🚀

Many many thanks to our reviewers: @luizirber, @JasonJWilliamsNY — we couldn't do this without you! 🙏

[2019-09-29 21:28] #53 closed

[2019-09-29 21:28] whedon commented on #53
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00053/status.svg)](https://doi.org/10.21105/jose.00053)

**We need your help!**

Journal of Open Source Educat

[2019-09-29 22:27] AstrobioMike commented on #53
Thank you very much, @luizirber, @JasonJWilliamsNY, and @labarba! 🙂

[2019-09-30 13:56] thomasdenecker commented on #68
Hello
Thank you for the review.
I'm sorry to answer so late, but the teachings are taking up all my time. With @clairetn, we will try to answer your comments as soon as possible and resubmit a new proposal.
Thank you for your understanding,

[2019-10-09 23:46] amoodie commented on #69
@whedon generate pdf

[2019-10-09 23:46] whedon commented on #69
[code]

[2019-10-09 23:47] whedon commented on #69
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00069/jose.00069/10.21105.jose.00069.pdf)

[2019-10-09 23:50] amoodie commented on #69
Hi @labarba, I have made revisions to the manuscript, to address your concerns. I believe this software is in line with the JOSE scope as educational infrastructure, and that the paper discusses the contribution in this context. Please let me know whether there is anything else I do, and I look forward to the review and improvement of the software and manuscript. Cheers, AM

[2019-10-20 12:01] labarba commented on #67
@ctdegroot — Can we have a status update from you on the revision?

[2019-10-20 12:03] labarba commented on #70
@magsol — what is the status of this review? I see all reviewers have some items missing from their checklist. Could you check with them?

[2019-10-20 12:04] labarba commented on #61
@katyhuff — What's the status with this review? I see the reviewers have checked off a few items, but many remain unchecked. The last reviewer comment was more than a month ago. Could you check with the author if they are working on revising?

[2019-10-20 12:06] labarba commented on #59
@willingc, @dsblank, @trallard — Can we have a status update on this review?

[2019-10-20 12:09] labarba commented on #68
👋  @thomasdenecker — Could we have a status update from you on your revision? When do you think you might be ready for the reviewers to take a second look? Let me know if you want me to set up a reminder here for you.

[2019-10-20 17:31] ctdegroot commented on #67
@labarba My apologies for the delay. I will be able to work on the issues raised so far during the upcoming week.

[2019-10-20 21:44] katyhuff commented on #61
@albi3ro -- Since a number of issues filed by reviewer @IanHawke remain open in your repository, I have been assuming you're actively trying to make progress on them. Do you expect to be able to respond to these issues soon?
Thank you,
Katy

[2019-10-21 23:10] Atticus29 commented on #70
Thanks for the follow up, @labarba! Should I wait for @luizirber to weigh in as the final reviewer, or continue responding to the reviews I have?

[2019-10-22 06:31] thomasdenecker commented on #68
@labarba -- I am currently very busy with my teaching and research responsibilities for my thesis. We have fixed with @clairetn to start the revisions in mid-November to propose a new version in December. I apologize for the delay. Thank you again for your confidence.

[2019-10-22 14:17] labarba commented on #68
@whedon remind @thomasdenecker in five weeks

[2019-10-22 14:17] whedon commented on #68
Reminder set for @thomasdenecker in five weeks

[2019-10-23 09:48] trallard commented on #59
@whedon  check references

[2019-10-23 09:54] trallard commented on #59
Sorry for taking so long to complete this review.
I have gone over the functionality and performance of the package and did not find any major issues.

I opened an issue on the main repo to add a clear statement of need to the main README.
I believe that is the only outstanding item from my side.

[2019-10-23 18:47] luizirber commented on #70
I agree with @magsol. I can't review this before next week, and since the other reviewers already gave feedback I think I should be removed as a reviewer.

[2019-10-26 19:56] amoodie commented on #69
Hi @labarba, I just wanted to ping the thread and see if you had any update on the status of this review? Thanks, AM

[2019-10-30 17:18] magsol commented on #70
@whedon remove @luizirber as reviewer

[2019-10-30 17:21] magsol commented on #70
Ok, it's definitely time to move forward on this.

First, can @AstrobioMike and @wallacelab please **confirm** your recommendations in favor of acceptance?

@whedon generate pdf

[2019-10-30 17:22] magsol commented on #70
@whedon generate pdf

[2019-10-30 17:22] whedon commented on #70
[code]

[2019-10-30 17:24] magsol commented on #70
@whedon check references

[2019-10-30 17:24] whedon commented on #70
[code]

[2019-10-30 17:25] magsol commented on #70
The article proof looks good and reads well to me. References and DOIs are in place.

[2019-10-30 19:12] wallacelab commented on #70
Also confirmed.

[2019-10-30 19:14] magsol commented on #70
Awesome, thank you @AstrobioMike and @wallacelab!

@Atticus29: would you please make a tagged release and archive, and post both in this thread? Keeping it at 1.0 is fine, just let me know if that's what you decide.

[2019-10-31 00:51] Atticus29 commented on #70
@magsol awesome! Thanks! I just released a new version (1.0.1): https://github.com/Atticus29/population-fragmentation/releases/tag/v1.0.1
Created an archive in zenodo:
http://doi.org/10.5281/zenodo.3523488

Hopefully it's ok that I'm the one doing this?:

@whedon set v1.0.1 as version
@whedon set 10.5281/zenodo.3523488 as archive

[2019-10-31 00:53] Atticus29 commented on #70
@whedon set v1.0.1 as version

[2019-10-31 00:53] whedon commented on #70
I'm sorry @Atticus29, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-31 00:54] Atticus29 commented on #70
Whoops. Good to know haha!

[2019-10-31 14:54] magsol commented on #70
@whedon set 10.5281/zenodo.3523488 as archive

[2019-10-31 14:54] whedon commented on #70
OK. <a href="https://doi.org/10.5281/zenodo.3523488" target="_blank">10.5281/zenodo.3523488</a> is the archive.

[2019-10-31 14:54] magsol commented on #70
@whedon set v1.0.1 as version

[2019-10-31 14:54] whedon commented on #70
OK. v1.0.1 is the version.

[2019-11-03 12:41] labarba commented on #70
@AstrobioMike, @wallacelab — I see you recommended publication, but your checklists have a couple of unchecked items. Are you OK checking those off?

[2019-11-03 17:34] AstrobioMike commented on #70
I don’t think the installation boxes are relevant here (detailed in response [here](https://github.com/openjournals/jose-reviews/issues/70#issuecomment-533836711). Should I just check them anyway?

[2019-11-04 14:54] wallacelab commented on #70
Okay

[2019-11-07 18:31] magsol commented on #70
@labarba Looks like we're all checked off.

[2019-11-07 18:33] labarba commented on #70
@whedon accept

[2019-11-07 18:33] whedon commented on #70
[code]

[2019-11-07 18:33] whedon commented on #70
[code]

[2019-11-07 18:34] whedon commented on #70
Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/45

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/45, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-07 18:45] labarba commented on #70
@whedon accept deposit=true

[2019-11-07 18:46] whedon commented on #70
[code]

[2019-11-07 18:46] whedon commented on #70
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/46
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00070](https://doi.org/10.21105/jose.00070)
2. If everything looks goo

[2019-11-07 18:47] labarba commented on #70
Congratulations, @Atticus29, your paper is published! 🚀

Heartfelt thanks to our editor: @magsol, and reviewers: @AstrobioMike, @wallacelab — your contribution to JOSE is greatly appreciated 🙏

[2019-11-07 18:47] #70 closed

[2019-11-07 18:47] whedon commented on #70
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00070/status.svg)](https://doi.org/10.21105/jose.00070)

**We need your help!**

Journal of Open Source Educat

[2019-11-07 18:49] labarba commented on #70
https://twitter.com/JOSE_TheOJ/status/1192514412747341825

[2019-11-07 18:52] whedon opened #71 "[PRE REVIEW]: General relativity in R: visual representation of Schwarzschild space using different coordinate systems"
**Submitting author:** @RobinHankin (<a href="http://orcid.org/0000-0001-5982-0415">Robin Hankin</a>)
**Repository:** <a href="https://github.com/RobinHankin/schwarzschild" target ="_blank">https://github.com/RobinHankin/schwarzschild</a>
**Version:** 1.0-1
**Editor:** @IanHawke
**Reviewers:** @atrisovic, @afolkest

**Author instructions**

Thanks for submitting your paper to JOSE @RobinHankin. **

[2019-11-07 18:52] whedon commented on #71
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-07 18:52] whedon commented on #71
[code]

[2019-11-07 18:52] whedon commented on #71
Failed to discover a valid open source license.

[2019-11-07 18:52] whedon commented on #71
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00071/jose.00071/10.21105.jose.00071.pdf)

[2019-11-08 00:09] amoodie commented on #69
Hi @labarba, I think that @sharondenisse, @lheagy and/or @leouieda will be good reviewers for this paper, because they have listed geoscience as their background. The SedEdu software is written in PyQt; I didn't see anyone who listed this as experience.

Is it possible to have these folks review the submission? Thanks, and please let me know if there is anything I need to do to facilitate this rev

[2019-11-08 00:41] labarba commented on #71
👋  @RobinHankin — the paper mentions that the software is under GPL, but there's no LICENSE file in the repository. Could you add that?

[2019-11-08 01:08] RobinHankin commented on #71
now added, sorry about that. I thought it was understood to be under GPL.

<hankin.robin@gmail.com>
hankin.robin@gmail.com

<hankin.robin@gmail.com>

<hankin.robin@gmail.com>

On Fri, Nov 8, 2019 at 1:41 PM Lorena A. Barba <notifications@github.com>
wrote:

[2019-11-08 01:11] labarba commented on #71
@IanHawke — The submitting author suggested you as handling editor. Could you have a look and let me know if you can take it?

[2019-11-10 18:38] rambasnet commented on #52
Hi Lorena, @labarba I've cleaned up and reorganized the notebooks quite a bit while using them in two courses beginning and advanced programming with Python this semester. I was hoping if I could get the review resumed on this submission.
Thank you for your time!

[2019-11-10 19:01] labarba commented on #52
👋 @AllenDowney, @mcburton — The author of this submission has checked in and reports a refactoring of the materials. Are you willing to step back into reviewing this for JOSE? I see that you both had made lots of progress already.

[2019-11-11 23:37] sharondenisse commented on #69
@amoodie, When is your due date for the review?

[2019-11-11 23:51] lheagy commented on #69
Hi @amoodie, this looks like a really interesting project! Unfortunately I am swamped at the moment, so I can't take on the task of reviewing. You might consider reaching out so some of the folks in the CSDMS group: https://csdms.colorado.edu/wiki/Main_Page, as there seems like a fair bit of overlap in interests. Best of luck with your project!

[2019-11-12 01:22] amoodie commented on #69
@sharondenisse, thanks for your interest in the paper! I am not an editor for JOSE, so I don't have the privilege of initiating the review, or setting a due date. I'm hoping that if some folks are interested in reviewing the paper, the review may be able to begin.

@lheagy, thanks for considering, and for the link!

AM

[2019-11-13 00:58] labarba commented on #69
@amoodie : Did you select the "software" category when you submitted? (if you selected the learning-module category, the review will get formed with the wrong checklist)

[2019-11-13 01:08] amoodie commented on #69
@labarba I'm reasonably certain I checked that box.

[2019-11-13 01:11] labarba commented on #69
@whedon assign @labarba as editor

[2019-11-13 01:11] whedon commented on #69
OK, the editor is @labarba

[2019-11-13 01:13] labarba commented on #69
@sharondenisse — Would you be interested in reviewing this submission? We like to ask for a 3-week review turnaround, but we realize that everyone is a volunteer here and we don't want to hurry you.

[2019-11-22 17:06] whedon opened #72 "[PRE REVIEW]: EduCortex: browser-based 3D brain visualization of fMRI meta-analysis maps"
**Submitting author:** @PaulScotti (<a href="http://orcid.org/0000-0003-4912-8809">Paul Scotti</a>)
**Repository:** <a href="https://github.com/PaulScotti/EduCortex" target ="_blank">https://github.com/PaulScotti/EduCortex</a>
**Version:** v1.0.0
**Editor:** @magsol
**Reviewers:** @tliu23, @TomDonoghue, @arokem

**Author instructions**

Thanks for submitting your paper to JOSE @PaulScotti. **Curre

[2019-11-22 17:06] whedon commented on #72
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-22 17:06] whedon commented on #72
[code]

[2019-11-22 17:06] whedon commented on #72
[code]

[2019-11-22 17:06] whedon commented on #72
PDF failed to compile for issue #72 with the following error:

 Can't find any papers to compile :-(

[2019-11-26 14:17] whedon commented on #68
:wave: @thomasdenecker, please update us on how things are progressing here.

[2019-12-02 15:28] PaulScotti commented on #72
Could someone let me know why whedon is unable to find any papers to compile? Is it because the repository listed is [github.com/PaulScotti/EduCortex](url) and not [](https://github.com/PaulScotti/EduCortex) ?

[2019-12-02 17:10] kyleniemeyer commented on #72
I think the repo URL is configured with JOSE/whedon incorrectly, since the link above directs to https://github.com/openjournals/jose-reviews/issues/github.com/PaulScotti/EduCortex (rather than https://github.com/PaulScotti/EduCortex)

[2019-12-02 17:12] kyleniemeyer commented on #72
@openjournals/dev is it possible to change the repo URL? I don't see an option in the editors dashboard

[2019-12-04 12:57] PaulScotti commented on #72
@kyleniemeyer Thanks Kyle -- can I just reupload the paper with a correct repo URL and have this one get canceled? It might be quicker that way.

[2019-12-04 14:21] arfon commented on #72
You can just edit the top of the issue here (I will go ahead and do this).

[2019-12-04 14:22] arfon commented on #72
@whedon generate pdf

[2019-12-04 14:22] whedon commented on #72
[code]

[2019-12-04 14:23] whedon commented on #72
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00072/jose.00072/10.21105.jose.00072.pdf)

[2019-12-04 17:12] PaulScotti commented on #72
Thanks @arfon very much for fixing the issue!

In the meantime, since an editor has yet to be assigned to this paper, I realized that the paper could benefit from an explicit "Statement of Need" section in line with the submission instructions. I just now added this section to the paper, if the future editor could please regenerate the pdf.

Thanks,
Paul

[2019-12-04 18:08] arfon commented on #72
@PaulScotti - you can ask Whedon to generate a new PDF preview by typing:

[code]

[2019-12-04 18:48] PaulScotti commented on #72
@whedon generate pdf

[2019-12-04 18:48] whedon commented on #72
[code]

[2019-12-04 18:50] whedon commented on #72
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00072/jose.00072/10.21105.jose.00072.pdf)

[2019-12-06 01:44] amoodie commented on #69
Hi @labarba, is there anything I can do to help facilitate this review?

[2019-12-06 02:14] whedon commented on #72
[code]

[2019-12-08 16:07] labarba commented on #69
Thanks for the bump, @amoodie — I have sent two more reviewer enquiries via direct message.

[2019-12-08 21:29] labarba commented on #52
(I have now sent a new ping to the reviewers via direct message.)

[2019-12-08 21:59] whedon opened #73 "[PRE REVIEW]: Game Theory and Python: An educational tutorial to game theory and repeated games using Python"
**Submitting author:** @Nikoleta-v3 (<a href="http://orcid.org/0000-0002-2943-3622">Nikoleta E. Glynatsi</a>)
**Repository:** <a href="https://github.com/Nikoleta-v3/Game-Theory-and-Python" target ="_blank">https://github.com/Nikoleta-v3/Game-Theory-and-Python</a>
**Version:** v.0.0.1
**Editor:** @racheltho
**Reviewers:** @sconde , @gvdr

**Author instructions**

Thanks for submitting your paper t

[2019-12-08 21:59] whedon commented on #73
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-08 21:59] whedon commented on #73
[code]

[2019-12-08 21:59] whedon commented on #73
[code]

[2019-12-08 22:00] whedon commented on #73
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00073/jose.00073/10.21105.jose.00073.pdf)

[2019-12-08 22:00] whedon commented on #73
[code]

[2019-12-09 02:27] mcburton commented on #52
Yes, I can review this submission.

[2019-12-09 15:31] IanHawke commented on #71
I'm on it. I will start contacting potential referees, which will initially be by email (for the first couple I try).

[2019-12-09 16:02] labarba commented on #71
@whedon assign @IanHawke as editor

[2019-12-09 16:02] whedon commented on #71
OK, the editor is @IanHawke

[2019-12-09 17:07] Nikoleta-v3 commented on #73
Potential reviewers include:

- `marcharper`
- `eric-s-s`
- `gaffney2010`

These individuals are collaborators of `Axelrod-Python` which is the main software used in the tutorials. Please note that `marcharper` is also a mentor and a collaborator of mine and there is possible a conflict of interest.

[2019-12-13 14:56] IanHawke commented on #71
I am closing in on reviewers (most GR people are claiming no knowledge of R), and hope to twist some arms in person at a conference next week.

[2019-12-17 15:34] clairetn commented on #68
I'm sorry to drag this long to make the suggested changes. I am planning a version for the new year, I hope that this deadline will be appropriate.

[2019-12-17 20:31] labarba commented on #68
@whedon remind @thomasdenecker in two weeks

[2019-12-17 20:31] whedon commented on #68
Reminder set for @thomasdenecker in two weeks

[2019-12-20 11:31] IanHawke commented on #71
I have one referee agreed in principle but needs to check time availability for the New Year, and two thinking about it. Will come back to this in the New Year.

[2019-12-20 19:53] RobinHankin commented on #71
thanks for this Ian.  I appreciate the difficulty of finding an
intersection between R and GR (!) but this is one reason why I wrote the
package.

Best wishes for 2020

Robin
<hankin.robin@gmail.com>
hankin.robin@gmail.com

<hankin.robin@gmail.com>

<hankin.robin@gmail.com>

On Sat, Dec 21, 2019 at 12:31 AM Ian Hawke <notifications@github.com> wrote:

[2019-12-31 20:31] whedon commented on #68
:wave: @thomasdenecker, please update us on how things are progressing here.

[2020-01-02 23:03] amoodie commented on #69
Hi @labarba, any luck identifying reviewers for this submission? Thanks!

[2020-01-04 21:10] labarba commented on #68
Hi everybody!

 @thomasdenecker — What is your plan for revising this submission, in response to the detailed review report by one of the reviewers?

@k8hertweck — Your last post here was from 3 months ago, and your review is still unfinished. Is your intention to complete the review and submit comments to the authors?

[2020-01-20 12:04] Nikoleta-v3 commented on #73
Hello @labarba and @kyleniemeyer ,

I understand that you must be extremely busy, but I was wondering when an editor will be assigned to our paper?

[2020-01-20 15:55] PaulScotti commented on #72
Anything I can do to help assign an editor to this review process? Here are some possible suggested reviewers, if that helps? @arokem @TomDonoghue @eglerean @mnarayan @djmannion

[2020-01-23 21:43] labarba commented on #69
Unfortunately, the people I have reached out to have declined to review. We're not having any luck yet identifying reviewers. I will keep trying!

[2020-01-23 21:54] magsol commented on #72
@whedon assign @magsol as editor

[2020-01-23 21:54] whedon commented on #72
OK, the editor is @magsol

[2020-01-23 21:55] magsol commented on #72
Yes, @PaulScotti, very sorry about the delay. I'm still getting my semester up and running but given a reviewer or two I have in mind who specialize in computational neuroscience, plus the very helpful list you provided me, I'm hoping we can have things going in the next couple days.

[2020-01-26 18:07] amoodie commented on #69
Hi @labarba, okay, thanks! Here is a short list I scraped together of folks you could try, if you haven't already contacted some of them. Thanks!

@kbarnhart @mcflugen @nicgaspar @saisiddu @nathanlyons @cmshobe @amir-allam @mycarta @jessepisel @mdpiper

[2020-01-28 15:47] magsol commented on #72
@whedon assign @tliu23 as reviewer

[2020-01-28 15:47] whedon commented on #72
OK, @tliu23 is now a reviewer

[2020-01-28 19:16] magsol commented on #72
@whedon add @TomDonoghue as reviewer

[2020-01-28 19:16] whedon commented on #72
OK, @TomDonoghue is now a reviewer

[2020-01-28 21:36] koadman opened #74 "Triage for "The Gene School: Metagenomics" submission?"
Hi team, we submitted an item for review around 3 weeks ago and it seems to have fallen by the wayside. Could we perhaps request a different editor assignment in case the person we nominated doesn't have the bandwidth to handle our submission?

[2020-01-28 21:36] whedon commented on #74
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-28 21:36] whedon commented on #74
PDF failed to compile for issue #74 with the following error:

 Can't find any papers to compile :-(

[2020-02-03 19:55] mcburton commented on #52
I am excited to see the direction that these materials are going, but I think there is still more work to be done clarifying how these are to be used and how much explanatory content should be included in the notebooks.

## Major Comments
* The `paper.md` indicates these notebooks are being used at Colorado Mesa University, but additional details specifically *how* they are being used would streng

[2020-02-04 15:34] magsol commented on #72
@whedon add @arokem as reviewer

[2020-02-04 15:35] whedon commented on #72
OK, @arokem is now a reviewer

[2020-02-04 15:35] magsol commented on #72
@whedon start review

[2020-02-04 16:15] magsol commented on #72
@whedon start review

[2020-02-04 16:46] thomasdenecker commented on #68
Hi everybody!

We come back to you with corrections for our submission. You will find on Github the updated paper and on gitbook, our educational content corrected according to the majority of the reviewer's requests. You will also find a point-by-point response letter attached concerning these requests.

We remain at your disposal,
Respectfully,

Thomas Denecker & Claire Toffano-Nioche (@clairetn

[2020-02-04 17:04] k8hertweck commented on #68
@labarba Do I review the original version or the update?

[2020-02-04 17:08] labarba commented on #68
@thomasdenecker — Thank you for the update and revision.

@k8hertweck — I think it makes more sense for you to continue the review with the most recent version.

[2020-02-04 17:27] clairetn commented on #68
@whedon generate pdf

[2020-02-04 17:27] whedon commented on #68
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00068/jose.00068/10.21105.jose.00068.pdf)

[2020-02-04 17:44] labarba commented on #72
@openjournals/dev — Something is going awry here: `whedon` is not responding to the `start review` common. Can you help?

[2020-02-05 14:51] arfon commented on #72
@labarba @magsol - could you try again now?

[2020-02-05 14:52] magsol commented on #72
@whedon start review

[2020-02-05 14:52] whedon opened #75 "[REVIEW]: EduCortex: browser-based 3D brain visualization of fMRI meta-analysis maps"
**Submitting author:** @PaulScotti (<a href="http://orcid.org/0000-0003-4912-8809">Paul Scotti</a>)
**Repository:** <a href="https://github.com/PaulScotti/EduCortex" target ="_blank">https://github.com/PaulScotti/EduCortex</a>
**Version:** v1.1
**Editor:** @magsol
**Reviewers:** @tliu23, @TomDonoghue
**Archive:** <a href="https://doi.org/10.5281/zenodo.3732375" target="_blank">10.5281/zenodo.37323

[2020-02-05 14:52] whedon commented on #72
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/75.

[2020-02-05 14:52] #72 closed

[2020-02-05 14:52] whedon commented on #75
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tliu23, @TomDonoghue, @arokem it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're

[2020-02-05 14:52] magsol commented on #72
Hooray! Thanks @arfon

[2020-02-05 14:54] whedon commented on #75
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00075/jose.00075/10.21105.jose.00075.pdf)

[2020-02-05 14:55] whedon commented on #75
[code]

[2020-02-09 00:54] labarba commented on #68
👋  @k8hertweck, @lexnederbragt — could you have new look at this JOSE submission? The authors report having revised to address the concerns raised in review. Thanks!

[2020-02-09 02:02] whedon opened #76 "[PRE REVIEW]: Learning 'Learning Curves' with R Shiny"
**Submitting author:** @uriSISlab (<a href="http://orcid.org/0000-0003-4104-8505">Nicholas Bernardo</a>)
**Repository:** <a href="https://github.com/uriSISlab/LearningCurveApp" target ="_blank">https://github.com/uriSISlab/LearningCurveApp</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @uriSISlab. **Currently, th

[2020-02-09 02:02] whedon commented on #76
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-09 02:02] whedon opened #77 "[PRE REVIEW]: The Gene School: Metagenomics"
**Submitting author:** @koadman (<a href="http://orcid.org/0000-0003-2397-7925">Aaron Darling</a>)
**Repository:** <a href="https://github.com/thegeneschool/metagenomics" target ="_blank">https://github.com/thegeneschool/metagenomics</a>
**Version:** v0.0.1
**Editor:** @emckiernan
**Reviewers:** @hughshanahan, @pschloss

**Author instructions**

Thanks for submitting your paper to JOSE @koadman. *

[2020-02-09 02:02] whedon commented on #76
[code]

[2020-02-09 02:03] whedon commented on #76
Failed to discover a valid open source license.

[2020-02-09 02:03] whedon commented on #77
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-09 02:03] whedon commented on #76
[code]

[2020-02-09 02:03] whedon commented on #77
[code]

[2020-02-09 02:03] whedon commented on #76
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00076/jose.00076/10.21105.jose.00076.pdf)

[2020-02-09 02:03] whedon commented on #77
[code]

[2020-02-09 02:03] whedon commented on #77
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00077/jose.00077/10.21105.jose.00077.pdf)

[2020-02-09 02:13] labarba commented on #73
hey, @Nikoleta-v3 — I do apologize for letting this submission linger in the queue for so long. It's all my fault, for taking on some big service commitments and giving lower priority to my own initiatives. Here's one big reason: I'm JupyterCon 2020 General Chair! We [just announced](https://twitter.com/JupyterCon/status/1225901511437410304?s=20). Anyway, no excuse.

👋 @racheltho — I wonder if you

[2020-02-10 10:13] Nikoleta-v3 commented on #73
That's okay @labarba! Congratulations for JupyterCon 2020!! 👏 🎉

[2020-02-10 19:18] nbernardo213 commented on #76
@whedon commands

[2020-02-10 19:18] whedon commented on #76
Here are some things you can ask me to do:

[code]

[2020-02-12 17:30] magsol commented on #75
Hi @TomDonoghue and @tliu23, wanted to check in on how the review is going and see if there was anything you needed!

[2020-02-12 20:09] nbernardo213 commented on #76
@whedon - Thank you for your email. We have looked at the list and we would like to request Andrew Duncan (aj2duncan) to review our submission. Please let us know if you require any additional information.

Best, @uriSISlab

[2020-02-12 20:09] whedon commented on #76
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-15 18:17] amoodie commented on #69
Hi @labarba, I'm checking in to see if there is any movement on this review. Please let me know if you'd like me to suggest more potential reviewers. Thanks!

[2020-02-16 02:03] TomDonoghue commented on #75
Sorry for being a little slow - had a busy week last week - but should be able to do the review in the next couple days, and don't think I need anything in particular for now! Thanks!

[2020-02-21 23:41] racheltho commented on #73
I apologize that I didn't see the notification for this at the time.  I will take a look in the next few days!

[2020-02-21 23:49] racheltho commented on #73
@whedon commands

[2020-02-21 23:49] whedon commented on #73
Here are some things you can ask me to do:

[code]

[2020-02-21 23:49] racheltho commented on #73
@whedon start review

[2020-02-21 23:50] racheltho commented on #73
@whedon generate pdf

[2020-02-21 23:50] labarba commented on #73
Hi @racheltho — first, let me assign you as editor.

Then, the next step is to find reviewers, and assign them here.

[2020-02-21 23:50] whedon commented on #73
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00073/jose.00073/10.21105.jose.00073.pdf)

[2020-02-21 23:51] labarba commented on #73
After assigning the reviewers, you will do `@whedon start review`, which will create a new REVIEW issue, with the reviewer checklists, and will give the reviewers the necessary permissions to check off items in their list.

[2020-02-21 23:52] labarba commented on #73
@whedon assign @racheltho as editor

[2020-02-21 23:52] whedon commented on #73
OK, the editor is @racheltho

[2020-02-21 23:52] labarba commented on #73
Now that you are editor, you have the "powers" to assign/add reviewers, and start the review.

[2020-02-21 23:54] labarba commented on #73
You can contact potential reviewers via email, Twitter, or mention them in this issue to invite them. Once they agree, you will run `@whedon assign <user> as reviewer` for the first one, and `@whedon add <user> as reviewer` for the second one (we usually want two reviewers).

More help in our Documentation's [Editorial Guide](https://openjournals.readthedocs.io/en/jose/editing.html)

[2020-02-22 16:13] racheltho commented on #73
Hi @sconde, you signed up to review for JOSE. Would you like to contribute a review for this submission? The title is: Game Theory and Python: An educational tutorial to game theory and repeated games using Python. Let me know if you're available and willing. Thanks!

[2020-02-22 21:40] labarba commented on #69
👋  To all who were mentioned in this JOSE Pre-Review thread — if you are not interested in contributing a review of this submission, please go ahead and Unsubscribe from the thread, to mute any further notifications to you. Cheers!

[2020-02-22 21:48] labarba commented on #69
Nick @Swanson-Hysell — Would you be interested in contributing a review for The Journal of Open Source Education? https://jose.theoj.org

The submission is titled "SedEdu: a suite of sediment-related educational modules," and it presents a software framework for organizing learning activities, written in PyQt.
[Check out the article proof](https://github.com/openjournals/jose-papers/blob/jose.0006

[2020-02-22 22:33] labarba commented on #64
👋 @TacNayn — It's been a long time getting back to you on this submission to JOSE, and for that I apologize. The members of the editorial board have been having a bunch of discussions, triggered by your submission. We also reached out to the team at Data Carpentry, and getting their reply also took time.

Here's the bottom line: we decided to _not_ put this submission through review. We came to th

[2020-02-22 22:38] #64 closed

[2020-02-23 22:45] labarba commented on #69
👋 @grsharman — Might you be interested in contributing a review for The Journal of Open Source Education? The submission is titled "SedEdu: a suite of sediment-related educational modules," and it presents a software framework for organizing learning activities, written in PyQt.
Check out the [article proof](https://github.com/openjournals/jose-papers/blob/jose.00069/jose.00069/10.21105.jose.00069

[2020-02-24 01:08] Swanson-Hysell commented on #69
Hi @labarba, I would be happy to serve as a reviewer for this manuscript/project. However, having read through the thread above I saw you make this point:

The way that I would be interested in providing input is in the context of the learning activities. Reviewing it as a "software framework" alone without that disciplinary context effectively means that I would be reviewing the concept of having

[2020-02-24 16:36] sconde commented on #73
yes!

[2020-02-24 22:14] racheltho commented on #73
@whedon assign @sconde  as reviewer

[2020-02-24 22:14] whedon commented on #73
OK, @sconde  is now a reviewer

[2020-02-24 22:19] labarba commented on #73
Great going with your first editing for JOSE, @racheltho 🚀

A pro tip: you should find a second reviewer and run `@whedon add <user> as reviewer` here, _before_ running `@whedon start review`. That way, the review issue will be started with an individual checklist for each reviewer. Godspeed!

[2020-02-24 22:22] labarba commented on #77
@whedon assign @emckiernan as editor

[2020-02-24 22:22] whedon commented on #77
OK, the editor is @emckiernan

[2020-02-24 22:44] racheltho commented on #73
Hi @gvdr, you signed up to review for JOSE. Would you be able to be a reviewer for this submission? The title is: Game Theory and Python: An educational tutorial to game theory and repeated games using Python. Let me know if you're available and willing. Thanks!

[2020-02-24 23:26] gvdr commented on #73
Yes, will do!
----
Giulio Valentino Dalla Riva
Lecturer in Data Science
School of Mathematics and Statistics
University of Canterbury
Ōtautahi, Aotearoa -- Christchurch, New Zealand

----
Securely sent with Tutanota. Get your own encrypted, ad-free mailbox:
https://tutanota.com

25 Feb 2020, 11:44 by notifications@github.com:

[2020-02-24 23:32] racheltho commented on #73
@whedon add @gvdr as reviewer

[2020-02-24 23:32] whedon commented on #73
OK, @gvdr is now a reviewer

[2020-02-24 23:35] racheltho commented on #73
@whedon start review

[2020-02-24 23:38] labarba commented on #73
@openjournals/dev We have a delay here in `@whedon` starting the review. Can you check for us what could be the snag?

[2020-02-25 10:48] arfon commented on #73
@whedon start review

[2020-02-25 10:53] arfon commented on #73
@whedon start review

[2020-02-25 10:53] whedon opened #78 "[REVIEW]: Game Theory and Python: An educational tutorial to game theory and repeated games using Python"
**Submitting author:** @Nikoleta-v3 (<a href="http://orcid.org/0000-0002-2943-3622">Nikoleta E. Glynatsi</a>)
**Repository:** <a href="https://github.com/Nikoleta-v3/Game-Theory-and-Python" target ="_blank">https://github.com/Nikoleta-v3/Game-Theory-and-Python</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @sconde , @matbesancon
**Archive:** <a href="https://doi.org/10.5281/zenodo.478

[2020-02-25 10:53] whedon commented on #73
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/78.

[2020-02-25 10:53] #73 closed

[2020-02-25 10:53] whedon commented on #78
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sconde , @gvdr it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probably curren

[2020-02-25 10:53] whedon commented on #78
[code]

[2020-02-25 10:53] whedon commented on #78
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00078/jose.00078/10.21105.jose.00078.pdf)

[2020-02-25 10:54] arfon commented on #73
Apologies for the minor hiccup. Things should be working normally now.

[2020-02-25 21:41] racheltho commented on #78
:wave: @sconde @gvdr — Thank you for agreeing to review for JOSE! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2020-02-25 23:15] emckiernan commented on #77
Hi, @AstrobioMike, you signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Let me know if you're available and willing. Thanks!

[2020-02-25 23:27] emckiernan commented on #77
Hi, @HadrienG, you signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Let me know if you're available and willing. Thanks!

[2020-02-26 08:07] HadrienG commented on #77
Hi! I'm writing my thesis and getting close to defending, I'll unfortunately not have time for reviewing this.

[2020-02-26 13:16] emckiernan commented on #77
Thanks for letting us know. Good luck with the thesis and defense!

[2020-02-26 13:29] emckiernan commented on #77
Hi, @Hughshanahan, you signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Let me know if you're available and willing. Thanks!

[2020-02-26 13:31] hughshanahan commented on #77
Hi Erin
            yes please. To note I won’t be able to get to this until next week.

Hugh
__________________________
Hugh Shanahan
Professor of Open Science
( he | his )
Hugh.Shanahan@rhul.ac.uk<mailto:Hugh.Shanahan@rhul.ac.uk>
http://www.shanahanlab.org
@hughshanahan
Skype hugh_shanahan
Tel +44 (0)1784 443433
orcid.org/0000-0003-1374-6015<http://orcid.org/0000-0003-1374-6015>

Emails sent out

[2020-02-26 13:35] emckiernan commented on #77
@whedon assign @hughshanahan as reviewer

[2020-02-26 13:35] whedon commented on #77
OK, @hughshanahan is now a reviewer

[2020-02-26 21:13] AstrobioMike commented on #77
Hi there, @emckiernan! I'm sorry to say i'm not able to help out on this one unfortunately :/

[2020-02-26 21:40] emckiernan commented on #77
No worries, thanks for letting us know.

[2020-02-26 21:51] emckiernan commented on #77
Hi, @pschloss, you signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Let me know if you're available and willing. Thanks!

[2020-02-28 19:42] emckiernan commented on #77
@whedon add @pschloss as reviewer

[2020-02-28 19:42] whedon commented on #77
OK, @pschloss is now a reviewer

[2020-02-28 20:16] emckiernan commented on #77
@whedon start review

[2020-02-28 20:16] whedon opened #79 "[REVIEW]: The Gene School: Metagenomics"
**Submitting author:** @koadman (<a href="http://orcid.org/0000-0003-2397-7925">Aaron Darling</a>)
**Repository:** <a href="https://github.com/thegeneschool/metagenomics" target ="_blank">https://github.com/thegeneschool/metagenomics</a>
**Version:** v0.0.1
**Editor:** @emckiernan
**Reviewer:** @hughshanahan, @pschloss
**Archive:** Pending

## Status

[![status](https://jose.theoj.org/papers/ad5d5

[2020-02-28 20:16] whedon commented on #77
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/79.

[2020-02-28 20:16] #77 closed

[2020-02-28 20:16] whedon commented on #79
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hughshanahan, @pschloss it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/jose-reviews) repository. As a reviewer, you're probab

[2020-02-28 20:16] whedon commented on #79
[code]

[2020-02-28 20:16] whedon commented on #79
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00079/jose.00079/10.21105.jose.00079.pdf)

[2020-02-28 20:36] emckiernan commented on #79
Hi @hughshanahan, @pschloss: Thank you for agreeing to review for JOSE! This is where the action happens: please work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. I'm here to help, so please let me know if you need anything. Thanks!

[2020-03-03 17:09] magsol commented on #75
Hi @TomDonoghue and @tliu23, I'd really like to wrap this review up soon. Please let me know if you need anything in the meantime. Thanks!

[2020-03-04 14:00] tliu23 commented on #75
Went through the lists and checked the ones.

[2020-03-04 14:01] tliu23 commented on #75
Thanks for the reminder. Just went through the list and checked the ones I
am more certain.

Tianming

On Tue, Mar 3, 2020 at 12:09 PM Shannon <notifications@github.com> wrote:

--
Tianming Liu
Distinguished Research Professor
Department of Computer Science & Bioimaging Research Center & Institute of
Bioinformatics & Neuroscience PhD Program & Institute of Artificial
Intelligence
The University of

[2020-03-04 15:54] magsol commented on #75
Thanks @tliu23, let me know when you think you can check off the last couple items.

[2020-03-04 16:37] tliu23 commented on #75
Done, thanks.

[2020-03-04 16:37] tliu23 commented on #75
Done.

On Wed, Mar 4, 2020 at 10:54 AM Shannon <notifications@github.com> wrote:

--
Tianming Liu
Distinguished Research Professor
Department of Computer Science & Bioimaging Research Center & Institute of
Bioinformatics & Neuroscience PhD Program & Institute of Artificial
Intelligence
The University of Georgia
Boyd GSRC 420
Athens, GA 30602
Phone 706-542-3478
Email: tliu@cs.uga.edu <tliu@uga.edu>

[2020-03-04 16:39] magsol commented on #75
Awesome, thanks @tliu23. Did you have any final comments for the authors?

[2020-03-04 16:40] tliu23 commented on #75
No.

On Wed, Mar 4, 2020 at 11:39 AM Shannon <notifications@github.com> wrote:

--
Tianming Liu
Distinguished Research Professor
Department of Computer Science & Bioimaging Research Center & Institute of
Bioinformatics & Neuroscience PhD Program & Institute of Artificial
Intelligence
The University of Georgia
Boyd GSRC 420
Athens, GA 30602
Phone 706-542-3478
Email: tliu@cs.uga.edu <tliu@uga.edu>
W

[2020-03-04 16:40] magsol commented on #75
Great, thanks.

@TomDonoghue, let me know when you'd be able to get to the review. Would love to wrap this up soon.

[2020-03-04 16:51] TomDonoghue commented on #75
@magsol : I'm very sorry for the delay - I will get to this today!

[2020-03-06 14:31] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/22

[2020-03-06 14:34] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/23

[2020-03-06 14:39] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/24

[2020-03-06 14:49] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/25

[2020-03-08 04:34] TomDonoghue commented on #75
Okay, sorry for the delay, I have worked through the project and had some time to work on my review. I opened issues on the original repo with more details, with the main points recapped here.

Main Review Comments:
- [ ] I think the dependencies and install instructions can be updated  (https://github.com/PaulScotti/educortex/issues/6)
- [ ] I think it might be useful to tag a versions of the sit

[2020-03-09 18:31] Nikoleta-v3 commented on #78
Thank you for the issues @sconde ! 😄  I shall address them asap.

[2020-03-12 02:00] ctdegroot commented on #67
Sorry to everyone for the delay in addressing the comments. I've done everything except fixing the rendering of some of the HTML code. This worked properly in a previous version of Jupyter, but broke at some point. I'll work on a fix. In the meantime, is there anything else I should be addressing with regard to the remaining un-checked boxes?

[2020-03-12 02:28] ctdegroot commented on #67
It took a while to figure out how to fix the rendering of Markdown inside of HTML blocks. All solved now, so there are no open issues at this point.

[2020-03-12 09:59] Nikoleta-v3 commented on #78
@sconde I believe I have now addressed all the issues that you raised 👍

This was done in https://github.com/Nikoleta-v3/Game-Theory-and-Python/pull/26, and I have also made a new release (https://github.com/Nikoleta-v3/Game-Theory-and-Python/releases).

[2020-03-12 19:51] PaulScotti commented on #75
@whedon generate pdf

[2020-03-12 19:54] whedon commented on #75
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00075/jose.00075/10.21105.jose.00075.pdf)

[2020-03-12 20:06] PaulScotti commented on #75
@whedon generate pdf

[2020-03-12 20:09] whedon commented on #75
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00075/jose.00075/10.21105.jose.00075.pdf)

[2020-03-12 20:23] PaulScotti commented on #75
Thanks everyone for their time and effort spent reviewing this project. Thanks especially to @TomDonoghue for the detailed suggestions. I have made revisions to address the issues/suggestions raised, including

- fixed two bugs: the data selector (top-left panel) is now not clickable, and the pca visualization now correctly switches for "Top 7-9"

- Added versioning using git tag (starting now at

[2020-03-14 22:31] TomDonoghue commented on #75
Thanks for all the updates @PaulScotti

Just a note that I did leave follow up comments on a couple issues on educortex (https://github.com/PaulScotti/educortex/issues/6 & https://github.com/PaulScotti/educortex/issues/11) that you've been working on.

For the purpose of the review, I would say I'm pretty much happy with it all. In terms of broader organizations, I added a comment to the relevant

[2020-03-18 18:02] TomDonoghue commented on #75
With the last round of updates that @PaulScotti put through, I would say I have covered all the things that I had for my review. Unless their are any further thoughts / direction about the paper itself, I'd say I'm good to sign off on this review.

Overall: I'd say this is a cool tool, and I really like the website. I think it makes for a good JOSE paper. Congratulations to the developers for this

[2020-03-23 18:07] emckiernan commented on #79
Hi @hughshanahan, @pschloss: I know we're in a difficult time, so I don't want to pressure. But I just wanted to check in with you both about your reviews. How are things going? Anything I can help with?

[2020-03-23 21:31] hughshanahan commented on #79
Hi - aagh. Sorry for dropping the ball on this. I have interviews all day tomorrow and meetings on Wednesday morning. That gives Wednesday afternoon to get after this. Please be very rude to me if I don't get it done then. Sorry again.

[2020-03-24 13:25] pschloss commented on #79
i'll do my best to get it up by the end of the week

[2020-03-26 22:41] rambasnet commented on #52
Thank you for the review @mcburton. I appreciate your feedback.

I've a strong feeling that my intentions of these notebooks will not meet the requirements of the JOSE journal. So, I, respectfully, would like to withdraw my submission.

Thank you all @labarba and @AllenDowney for your valuable time to give this submission a chance.

[2020-03-27 09:18] labarba commented on #52
No problem @rambasnet. Thank you for your efforts and considering JOSE to showcase your work.

I will now withdraw your submission.

Many thanks to @AllenDowney and @mcburton for the time invested in reviewing this work 🙏

[2020-03-27 09:19] #52 closed

[2020-03-27 15:47] pschloss commented on #79
Can @emckiernan confirm that this is the correct review template? It seems to be for software rather than for teaching materials. I was expecting something more like what is given at #78

[2020-03-27 16:09] pschloss commented on #79
Also... what is the preferred way of leaving feedback on the authors' repository? One issue with checkboxes or separate issues for each point?

[2020-03-28 17:37] magsol commented on #75
@whedon remove @arokem as reviewer

[2020-03-28 17:37] whedon commented on #75
OK, @arokem is no longer a reviewer

[2020-03-28 17:37] magsol commented on #75
@whedon generate pdf

[2020-03-28 17:39] whedon commented on #75
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00075/jose.00075/10.21105.jose.00075.pdf)

[2020-03-28 17:43] magsol commented on #75
Sorry for the delay--university changes around COVID-19 have upended my schedule from its roots, though I'm sure I don't have to explain that to anyone here.

Thanks @tliu23 and @TomDonoghue for your reviews, and especially Tom for the insightful comments and feedback. This was a lot of fun to read, and super awesome that this came out of Neurohackademy; it's such a phenomenal annual workshop/meet

[2020-03-29 13:07] PaulScotti commented on #75
v1.1: https://github.com/PaulScotti/educortex/releases/tag/v1.1
archive: https://doi.org/10.5281/zenodo.3732375

Huge thanks to @magsol @TomDonoghue and @tliu23 for their time and effort spent facilitating this review process, I'm very thankful that this journal exists to support projects like this.

[2020-03-30 00:27] magsol commented on #75
@whedon set 10.5281/zenodo.3732375 as archive

[2020-03-30 00:27] whedon commented on #75
OK. <a href="https://doi.org/10.5281/zenodo.3732375" target="_blank">10.5281/zenodo.3732375</a> is the archive.

[2020-03-30 00:27] magsol commented on #75
@whedon set v1.1 as version

[2020-03-30 00:27] whedon commented on #75
OK. v1.1 is the version.

[2020-03-30 00:28] magsol commented on #75
@whedon accept

[2020-03-30 00:28] whedon commented on #75
[code]

[2020-03-30 00:30] whedon commented on #75
:wave: @openjournals/jose-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/jose-papers/pull/47

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/jose-papers/pull/47, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-30 16:20] emckiernan commented on #79
Hi @pschloss, thanks for your question. I see your point, the review checklist is different from that provided at #78, and is missing sections like the one on pedagogy. This was automatically generated by whedon, so I'm not sure why it is different. Since this is my first time editing for JOSE, I'd like to loop in @labarba, just to make sure we're on the right track. Lorena, do you know why we hav

[2020-03-30 16:28] emckiernan commented on #79
Hi @pschloss: The guidelines say, "Comments in the REVIEW issue should be kept brief, as much as possible, with more lengthy suggestions or requests posted as separate issues, directly in the submission repository." So I'd say, if the comments are short, you can leave something like a checklist, but if the comments are more lengthy, I'd open these as separate issues. You can link back to all of th

[2020-03-30 16:43] labarba commented on #79
The checklist is auto-generated on the basis of the submission type chosen by the authors on the submission web form.

@koadman — do you remember choosing the submission type from the drop-down menu back when you submitted?

[2020-03-30 16:47] labarba commented on #79
You can decide how you want to structure your feedback in the submission repository (whether to open one or several issues). But be sure to post here a link to the issue with a brief note, to create a cross-link.

Note that this Review thread will be archived together with the paper at publication time, for posterity.

[2020-03-30 16:48] emckiernan commented on #79
Thanks @labarba, we appreciate the help!

[2020-04-01 12:16] pschloss commented on #79
I have posted my review in the [authors' repository](https://github.com/thegeneschool/metagenomics/issues/3). I have not completed the checklist above because I'm pretty confident it's the wrong one. I may have additional comments if a different checklist is given.

[2020-04-02 21:07] kyleniemeyer commented on #79
Oh, good point. It looks like whedon posted the JOSS review checklist, rather than the JOSE checklist. @arfon @labarba ?

[2020-04-03 00:12] arfon commented on #79
Checking...

[2020-04-03 00:23] arfon commented on #79
@kyleniemeyer @labarba - looks like this is marked as `software` in the JOSE database so I think the review checklist is correct. Were you expecting the checklist for a `learning module`?

[2020-04-03 03:35] kyleniemeyer commented on #79
@arfon yeah, I think that was a mistake that we didn't catch. This looks to be a learning module instead. Is that an easy fix, or do we just need to manually change the lists?

[2020-04-03 12:54] arfon commented on #79
I'm afraid this is a manual change to the lists so I think you are as well-positioned as I am to make this change :-)

[2020-04-03 13:03] labarba commented on #79
I have manually changed the review checklists. @pschloss — you'll have to go back and re-check items, I'm afraid.

[2020-04-03 16:28] pschloss commented on #79
I've completed the checklist. I think it matches what I have written in my review in the repository.

[2020-04-03 16:48] magsol commented on #75
Hi @openjournals/jose-eics , whenever you get a chance, please give @PaulScotti 's submission here a final yay/nay!

[2020-04-04 11:33] labarba commented on #75
@PaulScotti — Could you edit the metadata of the Zenodo deposit so the title and author list matches the paper? Thanks!

[2020-04-04 11:42] PaulScotti commented on #75
@labarba I corrected the author names/affiliations and the title of the Zenodo deposit, are there other metadata that I should correct?

[2020-04-04 12:06] labarba commented on #75
@whedon accept deposit=true

[2020-04-04 12:06] whedon commented on #75
[code]

[2020-04-04 12:08] whedon commented on #75
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSE!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/jose-papers/pull/48
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jose.00075](https://doi.org/10.21105/jose.00075)
2. If everything looks goo

[2020-04-04 12:17] labarba commented on #75
Congratulations, @PaulScotti, your JOSE paper is published! 🚀

Huge thanks to our editor: @magsol, and the reviewers: @tliu23, @TomDonoghue — we couldn't do this without you 🙏

[2020-04-04 12:21] labarba commented on #75
https://twitter.com/JOSE_TheOJ/status/1246412103361191936

[2020-04-04 12:21] #75 closed

[2020-04-04 12:21] whedon commented on #75
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://jose.theoj.org/papers/10.21105/jose.00075/status.svg)](https://doi.org/10.21105/jose.00075)

**We need your help!**

Journal of Open Source Educat

[2020-04-07 22:52] emckiernan commented on #79
Hi @hughshanahan, just checking in about your review, thanks!

[2020-04-09 15:15] thomasdenecker commented on #68
Hi everyone,

We hope the confinement is not too difficult and that you and your family are healthy.
We take the liberty of contacting you to find out if you would like us to make changes to be published in JOSE.

We thank you for your feedback and remain at your disposal.

Thomas and Claire

[2020-04-13 16:45] emckiernan commented on #79
Hi @hughshanahan, just checking in again, thanks!

[2020-04-21 12:41] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/27

[2020-04-21 12:47] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/28

[2020-04-21 12:50] sconde commented on #78
@Nikoleta-v3 some new issues

[2020-04-21 14:06] Nikoleta-v3 commented on #78
Thank you @sconde . I will address them asap.

[2020-04-27 11:52] Nikoleta-v3 commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/pull/29 addresses the latest comments @sconde.

[2020-04-29 16:08] whedon opened #80 "[PRE REVIEW]: Take a moderndive into introductory linear regression with R"
**Submitting author:** @rudeboybert (<a href="http://orcid.org/0000-0001-7824-306X">Albert Y. Kim</a>)
**Repository:** <a href="https://github.com/moderndive/moderndive" target ="_blank">https://github.com/moderndive/moderndive</a>
**Version:** v0.5.1
**Editor:** @moorepants
**Reviewers:** @lisamr, @lwjohnst86

**Author instructions**

Thanks for submitting your paper to JOSE @rudeboybert. **Curre

[2020-04-29 16:08] whedon commented on #80
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-04-29 16:08] whedon commented on #80
[code]

[2020-04-29 16:08] whedon commented on #80
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00080/jose.00080/10.21105.jose.00080.pdf)

[2020-04-29 16:09] whedon opened #81 "[PRE REVIEW]: ClimateEstimate.net: A tutorial on climate econometrics"
**Submitting author:** @jrising (<a href="http://orcid.org/0000-0001-8514-4748">James Rising</a>)
**Repository:** <a href="https://github.com/atrisovic/weather-panel.github.io" target ="_blank">https://github.com/atrisovic/weather-panel.github.io</a>
**Version:** v1.2
**Editor:** @kyleniemeyer
**Reviewers:** @howardjp, @jwagemann

**Author instructions**

Thanks for submitting your paper to JOSE @

[2020-04-29 16:09] whedon commented on #81
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-04-29 16:09] whedon commented on #81
[code]

[2020-04-29 16:09] whedon opened #82 "[PRE REVIEW]: An open source crash course on parameter estimation of computational models using a Bayesian optimization approach"
**Submitting author:** @mbarzegary (<a href="http://orcid.org/0000-0002-1456-0610">Mojtaba Barzegari</a>)
**Repository:** <a href="https://github.com/mbarzegary/educational-bayesian" target ="_blank">https://github.com/mbarzegary/educational-bayesian</a>
**Version:** v1.0.0
**Editor:** @magsol
**Reviewers:** @e-dub, @jcapriot

**Author instructions**

Thanks for submitting your paper to JOSE @mbar

[2020-04-29 16:09] whedon commented on #82
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-04-29 16:09] whedon commented on #82
[code]

[2020-04-29 16:09] whedon commented on #81
[code]

[2020-04-29 16:09] whedon commented on #81
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00081/jose.00081/10.21105.jose.00081.pdf)

[2020-04-29 16:10] whedon commented on #82
[code]

[2020-04-29 16:10] whedon commented on #82
PDF failed to compile for issue #82 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.342 \$ A + 2B \rightleftharpoons

Looks like we failed to compile the PDF

[2020-04-30 08:12] mbarzegary commented on #82
@whedon generate pdf

[2020-04-30 08:12] whedon commented on #82
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00082/jose.00082/10.21105.jose.00082.pdf)

[2020-04-30 08:18] mbarzegary commented on #82
@whedon generate pdf

[2020-04-30 08:18] whedon commented on #82
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00082/jose.00082/10.21105.jose.00082.pdf)

[2020-04-30 08:34] mbarzegary commented on #82
@whedon commands

[2020-04-30 08:34] whedon commented on #82
Here are some things you can ask me to do:

[code]

[2020-04-30 08:39] mbarzegary commented on #82
@whedon list editors

[2020-04-30 08:39] whedon commented on #82
Current editors:

[code]

[2020-04-30 08:43] mbarzegary commented on #82
suggested editor:  magsol
suggested reviewer: matbesancon

[2020-04-30 10:36] lexnederbragt commented on #68
My review of the resubmission:

I thank the authors for addressing many of my comments.
The book has now more of a workshop/course manual feeling,
with a lesson plan and timings (albeit coarse).
I'd be more inclined to use it if I were to teach these subjects.

I still feel some of my original comments are not fully addressed,
but I feel many of these can be resolved
by explicitly mentioning this

[2020-04-30 10:58] jrising commented on #81
@whedon commands

[2020-04-30 10:58] whedon commented on #81
Here are some things you can ask me to do:

[code]

[2020-04-30 10:59] jrising commented on #81
Possible editors:
Julia Wagemann
Angela Li
James P. Howard, II

[2020-04-30 10:59] jrising commented on #81
@whedon generate pdf

[2020-04-30 11:00] whedon commented on #81
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00081/jose.00081/10.21105.jose.00081.pdf)

[2020-05-01 17:29] labarba commented on #68
@lexnederbragt — Thank you again for your thorough review!

@k8hertweck — It would be nice for the author to have your comments also, at this time, so they may polish their submission one last time with all reviewer comments at hand. Do you think you can come back to this soon?

[2020-05-02 22:02] racheltho commented on #78
Hi @gvdr, I wanted to check if you would still be able to review this submission.  I realize there has been a ton of disruption since I first asked (before lockdown, school closings, etc) and I totally understand if your situation has changed and you are no longer available.  I hope that you and loved ones are safe.

[2020-05-04 12:02] sconde commented on #78
https://github.com/Nikoleta-v3/Game-Theory-and-Python/issues/30

[2020-05-04 12:03] sconde commented on #78
@racheltho once the issues have been resolved, and my checklist has been completed, anything else required of me?

[2020-05-05 00:03] amoodie commented on #69
Hi @labarba, I was hoping to get an update on the status of this manuscript submission and see if we could identify reviewers. I realize everyone is working double time now with end-of-semester duties and an extra burden from life, but just wanted to provide another gentle nudge! Thanks, AM.

[2020-05-05 16:36] racheltho commented on #78
Hi @sconde thanks so much for your efforts on this!  I think this is all we need from you!

[2020-05-11 09:20] sconde commented on #78
Done with my review.

[2020-05-13 17:33] emckiernan commented on #79
@whedon remove @hughshanahan as reviewer

[2020-05-13 17:33] whedon commented on #79
OK, @hughshanahan is no longer a reviewer

[2020-05-13 17:36] emckiernan commented on #79
Hi @erahulkulkarni! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-05-14 10:29] erahulkulkarni commented on #79
Good Morning  Erin C. McKiernan,

I am a bit rusty on BioInformatics since it has been a long time I have
worked on any projects.

So, I may not be the best match at present.

If it is still okay, please let me know.

Thanks and Regards,
*Rahul Kulkarni*

On Wed, May 13, 2020 at 11:06 PM Erin C. McKiernan <notifications@github.com>
wrote:

[2020-05-17 14:14] racheltho commented on #78
Hi @mnarayan, You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "Game Theory and Python: An educational tutorial to game theory and repeated games using Python". Please let me know if you're available and willing. Thanks!

[2020-05-19 18:46] emckiernan commented on #79
Hi @erahulkulkarni, thanks for your response and apologies for my slow reply! If you're still willing, it would be great to have you review, even if rusty :). I think one of the most important things is to evaluate that all the documentation of the software and educational tools described is complete and makes sense to you. In my opinion, the didactic materials should be as clear as possible, even

[2020-05-20 15:14] erahulkulkarni commented on #79
Good Morning Erin C. McKiernan,

No worries.

Okay then, I will check rules / documentation of review and a give a try.
Thank You.

Thanks and Regards,
*Rahul Kulkarni*

On Wed, May 20, 2020 at 12:16 AM Erin C. McKiernan <notifications@github.com>
wrote:

[2020-05-21 19:02] emckiernan commented on #79
Thanks, @erahulkulkarni! I will assign you as a reviewer and you should receive a checklist to go through to help you in preparing your review.

[2020-05-21 19:03] emckiernan commented on #79
@whedon add @erahulkulkarni as reviewer

[2020-05-21 19:03] whedon commented on #79
OK, @erahulkulkarni is now a reviewer

[2020-05-22 08:13] labarba commented on #79
@emckiernan -- `@whedon` is not able to edit the lead comment in this thread to add a new review checklist, so this step is manual. I just edited the comment and added a checklist for @erahulkulkarni (thanks for agreeing to review!)

[2020-05-22 10:19] erahulkulkarni commented on #79
Thank You.

Thanks and Regards,
*Rahul Kulkarni*

On Fri, May 22, 2020 at 1:43 PM Lorena A. Barba <notifications@github.com>
wrote:

[2020-05-22 16:42] rudeboybert commented on #80
@whedon commands

[2020-05-22 16:42] whedon commented on #80
Here are some things you can ask me to do:

[code]

[2020-05-22 16:54] rudeboybert commented on #80
@whedon list editors

[2020-05-22 17:11] rudeboybert commented on #80
@whedon generate pdf
@whedon check references
@whedon check repository

[2020-05-22 17:11] whedon commented on #80
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00080/jose.00080/10.21105.jose.00080.pdf)

[2020-05-22 17:16] rudeboybert commented on #80
@whedon check references

[2020-05-22 17:17] whedon commented on #80
[code]

[2020-05-22 17:17] rudeboybert commented on #80
@whedon check repository

[2020-05-22 17:17] whedon commented on #80
[code]

[2020-05-22 17:27] rudeboybert commented on #80
Suggested reviewers: gvdr, kbodwin, lebebr01, jhollist

[2020-05-28 21:16] jessepisel commented on #69
Howdy @amoodie and @labarba I have time to review this submission now that the semester has ended. Would I be reviewing it as a software module, or as a learning module as discussed above?

[2020-05-29 13:49] amoodie commented on #69
Thanks @jessepisel, I appreciate your willingness to review! When I submitted, I intended this to be a software submission, but perhaps JOSE's policy has changed since then.

Excited to see what @labarba says, seems like we have two reviewers now?

[2020-06-02 14:49] erahulkulkarni commented on #79
Good Morning,

Sorry due to academic uncertainty, I am unable to concentrate. I am not
sure if I can give my best in review.

Thanks and Regards,
*Rahul Kulkarni*

On Fri, May 22, 2020 at 3:49 PM Rahul Kulkarni <erahulkulkarni@gmail.com>
wrote:

[2020-06-08 17:30] emckiernan commented on #79
Hi @erahulkulkarni, thanks for letting us know. I will remove you as a reviewer.

[2020-06-08 17:32] emckiernan commented on #79
@whedon remove @erahulkulkarni as reviewer

[2020-06-08 17:32] whedon commented on #79
OK, @erahulkulkarni is no longer a reviewer

[2020-06-08 17:50] emckiernan commented on #79
Hi @auberoi! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-06-09 06:49] erahulkulkarni commented on #79
Thank you.

Sorry for the trouble.

Thanks and Regards,
*Rahul Kulkarni*

On Mon, Jun 8, 2020 at 11:02 PM Erin C. McKiernan <notifications@github.com>
wrote:

[2020-06-12 07:49] thomasdenecker commented on #68
Dear @labarba , Dear all,

First of all, we would like to thank Lex Nederbragt for once again reviewing the current version of our work. We have tried to respond to the most important remarks and have made the majority of corrections. We appreciate the resulting improvement of our Gitbook. We would also like to thank Lorena for her help and assistance throughout the process and for following up on

[2020-06-12 17:00] k8hertweck commented on #68
Thank you for this update, and I want to apologize for my inability to provide comments. I've been struggling with health issues and it's clear I should not have obligated myself to this review when I've consistently not been able to provide the feedback necessary.

[2020-06-15 08:25] thomasdenecker commented on #68
We are very sorry that you had health concerns. We understand that you were unable to review our proposal. We hope that your condition improves and that you will soon be able to resume your activities with peace of mind.

Respectfully,

Thomas Denecker & Claire Toffano-Nioche

[2020-06-16 17:00] emckiernan commented on #79
Hi @JasonJWilliamsNY! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-06-17 11:44] lexnederbragt commented on #68
Dear Thomas and Claire. Thanks for addressing the proposed changes (which I have not looked at yet). I hope that you will manage the coming busy period well and full understand that this prevents you from finalising this submission. I am mostly glad to have been of help.

And Kate, hope you will be well soon...

This was my first review for JOSE and I must say that it was a pleasant process, and f

[2020-06-17 20:23] rudeboybert commented on #80
@whedon generate pdf

[2020-06-17 20:24] whedon commented on #80
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00080/jose.00080/10.21105.jose.00080.pdf)

[2020-06-29 17:15] emckiernan commented on #79
Hi @luizirber! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-07-06 20:40] emckiernan commented on #79
Hi @fmichonneau! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-07-09 09:15] ThomasA commented on #82
Just a suggestion: maybe @magsol and @matbesancon did not notice they were mentioned?

[2020-07-13 09:20] mbarzegary commented on #82
Thanks @ThomasA
I did this because the bot instruction was writing the names without tagging them.

[2020-07-13 09:23] matbesancon commented on #82
Hi, thanks for pinging me but I'm not sure I am the right  person for this review, I don't focus on Bayesian models

[2020-07-14 14:13] magsol commented on #82
Likewise, thank you for pinging me on this--was not getting the notifications otherwise!

This is also outside my area of immediate expertise but I have enough experience to be dangerous... or, at the very least, to take a stab at recruiting some reviewers, especially since you've been waiting so patiently for far too long. Let me see what I can do over the next couple days.

[2020-07-14 14:14] magsol commented on #82
@whedon assign me as editor

[2020-07-14 14:14] whedon commented on #82
OK, the editor is @magsol

[2020-07-14 17:45] emckiernan commented on #79
Hi @roshni-b! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-07-16 17:50] magsol commented on #82
@whedon assign @e-dub as reviewer

[2020-07-16 17:50] whedon commented on #82
OK, @e-dub is now a reviewer

[2020-07-18 18:03] whedon opened #83 "[PRE REVIEW]: Hacking Health Covid-19: An Online Course-Project"
**Submitting author:** @warint (<a href="http://orcid.org/0000-0002-5921-3428">Thierry Warin</a>)
**Repository:** https://github.com/warint/covid19_article
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:**

## Status
Pending

**Author instructions**

Thanks for submitting your paper to JOSE @warint. **Currently, the

[2020-07-18 18:03] whedon commented on #83
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 18:03] whedon commented on #83
[code]

[2020-07-18 18:03] whedon commented on #83
Failed to discover a valid open source license.

[2020-07-18 18:03] whedon commented on #83
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00083/jose.00083/10.21105.jose.00083.pdf)

[2020-07-18 18:19] labarba commented on #83
👋 @warint — First of all, I apologize for the long delay in processing your submission. This is entirely due to me dropping JOSE altogether since the pandemic struck. It has just been too difficult to concentrate and keep productive, which means volunteer efforts fall to the bottom of the priority list.

I'm ready to look for an editor to handle review of your submission. The repository you provid

[2020-07-18 18:19] whedon opened #84 "[PRE REVIEW]: 1build: Frictionless way of managing project-specific commands"
**Submitting author:** @gopinath-langote (<a href="http://orcid.org/0000-0002-2583-6459">Gopinath Langote</a>)
**Repository:** <a href="https://github.com/gopinath-langote/1build" target ="_blank">https://github.com/gopinath-langote/1build</a>
**Version:** v1.5.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @gopinath-langote. **Curren

[2020-07-18 18:19] whedon commented on #84
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 18:19] whedon commented on #84
[code]

[2020-07-18 18:20] whedon commented on #84
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00084/jose.00084/10.21105.jose.00084.pdf)

[2020-07-18 18:20] whedon commented on #84
[code]

[2020-07-18 18:23] labarba commented on #84
👋 @gopinath-langote — First of all, I apologize for the long delay in processing your submission. This is entirely due to me dropping JOSE altogether since the pandemic struck. It has just been too difficult to concentrate and keep productive, which means volunteer efforts fall to the bottom of the priority list.

Now, I'm afraid that your submission is not in-scope for The Journal of Open Source

[2020-07-18 18:23] #84 closed

[2020-07-18 18:24] whedon opened #85 "[PRE REVIEW]: An Applied Geographic Information Systems and Science Course in R"
**Submitting author:** @andrewmaclachlan (<a href="http://orcid.org/0000-0003-0356-1623">Andrew MacLachlan</a>)
**Repository:** <a href="https://github.com/andrewmaclachlan/CASA0005repo" target ="_blank">https://github.com/andrewmaclachlan/CASA0005repo</a>
**Version:** 2.0
**Editor:** @ttimbers
**Reviewers:** tbeuzen

**Author instructions**

Thanks for submitting your paper to JOSE @andrewmaclach

[2020-07-18 18:24] whedon commented on #85
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 18:28] labarba commented on #85
@whedon generate pdf

[2020-07-18 18:29] whedon commented on #85
PDF failed to compile for issue #85 with the following error:

 Can't find any papers to compile :-(

[2020-07-18 18:29] labarba commented on #85
@whedon generate pdf

[2020-07-18 18:30] whedon commented on #85
PDF failed to compile for issue #85 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/85 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/pr

[2020-07-18 18:31] whedon commented on #85
PDF failed to compile for issue #85 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/85 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/pr

[2020-07-18 18:31] labarba commented on #85
@openjournals/dev Can you help us find out what is causing these errors? The [paper.md](https://github.com/andrewmaclachlan/CASA0005repo/blob/master/paper.md) file _is there_.

[2020-07-18 18:32] whedon opened #86 "[PRE REVIEW]: Course Materials for Data Science in Practice"
**Submitting author:** @TomDonoghue (<a href="http://orcid.org/0000-0001-5911-0472">Thomas Donoghue</a>)
**Repository:** <a href="https://github.com/DataScienceInPractice/Site" target ="_blank">https://github.com/DataScienceInPractice/Site</a>
**Version:** 1.0
**Editor:** @magsol
**Reviewers:** @KiCh84, @krother

**Author instructions**

Thanks for submitting your paper to JOSE @TomDonoghue. **Cur

[2020-07-18 18:32] whedon commented on #86
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 18:32] whedon commented on #86
[code]

[2020-07-18 18:33] whedon commented on #86
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00086/jose.00086/10.21105.jose.00086.pdf)

[2020-07-18 18:46] labarba commented on #86
👋  @TomDonoghue  — I'm ready to look for an editor to handle review of your submission. The repository you provided here seems to hold just the paper and some additional info, however. We expect the repository of the complete learning materials, with the JOSE paper either in a folder in there, or if you prefer visible in a branch. Could you reorganize your submission in this manner and report the

[2020-07-18 18:48] whedon opened #87 "[PRE REVIEW]: Interactive Bin Packing: A Java Application for Learning Constructive Heuristics for Combinatorial Optimization"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** <a href="https://github.com/cicirello/InteractiveBinPacking" target ="_blank">https://github.com/cicirello/InteractiveBinPacking</a>
**Version:** v3.0
**Editor:** @labarba
**Reviewers:** @adeepak7, @turketwh

**Author instructions**

Thanks for submitting your paper to JOSE @c

[2020-07-18 18:49] whedon commented on #87
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 18:49] whedon commented on #87
[code]

[2020-07-18 18:49] whedon commented on #87
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00087/jose.00087/10.21105.jose.00087.pdf)

[2020-07-19 03:03] adeepak7 commented on #84
@labarba , I respect your point of view. But the fact is, 1Build lies inside the scope of the journal.

According to the definition of the "educational software tools" as defined on JOSE official website:

What do you mean by "educational software tools"?
Open-source software that serves as educational technology; examples include (but are not limited to) alternatives to learning management system

[2020-07-19 03:22] adeepak7 opened #88 "1Build being rejected despite of being a "project management system""
Respected Admin,

Our paper was rejected despite of being abiding by the scope of JOSE.

**Review link:** https://github.com/openjournals/jose-reviews/issues/84#issuecomment-660521744

According to the definition of the "educational software tools" as defined on JOSE official website:

What do you mean by "educational software tools"?
Open-source software that serves as educational technology; exa

[2020-07-19 03:22] whedon commented on #88
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-19 03:23] whedon commented on #88
PDF failed to compile for issue #88 with the following error:

 Can't find any papers to compile :-(

[2020-07-19 07:58] labarba commented on #84
JOSE does not publish this sort of tool. The scope of JOSE is _education_.

[2020-07-19 07:59] #88 closed

[2020-07-19 09:56] adeepak7 commented on #84
@labarba Kindly let me know what according to you is against education in this project. Users of 1Build learn to manage their project by use of automation.

By gradually using and learning to use 1Build, users are educated importance of automation and how to save time.

Appreciate your thoughts on this.

[2020-07-19 11:11] labarba commented on #84
Perhaps I wasn't clear: The Journal of Open Source Education publishes material or software _specifically targeting its use within the context of teaching_.

[2020-07-20 06:46] Nikoleta-v3 commented on #78
Hello @racheltho 👋 I was wondering when the second reviewer will be assigned to our submission.

[2020-07-20 15:17] atrisovic commented on #81
Hi @labarba! It is exciting to see more activity in this repository! 🙌  We are eager to see if our submission is a good fit for the journal and if it is, interact with editors to make it better. 😄

[2020-07-21 17:55] emckiernan commented on #79
Hi @abramconnelly! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-07-22 04:45] TomDonoghue commented on #86
Hey @labarba - thank you handling the submission!

In terms of an editor, I wasn't sure about recommending a specific editor at submission (in terms of who is available in these times), but in terms of content, when I checked the listing, potentially @\juanklopper is one of the most related, by topic.

In term of the repository, the project collects and makes public some materials for a university

[2020-07-24 20:06] magsol commented on #82
Checking in--sorry for the delay, still trying to find a second reviewer.

[2020-07-24 20:49] mbarzegary commented on #82
Thanks @magsol.

[2020-07-27 14:37] arfon commented on #85
@whedon generate pdf

[2020-07-27 14:42] whedon commented on #85
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/jose-papers/blob/jose.00085/jose.00085/10.21105.jose.00085.pdf)

[2020-07-27 14:43] arfon commented on #85
I think Whedon is timing out here because of the very large size of this repository and therefore reporting it can't find the paper (apologies for the unhelpful error message).

@andrewmaclachlan - your repository is ~1.4Gb (> 3Gb on disk) which means Whedon is going to struggle with this repository (as will your users). Is there some way you could reduce the size of the repository?

[2020-07-28 09:01] andrewmaclachlan commented on #85
Hi there, looks like Weedon did run (i assume it just creates the pdf proof) and that seems fine to me. I tried to stored some satellite imagery using GitHub LFS, however, it didn't work but means i have to delete the repo to remove them fully. I can do this if needed.

[2020-07-28 16:32] emckiernan commented on #79
Hi @esanal! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-07-29 20:49] amoodie commented on #69
Hi @labarba,

I wanted to provide a gentle nudge and see if I could do anything to help facilitate this review. It seems like we may have found two people willing to review, but the window may be closing there, as the summer winds to a close.

Some exciting news is that additional work on SedEdu (including software development and new modules) was recently funded as past of an NSF Postdoc Fellowsh

[2020-08-04 17:02] emckiernan commented on #79
HI @K8hertweck! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-08-11 16:06] emckiernan commented on #79
HI @pvanheus! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-08-12 18:00] magsol commented on #82
@whedon add @jcapriot as reviewer

[2020-08-12 18:00] whedon commented on #82
OK, @jcapriot is now a reviewer

[2020-08-12 18:01] magsol commented on #82
@whedon start review

[2020-08-12 18:01] whedon opened #89 "[REVIEW]: An open source crash course on parameter estimation of computational models using a Bayesian optimization approach"
**Submitting author:** @mbarzegary (<a href="http://orcid.org/0000-0002-1456-0610">Mojtaba Barzegari</a>)
**Repository:** <a href="https://github.com/mbarzegary/educational-bayesian" target ="_blank">https://github.com/mbarzegary/educational-bayesian</a>
**Version:** v2.0
**Editor:** @magsol
**Reviewers:** @jcapriot, @arokem
**Archive:** <a href="https://doi.org/10.5281/zenodo.5013865" target="_bl

[2020-08-12 18:01] whedon commented on #82
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/89.

[2020-08-12 18:01] #82 closed

[2020-08-12 18:01] whedon commented on #89
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @e-dub, @jcapriot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-08-12 18:02] whedon commented on #89
[code]

[2020-08-12 18:02] whedon commented on #89
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00089/jose.00089/10.21105.jose.00089.pdf)

[2020-08-12 18:02] magsol commented on #82
Sorry it took me awhile to find the reviewers, but we're ready to go--thanks to @e-dub and @jcapriot!

[2020-08-14 20:11] pvanheus commented on #79
Hi @emckiernan - yes I can review this. The thread here is quite long though - can you please provide clarity on which template to complete and procedure to use?

[2020-08-14 22:37] TomDonoghue commented on #86
Hey @labarba - I just wanted to check in - is there anything more we can do to prepare the repository submission, and/or to help assign a handling editor?

I'm not sure if we are supposed to directly link in editors, but I think potentially @\juanklopper is related to the topic, and/or @\magsol does related work (using Python for data analysis, etc).

[2020-08-16 00:40] emckiernan commented on #79
Great, thanks so much, @pvanheus! I will add you as a reviewer and then manually add a checklist for you above. If you still have questions, just let me know and I'll be happy to help. Thanks again!

[2020-08-16 00:41] emckiernan commented on #79
@whedon add @pvanheus as reviewer

[2020-08-16 00:41] whedon commented on #79
OK, @pvanheus is now a reviewer

[2020-08-25 00:12] magsol commented on #89
Hey @e-dub and @jcapriot , wanted to check in and see how things were going. Any kind of ETA or obstacles I can help with?

[2020-08-27 20:02] labarba commented on #81
👋  @atrisovic — I am the single-point-of-failure here, as I'm heavily overcommitted. I am trying to start chipping away at neglected tasks, like JOSE editing.

I read your paper and I'm going to send it back to you for some more work, because it does not quite meet our expectations. In particular, see the section of our Documentation about the [What should my paper contain?](https://openjournals.r

[2020-08-31 15:33] emckiernan commented on #79
Hi @pvanheus, just checking in! Was the checklist clear? Is there anything I can help with?

[2020-09-02 15:24] andrewmaclachlan commented on #85
@weedon commands

[2020-09-02 15:25] andrewmaclachlan commented on #85
@whedon commands

[2020-09-02 15:25] whedon commented on #85
Here are some things you can ask me to do:

[code]

[2020-09-02 18:33] andrewmaclachlan commented on #85
@whedon generate pdf

[2020-09-02 18:34] whedon commented on #85
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00085/jose.00085/10.21105.jose.00085.pdf)

[2020-09-03 18:26] andrewmaclachlan commented on #85
Hi @labarba. I've managed to significantly reduce the size of the repo and correct some of the missing references in the article proof. I'd be happy for any of the following to review if they are able to:

Karthik Ram - based on their reproducibility work in R
Matthew Forshaw - based on similar disciplines and uses R
Joseph Stachelek - based on geographical area of work and uses R

Please let me k

[2020-09-04 21:06] magsol commented on #89
Hey @e-dub and @jcapriot, please advise if you're running into any blockers that I can help knock down. Would love to get the reviews for this in soon.

[2020-09-04 21:29] jcapriot commented on #89
@magsol Sorry for the lack of response, I will get this today and work through it. It looks like the original accept link has expired for me though.

[2020-09-06 18:26] kyleniemeyer commented on #86
Hi @TomDonoghue, sorry for the extended delay here!

@juanklopper, are you able to take on this paper as editor?

[2020-09-09 22:06] jrising commented on #81
@whedon generate pdf

[2020-09-09 22:07] whedon commented on #81
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00081/jose.00081/10.21105.jose.00081.pdf)

[2020-09-09 22:14] jrising commented on #81
@labarba Thank you again. We have now extensively revised (if I can use that phrase with such a short paper) our `paper.md`. There is now a statement of need, and adding more text on the structure of the tutorial, its objectives, and our experience using it. If you are available, we would very much appreciate it if you took a look again.

In the meantime, the tutorial has also been improved. Thank

[2020-09-13 14:10] Nikoleta-v3 commented on #78
hello @racheltho hope you are well and keeping safe. It would be great to see some progress on this. Please let us know if there is anything from our end that we can help with.

[2020-09-14 03:40] RobinHankin commented on #71
Ian, sorry to bother you but can I check on the progress of my submission please?

[2020-09-14 13:39] atrisovic commented on #71
Hi Robin - I guess this is the beauty of open review - I was checking out this repository and I think it would be great if you had some examples of diagrams (visual representations) in your paper! :-))

[2020-09-14 20:26] RobinHankin commented on #71
hello atrisovic, are you asking for illustrations of Minkowski diagrams, as used in special relativity?

[2020-09-15 00:59] magsol commented on #89
Hi @e-dub and @jcapriot , how are things going? Anything I can help with?

[2020-09-15 00:59] atrisovic commented on #71
Hi Robin,

Here are my initial thoughts:

- I don't mean specifically Minkowski diagram, but this is a paper on visual representation, so it would be helpful to see figures and diagrams that the package can produce in a few examples
- The paper doesn't say what R version the package is compatible with. This is important because R is not normally backward compatible. For example, can I run it with

[2020-09-15 03:00] RobinHankin commented on #71
* have you seen the vignette? this has 19 figures in it.   Just type `vignette("schwarzschild")` at the commandline
* The version of R is not crucial, it will work with any verson of R >=3.0
* The documentation is in standard Rd format, accessible through the usual R help mechanism

HTH

Robin

[2020-09-17 17:47] TomDonoghue commented on #86
Hey @kyleniemeyer - thanks for picking this up! It seems maybe @juanklopper isn't available? When I checked through, I think another related editor would be @\magsol (I'm not tagging directly in in case that is something that you should do).

[2020-09-21 19:28] emckiernan commented on #79
Hi @pvanheus, just checking in again. I also sent an email to your sanbi.ac.za address, but not sure if it reached you? If you have any questions, or if for some reason your situation has changed and you are not able to review this submission, please just let me know. Thanks!

[2020-09-22 00:04] kyleniemeyer commented on #71
Hi @IanHawke, @atrisovic has volunteered to serve as a reviewer for this submission (in an email discussion), and I think we should absolutely take her up on this, particularly considering she's already participating!

[2020-09-22 00:04] kyleniemeyer commented on #71
@afolkest would you be willing to help out with a review for this as well?

[2020-09-22 00:06] kyleniemeyer commented on #81
Hi @labarba @jrising @atrisovic I can take over editing this submission. It does look like the authors have revised the paper to include the material that was missing originally, and I think we can now identify reviewers and move forward.

[2020-09-22 00:06] kyleniemeyer commented on #81
@whedon assign me as editor

[2020-09-22 00:07] whedon commented on #81
OK, the editor is @kyleniemeyer

[2020-09-22 00:11] kyleniemeyer commented on #81
Hello @jwagemann  @angela-li and @howardjp , this authors of this submission to JOSE (Journal of Open Source Education, https://jose.theoj.org) suggested you as potential reviewers for their submission "ClimateEstimate.net: A tutorial on climate econometrics".

Are you interested and available to review this for us? Thanks!

[2020-09-22 00:13] howardjp commented on #81
I can do that.

On Mon, Sep 21, 2020, 20:11 Kyle Niemeyer <notifications@github.com> wrote:

[2020-09-22 02:54] afolkest commented on #71
Sure, I can do that!

[2020-09-22 04:54] jwagemann commented on #81
Hi, by when would you need the review?

[2020-09-22 06:52] kyleniemeyer commented on #81
Thanks @howardjp!

Hi @jwagemann, ideally we would like reviews within the next three weeks or so, but I recognize that many people have lots of other pressing obligations particularly now. So, if you are willing to review this but need more time, that is totally fine.

[2020-09-22 06:53] kyleniemeyer commented on #81
@whedon add @howardjp as reviewer

[2020-09-22 06:53] whedon commented on #81
OK, @howardjp is now a reviewer

[2020-09-22 07:10] jwagemann commented on #81
@kyleniemeyer Happy to review it by end of October (if this is not too late).

[2020-09-22 15:16] atrisovic commented on #71
Awesome! Thank you, Kyle! I think this is an interesting topic, and it would certainly warrant more text in the paper (this [previously published paper](https://jose.theoj.org/papers/10.21105/jose.00065) could be a good example).

No time to waste, so here are a few more thoughts:
- Mathematica is typically used for creating these diagrams. Are there any advantages to using this R package instead,

[2020-09-22 16:21] kyleniemeyer commented on #81
@jwagemann sure, that would be fine. Thanks!

[2020-09-22 16:21] kyleniemeyer commented on #81
@whedon add @jwagemann as reviewer

[2020-09-22 16:21] whedon commented on #81
OK, @jwagemann is now a reviewer

[2020-09-22 16:23] kyleniemeyer commented on #81
OK, with two reviewers assigned we can move into the actual review issue!

[2020-09-22 16:24] kyleniemeyer commented on #81
@whedon start review

[2020-09-22 16:24] whedon opened #90 "[REVIEW]: ClimateEstimate.net: A tutorial on climate econometrics"
**Submitting author:** @jrising (<a href="http://orcid.org/0000-0001-8514-4748">James Rising</a>)
**Repository:** https://github.com/atrisovic/weather-panel.github.io
**Branch with paper.md** (empty if default branch):
**Version:** v2.0
**Editor:** @kyleniemeyer
**Reviewers:** @jwagemann, @kls2177
**Archive:** 10.5281/zenodo.10833818

## Status

[![status](https://jose.theoj.org/papers/b8083032c18

[2020-09-22 16:24] whedon commented on #81
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/90.

[2020-09-22 16:24] #81 closed

[2020-09-22 16:24] whedon commented on #90
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @howardjp, @jwagemann it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-09-22 16:25] whedon commented on #90
[code]

[2020-09-22 16:25] whedon commented on #90
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: :point_left:

[2020-09-22 16:28] kyleniemeyer commented on #90
👋  @jrising @howardjp @jwagemann the actual review for this submission will take place in this issue. Please note the review instructions and checklists at the top of the issue ☝️

[2020-09-23 16:47] emckiernan commented on #79
Hi @fbidu! You signed up to review for JOSE. Would you like to contribute a review for this submission? The title is "The Gene School: Metagenomics". Please let me know if you're available and willing. Thanks!

[2020-09-23 17:48] pschloss commented on #79
I wonder whether @Adina Howe might be interested in reviewing or would have suggestions on others that could provide a review. She works in this area.

[2020-09-23 18:58] fbidu commented on #79
Yes, I am! I think that I have a friend that may be interested as well, can I invite him somehow?

Thanks

[2020-09-23 19:12] emckiernan commented on #79
Great, thanks so much @fbidu! I'll add you as a reviewer and then insert a checklist for you above. Could you please send the contact information for your friend to my email emck31 at gmail? I can look it over and invite him if we need an extra reviewer. Thanks again!

[2020-09-23 19:14] emckiernan commented on #79
@whedon add @fbidu as reviewer

[2020-09-23 19:14] whedon commented on #79
OK, @fbidu is now a reviewer

[2020-09-23 19:25] emckiernan commented on #79
Hi @fbidu, I've added a checklist for you at the top of this issue. Please let me know if you have any questions. Thanks!

[2020-09-24 05:47] TomDonoghue commented on #86
Hey @kyleniemeyer - just wanted to follow up here. Is there anything we can do to help get this submission moving along?

[2020-09-24 06:05] kyleniemeyer commented on #86
@TomDonoghue I will check on things outside of GitHub

[2020-09-25 16:57] IanHawke commented on #71
Thanks all for picking this up where I'd dropped the ball on it. I will check the next steps asap.

[2020-09-25 17:00] IanHawke commented on #71
@whedon assign @atrisovic as reviewer

[2020-09-25 17:00] whedon commented on #71
OK, @atrisovic is now a reviewer

[2020-09-25 17:00] IanHawke commented on #71
@whedon add @afolkest as reviewer

[2020-09-25 17:00] whedon commented on #71
OK, @afolkest is now a reviewer

[2020-09-25 17:02] IanHawke commented on #71
@whedon start review

[2020-09-25 17:02] whedon opened #91 "[REVIEW]: General relativity in R: visual representation of Schwarzschild space using different coordinate systems"
**Submitting author:** @RobinHankin (<a href="http://orcid.org/0000-0001-5982-0415">Robin Hankin</a>)
**Repository:** <a href="https://github.com/RobinHankin/schwarzschild" target ="_blank">https://github.com/RobinHankin/schwarzschild</a>
**Version:** 1.0-5
**Editor:** @IanHawke
**Reviewer:** @atrisovic, @afolkest
**Archive:** <a href="https://doi.org/10.5281/zenodo.4784248" target="_blank">10.528

[2020-09-25 17:02] whedon commented on #71
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/91.

[2020-09-25 17:02] #71 closed

[2020-09-25 17:02] whedon commented on #91
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @atrisovic, @afolkest it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-09-25 17:03] whedon commented on #91
[code]

[2020-09-25 17:03] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2020-09-25 17:03] IanHawke commented on #71
Once again, many thanks to @atrisovic and @afolkest for agreeing to review. The actual review issue will be at #91 .

[2020-09-25 17:08] IanHawke commented on #91
To keep all comments in one issue, the initial points that have been made are:

@atrisovic says:

[x] I don't mean specifically Minkowski diagram, but this is a paper on visual representation, so it would be helpful to see figures and diagrams that the package can produce in a few examples (*answered*: Just type `vignette("schwarzschild")` at the commandline)
[x] The paper doesn't say what R versi

[2020-09-28 11:28] pvanheus commented on #79
Hi @emckiernan - apologies, I have been ill. I think there is a problem with the template you created though - the URL link points to https://github.com/Nikoleta-v3/Game-Theory-and-Python - which is not the repo being discussed here - at the top of the page https://github.com/thegeneschool/metagenomics is mentioned. What is going on?

[2020-09-28 18:38] emckiernan commented on #79
Hi @pvanheus, no worries at all, I'm sorry to hear you were ill. I hope you're feeling better! And thank you for flagging the URL error. I'm not sure why the checklist originally generated by the bot linked to that repo. After that it was copy-paste errors when checklists were manually added. But you're right, the correct repository for review is https://github.com/thegeneschool/metagenomics. I ca

[2020-09-28 18:46] emckiernan commented on #79
I see now! I think this was a copy-paste error early on when we changed the format of the checklist. All the links should point to the correct repository now. Thanks, @pvanheus!

Tagging @fbidu in here, please check the repo link in your checklist to be sure all comments/issues are made on the correct repository. Thanks!

[2020-09-29 06:46] moorepants commented on #80
@rudeboybert Are you still interested in submitting this? It looks like no editor took it up. If so, I can be the editor.

[2020-09-29 09:44] rudeboybert commented on #80
@moorepants Hi Jason, I am still interested in submitting. Thanks for offering to be editor

[2020-09-29 09:47] moorepants commented on #80
@whedon assign editor moorepants

[2020-09-29 09:47] whedon commented on #80
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-29 09:48] moorepants commented on #80
@whedon commands

[2020-09-29 09:48] whedon commented on #80
Here are some things you can ask me to do:

[code]

[2020-09-29 09:48] moorepants commented on #80
@whedon assign @moorepants as editor

[2020-09-29 09:48] whedon commented on #80
OK, the editor is @moorepants

[2020-09-29 09:53] moorepants commented on #80
@rudeboybert After a quick look at the paper, it seems this is primarily a software library. My initial thought is that this is more appropriate for JOSS than JOSE. We accept two types of submissions as described here: https://jose.theoj.org/about

This doesn't seem to be "open-source education materials" and then this is the description of the type of software we accept:

Can you provide some exp

[2020-09-29 14:23] warint commented on #83
@racheltho - Just for your information, I have just created a readme file in order to clarify the intent of the course. Thanks!

[2020-09-30 18:51] magsol commented on #89
Hi @jcapriot:

Any word on when you could finish the review? I'd really like to get this moving.

[2020-10-01 21:01] atrisovic commented on #91
Hi @RobinHankin,

I still stand behind my previous comments, but here is also a more official review based on the checklist above.
On the package:

- There is no tagged version of the package on GitHub.
- There are no instructions for contributing to the package. Consider adding a `contributing.md` file.
- There doesn't seem to be any tests in the package.
- I was initially unable to see the vigne

[2020-10-05 15:32] amoodie commented on #69
Hi @labarba, is it possible to request an update on the status of this review? With more than 13 months in pre-review, would it be possible to have the submission passed to another editor focused on JOSE reviews at the moment?

Thanks for your time and support in getting our project published in JOSE!

[2020-10-06 11:38] rudeboybert commented on #80
Hi @moorepants, thanks for your reply. The paper does center around a software library and I agree that by itself it would be a stretch to call this library "open-source education materials". I also agree that this library doesn't satisfy your definition of "educational software tools."

However this library is meant to be used as a complement to an online textbook ["Statistical Inference via Data

[2020-10-06 11:47] moorepants commented on #80
@rudeboybert Thanks for your explanation. As I understand it, this wouldn't fall under "open source education materials" unless you have content that is making use of this library. It sounds like you may already have published the content in the text book. I'd like some of the other @openjournals/jose-editors weigh in on this, as I've been confused about this in the past.

[2020-10-06 11:48] moorepants commented on #80
I just browsed the online textbook. That is exactly the type of material we want to publish in JOSE. So why don't you submit that?

[2020-10-06 11:49] moorepants commented on #80
I may see the answer to my question. You've published this with CRC press already.

[2020-10-09 00:45] RobinHankin commented on #91
Hello @IanHawke   @atrisovic  @whedon

thank you all for your comments, I have taken your suggestions on board and addressed them under https://github.com/RobinHankin/schwarzschild/issues/14 which is an umbrella issue that points to each of your observations as a separate repository issue.   The only comment I found confusing was "some of the sentences might be too informal or exaggerated for an a

[2020-10-09 14:38] atrisovic commented on #91
@whedon generate pdf

[2020-10-09 14:44] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2020-10-09 16:08] atrisovic commented on #91
Ok, nice! I will review these changes to check off the remaining points in the checklist above.

Sorry the comment was confusing - it was related to the sentence where you use personal pronouns which are not common in formal writing (ie, "as resources for **my own** astrophysics lectures at AUT, and secondly to support **my** Trin Tragula YouTube channel"). Also "heavily documented" seemed as an o

[2020-10-12 03:17] RobinHankin commented on #91
Hello @atrisovic  thanks for this clarification, I have now changed the wording as suggested in  commit

https://github.com/RobinHankin/schwarzschild/commit/51386ba9901648af16d2c6e207e1444d6222938e

Best wishes,  Robin

[2020-10-12 13:27] atrisovic commented on #91
@whedon generate pdf

[2020-10-12 13:28] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2020-10-14 01:04] afolkest commented on #91
Hi @RobinHankin

I tested the functionality and it looks good to me. It would perhaps be good to add one sentence in the introduction of the paper stating what the paper describes -- namely a visualization package for all the coordinate systems you do mention there. A brief comment on what method you use to solve the geodesic equation would be informative as well.

Also, I was wondering where I co

[2020-10-18 22:12] RobinHankin commented on #91
OK @afolkest, @atrisovic, @IanHawke @whedon, I have addressed all your comments at https://github.com/RobinHankin/schwarzschild/issues/14 and created
  tag 1.0-3  at https://github.com/RobinHankin/schwarzschild/releases/tag/1.0-3.  I hope this is satisfactory!  If not, let me know.  Best wishes, Robin

[2020-10-19 18:23] atrisovic commented on #91
@whedon generate pdf

[2020-10-19 18:24] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2020-10-20 06:03] voytek commented on #86
What's the status of this?

[2020-10-20 13:37] atrisovic commented on #90
@whedon generate pdf

[2020-10-20 13:38] whedon commented on #90
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00090/jose.00090/10.21105.jose.00090.pdf) :page_facing_up: :point_left:

[2020-10-20 13:39] atrisovic commented on #90
We have a new title 😄

[2020-10-20 13:40] howardjp commented on #90
That's a good title.

[2020-10-21 02:03] atrisovic commented on #91
Hi again @RobinHankin,

I've now reviewed the package again and read the new version of the paper. The editor will probably better comment on these, but here are a few stylistic suggestions for the paper:

- The second sentence in the Statement of Need is a bit unclear. In particular, the part "not an object in its own right" is unclear.
- "GPL" -> General Public License
- Adding commas in a few p

[2020-10-21 20:26] RobinHankin commented on #91
Hello  @atrisovic, thank you for your suggestions.  I have addressed all of them
under https://github.com/RobinHankin/schwarzschild/issues/14 and I think the paper reads much better as a result.  Tag 1.0-4  at https://github.com/RobinHankin/schwarzschild/releases/tag/1.0-4 refers.   What is the next step?  Best wishes, Robin

[2020-10-22 00:27] atrisovic commented on #91
@whedon generate pdf

[2020-10-22 00:27] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00091/jose.00091/10.21105.jose.00091.pdf) :page_facing_up: :point_left:

[2020-10-22 00:35] atrisovic commented on #91
Ok, fantastic, you incorporated everything. Well, I'd still call the section "Examples" instead of "Downloads". And the last sentence in both of the figure captions could be now removed. (sorry for nitpicking!) :smile:

But yeah, we now wait for further instructions from @IanHawke.

[2020-10-22 01:06] RobinHankin commented on #91
OK @atrisovic, thanks for these, no worries.  Happy to adjust the paper as suggested, see https://github.com/RobinHankin/schwarzschild/issues/14 and tagged at https://github.com/RobinHankin/schwarzschild/releases/tag/1.0-5

@IanHawke  I have changed the paper (and the vignette) in response to the comments by the referees and I await your instructions.  Best wishes,  Robin

[2020-10-26 16:00] emckiernan commented on #79
Hi @pvanheus and @fbidu, hope you're both doing well! Just wanted to check in about your reviews. Anything I can help with?

[2020-10-27 21:43] kyleniemeyer commented on #86
Hello @magsol, can you edit this submission for us? Thanks!

[2020-10-28 14:25] jwagemann commented on #90
Hi @kyleniemeyer It seems that I cannot trigger the checklist. Have I accepted the invitation to review? If I follow the link now, I get an error message.

[2020-10-28 14:42] atrisovic commented on #90
Hi @jwagemann, how are you doing? 👋  I had the same problem when I was reviewing another submission, but I somehow solved it by making a change in the URL. I don't exactly remember what I changed 😄 but [maybe this thread ](https://stackoverflow.com/questions/34020327/cant-find-github-invitation-to-join-repo)could help.

[2020-10-28 14:52] jwagemann commented on #90
Yeah - as far as I understand it this brings me to the error message. Maybe @kyleniemeyer can re-assign me? Thanks.

[2020-10-28 14:56] kyleniemeyer commented on #90
@whedon re-invite @jwagemann as reviewer

[2020-10-28 14:56] whedon commented on #90
The reviewer already has a pending invite.

@jwagemann please accept the invite by clicking this link: https://github.com/openjournals/jose-reviews/invitations

[2020-10-28 14:56] kyleniemeyer commented on #90
@jwagemann please try that link ☝️

[2020-10-28 14:58] jwagemann commented on #90
@kyleniemeyer  - I get _'Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.'_

Before it was saying that the invite expired.

[2020-10-28 15:06] atrisovic commented on #90
I think for me it worked when I viewed invitations from my profile, ie, something along the lines: `https://github.com/<username>/<reponame>/invitations`  🤔

[2020-10-28 15:12] jwagemann commented on #90
It would be something like this in my case

`https://github.com/jwagemann/openjournals/jose-reviews/invitations`? This brings me to a 404.

[2020-10-28 15:48] kyleniemeyer commented on #90
@openjournals/dev can you help here? not sure what is going on

[2020-10-28 19:40] arfon commented on #90
@whedon re-invite @jwagemann as reviewer

[2020-10-28 19:40] whedon commented on #90
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-10-28 19:42] arfon commented on #90
Can you try this URL again please @jwagemann: https://github.com/openjournals/jose-reviews/invitations

[2020-10-28 19:49] jwagemann commented on #90
Great. Thanks @arfon . It works now.

[2020-11-02 16:02] jwagemann commented on #90
I thank the authors for their time to develop the tutorial **‘ClimateEstimate.net - A tutorial on climate econometrics’** and giving me the opportunity to review it. The tutorial claims to be a ‘step-by-step guidance on carrying out a climatic econometric analysis’. My recommendation is to `accept with major revisions` for the following reasons:

- at the current state, it fails to meet the aim to

[2020-11-03 14:39] atrisovic commented on #90
Hi @jwagemann, thank you very much for your time, thorough review, and great comments! We will start working on this right away and follow up once we go through all the comments :)

[2020-11-03 18:37] emckiernan commented on #79
Hi @pvanheus and @fbidu, just checking in again! Any questions or areas I can help?

[2020-11-12 00:54] RobinHankin commented on #91
hello JOSE, can I ask what the status of this submission is please?

[2020-11-13 15:32] kyleniemeyer commented on #91
@IanHawke it looks like this submission may be ready for some action/review by you?

[2020-11-17 09:59] mbarzegary commented on #89
@magsol may I start to answer the comments? or I should wait for the second review to come. it's almost one year since I started this process.

[2020-11-18 19:56] magsol commented on #89
@mbarzegary Yes, please respond to the comments! I had been planning to follow up on this thread and see if you even wanted the review to go forward since I hadn't heard anything from you responding to existing feedback. If you want to continue, then yes--please respond to the feedback already given, and I will track down another reviewer if @e-dub does not respond ASAP.

[2020-11-18 22:20] e-dub commented on #89
Respond??? See [here](https://github.com/mbarzegary/educational-bayesian/issues)

[2020-11-18 23:36] magsol commented on #89
@e-dub I'm so sorry! I'd blame it on "dad brain" (I'm on paternity leave at the moment so everything is super fuzzy) but I should have just scrolled up a bit further; my apologies.

@mbarzegary Please check out the "issues" tab for your submission, under which @e-dub has submitted numerous pieces of feedback you can begin to address.

@jcapriot Here is the link https://github.com/mbarzegary/educat

[2020-11-21 02:45] TomDonoghue commented on #86
Pinging on this - it seems perhaps @magsol  is not available to handle the submission?

If not, @kyleniemeyer and/or @labarba - could you let you know if JOSE is operational and if you expect this submission to be processed / reviewed, and if so, when?

I understand things are slower during a pandemic - but we submitted this paper around July 1st - almost 5 months ago. There was not then (nor is t

[2020-11-21 15:50] labarba commented on #86
Hi @TomDonoghue — It is I who became the bottleneck for JOSE, as the pandemic made all my service obligations too much to do them all. I was JupyterCon General Chair, and the pivot to an online event was a huge lift (it was held in October). I'm just beginning to dig from under the rubble of all that I'm behind on, and will start processing the several stalled JOSE submissions. Thank you for your

[2020-11-21 17:06] magsol commented on #86
Hi @TomDonoghue and @kyleniemeyer, so sorry I missed the earlier pings--I've been on paternity leave the last several weeks so quite a lot has fallen through the cracks. I'm still trying to push through a separate stalled JOSE submission, but if you can't find another editor, I can see about this one.

[2020-11-23 19:52] whedon opened #92 "[PRE REVIEW]: ParFlow Sand Tank: A tool for groundwater exploration"
**Submitting author:** @lecondon (<a href="http://orcid.org/0000-0003-3639-8076">Laura Condon</a>)
**Repository:** <a href="https://github.com/hydroframe/SandTank" target ="_blank">https://github.com/hydroframe/SandTank</a>
**Version:** v1.0.6
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @lecondon. **Currently, there isn't an JOSE edi

[2020-11-23 19:52] whedon commented on #92
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 19:53] whedon commented on #92
[code]

[2020-11-23 19:53] whedon commented on #92
Failed to discover a `Statement of need` section in paper

[2020-11-23 19:53] whedon commented on #92
[code]

[2020-11-23 19:54] whedon commented on #92
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00092/jose.00092/10.21105.jose.00092.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00092/jose.00092/10.21105.jose.00092.pdf) :page_facing_up: :point_left:

[2020-11-23 20:23] labarba commented on #92
hi @lecondon — thank you for your submission to JOSE. We've had the journal in a holding pattern since the pandemic hit, mainly because I became overwhelmed with pivoting online teaching, research, and JupyterCon (I was General Chair). Thank you for your patience. I am beginning to dig up from a long backlog, so you'll begin seeing some movement.

Could you help with some leads of people we might

[2020-11-23 20:31] whedon opened #93 "[PRE REVIEW]: A narrative approach to building computational capacity for climate change impact assessment in professional masters students"
**Submitting author:** @ConorIA (<a href="http://orcid.org/0000-0003-2619-1207">Conor I. Anderson</a>)
**Repository:** <a href="https://gitlab.com/claut/man_ccia" target ="_blank">https://gitlab.com/claut/man_ccia</a>
**Version:** 2020-07-26
**Editor:** @labarba
**Reviewers:** @ali-ramadhan, @jwagemann

**Author instructions**

Thanks for submitting your paper to JOSE @ConorIA. **Currently, there

[2020-11-23 20:31] whedon commented on #93
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 20:32] whedon commented on #93
[code]

[2020-11-23 20:32] whedon commented on #93
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00093/jose.00093/10.21105.jose.00093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00093/jose.00093/10.21105.jose.00093.pdf) :page_facing_up: :point_left:

[2020-11-23 20:33] whedon commented on #93
[code]

[2020-11-23 20:44] labarba commented on #93
Hi @ConorIA — thank you for your submission to JOSE. We've had the journal in a holding pattern since the pandemic hit, mainly because I became overwhelmed with pivoting online teaching, research, and JupyterCon (I was General Chair). Thank you for your patience. I am beginning to dig up from a long backlog, so you'll begin seeing some movement.

Could you help with some leads of people we might r

[2020-11-23 20:48] whedon opened #94 "[PRE REVIEW]: Hacking Health Covid-19: An Online Data Science Course-Project"
**Submitting author:** @warint (<a href="http://orcid.org/0000-0002-5921-3428">Thierry Warin</a>)
**Repository:** <a href="https://github.com/warint/covid19_article" target ="_blank">https://github.com/warint/covid19_article</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @jhelvy, @lwjohnst86

**Author instructions**

Thanks for submitting your paper to JOSE @warint. **Currently, there

[2020-11-23 20:48] whedon commented on #94
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 20:48] whedon commented on #94
[code]

[2020-11-23 20:48] whedon commented on #94
Failed to discover a valid open source license.

[2020-11-23 20:49] whedon commented on #94
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00094/jose.00094/10.21105.jose.00094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00094/jose.00094/10.21105.jose.00094.pdf) :page_facing_up: :point_left:

[2020-11-23 21:02] whedon opened #95 "[PRE REVIEW]: StarBLAST: a scalable BLAST+ solution for the classroom"
**Submitting author:** @cosimichele (<a href="http://orcid.org/0000-0001-7609-1939">Michele Cosi</a>)
**Repository:** <a href="https://github.com/LyonsLab/StarBLAST/" target ="_blank">https://github.com/LyonsLab/StarBLAST/</a>
**Version:** v1.0.0
**Editor:** @JasonJWilliamsNY
**Reviewers:** @oneilsh, @AstrobioMike

**Author instructions**

Thanks for submitting your paper to JOSE @cosimichele. **C

[2020-11-23 21:02] whedon commented on #95
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 21:03] labarba commented on #94
Hi @warint — thank you for your submission to JOSE. We've had the journal in a holding pattern since the pandemic hit, mainly because I became overwhelmed with pivoting online my teaching, research, and JupyterCon (I was General Chair). Thank you for your patience. I am beginning to dig up from a long backlog, so you'll begin seeing some movement.

Could you help with some leads of people we might

[2020-11-23 21:03] whedon commented on #95
Failed to discover a `Statement of need` section in paper

[2020-11-23 21:03] whedon commented on #95
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00095/jose.00095/10.21105.jose.00095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00095/jose.00095/10.21105.jose.00095.pdf) :page_facing_up: :point_left:

[2020-11-23 21:09] whedon commented on #95
[code]

[2020-11-23 21:13] labarba commented on #93
@whedon assign @ali-ramadhan as reviewer

[2020-11-23 21:13] whedon commented on #93
You need to assign an editor first.

[2020-11-23 21:13] labarba commented on #93
@whedon assign @labarba as editor

[2020-11-23 21:13] whedon commented on #93
OK, the editor is @labarba

[2020-11-23 21:13] labarba commented on #93
@whedon assign @ali-ramadhan as reviewer

[2020-11-23 21:13] whedon commented on #93
OK, @ali-ramadhan is now a reviewer

[2020-11-23 21:20] labarba commented on #93
hi @ali-ramadhan 👋  — thank you for agreeing to review this submission for JOSE. We'll be looking for a second reviewer, and then start the REVIEW issue, where all the action happens. Have a look at an [old example review](https://github.com/openjournals/jose-reviews/issues/53): you'll get a checklist as shown there to guide you, and you'll be encouraged to open issues on the submission repository

[2020-11-23 21:32] labarba commented on #94
@whedon assign @labarba as editor

[2020-11-23 21:32] whedon commented on #94
OK, the editor is @labarba

[2020-11-23 21:33] labarba commented on #94
@whedon assign @jhelvy as reviewer

[2020-11-23 21:33] whedon commented on #94
OK, @jhelvy is now a reviewer

[2020-11-23 21:34] labarba commented on #94
hi @jhelvy  👋 — thank you for agreeing to review this submission for JOSE. We'll be looking for a second reviewer, and then start the **REVIEW issue**, where all the action happens. Have a look at an [old example review](https://github.com/openjournals/jose-reviews/issues/53): you'll get a checklist as shown there to guide you, and you'll be encouraged to open issues on the submission repository (

[2020-11-23 22:37] whedon opened #96 "[PRE REVIEW]: An Open-Source Active Learning Curriculum for Data Science"
**Submitting author:** @zdelrosario (<a href="http://orcid.org/0000-0003-4676-1692">Zachary del Rosario</a>)
**Repository:** <a href="https://github.com/zdelrosario/data-science-curriculum" target ="_blank">https://github.com/zdelrosario/data-science-curriculum</a>
**Version:** v0.1
**Editor:** @ttimbers
**Reviewers:** @firasm

**Author instructions**

Thanks for submitting your paper to JOSE @zde

[2020-11-23 22:37] whedon commented on #96
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 22:37] whedon commented on #96
[code]

[2020-11-23 22:37] whedon commented on #96
PDF failed to compile for issue #96 with the following error:

 Can't find any papers to compile :-(

[2020-11-23 22:41] labarba commented on #96
hi @zdelrosario 👋  — it looks like you missed that you need to write a paper to describe your submission. See our documentation for [what your paper should contain](https://openjournals.readthedocs.io/en/jose/submitting.html#what-should-my-paper-contain).

[2020-11-23 22:43] whedon opened #97 "[PRE REVIEW]: censo2017: 2017 Chilean Census Easy Access Database"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/censo2017" target ="_blank">https://github.com/pachamaltese/censo2017</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @pachamaltese. **Currently, there is

[2020-11-23 22:43] whedon commented on #97
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 22:43] whedon commented on #97
[code]

[2020-11-23 22:43] whedon commented on #97
PDF failed to compile for issue #97 with the following error:

 Can't find any papers to compile :-(

[2020-11-23 22:49] zdelrosario commented on #96
@whedon generate pdf

@labarba thanks for the heads up! I'd written the paper to my development branch but forgot to merge that in. Trying again....

[2020-11-23 22:49] labarba commented on #97
hi @pachamaltese 👋  — it looks like you missed that you have to write a paper to go along with your submission. Regardless, this work seems out of scope for JOSE. See our documentation on [submission types](https://openjournals.readthedocs.io/en/jose/submitting.html#the-two-submission-types):

[2020-11-23 22:50] whedon commented on #96
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00096/jose.00096/10.21105.jose.00096.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00096/jose.00096/10.21105.jose.00096.pdf) :page_facing_up: :point_left:

[2020-11-23 22:54] zdelrosario commented on #96
Suggested reviewers (github usernames):

- mattforshaw
- lwjohnst86
- lebebr01

[2020-11-23 23:13] whedon opened #98 "[PRE REVIEW]: Importance and Capabilities of Modern Web Applications for Accessible Education: Demonstration of a Purpose-Built Application for Visualizing Geologic Data in 3D"
**Submitting author:** @jperryhouts (<a href="http://orcid.org/0000-0002-3652-6202">Jonathan Perry-Houts</a>)
**Repository:** <a href="https://github.com/jperryhouts/CRB-Explorer" target ="_blank">https://github.com/jperryhouts/CRB-Explorer</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @jperryhouts. **Currently,

[2020-11-23 23:13] whedon commented on #98
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 23:13] pachamaltese commented on #97
thanks @labarba
unintentionally, I broke something in the repo
I wonder what happened to "datos" pre-submission, that one is 100% educational

[2020-11-23 23:14] whedon commented on #98
[code]

[2020-11-23 23:14] whedon commented on #98
Failed to discover a valid open source license.

[2020-11-23 23:14] whedon commented on #98
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00098/jose.00098/10.21105.jose.00098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00098/jose.00098/10.21105.jose.00098.pdf) :page_facing_up: :point_left:

[2020-11-23 23:15] whedon commented on #98
[code]

[2020-11-23 23:16] pachamaltese commented on #97
@labarba are web subbmisions working?
for example, https://jose.theoj.org/papers/c909ff09584aa196e1ecf408a3ee8e87 was resubmitted as we didn't hear from you since june

[2020-11-23 23:22] labarba commented on #98
hi @jperryhouts 👋  — in your paper, we're missing some discussion of "usage and recent experience of use in teaching and learning situations." See our documentation on [what the paper should contain.](https://openjournals.readthedocs.io/en/jose/submitting.html#what-should-my-paper-contain)

[2020-11-23 23:26] labarba commented on #98
hmm... I'm looking at your repository now. Is all the code you are submitting this ~700 loc of JavaScript? https://github.com/jperryhouts/CRB-Explorer/blob/master/visualizer.js
It seems fairly minor for a journal paper. Can you justify how the scope of this work merits publication, by itself?

[2020-11-23 23:28] whedon opened #99 "[PRE REVIEW]: Datos: datasets translations to promote diversity, equity, and inclusion"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/cienciadedatos/datos" target ="_blank">https://github.com/cienciadedatos/datos</a>
**Version:** v0.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSE @pachamaltese. **Currently, there isn't

[2020-11-23 23:28] whedon commented on #99
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 23:28] whedon commented on #99
Failed to discover a `Statement of need` section in paper

[2020-11-23 23:28] whedon commented on #99
[code]

[2020-11-23 23:29] whedon commented on #99
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: :point_left:

[2020-11-23 23:29] whedon commented on #99
[code]

[2020-11-24 00:00] labarba commented on #95
hi @CosiMichele — we expect a section titled "Statement of Need" in the paper. See our [documentation](https://openjournals.readthedocs.io/en/jose/submitting.html#what-should-my-paper-contain).

@AstrobioMike has agreed to be the first reviewer. We'll be looking for a second reviewer, assign a handling editor, and then start the REVIEW issue, where all the action happens. Stay tuned!

[2020-11-24 00:02] labarba commented on #78
@whedon remove @gvdr as reviewer

[2020-11-24 00:02] whedon commented on #78
OK, @gvdr is no longer a reviewer

[2020-11-24 00:04] pachamaltese commented on #99
@whedon commands

[2020-11-24 00:04] whedon commented on #99
Here are some things you can ask me to do:

[code]

[2020-11-24 00:04] pachamaltese commented on #99
@whedon generate pdf

[2020-11-24 00:04] whedon commented on #99
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00099/jose.00099/10.21105.jose.00099.pdf) :page_facing_up: :point_left:

[2020-11-24 00:05] jperryhouts commented on #98
Hi @labarba. Thanks for taking the time to review our paper. Sorry I didn't catch that an example experience was necessary. Before I expand the paper, it's probably worth addressing the other point, as to whether this is fit for publication in JOSE at all.

Yes, one of the key takeaways\* from the paper is demonstrating the feasibility of creating customized interactive educational tools which wou

[2020-11-24 00:06] labarba commented on #78
hi @drvinceknight — this JOSE submission has suffered from a runaway reviewer. Could you help us out providing a second review? Perhaps you don't have to go so deep, as the first reviewer already completed the review and approved the submission. We just need a second pair of eyes!
Title: **Game Theory and Python: An educational tutorial to game theory and repeated games using Python**
Repo: https:

[2020-11-24 01:21] labarba commented on #97
I'm confused. That submission is from 11 days ago. Please be aware that we are under reduced operations since the pandemic hit, as all volunteers have increased work loads and personal obligations.

[2020-11-24 01:36] labarba commented on #98
What you're describing sounds like a proof of concept. A JOSE paper does not need to explain how to make a tool like you describe, but it does have to present a finished product (either learning module or technology for teaching) that has a clear educational use and can be adopted by others in their teaching.

[2020-11-24 01:40] pachamaltese commented on #97
I hope things are well there

[2020-11-24 13:45] labarba commented on #93
@whedon add @jwagemann as reviewer

[2020-11-24 13:45] whedon commented on #93
OK, @jwagemann is now a reviewer

[2020-11-24 13:47] labarba commented on #93
@whedon start review

[2020-11-24 13:47] whedon opened #100 "[REVIEW]: A narrative approach to building computational capacity for climate change impact assessment in professional masters students"
**Submitting author:** @ConorIA (<a href="http://orcid.org/0000-0003-2619-1207">Conor I. Anderson</a>)
**Repository:** <a href="https://gitlab.com/claut/man_ccia" target ="_blank">https://gitlab.com/claut/man_ccia</a>
**Version:** 21.12
**Editor:** @labarba
**Reviewers:** @jwagemann, @JeremyFyke
**Archive:** <a href="https://doi.org/10.5281/zenodo.5807576" target="_blank">10.5281/zenodo.5807576</a

[2020-11-24 13:48] whedon commented on #93
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/100.

[2020-11-24 13:48] #93 closed

[2020-11-24 13:48] whedon commented on #100
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ali-ramadhan, @jwagemann it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-11-24 13:51] labarba commented on #100
@whedon generate pdf

[2020-11-24 13:51] whedon commented on #100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: :point_left:

[2020-11-24 13:51] whedon commented on #100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00100/jose.00100/10.21105.jose.00100.pdf) :page_facing_up: :point_left:

[2020-11-24 13:53] labarba commented on #100
👋  @ali-ramadhan, @jwagemann — Thank you for agreeing to review for JOSE! This is where the action happens. You both have a review checklist to work through. Feel free to post any questions here. If you open new issues on the submission repository, please link to this issue here. Godspeed!

[Reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines)

[2020-11-24 13:59] labarba commented on #68
hi @lexnederbragt — Phew! It has been one hell of a year. I come back to give some energy to JOSE after being almost crushed by the work as JupyterCon General Chair. Pivoting to an online event was truly a heavy lift.

Looking back through this review thread, I see that you have made a very thorough review. I would be comfortable accepting this submission on the basis of your recommendation, since

[2020-11-24 13:59] labarba commented on #68
@whedon generate pdf

[2020-11-24 14:00] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00068/jose.00068/10.21105.jose.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00068/jose.00068/10.21105.jose.00068.pdf) :page_facing_up: :point_left:

[2020-11-24 14:17] drvinceknight commented on #78
Hi @labarba

Here are some suggestions (with context below):

1. `marcharper`
2. `daffidwilde`
3. `fil`
4. `matbesancon`

All of the above have knowledge of game theory and python.

**Disclaimer** There is a potential conflict of interest with the first 2:

- `marcharper` is a core maintainer of the Axelrod library (the library that is used in the educational resource described in the paper under

[2020-11-24 14:39] labarba commented on #78
LOL so I'm so overwhelmed and dense that i'm asking you to review your own paper. Obviously I didn't click through to the PDF and vaguely remembered that you worked on game theory. Why, yes, you do. 🤷

Thank you for the kindness in your reply, which avoided making me look like a dummy. Well done!

[2020-11-24 14:46] drvinceknight commented on #78
No problem, very busy times :) Hope you're well.

[2020-11-24 15:11] ConorIA commented on #93
Hi @labarba, you folks are fast. So glad that you've found two reviewers. Thanks! See you on #100!

[2020-11-24 22:18] labarba commented on #94
@whedon add @lwjohnst86 as reviewer

[2020-11-24 22:18] whedon commented on #94
OK, @lwjohnst86 is now a reviewer

[2020-11-24 22:18] labarba commented on #94
@whedon start review

[2020-11-24 22:18] whedon opened #101 "[REVIEW]: Hacking Health Covid-19: An Online Data Science Course-Project"
**Submitting author:** @warint (<a href="http://orcid.org/0000-0002-5921-3428">Thierry Warin</a>)
**Repository:** <a href="https://github.com/warint/covid19_article" target ="_blank">https://github.com/warint/covid19_article</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @jhelvy, @lwjohnst86
**Archive:** Pending

## Status

[![status](https://jose.theoj.org/papers/b6aa2d65ea0a67fff691f

[2020-11-24 22:18] whedon commented on #94
OK, I've started the review over in https://github.com/openjournals/jose-reviews/issues/101.

[2020-11-24 22:18] #94 closed

[2020-11-24 22:18] whedon commented on #101
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jhelvy, @lwjohnst86 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-11-24 22:18] whedon commented on #101
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/jose-papers/jose.00101/jose.00101/10.21105.jose.00101.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/jose-papers/blob/jose.00101/jose.00101/10.21105.jose.00101.pdf) :page_facing_up: :point_left:

[2020-11-24 22:19] labarba commented on #94
👋  @jhelvy, @lwjohnst86 — Thank you for agreeing to review for JOSE! This is where the action happens. You both have a review checklist to work through. Feel free to post any questions here. If you open new issues on the submission repository, please link to this issue here. Godspeed!

[Reviewer guidelines](http://jose.theoj.org/about#reviewer_guidelines)

[2020-11-24 23:25] labarba commented on #92
@marda-science has agreed to be the first reviewer for this submission—thank you!!

We'll be looking for a second reviewer, and then start the REVIEW issue, where all the action happens. Meanwhile, you could have a look at an [old example review](https://github.com/openjournals/jose-reviews/issues/53): you'll get a checklist as shown there to guide you in the review, and you'll be encouraged to op

[2020-11-25 21:17] TomDonoghue commented on #86
@labarba - thanks for getting back to us and the update. I understand there is a lot going on! Is there anything we can do to help move this paper along?

In terms of assigning a managing editor, my original editor suggestions were @juanklopper and/or @magsol (thanks for answering - but I don't want to pull you in from paternity leave, if avoidable!). The submission is fairly broad (in terms of co

[2020-11-30 19:30] lwjohnst86 commented on #101
Hi @labarba and @warint

I've submitted several issues on the submission repository. Here are my overall impressions:

- It isn't entirely clear what the needs are for the resource. A large number of groups globally have been doing activities around Covid-19, especially data science projects. What need is being filled here?
- The paper, combined with the linked to content, does not provide enough

[2020-12-01 01:34] jperryhouts commented on #98
I've been discussing this with my coauthor and it sounds like there's no obvious way to make this fit what JOSE is looking for. Just to be sure I'm understanding you correctly, it sounds like there are two issues here. One is that this paper doesn't describe an experience using the software for teaching, and the other is that this paper focuses on describing a type of software rather than focusing

[2020-12-01 01:57] labarba commented on #98
JOSE was founded in the likeness of JOSS, the Journal of Open Source Software. JOSS provides publication credit for research software, recognizing that more and more researchers spend a big chunk of their time writing specialist code, and this is not recognized in traditional publication venues. There's a bar to pass in JOSS, which leaves wrapper code, utility packages, and interfaces out of scope

[2020-12-01 02:18] jperryhouts commented on #98
I understand and respect those points --- just a bit disappointed. Sorry if I came across as confrontational about it. That was not my intent. I sincerely appreciate your time with this.

Have a good rest of your term!

[2020-12-01 02:25] #98 closed

[2020-12-01 02:38] labarba commented on #97
@pachamaltese — I still don't see a paper to go along with this submission. However, from inspecting the repository, it looks like this may be out of scope for JOSE. It looks like this project is providing access to a data base (census data) that otherwise is available on physical storage medium.

JOSE provides publication credit for substantial work developing software in support of the teaching

[2020-12-01 02:50] pachamaltese commented on #97
Hi Lorena. Yes, you are right. It's out of the scope in that case.

On Mon, Nov 30, 2020, 11:38 PM Lorena A. Barba <notifications@github.com>
wrote:

[2020-12-01 12:46] labarba commented on #97
@whedon reject

[2020-12-01 12:46] whedon commented on #97
Paper rejected.

[2020-12-01 12:46] #97 closed

[2020-12-01 13:48] whedon commented on #100
:wave: @jwagemann, please update us on how your review is going.

[2020-12-01 13:48] whedon commented on #100
:wave: @ali-ramadhan, please update us on how your review is going.

[2020-12-01 22:18] whedon commented on #101
:wave: @lwjohnst86, please update us on how your review is going.

[2020-12-01 22:18] whedon commented on #101
:wave: @jhelvy, please update us on how your review is going.

[2020-12-01 22:30] labarba commented on #101
Yikes. There's some experimentation going on with the bot, and an automatic reminder was set for 7 days after the review starts. I find this a bit pushy and will bring this up with the team. Carry on at your own pace!

[2020-12-01 22:32] labarba commented on #100
Yikes. There's some experimentation going on with the bot, and an automatic reminder was set for 7 days after the review starts. I find this a bit pushy and will bring it up with the team. Carry on at your own pace!

[2020-12-10 11:30] mbarzegary commented on #89
Hi all.
Thank you for the valuable feedback. I addressed the review comments.

[2020-12-10 20:55] RobinHankin commented on #91
Sorry to ask again, but could I check if there are any actions on me?

[2020-12-10 21:00] magsol commented on #89
@e-dub: how does the feedback look?

@jcapriot Any movement on your review?

[2020-12-10 22:37] jcapriot commented on #89
I'm moving on it now, again I'm very sorry for my delay in getting through this as my life has been in a constant flux recently.
Again, I will need the link to accept the invitation, as that seems to have expired for me. (Not the link to the repository) As I cannot edit the checklist on this page.

[2020-12-11 05:34] pvanheus commented on #79
@emckiernan I have submitted a much delayed [review](https://github.com/thegeneschool/metagenomics/issues/6). I must admit that reviewing this material was not easy, but working through your checklist and considering the material from the perspective of someone who might want to adopt it helped in the end. I'll also note that I opened two issues ([here](https://github.com/thegeneschool/metagenomic

[2020-12-11 22:32] magsol commented on #89
@jcapriot No worries; 2020 has been a barnburner for all of us in many different ways... to put it lightly.

Hmm; I'm relatively new as an editor so this is the first time I've seen this problem. From what I can tell, it looks like you need to be 1) logged in (clearly you are), and 2) accept the invite at this link: https://github.com/openjournals/joss-reviews/invitations .

If that still doesn't

[2020-12-11 22:40] jcapriot commented on #89
I keep getting this error when clicking the link.
<img width="1021" alt="Screen Shot 2020-12-11 at 2 39 49 PM" src="https://user-images.githubusercontent.com/16258927/101961556-cb907880-3bbe-11eb-85e6-e3916ad9c65e.png">

[2020-12-15 11:51] lexnederbragt commented on #68
Hi @labarba. yes, what a year... I will have another look, probably early next year, and let you know whether I am comfortable with accepting the manuscript. Hope that that is OK.

[2020-12-15 18:54] magsol commented on #89
Hi @openjournals/joss-eics:

We're running into a problem where one of the reviewers can't seem to modify the review checklist in this ticket. I see @jcapriot 's account listed as "Awaiting jcapriot's response" under the "Manage Access" page for `jose-reviews` repository, but [you can see from the above post](https://github.com/openjournals/jose-reviews/issues/89#issuecomment-743464450) that he's